.footer {
  display: flex;
  justify-content: center;
  background: $mainColorDarkBG;
  color: $mainColorWhite;

  &__features {
    padding: 80px 20px 35px;
  }

  @media (min-width: 768px) {
    &__features {
      padding: 120px 100px 100px;
    }
  }

  @media (min-width: 1280px) {
    &__features {
      padding: 120px 0 100px;
    }
  }
}

.footer-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  width: 100%;

  &__feature {
    grid-column: 1/5;
    padding-bottom: 60px;

    &:nth-child(4) {
      padding-bottom: 40px;
    }
  }

  &__privacy {
    grid-column: 4 span;
    justify-self: center;

    @include fontRale(14px, 200, 20px);
  }

  @media (min-width: 768px) {

    &__feature {
      grid-column: 2 span;
    }

    &__privacy {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 40px;
      padding-top: 40px;
    }
  }

  @media (min-width: 1280px) {
    & {
      width: 1170px;
    }

    &__feature {
      grid-column: 1 span;
    }

  }
}

.features {

  &__heading {
    @include fontFair(24px, 700, 30px);
    padding-bottom: 30px;
  }

  &__text {
    @include fontRale(16px, 400, 24px);
  }

  &__link {
    @include fontRale(16px, 400, 24px);
    color: $mainColorWhite;
    text-decoration: none;
  }

  &__schedule-date {
    display: grid;
    column-gap: 16px;
    grid-template-columns: 20px 1fr;
    @include fontRale(16px, 400, 24px);
  }

  &__schedule-time {
    font-weight: 400;
  }

  &__icons {
    display: flex;
    padding-top: 20px;

    &-facebook {
      background-image: url(../../src/images/facebook-icon.png);
      background-size: 80%;
      margin-right: 20px;
    }

    &-twitter {
      background-image: url(../../src/images/twitter-icon.png);
      background-size: 80%;
      margin-right: 20px;
    }

    &-telegram {
      background-image: url(../../src/images/telegram-icon.png);
      background-size: 80%;
      margin-right: 20px;
    }

    &-instagram {
      background-image: url(../../src/images/instagram-icon.png);
      background-size: 80%;
    }
  }
}

.icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
