.header {
  display: flex;
  justify-content: center;
  min-height: 568px;
  max-height: $viewportHeight;
  position: relative;
  background-color: #3f5252;

  &__picture {
    position: absolute;
    pointer-events: none;
    bottom: 0;
    right: -20px;
    width: 100vw;
    height: 268px;
    background-image: url(../../src/images/166x273px-Girl_from_Podolye_by_V.Tropinin320.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  &__menu-wrapper {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 160px 100px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
  }

  &__menu {
    display: flex;
    justify-content: center;
    position: fixed;
    height: $headerHeight;
    right: 0;
    left: 0;
    background-color: #3f5252;
    z-index: 100;
  }

  &__menu-brand {
    text-decoration: none;
    font-family: "Raleway", serif;
    font-size: 36px;
    color: white;
    height: 40px;
  }

  &__presentation {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 280px;
  }

  &__presentation-paragraph {
    font-family: "Raleway", serif;
    font-size: 16px;
    line-height: 24px;
    color: #f1f5f4;

    &:nth-child(1) {
      padding-top: 140px;
      padding-bottom: 20px;
    }

    &:nth-child(2) {
      width: 240px;
      padding-top: 30px;
    }
  }

  &__presentation-button {
    width: 270px;
    margin-top: 50px;
  }

  &__presentation-main {
    font-size: 48px;
    font-weight: 700;
    color: #f1f5f4;
  }

  &__presentation-span {
    display: none;
  }

  @media (min-width: 768px) {
    & {
      min-height: 768px;
    }

    &__menu-wrapper {
      padding: 0 40px;
    }

    &__presentation {
      width: 570px;
    }

    &__presentation-paragraph:nth-child(1) {
      padding-top: 180px;
      padding-bottom: 10px;
    }

    &__presentation-paragraph:nth-child(2) {
      padding-top: 40px;
    }

    &__presentation-button {
      margin-top: 80px;
    }

    &__presentation-main {
      width: 500px;
      font-size: 72px;
    }

    &__picture {
      right: -98px;
      height: 445px;
      background-image: url(../../src/images/399x445px-Girl_from_Podolye_by_V.Tropinin768.png);
    }

    &__presentation-wrapper > &__presentation-main {
      text-align: center;
    }
  }

  @media (min-width: 1280px) {
    & {
      min-height: 800px;
    }

    &__menu-wrapper {
      width: 1170px;
    }

    &__presentation {
      width: 1170px;
    }

    &__presentation-wrapper > &__presentation-main {
      text-align: left;
    }

    &__presentation-wrapper {
      padding-left: 100px;
    }

    &__presentation-span {
      display: inline-block;
      position: relative;
      margin-top: 110px;
      font-size: 14px;
      font-weight: 700;
      color: #f1f5f4;
      opacity: 0.7;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: 50%;
        right: 45%;
        height: 1px;
        width: 1070px;
        transform: translate(50%,0);
        color: white;
        background-color: white;
      }
    }
    &__picture {
      right: -55px;
      height: 753px;
      background-image: url(../../src/images/673x753px-Girl_from_Podolye_by_V.Tropinin1280.png);
      z-index: 1;
    }
  }
}
