.main {
  background-color: $mainColorWhite;

  &__exhibition {
    padding: 60px 20px 100px;
  }

  &__events {
    padding: 0 20px 90px;

    &-heading {
      @include fontFair(36px, 700, 45px);
    }

    &-block {
      padding-top: 60px;
    }

    &-calendar {
      text-align: center;
      position: relative;
      padding-top: 60px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 130px;
        background-color: $mainColorBlackFont;
        bottom: -10px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }

  &__plans {
    padding: 80px 20px;
  }

  &__news {
    padding: 80px 20px;
  }

  &__subscribe {
    padding: 80px 20px;
  }

  @media (min-width: 768px) {

    &__exhibition {
      padding: 115px 100px 100px;
    }

    &__events {
      padding: 15px 100px 100px;

      &-heading {
        text-align: center;
        @include fontFair(48px, 700, 58px);
      }
    }

    &__plans {
      padding: 120px 100px 170px;
    }

    &__news {
      padding: 115px 100px;
    }

    &__subscribe {
      padding: 110px 100px;
    }
  }
}
