.main {
  background-color: $mainColorWhite;

  &__exhibition {
    padding: 60px 20px 100px;
  }

  &__events {
    padding: 0 20px 90px;

    &-heading {
      font-size: 36px;
      font-weight: 700;
      line-height: 45px;
    }

    &-block {
      padding-top: 60px;
    }

    &-calendar {
      text-align: center;
      position: relative;
      padding-top: 60px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 130px;
        background-color: $mainColorBlackFont;
        bottom: -10px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }

  &__plans {
    padding: 80px 20px;
  }

  &__news {
    padding: 80px 20px;
  }

  @media (min-width: 768px) {
    &__exhibition {
      padding: 115px 100px 100px;
    }
  }
}
