.navbar {
  position: relative;
  justify-self: end;
  height: 25px;

  &__toggler {
    -webkit-user-select: none;
    user-select: none;
  }

  &__link {
    text-decoration: none;
    color: #f1f5f4;

    transition: color 0.3s ease;
  }

  &__link:hover {
    color: red;
  }

  &__input {
    width: 27px;
    height: 23px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  &__span {
    display: block;
    width: 27px;
    height: 3px;
    margin-bottom: 7px;
    background-color: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1),
      background-color 0.5s cubic-bezier(0.77,0.2,0.05,1),
      opacity 0.55s ease;
  }

  &__span:first-child {
    transform-origin: 0% 0%;
  }

  &__span:nth-child(2) {
    transform-origin: 0% 100%;
  }

  &__input:checked ~ &__span {
    opacity: 1;
    transform: rotate(45deg) translate(1px, 0);
    background: white;
  }

  &__input:checked ~ &__span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  &__input:checked ~ &__span:nth-last-child(2) {
    transform: rotate(-45deg) translate(1px, -3px);
  }

  &__list {
    position: fixed;
    top: $headerHeight;
    left: 0;
    right: 0;
    padding: 60px 20px;
    height: 100vh;
    background-color: #3f5252;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 1s cubic-bezier(0.77,0.2,0.05,1);
  }

  &__item {
    padding-top: 40px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 24px;
    &:first-child {
      padding-top: 0;
    }
  }

  &__input:checked ~ &__list {
    transform: translate(0, 0);
  }

  &__button-buy {
    margin-top: 80px;
  }

  &__button-member {
    margin-top: 20px;
  }
}
