.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin: 0;
    padding: 0;

    list-style-type: none;

    @include on-tablet {
      gap: 30px;
    }

    @include on-tablet {
      gap: 60px;
    }
  }

  &__link  {
    display: block;
    width: fit-content;
    height: 30px;
    box-sizing: border-box;

    text-decoration: none;

    font-family: $font-playfair;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: $white-main;

    @include hover-scale(1.02);

    &:hover {
      border-bottom: 1px solid $white-main;
    }

    @include on-tablet {
      height: 58px;
      font-size: 48px;
      line-height: 57.6px;
    }
  }
}
