.button {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Raleway", serif;
  font-size: 14px;
  color: #f1f5f4;
  cursor: pointer;

  &--buy {
    background-color: #cd4d31;
  }

  &--member {
    border: 1px solid #f1f5f4;
  }
}
