.section__digest {
  margin-bottom: $section-mb-xs;
}

.digest {
  &__title {
    margin-bottom: 2rem;
  }

  &__discription {
    margin-bottom: 5rem;
  }

  &__input {
    margin-bottom: 3rem;
  }
}
