.section__events {
  margin-bottom: $section-mb-x;

  @include media-tablet-l {
    margin-bottom: $section-mb-m;
  }

  &-title {
    margin-bottom: 6rem;
    grid-column: span 2;

    @include media-tablet {
      grid-column: span 4;
    }

    @include media-tablet-l {
      margin-bottom: $section-mb-xs;
    }
  }

  &--wrapper {
    display: grid;

    @include page-grid(2, $glutter-tablet);

    @include media-tablet {
      @include page-grid(6, $glutter-tablet);

      grid-auto-flow: row dense;
    }
  }
}

.events {
  &__list {
    margin-bottom: 3rem;
    grid-column: span 2;

    @include media-tablet {
      grid-column: span 6;
    }

    @include media-tablet-l {
      margin-bottom: 0;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 6rem;

    @include media-tablet-l {
      margin-bottom: 7rem;
    }
  }

  &__link {
    grid-column: span 2;
    align-self: flex-start;
  }
}

.event {
  display: grid;

  @include page-grid(2, $glutter-tablet);

  @include media-tablet {
    grid-column: span 6;

    @include page-grid(6, $glutter-tablet);
  }

  &__picture {
    grid-column: span 2;

    aspect-ratio: 100/128;

    @include media-tablet {
      grid-column: 1/4;
    }

    @include media-tablet-l {
      margin-bottom: 0;
    }
  }

  &__content {
    grid-column: span 2;

    @include media-tablet {
      grid-column: 4/-1;
    }
  }
}
