.section__exhibitions {
  margin-bottom: $section-mb-xl;

  &--wrapper {
    display: grid;

    @include page-grid(2, $glutter-tablet);

    @include media-tablet {
      @include page-grid(6, $glutter-tablet);

      grid-auto-flow: row dense;
    }
  }

  &-title {
    margin-bottom: 6rem;
    grid-column: span 2;

    @include media-tablet {
      grid-column: span 4;
    }
  }
}

.exhibition {
  display: flex;
  flex-direction: column;

  &__picture {
    aspect-ratio: 100/127.15;
  }

  &__image {
    &--scale {
      object-position: -15px 10px;
      transform: scale(1.1);
    }
  }
}

.exhibitions {
  &__list {
    grid-column: span 2;
    display: grid;
    margin-bottom: 3rem;

    @include page-grid(2, $glutter-tablet);

    @include media-tablet {
      grid-column: span 6;

      @include page-grid(6, $glutter-tablet);
    }
  }

  &__item {
    grid-column: span 2;
    &:not(:last-child) {
      margin-bottom: 6rem;

      @include media-tablet {
        margin-bottom: 0;
      }
    }

    @include media-tablet {
      grid-column: span 3;
    }
  }

  &__link {
    grid-column: span 2;
    align-self: flex-start;
  }
}
