.section__exhibitions {
  margin-bottom: $section-mb-xl;
  &-title {
    margin-bottom: 6rem;
  }
}

.exhibition {
  &__image {
    &--scale {
      object-position: 10% 0%;
      transform: scale(1.1);
    }
  }
}
