.footer {
  // height: 100vh;
  background-color: $bgc-gray;
  color: $color-white;
  padding-block: 3.4rem 3rem;

  .section__wrapper {
    display: grid;
    row-gap: 5rem;

    @include page-grid(1);
  }

  &__content {
    &-text {
      @include flex-justify-items(stretch, normal, column);
    }
  }
  &__title,
  &__link {
    color: $color-white;
  }

  &__content-title {
    color: $color-white;
    margin-bottom: 10px;
  }

  &__links {
    @include flex-justify-items(stretch, normal, column);

    column-gap: 0.5rem;
  }

  &__terms {
    @include flex-justify-items(center, normal);
    .footer__term {
      &:first-child {
        margin-right: 2.2rem;
      }
    }

    & :nth-child(2) {
      margin-right: 2.4rem;
    }
  }
}
