.header {
  min-height: 100vh;
  background-color: $bgc-gray;
  color: $color-white;
  margin-bottom: $section-mb-x;

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  // TOP
  &__top {
    padding-block: 2rem;
    margin-bottom: 5rem;

    @include flex-justify-items(center, space-between);

    @include media-tablet {
      margin-bottom: 10rem;
    }
  }

  &__logo {
    display: block;
    width: 12.4rem;
    height: 4rem;
  }

  &__icons,
  &__switch-language {
    @include flex-justify-items(center);
  }

  &__icons {
    column-gap: 3rem;
  }

  &__switch-language {
    column-gap: 0.5rem;
    opacity: 0;
  }

  &__icon,
  &__switch-language {
    color: $color-white;
  }

  // BOTTOM
  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
  }

  &__content-container {
    display: grid;

    @include page-grid(2, $glutter-tablet);

    @include media-tablet {
      @include page-grid(6, $glutter-tablet);
    }
  }

  &__date {
    margin-bottom: 1rem;

    @include media-tablet {
      grid-column: span 4;
    }
  }

  &__date,
  &__title,
  &__description,
  &__button {
    grid-column: span 2;

    color: $color-white;
  }

  &__title {
    margin-bottom: 3rem;

    @include media-tablet {
      grid-column: span 5;
    }
  }

  &__description {
    margin-bottom: 4rem;

    @include media-tablet {
      grid-column: span 4;
    }
  }

  &__button {
    margin-bottom: 4rem;

    @include media-tablet {
      grid-column: span 3;
    }
  }

  &__image {
    width: 24.5rem;
    margin: auto auto 0;
    object-fit: contain;

    aspect-ratio: 1/1.12;

    @include media-tablet {
      grid-column: span 6;
    }
  }
}
