.header {
  background-color: $bgc-gray;
  color: $color-white;
  margin-bottom: $section-mb-x;
  position: relative;

  @include media-tablet-l {
    margin-bottom: $section-mb-m;
  }

  @include media-decstop-xl {
    margin-bottom: $section-mb-l;
  }

  // TOP
  &__top {
    padding-block: 2rem;
    margin-bottom: 5rem;

    @include flex-justify-items(center, space-between);

    @include media-tablet-l {
      margin-bottom: $section-mb-m;
    }

    @include media-decstop-xl {
      padding-block: 3rem;
      margin-bottom: $section-mb-x;
    }
  }

  &__logo {
    display: block;
    width: 12.4rem;
    height: 4rem;
  }

  &__icons,
  &__switch-language {
    @include flex-justify-items(center);
  }

  &__icons {
    column-gap: 3rem;

    @include media-tablet {
      column-gap: 4.2rem;
    }
  }

  &__switch-language {
    column-gap: 0.5rem;
    display: none;

    @include media-tablet {
      display: flex;
    }
  }

  &__icon,
  &__switch-language {
    color: $color-white;
    &:hover {
      color: $color-main;
      > .icon {
        background-color: $color-main;
      }
    }
  }

  // BOTTOM
  &__content-container,
  &__bottom {
    display: grid;

    @include page-grid(2, $glutter-tablet);

    @include media-tablet {
      @include page-grid(6, $glutter-tablet);
    }
  }

  &__bottom {
    @include media-decstop-xl {
      @include page-grid(12, $glutter-desctop);

      padding-bottom: 5rem;
    }
  }

  &__button {
    max-width: 27rem;
  }

  &__content-container {
    grid-column: span 2;

    @include media-tablet {
      grid-column: span 6;
      padding-bottom: 520px;
    }

    @include media-decstop-xl {
      grid-column: span 6;
      padding-bottom: 0;
    }
  }

  &__date {
    margin-bottom: 1rem;

    @include media-tablet {
      grid-column: span 4;
    }
  }

  &__date,
  &__title,
  &__description--container,
  &__button {
    grid-column: span 2;
    color: $color-white;
  }

  &__title {
    margin-bottom: 3rem;

    @include media-tablet {
      grid-column: span 5;
      margin-bottom: 2rem;
    }

    @include media-decstop-xl {
      grid-column: span 6;
      margin-bottom: 3rem;
    }
  }

  &__description--container {
    margin-bottom: 5rem;

    @include media-tablet {
      grid-column: 1/4;
      margin-bottom: 7rem;
    }

    @include media-decstop-xl {
      grid-column: span 6;
      margin-bottom: 13.5rem;
    }
  }

  &__description {
    margin-bottom: 4rem;

    @include media-tablet {
      margin-bottom: 5rem;

      > br {
        display: none;
      }
    }

    @include media-decstop-xl {
      margin-bottom: $section-mb-xs;
    }
  }

  &__picture {
    grid-column: span 2;
    padding-inline: 1.75rem;

    @include media-tablet {
      position: absolute;
      max-width: 45rem;
      bottom: -73px;
      right: 50%;
      transform: translateX(50%);
      padding-inline: 0.35rem;
      clip-path: inset(0 0 73px 0);
    }

    @include media-decstop-xl {
      max-width: 62.5rem;
      position: absolute;
      right: 0;
      transform: translateX(0);
      bottom: -105px;
      clip-path: inset(0 0 105px 0);
    }
  }

  &__date-desctop {
    color: $color-white;
    opacity: 0.7;
    text-wrap: nowrap;

    &--wrapper {
      display: none;

      grid-column: span 6;

      @include media-decstop-xl {
        @include flex-justify-items(center, normal);

        column-gap: 2rem;
      }
    }

    &--line {
      width: calc(100vw - 710px);
      height: 0.1rem;
      background-color: $color-white;
      opacity: 0.3;
    }
  }
}
