.header {
  background-color: $bgc-gray;
  color: $color-white;
  margin-bottom: $section-mb-x;

  @include media-tablet-l {
    margin-bottom: $section-mb-m;
  }

  // TOP
  &__top {
    padding-block: 2rem;
    margin-bottom: 5rem;

    @include flex-justify-items(center, space-between);

    @include media-tablet-l {
      margin-bottom: $section-mb-m;
    }
  }

  &__logo {
    display: block;
    width: 12.4rem;
    height: 4rem;
  }

  &__icons,
  &__switch-language {
    @include flex-justify-items(center);
  }

  &__icons {
    column-gap: 3rem;

    @include media-tablet {
      column-gap: 4.2rem;
    }
  }

  &__switch-language {
    column-gap: 0.5rem;
    display: none;

    @include media-tablet {
      display: flex;
    }
  }

  &__icon,
  &__switch-language {
    color: $color-white;
    &:hover {
      color: $color-main;
      > .icon {
        background-color: $color-main;
      }
    }
  }

  // BOTTOM
  &__content-container,
  &__bottom {
    display: grid;

    @include page-grid(2, $glutter-tablet);

    @include media-tablet {
      @include page-grid(6, $glutter-tablet);
    }
  }

  &__content-container {
    grid-column: span 2;

    @include media-tablet {
      grid-column: span 6;
    }
  }

  &__date {
    margin-bottom: 1rem;

    @include media-tablet {
      grid-column: span 4;
    }
  }

  &__date,
  &__title,
  &__description--container,
  &__button {
    grid-column: span 2;

    color: $color-white;
  }

  &__title {
    margin-bottom: 3rem;

    @include media-tablet {
      grid-column: span 5;
      margin-bottom: 2rem;
    }
  }

  &__description--container {
    margin-bottom: 5rem;

    @include media-tablet {
      grid-column: 1/4;
      margin-bottom: 7rem;
    }
  }

  &__description {
    margin-bottom: 4rem;

    @include media-tablet {
      margin-bottom: 5rem;

      > br {
        display: none;
      }
    }
  }

  &__picture {
    grid-column: span 2;
    padding-inline: 1.75rem;

    @include media-tablet {
      grid-column: 2/6;
      padding-inline: 0.35rem;
    }
  }

  &__image {
    object-fit: fill;
    aspect-ratio: 100/107;
  }
}
