.menu {
  overflow: auto;
  position: fixed;
  left: -100%;
  width: 100%;
  z-index: 999;
  top: 0;
  height: 100vh;
  background-color: $bgc-gray;
  color: $color-white;
  pointer-events: none;
  transition: ease-in-out $transition-time;

  @include media-tablet {
    background-image: url('../public/images/menu/tablet.png');
    background-repeat: no-repeat;
    min-height: 1092px;
    background-position: bottom;
  }

  @include media-decstop-xl {
    background-image: url('../public/images/menu/decstop.png');
    min-height: 800px;
    background-position: right 103px;
  }

  // TOP
  &__top {
    padding-block: 2rem 3rem;

    @include flex-justify-items(center, space-between);

    @include media-tablet {
      margin-bottom: 2rem;
    }

    @include media-decstop-xl {
      margin-bottom: 1rem;
    }
  }

  &__logo {
    display: block;
    width: 12.7rem;
    height: 4rem;
  }

  &__icons,
  &__switch-language {
    @include flex-justify-items(center);
  }

  &__icons {
    column-gap: 3rem;

    @include media-tablet {
      column-gap: 4.4rem;
    }
  }

  &__icon,
  &__switch-language,
  &__link {
    color: $color-white;
  }

  &__switch-language {
    column-gap: 0.5rem;

    @include font(1.6rem, 2.4rem, 400);
    @extend %font-raleway;

    &:hover {
      color: $color-main;
      > .icon {
        background-color: $color-main;
      }
    }
  }

  &__icon-cross {
    width: 2.2rem;
    height: 2.2rem;

    @include media-tablet {
      order: -1;
    }
  }

  &:target {
    left: 0;
    pointer-events: all;
  }

  &__link:hover {
    color: $color-main;
  }

  &__info {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    @include media-tablet {
      flex-direction: row;
      column-gap: 12.3rem;
      margin-bottom: 5rem;

      @include media-decstop-xl {
        column-gap: 8.3rem;
        margin-bottom: 7rem;
      }
    }

    &-content {
      font-weight: 600;
    }
  }

  &__hr {
    height: 0.1rem;
    background-color: $color-white;
    width: 100%;

    @include media-decstop-xl {
      width: calc(100vw - 710px);
    }
  }

  &__button {
    @include media-tablet {
      max-width: 33rem;
    }

    @include media-decstop-xl {
      max-width: 27rem;
    }
  }
}

// NAV

.nav {
  margin-bottom: 4rem;

  @include media-tablet {
    margin-bottom: 5rem;
  }

  @include media-tablet {
    margin-bottom: 6rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-bottom: 4rem;

    @include media-tablet {
      row-gap: 3rem;
      margin-bottom: 5rem;
    }

    @include media-decstop-xl {
      row-gap: 6rem;
      margin-bottom: 6rem;
    }
  }

  &__link {
    position: relative;
    color: $color-white;

    @extend %font-playfar;
    @include font(2rem, 3rem, 700);

    &:hover {
      &::after {
        @include link-line(0.1rem, $color-white);
      }
    }

    @include media-tablet {
      @include font(4.8rem, 5.76rem, 700);
    }
  }

  &__item {
    transition: all $transition-time ease-in-out;

    @include font(2.2rem, 2.2rem, 700, 0.2rem);
  }
}
