.section__news {
  margin-bottom: $section-mb-xl;
  &-title {
    margin-bottom: 6rem;
  }
}

.news {
  &__list {
    margin-bottom: 3rem;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }
  &__picture {
    height: 280px;
  }
  &__imag {
    object-fit: cover;
  }
  &__picture,
  &__title {
    margin-bottom: 2rem;
  }
}
