.section__news {
  margin-bottom: $section-mb-xl;
  &-title {
    margin-bottom: 6rem;

    @include media-tablet {
      grid-column: span 4;
    }
  }

  &--wrapper {
    display: grid;

    @include page-grid(2, $glutter-tablet);

    @include media-tablet {
      @include page-grid(6, $glutter-tablet);

      grid-auto-flow: row dense;
    }
  }
}

.news {
  &__list {
    margin-bottom: 3rem;
    grid-column: span 2;

    @include media-tablet {
      grid-column: span 6;
      display: grid;

      @include page-grid(6, $glutter-tablet);
    }
  }
  &__item {
    @include media-tablet {
      grid-column: span 3;
    }
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }
  &__picture {
    overflow: hidden;
    aspect-ratio: 1/1;
  }
  &__image {
    &--scale {
      object-fit: contain;
      transform: scale(1.3);
    }
  }
  &__picture,
  &__title {
    margin-bottom: 2rem;
  }

  &__link {
    grid-column: span 2;
    align-self: start;
  }
}
