.section__visit {
  background-color: $bgc-gray;
  margin-bottom: $section-mb-x;
  padding-block: 5rem;
  color: $color-white;
}

.visit {
  &__title {
    margin-bottom: 2rem;
    color: $color-white;
  }

  &__description {
    margin-bottom: 4rem;
  }
}
