.burger-menu {
  opacity: 0;
  position: absolute;
  left: 57px;
  top: 90px;

  width: calc(100% - 57px);
  height: 100%;

  background: $main-background-color url("../images/Boy_with_paints.png")
    no-repeat right bottom;
}
