.burger-menu {
  position: absolute;
  left: 56px;
  top: 90px;

  width: calc(100% - 56px);
  height: calc(100% - 90px);

  background: $main-background-color url("../images/Boy_with_paints.png")
    no-repeat right bottom;

  transition: all 1s;
  visibility: hidden;
  opacity: 0;

  &__schedule {
    display: flex;

    margin-bottom: 80px;
  }

  &__date {
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    color: $primary-color;

    &:first-child {
      margin-right: 30px;
    }
  }

  &__time {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $primary-color;
  }

  &__links {
    display: flex;
    flex-direction: column;

    width: 570px;
    margin-bottom: 60px;

    border-bottom: 1px solid rgba(241, 245, 244, 0.3);
  }

  &__link {
    margin-bottom: 60px;

    font-family: "Playfair Display", serif;
    font-size: 48px;
    line-height: 120%;
  }

  &__btn-buy {
    margin-right: 30px;

    @include btn-orange;
  }

  &__btn-member {
    display: inline-block;

    width: 270px;
    height: 60px;

    text-align: center;
    font-size: 16px;
    line-height: 60px;

    border: 1px solid $primary-color;
  }
}
