.burger-menu {
  position: absolute;
  left: 56px;
  top: 90px;

  width: calc(100% - 56px);
  height: calc(100% - 90px);

  background: $background-c url("../images/Boy_with_paints.png") no-repeat right
    bottom;

  transition: all 1s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;

  &--show {
    visibility: visible;
    opacity: 1;
  }

  &__schedule {
    display: flex;

    margin-bottom: 80px;
  }

  &__date {
    &:first-child {
      margin-right: 30px;
    }
  }

  &__date--text-small {
    @include text-small;
  }

  &__time--text-large {
    @include text-large($white-c);
  }

  &__links {
    display: flex;
    flex-direction: column;

    width: 570px;
    margin-bottom: 60px;

    border-bottom: 1px solid rgba(241, 245, 244, 0.3);
  }

  &__link {
    margin-bottom: 60px;

    &--heading-medium {
      @include heading-medium($white-c);
    }
  }

  &__btn {
    &:first-child {
      margin-right: 26px;
    }

    &--btn-orange {
      @include btn-orange(1px solid $white-c, $background-c);
    }
  }
}
