.digest {
  background-color: $orange-c;

  &__container {
    @include container;
  }

  &__section {
    display: flex;
    align-items: flex-end;

    padding: 160px 0;

    @media screen and (max-width: 900px) {
      align-items: flex-start;
      flex-direction: column;

      padding: 110px;
    }
  }

  &__article {
    margin-right: 40px;
  }

  &__article-heading {
    max-width: 670px;

    margin-bottom: 40px;

    &--heading-medium {
      @include heading-medium($white-c);
    }
  }

  &__article-paragraph {
    max-width: 570px;

    &--text-large {
      @include text-large($white-c);
    }

    @media screen and (max-width: 900px) {
      margin-bottom: 65px;
    }
  }

  &__placeholder {
    width: 300px;

    background-color: $orange-c;
    border: none;
    border-bottom: 1px solid $white-c;

    &--text-large {
      @include text-large($white-c);
    }
  }
}
