.events {
  &__section-heading {
    margin-bottom: 63px;
  }

  &__section-heading--size_b {
    font-family: "Playfair Display", serif;
    font-size: 48px;
    line-height: 120%;
    color: #1c1b29;
  }

  &__article {
    display: flex;
  }
}
