.event {
  position: relative;

  color: $c-black;

  &__date {
    @include style-2;

    margin-bottom: 10px;

    color: $c-black;
  }

  &__time {
    @include style-3;

    text-align: right;
    color: $c-orange;
  }

  &__type {
    @include overline;

    margin-bottom: 10px;
  }

  &__title {
    @include h2;

    margin-bottom: 8px;
  }

  &__description {
    @include main-text;

    margin-bottom: 60px;

    @include onTablets {
      margin-bottom: 30px;
    }
  }

  &__img {
    position: absolute;
    top: -90px;

    @include onTablets {
      display: none;
    }
  }
}
