.exhibitions {
  &__background {
    @include container-large;

    padding-top: 115px;
    margin-bottom: 260px;

    background-image: url("../images/Angel.png"),
      url("../images/Art_20-21.png"),
      url("../images/Cossack_with_a_bandura.png");
    background-position: top left,
      center right,
      calc(0% + 41px) calc(100% - 43px);
    background-repeat: no-repeat;

    @media screen and (max-width: 900px) {
      padding-top: 0;
      margin-bottom: 127px;

      background-size: 40%, 40%, 40%;
      background-position: top left,
        center right,
        calc(0% + 23px) calc(100% - 100px);
    }
  }

  &__container {
    @include container;
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__section-heading {
    margin-right: 80px;
    margin-bottom: 100px;

    &--heading-medium {
      @include heading-medium;
    }

    @media screen and (max-width: 900px) {
      margin-bottom: 55px;
    }

    @media screen and (max-width: 780px) {
      margin-right: 0;
    }
  }

  &__date-number {
    margin-bottom: 20px;
    margin-left: 80px;

    &--heading-medium {
      @include heading-medium($orange-c);
    }

    @media screen and (max-width: 780px) {
      margin-left: 0;
    }
  }

  &__article {
    margin-bottom: 225px;
    margin-left: 400px;

    width: 380px;

    &:nth-child(2n) {
      margin-bottom: 308px;
      margin-left: 0;
      margin-right: 400px;

      @media screen and (max-width: 900px) {
        margin-bottom: 140px;
      }

      @media screen and (max-width: 780px) {
        margin-right: 200px;
      }
    }

    @media screen and (max-width: 900px) {
      margin-bottom: 160px;
    }

    @media screen and (max-width: 780px) {
      margin-left: 300px;
    }
  }

  &__article-time {
    margin-bottom: 10px;

    &--text-large {
      @include text-large($orange-c);
    }
  }

  &__article-heading {
    margin-bottom: 20px;

    &--heading-small {
      @include heading-small;
    }
  }

  &__article-paragraph {
    margin-bottom: 50px;

    &--text-large {
      @include text-large($gray-c);
    }
  }

  &__btn {
    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  &__continue {
    display: flex;
    align-self: flex-end;

    margin-right: 65px;

    @media screen and (max-width: 900px) {
      align-self: center;
      margin-right: 0;
    }
  }

  &__continue-text {
    margin-right: 20px;

    &--text-large {
      @include text-large($black-c, 100%);
    }
  }

  &__continue-line {
    width: 70px;
    height: 1px;

    color: $black-c;
  }
}
