.exhibit {
  position: relative;

  &__img {
    position: absolute;

    &--1 {
      left: 0;
      top: -244px;
    }

    &--2 {
      right: 0;
      top: -108px;
    }

    &--3 {
      left: 0;
      top: -108px;
    }
  }

  &__date {
    @include h1;
    
    margin-bottom: $mb-20;

    color: $c-orange;

    &--not-expire {
      @include main-text;
      margin-bottom: $mb-10;
    }
  }

  &__title {
    @include h2;

    margin-bottom: $mb-20;

    color: $c-black;
  }

  &__description {
    @include main-text;

    margin-bottom: $mb-50;
  }
}
