.exhibitions {
  background-image: url("../images/Angel.png"),
    url("../images/Art_20-21.png"),
    url("../images/Cossack_with_a_bandura.png");
  background-position: top left,
    center right,
    calc(0% + 41px) calc(100% - 43px);
  background-repeat: no-repeat;

  &__container {
    padding-top: 115px;
  }

  &__section--center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__section-heading {
    margin-bottom: 45px;

    transform: translateX(-10%);
  }

  &__section-heading--size_b {
    @include text-h2;
  }

  &__date-number {
    margin-bottom: 20px;
    transform: translateX(10%);
  }

  &__date-number--color_orange {
    @include text-h2($orange-color);
  }

  &__article--width {
    width: 380px;
  }

  &__article-right {
    margin-bottom: 225px;
    transform: translateX(50%);
  }

  &__article-left {
    margin-bottom: 308px;
    transform: translateX(-50%);
  }

  &__article-time {
    margin-bottom: 10px;
  }

  &__article-time--color_orange {
    @include text-size_b($orange-color);
  }

  &__article-heading {
    margin-bottom: 20px;
  }

  &__article-heading--size_m {
    @include text-h3;
  }

  &__article-paragraph {
    margin-bottom: 50px;
  }

  &__article-paragraph--size {
    @include text-size_b($tertiary-color);
  }

  &__article-btn--color_orange {
    @include btn-orange;
  }

  &__archive {
    display: flex;

    transform: translateX(230%);
  }

  &__archive-text {
    margin-right: 20px;
  }

  &__archive-text--size {
    @include text-size_b($secondary-color, 100%);
  }

  &__archive-line {
    width: 70px;
    height: 1px;

    color: $secondary-color;
  }
}
