.exhibitions {
  &__background {
    @include container-large;

    padding-top: 115px;
    margin-bottom: 260px;

    background-image: url("../images/Angel.png"),
      url("../images/Art_20-21.png"),
      url("../images/Cossack_with_a_bandura.png");
    background-position: top left,
      center right,
      calc(0% + 41px) calc(100% - 43px);
    background-repeat: no-repeat;

    @media screen and (max-width: 900px) {
      padding-top: 0;
      margin-bottom: 127px;

      background-size: 40%, 40%, 40%;
      background-position: top left,
        center right,
        calc(0% + 23px) calc(100% - 100px);
    }

    @media screen and (max-width: 600px) {
      background-image: url("../images/Angel_small.png"),
        url("../images/Art_20-21_small.png"),
        url("../images/Cossack_with_a_bandura_small.png");
      background-position: 100% 25%,
        0 60%,
        100% 97%;
      background-size: auto, auto 20%, auto;
    }

    @media screen and (max-width: 600px) {
      background-image: url("../images/Angel_small.png"),
        url("../images/Art_20-21_small.png"),
        url("../images/Cossack_with_a_bandura_small.png");
      background-position: 100% 20%,
        0 63%,
        100% 90%;
      background-size: auto, auto 20%, auto;
    }
  }

  &__container {
    @include container;
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 600px) {
      align-items: flex-start;
    }
  }

  &__section-heading {
    margin-right: 80px;
    margin-bottom: 100px;

    &--heading-medium {
      @include heading-medium;

      @media screen and (max-width: 725px) {
        font-size: 36px;
        line-height: 45px;
      }
    }

    @media screen and (max-width: 900px) {
      margin-bottom: 55px;
    }

    @media screen and (max-width: 780px) {
      margin-right: 0;
    }
  }

  &__date-number {
    margin-bottom: 20px;
    margin-left: 80px;

    &--heading-medium {
      @include heading-medium($orange-c);

      @media screen and (max-width: 725px) {
        font-size: 24px;
        line-height: 30px;
      }
    }

    @media screen and (max-width: 780px) {
      margin-left: 0;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;

    margin-bottom: 225px;
    margin-left: 400px;

    max-width: 380px;

    &:nth-child(2n) {
      margin-bottom: 308px;
      margin-left: 0;
      margin-right: 400px;

      @media screen and (max-width: 900px) {
        margin-bottom: 140px;
      }

      @media screen and (max-width: 780px) {
        margin-right: 200px;
        margin-bottom: 100px;
      }

      @media screen and (max-width: 600px) {
        align-items: flex-end;

        margin-right: 0;
        margin-bottom: 112px;
      }
    }

    @media screen and (max-width: 900px) {
      margin-bottom: 160px;
    }

    @media screen and (max-width: 780px) {
      margin-left: 300px;
      margin-bottom: 100px;

      max-width: 270px;
    }

    @media screen and (max-width: 600px) {
      margin-left: 0;

      width: 100%;
      max-width: 100%;
    }
  }

  &__article-time {
    margin-bottom: 10px;

    &--text-large {
      @include text-large($orange-c);
    }

    &:nth-child(1) {
      @media screen and (max-width: 600px) {
        align-self: flex-start;
      }
    }
  }

  &__article-heading {
    margin-bottom: 20px;

    &--heading-small {
      @include heading-small;
    }

    &:nth-child(2) {
      @media screen and (max-width: 600px) {
        align-self: flex-start;
      }
    }
  }

  &__article-paragraph {
    margin-bottom: 50px;

    &--text-large {
      @include text-large($gray-c);
    }

    @media screen and (max-width: 900px) {
      margin-bottom: 0;
    }

    @media screen and (max-width: 600px) {
      max-width: 300px;
    }

    @media screen and (max-width: 460px) {
      max-width: 130px;
    }
  }

  &__btn {
    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  &__continue {
    display: flex;
    align-self: flex-end;

    margin-right: 65px;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      align-self: center;

      margin-right: 0;
    }
  }

  &__continue-text {
    margin-right: 20px;

    &--text-large {
      @include text-large($black-c, 100%);
    }

    @media screen and (max-width: 900px) {
      margin-right: 0;
      text-align: center;
    }
  }

  &__continue-line {
    width: 70px;
    height: 1px;

    color: $black-c;

    @media screen and (max-width: 900px) {
      width: 170px;
    }
  }
}
