.exhibit {
  position: relative;

  &__img {
    position: absolute;

    &--1 {
      left: 0;
      top: -244px;

      @include onTablets {
        width: 282px;
      }
    }

    &--2 {
      top: -108px;

      @include onTablets {
        top: 0;

        width: 372px;
      }
    }

    &--3 {
      top: -108px;

      @include onTablets {
        top: -52px;

        width: 329px;
      }
    }
  }

  &__date {
    @include h1;
    
    margin-bottom: 20px;

    color: $c-orange;

    &--not-expire {
      @include main-text;
      margin-bottom: 10px;
    }
  }

  &__title {
    @include h2;

    margin-bottom: 20px;

    color: $c-black;
  }

  &__description {
    @include main-text;

    margin-bottom: 50px;

    @include onTablets {
      margin-bottom: 30px;
    }
  }
}
