.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 160px 0 60px;

  &__heading {
    margin-bottom: 40px;

    &--heading-small {
      @include heading-small($white-c);
    }
  }

  &__article {
    display: flex;
    justify-content: space-between;

    width: 100%;

    margin-bottom: 70px;
  }

  &__list {
    display: inline-block;

    margin-bottom: 40px;

    &--text-large {
      @include text-large($white-c);
    }
  }

  &__item-phone {
    margin-left: 33px;
  }

  &__item {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__arrow {
    margin-top: 10px;
  }

  &__copyright-item {
    &:first-child {
      margin-right: 40px;
    }

    &--text-small {
      @include text-small;
    }
  }
}
