.footer {
  margin-top: 80px;
  background-color: $bg;

  @include flex {
    gap: 50px;
  }

  &__container {
    padding: 34px 20px;
  }

  &__content {
    @include flex;
  }

  &__block {
    @include flex;
  }

  &__social-networks {
    @include flex-row {
      gap: 20px;
    }
  }

  &__list {
    @include flex {
      gap: 10px;
    }
  }

  &__bottom {
    @include flex-row {
      justify-content: space-between;
      align-items: center;
    }
  }

  &__box {
    @include flex-row {
      gap: 10px;
    }
  }

  &__text {
    @include font-style ("Raleway", sans-serif, 400, 16px, 24px, $white);
  }
}
