.section {
  &__date {
    margin-bottom: 10px;
  }

  &__date--text-large {
    @include text-large($white-c);
  }

  &__heading {
    margin-bottom: 10px;

    &--heading-large {
      @include heading-large;
    }
  }

  &__heading-part {
    display: block;

    margin-left: 155px;
    margin-bottom: 40px;
  }

  &__article {
    display: flex;
    justify-content: space-between;

    margin-left: 155px;
    margin-bottom: 142px;
  }

  &__info {
    max-width: 370px;

    margin-bottom: 82px;

    &--text-large {
      @include text-large($white-c);
    }
  }

  &__link--btn-orange {
    @include btn-orange;
  }

  &__description {
    max-width: 136px;

    &--text-large {
      @include text-large($white-c);
    }
  }

  &__date-number--text-medium {
    @include text-medium($secondary-font, 0.7);
  }
}
