.header {
  position: relative;

  background-color: $background-c;
  &__container {
    @include container;

    background: $background-c url("../images/Girl_from_Podolye.png")
      no-repeat right bottom;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    margin-bottom: 100px;
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__bottom {
    padding-bottom: 52px;
  }
}
