.section {
  &__date {
    margin-bottom: 10px;
  }

  &__date--text-large {
    @include text-large($white-c);
  }

  &__heading {
    margin-bottom: 10px;

    @media screen and (max-width: 950px) {
      margin-bottom: 0;
    }

    &--heading-large {
      @include heading-large;
    }
  }

  &__heading-part {
    display: block;

    margin-left: 155px;
    margin-bottom: 40px;

    @media screen and (max-width: 675px) {
      margin-left: 80px;
    }

    @media screen and (max-width: 600px) {
      margin-left: 0;
    }
  }

  &__article {
    display: flex;
    justify-content: space-between;

    margin-left: 155px;
    margin-bottom: 142px;

    @media screen and (max-width: 750px) {
      margin-bottom: 100px;
    }

    @media screen and (max-width: 675px) {
      margin-left: 0;
    }
  }

  &__info {
    max-width: 370px;

    margin-bottom: 82px;

    &--text-large {
      @include text-large($white-c);
    }

    @media screen and (max-width: 815px) {
      max-width: 270px;
    }
  }

  &__description {
    max-width: 136px;

    &--text-large {
      @include text-large($white-c);
    }

    @media screen and (max-width: 1230px) {
      display: none;
    }
  }

  &__date-number--text-medium {
    @include text-medium($secondary-font, 0.7);

    @media screen and (max-width: 750px) {
      display: none;
    }
  }
}
