.language {
  &__btn {
    display: flex;
    align-items: center;

    &--text-large {
      @include text-large($white-c);
    }
  }

  &__text {
    padding-right: 3px;
  }

  @media screen and (max-width: 600px) {
    display: none;
  }
}
