.payment {
  @include flex;
  
  background-color: $bg;

  &__container {
    margin: 80px -20px;
    padding: 50px 20px;
  }

  &__wrapper {
    @include flex {
      gap: 40px;
    }
  }

  &__content {
    @include flex;
  }

  &__picture {
    display: none;
  }

  &__text {
    @extend %font-texts;

    color: $white;
  }
}
