.main {
  background-color: $white-c;

  &__exhibitions {
    margin-top: 45px;
  }

  &__events {
    margin-bottom: 185px;
  }

  &__scheduler {
    margin-bottom: 120px;
    max-width: 1700px;
  }

  &__news {
    margin-bottom: 185px;
  }
}
