.events {
  margin-top: 80px;

  @include flex {
    gap: 80px;
  }

  &__top {
    @include flex {
      gap: 0;
    }
  }

  &__content {
    @include flex;
  }

  &__block {
    @include flex;
  }

  &__wrapper {
    @include flex {
      gap: 50px;
      flex-basis: 150%
    }
  }

  &__row {
    @include flex;

    &--text {
      @extend %font-texts;

      &:first-child {
        color: $pink;
      }
    }
  }

  &__link {
    @extend %button-link;

    visibility: hidden;
  }
 }
