.subscription {
  margin-top: 120px;

  @include flex {
    gap: 50px;
  }

  &__top {
    @include flex;
  }

  &__form {
    @include flex;
  }

  &__input {
    @extend %font-texts;

    cursor: pointer;
    height: 28px;

    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid $black;
  }

  &__text {
    @extend %font-texts;
    
    color: $black;
  }
}
