.news {
  @include flex {
    gap: 0;
  }

  &__top {
    @include flex {
      gap: 0;
    }
  }

  &__content {
    @include flex {
      gap: 50px;
    }
  }

  &__block {
    @include flex;
  }

  &__row {
    @include flex;

    &--text {
      @extend %font-texts;

      &:first-child {
        color: $black;
      }
    }
  }

  &__link {
    @extend %button-link;

    visibility: hidden;
  }
}
