.exhibitions {
  position: relative;
  
  @include grid (2) {
    row-gap: 60px;
  }

  margin-top: 80px;
  padding-bottom: 80px;

  &__top {
    grid-column: 1 / -1;

    @include flex {
      align-items: center;
        gap: 0;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include flex {
      gap: 50px;
    }
  }

  &__block {
    @include flex {
      justify-content: space-between;
    }

  }

  &__row {
    @include flex;

    &--text {
      @extend %font-texts;

      &:first-child {
        color: $pink;
      }
    }
  }

  &__link {
    position: absolute;
    bottom: 0;

    @extend %button-link;
  }

  &__btn {
    margin: 10px 0;
  }
}
