.nav {
  margin-right: 35px;

  &__btn-item {
    display: block;

    width: 25px;
    height: 2px;
    margin-bottom: 7px;

    background-color: $white-c;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
