.news {
  &__container {
    @include container;
  }

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__section-container {
    display: flex;
    justify-content: space-between;

    margin-bottom: 95px;
  }

  &__section-heading {
    margin-bottom: 75px;

    &--heading-medium {
      @include heading-medium;
    }
  }

  &__article {
    max-width: 380px;
  }

  &__article-img {
    margin-bottom: 30px;
  }

  &__article-date {
    margin-bottom: 5px;

    &--text-small {
      @include text-small($black-c);
    }
  }

  &__article-heading {
    margin-bottom: 15px;

    &--heading-extra-small {
      @include heading-extra-small;
    }
  }

  &__article-paragraph {
    &--text-large {
      @include text-large($gray-c);
    }
  }

  &__continue {
    display: flex;
    align-self: flex-end;
  }

  &__continue-text {
    margin-right: 20px;

    &--text-large {
      @include text-large($black-c, 100%);
    }
  }

  &__continue-line {
    width: 70px;
    height: 1px;

    color: $black-c;
  }
}
