.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $c-white;
  background-color: $c-red;
  height: 60px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  transition: 400ms;

  &:hover {
    background-color: #AF3419;
  }

  &:active {
    background-color: #EA340D;
  }

  @include on-desktop {
    width: 270px;
  }
}
