.scheduler {
  background: $background-c url("../images/Woman.png") no-repeat left bottom;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding: 190px 0 160px;
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    max-width: 700px;
    margin-bottom: 60px;

    &--heading-large {
      @include heading-large;
    }
  }

  &__paragraph {
    max-width: 470px;
    margin-bottom: 60px;

    &--text-large {
      @include text-large($white-c);
    }
  }

  &__btn {
    &--btn-orange {
      @include btn-orange;
    }
  }
}
