.scheduler {
  background-color: $background-c;

  &__background {
    @include container-large;

    background: url("../images/Woman.png") no-repeat left bottom;

    @media screen and (max-width: 1230px) {
      background-size: auto 63%;
    }

    @media screen and (max-width: 780px) {
      background-image: none;
    }
  }

  &__container {
    @include container;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding: 190px 0 160px;

    @media screen and (max-width: 900px) {
      padding: 120px 0 170px;
    }

    @media screen and (max-width: 500px) {
      padding: 80px 0;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 900px) {
      align-items: flex-end;
    }

    @media screen and (max-width: 780px) {
      align-items: center;
      text-align: center;
    }
  }

  &__heading {
    max-width: 700px;
    margin-bottom: 60px;

    &--heading-large {
      @include heading-large;
    }
  }

  &__paragraph {
    max-width: 470px;
    margin-bottom: 60px;

    &--text-large {
      @include text-large($white-c);
    }
  }
}
