.secondary-button {
  color: $c-red;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  border: 1px solid $c-red;
  height: 60px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  gap: 8px;
  transition: 400ms;

  &:hover {
    color: #AF3419;
    border: 1px solid #AF3419;
  }

  &:active {
    color: #EA340D;
    border: 1px solid #EA340D;
  }
}
