.section {
  &__date {
    margin-bottom: 10px;
  }

  &__date--text_b {
    @include text-size_b($primary-color);
  }

  &__heading {
    margin-bottom: 10px;

    &:nth-child(1) {
      margin-bottom: 40px;
    }
  }

  &__heading--text_b {
    @include text-h1;
  }

  &__article {
    margin-left: 155px;
    margin-bottom: 142px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    max-width: 370px;
    margin-bottom: 82px;
  }

  &__info--text-size_b {
    @include text-size_b($primary-color);
  }

  &__link--btn-orange {
    @include btn-orange;
  }

  &__description {
    max-width: 136px;

    font-size: 16px;
    line-height: 150%;
    color: $primary-color;
  }

  &__description--text-size_b {
    @include text-size_b;
  }

  &__date-number--text-size_s {
    @include text-size_s(0.7);
  }
}
