.section {
  &__date {
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 150%;
    color: $primary-color;
  }

  &__heading {
    margin-bottom: 10px;

    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    color: $primary-color;

    &:nth-child(1) {
      margin-bottom: 40px;
    }
  }

  &__article {
    margin-left: 155px;
    margin-bottom: 142px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    max-width: 370px;
    margin-bottom: 82px;

    font-size: 16px;
    line-height: 150%;
    color: $primary-color;
  }

  &__link {
    padding: 22px 81px;

    font-size: 16px;
    line-height: 100%;
    background-color: #cd4d31;
  }

  &__description {
    max-width: 136px;

    font-size: 16px;
    line-height: 150%;
    color: $primary-color;
  }

  &__date-number {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 125%;
    opacity: 0.7;
    color: $primary-color;
  }
}
