.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_cross {
    cursor: pointer;
    width: 22px;
    height: 22px;

    @include on-tablet {
      order: 1;
    }
  }

  &_left {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  &_icons {
    display: flex;
    color: $c-white;
    gap: 30px;
    font-family: Raleway;
    font-size: 16px;
    line-height: 24px;
  }

  &_lang {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    @include on-tablet {
      order: 2;
    }

    &--header {
      display: none;

      @include on-tablet {
        display: flex;
      }
    }
  }

  &_burger {
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 20px;
    gap: 7px;
    cursor: pointer;

    &_stick {
      background-color: $c-white;
      width: 25px;
      height: 2px;
    }
  }
}
