.article {
  &:first-of-type {
    margin-bottom: 6rem;
  }

  &__picture {
    height: 35.6rem;
    margin-bottom: 2rem;
  }
  &__image {
    object-fit: cover;

    &--scale {
      object-position: 10% 0%;
      transform: scale(1.1);
    }
  }

  &__date {
    margin-bottom: 1rem;
    color: $color-main;
  }
  &__title {
    margin-bottom: 2rem;
  }

  &__content {
    margin-bottom: 3rem;
  }

  &__link {
    margin-top: 3rem;
  }
}
