.icon {
  display: block;
  mask-size: cover;
  mask-position: center;
  background-color: $color-white;

  &-social {
    width: 2rem;
    height: 2rem;
  }
}

.icon-logo {
  mask-image: url('../public/icons/logo.svg');
}

.icon-arrow {
  mask-image: url('../public/icons/arrow.svg');
}

.icon-cross {
  mask-image: url('../public/icons/cross.svg');
}

.icon-dropdown {
  width: 0.8rem;
  height: 0.46rem;
  mask-image: url('../public/icons/dropdown.svg');
}

.icon-facebook {
  mask-image: url('../public/icons/facebook.svg');
}

.icon-instagram {
  mask-image: url('../public/icons/instagram.svg');
}

.icon-scroll--up {
  height: 3rem;
  width: 3rem;
  mask-image: url('../public/icons/scroll-up.svg');
}

.icon-telegram {
  mask-image: url('../public/icons/telegram.svg');
}

.icon-twitter {
  mask-image: url('../public/icons/twitter.svg');
}

.icon-menu {
  width: 2.5rem;
  height: 2rem;
  mask-image: url('../public/icons/menu.svg');
}
