.section {
  max-width: $media-decstop;
  margin: 0 auto;
}

.section__wrapper {
  height: 100%;
  padding-inline: $section-pi-mobile;

  @include media-tablet {
    padding-inline: $section-pi-tablet;
  }
}
