.button {
  background-color: $orange-main;
  border: 0;
  color: #fff;
  padding-block: 22px;
  box-sizing: border-box;
  transition: all 0.3s;
  width: 100%;

  @extend %buttons;

  &:hover {
    background-color: $dark-orange;
  }

  &:active {
    background-color: $light-orange;
  }

  &:disabled {
    background-color: $opacity-orange;
  }

  // &--arrow {
  //   background-color: $white !important;
  //   color: $orange-main;
  //   border: 1px solid $orange-main;
  //   padding-inline: 32px;
  //   text-decoration: none;
  //   display: flex;
  //   gap: 8px;
  //   padding-inline: 62px;
  //   line-height: 20px;

  //   @include on-tablet{
  //     width: fit-content;
  //   }

  //   &:hover {
  //     border-color: $dark-orange;
  //     color: $dark-orange;
  //   }

  //   &:active {
  //     border-color: $light-orange;
  //     color: $light-orange;
  //   }

  //   &:disabled {
  //     border-color: $opacity-orange;
  //     color: $opacity-orange;
  //   }
  // }
}
