.link {
  padding-block: 22px;
  line-height: 20px;

  background-color: $white;
  color: $orange-main;
  border: 1px solid $orange-main;

  display: flex;
  justify-content: center;
  gap: 8px;
  min-width: 270px;

  &:hover {
    border-color: $dark-orange;
    color: $dark-orange;
  }

  &:active {
    border-color: $light-orange;
    color: $light-orange;
  }

  &:disabled {
    border-color: $opacity-orange;
    color: $opacity-orange;
  }

  &--top {
    display: none;

    @include on-tablet{
      display: flex;
    }
  }

  &--bottom{
    @include on-tablet{
      display: none;
    }
  }
}
