html {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
  position: relative;
  color: hsl(244, 21%, 13%);

  & :nth-child(n) {
    background-repeat: no-repeat;
  }
}

.page:has(.menu:target) {
  overflow: hidden;
}

.scroll-up {
  position: fixed;
  right: 30px;
  bottom: 30px;
  opacity: 0.3;
  background-color: $bgc;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  background-image: url(../images/footer/icon/scroll-up.svg);
  transition-duration: 0.5s;

  &:hover {
    transform: translateY(-10px);
    opacity: 1;
  }
}
