$bgc: hsl(180, 13%, 28%);
$text-color-on-bg: hsl(165, 17%, 95%);

// #region link color
$def-link: hsl(11, 61%, 50%);
$hover-link: hsl(11, 75%, 39%);
$active-link: hsl(11, 89%, 48%);
$disabled-link: hsl(11, 62%, 65%);
// #endregion

$hover-active-input: hsl(11, 61%, 50%);
