.footer {
  background-color: $background;

  &__content {
    margin-bottom: 50px;

    @include onTablet() {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
    }
  }

  &__wrapper {
    padding: 50px 0 30px;
  }

  &__block {
    width: 100%;
    margin-bottom: 50px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include onTablet() {
      width: 210px;
      margin-bottom: 0;
    }

    @include onDesktop() {
      width: 370px;
    }
  }

  &__tittle {
    margin-bottom: 10px;

    @include onTablet() {
      margin-bottom: 30px;
    }
  }

  &__adress {
    margin-bottom: 30px;

    @include onTablet() {
      margin-bottom: 50px;
    }

    &-link {
      color: $white;
      text-decoration: none;
    }
  }

  &__list-item {
    font-size: 16px;
    color: $white;
    list-style: none;
    line-height: 150%;

  }

  &__link {
    display: block;
    color: $white;
    text-decoration: none;
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include onTablet() {
      margin-bottom: 10px;
    }
  }

  &__icon {
    margin-right: 20px;
    text-decoration: none;
    height: max-content;

    &-img {
      transition-duration: 0.7s;
      &:hover {
        transform: scale(1.3);
      }
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &-wrapper {
      display: flex;
      height: max-content;
    }

    &-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: $white;

      &:first-of-type {
        margin-right: 22px;

        @include onDesktop() {
          margin-right: 102px;
        }
      }
    }

    &-link {
      height: 30px;
      width: 30px;
    }
  }
}
