.nav {
  background-color: $background;
  color: $white;
  transition: 400ms;
  z-index: 2;

  @include onTablet() {
    background-image: url("../images/png/img_menu.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 422px 466px;
  }

  @include onDesktop() {
    background-position: right bottom;
    background-size: 624px 697px;
  }

  &__content {
    height: 100vh;

    // @include onTablet() {
    //   height: 100vh;
    // }

    // @include onDesktop() {
    //   height: 100vh;
    // }

  }

  &__top {
    margin-bottom: 10px;
  }

  &__menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    @include onTablet() {
      flex-direction: row;
    }
  }

  &__cross {
    width: 22px;
    margin-left: 30px;

    @include onDesktop() {
      height: 30px;
      width: 30px;
    }

    @include onTablet() {
      margin-left: 0;
    }
  }

  &__languege {
    @include onTablet() {
      margin-left: 45px;
    }
  }

  &__testimonial {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 424px;

    @include onTablet() {
      flex-direction: row;
      margin-bottom: 50px;
      justify-content: space-between;
    }

    @include onDesktop() {
      margin-bottom: 70px;
    }
  }

  &__info-time {
    margin-bottom: 20px;
    color: $white;
  }

  &__info-text {
    font-size: 14px;
    line-height: 140%;
    color: $white;
  }

  &__time {
    font-weight: 600;
    color: $white;
  }

  &__adress {
    font-weight: 600;
    color: $white;

    &-link {
      color: $white;
      text-decoration: none;
    }
  }

  &__list {
    margin-bottom: 40px;

    @include onTablet() {
      margin-bottom: 50px;
    }

    @include onDesktop() {
      margin-bottom: 60px;
    }
  }

  &__item {
    list-style: none;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onTablet() {
      margin-bottom: 30px;
    }

    @include onDesktop() {
      margin-bottom: 60px;
    }

    &-link {
      font-family: "Playfair Display", sans-serif;
      color: $white;
      text-decoration: none;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;

      @include onTablet() {
        font-size: 48px;
        line-height: 120%;
      }

    }
  }

  &__line {
    height: 1px;
    background-color: $white;
    margin-bottom: 40px;

    @include onTablet() {
      margin-bottom: 50px;
    }

    @include onDesktop() {
      width: 570px;
      margin-bottom: 60px;
    }
  }

}
