.news {
  &__content {
    display: flex;
    flex-direction: column;

    @include onTablet() {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__exhibition-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include onTablet() {
      flex-direction: row;
      gap: 30px;
    }
  }
}
