.page {

  scroll-behavior: smooth;

  &__body {
    background-color: #e5e5e5;

    &--with-menu {
      overflow: hidden;
    }
  }

  &__header {
    margin-bottom: 90px;

    @include onTablet() {
      margin-bottom: 100px;
    }

    @include onDesktop() {
      margin-bottom: 110px;
    }
  }

  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(-100%);

    &:target {
      transform: translateX(0);
    }
  }

  .page__title {
    margin-bottom: 60px;

    @include onTablet() {

      margin-bottom: 75px;
    }

    @include onDesktop() {
      width: 570px;
      margin-bottom: 71px;
    }
  }

  &__relevant {
    margin-bottom: 120px;

    @include onTablet() {
      margin-bottom: 160px;
    }

    @include onDesktop() {
      margin-bottom: 200px;
    }
  }

  &__section {
    margin-bottom: 90px;

    @include onTablet() {
      margin-bottom: 100px;
    }

    @include onDesktop() {
      margin-bottom: 110px;
    }
  }

  &__sing {
    margin-bottom: 120px;

    @include onTablet() {
      margin-bottom: 160px;
    }

    @include onDesktop() {
      margin-bottom: 200px;
    }
  }
}
