.plan {
  background-color: $background;
  color: $white;

  @include onDesktop() {
    background-image: url("../images/png/girl-profil.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 578px 800px;
  }

  &__content {
    padding: 50px 0;
    display: flex;

    @include onTablet() {
      padding: 80px 0;
    }

    @include onDesktop() {
      padding: 205px 0;
      justify-content: flex-end;
    }
  }

  &__container {
    width: 100%;

    @include onTablet() {
      width: 570px;
    }

    @include onDesktop() {
      width: 670px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    margin-bottom: 20px;

    @include onTablet() {
      width: 570px;
      font-size: 62px;
    }

    @include onDesktop() {
      margin-bottom: 10px;
      width: 670px;
      font-size: 80px;
    }
  }

  &__text {
    width: 280px;
    margin-bottom: 40px;
    color: $white;

    @include onTablet() {
      margin-bottom: 60px;
      width: 450px;
    }

    @include onDesktop() {
      margin-bottom: 50px;
      width: 470px;
    }
  }
}
