.relevant {

  &__content {
    display: flex;
    flex-direction: column;

    @include onTablet() {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__exhibition {
    margin-bottom: 60px;
    width: 100%;

    &:last-child {
      margin-bottom: 30px;

      @include onTablet() {
        margin-bottom: 0;
      }
    }

    @include onTablet() {
      margin-bottom: 0;
      width: 570px;
    }
  }

  &__exhibition-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include onTablet() {
      flex-direction: row;
      gap: 30px;
    }
  }
}
