.btn {
  display: block;
  padding-block: 22px;
  text-align: center;
  font-weight: 600;
  line-height: 100%;
  transition: all $time-hover;

  &-orange {
    color: $color-btn-text;
    background-color: $color-btn-first;

    &:hover {
      background-color: $color-btn-first-hover;
    }

    &:active {
      background-color: $color-btn-first-active;
    }

    &:disabled {
      background-color: $color-btn-first-disabled;
    }
  }
}
