.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block: 60px 30px;
  width: 100%;
  transition: all $time-hover;

  &:hover {
    @include on-desktop {
      transform: scale(1.05);
    }
  }

  &__img {
    height: 360px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &-1 {
      background-image: url('./../images/cards/photo-1.png');
    }

    &-2 {
      background-image: url('./../images/cards/photo-2.png');
    }

    &-3 {
      background-image: url('./../images/cards/photo-3.png');
    }

    &-4 {
      background-image: url('./../images/cards/photo-4.png');
    }

    &-5 {
      background-image: url('./../images/cards/photo-5.png');
    }

    &-6 {
      background-image: url('./../images/cards/photo-6.png');
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  &__title {
    font-size: 20px;
  }

  &__text {
    color: $color-card-text;
  }
}
