.title {
  color: $color-title;
  font-family: $font-second;
  font-size: 28px;
  font-weight: 700;
  line-height: 125%;

  @include on-tablet {
    font-size: 40px;
  }

  @include on-desktop {
    font-size: 48px;
  }

  &-big {
    font-size: 48px;

    @include on-tablet {
      font-size: 72px;
    }

    @include on-desktop {
      font-size: 96px;
    }
  }
}
