* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  transition: all 0.3s;
}

section, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  min-width: 320px;


  @include onMobile {
    padding: 0 20px;
  }


  @include onTablet {
    padding: 0 39px;
  }

  @include onDesktop {
    padding: 0 55px;
  }
}

.page {
  background-color: $basic;
  @extend %main;

  //---------body-----------------
  // &__content {
  // }
  // --------header---------------
  &__content--with-menu {
    overflow: hidden;
  }

  //--------pop-up menu-----------
  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;
    background-color: $bg;

    &:target {
      transform: translateX(0%);
    }
  }

  //-----------main---------------
  // &__main {
  // }
  //----------section-------------
  &__section {

    // &-exibitions {
    // }

    &-title--btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-button-top {
      display: none;
      @extend %button-white;

      @include onDesktop {
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        max-width: 330px;
      }
    }

    &-title {
      display: block;
      text-align: center;
      margin: 90px 0 0;
      padding: 0 0 60px;

      @include onTablet {
        text-align: left;
        margin: 105px 0 0;
        padding: 0 0 75px;
      }

      @include onDesktop {
        text-align: left;
        margin: 110px 0 0;
        padding: 0 0 70px;
      }
    }

    &-button {
      @extend %button-white;
      display: flex;
      align-items: center;
      justify-content: center;
      // margin: 0 auto;
      gap: 10px;
      width: 100%;

      @include onDesktop {
        display: none;
        max-width: 330px;
      }
    }
  }
    // --------footer------------
}
