.visit {
  background-color: $bg;
  color: $white;
  margin-top: 90px;
  padding: 50px 0;

  &__title {
  margin: auto 0;
  align-items: center;
  }

  &__container {
    padding: 20px;

    @include onTablet {
      padding: 0 39px;
      max-width: 670px;
    }
  }

  &__image {
    display: none;

    @include onDesktop {
      display: block;
    }
  }
}
