.subscribe {
  margin: auto 0;
  align-items: center;
  padding: 120px 0 80px;

  @include onTablet {
    padding: 160px 0 128px;
  }

  @include onDesktop {
    padding: 200px 0;
  }

  &__input {
    width: 100%;
    max-width: 470px;
    margin: 50px 0 34px;
    color: $black;
    background-color: $basic;
    border: none;
    border-bottom: 1px solid $black;

    &:hover,
    &:active
    {
      border: none;
      color: $main;
      border-bottom: 1px solid $main;

    }

    @include onDesktop {
      margin: 50px 0 44px;
    }

  }
}
