.actual-exhibitions {
  margin-top: 60px;

  @include desk-768 {
    margin-top: 75px;
  }

  @include desk-1280 {
    margin-top: 71px;
  }

  &__img-container {
    height: 356px;

    @include desk-768 {
      height: 420px;
    }

    @include desk-1280 {
      height: 484px;
    }

    &--upcoming-events {
      @include desk-1280 {
        height: 475px;
      }
    }
    
    &--news {
      position: relative;

      width: 100%;
      height: 0;
      padding-bottom: 100%;

      @include desk-1280 {
        height: 370px;

        padding-bottom: 0;

      }
    }
  }

  &__img {
    background-image: url(/images/actual-exhibitions-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;

    @include desk-1280 {
      background-image: url(/images/actual-exhibitions-1-1280.png);

    }

    &--2 {
      background-image: url(/images/actual-exhibitions-2.png);

      @include desk-1280 {
        background-image: url(/images/actual-exhibitions-2-1280.png);
      }
    }

    &--upcoming-events-img {
      background-image: url(/images/img_05.png);
    }

    &--upcoming-events-img-2 {
      background-image: url(/images/img_06.png);
    }

    &--news {
      background-image: url(/images/img-news.png);

      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

    }

    &--news-2 {
      background-image: url(/images/img_09.png);

      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }

  &__date {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgb(205, 77, 49);

    @include desk-768 {
      margin-top: 30px;

    }

    @include desk-1280 {
      margin-top: 20px;

    }

    &--upcoming-events-date {
      @include desk-768 {
        margin-top: 76px;
  
      }
    }

    &--news {
      font-size: 14px;
      color: rgb(28, 27, 41);
    }
  }

  &__subtitle {
    margin: 10px 0 0;
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: rgb(28, 27, 41);

    @include desk-768 {
      font-size: 24px;
      min-height: 60px;
    }

    &--news {
      margin: 0;
    }

  }

  &__about {
    margin-top: 20px;
    font-size: 16px;
    line-height: 150%;
    color: rgb(80, 79, 94);

    @include desk-1280 {
      min-height: 48px;
    }
  }

  &__button-container {
    margin-top: 30px;

    @include desk-768 {
      margin-top: 40px;
    }

    @include desk-1280 {
      margin-top: 50px;
    }

    &--upcoming-events {
      @include desk-768 {
        margin-top: 50px;
      }
    }

    &--news {
      @include desk-768 {
        display: none;
      }
    }
  }

  
}
