.action {
  background: $background-color;

  &-img {
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &__content {
    padding: 50px 20px;

    @include onTablet {
      padding: 80px 265px 80px 38px;
    }

    @include onDesktop {
      display: flex;
      align-items: center;
      padding: 0;
    }
  }

  &__block {
    @include onDesktop {
      padding: 0 115px 0 0;
    }
  }

  &-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    color: $main-text-color;

    @include onTablet {
      font-size: 62px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }

  &--text {
    margin-bottom: 40px;
    color: $main-text-color;

    @include onTablet {
      margin-bottom: 60px;
    }

    @include onDesktop {
      width: 470px;
    }
  }
}
