.article {
  &__title {
    @include font-properties("Playfair Display", 24px, 30px, 700);
    color: #1c1b29;

    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 20px;
    }

    &--block {
      display: block;

      @include onTablet {
        display: inline;
      }
    }

    &-events {
      margin-bottom: 20px;
    }
  }

  &__paragraph {
    @include font-properties("Raleway", 16px, 24px);
    color: #504f5e;

    margin-bottom: 90px;

    @include onTablet {
      margin-bottom: 110px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }

    &-events {
      margin-bottom: 40px;

      @include onDesktop {
        margin-bottom: 60px;
      }
    }
  }

  &__img-container {
    height: 230px;
    margin-bottom: 20px;
  }

  &__button {
    display: none;

    @include onDesktop {
      display: block;
      max-width: 270px;
      margin-bottom: 220px;
    }
  }

  &__event-name {
    @include font-properties("Raleway", 14px, 24px, 200);
    color: #1c1b29;
    display: none;

    @include onTablet {
      display: block;
      margin-bottom: 10px;
    }
  }

  &__event-time {
    margin-bottom: 20px;

    @include onTablet {
      display: none;
    }
  }

  &__image-news {
    width: 100%;
  }

  &__title-news {
    @include font-properties("Playfair Display", 18px, 22px, 700);
    color: #1c1b29;

    margin-bottom: 10px;
    
  }
}
