.aside {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  transition: all 0.3s;
  opacity: 1;
  transform: translateX(100%);

  background-color: rgba(44, 44, 44, 0.6);
  box-sizing: border-box;
  height: 100vh;

  &:target {
    opacity: 1;
    transform: translateX(0);
  }

  &__bg {
    background-color: $c-bg;
  }

  &__content {
    @include on-desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__top-bar {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;

    @include on-tablet {
      padding-bottom: 50px;
    }

    @include on-desktop {
      padding-top: 26px;
      padding-bottom: 40px;
    }
  }

  &__menu-dropdawn {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__menu {
    @include on-tablet {
      order: 1;
    }
  }
  &__dropdawn {
    display: flex;
    align-items: center;
    gap: 5px;

    @include on-tablet {
      order: 2;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-bottom: 40px;

    @include on-tablet {
      flex-direction: row;
      gap: 123px;
      margin-bottom: 50px;
    }

    @include on-desktop {
      margin-bottom: 70px;
    }
    &--title {
      font-size: 14px;
      line-height: 19.6px;
    }

    &--discription {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }
  }

  &__list {
    position: relative;
    &::after {
      content: '';
      display: block;
      height: 1px;
      background-color: $c-white;
      width: 100%;

      position: absolute;
      bottom: -40px;

      @include on-tablet {
        bottom: -50px;
      }

      @include on-desktop {
        bottom: -60px;
      }
    }

    @include on-desktop {
      width: 570px;
    }
  }

  &__item {
    padding-bottom: 20px;

    &:last-child {
      padding-bottom: 0;
    }

    @include on-tablet {
      padding-bottom: 30px;
    }

    @include on-desktop {
      padding-bottom: 60px;
    }
  }

  &__link {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: $c-white;
    position: relative;

    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: $c-white;

      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: center;
    }

    &:hover::after {
      transform: scale(1);
    }

    @include on-tablet {
      font-size: 48px;
      line-height: 57.6px;
    }
  }

  &__button {
    margin-top: 81px;
    margin-bottom: 238px;

    @include on-tablet {
      margin-bottom: 0;
      margin-top: 101px;
    }

    @include on-desktop {
      margin-top: 121px;
      margin-bottom: 108px;
    }
  }

  &__container-img {
    display: none;

    @include on-tablet {
      display: flex;
      justify-content: center;

      margin-top: 30px;
    }

    @include on-desktop {
      margin-top: 0;
    }
  }

  &__img {
    min-width: 422px;
    height: 466px;

    @include on-desktop {
      min-width: 624px;
      height: 697px;
    }
  }
}
