.back-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 100;

  height: 30px;
  width: 30px;

  cursor: pointer;

  opacity: 0;

  @include hover(transform, scale(1.05));

  @include onTablet {
    right: 39px;
  }
}
