.btn {
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: 60px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  color: $orange-text;
  border: 1px solid $orange-text;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include onTablet {
    width: 210px;
  }

  @include onDesktop {
    width: 270px;
  }
}

.btn img {
  margin-left: 12px;
}
