.btn {
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: 60px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  color: $orange-text;
  border: 1px solid $orange-text;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;

  &:hover {
    background-color: $orange-text;
    color: $same-white;
  }

  &:hover .btn__image {
    background-image: url(./../images/Vector-white.png);
  }

  @include onTablet {
    width: 210px;
  }

  @include onDesktop {
    width: 270px;
  }

  &__image {
    margin-left: 12px;
    background-image: url(./../images/Vector.png);
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.5s ease;
  }
}

// .btn img {
//   margin-left: 12px;
// }
// .btn_image {
//   margin-left: 12px;
//   background-image: url(../../images/Vector.png);
// }
