.button {
  transition: $transitionTime;

  &:hover {
    background-color: #af3419;
  }

  &:active {
    background-color: #ea340d;
  }

  &:disabled {
    background-color: #dd836f;
  }

  &-hover {
    transition: $transitionTime;

    &:hover {
      border-color: #af3419;
      color: #af3419;
    }

    &:active {
      border-color: #ea340d;
      color: #ea340d;
    }

    &:disabled {
      border-color: #dd836f;
      color: #dd836f;
    }
  }
}
