.button-secondary {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 22px 0;
  border: 1px solid $mainColor;
  color: $mainColor;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  background-color: #e5e5e5;
  text-align: center;
  text-decoration: none;
  transition: color, border-color 0.3s;

  &::after {
    content: "";
    margin-left: 10px;
    position: relative;
    top: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    color: #af3419;
    border-color: #af3419;
  }

  &:active {
    color: #ea340d;
    border-color: #ea340d;
  }

  &:disabled {
    color: #dd836f;
    border-color: #dd836f;
  }

  &--section {
    margin-bottom: 50px;
  }
}
