.button {
  @extend %link;
  @extend %button;

  color: $white-color;
  background-color: $orange-color;

  &:hover {
    background-color: #af3419;
  }

  &:active {
    background-color: #ea340d;
  }

  &:disabled {
    background-color: #dd836f;
  }

  @include onTablet {
    width: 330px;
  }

  @include onDesktop {
    width: 270px;
  }

  &--transparent {
    @extend %link;
    @extend %button;

    color: $orange-color;
    background-color: #fff;
    border: 1px solid $orange-color;

    &:hover {
      border-color: #af3419;
    }

    &:active {
      border-color: #ea340d;
    }

    &:disabled {
      border-color: #dd836f;
    }

    &::after {
      content: url(/images/arrow.svg);
      margin-left: 10px;
    }
  }

  &--none {
    display: none;

    @include onTablet {
      display: flex;
      justify-content: center;
      width: 250px;
    }
  }

  &--visible {
    @include onTablet {
      display: none;
    }
  }
}
