.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 330px;
  height: 60px;

  text-decoration: none;
  font-weight: 600;

  &--primary {
    color: $c-white;
    background-color: $c-main;

    @include hover(background-color, $c-hover);

    &:active {
      background-color: $c-active;
    }
  }

  &--secondary {
    color: $c-main;
    background-color: #fff;
    border: 1px solid $c-main;

    &::after {
      margin-left: 11px;

      content: url(../images/icons/orange-arrow.svg);
    }

    &:hover {
      color: $c-hover;
      border-color: $c-hover;

      &::after {
        content: url(../images/icons/orange-arrow-hover.svg);
      }
    }

    &:active {
      color: $c-active;
      border-color: $c-active;

      &::after {
        content: url(../images/icons/orange-arrow-active.svg);
      }
    }
  }
}
