.button-buy {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 330px;
  height: 60px;

  color: $c-white;
  background-color: $c-main;
  text-decoration: none;
}
