.card {
  &__image {
    max-height: 356px;
    object-fit: cover;
    margin-bottom: 20px;

    @include on-tablet {
      max-height: 420px;
      margin-bottom: 30px;
    }

    @include on-tablet {
      max-height: 484px;
      margin-bottom: 20px;
    }

    @include hover(transform, scale(1.02));

    &--event {
      max-height: 358px;

      @include on-tablet {
        flex-basis: 330px;
        max-height: 422px;
      }

      @include on-desktop {
        flex-basis: 370px;
        max-height: 475px;
      }
    }
  }

  &__content {
    max-width: 570px;
  }

  &__date {
    color: $main-color;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__title {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 125%;
    margin-bottom: 20px;

    @include on-tablet {
      font-size: 24px;
      min-height: 60px;
    }

    @include on-desktop {
      font-size: 24px;
      min-height: auto;
    }
  }

  &__description {
    color: $gray;
    font-weight: 400;
    margin-bottom: 30px;

    @include on-tablet {
      margin-bottom: 40px;
    }

    @include on-tablet {
      margin-bottom: 50px;
    }
  }

  &__button {
    margin-bottom: 30px;
  }
}
