.choose-language {
  display: block;
  height: 23px;

  &--on-768 {
    display: none;

    @include desk-768 {
      display: block;
    }
  }

  &--cross-before {
    transform: translateX(-100%);

    @include desk-768 {
      transform: translateX(0);
    }
  }

  &__select {
    border: 0;
    color: rgb(241, 245, 244);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    outline: none;
    background-color: rgba(63, 82, 82, 1);
    padding-left: 20px;

    &--before-cross {
      padding: 0 20px 0 0;

      @include desk-768 {
        padding: 0 0 0 20px;
      }
    }
  }
}
