body {
  background-color: $backg-col-wh;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 320px;

  @include onTablet {
    max-width: 768px;
    padding: 0 40px;
  }

  @include onDesktop {
    max-width: 1280px;
    padding: 0 50px;
  }
}

.container-over {
  margin: 0 auto;
  position: relative;
  max-width: 1280px;
  height: 420px;

  @include onTablet {
    height: 515px;
  }

  @include onTablet {
    height: 800px;
  }
}

.container-over-header {
  margin: 0 auto;
  position: relative;
  max-width: 1280px;
  height: 747px;

  @include onTablet {
    height: 1082px;
  }

  @include onDesktop {
    height: 800px;
  }
}

.container-over-menu {
  margin: 0 auto;
  position: relative;
  max-width: 1280px;
  height: 747px;

  @include onTablet {
    height: 1304px;
  }

  @include onDesktop {
    height: 800px;
  }
}
