.conteiner {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 39px;
  }

  @include onDesktop {
    padding-inline: 55px;
    max-width: 1170px;
    margin-inline: auto;
  }

  &__aside {
    height: 100vh;
    overflow: scroll;

    @include onDesktop {
      overflow: hidden;
    }
  }
}
