.contacts {
  margin-bottom: 50px;
  @media (min-width: 768px) {
    width: 370px;
    margin-bottom: 62px;
  }

  &__title {
    @extend %footer-title-style;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  &__address {
    @extend %text-info;
    color: $white-accent;
    margin-bottom: 30px;

    @media (min-width: 768px) {
      margin-bottom: 50px;
    }
  }

  &__phone,
  &__info-address {
    color: $white-accent;
    text-decoration: none;
  }


  &__email {
    display: block;
    text-decoration: none;
    color: $white-accent;
    cursor: pointer;
  }

  &__media {
    display: flex;
    flex-direction: row;
    gap: 20px;


    &-icon {
      width: 20px;
      height: 20px;
      background-size: cover;
      background-position: center;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }

      &--facebook {
        background-image: url(../images/icons/facebook-icon.svg);
      }

      &--twitter {
        background-image: url(../images/icons/twitter-icon.svg);
      }

      &--telegram {
        background-image: url(../images/icons/telegram-icon.svg);
      }

      &--instagram {
        background-image: url(../images/icons/instagram-icon.svg);
      }
    }
  }
}
