.contacts {
  padding: 34px 30px;
  background-color: $greenColor;

  &__items {
    display: flex;
    flex-direction: column;

    @include onTablet() {
      flex-direction: row;
      gap: 90px;
    }
  }

  &__call {

    @include onTablet() {
      width: 300px;
    }

    @include onDesktop() {
      width: 370px;
    }

    &-title {
      margin-bottom: 10px;

      @include playfairFont();
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      color: $lightColor;

      @include onTablet() {
        margin-bottom: 30px;
        font-size: 20px;
      }
    }

    &-adress {
      @include ralewayFont();
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $lightColor;

      transition: $transitionTime;

      &:hover {
        color: $orangeColor;
      }
    }

    &-tel {
      @include ralewayFont();
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $lightColor;

      transition: $transitionTime;

      &:hover {
        color: $orangeColor;
      }
    }

    &-email {
      @include ralewayFont();
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $lightColor;

      transition: $transitionTime;

      &:hover {
        color: $orangeColor;
      }
    }
  }

  &__socials {
    padding-top: 32px;
    margin-bottom: 52px;

    display: flex;
    gap: 25px;

    @include onTablet() {
      padding-top: 52px;
    }

    &-facebook {
      display: block;
      width: 10px;
      height: 20px;

      @include bgImgRules();
      background-image: url(../images/socials/facebook.svg);

      transition: $transitionTime;

      &:hover {
        transform: rotate(360deg);
      }
    }

    &-twitter {
      display: block;
      width: 20px;
      height: 20px;

      @include bgImgRules();
      background-image: url(../images/socials/twitter.svg);

      transition: $transitionTime;

      &:hover {
        transform: rotate(360deg);
      }
    }

    &-telegram {
      display: block;
      width: 20px;
      height: 20px;

      @include bgImgRules();
      background-image: url(../images/socials/facebook.svg);

      transition: $transitionTime;

      &:hover {
        transform: rotate(360deg);
      }
    }

    &-instagram {
      display: block;
      width: 20px;
      height: 20px;

      @include bgImgRules();
      background-image: url(../images/socials/twitter.svg);

      transition: $transitionTime;

      &:hover {
        transform: rotate(360deg);
      }
    }
  }

  &__schedule {
    margin-bottom: 50px;

    @include onTablet() {
      width: 220px;
    }

    @include onDesktop() {
      width: 370px;
    }

    &-title {
      margin-bottom: 10px;

      @include playfairFont();
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      color: $lightColor;

      @include onTablet() {
        margin-bottom: 30px;
        font-size: 20px;
      }
    }

    &-item {
      @include ralewayFont();
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $lightColor;
    }
  }

  &__nav {
    margin-bottom: 60px;

    @include onTablet() {
      width: 200px;
    }

    @include onDesktop() {
      width: 370px;
    }

    &-title {
      margin-bottom: 10px;

      @include playfairFont();
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: $lightColor;

      @include onTablet() {
        margin-bottom: 30px;
        font-size: 20px;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &-item {
      @include ralewayFont();
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
    }

    &-link {
      color: $lightColor;

      transition: $transitionTime;

      &:hover {
        color: $orangeColor;
      }
    }
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text-1 {
      @include ralewayFont();
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: $lightColor;

      @include onTablet() {
        font-size: 16px;
      }

      @include onDesktop() {
        font-size: 14px;
      }
    }

    &-text-2 {
      @include ralewayFont();
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: $lightColor;

      @include onTablet() {
        font-size: 16px;
      }

      @include onDesktop() {
        font-size: 14px;
      }
    }

    &-terms {
      display: flex;
      gap: 22px;

      @include onDesktop() {
        gap: 102px;
      }
    }

    &-button {
      width: 30px;
      height: 30px;

      @include bgImgRules();
      background-image: url(../images/icons/scroll-up.svg);
    }
  }
}
