.content {
  position: absolute;
  top: 180px;
  left: 55px;

  &__dates {
    color: $primary-color;
    margin-bottom: 10px;
  }

  &__art,
  &__century {
    @extend %playfair-bold;
    font-size: 96px;
    line-height: 100%;
    color: $primary-color;
  }

  &__art {
    margin-bottom: 10px;
  }

  &__century {
    margin-left: 100px;
    margin-bottom: 40px;
  }

  &__contribution {
    display: inline-block;
    color: $primary-color;
    margin-left: 100px;
    max-width: 370px;
    margin-bottom: 82px;
  }

  &__button {
    margin-bottom: 110px;
    margin-left: 100px;
  }

  &__period {
    display: block;
    position: relative;
    @extend %playfair-bold;
    font-size: 14px;
    line-height: 125%;
    color: $primary-color;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 492px;
      height: 1px;
      background-color: $primary-color;
      left: 100px;
      top: 10px;
    }
  }
}

@media (max-width: 1200px) {
  .content {
    left: 99px;

    &__art,
    &__century {
      font-size: 72px;
    }

    &__art {
      margin-bottom: 10px;
    }

    &__century {
      margin-left: 45px;
    }

    &__contribution {
      max-width: 267px;
      margin-left: 0;
      margin-bottom: 80px;
    }

    &__button {
      margin-left: 0;
    }

    &__period {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  .content {
    top: 150px;
    left: 20px;

    &__dates {
      margin-bottom: 20px;
    }

    &__art,
    &__century {
      font-size: 48px;
    }

    &__art {
      margin-bottom: 10px;
    }

    &__century {
      margin-left: 0;
    }

    &__contribution {
      margin-bottom: 50px;
    }
  }
}
