.contacts {
  display: grid;
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: span 2;
  }

  @include on-desctop {
    grid-column: span 4;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $font-family-big;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: $c-white;
    margin: 0 0 10px;
  }

  &__adress {
    font-family: $font-family-small;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $c-white;

    &--link {
      color: $c-white;
      text-decoration: none;

      @include hover(transform, scale(1.1));
    }
  }

  &__tel-wraper {
    display: inline-block;

    &--tel {
      font-family: $font-family-small;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: $c-white;
      text-decoration: none;
    }

    @include hover(transform, scale(1.1));
  }

  &__email {
    font-family: $font-family-small;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $c-white;
    text-decoration: none;

    @include hover(transform, scale(1.1));
  }

  &__icons {
    display: flex;
    margin-top: 30px;
    gap: 20px;
  }
}
