.container {
  margin: 0 20px;

  @include desk-768 {
    margin: 0 39px;
  }

  @include desk-1280 {
    margin: 0 55px;
  }

  @include desk-1600 {
    margin: 0 auto;
    max-width: 1600px;
  }
}
