.current-exhibit {

  &__product {
    grid-column: 1 / -1;

    @include on-tablet {
      column-gap: 24px;
      grid-column: 2 / -2;
    }

    @include on-desctop {
      grid-column: span 4;
    }
  }

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 4;
    }
  }

  &__button {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 2;
    }
  }
}

// .wrapper {

//   &__products {
//     position: relative;
//     z-index: 0;

//     @include on-tablet {
//       z-index: 1;
//       position: relative;
//     }
//   }

// }
