.current-exhib {
  @include page-grid;

  &__product {
    grid-column: 1 / -1;

    @include on-tablet {
      column-gap: 24px;
      grid-column: span 3;
    }

    @include on-desctop {
      grid-column: span 4;
    }
  }

  // &__title {
  //   grid-column: 1 / -1;

  //   @include on-tablet {
  //     grid-column: span 4;
  //   }

  // }

  // &__button {
  //   grid-column: 1 / -1;

  //   @include on-tablet {
  //     grid-column: span 2;
  //   }
  // }
}
