.date {
  @include font-properties("Raleway", 16px, 24px);
  color: $color-orange;

  &--black {
    font-size: 14px;
    font-weight: 200;
    color: $color-black;
  }

  &--bold {
    @include font-properties("Playfair Display", 24px, 30px, 700);

    @include onTablet {
      font-size: 48px;
      line-height: 56px;

      margin-bottom: 20px;
    }
  }

  &--bold-events {
    @include font-properties("Playfair Display", 24px, 24px, 700);
    padding-left: 25px;

    @include onDesktop {
      padding-left: 80px;
    }

    @include onDesktop {
      font-size: 36px;
      line-height: 36px;
    }
  }

  &--transparent {
    @include font-properties("Playfair Display", 36px, 36px, 700);

    @include onDesktop {
      font-size: 56px;
      line-height: 56px;
    }

    color: transparent;
    -webkit-text-stroke: 1px $color-orange;

    margin-bottom: 10px;
  }
}
