.digest {
  &__title {
    @extend %playfair-bold;
    font-size: 48px;
    line-height: 57.6px;
    color: $primary-color;
    margin-bottom: 41px;
  }

  &__text {
    color: $primary-color;
    max-width: 570px;
  }
  &__form {
    position: relative;
    align-self: start;
  }
}

@media (max-width: 1200px) {
  .digest {
    &__title {
      margin-bottom: 30px;
    }

    &__text {
      color: $primary-color;
      max-width: 570px;
    }
    &__form {
      position: relative;
      align-self: start;
    }
  }
}

@media (max-width: 1200px) {
  .digest {
    &__title {
      margin-bottom: 40px;
      font-size: 36px;
      line-height: 36px;
    }

    &__text {
      color: $primary-color;
      max-width: 570px;
    }
    &__form {
      position: relative;
      align-self: start;
    }
  }
}
