.event {
  @include pageGrid;

  &__photo {
    grid-column: 1 / -1;

    height: 358px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include hover(transform, scale(1.05));


    @include onTablet {
      height: 422px;
      grid-column: 1 / 4;
    }

    @include onDesktop {
      height: 475px;
      grid-column: 1 / 5;
    }

    &--01 {
      background-image: url(../images/events/events-photo-01.png);
    }

    &--02 {
      background-image: url(../images/events/events-photo-02.png);
    }
  }


  &__content {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / -1;
    }

    @include onDesktop {
      grid-column: 5 / -1;
    }
  }

  &__date {
    padding-top: 20px;
    color: $clr--red;

    @include onTablet {
      padding: 0;
    }
  }

  &__title {
    padding-top: 10px;
  }

  &__text {
    padding-top: 20px;
    color: $clr--gray-1;
  }

  &__button {
    margin-top: 30px;

    @include onDesktop {
      margin-top: 50px;
      width: 270px;
    }
  }
}
