.events {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;

  @include on-tablet {
    @include page-grid;

    margin-bottom: 160px;
  }

  @include on-desktop {
    margin-bottom: 200px;
  }

  &--coming {
    margin-bottom: 90px;

    @include on-tablet {
      margin-bottom: 100px;
    }

    @include on-desktop {
      margin-bottom: 110px;
    }
  }

  &__title {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    line-height: 35px;
    padding-bottom: 60px;

    @include on-tablet {
      padding-bottom: 75px;
      grid-column: span 4;
      font-size: 40px;
      font-weight: 700;
      line-height: 50px;
    }

    @include on-desktop {
      font-size: 48px;
      line-height: 57.6px;
      grid-column: span 6;
      padding-bottom: 71px;
    }

    &--description {
      padding-bottom: 20px;

      @include on-tablet {
        grid-column: span 6;
      }

      @include on-desktop {
        padding-bottom: 50px;
      }
    }

    &--news {
      @include on-desktop {
        padding-bottom: 55px;
      }
    }
  }
}
