.event {
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 30px;

    @include on-tablet {
      margin: 0;
    }
  }

  @include on-tablet {
    grid-column: span 3;
    margin: 0;
  }

  &__img {
    min-height: 356px;
    object-fit: cover;
    object-position: center;

    @include on-tablet {
      min-height: 420px;
    }

    @include on-desktop {
      min-height: 484px;
    }
  }

  &__date {
    color: $accent-color;
    margin-block: 20px 10px;

    @include on-tablet {
      margin-block: 30px 10px;
    }

    @include on-desktop {
      margin-block: 20px 10px;
    }
  }

  &__subtitle {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: $black-color;
    margin-bottom: 20px;

    @include on-tablet {
      font-size: 24px;
      line-height: 30px;
    }

    &--news {
      @include on-tablet {
        font-size: 20px;
        margin-bottom: 18px;
      }
    }
  }

  &__info {
    color: $gray-color;
    margin-bottom: 30px;

    @include on-tablet {
      margin-bottom: 40px;
    }

    @include on-desktop {
      margin-bottom: 50px;
    }
  }
}
