.excursion {
  display: flex;
  flex-direction: column;
  max-width: 470px;

  &__type {
    margin-bottom: 10px;
  }

  &__name {
    @extend %playfair-bold;
    font-size: 24px;
    line-height: 125%;
    color: #1c1b29;
    margin-bottom: 20px;
  }

  &__description {
    line-height: 150%;
    color: #504f5e;
    margin-bottom: 50px;
  }
}

@media (max-width: 1200px) {
  .excursion {
    &__type {
      font-size: 14px;
    }

    &__description {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 700px) {
  .excursion {
    &__type {
      margin-bottom: 10px;
    }

    &__name {
      font-size: 24px;
      line-height: 125%;
      margin-bottom: 20px;
      max-width: 280px;
    }

    &__description {
      max-width: 270px;
    }

    &__button {
      width: 280px;
    }
  }
}
