.exhibition {

  &__title {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 75px;
    }

    @include onDesktop {
      margin-bottom: 70px;
    }
  }

  &__place {
    height: min-content;
  }

  &__button {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 164px;
    }
  }

  &__image {
    width: 100%;
    height: 356px;
    object-fit: cover;
    object-position: left;
    margin-bottom: 20px;

    @include onTablet {
      height: 420px;
      margin-bottom: 30px;
    }

    @include onDesktop {
      height: 484px;
      margin-bottom: 20px;
    }

    &--second {
      object-fit: cover;
      object-position: center;
    }
  }

  &__date {
    line-height: 24px;
    color: $color-orange;
    margin-bottom: 10px;
  }

  &__paragraph {
    color: $color-gray;
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }
  }
}
