.exhibitions {
  padding-top: 110px;

  &__container {

    display: flex;
    flex-direction: column;
  }

  &__header {

    display: contents;

    @include tablet-above {
      @include grid-template;
      margin-bottom: 69px;
    }

    @include desktop-above {}

  }

  &__title {
    font-weight: 700;
    font-size: rem(28);
    line-height: 120%;
    color: var(--color-black);
    margin-bottom: 60px;

    @include mobile-above {
      font-size: rem(40);
    }

    @include tablet-above {
      font-size: rem(36);
      grid-column: 1/5;
      margin-bottom: 0;
    }

    @include desktop-above {
      font-size: rem(48);
      grid-column: 1/11;
    }
  }

  &__header-button {
    order: 2;

    @include tablet-above {
      grid-column: -3/-1;
    }

    @include desktop-above {
      grid-column: -3/-1;
    }
  }

  &__header-decor {}

  &__main {
    margin-bottom: 30px;
    @include grid-template;

    @include tablet-above {
      margin-bottom: 0;
    }


  }

  &__card {}
}
