.exhibition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include onTablet {
    width: 50%;
  }

  &__date {
    padding-top: 20px;
    color: $clr--red;
  }

  &__title {
    padding-top: 10px;
  }

  &__text {
    padding-top: 20px;
    color: $clr--gray-1;
  }

  &__button {
    margin-top: 30px;

    @include onDesktop {
      margin-top: 40px;

      width: 270px;
    }

    @include onDesktop {
      margin-top: 50px;
    }
  }
}
