.exhibitions {
  padding-top: 160px;
  max-width: 770px;
  margin: auto;

  &__title {
    padding-left: 113px;
    @extend %playfair-bold;
    font-size: 48px;
    line-height: 57.6px;
    margin-bottom: 100px;
    color: #1c1b29;
  }

  &__date {
    text-align: end;
    padding-right: 201px;
    @extend %playfair-bold;
    font-size: 48px;
    line-height: 57.6px;
    color: #cd4d31;
    margin-bottom: 20px;
  }

  &__btn {
    right: 212px;

    &:after {
      width: 70px;
      left: 120px;
      top: 10px;
    }
  }
}

@media (max-width: 1200px) {
  .exhibitions {
    padding-top: 115px;

    &__title {
      margin-bottom: 55px;
    }

    &__date {
      text-align: start;
      padding-left: 200px;
    }

    &__btn {
      right: 45%;

      &:after {
        width: 170px;
        left: -35px;
        top: 25px;
      }
    }
  }
}

@media (max-width: 700px) {
  .exhibitions {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;

    &__title {
      margin-bottom: 60px;
      padding: 0;
      font-size: 36px;
    }

    &__date {
      text-align: start;
      padding: 0;
      font-size: 24px;
      margin-bottom: 10px;
    }

    &__btn {
      right: 32%;

      &:after {
        width: 130px;
        left: -15%;
        top: 25px;
      }
    }
  }
}
