.field-form {
  padding: 3px 0;
  margin-bottom: 30px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid $second-color;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $second-color;

  &::placeholder {
    color: $second-color;
  }

  @include onDesktop {
    margin-bottom: 40px;
  }

  &:hover {
    border-bottom: 1px solid $main-color;
  }

  &:hover::placeholder {
    color: $main-color;
  }

  &:focus {
    font-weight: 700;
    color: $main-color;
    border-bottom: 1px solid $main-color;
  }
}
