.follow {
  &__title {
    font-family: "Playfair Display", serif;
    font-size: 28px;
    line-height: 35px;
    font-weight: 700;
    color: #1c1b29;
    margin-bottom: 20px;

    @include onTablet {
      font-size: 40px;
      line-height: 50px;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 58px;
      margin-bottom: 50px;
    }
  }

  &__subtitle {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #1c1b29;
    margin-bottom: 50px;
  }

  &__input {
    font-family: "Raleway", sans-serif;
    height: 28px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background: $backg-col-wh;
    margin-bottom: 30px;
    outline: none;
    transition: all 0.5s ease;

    &::placeholder {
      transition: all 0.5s ease;
    }

    &:hover {
      border-color: $orange-text;

      &::placeholder {
        color: $orange-text;
      }
    }

    &:focus {
      border-color: $orange-text;
    }

    @include onDesktop {
      margin-bottom: 40px;
    }
  }

  &__btn {
    border: none;
  }
}
