.footer-section {
  margin-bottom: 60px;

  &__title {
    @include font-properties("Playfair Display", 24px, 30px, 700);

    margin-bottom: 30px;
  }

  &__phone {
    &--right {
      padding-left: 32px;
    }
  }

  &__contacts {
    margin-bottom: 20px;
  }

  &__item {
    margin-bottom: 5px;

    transition: color 0.3s;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: $color-light-gray;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__link {
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-3px);
    }
  }

  &__schedule {
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }
}
