.footer {
  padding-top: 30px;
  background-color: $bgc;

  @include onTablet {
    padding-top: 50px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px 30px;

    @include onTablet {
      display: grid;
      margin: 0 30px 30px;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__header {
    @include main-h2;
    margin-bottom: 20px;
    line-height: 30px;
    color: $white;

    @include onTablet {
      margin-bottom: 40px;
    }
  }

  &__contacts {
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 50px;
    }

    &__link {
      text-decoration: none;
    }

    &__item {
      @include time;
      color: $white;
      text-decoration: none;

      &--marg {
        margin-right: 10px;
      }

      &--scroll {
        @include onTablet {
          margin-bottom: 10px;
        }
      }
    }
  }

  &__phone {
    display: flex;
    width: max-content;
  }

  &__media {
    display: flex;
    flex-direction: row;

    &__facebook {
      background-image: url(../images/media/facebook.svg);
      @include bgi;
    }

    &__twitter {
      background-image: url(../images/media/twitter.svg);
      @include bgi;
    }

    &__telegram {
      background-image: url(../images/media/telegram.svg);
      @include bgi;
    }

    &__instagram {
      background-image: url(../images/media/instagram.svg);
      @include bgi;
    }
  }

  &__scrolls {
    display: flex;
    flex-direction: column;
  }

  &__privacy {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    padding-bottom: 20px;
  }
}
