.footer {
  background-color: $color-background;
  color: $color-white;
  padding: 34px 0;
  margin-bottom: 0;

  @include onTablet {
    padding: 50px 0 30px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  &__socials {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 50px;
  }

  &__schedule {
    display: flex;
    flex-direction: column;
    height: fit-content;

    &--list {
      padding: 0;
      list-style: none;
      margin-bottom: 50px;

      @include onTablet {
        margin-bottom: 60px;
      }

      @include onDesktop {
        margin-bottom: 70px;
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    height: fit-content;
  }

  &__bottom-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;

    @include onTablet {
      display: grid;
      grid-template-columns: auto auto 1fr;
      justify-items: flex-end;
    }
  }

  &__title {

    @extend %h;

    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    margin-bottom: 10px;

    @include onTablet {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }

  &__info {
    text-decoration: none;
    color: $color-white;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 0.5px solid transparent;
    width: fit-content;

    &:hover {
      border-bottom: 0.5px solid $color-white;
    }

    &--last {
      margin-bottom: 30px;

      @include onTablet {
        margin-bottom: 50px;
      }
    }



    &--bottom {
      font-size: 14px;
    }
  }
}
