.form {
  &__input {
    border: none;
    border-bottom: 1px solid $color-black;
    padding: 3px 0;
    outline: none;
    height: fit-content;
    margin-bottom: 30px;

    @include onDesktop {
      margin-bottom: 40px;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 24px;
      color: $color-black;
    }

    &:hover {
      border-bottom: 1px solid $color-orange;
      color: $color-orange;
    }

    &:focus {
      color: #cd4d31;
      border-bottom: 1px solid #cd4d31;
    }
  }

  &__button {
    outline: none;
    border: none;
  }
}
