.form {

  &__input {
    margin-bottom: 30px;
    width: 100%;
    background-color: #e5e5e5;
    border: none;
    border-bottom: 1px solid $blackColor;
    font-family: $textFont;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    &:hover {
      color: $mainColor;
      border-color: $mainColor;
    }

    &:hover::placeholder {
      color: $mainColor;
    }

    &:focus {
      outline: none;
      color: $mainColor;
      border-color: $mainColor;
    }

    &:focus::placeholder {
      color: $mainColor;
    }

    &:valid {
      font-weight: bold;
      color: $blackColor;
      border-color: $blackColor;
      background-color: #e5e5e5;
    }

    @include onDesktop {
      margin-bottom: 40px;
    }
  }
}
