.icon {
  display: block;
  background-size: cover;
  background-position: center;

  height: 20px;
  width: 20px;

  @include on-tablet {
    height: 30px;
    width: 30px;
  }

  @include hover(transform, scale(1.1));

  &--menu {
    background-image: url(../images/icons/icon-menu.svg);
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }

  &--arrow-up{
    background-image: url(../images/icons/icon-arrow.svg);
    transform: rotate(-90deg);
    filter: brightness(0) invert(1);

    &:hover {
      filter: none;
      transform: rotate(-450deg);
    }
    
    height: 30px;
    width: 30px;
  }
}
