.icon {
  display: block;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &-menu {
    height: 30px;
    width: 30px;
    background-image: url(../images/menu.svg);

    transition: scale 0.5s;

    &:hover {
      transform: scale(0.8);
    }
  }

  &-lang {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    text-transform: uppercase;

    background-color: $color-background;
    color: $color-white;
    border: none;
    outline: none;

    cursor: pointer;

    transition: color 0.3s;
    text-decoration: none;

    &:hover {
      color: $color-main;
    }
  }

  &-cross {
    height: 22px;
    width: 22px;
    background-image: url(../images/cross.svg);

    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $color-main;
    }
  }
}

select {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
