.icon {
  display: block;
  align-items: center;
  background-size: cover;
  height: 22px;
  width: 25px;

  @include hover(transform, scale(1.2));

  &--menu {
    background-image: url(/src/images/icons/menu--icon--2x.png);
    display: flex;
    object-fit: cover;
    height: 30px;
    width: 30px;
  }

  &--close {
    background-image: url(/src/images/icons/icon--close--2x.png);
    width: 22px;
    order: 1;

    @include on-tablet {
      order: 0;
    }
  }

  &--select-language {
    display: block;
    background-color: $background;
    color: $c-white;
    width: 42px;

    border: 0;
    font-family: $font-family-small;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    &:focus-visible {
      outline: 0;
    }

    &--header {
      display: none;

      @include on-tablet {
        display: block;
        width: 46px;
        background-color: $background;
        color: $c-white;
        border: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;

        &:focus-visible {
          outline: 0;
        }
      }
    }
  }

  &--contacts {
    height: 20px;
    width: 20px;
  }

  &--scroll-up {
    height: 30px;
    width: 30px;
  }
}
