.icon {
  display: block;
  align-items: center;
  background-size: cover;
  row-gap: 30px;
  height: 25px;
  width: 25px;

  &--menu {
    background-image: url(/src/images/icons/menu--icon--2x.png);
    display: flex;
    object-fit: contain;
  }

  &--close {
    background-image: url(/src/images/icons/icon--close--2x.png);
    height: 22px;
    width: 22px;
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
  }
}
