.icon {
  display: inline-block;
  width: 25px;
  height: 20px;

  &--burger {
    background: url(../images/icons/menu.svg);

    @include onTablet {
      // transform: translateX(-50%);
    }

    @include onDesktop {
      // transform: translateX(-100%);
    }

    &:hover {
      background: url(../images/icons/cross.svg) center no-repeat;
    }
  }

  &--cross {
    width: 25px;
    height: 20px;

    @include onTablet {
      // transform: translateX(-50%);
    }

    background: url(../images/icons/cross.svg) center no-repeat;
  }
}
