.icon {
  --icon-size: 30px;
  
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);

  background-image: url(/images/menu.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include desk-768 {
    margin-right: 20px;
  }

  &--cross {
    background-image: url(/images/cross.svg);
    margin: 0 0 0 20px;
    transform: translateX(200%);

    @include desk-768 {
      margin: 0 20px 0 0;
      transform: translateX(0);
    }
  }
}
