.img-wrapper {
  display: flex;
  justify-content: center;

  &__img--header {
    width: 245px;
    height: 273px;


    @media (min-width: 768px) {
      width: 443px;
      height: 494px;
    }

    @media (min-width: 1280px) {
      width: 625px;
      height: 663px;
    }
  }

  &__img--menu {
    display: none;

    @media (min-width: 768px) {
      display: block;
      width: 422px;
      height: 426px;
    }

    @media (min-width: 1280px) {
      width: 624px;
      height: 697px;
    }
  }

}

