.logo-link {
  display: inline-block;
  height: 40px;
  width: 123px;
  background: url(../images/NAMU.png) no-repeat center;
}

.lang-select {
  display: block;
  font-size: 16px;
  text-align: center;
  background-color: #3f5252;
  color: $primary-color;
  text-transform: uppercase;
  border: none;
}

.girl-description {
  position: absolute;
  color: $primary-color;
  top: 433px;
  right: 54px;
}

@media (max-width: 1200px) {
  .girl-description {
    display: none;
  }
}

.footer-main {
  @extend %flex-between;
  flex-wrap: wrap;
  margin-bottom: 77px;
  border: 1px solid #3f5252;
}

@media (max-width: 1200px) {
  .footer-main {
    gap: 40px;
  }
}

@media (max-width: 700px) {
  .footer-main {
    gap: 30px;
    margin-bottom: 40px;
  }
}

.soc-links {
  display: flex;
  gap: 20px;
}

.soc-media {
  transition: transform 0.3s;

  &:hover {
    transform: scale(85%);
  }
}

.member-text {
  list-style: none;
}

.member-link {
  display: block;
  text-decoration: none;
  transition: text-decoration 0.5s, color 0.5s;
  margin-bottom: 5px;

  &:hover {
    text-decoration: underline;
    color: teal;
  }
}

.girl-small {
  display: none;
}

@media (max-width: 700px) {
  .girl-small {
    display: block;
    height: 273px;
    bottom: 0;
    position: absolute;
    right: -90px;
    z-index: 1;
  }

  .girl-small-img {
    width: 245px;
    height: 273px;
  }
}
