.lang-select {
  width: 36px;
  height: 24px;
  line-height: 24px;
  color: $c-white;
  cursor: pointer;
  grid-row: 1 / 1;
  justify-self: center;

  &::after {
    position: relative;
    bottom: 10%;
    left: 10%;

    content: url(../images/icons/drop-down.svg);
  }
}
