.language-switcher {
  display: none;

  @include on-tablet {
    display: block;
  }

  &--menu {
    display: block;
  }

  &__select {
    width: 44px;
    height: 24px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;

    @include hover(transform, scale(1.05));

    &:focus {
      background-color: $background-color;
      border: none;
    }
  }
}
