.logo {
  background-image: url(../images/NAMUwhite.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 40px;
  width: 124px;

  @include hover (scale, 110%);

  @include onTablet {
    height: 26px;
    width: 118px;
  }
}
