.main {
  padding-block: 90px 80px;

  @include on-tablet {
    padding-block: 100px 128px;
  }

  @include on-desktop {
    padding-block: 110px 200px;
  }

  &__exhibitions {
    margin-bottom: 120px;

    @include on-tablet {
      margin-bottom: 160px;
    }

    @include on-desktop {
      margin-bottom: 200px;
    }
  }

  &__upcoming-events {
    margin-bottom: 90px;

    @include on-tablet {
      margin-bottom: 100px;
    }

    @include on-desktop {
      margin-bottom: 110px;
    }
  }

  &__plan-visit {
    margin-bottom: 90px;

    @include on-tablet {
      margin-bottom: 120px;
    }

    @include on-desktop {
      margin-bottom: 110px;
    }
  }

  &__news {
    margin-bottom: 120px;

    @include on-tablet {
      margin-bottom: 160px;
    }

    @include on-desktop {
      margin-bottom: 200px;
    }
  }
}
