.menu {
  height: 100vh;
  background-color: $background;
  position: relative;

  font-weight: 400;
  overflow: auto;

  &__content {
    height: 100vh;
    grid-column: 2;

    @include on-tablet {
      grid-column: 6;
    }
  }

  &__nav {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;

    padding: 0 0 40px;
  }
}
