.menu {
  box-sizing: border-box;
  background-color: $bgColor;
  min-height: 100vh;
  overflow: hidden;
  z-index: 10;
  
  &__combine {
    gap: 20px;
  
    @include onTablet {
      gap: 45px;
    }
  
    @include onDesktop() {
      gap: 45px;
    }
  }
  
  &__menu {
    display: none;
  }
  
  &__close {
    display: block;
  }
  
  &__lang {
    display: block;
  }
  
  &__navbar {
    margin-bottom: 30px;
  
    @include onDesktop {
      margin-bottom: 10px;
    }
  }
  
  &__top-block {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
  
    @include onTablet {
      margin-bottom: 50px;
      flex-direction: row;
      gap: 120px;
    }
  
    @include onDesktop {
      margin-bottom: 70px;
      flex-direction: row;
      gap: 80px;
    }
  }
  
  &__events {
    margin-bottom: 20px;
  }
  
  &__schedule {
    font-size: 14px;
    line-height: 140%;
  }
  
  &__time {
    font-family: $titleFont;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }
  
  &__address {
    font-size: 14px;
    line-height: 140%;
  }
  
  &__place {
    font-family: $titleFont;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }
  
  &__list {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
    font-family: $titleFont;
  
    @include onTablet {
      margin: 0 0 50px;
    }
  
    @include onDesktop {
      margin: 0 0 60px;
    }
  }
  
  &__item {
    margin-bottom: 20px;
  
    @include onTablet {
      margin-bottom: 30px;
    }
  
    @include onDesktop {
      margin-bottom: 60px;
    }
  }
  
  &__link {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
  
    @include onTablet {
      font-size: 48px;
      line-height: 120%;
    }
  
    @include onDesktop {
      font-size: 48px;
      line-height: 120%;
    }
  
    &:hover {
      border-bottom: 1px solid $whiteColor;
    }
  }
  
  &__line {
    margin-bottom: 40px;
  
    @include onTablet {
      margin-bottom: 50px;
    }
  
    @include onDesktop {
      margin-bottom: 60px;
    }
  }
  
  &__button {
  
    @include onTablet {
      margin-bottom: 30px;
    }
  
    @include onDesktop {
      margin-bottom: 100px;
    }
  }
  
  &__photo {
    margin: 0 auto;
    position: relative;
    display: none;
    width: 245px;
    height: 100%;
  
    @include onTablet {
      display: block;
      position: relative;
      width: 443px;
      height: 100%;
    }
  
    @include onDesktop {
      display: block;
      width: 625px;
      height: auto;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
