.menu {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $bgc;
  overflow: hidden;
  z-index: 1;

  transform: translateY(-100%);
  transition: transform 0.3s;

  &:target {
    transform: translateY(0);
  }

  &__image {
    position: absolute;
    background-image: url(../images/photos/burger.svg);
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    z-index: 0;

    @include onDesktop {
      height: 100%;
      background-size: contain;
    }
  }

  &__block {
    margin: 25px 55px 0;
  }

  &__schedAndAdr {
    position: relative;
    display: flex;
    margin-bottom: 60px;
    z-index: 1;

    &__fl {
      &--mar {
        margin-right: 70px;
      }

      &__sched {
        @include paragraph;
        font-weight: 400;
        line-height: 19px;

        &__time {
          @include paragraph;
          font-weight: 600;
          line-height: 24px;
        }
      }

      &__adr {
        @include paragraph;
        font-weight: 400;
        line-height: 19px;

        &__loc {
          @include paragraph;
          font-weight: 600;
          line-height: 24px;
        }
      }
    }
  }

  &__center {
    display: flex;
    flex-direction: column;

    &__head {
      @include burger;
      margin-bottom: 30px;
      font-weight: 700;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid $white;
      }
    }
  }

  &__stick {
    margin-bottom: 50px;
    width: 100%;

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 105px;
      background-color: $white;
      width: 100%;
      height: 1px;
    }
  }
}
