.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-bottom: 5px;

  @media (min-width: 768px) {
    margin-bottom: 10px;
  }
}

.nav__link {
  display: block;
  color: $white-accent;
  text-decoration: none;
  @extend %text-info;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: #CD4D31;
  }
}

.nav__list--main .nav__item {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .nav__list--main .nav__item .nav__link {
    font-size: 48px;
  }
}

.nav__list--main .nav__item:last-child {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin-bottom: 50px;
  }

}

