.nav {
  height: 584px;
  position: relative;
  padding: 20px;
  color: $white-text;

  &__info {
    display: none;
    @extend %smallest;
  }

  &__list {
    margin-top: 80px;
    line-height: 100%;

    list-style: none;
  }

  &__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $white-text;
    @extend %h3-m;
  }

  &__buttons {
    margin-top: 80px;
  }

  &__button:first-child {
    margin-bottom: 20px;
  }

  &__photo {
    display: none;
    height: 800px;
    position: absolute;
    bottom: 0;
    left: 650px;
  }

  @include tablet {
    height: 762px;
    padding: 20px 40px;

    &__container {
      padding: 0 60px;
    }

    &__info {
      display: block;
      margin-top: 30px;
    }

    &__list {
      margin-top: 55px;

      &::after {
        content: "";
        display: block;
        height: 1px;
        width: 570px;
        background-color: $white-text;
        transform: translateY(55px);
      }
    }

    &__item {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__link {
      font-family: "Playfair Display", serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 58px;
      letter-spacing: 0;
    }

    &__buttons {
      margin-top: 116px;
      display: flex;
      column-gap: 30px;
    }
  }

  @media (min-width: 1024px) {
    height: 800px;
    padding: 20px 55px;

    &__container {
      padding: 0;
    }

    &__info {
      height: 46px;
    }

    &__list {
      margin-top: 80px;
    }

    &__item {
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__photo {
      display: block;
    }
  }
}
