.news-article {

  @include onTablet {
    width: 50%;
  }

  &__image {
    height: 281px;

    @include onTablet {
      height: 330px;
    }

    @include onTablet {
      height: 370px;
    }

    @include hover(transform, scale(1.05));

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &--img01 {
      background-image: url(../images/news/news-img-01.png);
    }

    &--img02 {
      background-image: url(../images/news/news-img-02.png);
    }
  }

  &__date {
    padding-top: 20px;

    @include onTablet {
      padding-top: 30px;
    }

    @include onDesktop {
      padding-top: 20px;
    }

    color: $clr--gray;
    font-size: 14px;
    line-height: 140%; /* 19.6px */
  }

  &__text {
    padding-top: 20px;

    @include onTablet {
      padding-top: 18px;
    }

    color: $clr--gray-1;
  }
}
