.news {
  position: relative;
  &__nav {
    margin-top: 90px;

    @include onTablet {
      margin-top: 124px;
    }

    @include onDesktop {
      margin-top: 111px;
    }
  }

  &__button {
    position: absolute;
    bottom: -88px;

    @include onTablet {
      position: relative;
      bottom: 0;
    }
  }

  &__card {
    &:last-child {
      margin-top: -13px;

      @include onTablet {
        margin-top: 0;
      }
    }

    &-image {
      margin-top: 60px;
      width: 280px;
      height: 281px;
      object-fit: cover;
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.05);
      }

      @include onTablet {
        margin-top: 64px;
        height: 330px;
        width: 330px;
      }

      @include onDesktop {
        margin-top: 54px;
        height: 370px;
        width: 570px;
      }
    }

    &-date {
      margin-top: 16px;
      font-size: 14px;
      line-height: 20px;

      @include onTablet {
        margin-top: 26px;
      }

      @include onDesktop {
        margin-top: 15px;
      }
    }

    &-title {
      margin-top: -1px;
    }

    &-about {
      margin-top: 18px;

      @include onTablet {
        margin-top: 20px;
      }
    }
  }
}
