.page {
  background: $main-bg-color;

  &__menu {
    box-sizing: border-box;
    height: 100vh;
    background-color: $header-menu-bg-color;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    opacity: 0;
    transition: all 0.3s;
    transform: translateX(100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

p {
  font-family: Raleway, sans-serif;
}
