.page {
  font-family: $textFont;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $whiteColor;
  position: relative;
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    background: #e8f2ff;
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #3f5252;
  }
  
  &__body {
    background-color: #e5e5e5;
    margin: 0;
  }
  
  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform 0.5s;
  
    &:target {
      transform: translateX(0);
    }
  }
}
