.payment {
  color: rgba(241, 245, 244, 1);

  &__title {
    padding-top: 50px;
    margin: 0;
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 110%;

    @include desk-768 {
      padding-top: 80px;
      font-size: 62px;
    }

    @include desk-1280 {
      padding-top: 205px;
      font-size: 80px;
      line-height: 100px;
      min-height: 200px;
    }
  }

  &__about {
    margin-top: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    @include desk-768 {
      margin-top: 20px;
    }

    @include desk-1280 {
      margin-top: 10px;
    }
  }

  &__button-container {
    margin-top: 40px;

    @include desk-768 {
      margin-top: 60px;
    }

    @include desk-1280 {
      margin-top: 50px;
    }
  }

  &__img-container {
    display: none;

    @include desk-1280 {
      display: block;
      width: 100%;
      max-width: 800px;

    }
  }

  &__img {
    @include desk-1280 {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    @include desk-1600 {
      left: auto;
      right: 100vw / 2;
    }
  }

}
