.plan-a-visit {
  margin-top: 90px;
  background-color: $bg-color;
  padding: 50px 0;

  @include tablet {
    margin-top: 100px;
    padding: 80px 0;
  }

  @include desktop {
    margin-top: 110px;
    padding: 205px 0;
    padding-left: 550px;
    height: 800px;

    background-image: url('/src/images/plan-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__title {
    font-family: $bold-font-family;
    font-size: 38px;
    line-height: 38px;
    color: $white-color;

    @include tablet {
      font-size: 62px;
      line-height: 62px;
      max-width: 500px;
    }

    @include desktop {
      font-size: 80px;
      line-height: 80px;
      max-width: 670px;
    }
  }

  &__info {
    margin-top: 20px;

    color: $white-color;

    @include tablet {
      max-width: 450px;
    }

    @include desktop {
      max-width: 470px;
    }
  }

  &__button {
    margin-top: 40px;

    @include tablet {
      margin-top: 60px;
    }

    @include desktop {
      margin-top: 50px;
    }
  }
}
