.place {
  &__title {
    font-family: $fontPlayfair;
    font-size: 28px;
    line-height: 125%;
    text-align: center;

    @include onTablet {
      font-size: 40px;
      text-align-last: left;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 120%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;

  }

  &__date {
    line-height: 150%;
    color: $colorRed;
  }

  &__name {
    font-family: $fontPlayfair;
    font-size: 20px;
    line-height: 125%;

    @include onTablet {
      font-size: 24px;
    }
  }

  &__text {
    line-height: 150%;
    color: $colorGray;
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }
  }
}
