.plan-block {
  background-color: #3f5252;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (min-width: 1280px) {
    padding: 0;
  }

  &__title {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    font-family: 'Playfair Display', Arial, sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 1;
    margin-bottom: 20px;
    grid-column: 1 / 3;

    @media (min-width: 768px) {
      font-size: 62px;
      grid-column: 1 / 5;
    }

    @media (min-width: 1280px) {
      font-size: 80px;
      grid-column: 6 / 13;
      grid-row: 1 / 2;
      margin-top: 205px;
    }
  }

  &__text {
    grid-column: 1 / 3;
    margin-bottom: 40px;

    @media (min-width: 768px) {
      grid-column: 1 / 5;
      margin-bottom: 30px;
    }

    @media (min-width: 1280px) {
      grid-column: 6 / 12;
      grid-row: 2 / 3;
    }
  }

  &__image {
    display: none;
    width: 578px;
    height: 800px;
    justify-self: center;
    background-image: url('../images/plan-block.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: cover;

    @media (min-width: 1280px) {
      display: block;
      grid-column: 1 / 6;
      grid-row: 1 / 4;
    }
  }
}
