.plans {
  background-color: $clr--green;

  &__grid {
    @include pageGrid;
  }

  &__image {
    display: none;

    @include onDesktop {
      display: block;

      grid-column: 1 / 6;

      margin-left: -55px;
      background-image: url(../images/plans/plans-bg-01.png);
      background-repeat: no-repeat;
      background-size: contain;

      background-position: left bottom 0;
    }
  }

  &__col {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 5;
    }

    @include onDesktop {
      grid-column: 6 / -1;
    }
  }

  &__title {
    padding-top: 50px;

    color: $clr--bg;
    font-family: $font--secondary;
    font-size: 38px;
    font-weight: 700;
    line-height: 100%;

    @include onTablet {
      padding-top: 80px;

      font-size: 62px;
    }

    @include onDesktop {
      padding-top: 205px;

      font-size: 80px;
    }
  }

  &__text {
    padding-top: 20px;

    color: $clr--bg;

    @include onDesktop {
      padding-top: 10px;
      width: 70%;
    }
  }

  &__button {
    margin: 40px 0 50px;

    @include onTablet {
      margin: 60px 0 80px;

      width: 330px;
    }

    @include onDesktop {
      margin: 50px 0 205px;

    }
  }
}
