.plan-block {
  background-color: #3f5252;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;

  &__title {
    margin: 0;
    font-family: 'Playfair Display', Arial, sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    margin-bottom: 20px;
  }
}
