.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 60px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 16px;
  font-weight: 600;

  color: $white;
  background-color: $main;

  transition: background-color $effectDuration;

  @include on-tablet {
    width: 330px;
  }

  @include on-desktop {
    width: 270px;
  }

  &:hover {
    cursor: pointer;
    background-color: $main-dark;
  }

  &:active {
    background-color: $main-light;
  }

  &:disabled {
    background-color: $main-disabled;
  }
}
