.registration {
  background-color: $background-color;
  margin-bottom: 90px;

  @include on-tablet {
    margin-bottom: 120px;
  }

  @include on-desktop {
    background-image: url('../images/bg_plan-a-visit.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 110px;
  }

  &__content {
    padding-block: 50px;

    @include on-tablet {
      @include page-grid;

      padding-block: 80px;
    }

    @include on-desktop {
      padding-block: 205px;
    }
  }

  &__title {
    font-family: 'Playfair Display', serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 38px;
    color: $white-color;
    margin-bottom: 20px;

    @include on-tablet {
      grid-column: span 5;
      font-size: 62px;
      line-height: 62px;
    }

    @include on-desktop {
      grid-column: 6 / -1;
      font-size: 80px;
      line-height: 80px;
      margin-bottom: 10px;
    }
  }

  &__text {
    color: $white-color;
    margin-bottom: 40px;

    @include on-tablet {
      grid-column: span 4;
      margin-bottom: 60px;
    }

    @include on-desktop {
      grid-column: 6 / 11;
      margin-bottom: 50px;
    }
  }
}
