.schedule {
  grid-column: 1 / -1;

  &__title {
    color: $c-white;
    margin: 0;
  }

  &__list {
    grid-column: 1 / -1;
    list-style: none;
    padding: 0;
  }

  &__item {
    color: $c-white;
    font-family: $font-family-small;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}
