.schedule {
  margin-bottom: 50px;
  @media (min-width: 768px) {
   width: 370px;
  }

  &__title {
    @extend %footer-title-style;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    @extend %text-info;
    color: $white-accent;
  }
}




