.section-title {
  font-family: $font-family-big;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  color: $c-black;
  margin-bottom: 60px;
  grid-column: 1 / -1;

  @include on-tablet {
    font-size: 40px;
    line-height: 50px;
    grid-column: span 4;
  }

  @include on-desctop {
    font-size: 48px;
    line-height: 57.6px;
    grid-column: span 8;
  }

  &--footer {
    font-family: $font-family-small;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: $c-white;
    text-decoration: none;
    margin-top: 0;

    &--nav {
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      color: $c-white;
      text-decoration: none;
      padding-bottom: 5px;
    }
  }
}
