.subscription {

  &__grid {
    padding: 120px 0 80px;
    @include pageGrid;

    @include onTablet {
      padding: 160px 0 128px;
    }

    @include onDesktop{
      padding: 200px 0 200px;

    }
  }

  &__title {
    grid-column: 1 / -1;

    @include onDesktop {
      grid-column: 1 / 7;
    }
  }

  &__form {
    padding-top: 50px;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 5;
    }

    @include onDesktop {
      grid-column: 1 / 6;
    }
  }


  &__text {
    padding-top: 20px;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 6;
    }

    @include onDesktop {
      padding-top: 0;
      grid-column: 7 / -1;
    }

    color: $clr--gray;
  }
}
