.section-wrapper {
  @include page-grid;

  grid-template-rows: auto auto auto;

  &__title {
    grid-column: 1/-1;
    grid-row: 1/2;

    margin-bottom: 60px;

    color: $black;

    @include on-tablet {
      grid-column: span 4;

      margin-bottom: 75px;
    }

    @include on-desktop {
      grid-column: 1/7;

      margin-bottom: 70px;
    }
  }

  &__button {
    grid-column: 1/-1;
    grid-row: 3/-1;

    margin: 0 auto;

    @include on-tablet {
      grid-column: -3/-1;
      grid-row: 1/2;
    }
  }

  &__events {
    grid-column: 1/-1;
    grid-row: 2/3;

    @include page-grid;

    row-gap: 60px;

    margin-bottom: 30px;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__event {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__event--upcoming {
    @include on-tablet {
      grid-column: 1/-1;
      row-gap: 50px;
    }
  }

  &--news &__title {
    margin-bottom: 55px;
  }
}
