.section__title {
  color: #1c1b29;
  font-family: "Playfair Display", serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 125%;
  margin: 0 0 60px;
  grid-column: 1 / -1;

  @include onTablet {
    font-size: 40px;
    grid-column: 1 / 5;
    margin: 0;
  }

  @include onDesktop {
    font-size: 48px;
    grid-column: 1 / 7;
    margin-bottom: 71px;
  }
}
