.section-footer {
  position: relative;

  display: block;
  margin: 0 auto;
  width: max-content;

  transition: transform 0.3s;

  @include font-properties("Raleway", 16px, 16px, 400);
  color: $color-black;

  &:hover {
    transform: translateY(-10px);
  }

  &::after {
    content: "";
    display: block;
    margin: 11px auto 0;
    max-width: 130px;
    height: 1px;
    background-color: $color-black;

    &:hover {
      max-width: 150px;
    }

    @include onTablet {
      max-width: none;
    }

    @include onDesktop {
      content: "";
      position: absolute;
      top: -10%;
      left: 120%;
      right: -90px;
    }
  }
}
