.section {
  grid-column: 1 / 3;
  justify-items: center;

  @media (min-width: 768px) {
    grid-column: 1 / 4;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding-top: 60px;
    width: 280px;

    @media (min-width: 768px) {
      width: 330px;
    }

    &--cats {
      padding-top: 50px;
    }
  }

  &__title-container {
    width: 280px;
  }

  &__title {
    margin: 0;
    font-family: 'Playfair Display', Arial, sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    justify-self: start;

    &--digest {
      margin-bottom: 20px;
    }
  }

  &__item-title {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Playfair Display', Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
  }

  &__text {
    margin: 0;
    margin-bottom: 30px;

    &--cat {
      margin-bottom: 0;
    }

    &--digest {
      margin-bottom: 50px;
    }
  }

  &__dates {
    color: red;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;

    &--news {
      color: black;
      margin-bottom: 0;
    }
  }

  &--current {
    padding-top: 90px;
  }

  &--events {
    padding-top: 120px;
    padding-bottom: 90px;
  }

  &--news {
    padding-top: 90px;
    padding-bottom: 120px;
  }

  &--digest {
    padding-bottom: 80px;
  }
}
