.events {
  padding-bottom: 90px;

  @include onTablet {
    padding-bottom: 100px;
  }

  @include onDesktop{
    padding-bottom: 110px;
  }

  &__grid {
    @include pageGrid;
  }

  &__title {
    padding-top: 120px;
    grid-column: 1 / -1;

    @include onTablet {
      padding-top: 164px;

      grid-column: 1 / 5;
    }

    @include onDesktop {
      padding-top: 200px;

      grid-column: 1 / 7;
    }
  }

  &__btn {
    margin-top: 30px;

    height: 60px;

    grid-column: 1 / -1;
    grid-row: 3 / 4;

    @include onTablet {
      margin-top: 160px;
      width: 210px;
      justify-self: end;
      grid-column: 5 / -1;
      grid-row: 1 / 2;
    }

    @include onDesktop {
      width: 270px;

      margin-top: 200px;

      grid-column: 10 / -1;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 60px;

    grid-column: 1 / -1;
    padding-top: 60px;

    @include onTablet {
      padding-top: 70px;

      gap: 70px;
    }

    @include onDesktop {
      gap: 60px;
    }
  }
}
