.show {
  padding: 60px 20px;
  color: #1c1b29;

  &__title {
    @extend %h2-m;
    line-height: 125%;
    margin-bottom: 60px;
  }

  &__picture-text,
  &__picture-text-2 {
    display: none;
  }

  &__date {
    color: $color-red;
    margin-bottom: 5px;

    &-first {
      @extend %h3-m;
      margin-bottom: 10px;
    }
  }

  &__h3 {
    @extend %h3-m;
    margin-bottom: 30px;
    width: 90%;
  }

  &__button {
    // display: none;
    // margin-bottom: 100px;
  }

  &__descroption {
    width: 50%;
    margin-bottom: 90px;
  }

  &__container-2 &__descroption {
    margin-left: 50%;
  }

  @include tablet {
    padding: 115px 100px;

    &__title {
      margin-bottom: 55px;
      font-size: 48px;
      line-height: 120%;
    }

    &__container-1 {
      height: 380px;
    }

    &__container-2 {
      height: 300px;
    }

    &__container-3 {
      height: 300px;
    }

    &__info-block {
      margin-left: 200px;
    }

    &__container-2 &__info-block {
      margin-left: 0;
    }

    &__container-2 &__descroption {
      margin-left: 0;
    }

    &__date-first {
      margin-bottom: 20px;
      margin-left: -100px;
      font-size: 48px;
      line-height: 120%;
    }
  }

  @media (min-width: 1024px) {
    padding: 160px 55px;

    &__title {
      text-align: center;
    }

    &__picture-text {
      display: block;
    }

    &__container-1 {
      height: 550px;
      display: flex;
    }

    &__img-1 {
      transform: translateY(-250px);
    }

    &__descroption {
      margin-bottom: 50px;
    }

    &__picture-text-2 {
      display: block;
      position: relative;
    }

    &__img-2 {
      position: absolute;
    }

    &__container-2 {
      height: 560px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

    &__container-2 &__info-block {
      margin-right: -200px;
      justify-self: flex-start;
    }

    &__picture-text-3 {
      // display: block;
      position: relative;
    }

    &__img-3 {
      position: absolute;
    }

    &__container-3 {
      height: 560px;
      display: flex;
      // flex-direction: row-reverse;
      align-items: center;
    }
  }

}
