.subscribe {
  &__text {
    &-h3 {
      font-family: "Playfair Display", sans-serif;
      font-size: 28px;
      margin-bottom: 20px;

      color: $color-black;

      @include onTablet {
        font-size: 40px;
      }

      @include onDesktop {
        font-size: 48px;
        line-height: 120%;
        margin-bottom: 50px;
      }
    }

    &-date {
      color: $color-main;
      margin: 0 0 10px;
    }

    &-name {
      margin: 0 0 20px;

      font-family: "Playfair Display", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 125%;

      color: $color-black;

      @include onTablet {
        font-size: 24px;
      }
    }

    &-main {
      color: $color-black;

      margin-bottom: 50px;
    }
  }

  &__email {
    color: $color-black;
    height: 28px;

    width: 100%;
    border: 1px solid transparent;
    border-bottom: 1px solid $color-black;

    margin-bottom: 30px;

    @include onDesktop {
      margin-bottom: 40px;
    }

    &:hover {
      border-bottom: 1px solid $color-main;
      color: $color-main;
    }

    &:focus {
      outline: none;
    }

    &:hover::placeholder {
      color: $color-main;
    }

    &:valid {
      color: $color-black;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
    }
  }
}
