.subscription {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  grid-column: 1 / -1;

  @include onTablet {
    @include pageGrid;
    margin-bottom: 128px;
  }

  @include onDesktop {
    margin-bottom: 200px;
  }

  &__title {
    margin-bottom: 20px;

    @include onTablet {
      font-size: 40px;
      grid-column: 1 / -1;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 120%;
      grid-column: 1 / 7;
      margin-bottom: 50px;
    }
  }

  &__description {
    color: #1c1b29;
    margin: 0 0 50px;

    @include onTablet {
      grid-column: 1 / 7;
    }

    @include onDesktop {
      grid-column: 7 / -1;
    }
  }

  &__form {
    @include onTablet {
      grid-column: 1 / 5;

      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    @include onDesktop {
      grid-column: 1 / 6;

      grid-template-columns: repeat(5, 1fr);
    }

    &__data {
      width: 100%;
      height: 28px;
      padding: 0;
      color: #1c1b29;
      border: none;
      background-color: $main-color;
      border-bottom: 1px solid #1c1b29;
      outline: none;
      margin-bottom: 30px;
      font-size: 16px;
      font-family: "Raleway", sans-serif;
      line-height: 150%;
      transition: all 0.5s;

      &:focus {
        border-bottom: 1px solid #cd4d31;
        color: #cd4d31;
      }

      &:hover {
        border-bottom: 1px solid #cd4d31;
      }

      &:valid {
        font-weight: 700;
        color: #1c1b29;
        border-bottom: 1px solid #1c1b29;
      }

      &:focus::-webkit-input-placeholder {
        visibility: hidden;
      }

      &:hover::-webkit-input-placeholder {
        color: #cd4d31;
      }

      @include onTablet {
        grid-column: 1 / -1;
      }

      @include onDesktop {
        margin-bottom: 40px;
      }
    }
  }

  &__button {
    font-family: "Raleway", sans-serif;
    width: 100%;
    color: $main-color;
    padding: 0;
    border: none;
    cursor: pointer;

    @include buttonEvents;

    @include onTablet {
      grid-column: 1 / 4;
    }

    &__link {
      font-size: 16px;
      font-weight: 600;
      line-height: 100%;
    }
  }
}
