.text {
  &__h1 {
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: $color-white;

    @include onTablet {
      font-size: 72px;
    }

    @include onDesktop {
      font-size: 96px;
    }
  }

  &__additional {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    color: $color-white;
  }

  &__main {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $color-white;
  }

  &__h3 {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: $color-white;

    @include onTablet {
      font-size: 48px;
    }
  }

  &__h5 {
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;

    color: $color-white;

    @include onTablet {
      font-size: 20px;
    }
  }

  &__h6 {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: $color-white;
    opacity: 0.7;
  }
}
