.title {
  color: $black-color;
  font-family: Playfair Display, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 125%;

  @include onTablet {
    font-size: 40px;
  }

  @include onDesktop {
    font-size: 48px;
    line-height: 120%;
  }
}
