.title {

  &__section {
    color: $black;

    @include on-tablet {
      grid-column: 1 / -3;
    }

    @include on-desktop {
      grid-column: 1 / -4;
    }

    &--row {
      margin-bottom: 60px;

      @include on-tablet {
        @include page-grid;

        margin-bottom: 75px;
        align-items: center;
      }

      @include on-desktop {
        margin-bottom: 70px;
      }
    }
  }
}
