.top-actions {
  height: 40px;
  display: flex;
  justify-content: space-between;

  &__namu {
    display: block;
    height: 40px;
    width: 123px;
    background-image: url(../images/NAMU.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  &__menu-and-language {
    display: flex;
    column-gap: 40px;
    align-items: center;

    &--reverse {
      flex-direction: row-reverse;

      @include tablet {
        flex-direction: row;
      }
    }
  }

  &__toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
  }

  &__white-line {
    height: 2px;
    width: 25px;
    background-color: $white-text;
  }

  &__cross {
    height: 20px;
    width: 20px;
    background-image: url(../images/Group5.svg);
  }

  &__language {
    height: 24px;
    width: 55px;
    color: $white-text;
    background-color: $color-grey;
    border-color: $color-grey;

    &--mobile-none-display {
      @media (max-width: 768px) {
        display: none;
      }
    }

    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }
}
