.top-actions {
  padding: 20px 20px 0;

  &__logo {
    grid-row: 1 / 1;

    width: 123px;
    height: 40px;
    background: url(../images/namu.svg) center no-repeat;
  }

  &__lang {
    display: none;
    grid-row: 1 / 1;
    justify-self: end;

    @include onTablet {
      display: block;
    }
  }
}
