.top-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 55px 0;

  &--burger {
    margin: 25px 55px 35px;
  }

  &__logo {
    &__NAMU {
      height: 37px;
      width: 124px;
    }
  }

  &__link {
    margin-right: 40px;
    &__menu-image {
      height: 30px;
      width: 30px;
    }
  }
  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__cross {
    display: flex;
    margin-right: 40px;
    &__item {
      background-image: url(../images/arrow/cross.svg);
      width: 24px;
      height: 24px;
    }
  }

  &__language {
    &__item {
      height: 24px;
      width: 35px;
    }
  }
}
