.top-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    grid-column: 1 / 7;
  }

  &__menu-block {
    display: flex;
    flex-direction: row;
  }

  &__language-block {
    visibility: hidden;
  }

  &__icon-menu {
    display: block;
    width: 25px;
    height: 20px;
    background-image: url('/images/icons/menu.svg');
  }

  &__icon-close {
    display: block;
    width: 25px;
    height: 20px;
    background-image: url('/images/icons/close.svg');
  }
}
