.visit {
  display: flex;
  justify-content: center;
  max-width: 700px;
  position: relative;
  top: 190px;
  left: 555px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-self: flex-end;
  }

  &__title {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    color: $primary-color;
  }

  &__description {
    display: flex;
    gap: 60px;
    flex-direction: column;
    max-width: 470px;
    justify-content: center;
    padding-left: 90px;
  }

  &__text {
    color: $primary-color;
  }
}

@media (max-width: 1200px) {
  .visit {
    max-width: 523px;
    top: 120px;
    left: 100px;

    &__info {
      gap: 80px;
    }

    &__title {
      font-size: 72px;
    }

    &__description {
      max-width: 370px;
      justify-content: space-between;
      padding-left: 200px;
      text-align: justify;
    }

    &__text {
      color: $primary-color;
    }
  }
}

@media (max-width: 700px) {
  .visit {
    max-width: 280px;
    top: 80px;
    left: 20px;

    &__info {
      gap: 40px;
    }

    &__title {
      max-width: 280px;
      font-size: 48px;
    }

    &__description {
      max-width: 280px;
      padding: 0;
    }

    &__text {
      color: $primary-color;
      text-align: left;
    }

    &__btn {
      width: 280px;
    }
  }
}
