.visit {
  background-color: $color-background;
  background-repeat: no-repeat;
  background-position: center left;

  @include onDesktop {
    background-image: url(../images/img_07.webp);
  }

  &__text {
    &-h3 {
      font-family: "Playfair Display", sans-serif;
      font-size: 38px;
      line-height: 100%;
      padding-top: 50px;

      margin: 0 0 20px;

      @include onTablet {
        font-size: 62px;
        padding-top: 80px;
      }

      @include onDesktop {
        margin: 0 0 10px;
        padding-top: 205px;
        font-size: 80px;
        line-height: 125%;
      }
    }

    &-main {
      margin-bottom: 40px;

      @include onTablet {
        margin-bottom: 60px;
      }

      @include onDesktop {
        margin-bottom: 50px;
      }
    }
  }

  &__button {
    margin-bottom: 50px;

    @include onTablet {
      margin-bottom: 80px;
    }

    @include onDesktop {
      margin-bottom: 205px;
    }
  }
}
