.visit__plan {
  background-color: $bg-color;
  color: $white-accent;
  grid-column: 1 / -1;

  @media (min-width: 1280px) {
    background-image: url(../images/visit-img.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-wrapper {
    padding: 50px 20px;

    @media (min-width: 768px) {
      padding: 80px 38px;
    }

    @media (min-width: 1280px) {
      padding: 205px 55px;
      width: 670px;
      margin-left: auto;
    }
  }

  &-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 38px;
    font-family: $heading-font;
    font-weight: 700;

    @media (min-width: 768px) {
      font-size: 62px;
    }

    @media (min-width: 1280px) {
      font-size: 80px;
      margin-bottom: 10px;
    }
  }

  &-info {
    @extend %text-info;
    margin-bottom: 40px;
    color: $white-accent;

    @media (min-width: 768px) {
      margin-bottom: 60px;
      width: 450px;
    }

    @media (min-width: 1280px) {
      margin-bottom: 50px;
    }
  }

  &-button {
    @include button;
    margin-bottom: 0;

    @media (min-width: 768px) {
      width: 330px;
    }

    @media (min-width: 1280px) {
      width: 270px;
    }
  }
}






