.visit {
  position: relative;
  background-color: $colorBackground;
  color: $colorWhite;
  padding: 50px 0;

  @include onTablet {
    padding: 80px 0;
  }

  @include onDesktop {
    padding: 205px 0;
  }

  &__content {
    @include onTablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
    }

    @include onDesktop {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__photo {
    display: none;

    @include onDesktop {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      top: 20px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__title {
    font-family: $fontPlayfair;
    font-size: 38px;
    line-height: 100%;
    margin-bottom: 20px;

    grid-column: 1 / -1;

    @include onTablet {
      font-size: 62px;
    }

    @include onDesktop {
      grid-area: 1 / 6 / 2 / -1;
      font-size: 80px;
    }
  }

  &__text {
    line-height: 150%;
    margin-bottom: 40px;

    grid-column: 1 / 5;

    @include onTablet {
      margin-bottom: 60px;
    }

    @include onDesktop {
      grid-area: 2 / 6 / 3 / 11;
      margin-bottom: 50px;
    }
  }

  &__ticket {
    grid-column: 1 / 4;

    @include onDesktop {
      grid-area: 3 / 6 / 4 / 9;
    }
  }
}
