.header-wrapper {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 54px 52px 55px;
  align-content: space-between;
  height: 100vh;
  margin: auto;
}

@media (max-width: 1200px) {
  .header-wrapper {
    padding: 20px 60px 52px 40px;
  }
}

@media (max-width: 700px) {
  .header-wrapper {
    padding: 20px 20px 100px;
  }
}

.wrapper-hidden {
  padding: 20px 54px 52px 55px;
  box-sizing: border-box;
}

@media (max-width: 700px) {
  .wrapper-hidden {
    padding: 20px;
  }
}

.hide-wrap {
  display: flex;
  gap: 60px;
  margin-bottom: 80px;
}

@media (max-width: 1200px) {
  .hide-wrap {
    gap: 0;
    margin-bottom: 55px;
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .hide-wrap {
    display: none;
  }
}

.buttons-wrap {
  margin-top: 131px;
}

@media (max-width: 700px) {
  .buttons-wrap {
    margin-top: 100px;
  }
}

.nav-wrapper {
  width: 100%;
  height: inherit;
}

.main {
  background-color: $primary-color;
  max-width: 1440px;
  margin: 0 auto;
}

.main-wrapper {
  background-color: $primary-color;
  width: 100%;
  margin: auto;
}

@media (max-width: 1200px) {
  .main-wrapper {
    padding-top: 0;
  }
}

.types-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 308px;
  padding-bottom: 205px;
}

@media (max-width: 1200px) {
  .types-wrapper {
    gap: 150px;
    padding-bottom: 142px;
  }
}

@media (max-width: 700px) {
  .types-wrapper {
    gap: 90px;
  }
}

.excursions-wrapper {
  display: flex;
  flex-direction: column;
  gap: 77px;
}

.info-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;

  &--second {
    padding-bottom: 60px;
  }
}

@media (max-width: 1200px) {
  .info-wrapper {
    align-items: flex-start;
  }
}

@media (max-width: 700px) {
  .info-wrapper {
    flex-direction: column;
    gap: 20px;
  }
}

.container-green {
  background: url(../images/visit.png), url(../images/header.jpg);
  background-repeat: no-repeat, repeat;
  background-position: bottom left, 100%;
  height: 800px;
  width: 100%;
  box-sizing: content-box;
}

@media (max-width: 1200px) {
  .container-green {
    background-size: 431px 462px, auto;
    height: 705px;
    background-position-x: -70px, 100%;
  }
}

@media (max-width: 700px) {
  .container-green {
    background: url(../images/header.jpg);
    height: 584px;
  }
}

.container-news {
  padding: 120px 55px 184px;
  display: flex;
  flex-direction: column;
  gap: 75px;
  margin-bottom: 110px;
}

@media (max-width: 1200px) {
  .container-news {
    padding: 115px 100px 127px;
  }
}

@media (max-width: 700px) {
  .container-news {
    padding: 60px 20px 91px;
    gap: 60px;
  }
}

.container-red {
  height: 459px;
  background-color: #cd4d31;
}

@media (max-width: 1200px) {
  .container-red {
    height: 532px;
  }
}

@media (max-width: 700px) {
  .container-red {
    height: 516px;
  }
}

.digest-wrap {
  padding: 160px 55px 55px;
}

@media (max-width: 1200px) {
  .digest-wrap {
    padding: 110px 100px 120px;
  }
}

@media (max-width: 700px) {
  .digest-wrap {
    padding: 80px 20px;
  }
}

.subscribe-wrap {
  display: flex;
  gap: 140px;
}

@media (max-width: 1200px) {
  .subscribe-wrap {
    flex-wrap: wrap;
    gap: 107px;
  }
}

@media (max-width: 700px) {
  .subscribe-wrap {
    flex-direction: column;
    gap: 87px;
  }
}

.footer-wrapper {
  padding: 160px 48px 20px 55px;
}

@media (max-width: 1200px) {
  .footer-wrapper {
    padding: 120px 27px 35px 100px;
  }
}

@media (max-width: 700px) {
  .footer-wrapper {
    padding: 70px 20px 38px;
  }
}

.background-wrapper {
  background: url(../images/234_belm3506_1_large.png),
    url(../images/Art1.png),
    url(../images/1243603241.png),
    url(../images/Art2.png),
    url(../images/3354.png),
    $primary-color;
  background-repeat: no-repeat;
  background-position: top left,
    center right,
    center right,
    bottom left,
    bottom left;
  margin-bottom: 260px;
}

@media (max-width: 1200px) {
  .background-wrapper {
    margin-bottom: 127px;
    background: $primary-color;
  }
}

.daytime-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 700px) {
  .daytime-wrapper {
    flex-direction: row;
  }
}

.header-container,
.footer-container {
  background-color: #3f5252;
}

.main-container {
  background-color: #f1f5f4;
}
