.wrap {
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  height: max-content;
  
  @include media-768 {
    max-width: 768px;
    padding: 0 39px;
  }
  
  @include media-1280 {
    max-width: 1280px;
    padding: 0 55px;
  }
}
