.action-form {
  padding: 50px 0;
  background-color: $c-background-gray;

  @include onTablet {
    padding: 80px 0;
  }

  @include onDesktop {
    padding: 204px 0;
  }

  &__content {
    @include onDesktop {
      position: relative;
      margin-left: 500px;
    }
  }

  &__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    color: $c-text-on-dark;

    @include onTablet {
      font-size: 62px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }

  &__description {
    margin-bottom: 40px;

    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $c-text-on-dark;

    @include onTablet {
      margin-bottom: 60px;
    }

    @include onDesktop {
      margin-bottom: 60px;
      width: 470px;
    }
  }

  &__image {
    display: none;

    @include onDesktop {
      position: absolute;
      top: -204px;
      left: -556px;
      display: block;

      height: 780px;
    }
  }
}
