.actuals {
  &__title-text {
    display: block;
    margin: 0 0 60px;
    @include h3;
    color: $colorBlack;
    text-align: center;

    @include onTablet {
      display: grid;
      margin: 0 0 70px;
      text-align: left;
    }

    @include onDesktop {
      display: grid;
      margin: 0 0 70px;
      text-align: left;
    }
  }

  &__title-button {
    display: none;

    @include onTablet {
      display: block;
      width: 210px;
    }

    @include onDesktop {
      display: block;
      width: 100%;
    }
  }
}
