.actual-exhibition {

  &__title {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 75px;
    }

    @include onDesktop {
      margin-bottom: 70px;
    }
  }
  &__place {

    &--1 {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 0;
    }
    }

    &:last-child {
      margin-bottom: 120px;

      @include onTablet {
        margin-bottom: 0;
      }
    }
  }
}
