.actual {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 90px;
  padding-bottom: 5px;
  background-color: $White;
  box-sizing: border-box;

  &__top {
    &-h2 {
      width: 280px;
      font-size: 28px;
      line-height: 32px;

      margin: 0;
      text-align: center;
      font-family: 'Playfair Display', sans-serif;

      @include on-tablet {
        display: block;
      }

      @include on-desktop {
        font-size: 48px;
        width: 570px;
        text-align: left;
      }
    }

    &-img {
      width: 280px;
      height: 356px;
      cursor: pointer;
      margin-top: 60px;
      background-size: cover;

      @include on-tablet {
        height: 420px;
        width: 330px;
      }

      @include on-desktop {
        width: 580px;
        height: 484px;
      }
    }

    &-date {
      color: $Main;
      margin: 0;

      margin-top: 20px;
      margin-bottom: 10px;
      font-family: Raleway, sans-serif;
    }

    &-h3 {
      width: 280px;
      height: 50px;
      margin-bottom: 20px;
      font-family: 'Playfair Display', sans-serif;

      @include on-tablet {
        font-size: 24px;
        line-height: 30px;
      }

      @include on-desktop {
        width: 579px;
      }
    }

    &-p {
      @include on-tablet {
        width: 330px;
      }

      @include on-desktop {
        width: 579px;
      }

      width: 260px;
      color: $Gray;
      margin-bottom: 30px;
      font-family: Raleway, sans-serif;
    }
  }

  &__bottom {
    margin-top: 60px;
    position: relative;

    &-img {
      width: 280px;
      height: 356px;
      cursor: pointer;

      @include on-tablet {
        height: 420px;
        width: 330px;
      }

      @include on-desktop {
        width: 580px;
        height: 484px;
      }
    }

    &-p-01 {
      color: $Main;
      width: 280px;
      margin-top: 20px;
      font-family: Raleway, sans-serif;
    }

    &-h3 {
      margin-top: 10px;
      font-family: 'Playfair Display', sans-serif;

      @include on-tablet {
        height: 50px;
        font-size: 24px;
        line-height: 30px;
      }

      @include on-desktop {
        width: 569px;
      }
    }

    &-p-02 {
      color: $Gray;
      width: 280px;
      margin-top: 20px;
      margin-bottom: 30px;
      font-family: Raleway, sans-serif;

      @include on-tablet {
        width: 330px;
      }

      @include on-desktop {
        width: 569px;
      }
    }

    /* button-shopping */

    &-archives {
      gap: 8px;
      width: 280px;
      height: 60px;
      display: flex;
      cursor: pointer;
      margin-top: 35px;
      align-items: center;
      box-sizing: border-box;
      border: 1px solid $Main;
      justify-content: center;

      @include hover(transform, scale(1.06));

      &-p {
        color: $Main;
        font-size: 16px;
        line-height: 16px;
        font-family: Raleway, sans-serif;
      }

      &-arrow {
        width: 18px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../icon/arrow-img.svg');
      }

      @include on-tablet {
        right: 0;
        top: -21%;
        width: 210px;
        position: absolute;
      }
    }

    @include on-tablet {
      align-self: flex-end;
    }
  }

  @include on-tablet {
    gap: 30px;
    justify-content: center;
    flex-direction: row;
  }
}
