.actual-exhibition-section {

  &__article {
    margin-bottom: 60px;

    &--position {
      margin-bottom: 30px;
    }
  }

  &--button-position {
    padding-top: 10px;
    position: relative;
  }

  &__secondary-button {

    @include onIpad {
      position: absolute;
      top: 0;
    }
  }
}
