.actual-exhabition {

  &--margin-bottom-120 {
    margin-bottom: 120px;
  }

  &__title-row {
    margin-bottom: 60px;

    @include onTablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .actual-exhabition__button {
      display: none;

      @include onTablet {
        display: flex;
        max-width: 210px;
      }

      @include onDesktop {
        max-width: 270px;
      }
    }
  }

  &__row {
    margin-bottom: 30px;

    @include onTablet {
      display: flex;
      justify-content: space-between;
      gap: 30px;
    }
  }

  &__item {
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: 60px;
    }

    @include onTablet {
      flex: 1 1 48%;
    }
  }

  &__image-box {
    height: 360px;
    margin-bottom: 20px;
    overflow: hidden;

    @include onTablet {
      height: 420px;
    }

    @include onDesktop {
      height: 480px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: 300ms;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__period {
    display: inline-block;
    margin-bottom: 10px;
    color: $main;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  &__name {
    margin-bottom: 20px;
    color: $black;
    font-size: 20px;
    font-weight: 700;
    line-height: 125%;
  }

  &__description {
    margin-bottom: 30px;
    color: $gray;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  &__button {
    @include onTablet {
      display: none;
    }
  }
}