.actual-exhibitions {
  &__cards {
    @include onTablet {
      display: flex;
      gap: 28px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 60px;

    &--last {
      margin-bottom: 28px;
    }

    @include onTablet {
      flex-basis: 50%;
      margin-bottom: 0;
    }
  }
}
