.actual {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  @include onTablet {
    flex-direction: row;
    gap: 30px;
  }

  &__card {
    width: 330px;

    @include onDesktop {
      width: 570px;
    }

    &--image {
      margin-bottom: 20px;
      height: 355px;
      width: 100%;
      object-fit: cover;

      @include onDesktop {
        height: 485px;
      }
    }

    &--date {
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #cd4d31;
      margin-bottom: 10px;
    }

    &--title {
      height: 60px;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #1c1b29;
      margin: 0;
      padding-bottom: 20px;
    }

    &--specification {
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #504f5e;
      margin-bottom: 50px;
    }

    &--button {
      width: 100%;

      @include onTablet {
        width: 270px;
      }
    }
  }
}
