.actual-exhibitions {
  @include page-grid;

	&__list {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }
}

.list {
	&__photo {
    width: 100%;
    height: auto;
    object-fit: cover;

    @include hover (transform, scale(1.05));
  }

	&__period {
    line-height: 24px;
    color: $color-red;
	}

	&__title {
    margin: 10px 0 20px;
	}

	&__description {
    line-height: 24px;
	}
}

.photo-indent {
  margin-top: 60px;

  @include on-tablet {
    margin-top: 0;
  }
}
