.actual {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__header {
    font-size: 48px;
    line-height: 58px;
    color: #1c1b29;
    text-align: center;

    @include for-tablet {
      font-size: 36px;
      line-height: 45px;
    }

    @include for-phone {
      text-align: start;
      padding: 0 20px;
    }
  }

  &__block {
    display: flex;
    align-self: center;

    @include for-phone {
      padding-bottom: 60px;
    }
  }

  &__link {
    display: inline-block;
    align-self: center;
    padding-right: 0;
    padding-top: 50px;
    padding-bottom: 5px;
    margin-bottom: 130px;
    border-bottom: 1px solid black;

    @include second-font-small;
    line-height: 16px;
    color: #1c1b29;

    @include for-laptops {
      border: 0;
      padding-top: 50px;
      padding-right: 200px;
      align-self: flex-end;
    }
  }


}
