.actual-events {

  &--margin-top {
    margin-top: 90px;

    @include onTablet {
      margin-top: 105px;
    }

    @include onSmallDesktop {
      margin-top: 110px;
    }
  }

  &__top {
    @extend %for-infotop;
  }

  &__primary-subtitle {
    @extend %for-subtitle;
  }

  &__container {
    @extend %container;
    @extend %paddings;
  }

  &__info-block {
    box-sizing: border-box;
    width: 100%;
  }

  &__img {
    width: 100%;
    height: 356px;
    object-fit: cover;

    @include onTablet {
      height: 420px;
    }

    @include onSmallDesktop {
      height: 484px;
    }

    &--margins {
      margin: 60px 0 20px;

      @include onTablet {
        margin: 75px 0 30px;
      }

      @include onSmallDesktop {
        margin: 71px 0 20px;
      }
    }
  }

  &__date {
    @extend %events-date;
  }

  &__subtitle {
    @extend %events-subtitle;

    &--margins {
      @extend %event-subtitle-margins;
    }
  }

  &__description {
    @extend %events-description;

    &--margin-bottom {
      @extend %events-description-margin-bottom;
    }
  }
}
