.additional-link {
  &__wrapper {
    display: flex;
    justify-content: flex-end;
    max-width: $mx-width - 237;
    // height: min-content;

    @media (max-width: $mx-width - 1) {
      max-width: 100%;
      justify-content: center;
    }
  }

  &__container {
    position: relative;
    width: 170px;
    text-align: center;
  }

  &__link {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #1c1b29;
  
    &::after {
      position: absolute;
      bottom: 40%;
      right: -70px;
      content: "";
      width: 70px;
      height: 1px;
      background-color: #1c1b29;
  
      @media (max-width: $mx-width - 1) {
        width: 170px;
        bottom: -11px;
        left: 0;
      }
    }
  }
}
