.additional-link {
  display: flex;

  @media (max-width: $mx-width - 1) {
    justify-content: center;
  }

  &__wrapper {
    width: 900px;

    @media (max-width: $mx-width - 1) {
      width: 0;
    }
  }

  &__container {
    position: relative;
    padding-right: 20px;
    width: min-content;
    text-align: center;

    @media (max-width: $mx-width - 1) {
      width: 170px;
      padding-right: 0;
    }
  }

  &__link {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #1c1b29;
  
    &::after {
      position: absolute;
      bottom: 40%;
      right: -70px;
      content: "";
      width: 70px;
      height: 1px;
      background-color: #1c1b29;
  
      @media (max-width: $mx-width - 1) {
        width: 170px;
        bottom: -11px;
        left: 0;
      }
    }
  }
}
