.additional-link {
  position: relative;
  width: min-content;

  @media (max-width: $mx-width - 1) {
    margin-top: 142px;
    margin-bottom: 127px;
  }

  @media (max-width: 767px) {
    margin-top: 100px;
    margin-bottom: 112px;
  }

  &__link {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #1c1b29;

    &::after {
      position: absolute;
      bottom: 40%;
      right: -89px;
      content: "";
      width: 70px;
      height: 1px;
      background-color: #1c1b29;

      @media (max-width: $mx-width - 1) {
        width: 170px;
        bottom: -11px;
        left: -25%;
      }
    }
  }
}
