.card {
  display: flex;
  flex-direction: column;

  &__date {
    color: $main-color;

    &--news {
      color: $black;
    }
  }

  &__title {
    margin: 0;
    padding-top: 10px;
  }

  &__additional {
    padding-top: 20px;

    &--event {
      padding-bottom: 30px;

      @include on-tablet {
        padding-bottom: 50px;
      }
    }
  }
}

.img {
  @include image;
  @include hover(scale, 105%);

  &--left {
    object-position: left;
  }
}

a {
  color: $white;
  text-decoration: none;
}

.section-title {
  color: $black;
}

input {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 150%;

  box-sizing: border-box;

  border: none;

  outline: none;

  border-bottom: 1px solid $black;
  background-color: $white;

  &:hover {
    border-bottom: 1px solid $main-color;
  }

  &:focus {
    color: $main-color;
  }

  &::placeholder {
    color: $black;
  }

  &:hover::placeholder {
    color: $main-color;
  }

  &:focus::placeholder {
    color: $white;
  }
}

ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
