.ads {
  background-color: $background-color;
  padding: 50px 0;

  @include onTablet {
    background-image: none;
    padding: 80px 0;
  }

  @include onDesktop {
    padding: 205px 0;
    background-image: url(../images/ads__background.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 550px;
  }
  &__title {
    color: $white-color;
    font-size: 38px;
    line-height: 100%;

    margin-bottom: 20px;

    @include onTablet {
      font-size: 62px;
    }

    @include onDesktop {
      margin-bottom: 10px;
      font-size: 80px;
    }
  }

  &__info {
    font-family: "Raleway", sans-serif;
    color: $white-color;
    line-height: 150%;
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 60px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }
  }
}
