.after {
  @include onDesktop {
    margin-top: 146px;
    margin-bottom: 57px;
    display: flex;
    width: 510px;
    gap: 20px;
    align-items: baseline;

    &__num {
      &:after {
        display: block;
        width: 100px;
        content: "10.08 - 10.10";
        color: $textColor;
        font-family: "Playfair Display", serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
      }
    }

    &__line {
      border-bottom: 1px solid $textColor;
      width: 316px;
    }
  }
}
