.all-items {
  line-height: 16px;
  text-align: center;

  &:after {
    content: "";
    display: block;
    margin: 11px auto 0;
    width: 130px;
    height: 1px;

    background-color: $color-black;
  }
}
