.anim {
  transition-duration: $anim-time;
  opacity: 0;
  transform: translateY(100%);

  &--image {
    transform: translateY(0) scale(0.5);
  }

  &--active {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}
