.announce {
  background-color: #3F5252;
  height: 416px;
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
  position: relative;

  @include onTablet {
    height: 515px;
    padding: 80px 39px;
  }

  @include onDesktop {
    height: 800px;
    padding: 0;
  }

  &__photo {
    display: none;

    @include onDesktop {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      height: 800px;
      width: 578px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    color: #f1f5f4;
    white-space: nowrap;

    @include onTablet {
      font-weight: 700;
      font-size: 62px;
      line-height: 100%;
      margin-bottom: 20px;
    }

    @include onDesktop {
      margin-top: 205px;
      font-weight: 700;
      font-size: 80px;
      line-height: 100%;
    }
  }

  &__text {
    @include fontRalewayBig;
    color: #F1F5F4;
    margin: 0;
    margin-bottom: 40px;

    @include onTablet {
      margin: 0;
      margin-bottom: 60px;
    }
  }
}
