.announce {
  &__date {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  &__title {
    width: 280px;
    margin-bottom: 30px;
    font-family: $_playfair;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;

    @include onTablet {
      width: 570px;
      margin-bottom: 20px;
      font-size: 72px;
    }

    @include onDesktop {
      width: 570px;
      font-size: 96px;
    }
  }

  &__description {
    width: 268px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    @include onTablet {
      width: 330px;
      margin-bottom: 50px;
    }

    @include onDesktop {
      width: 100%;
      margin-bottom: 81px;
    }
  }

  &__button {
    @include onDesktop {
      margin-bottom: 130px;
    }
  }

  &__footer {
    display: none;

    @include onDesktop {
      display: block;
      position: relative;

      & hr {
        opacity: 0.3;
      }

      &--text {
        position: absolute;
        top: -11px;
        padding-right: 20px;
        font-family: $_playfair;
        font-weight: 700;
        font-size: 14px;
        line-height: 125%;
        background-color: $backGroundDark;
      }
    }
  }
}
