.announcement {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__block {
    grid-column: 1 / -1;

    @include on-tablet {
      @include page-grid;

      width: 740px;
      height: 75px;
      margin-bottom: 20px;
    }

    @include on-desktop {
      width: 1200px;
    }

    @include on-design {
      width: 1260px;
    }
  }

  &__history {
    display: none;

    @include on-tablet {
      @include button-second;

      width: 240px;
      display: flex;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 900;
      align-items: center;
      text-align: center;
      grid-column: 5 / -1;

      &--arrow {
        width: 150px;
        height: 40px;

        /* background-image: url(../imagewasp/fire-grass.png); */

        background-position: center;
        background-size: cover;
      }
    }

    @include on-desktop {
      width: 240px;
      grid-column: 10 / -1;
    }

    &--end {
      @include button-second;

      width: 280px;
      display: flex;
      align-items: center;
      text-align: center;
      margin-bottom: 40px;

      @include on-tablet {
        display: none;

      }
    }

    &--arrow {
      display: flex;
      align-items: center;
      text-align: center;
      width: 150px;
      height: 40px;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 700;

      /* background-image: url(../imagewasp/fire-grass.png); */

      background-position: center;
      background-size: cover;
    }

    &--end-2 {
      @include button-second;

      width: 280px;
      display: flex;
      margin-bottom: 0;

      &--arrow {
        width: 160px;
        height: 40px;

        /* background-image: url(../imagewasp/fire-grass.png); */

        background-position: center;
        background-size: cover;
      }

      @include on-tablet {
        display: none;
      }
    }
  }

  &__event {
    @include page-grid;

    @include on-tablet {
      gap: 20px;
    }
  }

  &__events {
    @include page-grid;

    @include on-tablet {
      gap: 20px;
    }
  }
}

/* .events__text {
  background-size: cover;
  background-position: center;

  @include hover(transform, scale(1.05));
  &::before {
    display: none;

    transform: translateY(-600px);

    @include on-tablet {
      transition: $effect-duration;
      display: inline-block;
      position: absolute;
      z-index: 2;
      right: 2rem;
      bottom: 2rem;
      font-family: "Days One", sans-serif;
      font-size: 0.6rem;
      font-weight: bold;
      content: attr(data-author);
      color: $hover;
      opacity: 0;
      text-shadow: 0 0 5px $white;
      transform: translateY(-520px);
    }

    @include on-desktop {
      grid-column: 1 / 7;
      transform: translateY(-380px);
    }
  }

  &:hover::before {
    opacity: 1;
    text-shadow: 0 0 5px $white,
    -2px 2px 10px $white,
    2px -2px 10px $white,
    -2px -2px 10px $white,
    2px 2px 10px $white;
    font-size: 1rem;
  }
} */

.events {
  &__dream {
    grid-column: 1 / -1;
    margin-bottom: 60px;

    @include on-tablet {
      grid-column: 1 / 4;
      margin-bottom: 20px;
    }

    @include on-desktop {
      grid-column: 1 / 7;
      margin-bottom: 10px;
    }
  }

  &__tests {
    grid-column: 1 / -1;
    margin-bottom: 33px;

    @include on-tablet {
      grid-column: 4 / -1;
      margin-bottom: 20px;
    }

    @include on-desktop {
      grid-column: 7 / -1;
      margin-bottom: 10px;
    }
  }

  &__image {
    width: 360px;
    height: 270px;
    transition: all $effect-duration;

    @include hover(transform, scale(1.05));

    @include on-tablet {
      grid-column: span 3;
      width: 360px;
      height: 260px;
    }

    @include on-desktop {
      grid-column: span 6;
      object-fit: cover;
      width: 585px;
      height: 480px;

      transition: all $effect-duration;

      @include hover(transform, scale(1.05));
    }

    @include on-design {
      grid-column: span 6;
      object-fit: cover;
      width: 615px;
      height: 480px;

      transition: all $effect-duration;

      @include hover(transform, scale(1.05));
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    transition: $effect-duration;

    @include hover(transform, scale(1.1));

    @include on-desktop {
      @include hover(transform, scale(1.1));
    }
  }

  &__about {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include on-tablet {
      width: 360px;
    }

    @include on-desktop {
      width: 585px;
    }

    @include on-design {
      width: 615px;
    }
  }

  &__date {
    display: block;
    color: $light-steel;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &__name {
    font-family: "Days One", sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 20px;

    @include on-tablet {
      font-size: 22px;
      width: 360px;
      height: 20px;
    }

    @include on-desktop {
      height: 20px;
      width: 585px;
    }

    @include on-design {
      width: 615px;
    }
  }

  &__description {
    color: $gray;
    margin: 0 0 30px;

    @include on-tablet {
      width: 360px;
      height: 630px;
      margin: 0 0 20px;
    }

    @include on-desktop {
      width: 585px;
      height: 400px;
      margin: 0 0 20px;
    }

    @include on-design {
      width: 615px;
      height: 360px;
    }
  }

  &__button {
    @include button-prime;

    margin-left: 40px;
    grid-column: 1 / -1;
    width: 280px;

    @include on-tablet {
      width: 260px;
      margin-left: 50px;
    }

    @include on-desktop {
      width: 270px;
      margin-left: 157px;
    }

    &--container {
      position: absolute;
      bottom: 0;
      right: 65px;
      visibility: hidden;
      opacity: 0;
      transition: all $effect-duration ease-in-out;
    }

    &:hover &--container {
      transition: $effect-duration ease-in-out;
      visibility: visible;
      opacity: 1;
    }
  }
}

.event {
  @include on-tablet {
    @include page-grid;

    width: 100%;
  }

  &__herson {
    grid-column: 1 / -1;
    margin-bottom: 60px;

    @include on-tablet {
      @include page-grid;

      width: 100%;
      margin-bottom: 1px;
    }
  }

  &__bakhmut {
    grid-column: 1 / -1;
    margin-bottom: 33px;

    @include on-tablet {
      @include page-grid;

      margin-bottom: 0;
    }
  }

  &__image-left {
    grid-column: 1 / -1;
    width: 360px;
    height: 260px;
    transition: all $effect-duration;

    @include hover(transform, scale(1.02));

    @include on-tablet {
      grid-column: 1 / 4;
      width: 360px;
      height: 260px;
    }

    @include on-desktop {
      grid-column: 1 / 5;
      width: 585px;
      height: 380px;
      transition: all $effect-duration;

      @include hover(transform, scale(1.05));
    }

    @include on-design {
      grid-column: span 6;
      object-fit: cover;
      width: 615px;
      height: 380px;

      transition: all $effect-duration;

      @include hover(transform, scale(1.05));
    }
  }

  &__about-right {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include on-tablet {
      width: 390px;
      grid-column: 4 / -1;
    }

    @include on-desktop {
      width: 585px;
      grid-column: 7 / -1;
    }

    @include on-design {
      width: 615px;
    }
  }

  &__date {
    display: block;
    color: $light-steel;
    margin-top: 20px;
    margin-bottom: 1px;

    @include on-tablet {
      margin-top: 0;
    }
  }

  &__name {
    font-family: "Days One", sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 20px;

    @include on-tablet {
      font-size: 22px;
      margin-bottom: 15px;
      width: 370px;
      height: 50px;
    }

    @include on-desktop {
      width: 585px;
      height: 50px;
    }

    @include on-design {
      width: 615px;
    }
  }

  &__description {
    color: $gray;
    margin: 0 0 30px;

    @include on-tablet {
      width: 390px;
      height: 280px;
      margin: 0 0 20px;
    }

    @include on-desktop {
      width: 585px;
      height: 200px;
      margin: 0 0 20px;
    }

    @include on-design {
      width: 615px;
    }
  }

  &__button {
    @include button-prime;

    position: relative;
    grid-column: 1 / -1;
    width: 280px;
    margin-left: 40px;

    @include on-tablet {
      width: 260px;
      margin-bottom: 10px;
    }

    @include on-desktop {
      width: 270px;

    }

    &--container {
      position: absolute;
      bottom: 0;
      right: 68px;
      visibility: hidden;
      opacity: 0;
      transition: all $effect-duration ease-in-out;
    }

    &:hover &--container {
      transition: $effect-duration ease-in-out;
      visibility: visible;
      opacity: 1;
    }
  }
}

/* #endregion */
