.archive {
  text-decoration: none;
  color: $main-color-dark;

  position: relative;
  right: 0;
  padding: 5px;

  transition: border 0.5s;

  &::after {
    content: "";
    width: 70px;
    height: 1px;
    display: block;
    background-color: $main-color-dark;
    position: absolute;
    right: -80%;
    top: 50%;
  }

  &:hover {
    border: 1px solid $main-color-dark;
  }
}
