.archive-button {
  display: flex;
  border: 1px solid $sec-acc;
  outline: none;
  background-color: $main-acc;
  min-width: 100px;
  // max-width: 300px;
  width: 200px;
  height: max-content;
  transition: 0.2s;

  &:hover {
    border: 1px solid #af3419;
  }

  @include onTablet {
    max-width: 330px;
  }

  @include onDesktop {
    width: 270px;
  }

  &__text {
    color: $sec-acc;
    text-decoration: none;
    width: 100%;
    font-weight: 600;
    line-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: Raleway, sans-serif;

    &:hover {
      color: #af3419;
    }

    &::after {
      content: "";
      position: relative;
      left: 10px;
      background-image: url(https://oleksandr-kotliarov.github.io/Museum_2/arrow.87066257.svg);
      color: $sec-acc;
      width: 20px;
      height: 20px;
    }
  }
}
