.archive {
  &__one {
    display: none;
    color: $btn-bckg;

    @include onTablet {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 200px;
      border: 1px solid $btn-bckg;
    }

    @include onDesktop {
      width: 270px;
    }
  }

  &__two {
    color: $btn-bckg;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $btn-bckg;
    height: 60px;
    margin-top: 30px;

    @include onTablet {
      display: none;
    }
  }
}
