.arrow {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid $text-color-light;

  &__item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 20px;
    height: 1px;
    background-color: $text-color-light;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      right: -1px;
      transform: rotate(45deg);

      width: 12px;
      height: 1px;
      background-color: $text-color-light;
    }

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      right: -1px;
      transform: rotate(-45deg);

      width: 12px;
      height: 1px;
      background-color: $text-color-light;
    }
  }
}
