.arrow {
  width: 42px;
  height: 42px;
  border: 1px solid $red-color;
  border-radius: 50%;
  background-color: $red-color;
  background-image: url("/images/Arrow-form.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    border: 1px solid $white-color;
    transform: scale(1.2), rotate(0deg);
  }
}
