.arrow {
  // color: $black-color;
  position: fixed;
  display: flex;
  bottom: 20px;
  right: 20px;
  font-size: 50px;
  background-color: $header-color;
  text-align: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;

  &__link {
    // text-decoration: none;
    // color: $main-acc;
    background-image: url(../images/scroll-up.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    // height: 30px;
    width: 40px;
  }
}
