.article {
  &__date-special {
    margin-bottom: 10px;

    font-family: $playfair-display;
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;
    color: $page-color-red;
  }

  &__title {
    margin-bottom: 30px;

    font-family: $playfair-display;
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;
    color: $font-color-black;
  }

  &__content {
    line-height: 150%;
  }
}
