.article {
  &__img {
    width: 100%;
  }

  &__date {
    margin-block: 20px 10px;

    &--format-first {
      line-height: 150%;
      color: $page-main-color;
    }

    &--format-second {
      font-size: 14px;
      line-height: 140%;
      color: $page-second-color;
    }
  }

  &__title {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 125%;

    color: $page-second-color;
  }

  &__text {
    margin-block: 20px 30px;
  }

  &__button {
    &--format-second {
      margin-top: 30px;

      @include onTable() {
        display: none;
      }
    }
  }
}
