body {
  overflow: auto;

  &.no-scroll {
    overflow: hidden;
  }
}

.aside {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background-color: $background-color;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;

  &:target {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
  }

  &-topbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include on-desktop {
      height: 90px;
    }

    &__menu-close {
      background-image: url(../images/topbar/menu-close.png);
      background-position: center;
      background-size: cover;
      width: 22px;
      height: 22px;
      box-sizing: border-box;
      display: block;
      @include hover(transform, scale(1.03));
    }

    &__logo {
      width: 123px;
      height: 40px;
    }

    &__nav {
      display: flex;
      gap: 40px;

      @include on-tablet {
        flex-direction: row-reverse;
      }
    }

    &__language {
      position: relative;
      display: block;

      &-wrapper {
        display: flex;
        align-items: center;
      }

      &-button {
        background-color: $background-color;
        border: none;
        font-family: Raleway, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #F1F5F4;
        cursor: pointer;
      }

      &-button-img {
        width: 8px;
        height: 5px;
      }

      &-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        z-index: 10;
        width: max-content;
      }

      &-option {
        font-family: Raleway, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-decoration: none;
        display: block;
        cursor: pointer;
    
        &:hover {
          background-color: $background-color;
          color: #fff;
        }
      }
    }
  }

  &__bottom {
    @include page-grid;
  }

  &__description {
    padding-top: 10px;
    @include page-grid;
    grid-column: 1 / -1;

    @include on-tablet {
      padding-top: 30px;
    }

    @include on-desktop {
      padding-top: 40px;
    }

    &1 {
      grid-column: 1 / -1;
      padding-bottom: 20px;

      @include on-tablet {
        grid-column: 1 / 3;
        padding: 0;
      }
    }

    &2 {
      grid-column: 1 / -1;

      @include on-tablet {
        grid-column: 3 / 6;
      }
    }

    &-text {
      font-family: Raleway, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.6px;
      color: $text-color;
      
    }

    &-bold-text {
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: $text-color;
      text-decoration: none;
    }
  }

  &__img {
    display: none;

    @include on-tablet {
      background-image: url(../images/aside-img.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      width: 422px;
      height: 446px;
      margin: 0 auto;
    }

    @include on-desktop {
      position: absolute;
      width: 624px;
      height: 697px;
      bottom: 0;
      right: 0;
    }
  }

  &__nav {
    padding-top: 40px;
    padding-bottom: 40px;
    grid-column: 1 /-1;

    @include on-tablet {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @include on-desktop {
      padding-top: 70px;
      padding-bottom: 60px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      list-style: none;
      padding: 0;

      @include on-tablet {
        gap: 30px;
      }

      @include on-desktop {
        gap: 60px;
      }
    }

    &-link {
      font-family: Playfair Display, sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      text-decoration: none;
      color: $text-color;

      &:hover {
        border-bottom: 1px solid $text-color;
      }

      @include on-tablet {
        font-size: 48px;
        line-height: 57px;
      }
    }

    &-item {
      @include hover(transform, scale(1.01));
    }
  }

  &__line {
    grid-column: 1 /-1;
    color: $text-color;
    width: 100%;

    @include on-desktop {
      opacity: 30%;
      grid-column: 1 / 7;
    }
  }

  &__button {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    grid-column: 1 / -1;
    color: $text-color;
    height: 60px;
    background-color: #CD4D31;
    border: none;
    margin-top: 40px;
    margin-bottom: 238px;
    transition: 0.3s ease;
    cursor: pointer;
    @include hover(transform, scale(1.03));

    &:hover {
      background-color: $hover-buttons-color;
    }

    &:active {
      background-color: $active-buttons-color;
    }

    @include on-tablet {
      grid-column: 1 / 4;
      margin-top: 40px;
      margin-bottom: 30px;
    }

    @include on-desktop {
      margin-top: 60px;
      margin-bottom: 108px;
    }
  }
}

.aside-topbar__language:hover .aside-topbar__language-menu {
  display: block;
}