.aside {
  grid-column: 1 / -1;

  &__top-bar {
    display: flex;
    justify-content: space-between;

    margin: 20px 0 0;

    @include on-desktop {
      margin: 26px 0 0;
    }

    &-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;

      &-link {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-lang {
        margin: 0;
      }

      &-drop {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-langdrop2 {
        @include on-mobile {
          display: none;
        }

        @include on-tablet {
          display: flex;
          justify-content: center;
          align-self: center;
          gap: 5px;
        }

        @include on-desktop {
          display: flex;
        }
      }

      &-langdrop1 {
        display: flex;
        justify-content: center;
        align-self: center;
        gap: 5px;

        @include on-tablet {
          display: none;
        }
      }
    }
  }

  &__info {
    margin: 30px 0 0;

    @include on-desktop {
      width: 50%;
    }

    &-schedule {
      display: flex;
      flex-direction: column;
      gap: 20px;

      list-style-type: none;
      padding: 0;

      &-item {
        &-text {
          margin: 0;
        }
      }
    }

    &-nav {
      padding: 0;
      margin: 40px 0 0;
      list-style-type: none;

      &-item {
        &-link {
          text-decoration: none;
          color: $c-white;
        }

        &-text {
          margin: 20px 0 0;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &-line {
      width: 100%;
      height: 1px;
      background-color: $c-white;

      margin: 40px 0;
    }

    &-button {
      margin: 0;

      width: 100%;

      @include on-tablet {
        width: 330px;
      }

      padding: 22px 84px;
      text-align: center;
      background-color: $c-main;
      border: none;
    }
  }

  &__image {
    margin: 40px 0 0;

    @include on-mobile {
      display: none;
    }

    @include on-tablet {
      margin: 70px 0 0;

      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    &-pic {
      object-fit: contain;
      position: absolute;

      @include on-tablet {
        top: 610px;
        width: 443px;
        height: 494px;
      }

      @include on-desktop {
        right: 0;
        top: 137;
        width: 625px;
        height: 663px;
      }
    }
  }
}
