.background-image {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto 230px;

  @include onTablet {
    background-size: auto 440px;
  }

  @include onDesktop {
    background-size: auto 625px;
    background-position: right bottom;
  }
}
