.banner-section {
  padding: 50px 0;
  background-color: $dark-green-color;

  @include onTablet {
    padding: 80px 0;
  }

  @include onDesktop {
    padding: 0;
  }

  &__container {
    position: relative;
    @include container;

    @include onDesktop {
      height: 800px;
    }
  }

  &__img-wrapper {
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: 0;

    background-image: url("/images/photos/board-img.png");
    @extend %bg-img;

    @include onDesktop {
      @include width-height(578px, 800px);
    }
  }

  &__title {
    margin-bottom: 20px;
    @include font-play(38px, 100%);

    @include onTablet {
      font-size: 62px;
    }

    @include onDesktop {
      margin-top: 205px;
      font-size: 80px;
    }
  }

  &__info {
    margin-bottom: 40px;
    @extend %lh-150;

    @include onTablet {
      margin-bottom: 60px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }
  }
}
