.banner {
  position: relative;
  z-index: 1;

  padding: 80px 0 100px 0;
  overflow: hidden;

  @include tablet {
    padding-bottom: 180px;
  }
  
  &__container {
    position: relative;
  }

  &__date {
    line-height: 150%;

    @include tablet {
      margin-bottom: 10px;
    }
  }

  &__title {
    width: 100%;
    margin-bottom: 30px;

    font-size: 48px;
    color:$colorMain;

    @include tablet {
      margin-bottom: 40px;
      
      font-size: 72px;
    }
  }

  &__description {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 150%;

    @include tablet {
      margin-bottom: 80px;
    }
  }

  &__button-index {
    z-index: -2;
  }

  &__date-desktop {
    display: none;
    position: relative;
  
    &::after {
      content: "";
      width: 80vw;
      background-color: $colorMain;
      height: 1px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 10px;
      z-index: -3;
    }
    @include desktop {
      display: block;
      position: absolute;
      bottom: -100px;
      left: 0;
    }
  }

  &__image-container {
    position: absolute;
    bottom: 0;
    right: -89px;

    width: 245px;
    height: 273px;
    z-index: -1;

    @include tablet {
      right: 0;
      width: 380px;
      height: 424px;
    }

    @include desktop {
      width: 673px;
      height: 753px;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__caption {
    display: none;
    line-height: 24px;
    
    &-item {
      display: block;
    }
    @include desktop {
      display: inline-block;
      position: absolute;
      right: 54px;
      bottom: 318px;
    }
  }
}
