.block5 {
  max-width: $mx-width;
  width: 100%;
  padding: 120px 55px 184px;
  transition: 1s;
  background-color: $c-white;

  @media (max-width: $mx-width - 1) {
    max-width: 1000px;
    padding: 115px 99px 131px;
  }

  @media (max-width: 767px) {
    padding: 80px 60px 91px 40px;
  }

  @media (max-width: 400px) {
    padding: 80px 20px 91px;
  }

  &__title {
    @extend %h2;
    margin-left: 200px;
    margin-bottom: 75px;

    @media (max-width: $mx-width - 1) {
      margin-left: 0;
    }

    @media (max-width: 767px) {
      margin-bottom: 60px;
    }
  }
}
