.block {
  @include onTablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: none;

    @include onTablet {
      display: block;
      @include button2;
    }
  }
}
