.block2 {
  max-width: $mx-width;
  width: 100%;
  transition: 1s;
  background-image: url("../images/angel.png");
  background-repeat: no-repeat;
  background-position: left 45px;
  background-color: $c-white;

  @media (max-width: $mx-width - 1) {
    max-width: 1000px;
    background-image: none;
  }

  @media (max-width: 767px) {
    max-width: 500px;
  }

  &__container {
    margin: 160px 57px 0 41px;

    @media (max-width: $mx-width - 1) {
      margin: 0;
      padding: 115px 98px 0 100px;
    }

    @media (max-width: 767px) {
      padding: 60px 60px 0 40px;
    }

    @media (max-width: 400px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__title {
    @extend %h2;
    margin-left: 368px - 41;
    margin-bottom: 100px;

    @media (max-width: $mx-width - 1) {
      margin-bottom: 55px;
      margin-left: 12px;
    }

    @media (max-width: 767px) {
      margin-left: 0;
      margin-bottom: 60px;
    }
  }

  &__event-date {
    margin-left: 556px - 41;
    margin-bottom: 20px;
    color: $c-orange;
    font-size: 48px;
    line-height: 57.6px;

    @media (max-width: $mx-width - 1) {
      margin-left: 99px;
    }

    @media (max-width: 767px) {
      margin-left: 0;
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__event {
    @extend %h3;
    max-width: 370px;
    width: 100%;
    display: block;

    &:not(:last-child) {
      @media (max-width: $mx-width - 1) {
        margin-bottom: 150px;
      }
  
      @media (max-width: 767px) {
        margin-bottom: 90px;
      }
    }
  }

  &__event-name {
    margin-bottom: 20px;
  }

  &__event-description {
    display: block;
    @extend %small-text;
    max-width: 370px;
    margin-bottom: 50px;

    @media (max-width: $mx-width - 1) {
      margin: 0;
      max-width: 270px;
    }

    @media (max-width: 320px) {
      max-width: 170px;
    }
  }

  &__event-continuance {
    @extend %small-text;
    color: $c-orange;
    margin-bottom: 10px;
  }

  &__event-with-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0 30px;

    @media (max-width: $mx-width - 1) {
      justify-content: flex-start;
    }

    & ~ & {
      justify-content: flex-start;

      @media (max-width: $mx-width - 1) {
        justify-content: flex-end;
        margin-bottom: 142px;
      }

      @media (max-width: 767px) {
        margin-bottom: 100px;
      }
    }
  }

  &__container > &__event {
    max-width: 468px;
    margin: 0 99px 92px auto;

    @media (max-width: $mx-width - 1) {
      margin-bottom: 150px;
      margin-right: 0;
      max-width: 370px;
    }

    @media (max-width: 767px) {
      margin-bottom: 90px;
    }
  }

  &__event-description-middle {
    @media (max-width: 320px) {
      margin-left: auto;
    }
  }

  & .additional-link__wrapper {
    max-width: $mx-width - 224;
  }
}
