.block4 {
  background-image: url("../images/k.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  max-width: $mx-width;
  width: 100%;
  height: 800px;
  transition: 1s;
  background-color: #3f5252;

  @media (max-width: $mx-width - 1) {
    max-width: 1000px;
    height: 705px;
    background-image: url("../images/k-small.png");
  }

  @media (max-width: 767px) {
    background-image: none;
    padding-left: 40px;
    padding-right: 60px;
  }

  @media (max-width: 400px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__title {
    @extend %big-title;
    max-width: 700px;
    margin: 190px 25px 0 auto;

    @media (max-width: $mx-width - 1) {
      max-width: 523px;
      margin: 120px 0 0 99px;
    }

    @media (max-width: 767px) {
      max-width: none;
      margin: 80px 0 0;
    }
  }

  &__container {
    max-width: 470px;
    margin-left: 655px;
    margin-top: 60px;

    @media (max-width: $mx-width - 1) {
      margin-top: 80px;
      margin-left: 299px;
      max-width: 370px;
    }

    @media (max-width: 767px) {
      margin-left: 0;
      margin-top: 40px;
    }
  }

  &__text {
    @extend %small-text;
    color: $c-white;
    margin-bottom: 60px;
  }
}
