@include on-desktop {
  .main {
    width: 100%;
    margin: 110px 0 200px;
  }

  .section1 {
    @include page-grid;

    justify-content: center;
    grid-template-rows: 60px auto;
    row-gap: 70px;
    padding-inline: 55px;
    margin-bottom: 200px;

    &__top {
      display: flex;
      justify-content: space-between;
      grid-column: span 12;
      align-items: center;

      &--header {
        margin: 0;
      }

      &--link {
        margin: 0;
        padding: 20px 90px;
        text-align: center;
        border: 1px solid $orange-color;
        transition: all $transition-duration;

        &--pic {
          width: 20px;
          height: 20px;
          margin: 0 0 0 8px;
          position: relative;
          top: 4px;
        }
      }

      &--link:hover {
        transform: scale(1.1);
      }
    }

    &__cover {
      grid-column: span 12;

      @include page-grid;

      &--block {
        grid-column: span 6;
        display: flex;
        flex-direction: column;


        &--img {
          width: 100%;
        }

        &--date {
          color: $orange-color;
          margin: 20px 0 10px;
        }

        &--header {
          margin: 0;
        }

        &--text {
          margin: 20px 0 50px;
        }


        &--link {
          width: 40%;
          background-color: $orange-color;
          color: $white-color;
          text-align: center;
          font-weight: 600;
          padding: 22px 0;
          margin: 80px 0 145px;

          @include hover(background-color, #af3419);
        }
      }
    }
  }

  .section2 {
    @include page-grid;

    grid-template-rows: 60px auto;
    row-gap: 70px;
    padding-inline: 55px;
    justify-content: center;
    margin-bottom: 110px;

    &__top {
      display: flex;
      justify-content: space-between;
      grid-column: span 12;
      align-items: center;

      &--header {
        margin: 0;
      }

      &--link {
        margin: 0;
        padding: 20px 90px;
        text-align: center;
        border: 1px solid $orange-color;
        transition: all $transition-duration;

        &--pic {
          width: 20px;
          height: 20px;
          margin: 0 0 0 8px;
          position: relative;
          top: 4px;
        }
      }

      &--link:hover {
        transform: scale(1.1);
      }
    }

    &__cover {
      grid-column: span 12;
      row-gap: 60px;

      @include page-grid;

      &--block {
        grid-column: span 12;
        grid-template-rows: 34px 50px 100px 64px auto;
        align-items: top;

        @include page-grid;

        &--img {
          width: 100%;
          grid-column: span 4;
          grid-row: span 5;
        }

        &--date {
          grid-column: 5 / span 6;
          grid-row: 1/2;
          color: $orange-color;
          margin: 0 0 10px;
        }

        &--header {
          grid-column: 5 / span 6;
          grid-row: 2/3;
          margin: 0 0 20px;
        }

        &--text {
          grid-column: 5 / span 6;
          grid-row: 3/4;
          margin: 0 0 50px;
        }

        &--link {
          grid-column: 5 / span 3;
          grid-row: 4/5;
          background-color: $orange-color;
          color: $white-color;
          text-align: center;
          font-weight: 600;
          padding: 22px 0;

          @include hover(background-color, #af3419);
        }
      }
    }
  }

  .section3 {
    @include page-grid;

    justify-content: center;
    padding-inline: 55px;
    background-color: $background-color;
    height: 800px;

    &__background {
      background-image: url(../images/background-main.png);
      background-position: bottom left;
      grid-column: span 6;
      position: relative;
      left: -55px;
      background-size: 580px 800px;
      background-repeat: no-repeat;
    }

    &__cover {
      grid-column: span 6;
      margin: 105px 0 10px;

      &--header {
        color: $white-color;
      }

      &--text {
        color: $white-color;
      }

      &--link {
        margin: 72px 0;
        width: 50%;
        display: block;
        background-color: $orange-color;
        color: $white-color;
        text-align: center;
        font-weight: 600;
        padding: 22px 0;

        @include hover(background-color, #af3419);
      }
    }
  }

  .section4 {
    @include page-grid;

    justify-content: center;
    grid-template-rows: 60px auto;
    row-gap: 70px;
    padding-inline: 55px;
    margin: 110px 0 200px;

    &__top {
      display: flex;
      justify-content: space-between;
      grid-column: span 12;
      align-items: center;

      &--header {
        margin: 0;
      }

      &--link {
        margin: 0;
        padding: 20px 90px;
        text-align: center;
        border: 1px solid $orange-color;
        transition: all $transition-duration;

        &--pic {
          width: 20px;
          height: 20px;
          margin: 0 0 0 8px;
          position: relative;
          top: 4px;
        }
      }

      &--link:hover {
        transform: scale(1.1);
      }
    }

    &__cover {
      grid-column: span 12;

      @include page-grid;

      &--block {
        grid-column: span 6;
        display: flex;
        flex-direction: column;
        transition: all $transition-duration;

        &--img {
          width: 100%;

          @include hover(border-radius, 20px)
        }

        &--date {
          color: $orange-color;
          margin: 20px 0 10px;
        }

        &--header {
          margin: 0;
        }

        &--text {
          margin: 20px 0 0;
        }
      }

      &--block:hover {
        transform: scale(1.03);
        box-shadow: 12px 15px 20px 2px $background-color;
        border-radius: 20px;
      }
    }
  }

  .section5 {
    @include page-grid;

    justify-content: center;
    grid-template-rows: 116px auto;
    row-gap: 50px;
    padding-inline: 55px;

    &__top {
      grid-column: span 12;

      @include page-grid;

      &--header {
        grid-column: span 6;
        margin: 0;
      }

      &--text {
        grid-column: span 6;
        margin: 0;
      }
    }

    &__bottom {
      grid-column: span 5;

      &--form {
        width: 100%;
        margin-bottom: 40px;

        &--label{
          width: 100%;

          &--input {
            width: 80%;
            background: none;
            border: none;
            border-bottom: 1px solid $black-color;
            color: $black-color;
            font-size: 16px;

            &::placeholder {
              color: $black-color;
            }

            &:focus {
              outline: none;
            }
          }
        }
      }

      &--button {
        width: 50%;
        display: block;
        background-color: $orange-color;
        color: $white-color;
        text-align: center;
        font-weight: 600;
        padding: 22px 0;
        border: none;

        @include hover(background-color, #af3419);
      }
    }
  }
}

@include on-tablet {
  .main {
    width: 100%;
    margin: 105px 0 128px;
  }

  .section1 {
    @include page-grid;

    justify-content: center;
    grid-template-rows: 60px auto;
    row-gap: 70px;
    padding-inline: 40px;
    margin-bottom: 164px;

    &__top {
      display: flex;
      justify-content: space-between;
      grid-column: span 6;
      align-items: center;

      &--header {
        margin: 0;
        font-size: 40px;
      }

      &--link {
       margin: 0;
       padding: 20px;
       text-align: center;
       border: 1px solid $orange-color;
       transition: all $transition-duration;

       &--pic {
         width: 20px;
         height: 20px;
         margin: 0 0 0 8px;
         position: relative;
         top: 4px;
       }
     }

     &--link:hover {
       transform: scale(1.1);
     }
    }

    &__cover {
      grid-column: span 6;

      @include page-grid;

      &--block {
        grid-column: span 3;
        display: grid;
        grid-template-rows: 280px 31px 74px 112px 70px;
        align-items: center;


        &--img {
          width: 100%;
        }

        &--date {
          color: $orange-color;
          margin: 20px 0 10px;
        }

        &--header {
          margin: 0;
        }

        &--text {
          margin: 20px 0 40px;
        }


        &--link {
          width: 100%;
          background-color: $orange-color;
          color: $white-color;
          text-align: center;
          font-weight: 600;
          padding: 22px 0;
          position: relative;
          bottom: 0;

          @include hover(background-color, #af3419);
        }
      }
    }
  }

  .section2 {
    @include page-grid;

    grid-template-rows: 60px auto;
    row-gap: 70px;
    padding-inline: 40px;
    justify-content: center;
    margin-bottom: 110px;

    &__top {
      display: flex;
      justify-content: space-between;
      grid-column: span 6;
      align-items: center;

      &--header {
        margin: 0;
      }

      &--link {
        margin: 0;
        padding: 20px;
        text-align: center;
        border: 1px solid $orange-color;
        transition: all $transition-duration;

        &--pic {
          width: 20px;
          height: 20px;
          margin: 0 0 0 8px;
          position: relative;
           top: 4px;
        }
      }

      &--link:hover {
        transform: scale(1.1);
      }
    }

    &__cover {
      grid-column: span 6;
      row-gap: 60px;

      @include page-grid;

      &--block {
        grid-column: span 6;
        grid-template-rows: 34px 100px 100px 64px auto;
        align-items: top;

        @include page-grid;

        &--img {
          width: 100%;
          grid-column:1 / span 3;
          grid-row: span 5;
        }

        &--date {
          grid-column: 4 / span 3;
          grid-row: 1/2;
          color: $orange-color;
          margin: 0 0 10px;
        }

        &--header {
          grid-column: 4 / span 3;
          grid-row: 2/3;
          margin: 0 0 20px;
        }

        &--text {
          grid-column: 4 / span 3;
          grid-row: 3/4;
          margin: 0 0 50px;
        }

        &--link {
          grid-column: 4 / span 3;
          grid-row: 4/5;
          background-color: $orange-color;
          color: $white-color;
          text-align: center;
          font-weight: 600;
          padding: 22px 0;

          @include hover(background-color, #af3419);
        }
      }
    }
  }

  .section3 {
    @include page-grid;

    justify-content: center;
    padding-inline: 40px;
    background-color: $background-color;
    height: 515px;

    &__background {
     display: none;
    }

    &__cover {
      grid-column: span 6;
      margin: 80px 0 10px;

      &--header {
        color: $white-color;
        font-size: 62px;
        margin: 0;
      }

      &--text {
        color: $white-color;
        margin: 20px 0 0;
      }

      &--link {
        margin: 60px 0;
        width: 50%;
        display: block;
        background-color: $orange-color;
        color: $white-color;
        text-align: center;
        font-weight: 600;
        padding: 22px 0;

        @include hover(background-color, #af3419);
      }
    }
  }

  .section4 {
    @include page-grid;

    justify-content: center;
    grid-template-rows: 60px auto;
    row-gap: 70px;
    padding-inline: 40px;
    margin: 120px 0 160px;

    &__top {
      display: flex;
      justify-content: space-between;
      grid-column: span 6;
      align-items: center;

      &--header {
        margin: 0;
        font-size: 48px;
      }

      &--link {
        margin: 0;
        padding: 20px 35px;
        text-align: center;
        border: 1px solid $orange-color;
        transition: all $transition-duration;

        &--pic {
          width: 20px;
          height: 20px;
          margin: 0 0 0 8px;
          position: relative;
          top: 4%;
        }
      }

      &--link:hover {
        transform: scale(1.1);
      }
    }

    &__cover {
      grid-column: span 6;

      @include page-grid;

      &--block {
        grid-column: span 3;
        display: flex;
        flex-direction: column;
        transition: all $transition-duration;

        &--img {
          width: 100%;

          @include hover(border-radius, 20px)
        }

        &--date {
          color: $orange-color;
          margin: 20px 0 10px;
        }

        &--header {
          margin: 0;
        }

        &--text {
          margin: 20px 0 0;
        }
      }

      &--block:hover {
        transform: scale(1.03);
        box-shadow: 12px 15px 20px 2px $background-color;
        border-radius: 20px;
      }
    }
  }

  .section5 {
    @include page-grid;

    justify-content: center;
    grid-template-rows: 126px auto;
    row-gap: 50px;
    padding-inline: 40px;

    &__top {
      grid-column: span 6;

      @include page-grid;

      &--header {
        grid-column: span 6;
        margin: 0;
        font-size: 40px;
      }

      &--text {
        grid-column: span 6;
        margin: 0;
      }
    }

    &__bottom {
      grid-column: span 6;

      &--form {
        width: 100%;
        margin-bottom: 40px;

        &--label{
          width: 80%;

          &--input {
            width: 60%;
            background: none;
            border: none;
            border-bottom: 1px solid $black-color;
            color: $black-color;
            font-size: 16px;

            &::placeholder {
              color: $black-color;
            }

            &:focus {
              outline: none;
            }
          }
        }
      }

      &--button {
        width: 60%;
        display: block;
        background-color: $orange-color;
        color: $white-color;
        text-align: center;
        font-weight: 600;
        padding: 22px 0;
        border: none;

        @include hover(background-color, #af3419);
      }
    }
  }
}

@include on-phone {
  .main {
    width: 100%;
    margin: 105px 0 128px;
  }

  .section1 {
    @include page-grid;

    justify-content: center;
    grid-template-rows: 60px auto;
    row-gap: 60px;
    padding-inline: 20px;
    margin-bottom: 164px;

    &__top {
      display: flex;
      flex-direction: column;
      grid-column: span 2;
      align-items: center;

      &--header {
        margin: 0;
        font-size: 28px;
        width: 100%;
        text-align: center;
      }

      &--link {
       margin: 0;
       width: 100%;
       padding: 20px 0;
       text-align: center;
       border: 1px solid $orange-color;
       transition: all $transition-duration;
       position: relative;
       top: 1220px;
       margin-bottom: 20px;

       @media (min-width: 360px) and (max-width: 400px) {
        top: 1300px;
       }

       @media (min-width: 400px) and (max-width: 450px) {
        top: 1380px;
       }

       @media (min-width: 450px) and (max-width: 500px) {
        top: 1470px;
       }

       @media (min-width: 500px) and (max-width: 550px) {
        top: 1540px;
       }

       @media (min-width: 550px) and (max-width: 600px) {
        top: 1630px;
       }

       @media (min-width: 600px) and (max-width: 640px) {
        top: 1690px;
       }

       &--pic {
         width: 20px;
         height: 20px;
         margin: 0 0 0 8px;
         position: relative;
         top: 4px;
       }
     }

     &--link:hover {
       transform: scale(1.1);
     }
    }

    &__cover {
      grid-column: span 2;
      row-gap: 60px;
      position: relative;
      top: -55px;

      @include page-grid;

      &--block {
        grid-column: span 2;
        display: grid;
        grid-template-rows: auto 31px 74px 112px 70px;
        align-items: center;


        &--img {
          width: 100%;
        }

        &--date {
          color: $orange-color;
          margin: 20px 0 10px;
        }

        &--header {
          margin: 0;
          font-size: 20px;
        }

        &--text {
          margin: 20px 0 40px;
        }


        &--link {
          width: 100%;
          background-color: $orange-color;
          color: $white-color;
          text-align: center;
          font-weight: 600;
          padding: 22px 0;
          position: relative;
          bottom: 0;

          @include hover(background-color, #af3419);
        }
      }
    }
  }

  .section2 {
    @include page-grid;

    grid-template-rows: 60px auto;
    row-gap: 60px;
    padding-inline: 20px;
    justify-content: center;
    margin-bottom: 200px;

    &__top {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      grid-column: span 2;
      align-items: center;

      &--header {
        margin: 0;
        font-size: 28px;
        width: 100%;
        text-align: center;
      }

      &--link {
       margin: 0;
       width: 100%;
       padding: 20px 0;
       text-align: center;
       border: 1px solid $orange-color;
       transition: all $transition-duration;
       position: relative;
       top: 1580px;
       margin-bottom: 20px;

       @media (min-width: 360px) and (max-width: 400px) {
        top: 1680px;
       }

       @media (min-width: 400px) and (max-width: 450px) {
        top: 1750px;
       }

       @media (min-width: 450px) and (max-width: 500px) {
        top: 1850px;
       }

       @media (min-width: 500px) and (max-width: 550px) {
        top: 1940px;
       }

       @media (min-width: 550px) and (max-width: 590px) {
        top: 2080px;
       }

       @media (min-width: 590px) and (max-width: 640px) {
        top: 2180px;
       }

       &--pic {
         width: 20px;
         height: 20px;
         margin: 0 0 0 8px;
         position: relative;
         top: 4px;
       }
     }

     &--link:hover {
       transform: scale(1.1);
     }
    }

    &__cover {
      grid-column: span 2;
      row-gap: 60px;

      @include page-grid;

      position: relative;
      top: -40px;
      &--block {
        grid-column: span 2;
        display: flex;
        flex-direction: column;

        &--img {
          width: 100%;
        }

        &--date {
          color: $orange-color;
          margin: 20px 0 10px;
        }

        &--header {
          margin: 0;
        }

        &--text {
          margin: 20px 0 30px;
        }

        &--link {
          background-color: $orange-color;
          color: $white-color;
          text-align: center;
          font-weight: 600;
          padding: 22px 0;

          @include hover(background-color, #af3419);
        }
      }
    }
  }

  .section3 {
    @include page-grid;

    justify-content: center;
    padding-inline: 40px;
    background-color: $background-color;


    &__background {
     display: none;
    }

    &__cover {
      grid-column: span 6;
      margin: 50px 0 10px;

      &--header {
        color: $white-color;
        font-size: 38px;
        margin: 0;
      }

      &--text {
        color: $white-color;
        margin: 20px 0 0;
      }

      &--link {
        margin: 60px 0;
        width: 100%;
        display: block;
        background-color: $orange-color;
        color: $white-color;
        text-align: center;
        font-weight: 600;
        padding: 22px 0;

        @include hover(background-color, #af3419);
      }
    }
  }

  .section4 {
    @include page-grid;

    justify-content: center;
    grid-template-rows: 60px auto;
    row-gap: 70px;
    padding-inline: 20px;
    margin: 120px 0 200px;

    &__top {
      display: flex;
      justify-content: space-between;
      grid-column: span 2;
      align-items: center;
      flex-direction: column;
      &--header {
        margin: 0;
        font-size: 48px;
        width: 100%;
      }

      &--link {
        width: 100%;
        margin: 0;
        padding: 20px 0;
        text-align: center;
        border: 1px solid $orange-color;
        transition: all $transition-duration;
        position: relative;
        top: 850px;
        margin-bottom: 20px;

        @media (min-width: 360px) and (max-width: 400px) {
         top: 870px;
        }

        @media (min-width: 400px) and (max-width: 450px) {
         top: 930px;
        }

        @media (min-width: 450px) and (max-width: 500px) {
         top: 1000px;
        }

        @media (min-width: 500px) and (max-width: 550px) {
         top: 1050px;
        }

        @media (min-width: 550px) and (max-width: 590px) {
         top: 1120px;
        }

        @media (min-width: 590px) and (max-width: 640px) {
         top: 1190px;
        }

        &--pic {
          width: 20px;
          height: 20px;
          margin: 0 0 0 8px;
          position: relative;
          top: 4%;
        }
      }

      &--link:hover {
        transform: scale(1.1);
      }
    }

    &__cover {
      position: relative;
      top: -50px;
      row-gap: 60px;
      grid-column: span 2;

      @include page-grid;

      &--block {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        transition: all $transition-duration;

        &--img {
          width: 100%;

          @include hover(border-radius, 20px)
        }

        &--date {
          color: $orange-color;
          margin: 20px 0 10px;
        }

        &--header {
          margin: 0;
        }

        &--text {
          margin: 20px 0 0;
        }
      }

      &--block:hover {
        transform: scale(1.03);
        box-shadow: 12px 15px 20px 2px $background-color;
        border-radius: 20px;
      }
    }
  }

  .section5 {
    @include page-grid;

    justify-content: center;
    grid-template-rows: 195px auto;
    row-gap: 50px;
    padding-inline: 20px;

    &__top {
      grid-column: span 2;

      @include page-grid;

      &--header {
        grid-column: span 2;
        margin: 0;
        font-size: 28px;
      }

      &--text {
        grid-column: span 2;
        margin: 0;
      }
    }

    &__bottom {
      grid-column: span 2;

      &--form {
        width: 100%;
        margin-bottom: 40px;

        &--label{
          width: 80%;

          &--input {
            width: 100%;
            background: none;
            border: none;
            border-bottom: 1px solid $black-color;
            color: $black-color;
            font-size: 16px;

            &::placeholder {
              color: $black-color;
            }

            &:focus {
              outline: none;
            }
          }
        }
      }

      &--button {
        width: 100%;
        display: block;
        background-color: $orange-color;
        color: $white-color;
        text-align: center;
        font-weight: 600;
        padding: 22px 0;
        border: none;

        @include hover(background-color, #af3419);
      }
    }
  }
}
