.body {
  overflow-x: hidden;

  color: $black-accent;

  background-color: $white-accent;

  overscroll-behavior-x: none;

  &__main {
    overflow-x: hidden;
  }

  &__footer {
    margin-top: 80px;

    @include on-tablet {
      margin-top: 130px;
    }

    @include on-desktop {
      margin-top: 200px;
    }
  }
}
