.booking {
  position: relative;
  background-color: $color-background-contrast;

  &__content {
    padding-block: 50px;

    @include on-tablet {
      @include page-grid;

      padding-block: 80px;
    }

    @include on-desktop {
      padding-block: 205px;
    }
  }

  &__image {
    @include on-desktop {
      position: absolute;
      top: 0;
      left: 0;

      width: 578px;
      height: 100%;

      background-image: url(../images/background-images/booking-image.png);
      background-size: cover;
    }
  }

  &__main-text {
    @include font-raleway-regular;

    margin-top: 20px;
    margin-bottom: 40px;

    font-size: 16px;
    line-height: 150%;
    color: $color-text-contrast;

    @include on-tablet {
      grid-column: 1/5;
      margin-bottom: 60px;
    }

    @include on-desktop {
      grid-column: 6/11;
      margin-top: 10px;
      margin-bottom: 50px;
    }
  }
}
