.btn-2 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 280px;
  height: 60px;
  background-color: $c-gray;
  border: 1px solid $main;

  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: $main;

  transition: color 0.5s, border 0.5s;

  @include tablet {
    width: 210px;
  }

  @include desktop {
    width: 270px;
  }

  &:hover {
    color: #af3419;
    border: 1px solid #af3419;
  }

  &:active {
    color: #ea340d;
    border: 1px solid #ea340d;
  }

  &__arrow {
    margin-left: 12px;
  }
}
