.btn-scroll {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $color-orange;
  color: $color-white;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
