.btn-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;

  @include onDesktop {
    max-width: 270px;
  }

  @extend %semi-bold-text;

  color: $white-color;

  background: $main-color;

  @include hover(background-color, $hover-color);

  &:active {
    background-color: $active-color;
  }

  &:disabled {
    background: #dd836f;
  }
}
