.btn {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #f1f5f4;

  &--primary {
    color: #f1f5f4;
    background-color: #cd4d31;
    text-decoration: none;
    // margin-bottom: 314px;

    transition: background-color 3s;

    &:hover {
      background-color: #af3419;
    }

    &:active {
      background-color: #ea340d;
    }

    @include tablet {
      width: 330px;
    }

    @include desktop {
      width: 270px;
    }
  }

  &--white {
    background-color: #f1f5f4;
    border: 1px solid #cd4d31;

    color: #cd4d31;

    transition: all 0.5s;

    @include tablet {
      width: 210px;
    }

    @include desktop {
      width: 280px;
    }

    &:hover {
      border: 1px solid #af3419;
      color: #af3419;
    }

    &:active {
      border: 1px solid #ea340d;
      color: #ea340d;
    }

    &:disabled {
      border: 1px solid #dd836f;
      color: #dd836f;
    }
  }
}
