.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 60px;
  background-color: $main;

  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: $white;
  transition: background-color 0.5s;

  @include tablet {
    width: 330px;
  }

  @include desktop {
    width: 270px;
  }

  &:hover {
    background-color: #af3419;
  }

  &:active {
    background-color: #ea340d;
  }
}
