.burger {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;

  &__link {
    display: block;
    position: absolute;
    height: 30px;
    width: 30px;

    svg rect {
      pointer-events: none;
    }

    &:hover {
      transform: scale(1.1);

      svg rect {
        fill: $orange;
      }
    }
  }

  .body-link {
    top: 30px;
  }
}
