.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  transform-origin: center;
  cursor: pointer;

  &__line {
    height: 2px;
    background-color: $c-white;
    transition-duration: $anim-time;
    

    &--active {
      &:first-child {
        transform: translateY(9px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }
}
