.by-ticket {
  @include Button;
  margin-bottom: 135px;

  &:visited {
    @include visitedColor;
  }

  &:hover {
    @include hoverColor;
  }

  &:active {
    @include activeColor;
  }

  &__button {
    @include fontButton;
  }
}

.by-ticket-menu {
  @include Button;

  &:visited {
    @include visitedColor;
  }

  &:hover {
    @include hoverColor;
  }

  &:active {
    @include activeColor;
  }

  &__button {
    @include fontButton;
  }
}

.by-ticket-exibition {
  @include Button;

  &:visited {
    @include visitedColor;
  }

  &:hover {
    @include hoverColor;
  }

  &:active {
    @include activeColor;
  }

  &__button {
    @include fontButton;
  }
}

.first--button {
  @include onTablet {
    margin-bottom: 160px;
  }
}

.second--button {
  margin-bottom: 30px;

  @include onTablet {
    margin-bottom: 160px;
  }
}

.archive-exibition {
  @include whiteButton;

  margin-bottom: 120px;

  @include onTablet {
    position: absolute;
    top: 0;
    right: 0;

    @include indentRight;
  }

  &:visited {
    @include visitedColorWhiteButton;
  }

  &:hover {
    @include hoverColorWhiteButton;
  }

  &:active {
    @include activeColorWhiteButton;
  }

  &__button {
    @include fontWhiteButton;
    color: $red-color;
  }
}

.registration {
  width: 280px;
  @include Button;

  @include onTablet {
    width: 330px;
  }

  &:visited {
    @include visitedColor;
  }

  &:hover {
    @include hoverColor;
  }

  &:active {
    @include activeColor;
  }

  &__button {
    @include fontButton;
  }
}

.first--registration {
  margin-bottom: 60px;
}

.second--registration {
  margin-bottom: 30px;
}

.calendar--event {
  @include whiteButton;

  margin-bottom: 90px;

  @include onTablet {
    position: absolute;
    top: 0;
    right: 0;

    @include indentRight;
  }

  &:visited {
    @include visitedColorWhiteButton;
  }

  &:hover {
    @include  hoverColorWhiteButton;
  }

  &:active {
    @include activeColorWhiteButton;
  }

  &__button {
    @include fontWhiteButton;
  }
}

.arrow {
  @include arrow;
}

.plan-a-visit {
  &__start {

    @include Button;
  }

  &__button {
    @include fontButton;
  }
}

.plan-a-visit__start:visited {
  @include visitedColor;
}

.plan-a-visit__start:hover {
  @include hoverColor;
}

.plan-a-visit__start:active {
  @include activeColor;
}

.all--news {
  @include whiteButton;

  @include onTablet {
    position: absolute;
    top: 0;
    right: 0;

    @include indentRight;
  }

  &:visited {
    @include visitedColorWhiteButton;
  }

  &:hover {
    @include  hoverColorWhiteButton;
  }

  &:active {
    @include activeColorWhiteButton;
  }

  &__button {
    @include fontWhiteButton;
  }
}

.submit__button {
  border: none;

  @include Button;

  @include fontButton;

  &:visited {
    @include visitedColor;
  }

  &:hover {
    @include hoverColor;
  }

  &:active {
    @include activeColor;
  }
}
