.button-secondary {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: rgba(205, 77, 49, 1);
  font-size: 16px;
  font-weight: 600;
  height: 60px;
  background-color: $c-gray;
  border: solid 1px rgb(205, 77, 49);
  line-height: 60px;
  cursor: default;
  max-width: 330px;
  min-width: 280px;
  width: 100%;

  @include desk-768 {
    min-width: 200px;
  }

  @include desk-1280 {
    min-width: 400px;
  }

  transition: border 0.3s;

  &:hover {
    border-color: rgb(175, 52, 25);
    color: rgb(175, 52, 25);

  }

  &:focus {
    border-color: rgb(234, 52, 13);
    color: rgb(234, 52, 13);
  }

  &--disabled {
    border-color: rgb(221, 131, 111);
    color: rgb(221, 131, 111);
  }

  &__img {
    // display: block;
    margin-left: 10px;
    width: 20px;
    height: 60px;
    object-position: center;
  }

}
