.button-2 {
  @include on-tablet {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__style {
    cursor: pointer;

    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

    width: 280px;
    height: 60px;
    border: 1px solid $main-color;

    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    color: $main-color;
    text-align: center;

    background-color: $white-color;
    outline: none;

    &:hover {
      border-color: #af3419;
      color: #af3419;
      transition: 0.7s;
    }

    &:active {
      border-color: #ea340d;
      color: #ea340d;
    }

    // &:disabled,
    // button-2[disabled] {
    //   border-color: #dd836f;
    //   color: #dd836f;
    // }

    @include on-tablet {
      width: 210px;
    }
  }
}
