.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 60px;
  margin: 0 auto;

  border: 1px solid transparent;

  background-color: $color-main;

  &__link {
    padding: 22px 83px;

    white-space: nowrap;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: $color-white;

    @include onTablet {
      padding: 22px 109px 22px 107px;
    }

    @include onDesktop {
      padding: 22px 79px 22px 78px;
    }
  }

  transition: background-color 0.3s;

  &:hover {
    background-color: #af3419;
  }

  &:active {
    background-color: #ea340d;
  }

  &:disabled {
    background-color: #dd836f;
  }

  @include onDesktop {
    margin: 0;
  }
}
