.button-more {
  display: flex;
  justify-content: flex-end;

  @include onTablet {
    justify-content: center;
  }

  @include onPhone {
    justify-content: center;
  }

  &__button {
    padding: 10px;
    font-family: "Raleway", sans-serif;
    color: $colorFontDark;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid $colorFontDark;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
