.button-secondary {
  text-align: center;

  &__icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 11px;
    width: 13px;
    background-image: url(../images/icons/arrow-btn-default.png);
  }

  &__link {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    text-align: center;
    color: $c-button-default;
    padding-block: 22px;
    border: 1px solid $c-button-default;
    transition: all $effect-duration;

    &:hover {
      color: $c-button-hover;
      border-color: $c-button-hover;
    }

    &:hover .button-secondary__icon {
      background-image: url(../images/icons/arrow-btn-hover.png);
    }

    &:active {
      color: $c-button-pressed;
      border-color: $c-button-pressed;
    }

    &:active .button-secondary__icon {
      background-image: url(../images/icons/arrow-btn-pressed.png);
    }
  }

  &__link-text {
    font-family: $f-text;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
  }
}
