.button-2 {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 280px;
  height: 60px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: $color-5;
  border: 1px solid $color-5;
  background-color: $color-4;
  cursor: pointer;

  @include Tablet {
    width: 210px;
  }

  @include Desktop {
    width: 270px;
  }
}

.button-2:hover {
  color: #af3419;
  border: 1px solid #af3419;
}

.button-2:focus {
  color: #ea340d;
  border: 1px solid #ea340d;
}

.button-2:disabled {
  color: #dd836f;
  border: 1px solid #dd836f;
}
