.btn {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding: 20px 70px;

  &.primary {
    color: #f1f5f4;
    background-color: #cd4d31;
    border: none;
    transition: color 0.5s, border-color 0.5s, background-color 0.5s;

    @include onTablet {
      max-width: 330px;
    }

    @include onDesktop {
      max-width: 270px;
    }
  }

  &.secondary {
    position: relative;
    color: $main-color;
    background-color: $white-color;
    border: 2px solid $main-color;

    transition: color $duration,
      border-color $duration,
      background-color $duration;

    @include onTablet {
      max-width: 330px;
    }

    @include onDesktop {
      max-width: 270px;
    }
    // &::after {
    //   position: absolute;
    //   content: '';
    //   right: 1px;
    //   background-image: url(/images/svgicon/arrow.svg);
    //   background-repeat: no-repeat;
    //   width: 20px;
    //   height: 20px;
    // }
  }
}

.primary:hover {
  background-color: #af3419;
}

.primary:focus {
  background-color: #ea340d;
}

.primary:disabled {
  background-color: #dd836f;
}
