.button-2 {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  @include size(280px, 60px);
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: $colorRed;
  border: 1px solid $colorRed;
  background-color: $color-4;
  cursor: pointer;
  @include hover(color, #af3419);
  @include hover(border, 1px solid #af3419);

  @include Tablet {
    @include size(210px, 60px);
  }

  @include Desktop {
    @include size(270px, 60px);
  }
}

.button-2:disabled {
  color: #dd836f;
  border: 1px solid #dd836f;
}
