.button-action {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 280px;
  height: 60px;
  margin-bottom: 40px;

  background-color: $button-action-color;

  @include onTablet {
    margin-bottom: 70px;
    width: 330px;
  }

  @include onDesktop {
    margin-bottom: 135px;
    width: 270px;
  }

  &__link {
    @extend %button-text;
    text-decoration: none;
    color: $text-color-white;
    padding: 100%;
  }

  &--menu {
    margin-bottom: 0;

    @include onTablet {
      margin-bottom: 30px;
    }

    @include onDesktop {
      margin-bottom: 108px;
    }
  }
}
