.button--2 {
  width: 100%;
  height: 60px;
  background-color: #f1f5f4;
  border: 1px solid #cd4d31;
  display: flex;
  align-items: center;
  justify-content: center;

  &-news {
    width: 210px;
    display: none;

    @include onTablet {
      display: flex;
      width: 280px;
    }
  }

  &-text {
    color: #cd4d31;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    padding-right: 3px;


    &:focus {

    }
  }

  &:hover {
    border-color: #af3419;

    .button--2-svg {
      & path {
        stroke: #af3419;
      }
    }

    .button--2-text {
      color: #af3419;
    }


  }

  &:focus {
    & path {
      stroke: #ea340d;
    }

    .button--2-text {
      color: #ea340d;
    }
  }

  &:focus {
    color: #ea340d;
    border-color: #ea340d;
  }

  transition: all $duration;
}
