.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  max-width: 270px;

  background-color: $theme-color-orange;
  color: $text-color-white;
  line-height: 16px;

  &--color-dark-green {
    background-color: $dark-green-blue-color;
    border: 1px solid $text-color-white;
  }
}
