.button {
  color: $white;
  background-color: $main-color;
  width: 280px;
  height: 60px;
  border: none;

  @include onTablet {
    width: 330px;
  }

  @include onDesktop {
    width: 270px;
  }
}

.button:hover {
  background-color: $hover-red;
}

.button:focus {
  background-color: $focus-red;
}

.button:disabled {
  background-color: $disabled-red;
}

.secondary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 280px;
  height: 60px;
  border: 1px solid $main-color;
  box-sizing: border-box;
  color: $main-color;

  @include onTablet {
    width: 210px;
  }

  @include onDesktop {
    width: 270px;
  }
  
  &__icon {
    width: 20px;
    height: 20px;
    background-image: url(../images/icons/arrows/default.svg);
    color: $main-color;
  }
}

.secondary-button:hover {
  border: 1px solid $hover-red;
  color: $hover-red;

  &__icon {
    background-image: url(../images/icons/arrows/hover.svg);
    color: $hover-red;
  }
}

.secondary-button:focus {
  border: 1px solid $focus-red;
  color: $focus-red;

  &__icon {
    background-image: url(../images/icons/arrows/hover.svg);
  }
}

.secondary-button:disabled {
  border: 1px solid $disabled-red;
  color: $disabled-red;

  &__icon {
    background-image: url(../images/icons/arrows/hover.svg);
  }
}
