.buy-ticket {
  margin-top: 90px;
  background-color: $main-background-color;

  position: relative;

  @include onTablet {
    margin-top: 100px;
  }

  @include onDesktop {
    margin-top: 110px;

    height: 800px;
  }

  &__headline {
    margin-top: 50px;

    @include secondary-font (38px, 100%, 700);
    color: $main-color;

    @include onTablet {
      margin-top: 80px;

      min-height: 170px;

      font-size: 62px;
    }

    @include onDesktop {
      margin-top: 205px;

      min-height: 200px;
      max-height: 250px;

      font-size: 80px;
    }

    @include transition;
    &:hover {
      color: $button-color;
    }
  }

  &__description {
    margin-top: 20px;

    @include main-font (16px, 150%, 400);
    color: $main-color;

    @include onDesktop {
      margin-top: 10px;
      width: 80%;
    }
  }

  &__button {
    margin: 40px 0 50px;

    @include onTablet {
      margin-top: 60px 0 80px;
    }
  }

  &__image {
    display: none;

    @include onDesktop {
      display: block;
    }

    &-container {
      position: absolute;
      top: 0;
    }
  }
}
