.caption {
  display: none;
  align-items: center;
  text-align: center;

  @include onDesktop {
    display: flex;
  }

  &__line {
    width: 469px;
    height: 1px;
    background: #f1f5f4;
    opacity: 0.3;
  }

  &__paragraph {
    margin: 0 20px 0 0;
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 125%;
    color: #f1f5f4;
    opacity: 0.7;
  }
}
