.card {
  &__img {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__all-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__data {
    color: $main-color;
  }

  &__title {
    margin: 0;
    color: $black-color;
    font-family: "Playfair Display", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 125%; /* 25px */
  }

  &__overview {
    color: $grey-color;
  }

  &__link {
    @include red-button;
  }
}
