.card {
  margin: 0;

  &__photo {
    margin-bottom: 20px;

    &--first {
      @include onTablet {
        margin-bottom: 70px;
      }

      @include onDesktop {
        margin-bottom: 60px;
      }

    }

    &--second {
      @include onTablet {
        margin-bottom: 100px;
      }

      @include onDesktop {
        margin-bottom: 110px;
      }
    }
  }

  &__image {
    width: 280px;
    height: 356px;
    object-fit: cover;

    @include onTablet {
      width: 330px;
      height: 420px;
      object-fit: cover;
    }

    @include onDesktop {
      width: 100%;
      height: 484px;
    }
  }

  &__date {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #cd4d31;
    margin: 0 0 10px;
  }

  &__title {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #1c1b29;
    margin: 0 0 20px;

    @include onTablet {
      font-size: 24px;
    }

    &--second-card {
      @include onTablet {
        margin: 0 0 20px;
      }
    }
  }

  &__description {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #504f5e;

    margin: 0 0 30px;

    @include onTablet {
      margin: 0 0 50px;
    }
  }

  &__button {
    width: 280px;
    margin-bottom: 60px;

    @include onTablet {
      width: 330px;
      margin-bottom: 164px;
    }

    @include onDesktop {
      width: 280px;
      margin-bottom: 200px;
    }

    &--second-card {
      margin-bottom: 30px;
    }
  }
}
