.card {

  &__image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__dates {
    color: $main-color;
    @extend %main;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  &__text {
    @extend %main;
    color: $grey-color;
    padding-top: 20px;
    padding-bottom: 30px;

    @include onDesktop {
      padding-bottom: 50px;
    }
  }

  &__button {
    @include onDesktop {
      width: calc(50% - 15px);
    }
  }
}
