.card-news {
  &__image {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  &__date {
    color: $title-color;
  }

  &__title {
    margin-bottom: 20px;

    @extend %title-card;

    @include onTablet {
      margin-bottom: 28px;
    }

    @include onDesktop {
      margin-bottom: 20px;
    }
  }
}
