.cart {
  // gap: 60px;

  &__left {
    // display: grid;
    // display: flex;

  }

  &__right {
    // display: grid;
    // display: flex;

  }

  &__photo {
    // width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__data {
    margin: 0;
    margin-bottom: 10px;

    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $main-color;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;

    font-family: Playfair Display;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: $black-color;
  }

  &__info {
    margin: 0;
    margin-bottom: 30px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $gray-color;
  }
}
