.cart {
  &__photo {
    display: flex;
    justify-content: center;

    width: 100%;
    margin-bottom: 20px;

    object-fit: cover;

    @include hover(transform, scale(1.1));
  }

  &__data {
    margin: 0;
    margin-bottom: 10px;

    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: $main-color;

    &-news {
      margin: 0;

      font-family: Raleway, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      color: $black-color;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;

    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 125%;
    color: $black-color;
  }

  &__info {
    margin: 0;
    margin-bottom: 30px;

    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: $gray-color;

    &-news {
      margin: 0;

      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
    }
  }
}
