.check-button {
  &__link {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    @extend %font-Raleway;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    color: $c-main;
    background-color: $c-white;
    border: 2px solid $c-main;
    transition: all 0.5s linear;

    &:hover {
      border-color: #af3419;
      color: #af3419;
    }

    &:active {
      border-color: #ea340d;
      color: #ea340d;
    }
  }
}
