@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

.main {
  display: flex;
  flex-direction: column;
  padding: 20px;

  &__caption {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 60px;
  }

  &__actual {

    &-die {
      color: #f00;
      margin-bottom: 5px;
    }

    &-1 {
      line-height: 24px;
      margin-bottom: 90px;
    }

    &-2 {
      line-height: 24px;
      margin-bottom: 90px;
    }

    &-3 {
      line-height: 24px;
      margin-bottom: 90px;
    }

    &-name {
      &-1 {
        font-family: "Playfair Display", serif;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
      }

      &-2 {
        font-family: "Playfair Display", serif;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
      }

      &-3 {
        font-family: "Playfair Display", serif;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
      }
    }

    &-date {
      color: #f00;
      font-family: "Playfair Display", serif;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 10px;
    }

    &-wrapper {
      display: flex;
      flex-direction: row-reverse;
    }

    &-link {
      position: relative;
      display: block;
      text-decoration: none;
      text-align: center;
      color: #000;

      &::after {
        position: absolute;
        display: block;
        content: "";
        width: 130px;
        height: 1px;
        background-color: #000;
        right: 31%;
        top: 150%;
      }
    }
  }
}
