.closest-events {
  &__card {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 72px;
      display: flex;
      gap: 32px;
    }

    @include onDesktop {
      margin-bottom: 60px;
    }

    &--last {
      margin-bottom: 28px;

      @include onTablet {
        margin-bottom: 0;
      }
    }
  }

  &__card-container {
    @include onDesktop {
      width: 570px;
    }
  }

  &__image {
    @include onTablet {
      margin-bottom: 0;
    }

    @include onTablet {
      width: 330px;
    }

    @include onDesktop {
      width: 370px;
    }
  }
}
