.coming-events {

  &__container {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;

    @include onTablet {
      padding: 0 90px;
      display: flex;
      flex-direction: column;
    }

    @include onDesktop {
      max-width: 1280px;
      padding: 0 55px;
    }

    & > :last-child {
      padding: 0 0 80px;

      @include onTablet {
        padding-bottom: 120px;
      }

      @include onDesktop {
        padding-bottom: 184px;
      }
    }

    & > :nth-child(5) {
      @include onDesktop {
        align-self: flex-end;
        margin-right: 100px;
      }
    }
  }

  &__image-01 {
    display: none;
    position: absolute;
    right: 55px;
    top: 10%;
    width: 370px;
    height: 475px;

    background-image: url(../images/coming_events_01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include onDesktop {
      display: block;
    }
  }

  &__image-02 {
    display: none;
    position: absolute;
    left: 55px;
    top: 46%;
    width: 370px;
    height: 475px;

    background-image: url(../images/coming_events_02.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include onDesktop {
      display: block;
    }
  }
}
