.coming_events {
  padding: 130px 0 180px;

  @include onTablet {
    padding: 70px 0 120px;
  }

  @include onPhone {
    padding: 50px 0 30px;
  }

  &__title {
    margin: 0 0 70px 200px;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    color: $colorFontDark;

    @include onTablet {
      margin: 0 0 55px;
    }

    @include onPhone {
      margin: 0 0 55px;
    }
  }

  &__event {
    margin-bottom: 70px;
  }
}
