.button {
  background-color: $redColor;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $whiteColor;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    background-color: #af3419;
  }

  &:focus {
    background-color: #ea340d;
  }

  @include onTablet {
    width: 330px;
  }

  @include onDesktop {
    width: 270px;
  }
}

.button-box {
  box-sizing: border-box;
  color: $redColor;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid $redColor;

  &:hover {
    border: 1px solid #af3419;
    color: #af3419;
  }

  &:focus {
    border: 1px solid #ea340d;
    color: #ea340d;
  }

  @include onTablet {
    width: 210px;
  }

  @include onDesktop {
    width: 270px;
  }

  &__button {
    color: $redColor;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      color: #af3419;
    }

    &:focus {
      color: #ea340d;
    }
  }

  &__top {
    display: none;

    @include onTablet {
      display: flex;
    }
  }

  &__bottom {
    @include onTablet {
      display: none;
    }
  }

  &__arrow {
    content: "";
    background-image: url(../images/icons/arrow.svg);
    width: 20px;
    height: 20px;
    cursor: pointer;

    &:hover {
      background-image: url(../images/icons/arrow-h.svg);
    }

    &:focus {
      background-image: url(../images/icons/arrow-f.svg);
    }
  }
}

.title {
  color: $blackColor;
  font-family: "Playfair Display", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 125%;

  @include onTablet {
    font-size: 40px;
  }

  @include onDesktop {
    font-size: 48px;
    line-height: 120%;
  }
}

.label {
  color: $redColor;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 150%;
}

.text {
  color: $greyColor;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 150%;
}

.subtitle {
  color: $blackColor;
  font-family: "Playfair Display", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 125%;

  @include onTablet {
    font-size: 24px;
  }
}
