html {
  scroll-behavior: smooth;
}

.body {
  margin: 0;
  font-family: $main-font-family;
  transition: transform 0.3s ease-in-out;
  overflow-x: hidden;

  &:has(.menu:target) {
    overflow: hidden;
  }
}
