.container {
  padding: 0 20px;
  max-width: 1200px;

  @include onScreen769 {
    padding: 0 40px;
  }

  @include onScreen820 {
    padding: 0 20px;
  }

  @include onScreen1025 {
    padding: 0 55px;
    margin: 0 auto;
  }
}
