.contact-us-footer {
  &__list {
    margin-block: 10px 30px;

    @include onTable() {
      margin-block: 30px 50px;
    }
  }

  &__item {
    line-height: 150%;
  }

  &__link {
    display: inline-block;
  }

  &__social-list {
    display: flex;
    gap: 20px;

    margin-bottom: 50px;

    @include onTable() {
      margin-bottom: 0;
    }
  }
}
