.contacts {
  &__title {
    @include titleFont;
    font-size: 18px;
    line-height: 150%;
    color: $whiteColor;

    margin-bottom: 10px;

    @include onTablet {
      font-size: 20px;

      margin-bottom: 30px;
    }
  }

  &__item {
    @include mainFont;
    font-size: 16px;
    line-height: 150%;
    color: $whiteColor;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__phones {
    @include mainFont;
    font-size: 16px;
    line-height: 150%;
    color: $whiteColor;
    text-decoration: none;
  }

  &__mail {
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 50px;
    }
  }

  &__links {
    display: flex;
    margin-bottom: 50px;
  }

  &__link {
    display: block;
    text-decoration: none;
    margin-right: 25px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    height: 20px;
    width: 20px;
  }
}
