.contact {
  &__info {
    display: flex;
    flex-direction: column;
  }

  &__info-title {
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: $color-light;
    margin: 34px 0 10px;

    @include onTablet {
      margin: 50px 0 30px;
    }
  }

  &__info-link {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
    cursor: pointer;

    color: $color-light;

    &:hover {
      text-decoration: underline;
    }
  }

  &__social {
    margin-top: 30px;
    &-net {
      margin-right: 25px;
      margin-bottom: 52px;
      text-decoration: none;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__list {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $color-light;
    list-style: none;
  }

  &__privacy {
    display: flex;
    justify-content: space-between;

    &-link {
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      text-decoration: none;
      color: $color-light;
      padding-right: 22px;

      @include onDesktop {
        padding-right: 102px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
