.container {
  position: relative;
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
  max-width: 1440px;

  @include onTablet {
    padding: 0 40px;
  }

  &__grid {
    @include onDesktop {
      display: grid;
      column-gap: 30px;
      grid-template-columns: repeat(12, 1fr);
      justify-content: center;
      align-content: center;
    }
  }
}
