.container-top {
  display: grid;
  max-width: 690px;
  padding: 0 20px;

  @include OnLaptop {
    max-width: 690px;
    padding: 0 39px;
    margin: 0 auto;
  }

  @include OnDesctop {
    max-width: 570px;
    padding: 0 0 0 55px;
    margin-left: auto;
  }

  @include OnDesign {
    max-width: 615px;
    padding: 0 0 0 65px;
    margin-left: auto;
  }

  &--photo {
    @include OnLaptop {
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
    }
  }
}
