.contact-us {
  margin-top: 110px;
  padding: 0 20px;
  min-height: 300px;

  display: grid;

  @include onTablet {
    padding: 0 38px;
    margin-top: 160px;
  }

  @include onDesktop {
    margin-top: 200px;
  }

  &__content {
    margin-top: 80px;
  }

  &__description {
    margin: 20px 0 50px;
    font-family: Raleway, sans-serif;
    font-style: 400;
    font-size: 16px;
    line-height: 24px;
    color: $colorMain;
  }

  &__button {
    margin: 30px 0 80px;

    @include onTablet {
      max-width: 75%;
      margin: 30px 0 128px;
    }

    @include onTablet {
      max-width: 75%;
      margin: 40px 0 200px;
    }
  }

  &__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 24px;
    font-weight: 700;
    border-bottom: 1px solid $colorMain;
    color: $colorMain;

    @include onDesktop {
      margin: 50px 0 30px;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }

    &:hover {
      border-color: $colorMainRed;
      color: $colorMain;
    }

    &:hover::placeholder {
      color: $colorMainRed;
    }

    &:focus::placeholder {
      color: transparent;
    }

    &:active {
      border-color: $colorMainRed;
      color: $colorMain;
    }

    &:focus {
      border-color: $colorMainRed;
      caret-color: $colorMainRed;
    }
  }
}

