.contact {
  background-color: #3f5252;

  &__blocks {
    max-width: 1070px;
    margin: 0 auto;
    display: flex;
    padding: 0 55px;
    justify-content: space-between;
    gap: 30px;
  
    @include onTablet {
      padding: 0 39px;
    }

    @include onMobile {
      flex-direction: column;
      padding: 0 20px;
    }
  }

  &__block-1,
  &__block-2,
  &__block-3 {
    max-width: 370px;
    max-height: 320px;
  }

  &__title {
    font-family: Playfair Display, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #f1f5f4;
    @include onMobile {
      margin-top: 0;
    }
  }

  &__text,
  a {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    color: #f1f5f4;
    margin-bottom: 50px;
  }

  &__media {
    margin-right: 25px;
    transition: filter 0.3s;

    &:hover {
      filter: invert(50%) sepia(88%) saturate(500%) hue-rotate(158deg) 
        brightness(100%) contrast(100%);
    }

    &:focus {
      filter: invert(20%) sepia(8%) saturate(500%) hue-rotate(158deg) 
        brightness(100%) contrast(100%);
    }
  }

  &__link {
    transition: border-bottom 0.3s;
  
    &:hover {
      border-bottom: 1px white solid;
    }
  }
}

ul {
  margin: 0 auto;
  padding: 0;
}

li {
  margin-bottom: 10px;
  list-style: none;
}
