.contacts {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: $white-color;
  text-decoration: none;

  &__address {
    color: $white-color;
    text-decoration: none;
  }

  &__phone {
    color: $white-color;
    text-decoration: none;
  }

  &__email {
    color: $white-color;
    text-decoration: none;
  }

  &__media {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;

    @include on-tablet {
      margin-top: 50px;
    }

    @include on-desktop {
      margin-top: 50px;
    }
  }
}
