.contacts-social {
  display: flex;
  flex-direction: row;
  gap: 20px;

  &__icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
  }

  &__facebook {
    background-image: url(../images/icons/facebook.svg);

    &:hover {
      background-image: url(../images/icons/facebook-hover.svg);
      transform: scale(1.1);
    }
  }

  &__twitter {
    background-image: url(../images/icons/twitter.svg);

    &:hover {
      background-image: url(../images/icons/twitter-hover.svg);
      transform: scale(1.1);
    }
  }

  &__telegram {
    background-image: url(../images/icons/telegram.svg);

    &:hover {
      background-image: url(../images/icons/telegram-hover.svg);
      transform: scale(1.1);
    }
  }

  &__instagram {
    background-image: url(../images/icons/instagram.svg);

    &:hover {
      background-image: url(../images/icons/instagram-hover.svg);
      transform: scale(1.1);
    }
  }
}