.conteiner {
  padding: 90px 0 80px;
  color: $color-black;
  font-family: $main-font-family;
  background-color: $color-white;

  @include onTablet {
    padding: 105px 0 130px;
  }

  @include onDesktop {
    padding: 110px 0 200px;
  }
}
