.continue {
  margin: 0 auto;
  text-align: center;

  @include onDesktop {
    display: flex;
    align-items: center;

    width: auto;
    margin-left: calc(100% - 270px);
  }

  &__line {
    width: 130px;
    height: 1px;
    border: none;
    background-color: $textColorPrimary;

    @include onIPad {
      width: 170px;
    }

    @include onDesktop {
      width: 70px;
      margin-left: 20px;
    }
  }
}
