.content {
  padding: 0 20px;

  @include onTablet {
    padding: 0 40px;
  }
  
  @include onDesktop {
    width: 45%;
    padding: 0 0 0 56px;
  }
  
  &__date {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  &__title {
    margin-bottom: 30px;
    font-family: $_playfair;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;

    @include onTablet {
      margin-bottom: 20px;
      font-size: 72px;
    }

    @include onDesktop {
      font-size: 96px;
    }
  }

  &__description {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    @include onTablet {
      margin-bottom: 50px;
    }

    @include onDesktop {
      margin-bottom: 81px;
    }
  }

  &__button {
    display: block;
    width: 280px;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: $colorWhite;
    background-color: $colorOrange;

    @include onTablet {
      width: 330px;
    }

    @include onDesktop {
      width: 270px;
      margin-bottom: 136px;
    }
  }

  &__footer {
    display: none;

    @include onDesktop {
      display: block;
      position: relative;

      & hr {
        opacity: 0.3;
      }

      &--text {
        position: absolute;
        top: -11px;
        padding-right: 20px;
        font-family: $_playfair;
        font-weight: 700;
        font-size: 14px;
        line-height: 125%;
        background-color: $backGroundDark;
      }
    }
  }
}
