.main {
  color: $color-text-title;
  background-color: $color-bcg;

  &__title {
    padding-top: 90px;
    font-family: $font-title;
    font-size: $size-text-title;
    line-height: 125%;
    color: $color-text-title;

    @include onTablet {
      font-size: 40px;
      padding-top: 110px;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 120%;
      padding-top: 120px;
    }
  }

  &__exhibitions {
    color: $color-text-title;
  }

  &__events {
    color: $color-text-title;
  }

  &__news {
    color: $color-text-title;
  }
}

.picture__photo-container {
  display: block;
  position: relative;
  width: 100%;
  max-height: 356px;
  padding-bottom: 100%;
  overflow: hidden;

  &::after {
    content: "";
    display: block;

  }

  @include onTablet {
    max-height: 420px;
  }

  @include onDesktop {
    max-height: 485px;
    margin-bottom: 0;
  }
}

.picture__photo {
  margin-top: 60px;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  @include onTablet {
    margin-top: 70px;
  }
}

.place__photo {
  &-date {
    margin-top: 20px;
    line-height: 24px;
    color: $color-button;
  }

  &-day {
    margin-top: 20px;
    color: $color-text-title;

    @include onTablet {
      margin-top: 30px;
    }
  }

  &-title {
    margin-top: 10px;

    font-family: $font-title;
    font-size: $size-text-article;
    font-weight: bold;
    line-height: 25px;
    color: $color-text-title;
  }

  &-description {
    margin-top: 20px;

    @include onTablet {
      margin-top: 50px;
    }

    @include onDesktop {
      margin-top: 20px;
    }

    color: $color-text-content;
    line-height: 24px;
  }
}
