.contact {
  &__info {
    &-title {
      font-family: "Playfair Display", serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;

      color: #f1f5f4;

      margin-bottom: 10px;

      @include onDesktop {
        font-size: 20px;
        line-height: 30px;

        margin-bottom: 30px;
      }

      &--golovna {
        margin-top: 50px;

        @include onDesktop {
          margin-top: 0;
        }
      }
    }

    &-link,
    &-text {
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      color: #f1f5f4;
      text-decoration: none;

      @include onDesktop {
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        line-height: 24px;
      }

      &--main {
        padding: 5px 0;

        &:first-child {
          padding: 0;
        }

        @include onDesktop {
          padding: 10px 0;

          &:first-child {
            padding: 0;
          }
        }
      }
    }
  }

  &__images {
    margin-top: 30px;

    @include onDesktop {
      margin-top: 50px;
    }
  }

  &__copyrigt {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #f1f5f4;

    @include onDesktop {
      font-size: 14px;
    }
  }

  &__terms {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #f1f5f4;

    @include onDesktop {
      margin-top: 0;
    }
  }

  &__line {

    @include onDesktop {
      border: 1px solid transparent;
      height: 95%;
    }
  }
}
