.content {
  display: flex;
  flex-direction: column;

  &__container {
    margin-bottom: 60px;
  }

  &__image {
    margin-bottom: 20px;
    display: block;
    max-height: 422px;
    width: 100%;

    object-fit: contain;
    object-position: center;
  }

  &__date {
    margin-bottom: 10px;
    color: $colorMain;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__info {
    margin-bottom: 30px;
  }
}
