.contacts {
  &__address {
    color: $white;
  }

  &__phones {
    display: flex;
  }

  &__email {
    margin-bottom: 30px;

    @include on-tablet {
      margin-bottom: 50px;
    }
  }

  &__media {
    display: flex;
    gap: 20px;
  }
}
