.container-header {
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;

  @include oniPad {
    padding: 0 40px;
  }

  @include onDesktop {
    padding: 0 40px;
  }

  &--with-menu {
    @include onDesktop {
      background-image: url(../images/header2.png);
      background-repeat: no-repeat;
      background-position: right 0 bottom 0;
    }
  }
}
