.contacts-footer {
  // .contacts-footer__address
  &__address {
    margin-bottom: 10px;
    display: inline-block;
  }

  // .contacts-footer__number
  &__number {
    &:last-child {
      margin-left: 33px;
    }
  }

  // .contacts-footer__phones
  &__phones {
    margin-bottom: 10px;
  }
}
