.container {
  margin: 0 auto;
  max-width: 1680px;
  box-sizing: border-box;
  padding: 0 20px;

  @include onTablet {
    padding: 0 40px;
  }

  @include onDesktop {
    padding: 0 55px;
  }

  @include onScreen {
    padding: 0 350px;
  }

  &__digest {
    margin: 0 20px 80px;
    padding: 0;

    @include onTablet {
      margin: 0 200px 80px 20px;
    }

    @include onDesktop {
      margin: 200px 55px;
    }

    @include onScreen {
      margin: 0 auto;
      padding: 0 350px;
    }
  }

  &__visit {
    padding-top: 50px;

    @include onTablet {
      padding: 80px 160px 80px 39px;
    }

    @include onDesktop {
      padding: 205px 55px 205px 555px;
      // max-width: 1070px;
    }
  }
}
