.copyright{
  display: grid;
  grid-template-columns: 1fr 30px;

  &__content {
  display: flex;
  align-items: center
  }

  &__item {
    @extend %text-additional;
    text-decoration: none;
    color: inherit;

    &:first-child {
      margin-right: 22px;

      @include onDesktop {
        margin-right: 102px;
      }
    }
  }
}
