.copyright {
  color: $whiteColor;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onTablet {
    justify-content: flex-start;
  }

  &__data {
    @include onTablet {
      margin-right: 22px;
    }

    @include onTablet {
      margin-right: 102px;
    }
  }

  &__text {
    @include onTablet {
      flex-grow: 1;
    }
  }
}
