.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    display: inline-block;
    color: $color-white;
    @extend %additional;
    margin-right: 22px;
  }

  &__link {
    display: inline-block;
    color: $color-white;
    @extend %additional;
    text-decoration: none;
    transition: 300ms;

    &:hover {
      color: $color-orange-active;
    }
  }
}
