.country {
  display: none;

  @include onTable {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &--nav {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__name {
    @extend %text;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: $color-weight;
  }

  &__menu {
    width: 8px;
    height: 6px;
    background-image: url(../images/Union.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

}
