.cross {
  position: relative;

  &__part {
    width: 30px;
    height: 2px;
    background-color: #fff;

    &--one {
      transform: rotate(45deg);
    }

    &--two {
      position: absolute;
      top: 0;
      left: 0;

      transform: rotate(-45deg);
    }
  }
}
