.cta {
  background-color: $colorBackground;

  &__container {
    padding: 50px 20px;
  }

  &__title {
    margin-bottom: 20px;
    color: $colorWhite;
  }

  &__text {
    margin-bottom: 40px;
    color: $colorWhite;
  }
}
