.cta {
  @include onDesktop {
    height: 100vh;
  }

  &__image {
    display: none;

    @include onDesktop {
      position: absolute;
      left: -10vh;
      bottom: 0;

      display: block;
      height: 80vh;
    }
  }

  &__title {
    margin-bottom: 20px;
    color: $colorWhite;
  }

  &__text {
    margin-bottom: 40px;
    color: $colorWhite;
  }
}
