.cta {
  position: relative;

  background-color: $colorBackground;

  @include onDesktop {
    height: 100vh;
    background-image: url(../images/ctalady.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
  }

  &__image {
    height: 100vh;
  }

  &__title {
    margin-bottom: 20px;
    color: $colorWhite;
  }

  &__text {
    margin-bottom: 40px;
    color: $colorWhite;
  }
}
