.current-exhibitions {
  &__title {
    margin-bottom: 60px;

    @extend %h3;

    color: $c-black;

    @include onTablet {
      margin-bottom: 76px;

      font-size: 40px;
    }
  }

  &__place {
    margin-bottom: 60px;

    &--last {
      margin-bottom: 30px;
    }

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__image {
    width: 100%;

    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 30px;
    }
  }

  &__date {
    margin-bottom: 10px;

    display: block;

    @extend %main;

    color: $c-main;
  }

  &__subtitle {
    margin-bottom: 20px;

    @extend %h4;

    color: $c-black;

    @include onTablet {
      font-size: 24px;
    }
  }

  &__description {
    margin-bottom: 30px;

    @extend %main;

    color: $c-gray;

    @include onTablet {
      margin-bottom: 40px;
    }
  }
}
