.current-exhibitions {
  position: relative;
  align-content: center;

}

.exibitions {
  display: grid;
  row-gap: 60px;

  @include twoCulumnPageGrid;
}

.exibition {
  &__photo {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;

    @include hover(transform, scale(1.2));

  }

  &__content {
    margin: 0;
    margin-bottom: 30px;

    @include fontContentSection;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }
  }
}
