.daidjest {

  &__title {
    margin-top: 110px;

    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;

    color: #1c1b29;

    @include onDesktop {
      font-size: 48px;
      line-height: 58px;
      margin-top: 200px;
      margin-bottom: 50px;
    }
  }

  &__text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #1c1b29;

    margin-top: 20px;
    margin-bottom: 50px;

    @include onDesktop {
      margin-top: 200px;
    }

    &--desk {
      visibility: hidden;

      @include onDesktop {
        visibility: visible;
      }
    }

    &--mobile {
      @include onDesktop {
        display: none;
      }
    }
  }

  &__email {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #1c1b29;

    &::after {
      content: "";
      display: block;
      width: 280px;
      height: 1px;
      background-color: black;

      @include onDesktop {
        width: 470px;
      }
    }

  }

  &__button {
    margin-top: 35px;

    @include onDesktop {
      margin-top: 45px;
    }
  }

}
