.daigest {
  font-family: "Raleway", sans-serif;

  &__title {
    font-family: "Playfair Display", sans-serif;
    width: 100%;
    display: block;
  }

  &__description {
    margin-top: 20px;
    margin-bottom: 50px;

    @include onDesktop {
      margin-top: 0;
    }
  }

  &__email {
    width: 100%;
    border: none;
    color: #1c1b29;
    border-bottom: 1px solid #1c1b29;

    margin-bottom: 30px;

    @include onDesktop {
      margin-top: 50px;
      margin-bottom: 40px;
    }

    &::placeholder {
      color: #1c1b29;
    }

    &:hover {
      &::placeholder {
        color: #cd4d31;
      }
      border-color: #cd4d31;
    }

    &:focus {
      &::placeholder {
        color: #cd4d31;
      }
      color: #cd4d31;
      border-color: #cd4d31;
      outline: none;
    }
  }

  &__button {
    width: 100%;
  }

}
