@import '../utils/vars';
@import '../utils/mixins';

.date {
  color: $color-red;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;

  &--black {
    color: $color-black;
    font-size: 14px;
    line-height: 19.6px;
    margin-bottom: 0;
  }
}
