.date {
  @include page-grid;

  place-items: center;
  margin: 135px 0 0;

  @include on-tablet {
    display: none;
  }

  &__duration {
    @include text-styler(Playfair Display, 700, 14px, 17.5px, $c-white);

    text-wrap: nowrap;
    opacity: 70%;
  }

  &__separator {
    grid-column: 2 / 7;
    width: 100%;
    height: 1px;
    opacity: 30%;
    background-color: $c-white;
  }
}
