.date-wrapper {
  display: none;

  @include onDesktop {
    display: flex;
    align-items: center;

    &__date {
      width: 100px;
      margin-right: 30px;
    }

    &__line {
      width: 500px;
      border-bottom: 1px solid $c-white;
    }
  }
}
