.date-line {
  @extend %h6;
  color: $color-white;
  opacity: 0.7;
  white-space: nowrap;

  display: flex;
  align-items: center;
  gap: 20px;

  &::after {
    content: "";
    display: block;
    background-color: $color-white;
    height: 1px;
    width: 100%;
    opacity: 0.3;
  }
}
