.date-info {
  display: flex;
  width: 224px;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @include onTablet {
    width: 464px;
  }

  @include onDeskTop {
    width: 424px;
  }

  &__title {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: $colorTextWhite;
  }

  &__text {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: $colorTextWhite;
    padding-bottom: 20px;
  }

  &__info-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: $colorTextWhite;
    text-decoration: none;
  }

  &__address {
    &:hover {
      color: $colorMain;
    }
  }
}

.second-date {
  display: flex;
  flex-direction: column;
}

.first-date {
  display: flex;
  flex-direction: column;

  @include onTablet {
    margin-right: 120px;
  }

  @include onDeskTop {
    margin-right: 80px;
  }
}
