.dd-list {
  display: none;
  text-decoration: none;

  &--menu {
    display: flex;
    align-items: center;
    order: -1;
    margin-right: 30px;
  }

  @include onTablet {
    order: 0;
    margin-right: 0;
  }

  @include onTablet {
    display: flex;
    align-items: center;
  }

  &__text {
    @extend %dd-list-font;
    color: $text-color-white;
    margin-right: 5px;

    transition: $transition-all;

    &:hover {
      color: $button-action-color;
      transform: scale(1.2);
      font-weight: 700;
    }
  }

  &__arrow {
    @extend %background-image-contain;
    height: 4px;
    width: 8px;

    background-image: url(../images/dd-arrow.svg);
  }
}
