.description {
  &__dats {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1c1b29;
  }

  &__tema {
    padding-bottom: 20px;

    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    color: #1c1c29;

    @include onDesktop {
      line-height: 20px;
    }
  }

  &__paragraph {
    padding-bottom: 50px;

    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #504f5e;

    @include onDesktop {
      line-height: 24px;
    }
  }
}
