.description {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 100%;
    color: #f1f5f4;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    @include onTablet {
      font-size: 72px;
      line-height: 100%;
      margin-bottom: 50px;
    }
    @include onDesktop {
      font-size: 96px;
      line-height: 100%;

      margin-bottom: 80px;
    }

    &::before {
      content: "10 серпня - 10 листопада";
      display: block;

      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      padding-bottom: 10px;
    }

    &::after {
      content: "10 серпня - 10 листопада";
      display: block;

      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      padding-top: 30px;

      @include onTablet {
        padding-top: 20px;
      }

      @include onDesktop {
        padding-top: 30px;
      }
    }
  }

  &__time {
    display: none;
    height: 20px;

    @include onDesktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 50px;
    }

    &--date {
      font-family: "Playfair Display", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 125%;
      min-width: max-content;

      margin: 0;

      color: #f1f5f4;
    }

    &--line {
      display: block;
      margin-left: 20px;
      height: 1px;
      width: 100%;
      background-color: #f1f5f4;
      opacity: 0.3;

    }
  }

  &__data {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #f1f5f4;

    margin-bottom: 40px;

    @include onTablet {
      display: flex;
      column-gap: 100px;
    }

    @include onDesktop {
      margin-bottom: 70px;
    }

    &--time {
      margin: 0;
      margin-bottom: 20px;

      &::before {
        content: "Розклад сьогодні:";
        display: block;
        width: 100%;
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
      }
    }

    &--address {
      margin: 0;

      &::before {
        content: "Адреса:";
        display: block;
        width: 100%;
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;

      }
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &--content {
      padding-bottom: 40px;
      border-bottom: 1px solid #f1f5f4;

      margin-bottom: 60px;

      @include onTablet {
        margin-bottom: 50px;
        padding-bottom: 50px;
      }

      @include onDesktop {
        margin-bottom: 60px;
        padding-bottom: 60px;
      }
    }
  }

  &__item {
    padding-bottom: 20px;

    @include onTablet {
      padding-bottom: 30px;
    }

    @include onDesktop {
      padding-bottom: 60px;
    }
  }

  &__link {
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #f1f5f4;
    text-decoration: none;

    @include onTablet {
      font-size: 48px;
      line-height: 120%;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
