.digest {
  background-color: $back-c-orange;

  &__title {
    margin-bottom: 40px;
    @extend %text-title;
    color: $text-c-white;
    font-size: 36px;
    line-height: 100%;
  }

  &__description {
    font-size: 16px;
    line-height: 150%;
    color: $text-c-white;
    margin-bottom: 60px;
  }

  &__email {
    width: 80%;
    padding: 4px;
    background-color: $back-c-orange;
    border: 2px solid transparent;
    border-radius: 4px;

    &::placeholder {
      color: $text-c-white;
      font-size: 16px;
      line-height: 150%;
    }

    &:hover {
      border-color: $text-c-white;
    }
  }
}
