.digest {
  &-title {
    font-family: "Playfair Display", serif;
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    text-align: left;
    color: $text-black;

    @include tablet {
      font-size: 40px;
      line-height: 50px;
      margin: 0 0 20px;
    }
    @include onDesktop {
      font-size: 48px;
      line-height: 58px;
      margin: 0 0 70px;
    }
  }
  &__info-text {
    font-family: "Raleway", sans-serif;
    @extend %text-standart;

    color: $text-black;
    margin-bottom: 70px;
    @include tablet {
      margin-bottom: 70px;
    }
  }
}
