.digest-subscribe {
  @include grid-template;

  &__title {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__description {
    margin-top: 20px;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 5;
    }

    @include on-desktop {
      margin-top: 0;

      grid-column: span 6;
    }
  }

  &__input {
    margin-top: 50px;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__button {
    margin-top: 30px;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      margin-top: 40px;

      grid-row: 3;
    }
  }
}
