.digest {
  &__grid {
    @include onTablet {
      display: grid;
      grid-template-columns: repeat(6, 90px);
      gap: 0 30px;
    }

    @include onDesktop {
      grid-template-columns: repeat(12, 70px);
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 125%;

    @include onTablet {
      grid-column: 1 / 7;
      font-size: 40px;
    }

    @include onDesktop {
      margin-bottom: 50px;
      font-size: 48px;
      line-height: 120%;
    }
  }

  &__main-info {
    margin-bottom: 50px;

    @include onTablet {
      grid-column: 1 / 6;
    }

    @include onDesktop {
      grid-column: 7 / 13;
    }
  }

  &__form {
    margin-bottom: 30px;

    @include onTablet {
      grid-column: 1 / 5;
    }

    @include onDesktop {
      margin-bottom: 40px;
    }
  }

  &__field {
    display: block;
    padding: 0;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    border: 1px solid transparent;
    background-color: $white;
    color: $black;
    border-bottom: 1px solid $black;
  }

  &__button {
    @include onTablet {
      grid-column: 1 / 4;
    }
  }
}
