.digest-subscribtion {
  &__email {
    width: 100%;
    background: none;
    border: none;

    padding-bottom: 1px;
    border-bottom: 2px solid $second-text-color;

    transition: all 0.3s;

    color: $second-text-color;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;

    &:hover {
      color: $button-background-color;
      border-bottom: 2px solid $button-background-color;
    }

    &:focus {
      outline: none;
      color: $button-background-color;
      border-bottom: 2px solid $button-background-color;
    }
  }

  &__button {
    width: 100%;
    margin: 30px 0 80px;
    border: none;
    cursor: pointer;

    @include on-tablet {
      width: 330px;
      margin-bottom: 128px;
    }

    @include on-desktop {
      width: 270px;
      margin: 40px 0 200px;
    }
  }

  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: $button-background-color;
    transition: background-color 5000s ease-in-out 0s;
  }
}
