.divider-link {
  display: block;
  font-family: Raleway, sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #1c1b29;
  text-decoration: none;

  @include onDesktop {
    text-align: right;
  }

  &::after {
    content: "";
    display: block;
    margin: 11px auto 0;
    width: 130px;
    height: 1px;
    background: #1c1b29;

    @include onTablet {
      width: 170px;
    }

    @include onDesktop {
      display: inline-block;
      position: relative;
      bottom: 5px;
      margin-left: 20px;
    }
  }
}
