.gus-anim {
  position: fixed;
  top: 0;
  bottom: 0;
  margin-bottom: auto;
  margin-top: auto;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

html,
body {
  height: 100%;
}

/* page 1 */
header {
  margin-top: 32px;
  margin-bottom: 56px;
  margin-left: 16px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.modul-dron {
  background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo-text {
  margin-left: 16px;
}

.text-block {
  background: #fcfeff;
  padding: 60px 56px;
  height: 492px;
  width: 540px;
  margin-top: 112px;
  margin-left: 16px;
  margin-bottom: 108px;

  /* margin-right: 496px; */

  justify-content: space-between;
  align-self: center;
}

.pryvit {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1b1d1f;
  margin-bottom: 16px;
  margin-top: 60px;
}

.do-dii {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #ff6b0a;
  margin-bottom: 48px;
}

.name {
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  display: flex;
  align-items: center;
  color: #1B1D1F;
  margin-bottom: 24px;
}

.about {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1B1D1F;
  margin-bottom: 48px;
}

.button-page {
  background: #FF6B0A;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 24px;
  gap: 10px;
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
  cursor: pointer;
  margin-bottom: 32px;
}

.b-gus {
  display: inline-flex;
  position: absolute;
  width: 668px;
  height: 100%;
  left: 692px;
  top: 0;
  align-self: flex-end;
}

/* page 2 */

.gus-facts {
  padding: 52px 0 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.trezub {
  width: 32px;
  height: 52px;
  margin-bottom: 12px;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 100px;
  color: #1B1D1F;
  margin-bottom: 12px;
}

.facts {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1B1D1F;
  margin-bottom: 16px;
  width: 875px;
}

.total-container {
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.fact-1,
 .fact-2,
 .fact-3 {
  margin: 12px;
 }

 .f1-title,
 .f2-title,
 .f3-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #1B1D1F;
  margin-top: 12px;
}

.f1-text,
.f2-text,
.f3-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1B1D1F;
  margin-top: 32px;
}

/* footer */
footer {
  margin-left: 366px;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
  top: 1862px;
  background: linear-gradient(270deg, #c1e8ff 0%, #fff 100%);
}

/* modals */
.modal-container {
  background: #fff;
  padding: 32px 92px 60px;
  position: relative;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #1B1D1F;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  margin: 32px 0 12px;
  color: #000;
}

.modal-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  color: #000;
}

.modal-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.field-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  color: #000;
}

.field-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  height: 48px;
  border: 1px solid #005BBB;
  border-radius: 8px;
  color: #000;
  padding-left: 12px;
}

.button-modal {
  background: #FF6B0A;
  border-radius: 8px;
  padding: 12px 24px;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  margin-top: 32px;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 12px;
  font-size: 24px;
  color: #000;
  border: 0;
  cursor: pointer;
  background-color: #fff;
}

.modal-active {
  opacity: 0.7;
  pointer-events: all;
}
