@use '../utils' as *;

.dropDown {
  @extend %main;

  background: $header-bg-color;
  border: 0;
  color: $header-text-color;

  &--header {
    display: none;

    @include on-tablet {
      display: block;
    }
  }

  &__option {
    background: inherit;
  }
}
