.email-field {

  &__form {
    border: none;
    outline: none;
    border-bottom: 1px solid $dark;
    padding: 3px 0;
    @extend %ralewayButton;

    &::placeholder {
      @extend %ralewayMain;
      font-size: 16px;
      line-height: 150%;
      color: $dark;
    }

    &:hover {
      border-color: $orange;
      
      &::placeholder {
        color: $orange;
      }
    }

    &:focus {
      border-color: $orangePressed;
      color: $orangePressed;
      font-weight: 600;
      
      &::placeholder {
        color: $orangePressed;
      }
    }
  }
}