.event {
  margin-bottom: 90px;

  @include onTablet {
    margin-bottom: 100px;
  }

  @include onDesktop {
    margin-bottom: 110px;
  }

  &__header {
    @include flex(center, space-between);

    @include onTablet {
      margin-bottom: 76px;
    }

    @include onDesktop {
      margin-bottom: 70px;
    }
  }

  &__image {
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 60px;

      &--last {
        margin-bottom: 0;
      }
    }
  }

  &__date {
    margin-bottom: 10px;
    color: $primaryColor;
  }

  &__name {
    margin-bottom: 20px;

    @extend %fontPlayfair;
    font-size: 20px;
    line-height: 1.25;
    color: $blackColor;

    @include onTablet {
      min-width: 264px;
      font-size: 24px;
    }
  }

  &__text {
    margin-bottom: 30px;
    color: $grayColor;

    @include onTablet {
      margin-bottom: 50px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }
  }

  &__button {
    margin-bottom: 60px;

    &--last {
      margin-bottom: 30px;
    }

    @include onTablet {
      margin-bottom: 0;
    }
  }
}
