.events-section {

  &__container {
    @include container;
  }

  &__secondary-button-position {
    position: relative;
    padding-top: 5px;
  }

  &__img-wrapper-one {
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 70px;
    }

    @include onDesktop {
      margin-bottom: 60px;
    }
  }

  &__img-wrapper-two {
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 100px;
    }

    @include onDesktop {
      margin-bottom: 110px;
    }
  }

  &__content-photo {
    @extend %object-fit;
    box-shadow: $img-shadow;
    @include hover(transform, scale($img-scale));
  }

  &__first-article {
    margin-bottom: 60px;
  }

  &__second-article {
    margin-bottom: 30px;
  }

  &__secondary-button {
    
    @include onTablet {
      position: absolute;
      top: 0;
    }
  }
}
