.events {
  padding-top: 120px;

  &__content {
    @include page-grid;

    @include on-tablet {
      grid-column: span 6;
    }
  }

  &__title {
    grid-column: span 2;

    margin-bottom: 60px;

    @include on-tablet {
      grid-area: 1 / 1 / 1 / span 5;
    }
  }

  &__article {
    @include page-grid;

    grid-column: span 2;

    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 30px;
    }

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-desktop {
      grid-column: span 12;
    }
  }

  &__img {
    grid-column: span 2;
    margin-bottom: 20px;

    @include on-tablet {
      grid-column: span 6;

      min-height: 420px;
    }

    @include on-big-tablet {
      grid-area: 1 / 1 / 1 / 4;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }

  &__info {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-big-tablet {
      grid-column: 4 / span 3;
    }

    @include on-desktop {
      grid-area: 1 / 5 / 1 / 11;
    }
  }

  &__date {
    grid-column: span 2;

    margin-bottom: 10px;

    @include on-tablet {
      grid-column: span 6;
    }
  }

  &__title-article {
    grid-column: span 2;

    margin-bottom: 20px;

    @include on-tablet {
      grid-column: span 6;
    }

  }

  &__description {
    grid-column: span 2;

    margin-bottom: 30px;

    @include on-tablet {
      grid-column: span 6;
    }
  }

  &__ticket {
    grid-column: span 2;

    @include on-tablet {
      grid-column: 2 / 6;
    }

    @include on-big-tablet {
      grid-column: span 6;
    }
  }

  &__registration {
    width: 100%;

    @include on-big-desktop {
      max-width: 270px;
    }

    @include on-desktop {
      max-width: 270px;
    }
  }

  &__btn-calendar {
    grid-column: span 2;

    @include on-tablet {
      grid-column: 2 / 6;
    }

    @include on-big-tablet {
      grid-area: 1 / 5 / 1 / 7;
    }

    @include on-desktop {
      grid-area: 1 / 10 / 1 / 13;
    }
  }
}
