.event {
  row-gap: 20px;
  transition: $efferctDuration;

  @include on-tablet {
    column-gap: 30px;
  }

  &__img {
    @include on-tablet {
      max-height: 422px;
    }

    @include on-desktop {
      max-height: 475px;
    }
  }

  &:hover .event__img {
    @include hover(transform, scale(1.05));
  }

  &__date {
    color: $button-color;
    padding-bottom: 10px;
  }

  &__about {
    padding: 20px 0 30px;
    color: $grey-color;

    @include on-tablet {
      padding: 20px 0 50px;
    }
  }

  &__button {
    width: 100%;

    @include on-desktop {
      width: 270px;
    }
  }
}
