.events {

  &__container {
    @include container;
  }

  &__content {
    padding: 120px 0 90px;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 60px 30px;
      padding: 160px 0 100px;
    }

    @include onDesktop {
      grid-template-columns: repeat(12, 1fr);
      padding: 200px 0 110px;
    }
  }

  &__img {
    height: 356px;
    width: 100%;
    margin-top: 60px;

    @include onTablet {
      height: 420px;
    }

    @include onDesktop {
      height: 475px;
    }

    &--1 {
      background-image: url(../images/events/img_05.png);

      @include onTablet {
        grid-column: 1 / 4;
        margin: 0;
      }

      @include onDesktop {
        grid-column: 1 / 5;
      }
    }

    &--2 {
      background-image: url(../images/events/img_06.png);

      @include onTablet {
        grid-column: 1 / 4;
        margin: 0;
      }

      @include onDesktop {
        grid-column: 1 / 5;
      }
    }
  }

  &__sub-title {
    margin-top: 10px;
  }

  &__termin {
    margin-top: 20px;

    @include onTablet {
      margin: 0;
    }
  }

  &__text {
    margin-top: 20px;
  }

  &__exhibition--2 {
    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 5 / 11;
    }
  }

  &__exhibition--1 {
    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 5 / 11;
    }
  }
}
