.events-section {

  &--button-position {
    position: relative;
    padding-top: 10px;
  }

  &__img-wrapper {
    margin-bottom: 20px;

    @include onIpad {
      margin-bottom: 70px;
    }

    &--position {
      margin-bottom: 20px;

      @include onIpad {
        margin-bottom: 0;
      }

      @include onDesktop {
        margin-bottom: 110px;
      }
    }
  }

  &__article {
    margin-bottom: 60px;

    &--position {
      margin-bottom: 30px;
    }
  }

  &__secondary-button {

    @include onIpad {
      position: absolute;
      top: 0;
    }
  }

  &__content-photo {
    @extend %object-fit;
  }
}
