.event {
  &__photo {
    width: 100%;
    margin-bottom: 20px;
    transition: transform 0.1s linear;
    cursor: pointer;

    &:hover {
      transform: scale(1.02);
    }

    @include onTablet {
      width: 50%;
    }

    @include onDesktop {
      height: 475px;
      width: 370px;
      object-fit: cover;
    }
  }

  &__content {

    @include onTablet {
      display: flex;
      gap: 30px;
    }
  }

  &__subcontent {

    @include onTablet {
      width: 570px;
    }
  }
}
