.exhibitions {
  padding: 150px 56px;

  &__gallery {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
  }
  &__first-box {
    max-width: 570px;
  }
  &__second-box {
    max-width: 570px;
  }

  &__date {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #CD4D31;

    margin: 20px 0 10px;
  }

  &__name {
    font-family: "Playfair Display" serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #1C1B29;
  }

  &__description {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #504F5E;

    margin: 20px 0 50px;
  }
}
