.exhibitions {
  @include page-grid;
}

.exhibitions__tittle {
  grid-column: 1/-1;

  @include on-tablet {
    grid-column: 1/5;
  }

  @include on-desktop {
    grid-column: 1/7;
  }
}

.exhibitions__cards {
  grid-column: 1/-1;

  @include page-grid;

  row-gap: 60px;
  margin-top: 60px;

  @include on-tablet {
    margin-top: 75px;
  }

  @include on-desktop {
    margin-top: 71px;
  }
}

.exhibitions__card {
  grid-column: 1/-1;

  @include on-tablet {
    grid-column: span 3;
  }

  @include on-desktop {
    grid-column: span 6;
  }
}

.exhibitions__cards__date {
  margin-top: 20px;

  @include on-tablet {
    margin-top: 30px;
  }

  @include on-tablet {
    margin-bottom: 20px;
  }
}


.exhibitions__card__title {
  margin-top: 10px;
}

.exhibitions__card__text {
  margin-top: 20px;
}

.exhibitions__card__btn {
  margin-top: 30px;

  @include on-tablet {
    margin-top: 40px;
  }

  @include on-desktop {
    width: 270px;
    margin-top: 40px;
  }
}

.exhibitions__btn {
  margin-top: 30px;

  grid-column: 1/-1;

  @include on-tablet {
    margin-top: 0;

    grid-column: 5/-1;
    grid-row: 1/2
  }

  @include on-desktop {
    grid-column: 10/-1;
  }
}
