.exhibitions-section {

  &__container {
    @include container;
  }

  &__first-article {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__second-article {
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__secondary-button-position {
    position: relative;
    padding-top: 5px;
  }

  &__secondary-button {

    @include onTablet {
      position: absolute;
      top: 0;
    }
  }
}
