.exhibition {
  background-color: $green-page-color;
  height: 416px;
  margin-bottom: 100px;

  @include content-padding-inline;

  &__title {
    color: $white-color;
    font-family: "Playfair Display", serif;
      font-weight: 700;
      font-style: normal;
      font-size: 38px;
     padding-top: 50px;
     margin-bottom: 20px;
  }

  &__description {
    color: $white-color;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  &__tickets-link {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 16px;
    padding: 22px 0 22px;
    color: $white-color;
    background-color: $main-color ;
    font-size: 16px;
    font-style: normal;
    width: 270px;
    line-height: 60px;
    letter-spacing: 0.32px;
    cursor: pointer;
    margin: 40px 0 50px;

    &:hover {
     background-color: $hover-color;
     color: $white-color;
     }

    &:focus {
      background-color: $pressed-color;
      color: $white-color;
    }
  }

}







