.exhibitions-and-events {
  @include content-padding-inline;

  display: flex;
  flex-direction: column;
  gap: 120px;

  padding-bottom: 90px;

  @include on-tablet {
    padding-bottom: 100px;
  }

  @include on-desktop {
    padding-bottom: 110px;
  }

  &__title {
    margin-bottom: 60px;

    grid-column: 1 / -1;
    grid-row: 1;

    @include on-tablet {
      grid-column: 1 / 5;
      margin-bottom: 75px;
    }

    @include on-desktop {
      grid-column: 1 / 7;
      margin-bottom: 71px;
    }
  }

}
