.exhibition {
  &__container {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    @include onTablet {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 75px;
    }

    @include onDesktop {
      margin-bottom: 71px;
    }
  }

  &__archive {
    display: none;
    justify-content: center;
    align-items: center;
    height: 60px;
    transition: transform 1s;

    background-color: #e5e5e5;
    box-sizing: border-box;
    border: 1px solid #cd4d31;

    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #cd4d31;
    text-decoration: none;
    cursor: pointer;

    &::after {
      display: block;
      margin-left: 10px;
      width: 20px;
      height: 20px;

      content: "";
      background-image: url(../images/default.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:hover {
      transform: scale(1.07);
      color: #af3419;
      border: 1px solid #af3419;

      &::after {
        background-image: url(../images/hover.svg);
      }
    }

    &:active {
      color: #ea340d;
      border: 1px solid #ea340d;

      &::after {
        background-image: url(../images/pressed.svg);
      }
    }

    &:disabled {
      color: #dd836f;
      border: 1px solid #dd836f;

      &::after {
        background-image: url(../images/disabled.svg);
      }
    }

    @include onTablet {
      display: flex;
      width: 215px;
    }

    @include onDesktop {
      width: 270px;
    }
  }

  &__archive--mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    transition: transform 1s;

    background-color: #e5e5e5;
    box-sizing: border-box;
    border: 1px solid #cd4d31;

    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #cd4d31;
    text-decoration: none;
    cursor: pointer;

    &::after {
      display: block;
      margin-left: 10px;
      width: 20px;
      height: 20px;

      content: "";
      background-image: url(../images/default.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:hover {
      transform: scale(1.07);
      color: #af3419;
      border: 1px solid #af3419;

      &::after {
        background-image: url(../images/hover.svg);
      }
    }

    &:active {
      color: #ea340d;
      border: 1px solid #ea340d;

      &::after {
        background-image: url(../images/pressed.svg);
      }
    }

    &:disabled {
      color: #dd836f;
      border: 1px solid #dd836f;

      &::after {
        background-image: url(../images/disabled.svg);
      }
    }

    @include onTablet {
      display: none;
    }
  }

  &__photos {
    overflow: hidden;
    margin-bottom: 20px;
    transition: transform 1s, box-shadow 1s;

    &:hover {
      transform: scale(1.07);
      box-shadow: rgba(179, 190, 201, 0.2) 0 8px 24px;
    }

    @include onTablet {
      margin-bottom: 30px;
    }

    @include onDesktop {
      margin-bottom: 20px;
    }
  }

  &__photo {
    height: 356px;
    object-fit: cover;

    @include onTablet {
      width: 100%;
      height: 420px;
      object-position: left;
    }

    @include onDesktop {
      height: 484px;
      width: 570px;
    }
  }

  &__date {
    margin-bottom: 10px;

    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #cd4d31;
  }

  &__name {
    margin-bottom: 20px;

    font-family: Playfair Display, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #1c1b29;

    @include onTablet {
      font-size: 24px;
    }

    &--tablet {
      margin-bottom: 20px;

      font-family: Playfair Display, sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 125%;
      color: #1c1b29;

      @include onTablet {
        margin-bottom: 50px;
        font-size: 24px;
      }

      @include onDesktop {
        margin-bottom: 20px;
      }
    }
  }

  &__description {
    margin-bottom: 30px;

    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #504f5e;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }
  }

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-bottom: 60px;
    transition: transform 1s;

    box-sizing: border-box;
    border: 1px solid #cd4d31;

    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #f1f5f4;
    background-color: #cd4d31;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      transform: scale(1.07);
      background-color: #af3419;
      border: 1px solid #af3419;
    }

    &:active {
      background-color: #ea340d;
      border: 1px solid #ea340d;
    }

    &:disabled {
      background-color: #dd836f;
      border: 1px solid #dd836f;
    }

    @include onTablet {
      margin-bottom: 0;
    }

    @include onDesktop {
      width: 275px;
    }
  }

  &__buy--second {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    transition: transform 1s;

    box-sizing: border-box;
    border: 1px solid #cd4d31;

    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #f1f5f4;
    background-color: #cd4d31;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      transform: scale(1.07);
      background-color: #af3419;
      border: 1px solid #af3419;
    }

    &:active {
      background-color: #ea340d;
      border: 1px solid #ea340d;
    }

    &:disabled {
      background-color: #dd836f;
      border: 1px solid #dd836f;
    }

    @include onTablet {
      margin-bottom: 0;
    }

    @include onDesktop {
      width: 270px;
    }
  }
}
