.exhibits {
  padding: 0 20px;
  max-width: 1280px;

  @media (min-width: 768px) {
    padding: 0 100px;
  }

  @media (min-width: 1280px) {
    padding: 0 55px;
  }

  &__first-article {
    margin-bottom: 90px;

    @media (min-width: 768px) {
      margin-bottom: 150px;
    }

    @media (min-width: 1280px) {
      margin-bottom: 226px;
    }
  }

  &__content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
    }

    @media (min-width: 1280px) {
      grid-template-columns: repeat(12, 1fr);
    }
  }
  
  &__heading {
    font-family: "Playfair Display", Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    color: $black-font-color;
    margin-bottom: 60px;
    grid-area: 1 / 1 / 2 / 3;

    @media (min-width: 768px) {
      font-size: 48px;
      line-height: 58px;
      margin-bottom: 55px;
      grid-area: 1 / 1 / 2 / 6;
    }

    @media (min-width: 1280px) {
      grid-area: 1 / 4 / 2 / 11;
    }
  }

  &__dates {
    font-family: "Playfair Display", Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: $red-color;
    margin-bottom: 10px;
    grid-area: 2 / 1 / 3 / 3;

    @media (min-width: 768px) {
      font-size: 48px;
      line-height: 58px;
      margin-bottom: 20px;
      grid-area: 2 / 2 / 3 / 5;
    }

    @media (min-width: 1280px) {
      grid-area: 2 / 6 / 3 / 9;
    }
  }

  &__first-article-heading {
    font-family: "Playfair Display", Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: $black-font-color;
    margin-bottom: 30px;
    grid-area: 3 / 1 / 4 / 3;

    @media (min-width: 768px) {
      grid-area: 3 / 3 / 4 / 6;
    }

    @media (min-width: 1280px) {
      grid-area: 3 / 7 / 4 / 12;
    }
  }

  &__first-article-description {
    font-family: Raleway, Arial, sans-serif;
    line-height: 24px;
    color: $grey-font-color;
    grid-area: 4 / 1 / 5 / 2;

    @media (min-width: 768px) {
      grid-area: 4 / 3 / 5 / 6;
    }

    @media (min-width: 1280px) {
      grid-area: 4 / 7 / 5 / 12;
    }
  }

  &__first-article-buy-button {
    display: none;
    height: 60px;
    width: 270px;
    background: $red-color;

    font-family: Raleway, Arial, sans-serif;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: $light-font-color;
    margin-top: 50px;

    @media (min-width: 1280px) {
      display: block;
      grid-area: 5 / 7 / 6 / 10;
    }

    @include hover-active();
  }

  &__second-article {
    margin-bottom: 112px;

    @media (min-width: 768px) {
      margin-bottom: 150px;
    }

    @media (min-width: 1280px) {
      margin-bottom: 308px;
    }
  }

  &__second-article-length {
    font-family: Raleway, Arial, sans-serif;
    line-height: 24px;
    color: $red-color;
    margin-bottom: 5px;
    grid-area: 1 / 1 / 2 / 2;

    @media (min-width: 768px) {
      grid-area: 1 / 1 / 2 / 3;
    }

    @media (min-width: 1280px) {
      grid-area: 1 / 3 / 2 / 5;
    }
  }

  &__second-article-heading {
    font-family: "Playfair Display", Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: $black-font-color;
    margin-bottom: 30px;
    grid-area: 2 / 1 / 3 / 3;

    @media (min-width: 768px) {
      margin-bottom: 20px;
      grid-area: 2 / 1 / 3 / 5;
    }

    @media (min-width: 1280px) {
      grid-area: 2 / 3 / 3 / 7;
    }
  }

  &__second-article-description {
    font-family: Raleway, Arial, sans-serif;
    line-height: 24px;
    color: $grey-font-color;
    grid-area: 3 / 2 / 4 / 3;
    
    @media (min-width: 768px) {
      grid-area: 3 / 1 / 4 / 4;
    }

    @media (min-width: 1280px) {
      grid-area: 3 / 3 / 4 / 7;
    }
  }

  &__second-article-buy-button {
    display: none;
    height: 60px;
    width: 270px;
    background: $red-color;

    font-family: Raleway, Arial, sans-serif;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: $light-font-color;
    margin-top: 50px;
    
    grid-area: 4 / 1 / 5 / 2;

    @media (min-width: 1280px) {
      display: block;
      grid-area: 4 / 3 / 5 / 6;
    }

    @include hover-active();
  }

  &__third-article-length {
    font-family: Raleway, Arial, sans-serif;
    line-height: 24px;
    color: $red-color;
    margin-bottom: 5px;
    grid-area: 1 / 1 / 2 / 2;

    @media (min-width: 768px) {
      grid-area: 1 / 3 / 2 / 5;
    }

    @media (min-width: 1280px) {
      grid-area: 1 / 7 / 2 / 9;
    }
  }

  &__third-article-heading {
    font-family: "Playfair Display", Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: $black-font-color;
    margin-bottom: 30px;
    grid-area: 2 / 1 / 3 / 3;

    @media (min-width: 768px) {
      grid-area: 2 / 3 / 3 / 6;
      margin-bottom: 20px;
    }

    @media (min-width: 1280px) {
      grid-area: 2 / 7 / 3 / 11;
    }
  }

  &__third-article-description {
    font-family: Raleway, Arial, sans-serif;
    line-height: 24px;
    color: $grey-font-color;
    grid-area: 3 / 1 / 4 / 2;

    @media (min-width: 768px) {
      grid-area: 3 / 3 / 4 / 6;
    }

    @media (min-width: 1280px) {
      grid-area: 3 / 7 / 4 / 11;
    }
  }

  &__third-article-buy-button {
    display: none;
    height: 60px;
    width: 270px;
    background: $red-color;

    font-family: Raleway, Arial, sans-serif;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: $light-font-color;
    margin-top: 50px;
    
    grid-area: 4 / 2 / 5 / 3;

    @media (min-width: 1280px) {
      display: block;
      grid-area: 4 / 7 / 5 / 10;
    }

    @include hover-active();
  }

  &__archive-link {
    position: relative;
    display: block;
    height: 16px;
    width: 130px;
    font-family: Raleway, Arial, sans-serif;
    color: $black-font-color;
    line-height: 16px;
    text-decoration: none;
    text-align: center;
    margin-top: 100px;
    justify-self: center;
    grid-area: 4 / 1 / 5 / 3;

    @media (min-width: 768px) {
      margin-top: 142px;
      width: 170px;
      grid-area: 5 / 3 / 6 / 5;
    }

    @media (min-width: 1280px) {
      margin-top: 205px;
      width: 120px;
      justify-self: start;
      grid-area: 6 / 10 / 7 / 13;
    }

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 130px;
      top: 27px;
      left: 0;
      background: $black-font-color;

      @media (min-width: 768px) {
        width: 170px;
      }

      @media (min-width: 1280px) {
        width: 70px;
        top: 8px;
        left: 140px;
      }
    }
  }

  &__first-photo {
    display: none;
    position: absolute;
    top: -70px;
    left: 0;
    height: 816px;
    width: 544px;

    @media (min-width: 1280px) {
      display: block;
    }
  }

  &__second-photo-1 {
    display: none;
    position: absolute;
    top: 505px;
    right: 57px;
    height: 576px;
    width: 568px;

    @media (min-width: 1280px) {
      display: block;
    }
  }

  &__second-photo-2 {
    display: none;
    position: absolute;
    top: 570px;
    right: 0;

    @media (min-width: 1280px) {
      display: block;
    }
  }

  &__third-photo-1 {
    display: none;
    position: absolute;
    top: 1081px;
    left: 41px;
    height: 576px;
    width: 570px;

    @media (min-width: 1280px) {
      display: block;
    }
  }

  &__third-photo-2 {
    display: none;
    position: absolute;
    top: 1081px;
    left: 55px;
    height: 499px;
    width: 584px;

    @media (min-width: 1280px) {
      display: block;
    }
  }
}
