.exhibition-card {
  &__picture {
    display: flex;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__dates {
    margin-top: 20px;

    color: $red-accent;

    @include on-tablet {
      margin-top: 30px;
    }

    @include on-desktop {
      margin-top: 20px;
    }
  }

  &__title {
    margin-top: 10px;

    @include on-tablet {
      min-height: 60px;
    }

    @include on-desktop {
      min-height: 0;
    }
  }

  &__description {
    margin-top: 20px;
  }

  &__button {
    margin-top: 30px;

    @include on-tablet {
      margin-top: 40px;
    }

    @include on-desktop {
      width: 270px;

      margin-top: 50px;
    }
  }
}
