.exhibition-card {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 60px;


  @include on-tablet {
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); // 2 картки
    grid-column: span 6;
    gap: 30px;
  }

  @include on-desktop {
    grid-column: span 12;
  }

  &__image {
    width: 100%;
    max-height: 420px;
    transition: transform 0.3s;

    @include on-tablet {
      max-width: 100%;
      max-height: 100%;
    }

    @include on-desktop {
      object-fit: cover;
      width: 100%;
      max-height: 484px;
    }

    &:hover {
      transform: scale(1.08);
    }
  }

  &__one {
    @include on-tablet {
      display: flex;
      flex-direction: column;
    }

    @include on-desktop {

    }
  }

  &__two {
    @include on-tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &__date {
    display: block;
    padding-top: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $main-color;

    @include on-tablet {
      padding-top: 30px;
    }

    @include on-desktop {
      padding-top: 20px;
    }
  }

  &__title {
    margin: 0;
    padding-top: 10px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    color: $black-color;

    @include on-tablet {
      font-size: 24px;

    }
  }

    &__text {
      margin: 0;
      padding-top: 20px;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $gray-color;

      flex-grow: 1;

      @include on-tablet {
      }
    }

    &__text--two {

      @include on-tablet {
        padding-top: 50px;
      }

      @include on-desktop {
        padding-top: 20px;
      }
    }




}