@use '../utils' as *;

.exhibitions {
  display: flex;
  flex-direction: column;

  row-gap: 60px;

  &__content {
    @include page-grid;

    row-gap: 60px;
  }

  &__card {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }
}
