.exhib {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: $efferctDuration;

  &__img {
    width: 100%;
  }

  &:hover .exhib__img {
    @include hover(transform, scale(1.05));
  }

  &__date {
    padding: 20px 0 10px;
    color: $button-color;

    @include on-tablet {
      padding: 30px 0 10px;
    }

    @include on-desktop {
      padding: 20px 0 10px;
    }
  }

  &-title {
    width: 100%;
  }

  &__about {
    padding: 20px 0 30px;

    @include on-tablet {
      padding: 20px 0 40px;
    }

    @include on-desktop {
      padding: 20px 0 50px;
    }
  }

  &__button-link {
    margin-top: auto;
  }

  &__button {
    @include on-tablet {
      width: 270px;
    }
  }
}
