.exibition {

  &__title {
    color: #1c1b29;
    font-family: "Playfair Display", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    padding-top: 120px;

    @include onTablet {
      font-size: 40px;
    }

    &--1 {
      padding-top: 90px;
    }

    &-wrapper {
      &--1 {
        display: flex;
        justify-content: center;

        @include onTablet {
          display: block;
          grid-column: 1 / 5;
        }
      }
    }
  }

  &__picture {
    &--wrapper {
      display: flex;
      justify-content: center;
      margin-top: 60px;

      @include onTablet {
        display: block;
      }

      &-1 {
        @include onTablet {
          grid-column: 1 / 4;
        }
      }

      &-2 {
        @include onTablet {
          grid-column: 4 / 7;
          grid-row-start: 2;
        }
      }

      &-3 {
        @include onTablet {
          grid-column: 1 / 4;
        }
      }

      &-4 {
        @include onTablet {
          grid-column: 1 / 4;
        }
      }
    }
  }

  &__info {
    color: #504f5e;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 20px;
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 40px;
    }

    &-date {
      color: #cd4d31;
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-top: 20px;

      @include onTablet {
        margin-top: 30px;
      }
    }

    &-title {
      color: #1c1b29;
      font-family: "Playfair Display", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 125%;
      margin-top: 10px;

      @include onTablet {
        font-size: 24px;
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 280px;

      &--1 {
        grid-column: 1 / 4;
      }

      &--2 {
        grid-column: 4 / 7;
      }

      &--3 {
        grid-column: 4 / 7;
      }

      &--4 {
        grid-column: 4 / 7;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include onTablet {
      @include pageGrid;
    }
  }

  &-button {
    width: 280px;

    &--2 {
      margin-top: 30px;
      width: 280px;

      &-wrapper--1 {
        @include onTablet {
          grid-column: 5 / -1;
          grid-row-start: 1;
          align-self: flex-end;
        }
      }

      &-wrapper--2 {
        @include onTablet {
          grid-column: 5 / 7;
          grid-row-start: 4;
          align-self: flex-end;
        }
      }
    }
  }
}
