.exibitions {
  padding-top: 120px;

  &__card {
    margin-bottom: 60px;

    @include onDesktop {
      margin-bottom: 0;
    }

    &--last {
      margin-bottom: 30px;
    }
  }

  &__button {
    @include onTablet {
      transform: translateY(-1510%);
    }

    @include onDesktop {
      transform: translateY(-1500%);
    }
  }
}
