.exibition {
  &__image {
    height: 356px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;

    @include onTablet {
      height: 420px;
      margin-bottom: 32px;
    }

    @include onDesktop {
      height: 484px;
      margin-bottom: 20px;
    }
  }

  &__date {
    color: $c-main;
    margin-bottom: 12px;
  }

  &__title {
    @extend %h4;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 52px;
    }
  }

  &__button {
    @include onDesktop {
      width: calc(50% - 15px);
    }
  }
}
