.exibitions {
  padding: 90px 20px 0;
  display: grid;
  justify-content: center;

  &__item {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 280px;

    &__image {
      background-size: cover;
      background-repeat: no-repeat;
      width: 280px;
      height: 356px;

      &--1 {
        background-image: url(../images/exibitions/image-1.png);
      }

      &--2 {
        background-image: url(../images/exibitions/image-2.png);
      }
    }

    &__date {
      padding-top: 20px;
      color: $main-color;
    }

    &__title {
      padding-top: 10px;
    }

    &__subtitle {
      padding-top: 20px;
      padding-bottom: 30px;
      color: $gray;
    }
  }

  @include onTablet {
    padding: 105px 40px 0;
    grid-template-columns: repeat(6, 90px);
    column-gap: 30px;
    row-gap: 70px;

    &__title {
      grid-column: 1 / 5;
      grid-row: 1;
    }

    &__item {
      padding: 0;
      grid-row: 2;
      width: 100%;

      &--grid {
        display: grid;
        grid-template-rows: 30px 24px 10px 60px 20px 70px 40px;
      }

      &--1 {
        grid-column: 1 / 4;
      }
    
      &--2 {
        grid-column: 4 / 7;
      }

      &__image {
        width: 330px;
        height: 420px;
      }

      &__date {
        padding: 0;
        grid-row: 2;
      }

      &__title {
        padding: 0;
        grid-row: 4;
      }

      &__subtitle {
        padding: 0;
        grid-row: 6;
      }
    }

    &__button {
      grid-row: 8;
    }

    &__secondary-button {
      grid-column: 5 / 7;
      grid-row: 1;
    }
  }

  @include onDesktop {
    padding: 110px 55px 0;
    grid-template-columns: repeat(12, 70px);

    &__title {
      grid-column: 1 / 8;
    }

    &__item {
      &--grid {
        display: grid;
        grid-template-rows: 20px 24px 10px 30px 20px 48px 50px;
      }

      &--1 {
        grid-column: 1 / 7;
      }
    
      &--2 {
        grid-column: 7 / 13;
      }

      &__image {
        width: 570px;
        height: 484px;
        background-position: center;
      }
    }

    &__secondary-button {
      grid-column: 10 / 13;
    }
  }
}
