.section {
  &__img {
    width: 570px;

    transition: transform 0.3s;

    @include onTablet {
      width: 330px;
    }

    @include onMobile {
      width: 300px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__exponate-text {
    margin-top: 20px;
  }

  &__exponate-date {
    @include fontSecond;

    font-size: 16px;
    line-height: 24px;

    color: $c-main;
  }

  &__exponate-title {
    @include fontMainBold;

    font-size: 24px;
    line-height: 30px;

    color: $c-black;

    margin-top: 10px;

    @include onTablet {
      height: 60px;
    }
  }

  &__exponate-about {
    @include fontSecond;

    font-size: 16px;
    line-height: 24px;

    color: $c-gray;

    margin-top: 20px;
  }

  &__block-btn {
    margin-top: 50px;
  }
}
