.exposition {

  &__date {
    margin-bottom: 5px;

    @extend %title-font-styles;
    font-size: 24px;
    color: $button-bg-color;

    @include onTablet {
      margin-bottom: 20px;
      font-size: 48px;
      line-height: 120%;
    }

    &--small {
      @extend %article-font-styles;
      font-size: 16px;
    }
  }

  &__title {
    margin-bottom: 30px;

    @extend %title-font-styles;
    font-size: 24px;
    color: $title-color;
  }

  &__text {
    @extend %article-font-styles;
    color: $secondary-font-color;
  }
}
