.fade-img {
  opacity: 0;
  pointer-events: none;

  transition: all calc($duration + 1s) ease-out;

  &--up {
    transform: translateY(100%);
  }

  &--down {
    transform: translateY(-100%);
  }

  &--left {
    transform: translateX(-100%);
  }

  &--right {
    transform: translateX(100%);
  }

  &--visible {
    opacity: 1;
    pointer-events: all;

    transform: translateY(0) translateX(0);
  }
}
