.first-event {

  &__time {
    padding: 100px 20px 0;
    font-size: 48px;
    line-height: 58px;
    color: #cd4d31;

    @include for-small-desktops {
      margin-left: -100px;
    }

    @include for-small-desktops {
      padding-top: 55px;
    }

    @include for-phone {
      padding-top: 60px;
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__subtitle {
    padding: 20px 0 20px 120px;
    font-size: 24px;
    line-height: 30px;

    @include for-laptops {
      padding-left: 140px;
    }

    @include for-small-desktops {
      padding-left: 10px;
      width: 370px;
    }

    @include for-tablet {
      padding-left: 40px;
    }

    @include for-phone {
      padding: 10px 20px ;
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__info {
    padding: 0 140px 50px;
    @include second-font-small;
    line-height: 24px;
    color: #504f5e;

    @include for-small-desktops {
      padding: 0 10px 0;
      width: 270px;
    }

    @include for-tablet {
      padding: 0 40px 0;
    }

    @include for-phone {
      padding: 0 0 0 20px;
    }
  }

  &__btn {
    display: none;
    margin-left: 140px;
    height: 60px;
    width: 270px;

    background-color: $step-color;

    @include second-font-small;
    color: white;
    line-height: 60px;
    text-align: center;

    @include for-notebook {
      display: inline-block;
    }
  }

  &__image {
    position: relative;
    top: -100px;
    z-index: -1;

    @include for-small-desktops {
      width: 300px;
      top: -45px;
    }

    @include for-tablet {
      width: 250px;
      top: 0;
    }

    @include for-phone {
      display: none;
    }
  }

  &__img {
    display: none;

    @include for-phone {
      display: inline-block;
    }
  }
}


