.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &--col {
    @include onTablet {
      display: flex;
      flex-direction: row;
    }
    @include onDesktop {
      display: flex;
      flex-direction: row;
    }
  }
}
