.follow {
  max-width: 1020px;
  margin: 0 auto;
  padding: 112px 20px 0;

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 160px 39px 0;
  }
}

.container {
  @include onTablet {
    grid-column: 1 / 6;
  }

  &__text {
    &-head {
      font-size: 28px;
      line-height: 35px;
      font-weight: 700;
    }

    &-item {
      line-height: 24px;
      margin-top: 20px;
      font-weight: 400;
    }
  }

  &__follow {
    margin-top: 20px;

    &-input {
      @include onTablet {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
      }
    }

    &-input--general {
      width: 100%;
      box-sizing: border-box;

      @include onTablet {
        grid-column: 1 / 5;
      }
    }

    &-click {
      margin-top: 30px;

      @include onTablet {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
      }

      &--button {
        grid-column: 1 / 4;
      }
    }
  }
}
