.font {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  &--style--button {
    font-weight: 600;
  }

  &--style--main {
    font-size: rem(16);
    line-height: 150%;
  }

  &--style--additional {
    font-size: rem(14);
    line-height: 140%;
  }
}
