.footer-bottom {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 60px 0 30px;

  &__arrow {
    background-image: url(../images/scroll-up.svg);
    height: 30px;
    width: 30px;
  }
}
