.footer-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--facebook {
    width: 10px;
    height: 20px;
    background-image: url(../images/footer/f.svg);
  }
  &--twitter {
    width: 20px;
    height: 16px;
    background-image: url(../images/footer/tv.svg);
  }
  &--telegram {
    width: 20px;
    height: 19px;
    background-image: url(../images/footer/tel.svg);
  }
  &--instagram {
    width: 17px;
    height: 17px;
    background-image: url(../images/footer/ins.svg);
  }

}
