.footer {
  position: relative;
  padding-top: 50px;
  background-color: $background-color;
  color: $white-color;

  &__section {
    margin-bottom: 50px;

    &--contacts-wrapper {
      padding-bottom: 50px;
    }
  }

  &__title {
    padding-bottom: 10px;

    @include onTablet {
      padding-bottom: 30px;
    }
  }

  &__phone-links {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  &__social-media {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__menu-items {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    align-items: center;
  }

  &__copyright-info {
    display: flex;
    gap: 22px;

    @include onDesktop {
      gap: 102px;
    }
  }

  &__wrapper-link {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

    &:hover {
      background-color: $main-color;
      border-radius: 50%;

    }
  }
}
