.footer-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  &__title {
    margin-bottom: 30px;
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;
    color: $c-gray;

  }

  &__link {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: $c-gray;
    transition: $trnstn300ms;

    &--additional {
      margin-left: 32px;
    }

    &:hover {
      opacity: 0.6;
    }

  }

  &__media {
    display: flex;
    align-items: baseline;
    margin-top: 24px;
  }

  &__icon {
    height: 22px;
    margin-right: 20px;
    transition: $trnstn300ms;

    &:hover {
      opacity: 0.6;
    }
  }

  &__info {
    margin-right: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: $c-gray;
  }

  &__schedule {
    display: flex;
  }

}
