.footer__items {
  display: flex;
  justify-content: space-between;
  align-items: center;

  grid-column: 1/-1;

  margin-top: 60px;

  @include on-desktop {
    margin-top: 72px;
  }
}

.footer__items__terms {
  display: flex;
}


.footer__items__terms__date {
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: center;
  color: #F1F5F4;

  margin-right: 22px;

  @include on-desktop {
    margin-right: 102px;
  }
}

.footer__items__terms__primacy {
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: center;
  color: #F1F5F4;

  margin-right: 22px;
}
