.footer {
  background-color: #3f5252;
  height: 736px;
  @include onTablet {
    height: 390px;
  }
  @include onDesktop {
    height: 390px;
  }

  .col_1 {
    min-width: 210px;
    padding-right: 30px;
    @include onDesktop {
      min-width: 370px;
    }
  }
  .col_2 {
    min-width: 210px;
    padding-right: 30px;
    @include onDesktop {
      min-width: 370px;
    }
  }
  .col_3 {
    padding-right: 30px;
  }
  &__contacts {
    font-family: Playfair Display, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: $grantext;
    padding: 45px 0 10px;
    @include onTablet {
      font-size: 20px;
      line-height: 30px;
      padding: 50px 0 30px;
    }
    @include onDesktop {
      font-size: 20px;
      line-height: 30px;
      padding: 50px 0 30px;
    }
  }
  &__contacts--start {
    padding-top: 34px;
    @include onTablet {
      padding-top: 50px;
    }
  }
  &__contact {
    margin: 0;
  }
  &__contacts-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: $grantext;
  }
  .padtitle {
    padding-bottom: 5px;
    @include onTablet {
      padding-bottom: 10px;
    }
  }
  &__flexbox {
    display: flex;
    flex-direction: row;
  }
  .facebook {
    cursor: pointer;
    padding: 28px 22px 0 0;
    @include onTablet {
      padding: 37px 18px 0 0;
    }
    @include onDesktop {
      padding: 45px 18px 0 0;
    }
  }
  .scroll_face {
    background-image: url(../images/facebook.svg);
    &:hover {
      background-image: url(../images/facebook_bla.svg);
    }
  }
  .twitter {
    cursor: pointer;
    padding: 28px 22px 0 0;
    @include onTablet {
      padding: 37px 18px 0 0;
    }
    @include onDesktop {
      padding: 45px 18px 0 0;
    }
  }
  .scroll_twit {
    background-image: url(../images/twitter.svg);
    &:hover {
      background-image: url(../images/twitter_bla.svg);
    }
  }
  .telegram {
    cursor: pointer;
    padding: 28px 22px 0 0;
    @include onTablet {
      padding: 37px 18px 0 0;
    }
    @include onDesktop {
      padding: 45px 18px 0 0;
    }
  }
  .scroll_teleg {
    background-image: url(../images/telegram.svg);
    &:hover {
      background-image: url(../images/telegram_bla.svg);
    }
  }
  .instagram {
    cursor: pointer;
    padding: 28px 22px 0 0;
    @include onTablet {
      padding: 37px 18px 0 0;
    }
    @include onDesktop {
      padding: 45px 18px 0 0;
    }
  }
  .scroll_inst {
    background-image: url(../images/instagram.svg);
    &:hover {
      background-image: url(../images/instagram_bla.svg);
    }
  }
  &__contacts-title--pr {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  &__contacts-title--hov {
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;

    &:hover {
      border-color: $grantext;
    }
  }
  .row {
    display: flex;
    align-items: center;
    padding-top: 45px;
    @include onDesktop {
      padding-top: 60px;
    }
  }
  .data {
    padding-right: 22px;
    @include onTablet {
      padding-right: 22px;
    }
    @include onDesktop {
      padding-right: 102px;
      width: 115px;
    }
  }
  .privacy {
    padding-right: 30px;
    @include onDesktop {
      width: 125px;
    }
  }
  .scroll_pad {
    display: flex;
    align-items: center;
    padding-top: 50px;
    @include onDesktop {
      padding-top: 60px;
    }
  }
  &__atr {
    display: block;
    position: fixed;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    text-decoration: none;
  }
  &__socials {
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    transition: all 0.3s;
  }
  .scroll_img {
    background-image: url(../images/scroll_up.svg);
    &:hover {
      background-image: url(../images/scroll_up-hov.svg);
    }
  }
}
