.footer-bottom {

  @include on-tablet {
    grid-column: 1 / -1;
  }


  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__info {
    display: flex;
    flex-direction: row;
    gap: 22px;

    @include on-desktop {
      gap: 102px;
    }
  }

  &__year {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $white-color;
  }

  &__privacy {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $white-color;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__link-home {
    display: block;
    background-repeat: no-repeat;
    background-image: url(../images/icons/scroll-up.svg);
    width: 30px;
    height: 30px;
    transition: transform 0.3s;

    &:hover {
      background-image: url(../images/icons/scroll-up-hover.svg);
      transform: scale(1.05);
    }
  }
}