.footer-menu {

  @include on-tablet {
    grid-column: 5 / 6;
  }

  @include on-desktop {
    grid-column: 9 / 11;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include on-tablet {
      gap: 30px;
    }
  }

  &__title {
    display: flex;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: $white-color;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }
}