.form {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 28px;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid #292929;
  outline: none;

  &:hover {
    outline: none;
    border: 1px solid transparent;
    border-bottom: 1px solid #cd4d31;
    color: #cd4d31;
  }

  &:focus {
    border: 1px solid transparent;
    border-bottom: 1px solid #cd4d31;
    color: #cd4d31;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1c1b29;
  }

  &:hover::placeholder {
    color: #cd4d31;
  }

  &:focus::placeholder {
    color: transparent;
  }
}
