.form-field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid $c-black;
  transition: all $effect-duration;
  padding-bottom: 3px;

  &:hover {
    border-color: $c-main;
  }

  &::placeholder {
    @include text-main;

    color: $c-black;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: $c-main;
  }

  &:focus {
    border-color: $c-main;
  }
}
