.form {
  margin-top: 50px;
  
  &__email {
    border: 0 solid transparent;
    border-bottom: 1.3px solid black;
    width: 100%;
    outline: none;
    height: 30px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1c1b29;
    padding: 5px;
  
    &:focus {
      border-bottom: 1px solid #cd4d31;
    }
  
    @include tablet() {
      width: 70%;
    }
    
    @include desktop() {
      width: 25%;
    }
  
    &::placeholder {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #1c1b29;
    }
  }
}
