.form-lang {
  visibility: hidden;

  &__select {
    box-sizing: border-box;
    display: flex;
    align-items: center;

    color: $color-text-secondary;
    background-color: #3f5252;
    border: none;
    outline: none;
    cursor: pointer;

    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }

  &--with-menu {
    visibility: visible;
  }

  @include onTablet {
    visibility: visible;
    order: 3;
  }

  @include onDesktop {
    visibility: visible;
    order: 3;
  }
}
