.form-subscribe {
  max-width: 352px;
  width: 100%;

  display: flex;

  // .form-subscribe__input
  &__input {
    border-bottom: 1px solid $mainColor;
    font-size: 16px;

    &:focus {
      border-bottom-color: #4e8a8a;
      transition: border-bottom-color 0.3s ease-in-out;
    }
  }

  // .form-subscribe__button
  &__button {
    margin-left: 10px;

    flex: 0 0 42px;
    height: 42px;

    border: 1px solid $mainColor;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;

    transition: background-color 0.3s ease-in-out;

    @media (any-hover: hover){
      &:hover{
        background-color: #4e8a8a;
      }
    }
  }
}
