.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20 px;

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;

    &--tablet-1-4 {
      grid-column: 1 / 4;
    }

    &--tablet-1-5 {
      grid-column: 1 / 5;
    }

    &--tablet-4-7 {
      grid-column: 4 / 7;
      grid-row: 1;
    }

    &--tablet-4-6 {
      grid-column: 4 / 6;
    }
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  
    &--desktop-1-7 {
      grid-column: 1 / 7;
    }

    &--desktop-1-4 {
      grid-column: 1 / 4;
    }
    
    &--desktop-1-6 {
      grid-column: 1 / 6;
    }

    &--desktop-7-10 {
      grid-column: 7 / 10;
    }
    
    &--desktop-7-12 {
      grid-column: 7 / 12;
      grid-row: 1;
    }

    &--desktop-7-13 {
      grid-column: 7 / 13;
      grid-row: 1;
    }
  }
}