.event {
  display: block;
  width: 100%;

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
  }

  &__content {
    @include onTablet {
      grid-column: 1 / 4;
    }

    &:last-child {
      margin-top: 60px;

      @include onTablet {
        margin-top: 0;
        grid-column: 4 / 7;
      }

      @include onDesktop {
        margin-top: 0;
      }
    }

    &-photo {
      width: 100%;
      max-height: 484px;
      box-sizing: border-box;

      &--image {
        height: 100%;
        max-height: 484px;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-date {
      margin-top: 20px;
      color: $btn-bckg;
    }

    &-desc {
      margin-top: 10px;
    }

    &-text {
      margin-top: 20px;
    }

    &-button {
      margin-top: 30px;
    }
  }
}
