.h3-title {
  font-family: $title-font;
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  color: $title-color;
  margin-bottom: 60px;

  @include on-tablet {
    font-size: 40px;
  }

  @include on-desktop {
    font-size: 48px;
    line-height: 120px;
  }
}
