.hamburger {
  display: block;

  width: fit-content;

  &__rectangle {
    margin-bottom: 7px;
    width: 25px;
    height: 2px;
    background-color: $font-color-white;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
