.heading4 {
  font-family: $title-font;
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  color: $text-color-black;
  padding-bottom: 20px;

  @include onTablet {
    padding-bottom: 20px;
    font-size: 24px;
  }
}
