.heading {
  display: flex;
  justify-content: center;
  align-items: center;

  @include onTablet {
    justify-content: space-between;
  }

  &__first {
    font-weight: 700;
    font-size: 28px;

    @include onTablet {
      font-size: 40px;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 57px;
    }
  }
}
