.container {
  box-sizing: border-box;
  max-width: 1170px;
  // padding: 20px;
  margin: 0 auto;
  width: 100%;

  @include onDesktop {
    padding: 32px 55px;
  }

  &--first {
    margin-bottom: 40px;
  }

  &--second {
    margin-bottom: 40px;
  }
}

.icon {
  display: block;
  width: 100%;
  padding-bottom: 100%;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &--menu {
    background-image: url(../images/menu.svg);

    &:hover {
      background-image: url(../images/menu__hover.svg);
    }
  }

  &--cross {
    background-image: url(../images/cross.svg);
  }
}

.top-actions {
  display: grid;
  grid-template-columns: 1fr 24px;
  justify-items: auto;
  align-items: flex-start;
}

.header {
  box-sizing: border-box;
  padding: $headerTopPadding;
  background-color: $mainColor;

  @include onDesktop {
    padding: 0;
    height: 100vh;
  }

  // &__nav {

  // }

  // &__menu-opener {

  // }

  &__schedule {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $textColor;

    margin-top: 70px;
  }

  &__title {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: $textColor;

    margin-top: 10px;

    @include onDesktop {
      font-size: 96px;
      line-height: 96px;
    }
  }

  &__theme {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $textColor;

    margin-top: 30px;

    @include onDesktop {
      &__theme {
        &::after {
          content: "";
          display: block;
          background-image: url(../images/duration.svg);
          background-repeat: no-repeat;
          height: 18px;
          width: 81px;
          color: $textColor;
        }
      }
    }

  }

  &__button-container {
    margin-top: 40px;

    @include onDesktop {
      margin-top: 81px;
    }
  }

  &__image-container {
    margin-top: 40px;

    @include onDesktop {
      height: 550px;

    }

    &__img {
      height: 273px;
      // width: 100%;
      object-fit: fill;
      object-position: center;

      @include onDesktop {
        height: 90vh;
        width: 625px;
        position: absolute;
        // object-fit: scale-down;
        // width: 100%;
        top: 10%;
        left: 26%;
      }
    }
  }
}
