.header-action {
  order: 1;
  @include onDesktop {
    order: 0;
  }

  @include onTablet {
    order: 0;
  }
  &__image {

    @include onDesktop {
      padding-right: 40px;
    }

    @include onTablet {
      padding-right: 40px;
    }

  }
}
