.header-aside__img-box {
  max-width: 245px;
  margin-inline: auto;

  @include on-tablet {
    max-width: 422px;
  }

  @include on-desktop {
    margin-inline-end: -55px;
    margin-block-end: -50px;
  }

  .header-img {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
