/* Error: Undefined mixin.
 *    ,
 * 7  | /   @include on-desktop {
 * 8  | |     width: 50%;
 * 9  | |     text-align: end;
 * 10 | |     margin-inline: initial;
 * 11 | |     margin-inline-end: -40px;
 * 12 | |     margin-block-end: -50px;
 * 13 | \   }
 *    '
 *   header-aside-img.scss 7:3  root stylesheet */

body::before {
  font-family: 'Source Code Pro', 'SF Mono', Monaco, Inconsolata, 'Fira Mono',
    'Droid Sans Mono', monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a    \2577 \a 7  \2502  \250c    @include on-desktop {\a 8  \2502  \2502      width: 50%;\a 9  \2502  \2502      text-align: end;\a 10 \2502  \2502      margin-inline: initial;\a 11 \2502  \2502      margin-inline-end: -40px;\a 12 \2502  \2502      margin-block-end: -50px;\a 13 \2502  \2514    }\a    \2575 \a   header-aside-img.scss 7:3  root stylesheet';
}
