.header-content {
  padding-top: 50px;

  @include on-tablet {
    padding-top: 99px;
  }

  @include on-desktop {
    padding-top: 90px;
  }

  &__date {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $white-color;
  }

  &__title {
    margin: 0;
    padding-top: 10px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: $white-color;

    @include on-tablet {
      font-size: 72px;
      max-width: 569px;
    }

    @include on-desktop {
      font-size: 96px;
    }
  }

  &__text {
    margin: 0;
    padding-top: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $white-color;

    @include on-tablet {
      padding-top: 20px;
    }

    @include on-desktop {
      padding-top: 30px;
    }
  }

  &__date-bottom {
    display: none;

    @include on-desktop {
      display: flex;
      flex-direction: row;
      gap: 20px;
      width: 100%;
      font-family: "Playfair Display", serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 125%;
      color: $white-color;

      &::after {
        content: "";
        display: inline-block;
        width: 469px;
        height: 1px;
        background-color: $white-color;
        margin-top: 10px;
      }
    }
  }

  &__image {
    display: block;
    margin: 0 auto;
    height: 273px;
    width: 245px;

    @include on-tablet {
      height: 494px;
      width: 443px;
      bottom: 0;
      margin: 0 auto;
    }

    @include on-desktop {
      display: none;
    }
  }
}