.heading3 {
  font-family: $title-font;
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  color: $text-color-black;
  padding-bottom: 60px;

  @include onTablet {
    font-size: 40px;
    padding-bottom: 75px;
  }

  @include onDesktop {
    font-size: 48px;
    line-height: 120%;
    padding-bottom: 71px;
  }
}
