.header {
  background-color: $background-color;
  color: $font-color;
  height: 100vh;

  &__container {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 20px;
    height: 100%;
    
    @include onTablet {
      padding-top: 24px;
    }

    @include onDesktop {
      height: 100vh;
      padding-top: 32px;
      position: relative;
    }
  }

  &__top {
    margin-bottom: 68px;

    @include onTablet {
      margin-bottom: 124px;
    }
  }

  &__menu {
    height: 20px;
  }

  &__form {
    display: none;

    @include onTablet {
      display: block;
    }
  }

  &__event-period {
    margin-bottom: 12px;

    font-size: 14px;
    line-height: 140%;
  }

  &__title {
    margin-bottom: 32px;

    @extend %font-title;
    font-size: 48px;
    line-height: 100%;

    @include onTablet {
      margin-bottom: 20px;
      font-size: 72px;
    }

    @media (min-width: 1024px) {
      width: 50%;
    }

    @include onDesktop {
      margin-bottom: 32px;

      font-size: 96px;
      width: 568px;
    }
  }

  &__paragraph {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 150%;

    @include onTablet {
      margin-bottom: 52px;
    }

    @include onDesktop {
      margin-bottom: 80px;
    }
  }

  &__button {
    margin: 0 auto;
    max-width: 332px;

    @include onTablet {
      margin: 0;
    }
  }

  &__event-period-bottom {
    display: none;
    position: absolute;
    bottom: 52px;

    @include onDesktop {
      display: block;
    }

    @extend %font-title;
    font-size: 14px;
    line-height: 125%;

    &::after {
      content: "";
      display: block;
      width: 460px;
      height: 1px;
      margin-left: 100px;
      position: absolute;
      top: 56%;
      background-color: $font-color;
      opacity: 0.3;
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__main-background {
    width: 100%;
    height: 100%;
    background-image: url(../images/pictures/main_image.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;

    @include onTablet {
      max-height: 50%;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    @media (min-width: 1024px) {
      max-height: 80%;
      max-width: 50%;
      background-position: right bottom;
    }

    @include onDesktop {
      max-height: 663px;
      background-position: right bottom;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
