.header {
  padding: 20px;
  height: 100vh;
  background-color: $greengrayColor;
  position: relative;
  overflow: hidden;

  &__content {
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
  }

  &__text {
    // z-index: 1;
    color: $whiteColor;
    padding-top: 80px;

    &--main-text-1 {
      font-family: Raleway, sans-serif;
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 20px;
    }

    &--title {
      font-family: "Playfair Display", sans-serif;
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      padding-bottom: 30px;
    }

    &--main-text-2 {
      font-family: Raleway, sans-serif;
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 50px;
    }
  }

  &__photo {
    position: absolute;
    right: -140px;
    bottom: 0;
    width: 370px;
  }
}
