.hero {
  padding-top: 50px;
  background-color: #3F5252;

  @include on-tablet {
    padding-top: 99px;
  }

  &__content {
    @include on-desktop {
      display: flex;
    }
  }

  &__date {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    line-height: 19.6px;
    color: #F1F5F4;
    margin-bottom: 10px;
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #F1F5F4;
    margin-bottom: 30px;

    @include on-tablet {
      font-size: 72px;
      line-height: 72px;
      margin-bottom: 20px;
    }

    @include on-desktop {
      font-size: 96px;
      line-height: 96px;
      margin-bottom: 30px;
    }
  }

  &__description {
    font-family: Raleway, sans-serif;
    color: #F1F5F4;
    margin-bottom: 40px;

    @include on-tablet {
      margin-bottom: 50px;
    }

    @include on-desktop {
      margin-bottom: 80px;
    }
  }

  &__button {
    @include on-tablet {
      margin: 0;
    }

    @include on-desktop {
      margin-bottom: 120px;
    }
  }

  &__photo {
    height: 270px;
    display: block;
    margin: 40px auto 0;

    @include on-tablet {
      height: 495px;
      margin: 70px auto 0;
    }

    @include on-desktop {
      height: 665px;
      margin: 0;
    }
  }

  &__bottom {
    display: none;

    @include on-desktop {
      display: flex;
      gap: 20px;
      align-items: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 17.5px;
      color: #F1F5F4;

      &::after {
        content: '';
        display: block;
        border-bottom: 1px solid #F1F5F4;
        width: 400px;
      }
    }
  }
}
