.holder {
  @include onDesktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--second {
      gap: 20px;
    }
  }

  &--menu {
    @include onTablet {
      display: flex;
      flex-direction: row;
      gap: 123px;
    }

    @include onDesktop {
      gap: 83px;
    }
  }
}
