.hover {
  &__color {
    text-decoration: none;

    color: $defaultBlack;

    transition: color 0.5s;

    &:hover {
      color: $defaultRed;
    }
  }

  &__color-white {
    text-decoration: none;

    color: $defaultWhite;

    transition: color 0.5s;

    &:hover {
      color: $defaultRed;
    }
  }

  &__scale-1 {
    transition: transform 1s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__scale-15 {
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.5);
    }
  }

  &__scale-2 {
    transition: transform 0.5s;

    &:hover {
      transform: scale(2);
    }
  }
}
