.icons-list {
  display: flex;

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    @include width-height(20px, 20px);
    background-repeat: no-repeat;
    @include hover(transform, scale($icon-scale));

    &--facebook {
      background-image: url("/images/facebook.svg");
    }

    &--twitter {
      background-image: url("/images/twitter.svg");
    }

    &--telegram {
      background-image: url("/images/telegram.svg");
    }

    &--instagram {
      background-image: url("/images/instagram.svg");
    }
  }
}
