.icon-menu {
  display: block;
  width: 25px;
  height: 18px;

  cursor: pointer;
  z-index: 5;
  position: relative;

  margin-right: 40px;

  @media (any-hover: hover) {
    &:hover {
      span {
        background-color: #cd4d31;
      }
    }
  }

  span {
    transition-property: transform, top, bottom;
    transition: 0.3s ease-in-out;

    top: calc(50% - 1px);
    left: 0px;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: $mainColor;

    &:first-child {
      top: 0px;
    }

    &:last-child {
      top: auto;
      bottom: 0px;
    }
  }

  &._active {
    span {
      transform: scale(0);

      &:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }

      &:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
      }
    }
  }
}
