.icon {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  height: 24px;
  width: 24px;

  @include on-tablet {
    height: 30px;
    width: 30px;
  }

  @include hover(transform, scale(1.2));

  &__text {
    @extend %main-text;

    text-transform: uppercase;
  }

  &--menu {
    background-image: url(../images/icons/icon-menu.svg);
  }

  &--dropdown {
    background-image: url(../images/icons/icon-dropdown.svg);
    width: 10px;
    height: 10px;
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }

  &--arrow {
    background-image: url(../images/icons/icon-arrow.svg);
  }

  &--facebook {
    background-image: url(../images/icons/icon-facebook.svg);
  }

  &--twitter {
    background-image: url(../images/icons/icon-twitter.svg);
  }

  &--telegram {
    background-image: url(../images/icons/icon-telegram.svg);
  }

  &--instagram {
    background-image: url(../images/icons/icon-instagram.svg);
  }

  &--scroll {
    background-image: url(../images/icons/icon-scroll.svg);
  }
}
