.icon {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;

  @include hover(transform, scale(1.1));

  &--menu {
    background-image: url(../images/icons/burger-menu-icon.svg);
    height: 25px;
    width: 25px;

    @include on-tablet {
      width: 30px;
      height: 30px;
    }
  }

  &--close {
    background-image: url(../images/icons/close-menu-icon.svg);
    background-position: center;
    height: 25px;
    width: 25px;
    align-items: center;

    @include on-tablet {
      width: 30px;
      height: 30px;
    }
  }
}
