.icon {
  display: block;
  height: 30px;
  width: 30px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--menu {
    background-image: url(../images/menu.svg);
  }

  &--croos {
    background-image: url(../images/cross.svg);
  }
}
