.icon {
  display: block;
  width: 25px;
  height: 20px;
  background-size: cover;
  background-position: center;

  @include hover(transform, scale(1.2));

  @include onTablet {
    height: 30px;
    width: 30px;
  }

  &--menu {
    background-image: url(../images/icons/icon-burger-menu.svg);
  }

  &--facebook {
    background-image: url(../images/icons/icon-facebook.svg);
  }

  &--twitter {
    background-image: url(../images/icons/icon-twitter.svg);
  }

  &--telegram {
    background-image: url(../images/icons/icon-telegram.svg);
  }

  &--instagram {
    background-image: url(../images/icons/icon-instagram.svg);
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);

    width: 22px;
    height: 22px;

    @include onDesktop {
      width: 30px;
      height: 30px;
    }
  }

  &--scroll-up {
    width: 30px;
    height: 30px;
    background-image: url(../images/icons/icon-scroll-up.svg);
  }

  &--arrow {
    width: 20px;
    height: 20px;
    background-image: url(../images/icons/icon-arrow.svg);
    @include hover(transform, scale(1));
  }

  &--ua {
    display: block;
    width: 45px;
    background-color: $header-bg-color;
    font-size: 16px;
    line-height: 24px;
    color: $white-color;
    border: none;
    outline: none;
    cursor: pointer;

    &--header {
      display: none;
      
      @include onTablet {
        display: block;
      }
    }
  }
}
