.icon-language {
  background-color: $c-background;
  border: none;
  outline: none;
  color: $c-white;
  cursor: pointer;
  @include hover(color, $c-main);

  &--header {
    display: none;

    @include onTablet {
      display: block;
    }
  }
}
