.icon {
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  @include hover (transform, scale(1.2));

  &--menu {
    background-image: url(../images/icons/white/menu.svg);
  }

  &--dropdown {
    width: 8px;
    height: 5px;
    margin-top: 10px;
    background-image: url(../images/icons/white/dropdown.svg);
  }

  &--close {
    background-image: url(../images/icons/white/close.svg);
  }

  &--facebook {
    background-image: url(../images/icons/white/facebook.svg);
  }

  &--twitter {
    background-image: url(../images/icons/white/twitter.svg);
  }

  &--telegram {
    background-image: url(../images/icons/white/telegram.svg);
  }

  &--insta {
    background-image: url(../images/icons/white/instagram.svg);
  }
}
