.top-bar__icons {
  @include onTablet {
    display: flex;
    gap: 40px;
  }
}

.icon {
  display: block;

  @include hover(transform, scale(1.2));

  &--menu {
    background-image: url(../images/icons/icon-burger-menu.svg);
    background-repeat: no-repeat;
  }

  &--lang {
    @include onTablet {
      background-image: url(../images/icons/icon-lang-ua.svg), url(../images/icons/union.svg);
      background-repeat: no-repeat, no-repeat;
      background-position: left, right;
    }
  }

  &--menu-size {
    width: 25px;
    height: 20px;

    @include onTablet {
      width: 30px;
      height: 30px;
    }
  }

  &--lang-size {
    width: 33px;
    height: 24px;

    @include onTablet {
      width: 35px;
    }
  }
}

.menu__icons {
  flex-direction: row;
  display: flex;
  gap: 30px;

  @include onTablet {
    flex-direction: row-reverse;
    gap: 44px;
  }

  @include onDesktop {
    gap: 41px;
  }
}

.icons {
  display: block;

  @include hover(transform, scale(1.2));

  &--close {
    background-image: url(../images/icons/icon-close.svg);
    background-repeat: no-repeat;

    @include onTablet {
      float: left;
    }
  }

  &--close-size {
    width: 22px;
    height: 22px;

    @include onDesktop {
      width: 30px;
      height: 30px;
    }
  }

  &--lang {
    @include iconLang;

    @include onTablet {
      float: right;
    }
  }

  &--lang-size {
    width: 33px;
    height: 24px;
  }

  @include onTablet {
    width: 34px;
  }

  @include onDesktop {
    width: 35px;
  }
}

.footer-icons {
  &__media--block {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__facebook {
    display: block;
    background-image: url(../images/icons/icon--facebook.svg);
    width: 20px;
    height: 20px;
  }

  &__twitter {
    display: block;
    background-image: url(../images/icons/icon--twitter.svg);
    width: 20px;
    height: 20px;
  }

  &__telegram {
    display: block;
    background-image: url(../images/icons/icon--telegram.svg);
    width: 20px;
    height: 20px;
  }

  &__instagram {
    display: block;
    background-image: url(../images/icons/icon--instagram.svg);
    width: 20px;
    height: 20px;
  }
}
