.image {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  @include onDesktop {
    justify-content: end;
  }

  &__girl {
    height: 273px;
    width: 245px;
    background-image: url(../images/woman.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @include onTablet {
      width: 443px;
      height: 494px;
    }

    @include onDesktop {
      width: 625px;
      height: 663px;
      margin-right: -55px;
    }
  }
}
