.image-wrapper {
  position: absolute;
  height: 273px;
  margin-top: auto;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url(../images/header-image.svg);
  background-position: center;
  background-repeat: no-repeat;

  @include onTablet {
    height: 494px;
    background-image: url(../images/header-image-tablet-1.svg);
  }

  @include onDesktop {
    height: 663px;
    background-image: url(../images/header-image-dekstop-1.svg);
    left: 51%;
  }

  &--second {
    display: none;
    background-image: url(../images/header-image-tablet-2.svg);

    @include onTablet {
      display: block;
      height: 466px;
    }

    @include onDesktop {
      display: block;
      height: 697px;
      background-image: url(../images/header-image-desktop-2.svg);
      left: 51%;
    }
  }
}
