.image {
  &--no-on-big-screen {
    @include onTablet {
      display: none;
    }
  }

  &--yes-on-big-screen {
    @include onTablet {
      display: block;

    }
  }
  &--no-on-phone {
    @include onPhone {
      display: none;
    }
  }
}
