.image {

  &__foto {
    display: block;
    margin: 0 auto;
    height: 273px;
    padding-top: 14px;

    @include onTablet {
      height: 494px;
      padding-top: 27px;
    }

    @include onDesktop {
      height: 663px;
      padding: 46px 0 0 31px;
    }

    &-nav {
      display: none;

      @include minTablet {
        display: block;
      }
    }
  }

  &__nav {
    height: 252px;

    @include minTablet {
      height: 100%;
    }
  }
}
