.images-section {
  width: 280px;
  height: 356px;
  margin: 60px 0 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  perspective: 400px;

  @include onTablet {
    width: 330px;
    height: 420px;
    margin: 70px 0 30px;
  }

  @include onDesctop {
    width: 570px;
    height: 484px;
    margin: 68px 0 20px;
  }

  &__events {
    @include onTablet {
      margin: 70px 0 0;
    }

    @include onDesctop {
      width: 370px;
      height: 475px;
    }
  }

  &__news {
    height: 280px;

    @include onTablet {
      height: 330px;
    }

    @include onDesctop {
      margin: 53px 0 20px;
      height: 370px;
    }
  }

  &:hover {
    animation: animationImage 1.5s ease-in-out;
  }
}

@keyframes animationImage {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
