.img {

  &-girl {
    background-image: url(../images/pictures/menu_girl1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 150px;
    height: 270px;

    @include onDesktop {
      background-image: url(../images/pictures/menu_girl3.png);
      width: 670px;
      height: 650px;
    }
  }

  @include onDesktop {
    &-boy {
      background-image: url(../images/pictures/menu_boy.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right bottom;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 600px;
      height: 650px;
    }

    &-angel {
      background-image: url(../images/pictures/exhibition_angel.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left;
      position: absolute;
      left: 0;
      top: 800px;
      width: 550px;
      height: 800px;
    }

    &-pair {
      background-image: url(../images/pictures/exhibition_pair.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      position: absolute;
      right: 0;
      top: 1500px;
      width: 500px;
      height: 500px;

      &-background {
        background-image: url(../images/pictures/exhibition_pair_background.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        position: absolute;
        right: 0;
        top: 1500px;
        width: 500px;
        height: 500px;
      }
    }

    &-kobza {
      background-image: url(../images/pictures/exhibition_kobza.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left;
      position: absolute;
      left: 200px;
      top: 2000px;
      width: 500px;
      height: 500px;

      &-background {
        background-image: url(../images/pictures/exhibition_kobza_background.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
        position: absolute;
        left: 200px;
        top: 2020px;
        width: 500px;
        height: 500px;
      }
    }

    &-visit {
      background-image: url(../images/pictures/visit_portrait.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left;
      position: absolute;
      left: 0;
      top: 0;
      width: 650px;
      height: 666px;
    }
  }
}
