.img {

  &--menu-opener {
    background-image: url(../images/burger.svg);

    &:hover {
      background-image: url(../images/burgerHover.svg);
    }
  }

  &--cross {
    background-image: url(../images/cross.svg);
  }
}
