.info {
  font-family: "Raleway", serif;
  font-weight: 400;

  &__span {
    font-size: 16px;
    line-height: 150%;
    color: $c-button-main;

    margin-bottom: 10px;

    &--black {
      color: $c-black;
    }
  }

  &__title {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: $c-black;

    margin-bottom: 20px;

    @include desktop(768px) {
      font-size: 24px;
      margin-bottom: 50px;
    }

    @include desktop(1024px) {
      margin-bottom: 20px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 150%;
    color: $c-gray;

    margin-bottom: 30px;

    // @include desktop(768px) {
    //   font-size: 24px;
    //   margin-bottom: 40px;
    // }

    // @include desktop(1024px) {
    //   margin-bottom: 30px;
    // }
  }
}
