.information-block {
  font-family: Raleway, sans-serif;

  &__paragraf {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }

  &__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
  }

  &__address-link{
    color: $c-light-text;
    text-decoration: none;
    width: fit-content;

    @include underlane-effect($c-light-text);
  }
}
