.info-block {
  &__date {
    margin-bottom: 10px;

    @include onMobile {
      margin-bottom: 20px;
    }
  }

  &__title {
    font-family: "Playfair Display", serif;
    font-size: 96px;
    line-height: 96px;

    margin-bottom: 40px;
  
    @include onTablet() {
      font-size: 72px;
      line-height: 72px;
    }
  
    @include onMobile() {
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 30px;
      display: block;
    }
  
    &__first-row {
      @include onDesktop() {
        margin-bottom: 10px;
      }
    }
  }

  &__event {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 80px;
    }

    @include onMobile {
      margin-bottom: 50px;
      max-width: 260px;
    }
  }

  &__buy-button {
    text-decoration: none;
  }
}
