.information {
  margin-bottom: 50px;

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 150%;
    font-family: 'Playfair Display', serif;
    color: $colorWhite;

    @include onTablet {
      margin-bottom: 30px;
    }
  }

  &__description {
    line-height: 150%;
    color: $colorWhite;
  }
}