.info-block {

  &--margins-1 {
    margin: 32px 0 52px;

    @include onTablet {
      margin: 0;
    }
  }

  &--margins-2 {
    margin: 50px 0 60px;

    @include onTablet {
      margin: 0;
    }
  }

  &__subtitle {
    margin: 0;
    @extend %playfair;
    @include text-decoration ($fz-3xs, $fw-l, $lh-6, $color-2);

    @include onTablet {
      @include text-decoration ($fz-2xs, $fw-l, $lh-7, $color-2);
    }

    &--margin-bottom {
      margin-bottom: 10px;

      @include onTablet {
        margin-bottom: 30px;
      }
    }
  }

  &__contacts {
    display: block;
    text-decoration: none;
    margin: 0;
    @extend %playfair;
    @include text-decoration ($fz-4xs, $fw-xs, $lh-4, $color-2);

    &--for-link {
      transition: 0.3s;

      &:hover {
        scale: 1.2;
      }
    }

    &--margin-bottom {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__social-link {

    &--margin-right {

      &:not(:last-child) {
        margin-right: 25px;
      }
    }
  }

  &__social-img {
    width: 20px;
    height: 20px;
    transition: 0.3s;

    &:hover {
      scale: 1.5;
    }
  }

  &__navigation {
    padding: 0;
  }

  &__item {
    list-style: none;
  }

  &__down {
    display: flex;
    justify-content: space-between;

    &--margin-top {

      @include onTablet {
        margin-top: 64px;
      }

      @include onSmallDesktop {
        margin-top: 70px;
      }
    }
  }

  &__left {
    display: flex;
  }

  &__copyright {
    margin: 0;
    @extend %raleway;
    @include text-decoration ($fz-5xs, $fw-xs, $lh-3, $color-2);

    &--margin-right {
      margin-right: 22px;

      @include onSmallDesktop {
        margin-right: 102px;
      }
    }
  }

  &__up-img {
    width: 20px;
    height: 20px;
    transition: 0.3s;

    &:hover {
      scale: 1.5;
    }
  }
}
