.infoblock {
  color: $text-color-black;
  margin-bottom: 120px;

  @include onTablet {
    margin-bottom: 160px;
  }

  @include onDesktop {
    margin-bottom: 200px;
  }

  &--events {
    @include onTablet {
      margin-bottom: 100px;
    }

    @include onDesktop {
      margin-bottom: 110px;
    }
  }

  &__description-container {
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }

    &--news {
      margin-bottom: 0;
    }
  }

  &__description-title {
    margin-bottom: 20px;
  }

  &__description-title-date {
    @extend %font-additional;
    line-height: 140%;
    margin-bottom: 10px;
    color: $button-action-color;

    &--news {
      margin-bottom: 0;
      color: $text-color-black;
    }
  }

  &__description-title-text {
    text-decoration: none;
    @extend %h4;
    line-height: 125%;
    transition: $transition-all;

    &:visited {
      color: $text-color-black;
    }

    &:hover {
      color: $button-action-color;
      transform: scale(1.02) translateX(2px);
    }

    @include onTablet {
      display: block;
      height: 60px;
    }

    @include onDesktop {
      height: 30px;
    }
  }

  &__description-text {
    &--events {
      margin-bottom: 30px;

      @include onTablet {
        margin-bottom: 50px;
      }

      @include onDesktop {
        width: 570px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__element-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin-bottom: 30px;

    &--exhibitions {
      @include onTablet {
        flex-direction: row;
        align-items: start;
        margin-bottom: 0;
      }
    }

    &--news {
      @include onTablet {
        flex-direction: row;
        align-items: start;
        margin-bottom: 0;
      }
    }
  }

  &__element {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 0;
      margin-right: 30px;
    }

    &:last-child {
      margin: 0;
    }

    &--events {
      margin-right: 0;

      @include onTablet {
        flex-direction: row;
        margin-bottom: 70px;
      }
    }

    &--news {
      margin-bottom: 50px;
    }
  }

  &__photo-container {
    display: block;
    height: 356px;
    margin-bottom: 20px;

    transition: $transition-all;

    &:hover {
      transform: scale(1.02) translateY(3px);
    }

    @include onTablet {
      height: 420px;
      margin-bottom: 30px;
    }

    @include onDesktop {
      height: 485px;
      margin-bottom: 20px;
    }

    &--events {
      @include onDesktop {
        height: 475px;
      }
    }

    &--news {
      height: 280px;

      @include onTablet {
        height: 330px;
      }

      @include onDesktop {
        height: 370px;
      }
    }
  }

  &__photo {
    object-fit: cover;
    object-position: top left;
    height: 100%;
    width: 100%;

    @include onDesktop {
      object-position: center left;
    }

    &--news {
      object-position: top center;

      @include onDesktop {
        object-position: top center;
      }
    }
  }
}
