.info-event {
  color: $whiteMainColor;
  height: max-content;

  &__date {
    margin-bottom: 10px;

    @extend %additional-text;
  }

  &__title {
    margin-bottom: 30px;

    @extend %h1;

    @include onTablet {
      margin-bottom: 20px;
    }

    @include onDesktop {
      min-width: 570px;
    }
  }

  &__describtion {
    margin-bottom: 40px;
    max-width: 267px;

    @extend %main-text;

    @include onTablet {
      max-width: fit-content;
      margin-bottom: 50px;
    }

    @include onDesktop {
      margin-bottom: 80px;
    }
  }

  &__link {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 70px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}
