.info {
  &__title {
    margin-bottom: 60px;

    @include onTablet {
      grid-column: 1 / 5;
      order: 1;
      margin-bottom: 0;
    }

    @include onDesktop {
      grid-column: 1 / 10;
    }
  }

  &__block {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__button {
    width: 100%;
    margin: 0 auto;

    @include onTablet {
      grid-column: 5 / 7;
      order: 2;
      margin: 0 auto;
    }

    @include onDesktop {
      grid-column: 10 / 13;
    }
  }
}
