.input {
  border: 0;
  outline: none;
  border-bottom: 1px solid $text-primary-color;
  font-size: 16px;
  line-height: 150%;
  font-family: inherit;
  font-weight: inherit;
  color: $text-primary-color;

  &:hover {
    color: $utils-color;
    border-bottom-color: $utils-color;
  }

  &:focus {
    color: $utils-color;
    border-bottom-color: $utils-color;
  }

  &:valid {
    border-bottom-color: $text-primary-color;
    @include primary-black-text;
    color: $text-primary-color;
    font-family: inherit;
  }

  &::placeholder {
    color: inherit;
  }
}
