.intro {
  color: $main-color-light;
  position: relative;

  &__text {
    width: max-content;
  }

  &__event-title {
    @include bold-font(700);
    font-size: 96px;
    line-height: 100%;
    margin-top: 10px;
    &--year {
      margin-left: $margin-100;
    }
  }

  &__event-subtitle {
    width: 370px;
    margin: 40px 0 0 $margin-100;
  }

  &__event-button {
    margin-left: $margin-100;

    &:hover {
      border: 1px solid $main-color-light;
    }
  }

  &__event-bottom {
    @include bold-font(700);
    font-size: 17px;
    margin: 70px 0 22px;
    opacity: 0.7;
    position: relative;

    &::after {
      content: "";
      width: 532px;
      height: 1px;
      background-color: $main-color-light;
      opacity: 0.3;
      position: absolute;
      top: 50%;
      left: 18%;
    }
  }

  &__painting {
    background-image: url("../images/header.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
