.item-card {
  display: grid;
  row-gap: rem(20);

  @media (min-width: $mobile) {
    grid-template: auto 1fr / 1fr;
  }

  &__image {
    padding-bottom: percent(356, 320);

    @media (min-width: $mobile) {
      padding-bottom: percent(420, 330);
    }

    @media (min-width: $tablet) {
      padding-bottom: percent(484, 570);
    }
  }
}
