.item {
  &__image {
    margin-bottom: 20px;
    height: 251px;
    width: 100%;
    object-fit: cover;
    object-position: center;

    @include onTablet {
      height: 330px;
    }

    @include onDesktop {
      height: 370px;
    }
  }

  &__date {
    color: $c-black;
  }

  &__title {
    margin-bottom: 20px;
    color: $c-black;
  }

  &__description {
    margin-bottom: 50px;
    @extend %main-text;
    color: $c-black;
  }
}


