.ivents {
  margin-bottom: 100px;

  &__title {
    @include mainTitle;
  }

  &__button {
    @include mainBtn;
  }

  &__card {
    margin-bottom: 60px;

    &_img {
      display: block;
      margin: 0 auto;
      height: 358px;
      margin-bottom: 20px;

      @include onTablet {
        margin: 0;
        height: 422px;
      }

      @include onDesktop {
        margin: 0;
        height: 475px;
      }
    }

    &__content {
      &-title {
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 125%;
        color: $blackTextColor;
      }

      &-paragraf {
        margin-bottom: 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #504f5e;
      }

      &-button {
        width: 100%;

        @include onTablet {
          width: 100%;
        }

        @include onDesktop {
          width: 50%;
        }
      }

      &-date {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;

        color: $orangeColor;
      }
    }
  }
}
