.joining {
  margin-top: 200px;

  @include on768px {
    margin-top: 160px;
  }

  @include on320px {
    margin-top: 120px;
  }

  &__title {
    margin: 0;
    margin-bottom: -10px;
  }

  &__info {
    @include fontRaleway400;

    color: $blackColor;
  }

  &__email {
    width: 100%;
    margin-top: 50px;

    outline: none;
    border: none;
    border-bottom: 1px solid $blackColor;
    background-color: transparent;

    &::placeholder {
      @include fontRaleway400;
      color: $blackColor;
    }

    &:hover {
      color: $orangeColor;
      border-color: $orangeColor;

      &::placeholder {
        color: $orangeColor;
      }
    }

    &:focus {
      color: $orangeColor;
      border-color: $orangeColor;
      font-weight: 600;
    }
  }

  &__button {
    margin-top: 10px;

    @include on768px {
      margin-top: 0;
    }

    @include on320px {
      margin-top: 10px;
    }
  }

}
