.label {

  &__select {
    display: none;
    background-color: $colorBg;
    border: none;
    color: $colorWhite;

    @include on768 {
      display: block;
    }

    &--menu {
      display: block;
    }
  }
}
