.lable {

  &__select {
    @extend %rel-500;
    text-transform: uppercase;
    background-color: $dark-green-color;
    border: none;
    cursor: pointer;
  }

  &__option {
    text-transform: uppercase;
  }
}
