.lang-list {
  display: none;
  height: 24px;

  transition: transform 0.3s;

  @include on-tablet {
    display: flex;

  }

  &:hover {
    transform: scale(1.1);
  }

  &__select {
    background-color: $background-color;
    color: $white-color;
    border: none;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
  }
}

.lang-list--menu {
  display: block;
}
