.lang {
  visibility: hidden;
  display: flex;
  align-items: center;
  color: $color-text-secondary;
  text-decoration: none;

  &--with-menu {
    visibility: visible;
  }

  &::after {
    display: block;
    content: "";
    background-image: url("..//images/icons/union.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 8px;
    height: 5px;
    margin-left: 3px;
  }

  @include onTablet {
    visibility: visible;
    order: 3;
  }

  @include onDesktop {
    visibility: visible;
    order: 3;
  }
}
