.lang-toggler {
  display: none;

  @include onTablet {
    display: block;
    border: none;
    background-color: $mainColor;
    color: $lightColor;
    @include fontRaleway;
  }

  &--menu {
    display: block;
    margin-right: 30px;
    border: none;
    background-color: $mainColor;
    color: $lightColor;
    @include fontRaleway;

    @include onTablet {
      margin-right: 0;
      order: 1;
    }
  }
}
