.language-switcher {
  cursor: pointer;
  display: none;
  background-color: transparent;
  box-sizing: border-box;
  color: $white-bg;
  border: 0 solid transparent;
  outline: none;
  transition-duration: $efferctDuration;
  font-weight: 500;

  &__aside {
    display: flex;
  }

  @include hover(transform, scale(1.1));

  @include on-tablet {
    display: flex;
  }

  &:hover {
    border: 0 solid transparent;
  }

  &:active {
    border: 0 solid transparent;
  }

  &__option {
    background-color: transparent;
    color: $head-foot-color-bg;
  }
}

.language-switcher option {
  background-color: $head-foot-color-bg;
  color: $white-bg;
}
