.language {
  width: max-content;
  height: 12px;
  align-items: center;
  padding-right: 50px;
  cursor: pointer;
  display: none;
  
  @include tablet() {
    display: flex;
  }
  
  &--menu {
    padding-left: 0;
    padding-right: 50px;
    display: flex;
  
    @media (max-width: 640px) {
      padding-right: 25px;
    }
  }
  
  &__ua {
    @extend %icon;
  }
}
