.lang-switcher {
  display: none;
  border: none;
  background-color: $heder-bgc-color;

  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #f1f5f4;
  text-transform: uppercase;

  outline: none;
  cursor: pointer;

  @include onTablet {
    display: block;
  }
}
