.language-selector {
  margin-left: 40px;
  color: $white-color;
  font-family: 'Raleway';
  font-weight: 500;
  display: none;

  @include onTablet {
    display: block;
  }

  &--secondary {
    margin: 0;
    display: block;
  }
}
