.lang {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: $headerText-color;
  background-color: $background-color;
  border: none;
  text-transform: uppercase;
  display: none;
  cursor: pointer;
  transition: all 0.5s;

  @include onTablet {
    display: block;
  }

  &--menu {
    display: block;

    @include onTablet {
      display: none;
    }
  }

  &:hover {
    color: $main-color;
  }
}
