.language-select {
  position: relative;
  top: 50%;
  transform: translateY(-25%);
  cursor: pointer;
  display: none;
  border: none;
  background-color: transparent;
  margin-left: 3px;

  @include onTablet {
    display: block;
  }

  @include onDesktop {
    display: block;
  }
}
