.language-select {
  cursor: pointer;
  display: none;
  border: none;
  background-color: transparent;
  margin-left: 3px;

  @include onTablet {
    display: block;
  }

  @include onDesktop {
    display: block;
  }
}
