.lang-toggler {
  display: none;

  @include onTablet {
    display: block;
    font-family: $raleway;
    font-weight: 500;
    line-height: 150%;
    color: $font-color-white;

    background-color: transparent;
    border-color: transparent;

    &__option {
      background-color: $page-dark;
    }
  }
}
