.lang-select {
  width: 46px;
  height: 24px;

  line-height: 24px;
  font-size: 16px;
  color: $c-white;
  font-family: inherit;

  background-color: $c-background;
  border-color: transparent;
  cursor: pointer;
}
