.language-switcher {
  &__option {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;

    text-decoration: none;
    color: $c-white;
  }

  &__language {
    @include text-styler(Raleway, 500, 16px, 24px, $c-white);

    margin: 0;
    width: 23px;
    height: 24px;
    text-transform: uppercase;
  }

  &__dropdown {
    width: 8px;
    height: 4.61px;
  }
}
