.language-selector {
  margin-left: 40px;
  color: $white-color;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  display: none;

  @include onTablet {
    display: flex;
  }

  &--secondary {
    margin: 0;
    display: flex;

    @include onTablet {
      order: 1;
      margin-left: 40px;
    }
  }

  &__image {
    margin-left: 3px;
  }
}
