.language-toggle {
  height: 21px;

  &__field {
    width: 50px;
    margin: 0 auto;
    outline: 0;
    border: 0;
    background-color: inherit;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: inherit;

    &:focus {
      border: 1px solid $font-color;
    }
  }

  &__option {
    color: $title-color;
  }
}
