.last-section {

  &__title {
    margin-bottom: 20px;
  }

  &__discription {
    margin-bottom: 50px;
  }

  &__field {
    border: none;
    border-bottom: 1px solid $dark-color;
    outline: none;
    width: 100%;
    margin-bottom: 30px;
    font-weight: 700;

    &::placeholder {
      font-weight: 400;
    }


    &:hover {
      border-bottom: 1px $main-color solid;
      color: #AF3419;

      &::placeholder {
        color: #AF3419;
      }
    }

    &:active {
      border-bottom: 1px $main-color solid;
      color: $main-color;
    }
  }
}
