.lenguage {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  outline: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &__option {
    background-color: #3f5252;

    &:hover {
      background-color: #3f5252;
    }
  }
}
