.line {
  margin: auto;
  background-color: $colorWhite;
  height: 1px;
  width: 100%;

  &--header {
    display: none;
    opacity: 0.3;

    @include onDesktop {
      display: inline-block;
    }
  }

  &--menu {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 50px;
    }

    @include onDesktop {
      margin-bottom: 60px;
      opacity: 0.3;
    }
  }
}
