.link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $c-white;
  text-decoration: none;
  transition: color 0.3s;

  &--bold {
    font-weight: 600;
  }

  &:hover {
    color: $c-orange;
  }
}
