.link-hover-effect {
  background-image: linear-gradient(
    to right,
    $white-color 100%,
    $white-color 100%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  background-clip: text;
  transition: all 0.3s ease-in-out;

  &::before {
    content: '';
    background: $white-color;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 1px;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
   background-position: 0;
  }

  &:hover::before {
    width:100%;
  }
}
