.link {
  text-decoration: none;
  color: $white-color;
  transition: all 0.5s;

  &:hover {
    color: $main-color;
  }

  &--social {
    display: flex;

    &:hover {
      transform: scale(0.8);
    }
  }

  &--arrow {

    &:hover {
      transform: scale(1.2);
    }
  }
}
