.link-transparent {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
  line-height: 60px;

  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: $color-main;

  border: 1px solid $color-main;

  transition: border-color 0.3s;

  &::after {
    content: "";
    margin-left: 8px;
    height: 14px;
    width: 16px;

    background-image: url(../images/arrow-button.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @include onTablet {
    display: none;
  }

  &:hover {
    border-color: #af3419;
    color: #af3419;
  }

  &:active {
    border-color: #ea340d;
    color: #ea340d;
  }

  &:disabled {
    border-color: #dd836f;
    color: #dd836f;
  }
}
