.logo {
  &__image {
    &--mobile {
      height: 40px;

      @include onTablet {
        display: none;
      }
    }

    &--tablet {
      display: none;

      @include onTablet {
        display: block;
        height: 26px;
      }
    }
  }
}
