.logo {
  display: block;
  box-sizing: border-box;
  width: 123px;
  height: 40px;
  background-color: $color-white;

  -webkit-mask: url("../images/NAMU.svg") 0 0/123px 40px;
  mask: url("../images/NAMU.svg") 0 0/123px 40px;

  transition: all 0.3s;

  &:hover {
    background-color: $color-main;
  }
}
