.logo {
  line-height: 0;

  &__image {
    width: 123px;
    height: 40px;
    transition: transform 0.3s;

    @include onTablet {
      width: 117px;
      height: 26px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
