.logo-container {
  height: 40px;
  width: 124px;

  @include onTablet {
    height: 26px;
    width: 116px;
  }

  @include onDesktop {
    height: 26px;
    width: 116px;
  }

  @include theDesign {
    height: 40px;
  }

  @include fullHD {
    height: 60px;
  }

  @include LargeScreens {
    height: 90px;
  }
}
