.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 70px;

  @include onTable {
    padding: 26px 0;
    margin-bottom: 100px;
  }

  @include onDesctop {
    padding: 32px 0;
  }

  &--nav {
    margin-bottom: 30px;

    @include onTable {
      margin-bottom: 50px;
    }
  
    @include onDesctop {
      margin-bottom: 44px;
    }
  }
}
