.mailing {
  margin: 0 0 80px;

  @include onTablet {
    margin: 0 0 128px;
  }

  @include onDesktop {
    margin: 0 0 200px;
  }

  &__text {
    margin: 0 0 50px;
  }

  &__title {
    margin: 0 0 20px;

    font-family: $headerFont;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;

    color: $headerBlackColor;

    @include onTablet {
      font-size: 40px;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 120%;
    }
  }

  &__description {
    color: $headerBlackColor;
  }
}
