.main {
  --main-padding: 90px;
  --secondary-padding: 120px;

  width: fit-content;
  margin: 0 auto;

  &__topical,
  &__signup,
  &__news {
    margin-top: var(--main-padding);

    @include onTablet {
      --main-padding: 100px;
    }

    @include onDesktop {
      --main-padding: 110px;
    }
  }

  &__events,
  &__digest {
    margin-top: var(--secondary-padding);

    @include onTablet {
      --secondary-padding: 160px;
    }

    @include onDesktop {
      --secondary-padding: 200px;
    }
  }
}
