.main-content {
  &__exhibitions {
    @include padding;
    margin-bottom: 120px;

    @include tablet {
      margin-bottom: 160px;
    }

    @include desktop {
      margin-bottom: 200px;
    }
  }
}