.main {
  background-color: $c-light-background;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-color: $c-light-background;
  -webkit-background-color: $c-light-background;
}
