.main-links {
  &__title {
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;

    color: $mainColor;
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 30px;
    }

    @include onDesktop {
      margin-bottom: 30px;
    }
  }
  &__list {
    list-style: none;
  }

  &__link {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $mainColor;
    text-decoration: none;
    transition: color $transitionDuration;

    &:hover {
      color: $orangeColor;
    }
  }
}
