.main {
  background-color: $white-color;

  &__current-exhibitions {
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;

    @include onTablet {
      width: 768px;
    }

    @include onMobile {
      width: 320px;
    }
  }

  &__upcoming-events {
    width: 1280px;
    margin: 115px auto 0;

    @include onTablet {
      width: 768px;
    }

    @include onMobile {
      width: 320px;
    }
  }

  &__news {
    width: 1280px;
    margin: 0 auto;

    @include onTablet {
      width: 768px;
    }

    @include onMobile {
      width: 320px;
    }
  }
}
