.main-event {

  &__date {
    font-size: 14px;
    line-height: 140%;

    &--numbers {
      width: 20%;
      margin-right: 20px;

      font-family: "Playfair Display", serif;
      font-size: 14px;
      line-height: 125%;
      opacity: 0.7;
    }
  }

  &__date-line {
    display: none;
    grid-row: 4 / 5;
    margin-bottom: 56px;
    align-self: end;

    @include onDesktop {
      display: flex;
      align-items: center;
    }
  }

  &__line {
    width: 80%;
    height: 1px;
    background-color: $c-white;
    opacity: 0.3;
  }

  &__title {
    margin-top: 10px;

    font-family: "Playfair Display", serif;
    font-size: 48px;
    line-height: 100%;

    @include onTablet {
      font-size: 72px;
    }

    @include onDesktop {
      font-size: 96px;
    }
  }

  &__about {
    margin-top: 30px;

    line-height: 150%;
  }

  &__image {
    margin: 40px auto 0;

    width: 245px;
    object-position: bottom;
    object-fit: contain;

    @include onTablet {
      width: 443px;
    }

    @include onDesktop {
      grid-row: 1 / 5;
      width: 625px;
    }
  }

  &__buy {
    grid-row: 4 / 5;
    margin-top: 40px;

    @include onDesktop {
      align-self: start;
      margin-bottom: 50%;
    }
  }
}
