.main-content {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &__section {
    display: flex;
    flex-direction: column;

    @include containerWidth(100px);
  }
}
