.main {
  &__block-appearance {
    @include blockAppearance;
  }

  background-color: $white-color;
  color: $black-color;

  &__content {
    display: grid;
    padding-block: 90px;

    @include onTablet {
      padding-block: 100px;
    }

    @include onDesktop {
      padding-block: 110px;
    }
  }
}
