.container {
  padding: 80px 20px;
}

.current-exhibitions__container {
  & > :last-child {
    padding: 70px 0 100px;
  }
}

.coming-events__container {
  & > :last-child {
    padding-top: 60px;
  }
}

.news__container {
  & > :last-child {
    padding-top: 60px;
  }
}

.footer__container {
  padding-bottom: 38px;
}
