.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;

  background-color: $redColor;

  @extend %button-text;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: #af3419;
  }

  &:focus {
    background-color: #ea340d;
  }

  &:disabled {
    background-color: #dd836f;
  }
}
