.section {
  &__title {
    font-family: "Playfair Display", serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 125%;

    margin-bottom: 60px;
  }

  &__image {
    width: 280px;
    height: 356px;
    margin-bottom: 20px;
    object-fit: cover;
  }
}

.exhibitions {
  margin-bottom: 120px;
}

.exhibition {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 60px;

  &__date {
    color: $btn-orange;
    line-height: 150%;
    margin-bottom: 10px;
  }

  &__name {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 125%;
    margin-bottom: 20px;
  }

  &__description {
    color: #504f5e;
    line-height: 150%;
    margin-bottom: 30px;
  }
}

.visit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $bgc-green;
  color: $c-white;

  margin-bottom: 90px;
  padding-top: 50px;
  padding-bottom: 50px;

  @include contentPaddingInline;

  &__title {
    font-family: "Playfair Display", serif;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__text {
    line-height: 150%;
    margin-bottom: 40px;
  }
}

.news {
  margin-bottom: 120px;
  &__title {
    font-family: "Playfair Display", serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 125%;

    margin-bottom: 60px;
  }
}

.new {
  display: flex;
  flex-direction: column;

  &__image {
    margin-bottom: 20px;
  }

  &__date {
    line-height: 140%;
  }

  &__name {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 125%;

    margin-bottom: 20px;
  }

  &__description {
    color: #504f5e;
    line-height: 150%;

    margin-bottom: 50px;
  }
}

.subscription {
  margin-bottom: 80px;

  &__text {
    line-height: 150%;
    margin-bottom: 50px;
  }

  &__title {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 125%;

    margin-bottom: 20px;
  }

  &__input {
    background-color: $c-white;
    border: 0;
    outline: none;
    border-bottom: 1px solid #1c1b29;
    padding-bottom: 3px;
    margin-bottom: 30px;
    width: 100%;
  }
}
