.mainblock {
	min-height: 100vh;

	padding: 90px 0px 20px;

	background-image: url(../img/mainblock/main.png);
	background-color: $backgorundColor;
	background-repeat: no-repeat;
	background-position: bottom right;

	@media (max-width: 1130px) {
		background-size: 50%;
	}

	@media (max-width: $md4+px) {
		background-size: 77%;
		background-position: 150% 114%;
	}

	// .mainblock__container
	&__container {
	}

	// .mainblock__body
	&__body {
		padding-top: 90px;

		@media (max-width: $md4+px) {
			padding: 0;
			text-align: center;
		}
	}

	// .mainblock__subtitle
	&__under-title {
		margin-bottom: 20px;
		transition-property: opacity, transform;
		transition: 0.3s ease 0.1s;
		opacity: 0;
		transform: translateY(-20px);
	}

	// .mainblock__title
	&__title {
		font-weight: 700;
		font-size: 96px;
		font-family: $PlayfairFont;

		transition-property: opacity, transform;
		transition: 0.3s ease 0.2s;
		opacity: 0;
		transform: translateY(-20px);

		&--subtitle {
			margin-bottom: 40px;
		}

		@media (max-width: $md3+px) {
			font-size: 72px;
		}

		@media (max-width: $md4+px) {
			font-size: 48px;
		}
	}

	// .mainblock__wrap
	&__wrap {
		margin: 20px 0px 0px 100px;

		@media (max-width: $md3+px) {
			margin: 20px 0px 0px 0px;
		}
	}

	// .mainblock__text
	&__text {
		margin-bottom: 60px;

		transition-property: opacity, transform;
		transition: 0.3s ease 0.3s;
		opacity: 0;
		transform: translateY(-20px);
	}

	// .mainblock__button
	&__button {
		margin-bottom: 120px;

		transition-property: opacity, transform;
		transition: 0.3s ease 0s;
		opacity: 0;
		transform: translateY(-20px);
	}

	// .mainblock__date
	&__date {
		display: flex;
		align-items: center;

		&:after {
			content: "";
			display: block;
			width: 492px;
			height: 1px;

			margin-left: 20px;

			border-bottom: 1px solid rgba(241, 245, 244, 0.3);
		}

		@media (max-width: 1130px) {
			display: none;
		}
	}

	// .mainblock__pos
	&__pos {
		position: absolute;
		right: 1%;
		bottom: 33%;

		line-height: 24px;

		@media (max-width: 1130px) {
			display: none;
		}
	}
}