.main-section {
  padding: 0 20px 90px;

  &:first-child {
    padding: 90px 20px;
  }

  &__title {
    display: block;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 125%;
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__picture {
    margin-top: 60px;
    height: 356px;
    width: 280px;

    &--1 {
      background-image: url(../images/2.png);
      align-self: center;
    }

    &--2 {
      background-image: url(../images/3.png);
      align-self: center;
    }

    &--3 {
      background-image: url(../images/4.png);
      align-self: center;
    }

    &--4 {
      background-image: url(../images/5.png);
      align-self: center;
    }
  }

  &__date {
    margin-top: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: $sec-background-c;
  }

  &__block-title {
    margin-top: 10px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 125%;
  }

  &__block-paragraph {
    margin-top: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: $sec-text-c;
  }

  &__button {
    margin-top: 30px;
  }
}
