.main-content {
  &__exhibitions {
    @include padding;
    margin-bottom: 120px;

    @include tablet {
      margin-bottom: 160px;
    }

    @include desktop {
      margin-bottom: 200px;
    }
  }

  &__events {
    @include padding;
    margin-bottom: 90px;

    @include tablet {
      margin-bottom: 100px;
    }

    @include desktop {
      margin-bottom: 110px;
    }
  }

  &__news {
    @include padding;
    margin-bottom: 120px;

    @include tablet {
      margin-bottom: 160px;
    }

    @include desktop {
      margin-bottom: 200px;
    }
  }
}