@media (min-width: 340px) {
  .button {
    max-width: 250px;
  }
}

@media (min-width: 1110px) {
  .header__image {
    position: relative;
    height: 663px;
  }

  .header__img {
    display: block;
    position: absolute;
    object-fit: contain;
    top: 30%;
    right: 0;
    height: 663px;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .header__image {
    position: relative;
    height: 663px;
  }

  .header__img {
    display: block;
    position: absolute;
    object-fit: contain;
    top: 33%;
    right: 0;
    height: 663px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .header__image {
    position: relative;
    height: 663px;
  }

  .header__img {
    display: block;
    position: absolute;
    object-fit: contain;
    top: 33%;
    right: 0;
    height: 663px;
    width: 100%;
  }
}

@media (min-width: 1229px) {
  .header__image {
    position: relative;
    height: 663px;
  }

  .header__img {
    display: block;
    position: absolute;
    object-fit: contain;
    top: 10%;
    right: 0;
    height: 663px;
    width: 100%;
  }

  .container {
    margin: 0 auto;
  }
}
