@media (min-width: 340px) {
  .button {
    max-width: 250px;
  }
}

@media (min-width: 1000px) {
  .menu {
    overflow-y: auto;
  }

  .page__body--with-menu {
    overflow: hidden;
  }
}

@media (min-width: 1000px) {
  .grid {
    overflow: hidden;
  }
}

@media (min-width: 1000px) {
  .header {
    overflow: hidden;
  }
}
