.media {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;

  @include onTablet {
    margin-bottom: 65px;
  }

  @include onDesktop {
    margin-bottom: 70px;
  }

  &__item {
    margin-right: 20px;

  }

  &__link {
    transition: color $transitionDuration;

    &:hover {
      fill: $orangeColor;
    }
  }

  &__pic {
    transition: color $transitionDuration;

    &:hover {
      fill: $orangeColor;
    }
  }
}
