.menu-body {
  position: fixed;
  z-index: 4;

  width: 100%;
  height: 100%;

  overflow: auto;

  background-color: $backgorundColor;
  transform: translateY(-100%);
  transition: transform 0.5s;

  &._active {
    transform: translateY(0%);
  }
}
