.menuBtn {
  width: 30px;
  height: 30px;
  display: block;
  background-color: white;
  mask: url('../images/icons/menu.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-clip: content-box;
  text-decoration: none;

  --webkit-tap-highlight-color: transparent;

  @include default-cursor;
  @include hover((transform, scale(1.1)));
  @include active((transform, scale(0.9)));
}
