.menu {
  display: flex;
  flex-direction: column;
  gap: 7px;

  &--cross {
    flex-direction: row;
    align-items: center;
  }

  &__image {
    width: 25px;
    object-fit: cover;
    object-position: center;
  }

  &__cross {
    width: 30px;
    height: 2px;
    background-color: $color-weight;
    transform: rotate(45deg);
  }

  &__cross-left {
    width: 30px;
    height: 2px;
    background-color: $color-weight;
    transform: rotate(90deg);
  }
}
