.menu-button {
  width: 22px;
  height: 22px;
  
  background-image: url(../images/menu/button.svg);
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;

  &--cross {
    background-image: url(../images/menu/cross.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}