/* #region merch */
.merch {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__block {
    grid-column: 1 / -1;

    @include on-tablet {
      @include page-grid;

      width: 740px;
      height: 75px;
      margin-bottom: 60px;
    }

    @include on-desktop {
      width: 1200px;
    }

    @include on-design {
      width: 1260px;
    }
  }

  &__history {
    display: none;

    @include on-tablet {
      @include button-second;

      width: 240px;
      display: flex;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 900;
      grid-column: 5 / -1;

      &--link {
        display: flex;
        align-items: center;
        text-align: center;
      }

      &--arrow {
        width: 20px;
        height: 20px;
        background-image: url(../imagewasp/arrow.png);
        background-position: center;
        background-size: cover;
      }
    }

    @include on-desktop {
      width: 280px;
      grid-column: 10 / -1;
    }

    &--end {
      @include button-second;

      display: flex;
      align-items: center;
      text-align: center;
      width: 280px;
      font-size: 24px;
      grid-column: 1 / -1;
      margin-bottom: 30px;

      &--arrow {
        width: 20px;
        height: 20px;
        background-image: url(../imagewasp/arrow.png);
        background-position: center;
        background-size: cover;
      }

      @include on-tablet {
        display: none;
      }
    }
  }

  &__news {
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    @include on-tablet {
      margin-inline: 0;
      padding-inline: 0;
      width: 360px;
      height: 990px;
      flex-direction: row;
      justify-content: center;
      gap: 30px;
      margin-bottom: 20px;
    }

    @include on-desktop {
      margin-bottom: 20px;
      height: 990px;
    }
  }

  .news {
    @include page-grid;

    &__kamikadze {
      grid-column: 1 / -1;

      @include on-tablet {
        margin-top: 0;
        grid-column: 1 / 4;
      }

      @include on-desktop {
        grid-column: span 1 / 5;
      }
    }

    &__bomber {
      grid-column: 1 / -1;
      margin-bottom: 33px;

      @include on-tablet {
        margin-bottom: 0;
        grid-column: 4 / -1;
      }

      @include on-desktop {
        grid-column: 7 / -1;
      }
    }

    &__link {
      display: flex;
      width: 100%;
      height: 100%;
      transition: $effect-duration;

      @include hover(transform, scale(1.05));

      @include on-desktop {
       // video {
       //  width: 50%; /* Установка ширины видеоплеера */
       //  height: auto; /* Автоматическое вычисление высоты */
       //  border: 1px solid #ccc; /* Добавление рамки вокруг видеоплеера */
       // }
      }
    }

    &__image {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: all $effect-duration;

      @include hover(transform, scale(1.05));

      @include on-tablet {
        grid-column: span 3;
        width: 360px;
        height: 420px;
      }

      @include on-desktop {
        grid-column: span 6;
        object-fit: cover;
        width: 585px;
        height: 630px;
        transition: all $effect-duration;

        @include hover(transform, scale(1.05));
      }

      @include on-design {
        width: 615px;
        height: 645px;
        transition: all $effect-duration;

        @include hover(transform, scale(1.05));
      }
    }

    &__about {
      width: 100%;
      display: flex;
      flex-direction: column;

      @include on-tablet {
        width: 370px;
      }

      @include on-desktop {
        width: 580px;
      }
    }

    &__date {
      display: block;
      color: $light-steel;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    &__name {
      font-family:"Days One", sans-serif;
      font-size: 20px;
      font-weight: 800;
      margin-top: 0;
      margin-bottom: 20px;

      @include on-tablet {
        font-size: 24px;
        width: 360px;
        height: 30px;
      }

      @include on-desktop {
        width: 585px;
      }

      @include on-design {
        width: 615px;
      }
    }

    &__description {
      width: 100%;
      color: $gray;
      margin: 0;

      @include on-tablet {
        width: 360px;
        height: 550px;
      }

      @include on-desktop {
        width: 585px;
        height: 330px;
      }

      @include on-design {
        width: 615px;
        height: 320px;
      }
    }
  }
}

/* #endregion */
