.middle {
  background-color: $colorHead;
  height: 416px;

  @include onTablet {
    height: 515px;
  }

  @include onDesktop {
    background-image: url(../images/Museum_photos/under-header.png);
    background-repeat: no-repeat;
    background-position: -30% 5%;
    background-size: 800px;
    height: 800px;
  }

  &__title {
    padding-top: 50px;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    color: $colorSecond;

    @include onTablet {
      font-size: 62px;
      padding-top: 80px;
    }

    @include onDesktop {
      font-size: 80px;
      padding-top: 205px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $colorSecond;
    padding: 20px 0 40px;

    @include onTablet {
      padding-top: 20px 0 60px;
    }

    @include onDesktop {
      padding-top: 10px 0 50px;
    }
  }
}
