.button-shopping {
  width: 279px;
  height: 60px;
  display: flex;
  cursor: pointer;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  background-color: $Main;
  transition: transform 200ms ease-in-out;
  will-change: transform;

  @include hover(transform, scale(1.05));

  &::after {
    width: 133px;
    color: $White;
    text-align: center;
    content: 'Купити квиток';
    font-family: Raleway, sans-serif;
  }

  @include on-tablet {
    width: 330px;
    height: 60px;
  }

  @include on-desktop {
    width: 270px;
  }

  /* styles for 4 button */
}
