.more {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__years {
    color: $colorWhite;
    @extend %text-add;
  }

  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
  &__link {
    @extend %text-add;
  }

  &__arrow {
    bottom: 50%;
  }
}
