.nav-footer {
  &__list {
    margin-top: 10px;

    @include onTable() {
      margin-top: 30px;
    }
  }

  &__item {
    position: relative;
    z-index: 1;

    line-height: 150%;

    width: max-content;

    @include hoverUnderline(-1px);
  }
}
