.nav-menu {
  &__list {
    @include pageGrid();
    row-gap: 20px;

    margin-top: 40px;

    @include onTable() {
      row-gap: 30px;
      margin-top: 50px;
    }

    @include onDesktop() {
      row-gap: 60px;
      margin-top: 70px;
    }
  }

  &__item {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;

    grid-column: 1 / -1;

    @include onTable() {
      font-size: 48px;
      line-height: 120%;
    }
  }
}
