.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 20px;

    @include on-tablet {
      gap: 30px;
    }

    @include on-desktop {
      gap: 60px;
    }
  }

  &__item__title {
    @include on-tablet {
      font-size: 48px;
      font-weight: 700;
      line-height: 57.6px;
    }

    @include on-desktop {
      font-size: 48px;
      font-weight: 700;
      line-height: 57.6px;
    }
  }

  &__link {
    color: $white-color;
    text-decoration: none;

    &--line {
      display: block;
      margin: 0;
      padding-bottom: 40px;
      border-bottom: 1px solid $white-color;

      @include on-tablet {
        padding-bottom: 50px;
      }

      @include on-desktop {
        padding-bottom: 60px;
      }
    }
  }
}
