.navigation {
  color: $c-white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;

    @include onTablette {
      gap: 40px;
    }
  }

  &__lang {
    font-family: "Raleway", sans-serif;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    background-color: $c-green;
    color: $c-white;

    @include onTablette {
      order: 2;
    }
  }
}
