.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  z-index: 1;

  padding: 20px;

  @include tablet {
    padding: 20px 60px;
  }

  @include desktop {
    padding: 20px 0;
  }
}
