.nav {
  padding: 20px 0;

  background-color: $greengrayColor;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    transition: transform $animation-duration ease-in-out;

    &:hover {
      transform: scale(1.02);
    }
  }
}
