.nearest-events {
  box-sizing: border-box;

  &--margins {
    margin: 120px 0 100px;

    @include onTablet {
      margin: 164px 0 100px;
    }

    @include onSmallDesktop {
      margin: 200px 0 110px;
    }
  }

  &__container {
    @extend %container;
    @extend %paddings;
  }

  &__top {
    @extend %for-infotop;

    &--margin-bottom {
      margin-bottom: 60px;

      @include onTablet {
        margin-bottom: 76px;
      }

      @include onSmallDesktop {
        margin-bottom: 70px;
      }
    }
  }

  &__primary-subtitle {
    @extend %for-subtitle;
  }

  &__img {
    width: 100%;

    &--margin-bottom-1 {
      margin-bottom: 20px;

      @include onTablet {
        margin-bottom: 70px;
      }

      @include onSmallDesktop {
        margin-bottom: 60px;
      }
    }

    &--margin-bottom-2 {
      margin-bottom: 0;
    }
  }

  &__date {
    @extend %events-date;
  }

  &__subtitle {
    @extend %events-subtitle;

    &--margins {
      @extend %event-subtitle-margins;
    }
  }

  &__description {
    @extend %events-description;

    &--margin-bottom {
      @extend %events-description-margin-bottom;
    }
  }
}
