.nearest {
  padding: 120px 0 90px;

  @include onTablet {
    padding: 160px 0 100px;
  }

  @include onDesktop {
    padding: 200px 0 110px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 70px;
    }
  }

  &__title {
    color: $c-black;
    text-align: center;

    @include onTablet {
      text-align: left;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 30px;

    @include onTablet {
      gap: 70px;
      margin-bottom: 0;
    }

    @include onDesktop {
      margin: 0 auto;
    }
  }

  &__button {
    display: none;

    @include onTablet {
      display: block;
      padding-left: 37px;
      background-position-x: 165px;
      background-position-y: 19px;
    }

    @include onDesktop {
      padding-left: 63px;
      background-position-x: 193px;
    }

    &--mobile {
      display: block;
      padding-left: 63px;
      background-position-x: 193px;
      background-position-y: 19px;

      @include onTablet {
        display: none;
      }
    }
  }
}
