.nets {
  display: flex;
  gap: 25px;
  align-items: center;

  &__link {
    text-decoration: none;
  }

  &__messenger {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;

    &:hover {
      transform: scale(110%);
    }
  }
}

.subtitle {
  transition: color 0.3s;

  &:hover {
    color: $colorMain;
  }
}

.link {
  color: $colorTextWhite;
}
