.new {
  transition-duration: $efferctDuration;

  &__img {
    width: 100%;
    padding-bottom: 20px;

    @include on-tablet {
      padding-bottom: 30px;
    }

    @include on-desktop {
      padding-bottom: 20px;
      mask-image: url(../images/news/news-second-big.png);
      max-height: 370px;
    }
  }

  &:hover .new__img {
    @include hover(transform, scale(1.05));
  }

  &__date {
    padding: 0;
  }

  &__about {
    padding-top: 20px;

    @include on-tablet {
      padding-top: 18px;
    }
  }
}
