.news {
  padding: 0 20px 72px;

  @include onTablet {
    display: flex;
    padding: 0 50px 72px;
  }

  &__second {
    display: none;

    @include onTablet {
      display: block;
    }
  }

  &__third {
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &__photo {
    display: flex;
  }

  &__image {
    margin: auto;
    max-width: 280px;
    max-height: 280px;

    @include onDesktop {
      max-width: 370px;
      max-height: 370px;
    }
  }

  &__time {
    margin: 20px 0 0;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    color: #1c1b29;
  }

  &__name {
    margin: 0 0 10px;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    display: flex;
    align-items: center;
    color: #1c1b29;
  }

  &__about {
    margin: 0 0 20px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #504f5e;
  }
}
