.news {
  &__main-content {
    display: flex;
    flex-direction: column;
    gap: 60px;

    padding-top: 50px;
    padding-bottom: 30px;

    @include on-tablet {
      @include page-grid;

      grid-column: 1/7;
      order: 2;
      padding-top: 70px;
      padding-bottom: 0;
    }

    @include on-desktop {
      grid-column: 1/13;
      padding-top: 53px;
    }
  }

  @include on-tablet {
    @include page-grid;
  }
}
