.news-card {

  &__image-container {
    height: 280px;
    width: 280px;
    margin-bottom: 20px;
  }

  &__image {
    height: 100%;
    width: 100%;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    color: $color-black;
  }

  &__title {
    margin-bottom: 10px;

    font-size: 18px;
    line-height: 22.5px;
    font-weight: bold;
    color: $color-black;
  }

  // &__description {
  // }
}
