.news {

  &--margins {
    margin: 90px 0 120px;

    @include onTablet {
      margin: 120px 0 160px;
    }

    @include onSmallDesktop {
      margin: 110px 0 200px;
    }
  }

  &__container {
    @extend %container;
    @extend %paddings;
  }

  &__top {
    @extend %for-infotop;
  }

  &__primary-subtitle {
    @extend %for-subtitle;

    &--margin-bottom {
      margin-bottom: 60px;

      @include onTablet {
        margin-bottom: 75px;
      }

      @include onSmallDesktop {
        margin-bottom: 55px;
      }
    }
  }

  &__img {
    width: 100%;
    height: 281px;
    object-fit: cover;

    @include onTablet {
      height: 330px;
    }

    @include onSmallDesktop {
      height: 370px;
    }
  }

  &__date {
    margin: 0;
    @extend %raleway;
    @include text-decoration ($fz-5xs, $fw-xs, $lh-3, $color-5);

    &--margin-top {
      margin-top: 20px;

      @include onTablet {
        margin-top: 30px;
      }

      @include onSmallDesktop {
        margin-top: 20px;
      }
    }
  }

  &__subtitle {
    margin: 0;
    @extend %events-subtitle;

    &--margin-bottom {
      margin-bottom: 20px;

      @include onTablet {
        margin-bottom: 18px;
      }
    }
  }

  &__description {
    margin: 0;
    @extend %events-description;

    &--margin-bottom {
      margin-bottom: 50px;

      @include onTablet {
        margin-bottom: 0;
      }
    }
  }
}
