.next-events {
  
  &__event {
    margin: 0 0 60px;
  }

  &__subtitle {
    @extend %subtitle;
    margin: 0 0 20px;
  }

  &__date {
    @extend %date;
    margin: 0 0 10px;
  }

  &__description {
    @extend %description;
    margin: 0 0 30px;

    @include onTablet {
      margin: 0 0 50px;
    }
  }

  &__button-wrapper {

    @include onDesktop {
      width: 50%;
    }
  }

  &__image {
    width: 100%;
    margin: 0 0 20px;

    @include onTablet {
      margin: 0;
    }
  }
}
