* {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
article,
aside,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;

  vertical-align: baseline;
  user-select: none;
}

img {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}
