*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.page {
  &__body {
    margin: 0;
    font-family: $primary-font;
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  color: $light;
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-family: $primary-font;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
