a {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  margin: 0;
  padding: 0;
  border: 0 solid;
  outline: none;
}

input {
  border: none;
  margin: 0;
  padding: 0;
}
