/* #region page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.page {
  width: 100%;
  font-style: normal;
  color: $gray;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  background-color: $white;
  scroll-behavior: smooth;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__body {
    font-family: 'Days One', sans-serif;
    margin: 0;
    padding: 0;
    min-width: 380px;
    text-decoration: none;
    list-style: none;
  }

  &__menu {
    font-family: 'Days One', sans-serif;
    position: fixed;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
    transition: all $effect-duration;

    &:target {
      opacity: 1;
      z-index: 1;
      transform: translateY(0);
      pointer-events: all;
    }
  }
}

.container {
  @include content-padding-inline;
}

.main {
  width: 100%;
  
  &__content {
    padding-block: 40px;

    @include on-tablet {
      padding-block: 60px;
    }

    @include on-desktop {
      padding-block: 80px;
    }
  }
}

.hint {
  width: content;
  transition: $effect-duration ease-in-out;

  &__phone,
  &__card,
  &__text {
    margin: 0;
    font-weight: bolder;
    color: $light-steel;
    align-items: center;
    text-decoration: none;
    padding-top: 5px;
    transition: $effect-duration ease-in-out;

    @include hover(font-weight, bolder);
    @include hover(color, $disabled);
  }
}

.section__title {
  width: 100%;
  color: $black;
  font-family: 'Days One', sans-serif;
  font-size: 28px;
  font-weight: 900;
  line-height: 120%;
  margin: 0 0 20px;
  justify-content: left;

  @include on-tablet {
    width: 380px;
    font-size: 40px;
    grid-column: 1 / 5;
    margin-bottom: 20px;
  }

  @include on-desktop {
    width: 585px;
    font-size: 48px;
    line-height: 120%;
    grid-column: 1 / 7;
  }

  @include on-design {
    width: 615px;
    font-size: 48px;
    line-height: 120%;
    grid-column: 1 / 7;
  }
}

/* #endregion */
