.page__body--with-menu {
  overflow: hidden;

  .header__image {
    display: none;
  }
}

.page {
  &__main {
    max-width: 2000px;
    margin: auto;
  }

  &__events {
    @include paddings;
  }

  &__footer {
    max-width: 2000px;
  }
}
