.main {

  margin: 0 auto;

  max-width: 320px;

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1280px;
  }

  &-title {
    margin: 0 0 60px;

    font-family: "Playfair Display", sans-serif;

    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: rgba(28, 27, 41, 1);

    height: 50px;

    @include tablet {
      margin: 0 0 75px;
      font-size: 40px;
    }
  }

  &-img-container {
    display: flex;
    justify-content: center;
  }

  &-img {
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 30px;
    }
  }

  &-date {
    margin: 0 0 10px;

    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(205, 77, 49, 1);

    height: 24px;
  }
  &-subtitle {
    margin: 0 0 20px;

    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #1c1b29;

    @include tablet {
      font-size: 24px;
      height: 60px;
    }
  }

  &-description {
    margin: 0 0 30px;

    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(80, 79, 94, 1);

    @include tablet {
      margin: 0 0 40px;
    }
  }

  &-button {
    margin-bottom: 60px;
    width: 280px;

    @include tablet {
      width: 330px;
    }

    &_last {
      margin-bottom: 30px;
    }
  }

  &-container-link {
    display: flex;
    justify-content: center;
    height: 60px;
  }

  &-container-exhibition {
    grid-row: 1 / 2;
    height: 60px;
  }

  &-container-travel-to-australia {
    grid-row: 1 / 2;
    height: 60px;
  }

  &-link {
    box-sizing: border-box;

    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: rgba(205, 77, 49, 1);
    text-decoration: none;

    text-align: center;

    padding: 21px 0;
    border: 1px solid rgba(205, 77, 49, 1);
    background-color: transparent;
    width: 280px;

    height: 60px;
  }

  &-plain {
    box-sizing: border-box;

    background-color: rgba(63, 82, 82, 1);
    height: 416px;

    padding: 50px 0;

    margin-bottom: 90px;

    &__title {
      font-weight: 700;
      font-size: 38px;
      line-height: 100%;
      color: rgba(241, 245, 244, 1);

      margin: 0 0 20px;

      @include tablet {
        font-size: 62px;
      }
    }

    &__description {
      color: rgba(241, 245, 244, 1);

      margin-bottom: 40px;

      @include tablet {
        margin-bottom: 60px;
      }
    }
  }

  &__news--winners {
    margin-bottom: 50px;
  }

  &__subscribe {
    &-description {
      margin-bottom: 50px;
    }

    &-title {
      margin-bottom: 20px;
    }
  }

  &__input {
    width: 280px;

    @include tablet {
      width: 450px;
    }

    margin-bottom: 30px;

    background-color: transparent;

    border: none;
    border-bottom: 1px solid rgba(28, 27, 41, 1);

    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(28, 27, 41, 1);
  }

}
