.main {

  &-title {
    margin: 0 0 60px;

    font-family: "Playfair Display", sans-serif;

    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: rgba(28, 27, 41, 1);

    height: 50px;

    @include tablet {
      margin: 0 0 75px;
      font-size: 40px;
    }

    @include desktop {
      font-size: 48px;
    }
  }

  &-img-container {
    display: flex;
    justify-content: center;

    position: relative;

    width: 280px;
    height: 356px;
    overflow: hidden;

    @include tablet {
      width: 330px;
      height: 420px;
    }

    @include desktop {
      width: 370px;
      height: 484px;
      justify-content: left;
    }

    &__angel {
      @include desktop {
        width: 458px;
        height: 420px;
      }

      @include large {
        width: 570px;
        height: 484px;
      }
    }

    &__art {
      @include desktop {
        width: 458px;
        height: 420px;
      }

      @include large {
        width: 570px;
        height: 484px;
      }
    }

    &__person {
      margin-bottom: 70px;
    }

    &__pictueres,
    &__cat {
      width: 280px;
      height: 280px;

      @include tablet {
        width: 330px;
        height: 330px;
      }

      @include desktop {
        width: 457px;
        height: 370px;
      }

      @include large {
        width: 570px;
        height: 370px;
      }
    }
  }

  &-img {
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 30px;
    }

    &__angel {
      transform: translateX(10%);

      @include desktop {
        transform: translateX(0);
      }
    }

    &__person,
    &__woman {

      @include tablet {
        width: 330px;
        height: 420px;
      }

      @include desktop {
        width: 370px;
        height: 475px;
      }
    }

    &__cat {
      object-position: center;
      object-fit: cover;

      @include desktop {
        transform: translateX(-5%);
      }

      @include large {
        transform: none;
      }
    }

  }

  &-date {
    margin: 0 0 10px;

    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(205, 77, 49, 1);

    height: 24px;
  }
  &-subtitle {
    margin: 0 0 20px;

    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #1c1b29;

    @include tablet {
      font-size: 24px;
      height: 60px;
    }
  }

  &-description {
    margin: 0 0 30px;

    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(80, 79, 94, 1);

    @include tablet {
      margin: 0 0 40px;
    }
  }

  &-button {
    margin-bottom: 60px;
    width: 280px;

    @include tablet {
      width: 330px;
    }

    &_last {
      margin-bottom: 30px;
    }
  }

  &-container-link {
    display: flex;
    justify-content: center;
    height: 60px;
  }

  &-container-exhibition {
    grid-row: 1 / 2;
    height: 60px;
  }

  &-container-travel-to-australia {
    grid-row: 1 / 2;
    height: 60px;
  }

  &-link {
    box-sizing: border-box;

    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: rgba(205, 77, 49, 1);
    text-decoration: none;

    text-align: center;

    padding: 21px 0;
    border: 1px solid rgba(205, 77, 49, 1);
    background-color: transparent;
    width: 280px;

    height: 60px;

    transition: transform 0.3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      color: rgba(175, 52, 25, 1);
      border-color: rgba(175, 52, 25, 1);
    }

    &:active {
      color: rgba(234, 52, 13, 1);
      border-color: rgba(234, 52, 13, 1);
    }

    &:disabled {
      color: rgba(221, 131, 111, 1);
      border-color: rgba(221, 131, 111, 1);
    }
  }

  &-plain {
    box-sizing: border-box;

    margin: 0;
    width: 100%;

    background-color: rgba(63, 82, 82, 1);
    height: 416px;

    padding: 50px 0;

    margin-bottom: 90px;

    @include desktop {
      height: 800px;

      background-image: url(../images/plain_1280.svg);
      background-repeat: no-repeat;
      background-size: 573px;
      background-position: left bottom 0;
    }

    &__title {
      font-weight: 700;
      font-size: 38px;
      line-height: 100%;
      color: rgba(241, 245, 244, 1);

      margin: 0 0 20px;

      @include tablet {
        font-size: 62px;
      }
    }

    &__description {
      color: rgba(241, 245, 244, 1);

      margin-bottom: 40px;

      @include tablet {
        margin-bottom: 60px;
      }
    }
  }

  &__news--winners {
    margin-bottom: 50px;
  }

  &__input {
    width: 280px;

    @include tablet {
      width: 450px;
    }

    outline: none;

    margin-bottom: 30px;

    background-color: transparent;

    border: none;
    border-bottom: 1px solid rgba(28, 27, 41, 1);

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: rgba(28, 27, 41, 1);

    &:hover {
      color: rgba(205, 77, 49, 1);
      border-bottom: 1px solid rgba(205, 77, 49, 1);
    }

    &:focus {
      font-weight: 600;
      color: rgba(205, 77, 49, 1);
      border-bottom: 1px solid rgba(205, 77, 49, 1);
    }

    &-title {
      margin-bottom: 77px;

      @include desktop {
        height: 116px;
      }
    }
  }

  &__subscribe {
    &-description {
      margin-bottom: 50px;
    }

    &-title {
      margin-bottom: 20px;
    }
  }

}
