.page-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  color: $black-color;

  @media (min-width: $tablet-min-width) {
    font-size: 40px;
    line-height: 50px;
  }

  @media (min-width: $desktop-min-width) {
    font-size: 48px;
    line-height: 58px;
  }
}
