.painting {
  position: absolute;
  right: -55px;
  bottom: 0;

  &--img {
    width: 583px;
    height: 653px;
    position: relative;
  }

  &--title {
    position: absolute;
    width: max-content;
    right: 34px;
    top: 50%;
  }
}
