.painting {
  position: absolute;
  bottom: 0;

  @include onScreen769 {
    width: 399px;
    height: 445px;
  }

  @include onScreen1025 {
    width: 495px;
    height: 553px;
  }

  &--img {
    position: relative;
  }

  &--title {
    position: absolute;
    width: max-content;
    font-size: 14px;
    right: 34px;
    top: 50%;

    @include onScreen769 {
      display: none;
    }

    @include onScreen1025 {
      display: block;
    }
  }
}
