.paragraph {
  font-family: $paragraph-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  &--dates {
    color: $main-red-color;
    padding-bottom: 10px;
  }

  &--description {
    color: $text-color-gray;
    padding-bottom: 30px;

    @include onTablet {
      padding-bottom: 40px;
    }
  }
}
