.pay {
  background-color: $header-background-color;
  margin-top: 90px;

  @include onTablet {
    margin-top: 100px;
  }

  @include onDesktop {
    margin-top: 110px;
  }

  &__title {
    @include fontPlayFairDisplay;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    color: $main-text-color;
    margin-top: 50px;
    grid-column: 1 / -1;

    @include onTablet {
      font-size: 62px;
      line-height: 62px;
      margin-top: 80px;
      grid-column: 1 / 6;
    }

    @include onDesktop {
      margin-top: 205px;
      font-size: 80px;
      line-height: 80px;
      grid-column: 6 / -1;
    }
  }

  &__text {
    @include fontRaleway;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $main-text-color;
    grid-column: 1 / -1;
    margin-top: 20px;

    @include onTablet {
      grid-column: 1 / 5;
    }

    @include onDesktop {
      grid-column: 6 / 11;
      margin-top: 10px;
    }
  }

  &__background-image {
    background-image: url(../images/pay-background-image.svg);
    display: none;

    @include onDesktop {
      background-image: url(../images/pay-background-image.svg);
      display: block;
      height: 800px;
      width: 578px;
      margin-top: -750px;
    }
  }
}
