.perfomens {
  position: relative;
  margin-bottom: 120px;

  @include on-tablet {
    margin-bottom: 160px;
  }

  &__carts {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 30px;

    @include on-tablet {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__cart {
    width: 100%;
  }
}
