.picture-background {
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 1;

  @include onDesktop {
    background-position: right bottom;
    position: absolute;
    height: calc(100vh - 137px);
    width: 60%;
    right: 0;
    bottom: 0;
  }

  &--header {
    background-image: url(../images/header-img.png);
  }

  &--menu {
    visibility: hidden;
    background-image: url(../images/menu-img.png);

    @include onTablet {
      visibility: visible;
    }
  }
}
