.picture {
  &__cross {
    display: block;
    margin: 0 auto;
    bottom: 0;
    width: 245px;
    height: 273px;
    opacity: 0;

    @include onDeskTop {
      width: 624px;
      height: 697px;

      position: absolute;
      right: 0;
      top: 70px;
      opacity: 1;
    }
  }
}
