.place {
  &__button--tablet {
    
    @include onTablet {
      width: 50%;
    }

    @include onDesktop {
      width: 100%;
    }
  }

  @include onTablet {
    &__title {
      grid-column: 1 / 5;
      grid-row: 1 / 2;
    }

    &__button {
      grid-column: 5 / -1;
      grid-row: 1 / 2;
    }

    &__block--left {
      grid-column: 1 / 4;
      grid-row: 2 / -1;
    }

    &__block--right {
      grid-column: 4 / -1;
      grid-row: 2 / -1;
    }
  }

  @include onDesktop {
    &__title {
      grid-column: 1 / 8;
      grid-row: 1 / 2;
    }

    &__button {
      grid-column: 10 / -1;
      grid-row: 1 / 2;
    }

    &__block--left {
      grid-column: 1 / 7;
      grid-row: 2 / -1;
    }

    &__block--right {
      grid-column: 7 / -1;
      grid-row: 2 / -1;
    }
  }
}
