.place {
  &__photo-container {
    width: 100%;
    max-height: 484px;
    transition: transform 0.3s;
    margin-bottom: 10px;

    @include onTablet {
      height: 420px;
    }

    @include onDeskTop {
      height: 484px;
    }
  }

  &__photo {
    height: 356px;
    width: 100%;

    object-fit: cover;
    object-position: center;
    transition: transform 0.3s;

    &:hover {
      transform: scale(105%);
    }

    @include onTablet {
      height: 420px;
    }

    @include onDeskTop {
      height: 484px;
    }
  }

  &__date {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: $colorMain;
    padding-bottom: 10px;
  }

  &__title {
    height: 60px;
    font-weight: bold;
    font-size: 20px;
    line-height: 125%;
    padding-bottom: 20px;

    @include onTablet {
      font-size: 24px;
      padding-bottom: 40px;
    }

    @include onDeskTop {
      font-size: 24px;
      padding-bottom: 40px;
    }
  }

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
  }

  &__block {
    margin-bottom: 70px;

    @include onTablet {
      margin-bottom: 0;
    }

    @include onDeskTop {
      margin-bottom: 0;
    }
  }

  &__block-first {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 0;
    }

    @include onDeskTop {
      margin-bottom: 0;
    }
  }
}
