.planning {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $background-color;

  &__wrapper {
    @include page-grid;
  }

  &__img {
    display: none;

    @include on-tablet {
      display: block;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    color: $second-text-color;
  }

  &__text {
    color: $second-text-color;
    font-family: Raleway;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }
}
