.plan-your-visit {
  position: relative;
  background-color: $c-gray-green;

  &__container {
    display: flex;
    justify-content: center;

    @include On768 {
      justify-content: start;
    }

    @include On1280 {
      justify-content: end;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    max-width: 280px;

    // margin: 0 auto;

    @include On768 {
      padding: 85px 0;
      max-width: 460px;
      margin: 0;
    }

    @include On1280 {
      padding: 205px 0;
      max-width: 670px;
    }
  }

  &__header {
    margin-bottom: 20px;
  }

  &__title {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    color: $c-white;

    @include On768 {
      font-size: 62px;
    }

    @include On1280 {
      font-size: 80px;
    }
  }

  &__info {
    margin-bottom: 40px;

    @include On768 {
      max-width: 470px;
      margin-bottom: 60px;
    }

    @include On1280 {
      margin-bottom: 50px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $c-white;
  }

  &__image {
    display: none;

    @include On1280 {
      display: block;
    }
  }

  &__photo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
