.plan-a-visit {
  @include page-grid;

  align-items: start;

  &__content {
    padding-block: 50px;

    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: subgrid;
    align-items: start;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      grid-column: 6 / -1;
      grid-row: 2 / 3;
    }
  }

  &__title {
    color: $color-white;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 6;
    }

    @include on-tablet {
      grid-column: 1 / -1;
    }
  }

  &__description {
    margin-top: 20px;
    margin-bottom: 40px;
    color: $color-white;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 5;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__start {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }
  }

  &__image {
    @include on-desktop {
      margin-left: -56px;

      grid-column: 1 / 5;
      grid-row: 1 / 4;
    }
  }
}
