.plan-visit {
  background-color: $bgcolor;

  &__content {
    @include page-grid;
  }

  &__img {
    display: none;

    @include on-desktop {
      display: block;
      grid-column: span 5;
    }
  }

  &__info {
    grid-column: 1/-1;

    margin: 50px 0;
    color: $main-white-color;

    @include on-tablet {
      margin-top: 80px;
    }

    @include on-desktop {
      grid-column: span 7;

      margin-top: 205px;
    }
  }

  &__title {
    font-size: 38px;
    line-height: 100%;
  }

  &__description {
    margin-bottom: 40px;
  }
}
