.plan-visit {
  margin-bottom: 90px;
  padding: 50px 20px;
  background-color: $background;

  &__title {
    margin-bottom: 20px;
    color: $white;
  }

  &__description {
    margin-bottom: 40px;
    color: $white;
  }
}
