.plan-vizit {
  background-color: $c-background-grey;
  color: $c-light-grey;

  &__background-img {
    @include onTablet {
      background: url("../images/к.png") no-repeat left bottom;
      background-size: 40%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding: 80px 0;

    @include onTablet {
      padding: 120px 0 170px;
    }

    @include onDesktop {
      padding: 190px 0 160px;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 40px;

    font-family: $second-font;
    font-weight: bold;
    font-size: 48px;
    line-height: 100%;

    @include onTablet {
      max-width: 550px;
      margin-bottom: 80px;
      font-size: 72px;
    }

    @include onDesktop {
      max-width: 700px;
      margin-bottom: 60px;
      font-size: 96px;
    }
  }

  &__article {
    @include onTablet {
      margin-left: 205px;
    }

    @include onDesktop {
      margin: 0;
    }
  }

  &__text {
    max-width: 470px;
    margin-bottom: 60px;
  }
}
