.planning-visit {
  height: 100vh;
  background-color: $background;
  background-image: none;

  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;

  @include onDesktop {
    background-image: url(../images/5.png);
  }

  &__content {
    height: 100vh;
    align-content: center;
    padding: 50px 20px;
  }

  &__title {
    color: $white-color;
    font-size: 38px;
    line-height: 100%;
    margin-bottom: 20px;

    @include onTablet {
      font-size: 62px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }

  &__description {
    color: $white-color;
    line-height: 1.5;

    @include margin-bottom(40, 60, 50)
  }

  &__button {
    width: 100%;
  }
}
