.plan {
  padding: 50px 20px;
  background-color: $background-c;

  @include onDesktop {
    padding: 0;
  }

  @include onTablet {
    padding: 50px 40px;
  }

  @include onDesktop {
    padding: 50px 55px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    display: block;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: 38px;
    line-height: 100%;
    color: $main-text-c;

    @include onTablet {
      font-size: 62px;
    }

    @include onDesktop {
      font-size: 80px;
      margin-top: 40%;
    }
  }

  &__paragraph {
    margin-top: 20px;
    font-family: $main-font;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: $main-text-c;
  }

  &__button {
    margin-top: 30px;
  }

  &__photo {
    display: none;
    padding-bottom: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/8.png);

    @include onDesktop {
      display: block;
    }
  }
}
