.plan-to-visit {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  background-color: $background-color;
  color: $white;
  
  &__cover {
    max-width: 450px;
    width: 100%;
    display: flex;
    text-align: left;
    flex-direction: column;
  }

  &__title {
    max-width: 300px;
  }

  &__info {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  &__button {
    display: flex;
    justify-content: center;
  }

  @include onTablet {
    padding: 80px 40px;

    &__cover {
      max-width: 550px;
    }

    &__title {
      max-width: 450px;
    }
    
    &__info {
      padding-bottom: 60px;
    }

    &__button {
      justify-content: left;
    }
  }

  @include onDesktop {
    padding: 0;
    justify-content: space-between;

    &__image {
      background-image: url(../images/menu/img_07.png);
      width: 578px;
      height: 800px
    }

    &__cover {
      padding: 205px 55px 205px 0;
      max-width: 670px;
    }

    &__title {
      max-width: 650px;
    }
    
    &__info {
      max-width: 470px;
      padding-top: 10px;
      padding-bottom: 50px;
    }

    &__button {
      justify-content: left;
    }
  }
}
