.plan-visit {
  margin-bottom: 90px;
  padding: 50px 20px;
  background-color: $background;

  @include onTablet {
    padding: 80px 40px;
  }

  @include onDesktop {
    margin-bottom: 110px;
    padding: 205px 55px;
    background-image: url("../images/sections/plan_visit/image_9-wide.png");
    background-position-x: -22%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__title {
    margin-bottom: 20px;
    color: $white;

    @include onTablet {
      font-size: 62px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }

  &__description {
    margin-bottom: 40px;
    color: $white;

    @include onTablet {
      margin-bottom: 60px;
    }
  }

  &__poster-onDesktop--visible {

    @include onDesktop {
      display: block;
    }
  }
}
