.plan-a-visit {
  height: 420px;
  background-color: $c-background;
  color: $c-white;
  display: flex;
  justify-content: center;
  align-items: center;

  @include onTablet {
    height: 516px;
  }

  @include onDesktop {
    height: 800px;
    background-image: url(../images/backgrounds/plan-a-visit.png);
    background-position: calc(50% - 425px) bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__title {
    @extend %h2;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 60px;
    }

    @include onDesktop {
      margin-bottom: 52px;
    }
  }
}
