.plan-visit {
  padding: 50px 0;
  background-color: $c-background;

  @include onTablet {
    padding: 80px 0;
  }

  @include onDesktop {
    padding: 205px 0;

    background-image: url(../images/plan-visit-1.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__content {
    max-width: 420px;
    margin: 0 auto;

    @include onTablet {
      width: 450px;
      margin: 0;
    }

    @include onDesktop {
      width: 650px;
      margin-left: 500px;
    }
  }

  &__title {
    color: $c-white;
    margin-bottom: 20px;
  }

  &__description {
    margin-bottom: 40px;
    @include main-text;
    color: $c-white;

    @include onTablet {
      margin-bottom: 60px;
    }

    @include onDesktop {
      width: 470px;
      margin-bottom: 50px;
    }
  }
}
