.planning {
  padding-left: 20px;
  padding-right: 20px;

  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $background-color;
  @include on-tablet {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 39px;
    padding-right: 39px;
  }
  @include on-desktop {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  &__wrapper {
    @include page-grid;
  }

  &__img {
    display: none;

    @include on-desktop {
      display: block;
      max-height: 750px;
      max-width: 700px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    color: $second-text-color;
  }

  &__text {
    color: $second-text-color;
    font-family: Raleway, serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }
}
