.plan-a-visit {
  background-color: $c-background;
  position: relative;

  &__wrapper {
    @include pageGrid;

    &--title {
      grid-column: 1 / -1;

      @include onTablet {
        grid-column: 1 / 5;
      }

      @include onDesktop {
        grid-column: 6 / 12;
      }
    }

    &--description {
      grid-column: 1 / -1;

      @include onTablet {
        grid-column: 1 / 5;
      }

      @include onDesktop {
        grid-column: 6 / 11;
      }
    }

    &--button {
      grid-column: 1 / -1;

      @include onTablet {
        grid-column: 1 / 4;
      }

      @include onDesktop {
        grid-column: 6 / 9;
      }
    }

    &--img {
      @include onDesktop {
        grid-column: 1 / 6;
        grid-row: 1 / 4;
      }
    }
  }

  &__title {
    color: $c-white;
    padding-top: 50px;
    margin-bottom: 20px;

    @include onDesktop {
      padding-top: 80px;
    }

    @include onDesktop {
      padding-top: 205px;
      margin-bottom: 10px;
    }
  }

  &__description {
    color: $c-white;
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 60px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }
  }

  &__button {
    margin-bottom: 50px;

    @include onTablet {
      margin-bottom: 80px;
    }

    @include onDesktop {
      margin-bottom: 205px;
    }
  }

  &__img {
    width: 578px;
    height: 762px;
    display: none;
    background-image: url(/images/plan-a-visit/img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;

    
    @include onDesktop {
      display: block;
      margin-left: -55px;
    }
  }
}
