.plan {

  &--parameters {
    margin-top: 184px;
    background-color: $main-color;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }

  &__img {
    width: 40vw;
    position: absolute;
    left: 0;
    bottom: 0;

    @media (min-width: 1300px) {
      width: 520px;
    }
  }

  &__title {
    font-size: 96px;
    line-height: 100%;
    color: $text-color;
    margin-left: -10%;
    margin-top: 120px;

    @media (max-width: 1030px) {
      font-size: 72px;
    }
  }

  &__text {
    color: $text-color;
    margin: 60px 0;
    max-width: 470px;
  }

  &__wrapper {
    padding-bottom: 170px;
  }
}

@media (max-width: 820px) {
  .plan {

    &--parameters {
      margin-top: 120px;
    }

    &__container {
      justify-content: center;
    }

    &__title {
      margin-left: 0%;
    }

    &__wrapper {
      margin-left: 35%;
    }
  }
}

@media (max-width: 660px) {
  .plan {

    &--parameters {
      margin-top: 80px;
    }

    &__content {
      padding: 0 20px;
    }

    &__img {
      display: none;
    }

    &__title {
      font-size: 48px;
      margin-top: 80px;
    }

    &__wrapper {
      margin-left: 0%;
      padding-bottom: 80px;
    }

    &__text {
      margin: 40px 0 60px;
    }
  }
}
