.plan {
  background-color: $main-color;

  &__wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    background-color: $main-color;
    color: #fff;
  }

  &__img {
    align-self: flex-end;

    @include for-small-desktops {
      height: 462px;
    }

    @include for-tablet {
      height: 362px;
    }

    @include for-phone {
      display: none;
    }

    @include for-notebook {
      height: 500px;
    }
  }

  &__text {
    padding-left: 70px;
    padding-right: 10px;

    @include for-small-desktops {
      padding-right: 20px;
      padding-left: 0;
    }

    @include for-tablet {
      padding-left: 0;
    }

    @include for-phone {
      padding-left: 20px;
    }
  }

  &__header {
    padding-top: 190px;
    padding-bottom: 60px;
    font-size: 96px;
    line-height: 96px;

    @include for-small-desktops {
      font-size: 72px;
      line-height: 72px;
      margin-left: -200px;
      padding-top: 170px;
    }

    @include for-tablet {
      font-size: 72px;
      line-height: 72px;
      margin-left: -200px;
      padding-bottom: 70px;
      padding-top: 100px;
    }

    @include for-phone {
      padding-top: 80px;
      padding-bottom: 40px;
      margin: 0;
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__info {
    padding-right: 250px;
    padding-bottom: 60px;
    @include second-font-small;

    @include for-small-desktops {
      padding-right: 100px;
    }

    @include for-tablet {
      padding-right: 50px;
    }

    @include for-phone {
      padding-right: 0;
    }
  }

  &__btn {
    display: inline-block;
    width: 258px;
    background-color: $step-color;
    @include second-font-small;
    line-height: 60px;
    text-align: center;
    transition: 0.3s;

    @include for-small-desktops {
      margin-bottom: 170px;
    }

    @include for-tablet {
      margin-bottom: 100px;
    }

    @include for-notebook {
      margin-bottom: 50px;
    }

    @include for-phone {
      margin-bottom: 80px;
      margin-left: 0;
      width: 280;
    }

    &:hover {
      border: 2px solid rgb(255, 255, 255);
      background-color: rgb(223, 121, 74);
    }
  }
}
