.plane {
  background-color: $bg-color;
  color: $white-color;

  @include on-desktop {
    height: 800px;
    margin-bottom: 110px;
    background-image: url(../images/visit.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__wrapper {
    padding-block: 50px;

    @include on-tablet {
      @include page-grid;

      padding-block: 80px;
    }

    @include on-desktop {
      padding-block: 205px;
      row-gap: 30px;
    }
  }

  &__title {
    margin-bottom: 20px;

    @include on-tablet {
      grid-column: 1 / 5;
      margin-bottom: 10px;
    }

    @include on-desktop {
      grid-column: 6 / -1;
      margin-bottom: 0;
    }
  }

  &__descr {
    margin-bottom: 40px;

    @include on-tablet {
      margin-bottom: 50px;
      grid-column: 1 / 5;
    }

    @include on-desktop {
      margin-bottom: 40px;
      grid-column: 6 / 11;
    }
  }

  &__btn {
    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 6 / 9;
    }
  }
}
