.planning {
  background-color: $background-color;

  @include page-grid;

  &__wrapper {
    @include page-grid;
  }

  &__img {
    display: none;

    @include on-tablet {
      display: block;
    }
  }

  &__title {
    font-family: 'Playfair Display', serif;
    font-size: 62px;
    font-weight: 700;
    line-height: 1;
    color: $second-text-color;
  }
}
