.plan-visit {
  margin-bottom: 90px;
  padding: 50px 20px;
  background-color: $background;

  @include onTablet {
    padding: 80px 40px;
  }

  &__title {
    margin-bottom: 20px;
    color: $white;

    @include onTablet {
      font-size: 62px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }

  &__description {
    margin-bottom: 40px;
    color: $white;

    @include onTablet {
      margin-bottom: 60px;
    }
  }

  &__poster-onDesktop--visible {
    display: none;

    @include onDesktop {
      display: block;
    }
  }
}
