.podii {

  &__photo-container {

    margin-bottom: 20px;
    transition: transform 0.3s;
    @include tablet {
      margin-bottom: 70px;
    }

    @include onDesktop {
      margin-bottom: 60px;
    }
    &:hover {
      transform: scale(110%);
      z-index: 1;
    }
  }

  &__photo {

    width: 100%;

  }
  &__date {
    @extend %date;
  }

  &__subtitle {
    @extend %subtitle;


  }

  &__text {
    @extend %text;
    margin-bottom: 30px;
    @include tablet {
      margin-bottom: 50px;
    }
    @include onDesktop {
      margin-bottom: 50px;
    }
  }
}
