.podii {

  padding-bottom: 90px;

  @include onTablet {
    padding-bottom: 0;
  }

  &__title {
    color: $black;
    margin-bottom: 60px;
    width: 279px;
    height: 35px;

    @include onTablet {
      font-size: 40px;
      margin-bottom: 76px;
      width: 450px;
      height: 50px;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 120%;
      margin-bottom: 70px;
      width: 570px;
      height: 58px;
    }
  }

  &__card {
    margin-bottom: 60px;

    &-button {
      @include onDesktop {
        width: 270px;
      }
    }

    &:last-of-type {
      margin-bottom: 30px;
    }

    @include onTablet {
      margin-bottom: 70px;

      &:last-of-type {
        margin-bottom: 100px;
      }
    }

    @include onDesktop {
      margin-bottom: 60px;

      &:last-of-type {
        margin-bottom: 110px;
      }
    }

    &-image {
      display: block;
      content: "";
      width: 100%;
      height: 358px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 20px;

      transition: all 0.3s;

      &:hover {
        border-radius: 50px;
        box-shadow: 5px solid $main-orange;
        transition: all 0.3s;
        transform: scale(1.05);
      }

      @include onTablet {
        height: 422px;
        margin-bottom: 0;
      }

      @include onDesktop {
        height: 475px;
      }

      &-1 {
        background-image: url(../images/img_05.png);
      }

      &-2 {
        background-image: url(../images/img_06.png);
      }

    }

    &-date {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $main-orange;
      margin-bottom: 10px;
    }

    &-title {
      color: $black;
      margin-bottom: 20px;

      @include onTablet {
        font-size: 24px;
        line-height: 125%;
      }
    }

    &-text {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $gray;
      margin-bottom: 30px;

      @include onTablet {
        margin-bottom: 50px;
      }
    }

  }

  &__button {

    @include onDesktop {
      width: 270px;
    }
  }

}


