.poster {
  display: grid;

  &__title-wraper {

    @include content-padding-inline;

  }

  &__title {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: $black-color;
    line-height: 125%;
    margin: 90px 0 60px ;
    text-align: left;
  }

  &__title2 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: $black-color;
    line-height: 125%;
    text-align: left;
  }
}
