.preview {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  color: $lightGray;
  top: -83px;
  height: 100%;

  @media (max-width: $iPadMini) {
    grid-template-columns: 1fr 3fr;
  }

  @media (max-width: $iPhoneSE) {
    grid-template-columns: 1fr;
  }

  &__date {
    padding-top: 200px;
    padding-bottom: 10px;
    line-height: 24px;

    @media (max-width: $iPhoneSE) {
      padding-top: 120px;
      padding-bottom: 20px;
    }
  }

  &__title {
    position: absolute;
    z-index: 2;
    @extend %h1;

    &-span {
      margin-left: $textShift;
      
      @media (max-width: 616px) {
        margin-left: 0;
      }
    }
  }

  &__details {
    padding-top: 200px;
    margin-left: $textShift;
    line-height: 24px;
    padding-bottom: 60px;

    @media (max-width: $iPadMini) {
      margin-left: 0;
    }

    @media (max-width: $iPhoneSE) {
      padding-bottom: 50px;
    }
  }

  &__btn {
    @extend %orange-btn;
    margin-left: $textShift;
    margin-top: 20px;

    @media (max-width: $iPadMini) {
      margin-left: 0;
      width: 200px;
    }
  }

  &__date2 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-top: 150px;

    &-line {
      position: relative;
      top: -14px;
      left: 90px;
      z-index: -1;
      max-width: 900px;
      margin-right: -300px;
      opacity: 0.3;
    }

    @media (max-width: $iPadMini) {
      display: none;
    }
  }

  &__img {
    position: relative;
    bottom: -4px;
    z-index: 1;
    display: grid;
    justify-content: end;
    align-items: end;
    overflow: hidden;

    @media (max-width: $iPadMini) {
      position: absolute;
      bottom: -4px;
      right: 0;
      width: 400px;
      overflow: hidden;
    }

    &-girl {
      @media (max-width: $iPhoneSE) {
        bottom: 0;
        width: 250px;
        padding-bottom: 21px;
        margin-right: 0;
      }
    }

    &-name {
      position: absolute;
      right: 1%;
      bottom: 30%;
      
      @media (max-width: 915px) {
        visibility: hidden;
        background-color: #fff;
      }
    }
  }
}
