.primary {
  cursor: pointer;
  height: 60px;
  width: 100%;
  background-color: $main-red-color;
  color: $text-color-white;
  border: none;
  font-family: $paragraph-font;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;

  @include onTablet {
    width: 330px;
    margin: 0;
  }

  @include onDesktop {
    width: 270px;
    margin: 0;
  }

  &:hover {
    background-color: #af3419;
  }

  &:active {
    background-color: #ea340d;
  }
}
