.primary-btn {
  @extend%raleway-600;

  display: flex;
  justify-content: center;
  text-decoration-line: none;
  font-size: 16px;
  line-height: 1;
  background-color: $accent-color;
  color: $white-color;
  width: 100%;
  padding: 22px 0;

  @include hover(background-color, #af3419);
  @include active(background-color, #ea340d);
  @include disabled(background-color, #dd836f);
}
