.primary {
  background-color: $main;

  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: $white;
  text-decoration: none;
  cursor: pointer;

  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  border: none;
  transition: all 0.3s;

  &:hover {
    background-color: #AF3419;
  }

  &:active {
    background-color: #EA340D;;
  }

  &--header {
    margin-bottom: 40px;

    @include onMedium {
      margin-bottom: 92px;
    }

    @include onDesktop {
      width: 270px;
      // margin-bottom: 92px;
    }
  }

  &--menu {
    margin-bottom: 30px;
  }
}
