.primary-btn {
  &__btn {
    width: 270px;
    height: 60px;
    transition: all 0.3s ease-in-out;
    background-color: $color-main;
    border: none;
    color: $color-white;
    cursor: pointer;

    @include typography-button;

    &:hover {
      background-color: $color-deep-orange;
      transform: scale(1.02);
    }

    &:active {
      background-color: $color-vibrant-red;
      transform: scale(0.98);
    }
  }
}
