.primary-button {
  display: block;

  max-width: 330px;
  width: 100%;
  padding: 22px 0;

  @extend %rel-600;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: $main-color;
  @include hover(background-color, $hover-color);

  @include onDesktop {
    width: 270px;
  }

  &:active {
    background-color: $active-color;
  }

  &:disabled {
    background-color: $disabled-color;
  }
}
