.product {
  &__image {
    width: 100%;

    @include onTablet {
      max-width: toRem(330);
    }

    @include onDesktop {
      max-width: toRem(570);
    }
  }

  &__card {
    padding-top: toRem(60);

  }

  &__date {
    line-height: 150%; /* 24/16 */

    padding-top: toRem(20);

    color: $orangeColor;

    @include onTablet {
      padding-top: toRem(30);
    }

    @include onDesktop {
      padding-top: toRem(20);
    }
  }

  &__title {
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: toRem(20);
    line-height: 125%; /* 25/20 */

    padding-top: toRem(10);

    @include onTablet {
      font-size: toRem(24);
    }
  }

  &__text {
    line-height: 150%; /* 24/16 */

    padding-top: toRem(20);
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 280px;

    height: 60px;
    margin-top: toRem(30);

    color: $whiteColor;
    background-color: $orangeColor;

    @include onTablet {
      margin-top: toRem(40);
    }

    @include onDesktop {
      margin-top: toRem(50);
    }
  }

  &__text--padding {
    @include onTablet {
      padding-top: toRem(50);
    }

    @include onDesktop {
      padding-top: toRem(20);
    }
  }

  &__date--padding {
    padding: 0;
  }

  &__card--flex {
    @include onTablet {
      display: flex;
      gap: toRem(30);
    }
  }

  &__box--width {
    @include onDesktop {
      max-width: toRem(330);
    }
  }

  &__date--black {
    color: $titleColor;
  }

  &__title--padding-0 {
    padding-top: 0;
  }

  &__text--padding-18 {
    padding-top: toRem(18);
  }
}
