.products {
  margin-bottom: 120px;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include onTablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.product {
  &__image {
    width: 280px;
    height: 356px;
    margin-bottom: 20px;
    transition: $effectDuration;

    &:hover {
      transform: scale(1.1);
    }

    @include onTablet {
      width: 330px;
      height: 420px;
    }

    @include onDesktop {
      width: 570px;
      height: 484px;
    }
  }

  &__date {
    color: $orange_color;
    margin-bottom: 10px;
    width: 279px;
  }

  &__title {
    color: $black_color;
    font-size: 20px;
    line-height: 125%;
    margin-bottom: 20px;
    width: 279px;

    @include onTablet {
      font-size: 24px;
    }

    @include onDesktop {
      width: 569px;
    }

    &--second {
      color: $black_color;
      font-size: 20px;
      line-height: 125%;

      @include onTablet {
        font-size: 24px;
        margin-bottom: 50px;
      }

      @include onDesktop {
        width: 569px;
        margin-bottom: 20px;
      }
    }
  }

  &__description {
    color: $gray_color;
    margin-bottom: 30px;
    width: 279px;

    @include onTablet {
      width: 331px;
      height: 70px;
      margin-bottom: 40px;
    }

    @include onDesktop {
      width: 569px;
    }
  }

  &__btn {
    width: 280px;
    height: 60px;
    background-color: $orange_color;

    display: flex;
    justify-content: center;
    align-items: center;
    color: $white_color;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 60px;
    transition: $effectDuration;

    &:hover {
      background-color: $button_hover;
      transform: scale(1.2);
    }

    &:active {
      background-color: $button_pressed;
    }

    &:disabled {
      background-color: $button_disabled;
    }

    @include onTablet {
      width: 330px;
    }
  }

  &__arhiv1 {
    display: none;

    @include onTablet {
      display: flex;
      width: 210px;
      height: 60px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      flex-shrink: 0;
      border: 1px solid $orange_color;

      color: $orange_color;
      text-align: center;
      font-weight: 600;
      line-height: 100%;
      transition: $effectDuration;

      &:hover {
        border: 1px solid $button_hover;
        transform: scale(1.2);
      }

      &:active {
        border: 1px solid $button_pressed;
        color: $button_pressed;
      }

      &:disabled {
        border: 1px solid $button_disabled;
      }

      @include onDesktop {
        width: 270px;
      }
    }
  }

  &__arhiv {
    display: flex;
    width: 280px;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border: 1px solid $orange_color;

    color: $orange_color;
    text-align: center;
    font-weight: 600;
    line-height: 100%;

    transition: $effectDuration;

    &:hover {
      border: 1px solid $button_hover;
      transform: scale(1.2);
    }

    &:active {
      border: 1px solid $button_pressed;
      color: $button_pressed;
    }

    &:disabled {
      border: 1px solid $button_disabled;
    }

    &--arrow {
      width: 20px;
      height: 20px;
    }

    @include onTablet {
      display: none;
    }
  }
}
