.recommend {
  &__button {

    visibility: hidden;
    @include onDesktop {
      visibility: visible;
      margin-top: 10px;

      background-color: transparent;
      border: 1px solid $colorButton;
      color: $colorButton;

      &:hover {
        border: 1px solid $colorHover;
        background-color: transparent;
        color: $colorHover;
      }

      &:active {
        border: 1px solid $colorActive;
        background-color: transparent;
        color: $colorActive;
      }
    }

    &--mob {
      margin-top: 30px;
    }
  }
}
