.red-button {
  
  display: block;
  width: 280px;
  height: 60px;
  background-color: $red-color;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  font-weight: 600;
  font-size: 16px;
  color: $white-color;

  @include onTablet {
    width: 330px;
  }

  &--margbot {
    margin-bottom: 60px;
  }

  &:hover {
    background-color: #af3419;
  }

  &:active {
    background-color: #ea340d;
  }

  @include onDesktop {
    margin-bottom: 105px;
  }
}
