.registration {
  background-color: $defaultBackground;

  padding-top: 50px;

  @include onTablet {
    padding-top: 80px;
  }

  @include onDesktop {
    padding-top: 0;
    padding-left: 0;
  }

  &__container {
    display: grid;

    @include onDesktop {
      grid-template-columns: 578px 1fr;
      align-items: center;
    }
  }

  &__img {
    display: none;

    @include onDesktop {
      display: block;
      width: 578px;
      height: 800px;
    }
  }

  &__title {
    margin-bottom: 20px;

    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;

    color: $defaultWhite;

    @include onTablet {
      font-size: 62px;
      line-height: 62px;

      margin-bottom: 40px;
    }

    @include onDesktop {
      font-size: 80px;
      line-height: 80px;
    }
  }

  &__discription {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 60px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }

    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: $defaultWhite;
  }

  &__btn {
    margin-bottom: 50px;

    @include onTablet {
      margin-bottom: 80px;
    }

    @include onDesktop {
      margin-bottom: 205;
    }
  }
}
