.relevant {

  &--parameters {
    margin-top: 160px;
    position: relative;
  }

  &__name {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    &--third {
      justify-content: flex-start;
    }
  }

  &__content {
    position: relative;
    max-width: 400px;
    width: 100%;

    &--first {
      right: 20%;
    }
    &--second {
      max-width: 370px;
      right: 0;
      margin: 100px 30px 0;
    }

    &--third {
      order: 2;
      margin: 0 30px 0 155px;

      @media (max-width: 768px) {
        margin-left: 30px;
      }
    }
  }

  &__date {
    color: $highlight-color;
    margin-bottom: 10px;

    &--limited {
      font-family: "Playfair Display", serif;
      font-size: 48px;
      line-height: 120%;
      margin-bottom: 20px;
    }
  }
  
  &__wrapper {
    margin-left: 100px;
  }

  &__description {
    margin: 20px 0 50px;
  }

  &__sculpture {
    max-width: 40vw;
    width: 100%;
    position: absolute;
    left: 0;

    @media (min-width: 1281px) {
      max-width: 550px;
    }
  }

  &__sculpture-mobile {
    @media (min-width: 661px) {
      display: none;
    }
  }

  &__button {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__photo {
    position: relative;
    margin-top: 92px;

    &--third {
      margin-top: 0;
      left: 0;
    }
  }

  &__text {
    font-size: 144px;
    line-height: 100%;
    text-transform: uppercase;
    font-family: "Playfair Display", sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px $main-color;
    opacity: 0.3;
    white-space: normal;

    @media (max-width: 1000px) {
      font-size: 72px;
    }
  }

  &__img {
    position: absolute;
    top: 10%;
    width: 100%;

    &--third {
      position: absolute;
      right: 0;
      top: 25%;
    }
    &--mobile {
      @media (min-width: 661px) {
        display: none;
      }
    }
  }
}

@media (max-width: 660px) {
  .relevant {

    &--parameters {
      margin-top: 60px;
    }

    &__name {
      margin-bottom: 60px;
      margin-left: 20px;
    }

    &__item {
      justify-content: flex-start;

      &--third {
        margin-top: 100px;
      }
    }

    &__content {
      right: 0;
      padding-left: 20px;

      &--second {
        order: 2;
        margin-top: 90px;
      }

      &--third {
        order: 0;
      }
    }

    &__date {
      font-size: 16px;

      &--limited {
        font-size: 24px;
      }
    }

    &__date--second {
      margin-left: -110px;
    }

    &__title--second {
      margin-left: -110px;
    }

    &__wrapper {
      margin-left: 0;
    }

    &__description {
      max-width: 300px;
    }

    &__sculpture {
      display: none;
    }

    &__sculpture-mobile {
      position: absolute;
      top: 0;
      right: 0;
    }

    &__photo {
      display: none;
    }
    
    &__link {
      justify-content: center;
      margin-right: 0;
    }

    &__img--second {
      position: relative;
      top: 100px;
    }
  }
}

@media (max-width: 470px) {
  .relevant {

    &__description {
      max-width: 130px;
    }
  }
}
