.row-exhibitions {
  max-width: 370px;

  @media (max-width: $md3+px) {
    max-width: none;
  }

  // .row-exhibitions__subtitle
  &__subtitle {
    margin-bottom: 15px;

    color: $orangeColor;
  }

  // .row-exhibitions__title
  &__title {
    font-family: $PlayfairFont;
    font-weight: 700;
    font-size: 24px;
    color: $blackColor;

    margin-bottom: 20px;

    @media (max-width: $md3+px) {
      margin-bottom: 30px;
    }
  }

  // .row-exhibitions__text
  &__text {
    line-height: 150%;

    color: $greyColor;

    margin-bottom: 50px;

    @media (max-width: $md4+px) {
      margin-bottom: 30px;
    }
  }

  // .row-exhibitions__button
  &__button {
    @media (max-width: $md4+px) {
      display: flex;
    }
  }

  // .row-exhibitions__img
  &__img {
    position: absolute;

    &--first {
      left: 0;
      top: 3%;

      transform: rotate(5deg) translateX(-50px);

      @media (max-width:$md2+px){
        width: 282px;
        height: 420px;

        transform: rotate(5deg) translateX(-10px);
      }
    }

    &--second {
      right: 0;
      top: 34%;

      @media (max-width:$md2+px){
        width: 400px;
        height: 420px;
      }
    }

    &--third {

      left: 2%;
      bottom: 12%;

      @media (max-width:$md2+px){
        width: 350px;
        height: 420px;
      }
    }

    @media (max-width: $md3+px) {
      display: none;
    }
  }


}
