.schedule {
  background-color: $green-page-color;

  &__contacts {
    margin-bottom: 30px;
  }

  &__title {
    color: $white-color;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    line-height: 150%;
    padding-top: 34px;
    margin-bottom: 10px;
    text-decoration: none;
  }


  &__adresses {
    color: $white-color;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

    &__work {
      margin-bottom: 50px;
    }

  &__href {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: $white-color;
  }

  &__adres {
    all: initial;
    color: $white-color;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  &__link {
    color: $white-color;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
   }

  &__social {
    display: flex;
    gap: 20px;
    grid-column: 1 / -1;
    align-items: center;
    margin-top: 30px;
  }

  &__social--link {
    width: 20px;
    height: 20px;
  }

  &__day {
    color: $white-color;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  &__links {
    line-height: 150%;
    list-style: none;
    margin-bottom: 88px;
  }

  &__footer {
    display: flex;
    margin-inline: auto;
    grid-template-columns: repeat(2,1fr);
    column-gap: 22px;
    max-width: 100%;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding-bottom: 30px;
  }

  &__footer-year {
    color: $white-color;
  }

  &__footer-company {
    color: $white-color;
  }

  &__footer-back-to-top {
  position: absolute;
  top: 100vh;
  right: 0.25rem;
  bottom: -5em;
  width: 3em;
  pointer-events: none;
}

  &__footer-back-to-top-link {
    background-image: url(../images/icons/icon--scroll-up.png);
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: all;
    top: calc(100vh - 5rem);
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: -webkit-transform 80ms ease-in;
    transition: -webkit-transform 80ms ease-in;
    transition: transform 80ms ease-in;
    transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;

    &:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }

    &:focus {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}










