.schedule {
  display: flex;
  flex-direction: column;

  &__text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $white-color;
  }

  &__time {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: $white-color;
  }
}