.schedule {
  &__title {
    @extend%playfair-700;

    font-size: 18px;
    line-height: 1.5;
    color: $white-color;
    margin: 0 0 10px;

    @include on-tablet {
      margin-bottom: 30px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    @extend%main-text;

    color: $white-color;
  }
}
