.schedule {
  display: block;

  @include onTable {
    display: flex;
    gap: 124px;
    padding-bottom: 50px;
  }

  @include onDesctop {
    gap: 84px;
    padding-bottom: 30px;
  }

  &__text {
    @extend %text;
    font-size: 14px;
    line-height: 140%;
    color: $color-weight;
  }

  &__time {
    @extend %subtitle;
    font-size: 16px;
    line-height: 150%;
    color: $color-weight;
    padding-bottom: 20px;
  }

  &__address {
    @extend %text;
    font-size: 14px;
    line-height: 140%;
    color: $color-weight;
  }

  &__name {
    @extend %subtitle;
    font-size: 16px;
    line-height: 150%;
    color: $color-weight;
    text-decoration: none;
    padding-bottom: 40px;
    transition: color 1s;

    &:hover {
      color: #cd4d31;
    }
  }
}
