.scroll-up {
  position: fixed;
  bottom: 30px;
  right: 20px;
  @include tablet {
    bottom: 30px;
    right: 39px;
  }
  @include desktop {
    bottom: 30px;
    right: 55px;
  }

  background-color: #3f5252;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 5px;

  background-image: url("../images/scroll_up.svg");
  background-repeat: no-repeat;
  background-position: center;

  transition: all 0.3s linear;
  opacity: 0;
  &--show {
    opacity: 1;
  }
  &:hover {
    transform: scale(1.2);
  }
}
