.scrolltop {
  display: flex;
  justify-content: flex-end;

  &__link {
    width: 30px;
    height: 30px;

    background-color: #3f5252;

    border: 0;

    background-image: url(../images/scrollup.svg);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
  }
}
