.scroll-up {
  position: fixed;
  bottom: 30px;
  right: 20px;
  @include tablet {
    bottom: 30px;
    right: 39px;
  }
  @include desktop {
    bottom: 30px;
    right: 55px;
  }

  background-color: #3f5252;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 5px;

  background-image: url("../images/scroll_up.svg");
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0;
  transition: opacity 0.5s;
  &--show {
    opacity: 1;
  }
}
