.scrollTop {
  position: fixed;
  text-align: center;
  right: 5px;
  bottom: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #3f5252;
  z-index: 1;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  @include oniPad {
    right: 20px;
  }

  &__link {
    text-decoration: none;
  }
}
