.second-button {
  font-family: $text-font;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: $info-color;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 60px;
  border: 1px solid $info-color;
  border-radius: 3px;
  cursor: pointer;

  background-color: $text-white-color;

  @include on-tablet {
    width: 210px;
  }

  @include on-desktop {
    width: 270px;
  }

  &:hover {
    color: $second-button-hover-color;
    border: 1px solid $second-button-hover-color;
  }

  &:active {
    color: $second-button-pressed-color;
    border: 1px solid $second-button-pressed-color;
  }
}
