.second-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
  text-decoration: none;
  color: $c-main;
  font-weight: 600;
  width: 100%;

  border: 1px solid $c-main;

  &:hover {
    border-color: #af3419;
    color: #af3419;
  }

  &:focus {
    border-color: #ea340d;
    color: #ea340d;
  }

  &:disabled {
    border-color: #dd836f;
    color: #dd836f;
  }
}
