.second-event {

  &__text {

    @include for-notebook {
      padding-left: 100px;
      padding-right: 10px;
    }

    @include for-laptops {
      padding-left: 255px;
      padding-right: 90px;
    }

    @include for-small-desktops {
      padding-left: 100px;
      padding-right: 10px;
    }

    @include for-tablet {
      padding-left: 20px;
    }
  }

  &__time {
    padding-bottom: 10px;

    @include second-font-small;
    color: $step-color;

    @include for-phone {
      margin-left: -120px;
    }
  }

  &__subtitle {
    padding-bottom: 20px;

    font-size: 24px;
    line-height: 30px;
    color: #1c1b29;

    @include for-phone {
      margin-left: -120px;
    }
  }

  &__info {
    padding-bottom: 50px;

    @include second-font-small;
    color: #504f5e;
  }

  &__btn {
    display: none;
    height: 60px;
    width: 270px;

    background-color: $step-color;

    @include second-font-small;
    color: white;
    line-height: 60px;
    text-align: center;

    @include for-laptops {
      display: inline-block;
    }
  }

  &__image {
    position: relative;
    height: 152px;
    display: none;

    @include for-phone {
      top: 100px;
      display: inline-block;
    }
  }

  &__img {
    @include for-small-desktops {
      width: 370px;
    }

    @include for-tablet {
      width: 300px;
    }

    @include for-phone {
      display: none;
    }
  }
}
