.section-exhibition {

  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 120px;

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 30px;
    justify-content: center;

    margin-bottom: 0;
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;

    margin-bottom: 0;
  }

  &__angel {

    @include onTablet {
      grid-column: 1 / span 3;
    }

    @include onDesktop {
      grid-column: 1 / span 6;
    }

    &-img {
      width: 100%;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.05);
      }

    }

  }

  &__art {
    @include onTablet {
      grid-column: 4 / span 3;
    }

    @include onDesktop {
      grid-column: 7 / span 6;
    }
  }

  &__archive {

    grid-row: 5;
  
    @include onTablet {
      grid-row: 1;
      grid-column: 4 / span 3;
      justify-self: end;
      align-self: center;
      margin-bottom: 2rem;
    }

    @include onDesktop {
      grid-row: 1;
      grid-column: 9 / span 4;
      align-self: center;
      justify-self: end;
    }
  }

  &__header {
    @include onTablet {
      grid-column: 1 / span 4;
      grid-row: 1;
    }

    @include onDesktop {
      grid-column: 1 / span 8;
      grid-row: 1;
    }
  }

}
