.section-action {
  display: flex;
  justify-content: space-between;
  &__title {
    @include sectionTitle;

    @include tablet {
      font-size: 40px;
    }
    @include mobile {
      font-size: 28px;
    }
  }

  &__image {
    box-shadow: 3px 2px 2px #1c1b29;
    transition: transform 0.3s;

    &:hover {
      transform: scale(103%);
    }
  }
}
