.secion-top {
  margin-bottom: rem(60);

  @media (min-width: $mobile) {
    margin-bottom: rem(75);

    @include page-grid;
  }

  &__title {
    @media (min-width: $mobile) {
      grid-column: 1 / 5;
    }

    @media (min-width: $tablet) {
      grid-column: 1 / 10;
    }
  }

  &__link {
    display: none;

    @media (min-width: $mobile) {
      grid-column: span 2;
      display: flex;
    }

    @media (min-width: $tablet) {
      grid-column: span 3;
    }
  }
}
