.section-actions {

  &__top {
    width: 100%;
    margin-bottom: 60px;

    @include onTablet {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 70px;
    }

    @include onTablet {
      margin-bottom: 50px;
    }
  }

  &__title {
    align-self: start;
    @extend %h3;
    line-height: 125%;
  }

  &__more {

    &--mobile {
      display: block;

      @include onTablet {
        display: none;
      }
    }

    &--tablet {
      display: none;

      @include onTablet {
        display: block;
      }
    }
  }
}
