
.exhibitions {
  &__part-1 {
    display: flex;
    @media  (max-width:768px) {
      display: block;
    }
    
  }

  &__statuette-img {
    width: 40%;
    @media  (max-width:768px) {
      display: none;
      transition: ease 0.5s;
    }
  }

  &__container-info {

    justify-content: center;
    @media  (max-width:768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: ease 0.5s;
    }
  }

  &__title {
    font-size: 48px;
    margin-top: 15%;
    @media  (max-width: 768px) {
      margin: 10% auto;
      justify-content: center;
      transition: ease 0.5s;
    }
  }

  &__title-date {
    margin-left: 10%;
    margin-top: 20%;
    color: $r-color;
    font-size: 48px;
    font-family: "Playfair Display", serif;

    @media  (max-width: 768px) {
      margin: 1% auto;
      padding-right: 10%;
      transition: ease 0.5s;
    }
    @media  (max-width: 500px) {
      transition: ease 0.5s;
      font-size: 24px;
    }

  }

  &__title-angels {
    min-width: 420px;
    margin-left: 20%;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    @media  (max-width: 768px) {
      transition: ease 0.5s;
      margin-left: 20%;
    }
    @media  (max-width: 500px) {
      transition: ease 0.5s;
      min-width: 200px;
    }
  }

  &__title-angels_text {
    margin-left: 20%;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    max-width: 420px;
    @media  (max-width:768px) {
      margin-left: 20%;
      max-width: 300px;
      transition: ease 0.5s;
    }
    @media  (max-width: 500px) {
      transition: ease 0.5s;
      max-width: 50%;
    }
  }

  &__button-buy {
    margin-left: 20%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    background: $r-color;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    line-height: 60px;
    width: 270px;
    color: $wh-color;
    @media  (max-width: 768px) {
      display: none;
    }

  }

  &__part-2 {
    display: flex;
  }

  &__container-art {
    margin-left: 20%;
    @media  (max-width:768px) {
      margin-left: 10%;
      align-items: center;
      transition: ease 0.5s;
    }

  }
  &__date-art {
    margin-top: 25%;
    color: $r-color;
  }
  &__title-art {
    margin-top: 0;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    @media  (max-width: 500px) {
      transition: ease 0.5s;
      max-width: 58%;
      
    }
  }

  &__title-art_text {
    min-width: 300px;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20%;
    @media  (max-width:768px) {
      max-width: 270px;
      transition: ease 0.5s;
    }
    @media  (max-width: 500px) {
      transition: ease 0.5s;
      min-width: 50%;
    }
    
  }

  &__part-buy-2 {
    display: flex;
    justify-content: center;
    background: $r-color;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    line-height: 60px;
    width: 270px;
    color: $wh-color;
    @media  (max-width: 768px) {
      display: none;
    }
  }

  &__bg-text_all {
    margin-top: 0;
    z-index: -1;
    height: auto;
    position: relative;
    margin-left: 10%;
    text-transform: uppercase;
    width: 80%;
    color: white;
    font-size: 144px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(63, 82, 82, 1);
    @media (max-width:1300px) {
      font-size: 124px;
    }
    @media (max-width:1160px) {
      font-size: 104px;
      transition: ease 0.5s;
    }
    @media (max-width:1030px) {
      font-size: 90px;
      margin-top: 10%;
      transition: ease 0.5s;
    }
    @media (max-width:935px) {
      font-size: 75px;
      transition: ease 0.5s;
    }
    @media (max-width:845px) {
      font-size: 65px;
      margin-top: 15%;
      transition: ease 0.5s;
    }
    @media (max-width:790px) {
      font-size: 60px;
      margin-top: 15%;
      transition: ease 0.5s;
    }
    @media  (max-width:768px) {
      display: none;
      transition: ease 0.5s;
    }
  }

  &__people-img {
    top: 20%;
    position: absolute;
    width: 90%;
    right: 0;
  }

  &__part-3 {
    margin-left: 5%;
    @media (max-width:768px) {
      margin-left: 20%;
      transition: ease 0.5s;
    }

  }

  &__old {
    display: flex;
    flex-direction: row-reverse;
  }

  &__old-container {
    margin-right: 15%;
    @media  (max-width:768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: ease 0.5s;
    }
  }

  &__old-date {
    color: $r-color;
  }

  &__old-title {
    margin-top: 0;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    @media  (max-width: 500px) {
      transition: ease 0.5s;
      max-width: 100%;
    }
    
  }

  &__old-title_text {
    margin-bottom: 20%;
    min-width: 300px;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    @media  (max-width:768px) {
      max-width: 270px;
      margin-left: 20%;
      transition: ease 0.5s;
    }
    @media  (max-width: 500px) {
      transition: ease 0.5s;
      min-width: 50%;
    }
  }

  &__part-buy-3 {
    display: flex;
    justify-content: center;
    background: $r-color;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    line-height: 60px;
    width: 270px;
    color: $wh-color;
    @media  (max-width: 768px) {
      display: none;
    }
  }

  &__old-bg_text {
    margin-top: 0;
    z-index: -1;
    height: auto;
    position: relative;
    margin-right: 18%;
    text-transform: uppercase;
    width: 75%;
    color: white;
    font-size: 144px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(63, 82, 82, 1);

    @media (max-width: 1300px) {
      font-size: 124px;
      margin-right: 15%;
      transition: ease 0.5s;
    }

    @media (max-width: 1160px) {
      font-size: 104px;
      transition: ease 0.5s;
    }

    @media (max-width: 1030px) {
      font-size: 90px;
      transition: ease 0.5s;
    }
    @media (max-width: 935px) {
      font-size: 75px;
      transition: ease 0.5s;
    }

    @media (max-width: 845px) {
      font-size: 65px;
      transition: ease 0.5s;
    }

    @media (max-width: 790px) {
      font-size: 60px;
      transition: ease 0.5s;
    }

    @media  (max-width: 768px) {
      display: none;
      transition: ease 0.5s;
    }

  }

  &__old-bg_img {
    top: 20%;
    position: absolute;
    width: 80%;
    left: 0;
  }

}
