
.exhibitions {
  overflow: hidden;
  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }
  &__part-1 {
    display: flex;
    @media  (max-width: 768px) {
      display: flex;
      flex-direction: row-reverse;
    }

    @media  (max-width: 500px) {
      display: flex;
      flex-direction: column;
    }
    
  }

  &__statuette-img {
    width: 50%;
    object-fit: contain;
 
    @media  (max-width: 768px) {
      display: none;
      transition: ease 0.5s;
    }
  }

  &__container-info {
    @media  (max-width: 768px) {
      margin: 0;
      margin-right: 20%;
    }
    @media  (max-width: 500px) {
      margin: 0;
    }

  }

  &__container-title {
    display: flex;
    position: relative;
    justify-content: center;
  }

  &__title {
    top: 60px;
    position: absolute;
    font-family: "Playfair Display", serif;
    font-size: 48px;
    @media  (max-width: 768px) {
      position: static;
      margin: 1% auto;
      transition: ease 0.5s;
    }
    @media  (max-width: 500px) {
      transition: ease 0.5s;
      font-size: 36px;
    }
  }
  &__title-date_2 {
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: -100px;
    color: $r-color;
    font-size: 48px;
    font-family: "Playfair Display", serif;

    @media  (max-width: 768px) {
      margin: 0;
      padding-top: 30px;
      transition: ease 0.5s;
    }

    @media  (max-width: 500px) {
      transition: ease 0.5s;
      font-size: 24px;
    }
  }

  &__container-date_2 {
    display: none;
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      white-space: nowrap;
    }

    @media  (max-width: 500px) {
      transition: ease 0.5s;
      margin-left: 20px;
      justify-content: flex-start;
    }
    
  }

  &__container-date {
    margin-right: 120px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    @media (max-width:768px) {
      margin: 0;
      display: none;
    }
    
  }

  &__title-date {
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: -100px;
    color: $r-color;
    font-size: 48px;
    font-family: "Playfair Display", serif;

    @media  (max-width: 768px) {
      margin: 0;
      transition: ease 0.5s;
    }

  }

  &__title-angels {
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 20%;
    font-size: 24px;
    font-family: "Playfair Display", serif;

    @media  (max-width: 768px) {
      transition: ease 0.5s;
      margin-left: 0;
      max-width: 270px;
    }

    @media  (max-width: 500px) {
      transition: ease 0.5s;
      margin-left: 20px;
      max-width: 270px;
    }

  }

  &__title-angels_text {
    max-width: 370px;
    font-size: 16px;
    margin-left: 20%;
    font-family: "Raleway", sans-serif;

    @media  (max-width:768px) {
      max-width: 270px;
      margin-left: 0;
      transition: ease 0.5s;
    }

    @media  (max-width:500px) {
      margin-left: 20px;
      max-width: 150px;
      transition: ease 0.5s;
    }

  }

  &__button-buy {
    margin-left: 20%;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    background: $r-color;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    line-height: 60px;
    width: 270px;
    color: $wh-color;
    border: 2px solid $r-color;
    box-sizing: border-box;
    transition: ease 0.5s;
    cursor: pointer;

    &:hover {
      transition: ease 0.5s;
      background: $hover-color-button;
      color: $wh-color;
      border: 2px solid $wh-color;
      border-radius: 2px;
      box-sizing: border-box;
    }

    @media  (max-width: 768px) {
      display: none;
    }

  }

  &__part-2 {
    margin-top: -50px;
    display: flex;

    @media (max-width:1270px) {
      margin-top: 50px;
    }

    @media (max-width:786px) {
      margin-top: 0;
    }

    @media (max-width:500px) {
      display: flex;
      flex-direction: column-reverse;
    }

  }

  &__container-art {
    margin-left: 15%;

    @media  (max-width:768px) {
      margin-left: 10%;
      align-items: center;
      transition: ease 0.5s;
    }

    @media  (max-width: 500px) {
      transition: ease 0.5s;
      margin-left: 0;
    }

  }
  &__date-art {
    padding-top: 100px;
    color: $r-color;
    margin: 0;
    @media  (max-width: 500px) {
      transition: ease 0.5s;
      margin-left: 20px;
    }
  }
  &__title-art {
    margin-bottom: 15px;
    margin-top: 0;
    font-family: "Playfair Display", serif;
    font-size: 24px;

    @media (max-width:768px) {
      max-width: 370px;
    }

    @media  (max-width: 500px) {
      transition: ease 0.5s;
      margin-left: 20px;
      max-width: 260px;
    }

  }

  &__title-art_text {
    max-width: 370px;
    font-size: 16px;
    font-family: "Raleway", sans-serif;

    @media  (max-width:768px) {
      max-width: 270px;
      transition: ease 0.5s;
    }

    @media  (max-width: 500px) {
      transition: ease 0.5s;
      margin-right: 20px;
      margin-left: auto;
      max-width: 150px;
    }
    
  }

  &__part-buy-2 {
    display: flex;
    justify-content: center;
    background: $r-color;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    line-height: 60px;
    width: 270px;
    color: $wh-color;
    margin-top: 80px;
    margin-bottom: 80px;
    border: 2px solid $r-color;
    box-sizing: border-box;
    transition: ease 0.5s;
    cursor: pointer;

    &:hover {
      transition: ease 0.5s;
      background: $hover-color-button;
      color: $wh-color;
      border: 2px solid $wh-color;
      border-radius: 2px;
      box-sizing: border-box;
    }

    @media  (max-width: 768px) {
      display: none;
    }

  }

  &__bg-text_all {
    margin-top: 0;
    z-index: -1;
    height: auto;
    position: relative;
    margin-left: 10%;
    text-transform: uppercase;
    width: 80%;
    color: white;
    font-size: 144px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(63, 82, 82, 1);

    @media (max-width: 1300px) {
      font-size: 134px;
      line-height: 134px;
    }

    @media (max-width: 1160px) {
      font-size: 104px;
      line-height: 104px;
      transition: ease 0.5s;
    }

    @media (max-width: 1030px) {
      font-size: 90px;
      line-height: 90px;
      margin-top: 10%;
      transition: ease 0.5s;
    }

    @media (max-width: 935px) {
      font-size: 75px;
      line-height: 75px;
      transition: ease 0.5s;
    }

    @media (max-width: 845px) {
      font-size: 65px;
      line-height: 65px;
      margin-top: 15%;
      transition: ease 0.5s;
    }

    @media (max-width: 790px) {
      font-size: 60px;
      line-height: 60px;
      margin-top: 15%;
      transition: ease 0.5s;
    }

    @media  (max-width: 768px) {
      display: none;
      transition: ease 0.5s;
    }
  }

  &__people-img {
    top: 20%;
    position: absolute;
    width: 90%;
    right: 0;
  }

  &__part-3 {
    margin-top: 100px;
    display: flex;

    @media  (max-width: 768px) {
      display: flex;
      margin-top: 0;
      flex-direction: row-reverse;
    }

    @media  (max-width: 500px) {
      display: flex;
      flex-direction: column;
  
    }

  }
  
  &__old-bg_text {
    text-transform: uppercase;
    line-height: 144px;
    margin-top: 0;
    margin-left: 30px ;
    width: 40%;
    font-size: 144px;
    position: relative;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(63, 82, 82, 1);
    
    @media (max-width: 1350px) {
      font-size: 140px;
      line-height: 140px;
      transition: ease 0.5s;
    }

    @media (max-width: 1260px) {
      font-size: 120px;
      line-height: 120px;
      transition: ease 0.5s;
    }

    @media (max-width: 1200px) {
      font-size: 110px;
      line-height: 110px;
      transition: ease 0.5s;
    }

    @media (max-width: 1100px) {
      font-size: 100px;
      line-height: 100px;
      transition: ease 0.5s;
    }

    @media (max-width: 1100px) {
      font-size: 90px;
      line-height: 90px;
      transition: ease 0.5s;
    }

    @media (max-width: 960px) {
      font-size: 80px;
      line-height: 80px;
      transition: ease 0.5s;
    }

    @media (max-width: 960px) {
      font-size: 80px;
      line-height: 80px;
      transition: ease 0.5s;
    }

    @media  (max-width: 768px) {
      display: none;
      transition: ease 0.5s;
    }

  }

  &__old-bg_img {
    top: 15%;
    position: absolute;
    width: 80%;
  }

  &__old-container {

    @media (max-width: 768px) {
      margin: 0;
      margin-right: 20%;
    }

    @media (max-width: 500px) {
      margin: 0;
    }

  }

  &__old-date {
    padding-top: 100px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20%;
    color: $r-color;
    @media  (max-width: 768px) {
      transition: ease 0.5s;
      margin-left: 0;
    }
    @media  (max-width: 500px) {
      transition: ease 0.5s;
      margin-left: 20px;
    }
  }

  &__old-title {
    margin-bottom: 15px;
    margin-left: 20%;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    @media  (max-width:768px) {
      margin-left: 0;
      max-width: 370px;
    }
    @media  (max-width: 500px) {
      transition: ease 0.5s;
      margin-left: 20px;
      max-width: 270px;
    }
  }

  &__old-title_text {
    max-width: 370px;
    margin-left: 20%;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    @media  (max-width: 768px) {
      transition: ease 0.5s;
      margin-left: 0;
      max-width: 270px;
    }
    @media  (max-width: 500px) {
      margin-left: 20px;
      max-width: 150px;
      transition: ease 0.5s;
    }
  }

  &__part-buy-3 {
    margin-left: 20%;
    display: flex;
    justify-content: center;
    background: $r-color;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    line-height: 60px;
    width: 270px;
    color: $wh-color;
    margin-top: 80px;
    margin-bottom: 80px;
    border: 2px solid $r-color;
    box-sizing: border-box;
    transition: ease 0.5s;
    cursor: pointer;

    &:hover {
      transition: ease 0.5s;
      background: $hover-color-button;
      color: $wh-color;
      border: 2px solid $wh-color;
      border-radius: 2px;
      box-sizing: border-box;
    }

    @media  (max-width: 768px) {
      display: none;
      transition: ease 0.5s;
    }

  }

  &__archive {
    font-family: "Raleway", sans-serif;
    white-space: nowrap;
  }

  &__archive-container {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    @media (max-width:768px) {
      transition: ease 0.5s;
      justify-content: center;
      border-bottom: 1px solid black;
      margin: 100px 35%;
      padding-bottom: 10px;
    }
      
    @media (max-width: 550px) {
      margin: 100px 26%;
      transition: ease 0.5s;
    }

    @media (max-width: 350px) {
      margin: 100px 15%;
      transition: ease 0.5s;
    }
  }
  &__archive-line {
    z-index: 1;
    top: -8px;
    width: 70px;
    position: relative;
    right: -120px;
    border-top: 1px solid black;

    @media (max-width: 768px) {
      display: none;
    }

  }

}
