.section-top {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  
  &__title {
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: $color--dark;
    margin: 0 auto;
  
    @include tablet() {
      margin: 0;
    }
  }
}
