.section {
  &__place {
    margin-bottom: 60px;

    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 60px;

    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: $c-black;
  }
}
