.section-title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;

  @include onTablet {
    font-size: 40px;
  }

  @include onDesktop {
    font-size: 48px;
  }
}