.section__title {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  color: #1c1b29;

  @include on-tablet {
    font-size: 40px;
    line-height: 50px;
  }

  @include on-desktop {
    font-size: 48px;
    line-height: 57.6px;
  }
}
