.news {
  position: relative;
  margin: 30px;

  @media (max-width: 768px) {
    margin: 0 60px;
    transition: ease 0.5s;
  }

  &__title {
    margin-left: 25%;
    margin-top: 120px;
    font-size: 48px;
    font-family: "Playfair Display", serif;
    color: $t-color;

    @media (max-width:500px) {
      font-size: 36px;
      margin-top: 80px;
      margin-left: 20px;
    }
  }

  &__container {
    display: flex;
    max-width: 1200px;
    margin: 75px auto;
    gap: 30px;

    @media (max-width:500px) {
      margin: 30px auto;
    }

  }

  &__info-block_1 {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    transition: ease 0.5s;
    @media (max-width: 500px) {
      height: 500px;
    }
    @media (max-width: 400px) {
      height: 430px;
    }
    &:hover {
      transition: ease 0.5s;
      transform: scale(1.05);
    }
  }

  &__img-1 {
    width: 100%;
  }

  &__date-1 {
    margin-top: 30px;
    font-size: 14px;
    color: $t-color;
    font-family: "Raleway", sans-serif;
  }

  &__title-block_1 {
    margin-top: 5px;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    max-width: 370px;

    @media (max-width:768px) {
      font-size: 18px;
    }
  }

  &__text-block_1 {
    margin-top: 15px;
    max-width: 370px;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
  }

  &__info-block_2 {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: ease 0.5s;
    &:hover {
      transition: ease 0.5s;
      transform: scale(1.05);
    }
    @media (max-width:500px) {
      display: none;
      height: 500px;
    }
    @media (max-width: 400px) {
      height: 430px;
    }
  }

  &__img-2 {
    width: 100%;
  }

  &__date-2 {
    margin-top: 30px;
    font-size: 14px;
    color: $t-color;
    font-family: "Raleway", sans-serif;
  }

  &__title-block_2 {
    margin-top: 5px;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    max-width: 370px;

    @media (max-width:768px) {
      font-size: 18px;
    }
  }

  &__text-block_2 {
    margin-top: 15px;
    max-width: 370px;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
  }

  &__info-block_3 {
    display: flex;
    flex-direction: column;
    transition: ease 0.5s;
    cursor: pointer;
    &:hover {
      transition: ease 0.5s;
      transform: scale(1.05);
    }
    @media (max-width: 768px) {
      display: none;
    }
    @media (max-width: 500px) {
      height: 500px;
    }
    @media (max-width: 400px) {
      height: 430px;
    }
  }

  &__img-3 {
    width: 100%;
  }

  &__date-3 {
    margin-top: 30px;
    font-size: 14px;
    color: $t-color;
    font-family: "Raleway", sans-serif;
  }

  &__title-block_3 {
    margin-top: 5px;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    max-width: 370px;

    @media (max-width:768px) {
      font-size: 18px;
      max-width: 200px;
    }

  }

  &__text-block_3 {
    margin-top: 15px;
    max-width: 370px;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
  }

  &__container-input {
    display: none;
    justify-content: center;

    @media (max-width:500px) {
      display: flex;
      justify-content: center;
      max-width: 500px;
      margin: 0 auto;
    }
  }
  &__input {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    left: 0;
    bottom: 0;
    background-color: rgba($color: #747474, $alpha: 0.8);
    border-radius: 15px;
    margin: 5px;
  }

  &__input--active {
    position: relative;
    display: inline-block;
    background-color: $c-gray;
  }

  &__all-container {
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    @media (max-width:768px) {
      transition: ease 0.5s;
      justify-content: center;
      border-bottom: 1px solid black;
      margin: 50px 35%;
      padding-bottom: 10px;
    }
    @media (max-width: 550px) {
      margin: 100px 26%;
      transition: ease 0.5s;
    }

    @media (max-width: 350px) {
      margin: 100px 15%;
      transition: ease 0.5s;
    }

  }

  &__all {
    font-family: "Raleway", sans-serif;
    white-space: nowrap;
  }

  &__all-line {
    z-index: 1;
    top: -8px;
    width: 70px;
    position: relative;
    right: -110px;
    border-top: 1px solid black;

    @media (max-width: 768px) {
      display: none;
    }

  }

}
