.section-title {
  margin-bottom: 60px;

  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  color: $c-text-title;

  @include onTablet {
    margin-bottom: 76px;
    
    font-size: 40px;
  }

  @include onDesktop {
    margin-bottom: 70px;

    font-size: 48px;
    line-height: 120%;
  }
}
