.select {
  display: none;
  background-color: $main-bg-color;
  border: 0;
  color: $main-font-color;
  order: 1;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.15);
  }

  @include onTablet {
    order: 2;
  }
}
