.select {
  background-color: $color-background;
  color: $color-white;
  font-weight: 500;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
    filter: drop-shadow(3px 5px 2px RGB(0 0 0 / 0.4));
  }

  @include on-mobile {
    display: none;
  }

  @include on-tablet {
    display: block;
    margin-left: 42px;
  }

  &--mobile {
    display: block;
    margin-right: 30px;

    @include on-tablet {
      display: none;
    }
  }
}
