.select-menu-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;

  @include onTablet {
    display: flex;
    flex-direction: row;
  }

  @include onDesktop {
    display: flex;
    flex-direction: row;
  }
}
