.shedule {
  margin: 120px 0 0;

  @include onTablet {
    margin-top: 165px;
  }

  @include onDesktop {
    margin-top: 180px;
  }

  @include onLarge {
    margin-top: 200px;
  }

  &__title {
    margin: 0;
    color: $black;
  }

  &__calendar-link {
    display: none;

    @include onTablet {
      display: block;
    }
  }

  &__calendar-bottom {
    margin: 30px 0 0;

    @include onTablet {
      display: none;
    }
  }

  &__photo-container {
    margin: 60px 0 0;
    max-width: 280px;
    max-height: 358px;

    @include onTablet {
      margin: 75px 0 0;
      max-width: 330px;
      max-height: 422px;
    }

    @include onDesktop {
      margin: 70px 0 0;
      max-width: 370px;
      max-height: 475px;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;

    @include onDesktop {
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__info-container {
    margin: 60px 0 0;

    @include onTablet {
      margin: 75px 0 0;
    }

    @include onDesktop {
      margin: 70px 0 0;
    }
  }

  &__info-date {
    margin: 20px 0 0;
    color: $linksRed;

    @include onTablet {
      margin-top: 0;
    }
  }

  &__info-title {
    margin: 10px 0 0;
    color: $black;

    @include onTablet {
      font-size: 24px;
    }
  }

  &__info-description {
    margin: 20px 0 0;
    color: $secondaryBlack;
  }

  &__info-link {
    margin-top: 30px;

    @include onTablet {
      margin-top: 50px;
    }

    @include onDesktop {
      width: 50%;
    }
  }
}
