.shedule {
  grid-column: 1/-1;

  @include on-tablet {
    grid-column: 3/5;
  }

  @include on-desktop {
    grid-column: 5/9;
  }
}

.shedule__title {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #F1F5F4;

  margin-top: 50px;

  @include on-tablet {
    margin-top: 0;
  }
}

.shedule__date {
  margin-top: 10px;

  @include on-tablet {
    margin-top: 30px;
  }
}

.shedule__date__list {
  list-style: none;
}

.shedule__date__item {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #F1F5F4;
}
