.show-card {
  &__image {
    display: block;
    width: 100%;
    height: 356px;
    transition: all 0.3s;

    @include tablet {
      height: 420px;
    }

    @include desktop {
      height: auto;
    }

    @include img-hover;
  }

  &__data {
    color: $c-orange;
    margin: 20px 0 10px;

    @include tablet {
      margin-top: 30px;
    }

    @include desktop {
      margin-top: 20px;
    }
  }

  &__title {
    @extend %section-title;

    @include tablet {
      height: 60px;
    }

    @include desktop {
      height: auto;
    }
  }

  &__description {
    margin: 20px 0 30px;
    color: $c-gray;

    @include tablet {
      height: 70px;
      margin-bottom: 40px;
    }

    @include desktop {
      height: auto;
      margin-bottom: 50px;
    }
  }
}
