.shows-out {
  padding: 110px 0 200px;

  @media (max-width: 768px) {
    padding: 100px 0 164px;
  }

  @media (max-width: 460px) {
    padding: 90px 0;
  }
}

.shows {
  @include grid;
  align-content: start;

  &__title-box {
    grid-column: 1/ 13;

    @media (max-width: 768px) {
      grid-column: 1 / 7;
    }

    @media (max-width: 460px) {
      .shows__alt-button {
        display: none;
      }

      justify-content: center;
      grid-column: 1 / 3;
      margin-bottom: 60px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media (max-width: 768px) {
      margin-bottom: 60px;
    }

    @media (max-width: 460px) {
      grid-column: 1 / 3;
      margin-bottom: 60px;
    }
  }

  &__card:nth-child(2) {
    grid-column: 1/ 7;

    @media (max-width: 768px) {
      grid-column: 1 / 7;
      grid-row: 2;
    }

    @media (max-width: 460px) {
      grid-column: 1 / 3;
    }
  }

  &__card:nth-child(3) {
    grid-column: 7/ 13;

    @media (max-width: 768px) {
      grid-column: 1 / 7;
      grid-row: 3;
    }

    @media (max-width: 460px) {
      grid-column: 1 / 3;
      margin-bottom: 10px;
    }
  }

  &__img-container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  &__img {
    width: 100%;
    &:hover {
      filter: contrast(120%) brightness(110%);
    }
  }

  &__date {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $orange;
    margin-bottom: 10px;
  }

  &__s-title {
    @include h3;
    margin-bottom: 20px;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 50px;
    color: $gray;
  }

  &__button {
    margin-top: auto;

    @media (max-width: 460px) {
      max-width: 100%;
    }
  }

  .shows__alt-button-460 {
    display: none;

    @media (max-width: 460px) {
      display: block;
      grid-column: 1 / 3;
      width: 100%;
      text-align: center;
    }
  }
}
