.show-card {
  height: max-content;
  width: max-content;
  flex: 1 1 50%;

  @include onPhone {
    display: flex;
    flex-direction: column;
  }

  &__date {
    line-height: 150%;
    color: $colorOrange;
    margin: 0 0 10px;

    &--big {
      font-family: $titleFont;
      font-weight: bold;
      font-size: 48px;
      line-height: 120%;
      color: $colorOrange;
      margin-left: -100px;

      @include onPhone {
        margin-left: 0;
        font-size: 24px;
      }
    }
  }

  &__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;
    color: $colorFontDark;
    margin: 0 0 21px;
  }

  &__info {
    line-height: 150%;
    color: $colorFontGray;
    max-width: 370px;
    margin: 0 0 50px;

    @include onPhone {
      max-width: 170px;
      align-self: flex-end;
    }
  }
}
