.show {
  padding: 160px 0 130px;

  &__title {
    font-family: $titleFont;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: $colorFontDark;
    margin: 0 0 100px;
  }

  &__image {
    position: absolute;

    @include onTablet {
      display: none;
    }
    
    @include onPhone {
      display: none;
    }
  }

  &__event {
    display: flex;
    align-items: center;

    @include onTablet {
      justify-content: flex-end;
      margin-bottom: 150px;
    }

    @include onPhone {
      justify-content: flex-end;
      margin-bottom: 150px;
    }
  }

  &__event-center {
    display: flex;
    align-items: center;
    margin-top: 100px;

    @include onTablet {
      margin: 0 0 150px;
    }
    
    @include onPhone {
      margin: 0 0 150px;
    }
  }
}
