.shows {
  &__cards {
    position: relative;
    &__title {
      color: $black;
      margin-bottom: 60px;

      @include tablet {
        margin-bottom: 75px;
      }

      @include desktop {
        margin-bottom: 71px;
      }
    }

    &__img {
      width: 100%;
      height: 356px;
      margin-bottom: 20px;

      @include tablet {
        width: 100%;
        height: 420px;
        margin-bottom: 30px;
      }

      @include desktop {
        width: 100%;
        height: 484px;
        margin-bottom: 20px;
      }
    }

    &__date {
      color: $main;
      margin-bottom: 10px;
    }

    &__name {
      color: $black;
      margin-bottom: 20px;

      &--tablet {
        @include tablet {
          margin-bottom: 50px;
        }

        @include desktop {
          margin-bottom: 20px;
        }
      }
    }

    &__description {
      color: $gray;
      margin-bottom: 30px;

      @include tablet {
        margin-bottom: 40px;
      }

      @include desktop {
        margin-bottom: 50px;
      }
    }

    &__btn {
      margin-bottom: 30px;
    }

    &__btn-2 {
      @include tablet {
        position: absolute;
        top: 0;
        right: 0;
      }

      @include desktop {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
