.show-image {
  height: max-content;
  position: relative;
  flex: 1 1 50%;

  &__text {
    margin: 0;
    font-family: $titleFont;
    font-weight: bold;
    font-size: 144px;
    line-height: 100%;
    text-transform: uppercase;
    opacity: 0.3;
    color: #fff;
    text-shadow: -1px 0 #3f5252, 0 1px #3f5252, 1px 0 #3f5252, 0 -1px #3f5252;
  }

  &__img1 {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -450px;
    left: -55px;
  }

  &__img2 {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 90px;
    left: 55px;
  }

  &__img3 {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 40px;
    left: 0;
  }

  @include onTablet {
    display: none;
  }
  
  @include onPhone {
    display: none;
  }
}
