.sign-up {
  &__title {
    margin-bottom: 20px;

    @include onTablet {
      @include gridItemsPosition(1, 7);
    }

    @include onDesktop {
      @include gridItemsPosition(1, 6);

      margin-bottom: 50px;
    }
  }

  &__paragraph {
    margin-bottom: 50px;

    @extend %regular-text;

    color: $black-color;

    @include onTablet {
      @include gridItemsPosition(1, 6);
    }

    @include onDesktop {
      @include gridItemsPosition(7, 13);
    }
  }

  &__form {
    align-self: flex-start;

    @include onTablet {
      @include gridItemsPosition(1, 5);
    }

    @include onDesktop {
      @include gridItemsPosition(1, 6);
    }
  }
}
