.signing {
  margin-top: 110px;

  height: 800px;
  background-color: $themeColor;

  @include on768px {
    margin-top: 105px;
    height: 515px;
  }

  @include on768px {
    margin-top: 90px;
    height: 416px;
  }

  &__title {
    margin-top: 205px;

    @include fontPlayfair700;
    font-size: 80px;
    line-height: 100%;

    color: $mainColor;

    @include on768px {
      margin-top: -80px;
      font-size: 62px;
    }

    @include on320px {
      margin-top: -50px;
      font-size: 38px;
    }
  }

  &__info {
    margin-top: 20px;
    @include fontRaleway400;

    color: $mainColor;
  }

  &__photo {
    margin-left: -55px;

    @include on768px {
      display: none;
    }
  }
}
