.sign-up {
  background-color: #cd4d31;
  padding: 80px 0;

  @include onDesktop {
    padding: 160px 0;
  }

  &__title {
    margin: 0 0 40px;
    font-style: bold;
    font-size: 36px;
    line-height: 36px;
    color: #f1f5f4;
  }

  &__form {
    display: flex;
  }

  &__fild {
    margin-right: 10px;
    color: #f1f5f4;
    font-family: "Raleway", serif;
    font-size: 16px;
    line-height: 16px;
    padding: 5px 10px;
    width: 200px;
    height: 42px;
    background-color: #cd4d31;
    border: 0;
    border-bottom: 1px solid #f1f5f4;

    &::-webkit-input-placeholder {
      color: #f1f5f4;
      font-family: "Raleway", serif;
      font-size: 16px;
      line-height: 16px;
      background-color: #cd4d31;
    }

    &:focus {
      color: #f1f5f4;
      outline-color: #f1f5f4;
    }
  }

  &__text {
    margin: 0 0 45px;
    font-family: "Raleway", serif;
    font-size: 16px;
    line-height: 24px;
    color: #f1f5f4;

    @include oniPad {
      margin-bottom: 65px;
    }
  
    @include onDesktop {
      margin: 0;
    }
  }

  &__button {
    visibility: hidden;
    cursor: pointer;
    justify-items: flex-end;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 1px solid #f1f5f4;
    background-color: #cd4d31;

    &:active {
      background-color: #f1f5f4;
    }

    @include onDesktop {
      margin-top: 40px;
      border: none;
    }
  }

  .sigh-up__button--email {
    visibility: visible;
  }
}
