.slider {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  @media (min-width: $mx-width) {
    padding-bottom: 95px;
  }

  @media (min-width: 768px) {
    padding-bottom: 90px;
  }

  &__radiobuttons {
    margin-bottom: 60px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__content {
    overflow: hidden;
  }

  &__news-image {
    margin-bottom: 22px;

    @media (max-width: $mx-width - 1) {
      width: 270px;
      height: 270px;
      margin-bottom: 18px;
    }

    @media (max-width: 767px) {
      width: 280px;
      height: 280px;
      margin-bottom: 18.75px;
    }
  }

  &__news-date {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
    font-family: Raleway, sans-serif;
    font-weight: 200;
    color: $c-black;

    @media (max-width: $mx-width - 1) {
      margin-bottom: 0;
    }
  }

  &__news-title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 25px;
    color: $c-black;

    @media (max-width: $mx-width - 1) {
      margin-bottom: 10px;
    }
  }

  &__news-text {
    font-family: Raleway, sans-serif;
    color: #504f5e;

    @media (max-width: 767px) {
      margin-bottom: 21.41px;
    }
  }
}
