.slide {
  margin: 0 auto;
  max-width: 280px;
  overflow: hidden;

  @include oniPad {
    display: none;
  }

  &__list {
    display: flex;
    transform: translate(0%);
    transition: 0.3s;
  }

  &__item {
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
  }

  &__img {
    margin-bottom: 20px;
    height: 280px;
    width: 280px;

    @include oniPad {
      height: 270px;
      width: 270px;
    }

    @include onDesktop {
      margin-bottom: 30px;
      height: 370px;
      width: 370px;
    }
  }

  &__date {
    margin: 0;
    font-family: "Raleway", serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    color: #1c1b29;
  }

  &__title {
    margin: 0 0 10px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #1c1b29;

    @include onDesktop {
      margin-bottom: 13px;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__paragraph {
    margin: 0 0 20px;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #504f5e;

    @include oniPad {
      margin-bottom: 90px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
}
