.slider {
  display: flex;
  justify-content: space-between;
  width: 48px;

  @include onTablet {
    display: none;
  }

  &__circle {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: $main-bg-color;
    opacity: 0.3;
    cursor: pointer;

    &:nth-child(1),
    &:hover {
      opacity: 1;
    }
  }
}
