.social {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  gap: 20px;

  &__link {
    color: $color-white;
  }

  &__svg {
    width: 20px;
    height: 20px;
    transition: transform $effectDuration,
      color $effectDuration;

    &:hover {
      transform: scale(1.4);
      color: $color-main;
    }
  }
}
