.social-link {
  @include icon(20px, 20px, none);
  @include default-cursor;

  text-decoration: none;
  color: $white-accent;

  transition: all $duration;

  @include on-hover-devices {
    &:hover {
      transform: scale(1.2);
    }
  }

  &:active {
    transform: scale(0.8);
  }

  &:focus-visible {
    background-color: $focus-accent;

    transform: scale(1.1);
  }

  &--facebook {
    mask-image: url('../images/icons/facebook.svg');
  }

  &--x {
    mask-image: url('../images/icons/x.svg');
  }

  &--telegram {
    mask-image: url('../images/icons/telegram.svg');
  }

  &--instagram {
    mask-image: url('../images/icons/instagram.svg');
  }
}
