.social-media {
  display: flex;
  align-items: center;

  &__link {
    margin-right: 20px;
    content: "";
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 300ms;

    &--facebook {
      background-image: url(../images/icons/facebook_white.svg);

      &:hover {
        transform: scale(125%);
        background-image: url(../images/icons/facebook_orange_active.svg);
      }
    }

    &--twitter {
      background-image: url(../images/icons/twitter_white.svg);

      &:hover {
        transform: scale(125%);
        background-image: url(../images/icons/twitter_orange_active.svg);
      }
    }

    &--telegram {
      background-image: url(../images/icons/telegram_white.svg);

      &:hover {
        transform: scale(125%);
        background-image: url(../images/icons/telegram_orange_active.svg);
      }
    }

    &--instagram {
      background-image: url(../images/icons/instagram_white.svg);

      &:hover {
        transform: scale(125%);
        background-image: url(../images/icons/instagram_active.svg);
      }
    }
  }
}
