.social__media {
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;

  background-color: $color-white;
  transition: all 0.3s;
  text-decoration: none;

  &-f {
    -webkit-mask: url("../images/facebook.svg") no-repeat 50% 50%;
    mask: url("../images/facebook.svg") no-repeat 50% 50%;
  
    &:hover {
      background-color: #2c20d1;
      transform: scale(120%);
    }
  }

  &-i {
    -webkit-mask: url("../images/instagram.svg") no-repeat 50% 50%;
    mask: url("../images/instagram.svg") no-repeat 50% 50%;
  
    &:hover {
      background: linear-gradient(217deg, #ff00bf, #f000 70.71%),
        linear-gradient(127deg, #fffd8d, #e5ff00 70.71%),
        linear-gradient(336deg, #340b3f, #00f 72.71%);
      // background: linear-gradient(#270a55, #e846a7, #d0f70e);
      transform: scale(120%);
    }
  }

  &-tw {
    -webkit-mask: url("../images/twitter.svg") no-repeat 50% 50%;
    mask: url("../images/twitter.svg") no-repeat 50% 50%;
  
    &:hover {
      background: #1cabb8;
      transform: scale(120%);
    }
  }

  &-tg {
    -webkit-mask: url("../images/telegram.svg") no-repeat 40% 40%;
    mask: url("../images/telegram.svg") no-repeat 50% 50%;
  
    &:hover {
      background: #5ce7f9;
      transform: scale(120%);
    }
  }
}
