.social-icon {
  display: block;
  width: 20px;
  height: 20px;

  @include hover(transform, scale(1.2));

  &--facebook {
    background-image: url(../images/facebook.svg);
  }

  &--twitter {
    background-image: url(../images/twitter.svg);
  }

  &--telegram {
    background-image: url(../images/telegram.svg);
  }

  &--instagram {
    background-image: url(../images/instagram.svg);
  }
}
