.social-link {
  @include default-cursor;
  @include hover((transform, scale(1.2)));
  @include active((transform, scale(0.8)));

  display: block;
  width: 20px;
  height: 20px;

  text-decoration: none;
  color: $whiteAccent;

  background-color: currentcolor;

  mask-repeat: no-repeat;
  mask-position: center;
  mask-clip: content-box;

  &:focus-visible {
    background-color: $focus-accent;

    transform: scale(1.1);
  }

  &--facebook {
    mask-image: url('../images/icons/facebook.svg');
  }

  &--x {
    mask-image: url('../images/icons/x.svg');
  }

  &--telegram {
    mask-image: url('../images/icons/telegram.svg');
  }

  &--instagram {
    mask-image: url('../images/icons/instagram.svg');
  }
}
