.socials {
  display: flex;
  align-items: center;

  // .socials__link
  &__link {
    margin: 0px 8px;

    transition: transform 0.3s ease-in-out;

    @media (any-hover: hover){
      &:hover{
        transform: scale(1.2);
      }
    }
  }
}
