.social {
  width: 150px;
  
  &__content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  &__item {
    transition: transform 300ms;

    &:hover {
      transform: scale(1.3);
    }
  }
}
