.social-media {
  display: flex;
  gap: 20px;

  &__item {
    display: block;
    color: $whiteMainColor;
    width: 20px;
    height: 20px;
    text-decoration: none;

    @include hover(color, $redColor);
  }
}
