.social-icon {
  display: inline-block;
  margin-right: 25px;
  width: 20px;
  height: 20px;
  transition: background-image 0.3s;

  &--facebook {
    background-repeat: no-repeat;
    background-image: url(../images/icons/facebook.png);

    &:hover {
      background-image: url(../images/icons/facebook-hover.png);
    }
  }

  &--twitter {
    background-repeat: no-repeat;
    background-image: url(../images/icons/twitter.png);

    &:hover {
      background-image: url(../images/icons/twitter-hover.png);
    }
  }

  &--telegram {
    background-repeat: no-repeat;
    background-image: url(../images/icons/telegram.png);

    &:hover {
      background-image: url(../images/icons/telegram-hover.png);
    }
  }

  &--instagram {
    background-repeat: no-repeat;
    background-image: url(../images/icons/instagram.png);

    &:hover {
      background-image: url(../images/icons/instagram-hover.png);
    }
  }
}
