.social {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  gap: 20px;

  &__link {
    color: $color-white;
  }

  &__svg {
    width: 20px;
    height: 20px;
    transition: all 0.5s;

    &:hover {
      margin-top: -10px;
      color: $color-main;
      width: 30px;
      height: 30px;
    }
  }
}
