.soon {
  &__img {
    height: 475px;

    @include onTablet {
      height: 424px;
    }

    @include onPhone {
      margin-bottom: 20px;
      height: 358px;
    }
  }

  &__event {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 70px;
    }

    @include onPhone {
      margin-bottom: 60px;
    }
  }

  &__button {
    @include onPhone {
      margin-top: 30px;
      order: 4;
    }
  }
}
