.soon {
  &-card {
    margin-top: 70px;

    &__img {
      height: 400px;
      @extend %icon;
      background-size: contain;
      margin: 0;
      transition: transform 300ms;
  
      &:hover {
        transform: scale(1.02);
      }
  
      @include tablet() {
        background-size: cover;
      }
  
      &--1 {
        background-image: url(../images/photo/photo--soon-man_5.png);
      }
  
      &--2 {
        background-image: url(../images/photo/photo--soon-girl_6.png);
      }
    }
  }
}
