.soon {
  margin-bottom: 110px;

  &__button {
    @include onPhone {
      margin-top: 30px;
      order: 4;
    }
  }

  &__title {
    @include title;
    margin-bottom: 60px;

    @include onDesktop {
      margin-bottom: 70px;
    }

    @include onTablet {
      margin-bottom: 75px;
    }
  }

  &__info {
    &--title {
      font-family: "Playfair Display", serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 125%;
    }

    &--description {
      font-family: "Raleway", serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $grey;
      margin-bottom: 30px;

      @include onTablet {
        margin-bottom: 50px;
      }
    }
  }

  &__date {
    @include date;
  }
  &__photo {
    margin-bottom: 20px;
    max-height: 358px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    @include onTablet {
      max-height: 422px;
      margin-bottom: 70px;
    }

    @include onDesktop {
      margin-bottom: 60px;
      max-height: 475px;
    }
  }
}
