.stripe {
  display: flex;
  gap: 0 30px;
  transition: 1s;

  @media (max-width: $mx-width - 1) {
    max-width: 570px;
  }

  @media (max-width: 767px) {
    width: 280px;
    gap: 0;
  }

  &--moove {
    transform: translateX(-100%);
  }

  &--moove2 {
    transform: translateX(-200%);
  }
}
