.subscribe {
  &__title {
    margin-bottom: 20px;

    @extend %h3;

    color: $color-black;

    @include onTablet {
      font-size: 40px;
    }

    @include onDesktop {
      margin-bottom: 50px;

      font-size: 48px;
    }
  }

  &__description {
    margin-bottom: 50px;

    @extend %main;

    color: $color-black;

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__input {
    width: 100%;

    margin-bottom: 30px;

    @extend %main;

    background-color: $color-white;

    border: none;
    border-bottom: 1px solid $color-black;

    outline: none;

    transition: border-bottom-color $transition-duration ease;

    &::placeholder {
      color: $color-black;
    }

    &:hover {
      border-bottom-color: $color-main;
    }

    @include onDesktop {
      margin-bottom: 40px;
    }
  }
}
