.subcribe {
  margin-bottom: 80px;

  &__title {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 6;
    }

    margin-bottom: 20px;
  }

  &__text {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 6;
    }

    font-family: Raleway, serif;

    font-size: 16px;

    line-height: 1.5;

    color: #1c1b29;

    margin-bottom: 50px;
  }

  &__form {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 5;
    }

    &-input {
      width: 100%;

      border: none;

      border-bottom: 1px solid #ccc;
      outline: none;

      margin-bottom: 30px;

      &:hover::placeholder {
        color: #cd4d31;
      }

      &:focus {
        color: #cd4d31;
      }

      &:valid {
        font-family: Raleway, serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;

        color: #1c1b29;
        border-bottom: 1px solid #1c1b29;
      }

      &:hover {
        border-bottom: 1px solid#cd4d31;
      }

      @include on-tablet {
        width: 450px;
      }

      @include on-desktop {
        max-width: 500px;
      }
    }

    &-button {
      border: none;
    }
  }
}

.grid {
  @include page-grid;
}
