.subscription {
  background-color: $red-color;

  &__container {
    width: 1280px;
    margin: 0 auto;
    padding: 160px 55px;

    @include onTablet {
      padding: 110px 100px;
      width: 768px;
    }

    @include onMobile {
      padding: 80px 20px;
      width: 320px;
    }
  }

  &__title {
    @include h2-style;
    color: $white-color;
    margin: 0 0 41px;

    @include onTablet {
      margin: 0 0 30px;
    }

    @include onMobile {
      margin: 0 0 40px;
    }
  }

  &__info {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      display: block;
    }
  }

  &__description {
    max-width: 570px;
    color: $white-color;

    @include onTablet {
      margin-bottom: 80px;
    }

    @include onMobile {
      margin-bottom: 60px;
    }
  }

  &__form {
    margin-right: 150px;
  }

  &__label {
    max-width: 300px;
  }

  &__email {
    background-color: $red-color;
    color: $white-color;
    outline: none;
    border: none;
    border-bottom: 1px solid $white-color;
    width: 300px;

    @include onMobile {
      width: 228px;
    }
  }

  &__button {
    position: absolute;
    outline: none;
    top: 200%;
    right: 5%;

    @include onTablet {
      top: 137px;
      right: 0;
    }
  }
}

::placeholder {
  color: $white-color;
}
