.subcribe {
  margin-bottom: 80px;
  &__title {
    margin-bottom: 20px;
  }
  &__text {
    font-family: Raleway, serif;
    font-size: 16px;
    line-height: 1.5;
    color: #1c1b29;

    margin-bottom: 50px;
  }

  &__form {
    &-input {
      width: 100%;
      border: none;
      border-bottom: 1px solid #ccc;
      outline: none;
      margin-bottom: 30px;

      @include on-tablet {
        width: 450px;
      }

      @include on-desktop {
        max-width: 500px;
      }
    }

    &-button {
      border: none;
    }
  }
}
