.subcribe {
  margin-bottom: 80px;

  @include onTablet {
    margin-bottom: 128px;
  }

  @include onDesktop {
    margin-bottom: 200px;
  }

  &__title {
    margin-bottom: 20px;

    @include onDesktop {
      margin-bottom: 50px;
    }
  }

  &__text {
    color: $colorTitles;
    margin-bottom: 50px;
  }

  &__form {
    margin-bottom: 30px;

    @include onDesktop {
      margin-bottom: 40px;
    }
  }
}
