.subscribe-section {

  &__container {
    @include container;
  }

  &__title-position {
    margin-bottom: 20px;

    @include onDesktop {
      margin-bottom: 50px;
    }
  }

  &__info {
    margin-bottom: 50px;
    line-height: 150%;
    color: $black-color;
  }

  &__input {
    width: 100%;
    margin-bottom: 30px;

    line-height: 150%;
    font-weight: 700;
    color: $black-color;

    background-color: $white-color;
    border: none;
    outline: none;
    border-bottom: 1px solid $black-color;
    transition: border-color $transition-time;

    &:hover,
    &:focus {
      border-color: $hover-color;
    }

    &::placeholder {
      font-weight: 400;
      transition: color $transition-time;
    }

    &:hover::placeholder,
    &:focus::placeholder {
      color: $hover-color;
    }

    @include onDesktop {
      margin-bottom: 40px;
    }
  }
}
