.subscription {
  position: relative;
  padding: 50px 55px 260px;
  display: flex;
  gap: 30px;

  @include tablet {
    flex-direction: column;
  }

  &__block {
    @include tablet {
      order: -1;
    }
  }
  &__title {
    font-family: "playfair display", serif;
    font-weight: 700;
    font-size: 48px;
    color: #1c1b29;
    margin-bottom: 50px;

    @include mobile {
      font-size: 40px;
    }

    @include mobile {
      font-size: 28px;
    }

  }
  &__text {
    @include smallText;
    color: #1c1b29;

    @include tablet {
      order: -1;
      margin-bottom: 20px;
    }
  }

  &__input {

    border: none;
    font-family: "raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1c1b29;
    margin-bottom: 5px;
    outline: none;
    background-color: #f1f5f4;
  }
  &__wrap {
    &::after {
      content: "";
      margin: 3px 0 20px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: #1c1b29;
      opacity: 0.3;
    }
  }

  &__button {
    position: absolute;
    bottom: 200px;
  }
}
