.subscribe-to-digest {
  &__content {
    @include pageGrid();
  }

  &__title {
    margin-bottom: 20px;

    grid-column: span 2;

    @include onTable() {
      grid-column: span 6;
    }

    @include onDesktop() {
      margin-bottom: 0;
    }
  }

  &__text {
    grid-column: span 2;

    @include onTable() {
      grid-column: span 5;
    }

    @include onDesktop() {
      grid-column: span 6;
    }
  }

  &__form {
    grid-column: span 2;

    @include onTable() {
      grid-column: span 5;
    }
  }

  &__input {
    background-color: $page-background-color;
    border: none;
    border-bottom: 1px solid $page-second-color;
    color: $page-second-color;

    padding: 3px 0;
    margin-block: 50px 30px;

    width: 100%;

    @include hover(border-color, $page-main-color);

    &::placeholder {
      font-size: 16px;
      line-height: 150%;
      color: $page-second-color;
    }

    &:hover::placeholder {
      color: $page-main-color;
    }

    @include onDesktop() {
      margin-bottom: 40px;
    }

    &:focus {
      outline: none;
      color: $page-main-color;
      border-color: $page-main-color;

      &::placeholder {
        opacity: 0;
      }
    }
  }

  &__button {
    width: 100%;

    @include onTable() {
      width: 75%;
    }

    @include onDesktop() {
      width: 60%;
    }
  }
}
