.subscription {
  &__container {
    @include onDesktop {
      display: flex;
    }
  }

  &__title {
    margin-bottom: 20px;

    @include onDesktop {
      margin-bottom: 48px;
    }
  }

  &__paragraph {
    margin-bottom: 48px;

    @include onTablet {
      width: 570px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}
