.subscribe {
  color: #fff;
  background-color: $step-color;

  &__wrapper {
    display: block;

    margin: 0 auto;
    max-width: 1440px;
    background-color: $step-color;

    @include for-laptops {
      display: flex;
      align-items: flex-end;
    }
  }

  &__text {
    padding-left: 55px;

    @include for-small-desktops {
      padding-left: 99px;
    }

    @include for-phone {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__header {
    padding: 160px 0 40px;
    font-size: 48px;
    line-height: 58px;

    @include for-small-desktops {
      font-size: 36px;
      line-height: 36px;
    }

    @include for-phone {
      font-size: 36px;
      line-height: 36px;
      padding: 80px 0 40px;
    }
  }

  &__info {
    padding: 0 70px 160px 0;
    @include second-font-small;

    @include for-phone {
      padding: 0 0 60px;
    }
  }

  &__form {
    padding-bottom: 160px;
    padding-right: 160px;
    color: #fff;
    padding-left: 55px;

    @include for-small-desktops {
      padding-left: 99px;
    }

    @include for-small-desktops {
      padding-left: 20px;
    }

    @include for-phone {
      padding: 0 0 80px 20px;
    }
  }

  &__email {
    width: 300px;
    @include second-font-small;
    border: 0;
    border-bottom: 2px solid #eee;
    background-color: $step-color;

    @include for-phone {
      width: 200px;
    }

    &::placeholder {
      color: white;
    }
  }

  &__submit {
    display: none;
  }

  &__img {
    position: relative;
    cursor: pointer;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    top: 5px;
    left: 30px;

    @include for-laptops {
      border: 0;
      top: 50px;
      left: 320px;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}
