.subscribe-digest {
  &__content {
    @include inline-content-padding;
    @include grid-layout;

    @include on-desktop {
      row-gap: 50px;
      align-items: center;
    }
  }

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 20px;

    @include on-desktop {
      grid-column: 1 / 7;
      margin-bottom: 0;
    }
  }

  &__text {
    grid-column: 1 / -1;
    margin-bottom: 50px;

    @include main-text-style;

    @include on-tablet {
      grid-column: 1 / 6;
    }

    @include on-desktop {
      grid-column: 7 / 13;
      grid-row: 1 / 2;
      margin-bottom: 0;
    }
  }

  &__form {
    grid-column: 1 / -1;

    @include grid-layout;
  }

  &__input {
    grid-column: 1 / -1;
    margin-bottom: 30px;

    @include on-tablet {
      grid-column: 1 / 5;
    }

    @include on-desktop {
      grid-column: 1 / 6;
      margin-bottom: 40px;
    }
  }

  &__button {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }
  }
}
