.subscribe {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @include onTablet {
    @include pageGrid;
  }

  @include onDesktop {
    padding-top: 200px;
  }

  &__title {
    padding-top: 120px;
    color: $black;
    font-family: "Playfair Display", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    width: 280px;

    @include onTablet {
      width: 100%;
      padding-top: 160px;
      font-size: 40px;
    }

    @include onDesktop {
      font-size: 48px;
      padding-top: 0;
    }

    &-wrapper {
      grid-column: 1 / 6;

      @include onDesktop {
        grid-column: 1 / 5;
      }
    }
  }

  &__info {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: $black;
    margin-top: 20px;
    width: 280px;

    @include onTablet {
      width: 100%;
    }

    @include onDesktop {
      margin-top: 0;
    }

    &-wrapper {
      grid-column: 1 / 6;

      @include onDesktop {
        grid-column: 7 / 13;
        align-self: start;
      }
    }
  }

  &__form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &-wrapper {
      padding-bottom: 80px;

      @include onTablet {
        grid-column: 1 / 5;
        padding-bottom: 128px;
      }

      @include onDesktop {
        grid-column: 1 / 6;
        padding-bottom: 200px;
      }
    }
  }

  &__input {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    width: 280px;
    color: $black;
    border: none;
    border-bottom: 1px solid $black;
    background-color: $white;
    outline: none;

    &::placeholder {
      font-weight: 400;
    }

    &:hover::placeholder,
    &:hover:invalid {
      border-color: $orange;
      color: $orange;
    }

    &:focus:invalid {
      border-color: $orange;
      color: $orange;
    }

    &:focus::placeholder {
      color: $orange;
      opacity: 0;
    }

    @include onTablet {
      width: 450px;
    }

    @include onDesktop {
      width: 470px;
    }

    transition: all $duration;
  }

  &-button {
    margin-top: 30px;

    @include onDesktop {
      margin-top: 40px;
    }
  }
}
