.subscribers {
  &__title {
    font-family: Playfair Display, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    padding: 90px 0 60px;

    color: #1c1b29;

    @include onTablet {
      font-size: 40px;
      line-height: 50px;
      padding: 0 0 75px;
    }
    @include onDesktop {
      font-size: 48px;
      line-height: 58px;
      padding: 0 0 71px;
    }
  }

  &__text {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 20px;

    color: #1c1b29;
    &--date {
      color: #cd4d31;
      padding-top: 20px;

      @include onTablet {
        padding-top: 30px;
      }
    }
  }
}
