.subscribe {
  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  &__title {
    padding-top: 120px;
    color: #1c1b29;
    font-family: "Playfair Display", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
  }

  &__info {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #1c1b29;
    margin-top: 20px;
  }

  &__form-wrapper {
    &__form {
      margin-top: 50px;
      display: flex;
      justify-content: center;
    }
  }

  &__input {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 280px;
    color: #1c1b29;
  }

  &-button {
    margin-top: 30px;
  }
}
