.subscribe {
  &__content {
    padding-bottom: 80px;

    @include onTablet {
      padding-bottom: 130px;
    }

    @include onDesktop {
      padding-bottom: 200px;
    }
  }

  &__title {
    font-family: "Playfair Display", "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;

    color: $c-black;

    @include onTablet {
      font-size: 40px;
    }

    @include onDesktop {
      font-size: 48px;
    }
  }
}
