.subscribers {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
  }
  &__title {
    font-family: Playfair Display, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    padding-top: 130px;

    color: #1c1b29;

    @include onTablet {
      font-size: 40px;
      line-height: 50px;
      padding-top: 160px;
    }
    @include onDesktop {
      font-size: 48px;
      line-height: 58px;
      padding-top: 200px;
    }
  }

  &__text {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 20px;

    color: #1c1b29;
    @include onTablet {
      padding-top: 20px;
    }
    @include onDesktop {
      padding-top: 200px;
    }
    &--date {
      color: #cd4d31;
      padding-top: 20px;

      @include onTablet {
        padding-top: 30px;
      }
    }
  }
  .email {
    padding-top: 50px;

  }
  &__form {
    display: block;
    box-sizing: border-box;
    width: 270px;
    height: 30px;
    border: none;
    text-decoration: none;
    border-bottom: 1px solid black;
    transition: background-color 0.3s;
    @include onTablet {
      width: 450px;
    }
    @include onDesktop {
      width: 470px;
    }
  }
  &__buttonpad {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    padding: 30px 0 80px;
    @include onTablet {
      padding: 40px 0 128px;
    }
    @include onDesktop {
      padding-top: 50px 0 200px;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border: 1px solid $buttoncolor;
    background-color: $buttoncolor;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: $grantext;
    text-decoration: none;
    cursor: pointer;
    width: 270px;
    height: 60px;

    &:hover {
      transition: 0.5s;
      background-color: $buttonhover;
      border: 1px solid $buttonhover;
    }
  }
}
