.subtitle-main {
  margin: 10px 0 20px;

  font-size: 20px;
  line-height: 125%;
  color: $color-text-title;

  @include onTablet {
    font-size: 24px;
  }

  &__news {
    margin-top: 0;

    @include onTablet {
      font-size: 20px;
      line-height: 150%;
    }
  }
}
