.suscribe {
  @include onDesktop {
    margin-top: 200px;
  }

  &__title {
    grid-column: 1 / -1;
    margin-top: 120px;

    @include onTablet {
      margin-top: 160px;
    }

    @include onDesktop {
      grid-column: span 6;
      margin-top: 0;
    }
  }

  &__text {
    @include mainText;
    color: $black;
    grid-column: 1 / -1;
    margin-top: 20px;

    @include onTablet {
      grid-column: span 5;
    }

    @include onDesktop {
      grid-column: span 6;
      margin-top: 0;
    }
  }
}
