.text {
  font-family: $font-family-text;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;

  &--span {
    color: $color-main;
  }

  &--description {
    margin: 0;
    color: $color-gray;
  }
}
