.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: $text-color-white;

  @include onTablet {
    font-size: 72px;
    line-height: 72px;
  }

  @include onDesktop {
    font-size: 96px;
    line-height: 96px;
  }
}

.subtitle {
  font-size: 36px;
  line-height: 45px;

  @include onTablet {
    font-size: 48px;
    line-height: 56px;
  }
}
