.text {
  display: block;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: $white-color;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;

  &--date {
    color: $white-color;
    font-size: 14px;
    line-height: 125%;
  }

  &--line {
    flex: 1;
    height: 1px;
    background-color: $white-color;
    opacity: 0.3;
  }
}
