.text-wrap {
  display: block;

  @include onDesktop {
    display: initial;
  }

  @include onTablet {
    display: initial;
  }

  &--header-title {

    @include onTablet {
      padding-left: 46px;
    }

    @include onDesktop {
      padding-top: 10px;
      padding-left: 0;
    }
  }
}
