.text {
  &__term {
    display: block;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #cd4d31;
    margin-bottom: 10px;

    @include onTablet {
      margin-top: 76px;
    }

    @include onDesktop {
      margin-top: 80px;
    }
    &--digest {
      color: #1c1b29;
    }
  }

  &__article {
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #504f5e;
    margin-top: 20px;
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }

  }

  &__title-article {
    font-family: Playfair Display, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 125%;
    color: #1c1b29;

    @include onTablet {
      font-size: 24px;
    }

    @include onDesktop {
      font-size: 24px;
    }
  }
}
