.the-closest-events {
  @include pageGrid;
  @include contentPaddingInline;
    margin-top: 120px;

  @include onTablet {
    margin-top: 164px;
  }

  @include onDesktop {
    margin-top: 200px;
  }
}
