.third-event {

  &__text {

    @include for-notebook {

    }

    @include for-laptops {
      padding-left: 140px;
    }

    @include for-small-desktops {
      padding-left: 10px;
    }

    @include for-tablet {
      padding-left: 40px;
    }
  }

  &__time {
    padding-bottom: 10px;

    @include second-font-small;
    color: $step-color;

    @include for-phone {

    }
  }

  &__subtitle {
    padding-bottom: 20px;

    font-size: 24px;
    line-height: 30px;
    color: #1c1b29;

    @include for-phone {

    }
  }

  &__info {
    width: 370px;
    padding-bottom: 50px;

    @include second-font-small;
    color: #504f5e;

    @include for-small-desktops {
     width: 270px;
    }

    @include for-tablet {
      width: 270px;
    }
  }

  &__btn {
    display: none;
    height: 60px;
    width: 270px;

    background-color: $step-color;

    @include second-font-small;
    color: white;
    line-height: 60px;
    text-align: center;

    @include for-laptops {
      display: inline-block;
    }
  }

  &__image {
    position: relative;
    display: inline-block;

    @include for-small-desktops {
      width: 300px;
      top: -45px;
    }

    @include for-tablet {
      width: 250px;
      top: 0;
    }

    @include for-phone {
      display: none;
    }
  }

  &__img {
    display: none;

    @include for-phone {
      display: inline-block;
    }
  }
}
