.title {
  font-family: "Playfair Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  color: #F1F5F4;
  margin-bottom: 30px;

  &__third {
    color: #1C1B29;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 60px;
  }

  &__fourth {
    color: #1C1B29;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
  }

  &__second {
    font-size: 38px;
    line-height: 38px;
    margin-bottom: 20px;
  }
}
