.section__title {
  font-family: Playfair Display, sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;

    @include on-tablet {
      font-size: 40px;
      line-height: 50px;

    }

    @include on-desktop {
      font-size: 48px;
      line-height: 58px;
    }
}