.title {
  padding: 20px 0 30px;
  font-size: 28px;
  text-align: center;
  @include bold-font(700);
  line-height: 120%;
  color: $main-color-dark;

  @include onScreen769 {
    font-size: 72px;
  }

  @include onScreen1025 {
    padding: 100px 0 50px;
    font-size: 48px;
  }
}
