.titles {
  color: $mainColor;
  padding-bottom: 40px;

  &__date {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  &__title {
    max-width: 569px;
    margin-bottom: 30px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: $mainColor;

    @include onTablet {
      margin-bottom: 20px;
      font-size: 72px;
    }

    @include onDesktop {
      font-size: 96px;
    }
  }

  &__subtitle {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 150%;

    @include onTablet {
      margin-bottom: 50px;
    }

    @include onDesktop {
      margin-bottom: 80px;
    }
  }

  &__date--form {
    display: none;

    @include onDesktop {
      display: block;

      font-family: "Playfair Display", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 125%;
      color: $mainColor;
      opacity: 0.7;

      &::after {
        display: block;
        width: 470px;
        height: 1px;
        content: "";
        background-color: $mainColor;
        transform: translate(100px, -8px);
        opacity: 0.3;

      }
    }
  }
}
