@import '../utils/vars';
@import '../utils/mixins';

.title {
  font-family: "Playfair Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  color: $color-white;
  margin-bottom: 30px;

  @include for-tablet {
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 20px;
  }

  @include for-desktop {
    font-size: 96px;
    line-height: 96px;
    margin-bottom: 30px;

    &--br {
      display: block;
    }
  }

  &__second {
    font-size: 38px;
    line-height: 38px;
    margin: 50px 20px 20px;

    @include for-tablet {
      font-size: 62px;
      line-height: 62px;
      margin: 80px 0 20px;
    }
  }

  &__third {
    color: $color-black;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 60px;

    &--subscribe {
      margin-bottom: 20px;
    }

    @include for-tablet {
      font-size: 40px;
      line-height: 50px;
    }
  }

  &__fourth {
    color: $color-black;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;

    @include for-tablet {
      font-size: 24px;
      line-height: 30px;
    }

    &--exhibitions {
      margin-bottom: 50px;
    }
  }

  &__contact-us {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;

    @include for-tablet {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }
}
