.title-block {
  margin-bottom: 0;

  @include onTablet {
    display: grid;
    grid-template-columns: 1fr 270px;
    align-items: center;
    margin-bottom: 70px;

  }

  @include onDeskTop {
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr 270px;
    align-items: center;
  }
}
