.tittle {
  font-family: "Playfair Display", serif;
  color: $second-text-color;
  font-size: 28px;
  font-weight: 700;
  line-height: 125%;

  @include onTablet {
    font-size: 40px;
  }

  @include onSmallDesktop {
    font-size: 48px;
  }
}
