.to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  right: -200px;
  bottom: 20px;
  border-radius: 50%;

  background-color: $backgroudGrey;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  background-image: url(../images/icons/scroll-up.png);
}

.show {
  right: 20px;
}
