.to-top {
  width: 40px;
  height: 40px;

  left: 100%;
  bottom: 0;

  border-radius: 50%;

  transition: transform 0.3s;

  background-color: rgba(63, 82, 82, 1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  background-image: url(../images/scroll-up.png);
}
