.top-action {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onDesktop {
    padding: 32px 0;
  }

  &__logo {
    width: 123px;
    height: 25px;
    @include img-container;
  }

  &__logo-img {
    @include img(contain);
  }

  // &__icons {
  // }

  &__menu {
    display: inline-block;

    width: 25px;
    height: 20px;
    @include img-container;
  }

  &__menu-icon {
    @include img(contain);
  }

  // &__lang {
  // }
}
