.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;
  grid-column: 1 / -1;

  @include onDesktop {
    padding-block: 32px;
  }

  &__logo {
    display: block;
    height: 40px;
    width: 123px;
    @include hover(transform, scale(1.2));
  }
}
