.top-actions {
  display: grid;
  grid-template-columns: 1fr 25px;
  gap: 30px;
  max-width: 1200px;
  padding: 20px 20px 0;

  @include onTablet {
    grid-template-columns: 1fr 25px 40px;
    padding: 20px 40px 0;
  }

  &--menu {
    grid-template-columns: 1fr 40px 25px;

    @include onTablet {
      grid-template-columns: 1fr 25px 40px;
    }
  }
}
