.top-nav {
  padding-bottom: 27px;

  @include onTablet {
    height: 77px;
    padding-bottom: 57px;
  }
  @include onDesktop {
    height: 90px;
    padding-bottom: 15px;
  }

  &__logo {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    @include onTablet {
      padding-top: 26px;
    }
    @include onDesktop {
      padding-top: 32px;
    }
    .WBlogo {
      display: block;
      width: 117px;
      height: 28px;
      background-repeat: no-repeat;
      transition: all 0.3s;
      background-image: url(../images/NAMU.png);
      &:hover {
        background-image: url(../images/NAMUbla.png);
      }
    }
    .xmenu {
      display: flex;
      justify-content: end;
      align-items: center;
    }
    .langMob {
      display: flex;
      background-color: #3f5252;
      border: none;
      color: #f1f5f4;
      cursor: pointer;
      margin-right: 27px;
      @include onTablet {
        display: none;
      }
    }
    .lang {
      display: none;
      background-color: #3f5252;
      border: none;
      color: #f1f5f4;
      cursor: pointer;
      @include onTablet {
        display: flex;
        align-items: center;
      }
      @include onDesktop {
        display: flex;
        align-items: center;
      }
    }

    .ua {
      margin-right: 5px;
    }

    .menuBackgr {
      display: block;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      transition: all 0.3s;
      background-image: url(../images/menu.png);
      &:hover {
        background-image: url(../images/menuBla.png);
      }
    }
    .menuAC {
      @include onTablet {
        margin-right: 32px;
      }
    }
    .crossBackgr {
      display: block;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      transition: all 0.3s;
      background-image: url(../images/cross.png);
      &:hover {
        background-image: url(../images/crossBla.png);
      }
    }
    .crossAC {
      @include onTablet {
        margin-right: 32px;
      }
    }
  }
}
