.top-action {
  display: grid;
  grid-template-columns: 1fr $icon-width-mobile;
  align-items: center;

  margin-bottom: 70px;

  @include onTablet {
    grid-template-columns: 1fr $icon-width-tablet $icon-width-tablet;
    column-gap: 40px;

    margin-bottom: 125px;
  }
}
