.top-image {
  margin: 0 auto;
  height: 273px;
  width: 245px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &--header {
    background-image: url(../images/header-img-320.png);

    @include on768 {
      height: 494px;
      width: 443px;
      background-image: url(../images/header-img-768.png);
    }

    @include on1280 {
      height: 663px;
      width: 625px;
      background-image: url(../images/header-img-1280.png);
    }
  }

  &--footer {
    display: none;

    @include on768 {
      display: block;
      height: 466px;
      width: 422px;
      background-image: url(../images/menu-img-768.png);
    }

    @include on1280 {
      height: 697px;
      width: 624px;
      background-image: url(../images/menu-img-1280.png);
    }
  }
}
