.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;

  @include onScreen820 {
    margin-bottom: 0;
  }

  @include onScreen769 {
    margin: 0;
  }

  &--right {
    display: flex;

    @include onScreen769 {
      gap: 40px;
    }
  }

  &--select {
    border: none;
    background: transparent;
    @include main-font(200);
    color: $main-color-light;
    outline: none;
    width: 20px;

    &:hover {
      border: 1px solid $main-color-light;
      border-radius: 13%;
    }

    @include onScreen769 {
      width: 50px;
    }
  }
}
