.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--right {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &--select {
    width: 50px;
    border: none;
    background: transparent;
    @include main-font(200);
    color: $main-color-light;
  }
}
