.top-scroll {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: grid;
  place-content: center;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: $main-color;

  font-size: 22px;
  color: #fff;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #dd836f;
  }

  &__image {
    height: 30px;
    width: 30px;
  }
}
