.top-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: grid;
  place-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: $background;
  font-size: 22px;
  color: $white;
  opacity: 1;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: $main;
  }

  &__img {
    width: 30px;
    height: 30px;
  }
}
