.top-nav {
  padding-bottom: 27px;

  @include onTablet {
    height: 77px;
    padding-bottom: 57px;
  }
  @include onDesktop {
    height: 90px;
    padding-bottom: 15px;
  }

  &__logo {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    @include onDesktop {
      padding-top: 32px;
    }

    .xmenu {
      display: flex;
      justify-content: end;
      align-items: center;
    }

    .uaion {
      display: none;
      @include onTablet {
        display: flex;
        align-items: center;
      }
      @include onDesktop {
        display: flex;
        align-items: center;
      }
    }

    .ua {
      margin-right: 5px;
    }

    .menuAC {
      margin-right: 32px;
    }
  }
}
