.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;

  @include onMedium {
    margin-bottom: 124px;
  }

  @include onDesktop {
    margin-bottom: 122px;
  }
}
