.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  width: 100%;

  @include onTablet {
    height: 77px;
  }

  @include onDesktop {
    height: 90px;
  }

  &__navigation {
    display: flex;
    align-items: center;

    @include onTablet {
      column-gap: 40px;
    }
  }
}
