.twenty-century-art {
  // display: flex;
  // justify-content: right;

  &__date {
    color: red;
  }

  &__picture {
    margin-left: 40vw;
    background-image: url(../images/1243603241.png);
    background-repeat: no-repeat;
    width: 609px;
    height: 336px;
    background-size: contain;
    background-position: bottom;
    z-index: 1;
  }

  &__picture-decoration {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 144px;
    line-height: 100%;
    // display: flex;
    // align-items: center;
    text-transform: uppercase;

    opacity: 0.3;

    color: transparent;
    -webkit-text-stroke: 1px #3f5252;
    // text-stroke: 1px white;
    z-index: -1;
  }
}
