.up {
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 30px;
  height: 30px;

  @include hover(transform, scale(1.2));

  background-image: url(../images/icons/icon-scroll-up.svg);

  @include on-tablet {
    right: 39px;
    bottom: 30px;
  }

  @include on-desktop {
    right: 55px;
  }
}
