.upcoming-events {
  &__title {
    @include h2-style;
    margin-bottom: 63px;

    @include onTablet {
      margin-bottom: 55px;
    }

    @include onMobile {
      margin-bottom: 60px;
    }
  }

  &__event {
    margin-bottom: 70px;

    @include onTablet {
      margin-bottom: 60px;
    }
  }

  &__link {
    margin-bottom: 184px;

    @include onTablet {
      margin-bottom: 120px;
    }

    @include onMobile {
      margin-bottom: 80px;
    }
  }
}
