.upcoming-events {
  padding: 120px 0 90px;

  @include onTablet {
    padding: 160px 0 100px;
  }

  &__title {
    margin-bottom: 60px;
    @extend %h3;
  }
  
  &__button {

    &--top {
      display: none;

      @include onTablet {
        display: flex;
      }
    }

    &--bottom {
      @include onTablet {
        display: none;
      }
    }
  }
}
