.upcoming {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;


  &__title {
    align-self: center;
    font-size: 48px;
    line-height: 58px;
    color: #1c1b29;

    @include for-phone {
      line-height: 45px;
      font-size: 36px;
    }
  }


  &__block {
    position: relative;
    margin: 65px 55px;
    display: flex;
    align-items: center;

    @include for-phone {
      margin: 60px 0;
    }
  }


  &__tim {
    margin-top: -150px;
    padding-right: 30px;
  }


  &__date {
    font-size: 55px;
    line-height: 55px;
    color: #CD4D31;

    @include for-phone {
      @include second-font-small;
      position: absolute;
      top: 0;
      left: 30px;
    }
  }

  &__time {
    padding-left: 40px;
    font-size: 36px;
    line-height: 36px;
    color: #CD4D31;

    @include for-phone {
      @include second-font-small;
      position: absolute;
      top: 0;
      left: 80px;
      padding-left: 0;
    }
  }


  &__text {
    width: 500px;
    color: #1C1B29;
  }

  &__type {
    padding-bottom: 10px;
    @include second-font-small;
    font-size: 14px;
    line-height: 20px;

    @include for-phone {
      @include second-font-small;
      padding-left: 120px;
    }
  }

  &__subtitle {
    padding-bottom: 8px;
    font-size: 24px;
    line-height: 30px;
  }

  &__info {
    padding-bottom: 60px;
    @include second-font-small;
    color: #504f5e;
  }

  &__btn {
    display: inline-block;
    height: 60px;
    width: 270px;

    background-color: $step-color;

    @include second-font-small;
    color: white;
    line-height: 60px;
    text-align: center;

    @include for-phone {
      width: 280px;
    }
  }

  &__img {
    padding-left: 160px;
    padding-right: 55px;
    display: none;

    @include for-laptops {
      display: block;
    }

    &--2 {
      padding-left: 55px;
    }
  }

  &__link {
    align-self: center;
    padding-right: 0;
    padding-bottom: 5px;
    margin-bottom: 130px;
    border-bottom: 1px solid black;

    @include second-font-small;
    line-height: 16px;
    color: #1c1b29;

    @include for-laptops {
      border: 0;
      align-self: flex-end;
      padding-bottom: 184px;
      padding-right: 200px;
    }
  }
}
