.visit-to-museum {
  padding: 48px 0;
  background-color: $background-color;
  color: $font-color;

  &__container {
    @include onDesktop {
      margin-left: 40%;
    }
  }

  @include onTablet {
    padding: 80px 0;
  }

  @include onDesktop {
    background-image: url(../images/pictures/visit_image.png);
    background-repeat: no-repeat;
    padding: 204px 0;
  }

  &__title {
    margin-bottom: 20px;

    @extend %font-title;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;

    @include onTablet {
      width: 450px;

      font-size: 62px;
    }

    @include onDesktop {
      width: 670px;

      font-size: 80px;
    }
  }

  &__paragraph {
    margin-bottom: 40px;

    @include onTablet {
      width: 450px;
      margin-bottom: 60px;
    }

    @include onDesktop {
      margin-bottom: 48px;
    }
  }
}
