.visit-museum {
  padding-top: 100px;
  @include onDesktop {
    padding-top: 110px;
  }
  &__box {
    background-color: #3f5252;
    height: 100%;
    @include onDesktop {
      display: flex;
      flex-direction: row;
    }
  }

  &__imgv {
    display: none;
    justify-content: center;

    @include onDesktop {
      display: flex;
    }

    .img_mus {
      @include onDesktop {
        height: 800px;
        width: 578px;
      }
    }
  }

  &__title {
    padding: 50px 0 20px;
    font-family: Playfair Display, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;

    color: $grantext;

    @include onTablet {
      padding: 80px 0 20px;
      font-size: 62px;
      line-height: 62px;
    }
    @include onDesktop {
      font-size: 80px;
      line-height: 80px;
      padding: 220px 0 55px;

    }
  }
  &__data-next {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: $grantext;
    width: 470px;
  }
  .container-visit {
    display: flex;
    margin: 0 20px;
    @include onTablet {
      margin: 0 40px;
    }

    @include onDesktop {
      margin: 0;
      padding-right: 55px;
    }
  }
}
