.plan {
  box-sizing: border-box;
  background-color: $main-color;
  margin-bottom: 90px;
  padding: 50px 0;

  @include onTablet {
    margin-bottom: 125px;
    padding: 80px 0;
  }

  @include onDesktop {
    margin-bottom: 110px;
    padding: 250px 0;
    background-image: url(..//images/plan_img.svg);
    background-repeat: no-repeat;
    background-size: 573px;
    background-position: bottom left 0;
  }

  &__title {
    font-family: inherit;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    color: #f1f5f4;
    margin: 0 0 20px;

    @include onTablet {
      font-size: 62px;
    }

    @include onDesktop {
      font-size: 80px;
      margin: 0 0 10px;
    }
  }

  &__description {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #f1f5f4;
    opacity: 0.8;
    margin: 0 0 40px;

    @include onTablet {
      margin: 0 0 60px;
    }

    @include onDesktop {
      margin: 0 0 50px;
    }
  }

  &__button {
    width: 280px;

    @include onTablet {
      width: 330px;
    }

    @include onDesktop {
      width: 270px;
    }
  }
}
