.visit {
  background-color: #3f5252;

  &__title {
    color: #f1f5f4;
    font-family: "Playfair Display", sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    padding-top: 50px;

    @include onTablet {
      font-size: 62px;
      width: 570px;
      padding-top: 80px;
    }

    @include onDesktop {
      width: 670px;
      font-size: 80px;
    }

    &-wrapper {
      display: flex;
      justify-content: center;

      @include onTablet {
        justify-content: start;
      }
    }
  }

  &__info {
    margin-top: 20px;
    margin-bottom: 40px;

    @include onTablet {
      width: 450px;
      margin-bottom: 60px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }

    &-wrapper {
      display: flex;
      justify-content: center;

      @include onTablet {
        justify-content: start;
      }
    }
  }

  &__button {
    &-wrapper {
      padding-bottom: 50px;
      display: flex;
      justify-content: center;

      @include onTablet {
        justify-content: start;
        padding-bottom: 80px;
      }

      @include onDesktop {
        padding-bottom: 154px;
      }
    }
  }

  &__picture {
    @include onDesktop {
      background-image: url(../images/picture/visit-picture-desktop.png);
      object-fit: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 578px;
      height: 800px;

      &-wrapper {
        display: flex;
        justify-content: start;
        position: absolute;
      }
    }
  }

  &__content {
    padding-inline: 20px;

    @include onDesktop {
      padding-inline: 38px;
      display: flex;
      flex-direction: column;
      align-items: end;
      position: relative;
      padding-top: 205px;
    }
  }
}
