.visit-us {
  background: $dark-green;
  padding: 80px 20px;

  &__heading {
    font-family: "Playfair Display", Arial, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: $light-font-color;
    margin-bottom: 30px;
  }

  &__description {
    font-family: Raleway, Arial, sans-serif;
    line-height: 24px;
    color: $light-font-color;
    margin-bottom: 60px;
  }

  &__start-visit-button {
    display: block;
    height: 60px;
    width: 280px;
    background: $red-color;

    font-family: Raleway, Arial, sans-serif;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: $light-font-color;
  }
}
