.visits {
  background-color: $heder-bgc-color;

  &__content {
    height: 416px;

    @include onTablet {
      height: 515px;
    }

    @include onDesktop {
      height: 800px;
    }
  }

  &__photo {
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &__image {
    width: 578px;
    height: 800px;

    background-image: url(/images/photos/photo_7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__information {
    padding-top: 50px;

    @include onTablet {
      padding-top: 80px;
    }

    @include onDesktop {
      padding-top: 205px;
      padding-left: 500px;
    }
  }

  &__title {
    margin-bottom: 20px;

    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;

    @include onTablet {
      font-size: 62px;
    }

    @include onDesktop {
      font-size: 80px;
      margin-bottom: 10px;
    }
  }

  &__text {
    margin-bottom: 40px;

    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    @include onTablet {
      margin-bottom: 60px;
      width: 450px;
    }

    @include onDesktop {
      margin-bottom: 50px;
      width: 470px;
    }
  }

  &__button {
    width: 100%;

    @include onTablet {
      width: 330px;
    }

    @include onDesktop {
      width: 270px;
    }
  }
}
