.visitation {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: $header-bg-color;
  color: $header-gray-text;

  @include onTablet {
    display: grid;
    grid-template-columns: 0.9fr;

    padding-left: 18px;
  }

  &__plan {
    padding: 170px 20px;
  }

  &__title {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;

    @include onTablet {
      font-size: 62px;
      line-height: 62px;
    }
  }

  &__text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &__button {
    align-items: left;
    justify-content: left;
  }

  &__photo {
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &__image {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    height: auto;
    margin-left: -17px;
  }

  &__container {

    @include onDesktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
