.visit-plan {
  box-sizing: border-box;
  background: $color-darkGreen;
  color: $color-lightGray;
  height: 416px;

  @include onTablet {
    height: 515px;
  }

  @include onDesktop {
    height: 800px;
  }

  &__content {
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

    @include onDesktop {
      display: flex;
      flex-direction: row;
    }

    &-info {

      @include onDesktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    &-text {
      line-height: 24px;
      width: 280px;

      @include onTablet {
        width: 450px;
      }

      @include onDesktop {
        display: flex;
        width: 470px;
      }
    }

    &-title {
      padding-top: 50px;
      margin-bottom: 30px;
      font-family: "Playfair Display", sans-serif;
      font-weight: 700;
      font-size: 38px;
      line-height: 38px;

      @include onTablet {
        padding-top: 80px;
        margin-bottom: 20px;
        font-size: 62px;
        line-height: 62px;
      }

      @include onDesktop {
        width: 640px;
        font-size: 80px;
        line-height: 80px;
      }
    }
  }

  &__image {
    margin-left: -56px;
    z-index: 0;
    display: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    background-image: url("/images/img_07.png");

    @include onDesktop {
      display: flex;
      height: 800px;
      width: 578px;
    }
  }

  &__button {
    margin-top: 40px;

    @include onTablet {
      margin-top: 60px;
    }

    @include onDesktop {
      margin-top: 50px;
    }
  }
}
