.visit-museum {
  background-color: #3f5252;

  &__imgv {
    display: none;
    justify-content: center;

    @include onDesktop {
      display: flex;
    }

    .img_mus {
      @include onDesktop {
        height: 800px;
        width: 578px;
      }
    }
  }

  &__title {
    padding: 50px 0 20px;
    font-family: Playfair Display, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;

    color: $grantext;

    @include onTablet {
      font-size: 62px;
      line-height: 62px;
      margin: 80px 0 20px;
    }
    @include onDesktop {
      font-size: 80px;
      line-height: 80px;
    }
  }

  &__data-next {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: $grantext;
  }
}
