.vystavku {
  background-color: $white;
  padding-top: 90px;
  margin-bottom: 120px;

  @include onTablet {
    padding-top: 105px;
    margin-bottom: 164px;
  }

  @include onDesktop {
    padding-top: 110px;
    margin-bottom: 200px;
  }

  &__title {
    width: 280px;
    height: 35px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: $black;
    margin-bottom: 60px;

    @include onTablet {
      width: 450px;
      height: 50px;
      font-size: 40px;
      margin-bottom: 75px;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 120%;
      width: 570px;
      height: 58px;
      margin-bottom: 71px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &:last-of-type {
      margin-bottom: 30px;
    }

    &-button {
      @include onDesktop {
        width: 270px;
      }
    }

    &-image {
      width: 100%;
      height: 356px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      margin-bottom: 20px;

      @include onTablet {
        margin-bottom: 30px;
      }

      @include onDesktop {
        margin-bottom: 20px;
      }

      &-1 {
        background-image: url(../images/vystavka1.png);
      }

      &-2 {
        background-image: url(../images/vystavka2.png);
      }

      @include onTablet {
        height: 420px;
      }

      @include onDesktop {
        height: 484px;
      }

    }

    &-date {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $main-orange;
      margin-bottom: 10px;
    }

    &-title {
      color: $black;
      margin-bottom: 20px;

      @include onTablet {
        font-size: 24px;
        line-height: 125%;
      }
    }

    &-text {
      color: $gray;
      margin-bottom: 30px;

      @include onTablet {
        margin-bottom: 40px;
      }

      @include onDesktop {
        margin-bottom: 50px;
      }

    }
  }


}



