.working2 {
  @include block-padding;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;

  @media (max-width: $iPhoneSE) {
    grid-template-columns: 1fr;
  }

  &__status {
    @extend %status;
  }

  &__subtitle {
    @extend %subtitle;
  }

  &__text {
    @extend %event-text;

    @media (max-width: $iPhoneSE) {
      justify-self: end;
    }
  }

  &__btn {
    @extend %orange-btn;
  }

  &__layout {
    position: relative;
    @media (max-width: $iPadMini) {
      visibility: hidden;
    }

    @media (max-width: $iPhoneSE) {
      display: none;
    }
  }

  &__event {
    display: grid;
    align-content: center;
    justify-content: end;
    margin-right: 40px;
    padding-top: $verticalPadding;
    padding-bottom: $verticalPadding;
    padding-left: $horizontalPaddings;

    @media (max-width: $iPadMini) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    @media (max-width: $iPhoneSE) {
      margin-right: 0;
      justify-content: start;
      padding-left: 0;
    }
  }

  &__letters {
    position: absolute;
    max-width: 576px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 8vw;
    line-height: 9.5vw;
    text-transform: uppercase;
    word-wrap: break-word;
    color: #fff;
    text-shadow: #3f5252 0 0 1px;
  }

  &__img {
    position: absolute;
    top: 55px;
    left: 50px;
  }
}
