.working3 {
  @include block-padding;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;

  @media (max-width: $iPhoneSE) {
    grid-template-columns: 1fr;
  }

  &__status {
    @extend %status;
  }

  &__subtitle {
    @extend %subtitle;
  }

  &__text {
    @extend %event-text;
  }

  &__btn {
    @extend %orange-btn;
    margin-bottom: 170px;
  }

  &__layout {
    position: relative;

    @media (max-width: $iPadMini) {
      visibility: hidden;
    }

    @media (max-width: $iPhoneSE) {
      display: none;
    }
  }

  &__event {
    display: grid;
    align-content: center;
    padding-top: $verticalPadding;
    padding-right: $horizontalPaddings;

    @media (max-width: $iPhoneSE) {
      padding-right: 0;
    }

  }

  &__letters {
    position: absolute;
    width: 576px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    text-transform: uppercase;
    word-wrap: break-word;
    color: #fff;
    text-shadow: #3f5252 0 0 1px;
    font-size: 10vw;
    line-height: 11vw;
  }

  &__img {
    position: absolute;
    top: 40px;
  }

  &__link {
    @extend %block-link;
  }
}
