.сurrent-exhibitions {
  &__wrapper-articles {
    @include pageGrid();
    row-gap: 60px;
  }

  &__article {
    grid-column: span 2;

    @include onTable() {
      grid-column: span 3;
    }

    @include onDesktop() {
      grid-column: span 6;
    }
  }
}
