@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
.container {
  padding-inline: 20px; }
  @media (min-width: 768px) {
    .container {
      padding-inline: 39px; } }
  @media (min-width: 1280px) {
    .container {
      min-width: 1280px;
      margin-inline: auto;
      padding-inline: 55px; } }

.btn {
  height: 60px;
  background-color: #cd4d31;
  border-radius: 4px;
  border: 2px solid transparent;
  color: #eee;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  transition: 0.5s; }
  .btn:hover {
    background-color: #af3419; }
  .btn--secondary {
    display: none;
    align-items: center;
    background-color: #eee;
    border: 2px solid #cd4d31;
    color: #cd4d31;
    background-image: url("/arrow.66cd776b.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 24px center; }
    @media (min-width: 768px) {
      .btn--secondary {
        display: grid; } }
    .btn--secondary:hover {
      background-color: #eee;
      background-image: url("/arrow-hover.57c75d8e.png");
      color: #af3419;
      border: 2px solid #af3419; }
    .btn--secondary--sm {
      display: block;
      width: 100%;
      margin-top: 30px; }
      @media (min-width: 768px) {
        .btn--secondary--sm {
          display: none; } }

.exhibition {
  margin-bottom: 120px; }
  @media (min-width: 768px) {
    .exhibition {
      margin-bottom: 160px; } }
  @media (min-width: 1280px) {
    .exhibition {
      margin-bottom: 200px; } }
  .exhibition__wrapper {
    --columns: 2;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr);
    row-gap: 60px; }
    @media (min-width: 768px) {
      .exhibition__wrapper {
        --columns: 6;
        column-gap: 30px; } }
    @media (min-width: 1280px) {
      .exhibition__wrapper {
        --columns: 12; } }
  .exhibition__angel {
    grid-column: 1 / -1; }
    @media (min-width: 768px) {
      .exhibition__angel {
        grid-column: 1 / 4; } }
    @media (min-width: 1280px) {
      .exhibition__angel {
        grid-column: 1 / 7; } }
  .exhibition__ХХ-XXI {
    grid-column: 1 / -1; }
    @media (min-width: 768px) {
      .exhibition__ХХ-XXI {
        grid-column: 4 / 7; } }
    @media (min-width: 1280px) {
      .exhibition__ХХ-XXI {
        grid-column: 7 / 13; } }

.header {
  background-color: #3f5252;
  background-image: url("/header-bg-sm.24bb2fb9.png");
  background-repeat: no-repeat;
  background-position: bottom 0 center;
  background-size: 300px; }
  @media (min-width: 768px) {
    .header {
      background-size: 500px; } }
  @media (min-width: 1280px) {
    .header {
      background-position: right 0 bottom 0;
      background-size: 600px; } }
  .header__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #eee;
    position: relative; }

.description {
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin: 0;
  margin-top: 50px; }
  @media (min-width: 768px) {
    .description {
      --columns: 6;
      column-gap: 30px; } }
  @media (min-width: 1280px) {
    .description {
      --columns: 12; } }
  @media (min-width: 768px) {
    .description {
      margin-top: 100px; } }
  .description__wrapper {
    grid-column: 1 / -1; }
    @media (min-width: 768px) {
      .description__wrapper {
        grid-column: 1 / 6; } }
    @media (min-width: 1280px) {
      .description__wrapper {
        grid-column: 1 / 7; } }
  .description__schedule {
    font-size: 14px; }
  .description__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    margin-top: 10px; }
    @media (min-width: 768px) {
      .description__title {
        font-size: 72px;
        line-height: 72px; } }
    @media (min-width: 1280px) {
      .description__title {
        font-size: 96px;
        line-height: 96px; } }
  .description__sub-title {
    margin: 0;
    margin-top: 30px; }
  .description__btn-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px; }
    @media (min-width: 768px) {
      .description__btn-wrapper {
        grid-template-columns: repeat(6, 1fr);
        column-gap: 30px; } }
  .description__btn {
    grid-column: 1 / -1;
    margin: 0;
    margin-top: 40px; }
    @media (min-width: 768px) {
      .description__btn {
        grid-column: 1 / 4; } }
  .description__bottom {
    display: none; }
    @media (min-width: 1280px) {
      .description__bottom {
        grid-column: 1 / 7;
        display: grid;
        column-gap: 10px;
        grid-template-columns: repeat(7, 1fr);
        position: absolute;
        bottom: 50px;
        left: 50px; } }
  .description__time {
    grid-column: span 1;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: -3px;
    padding: 0; }
  .description__line {
    grid-column: 2 / 7;
    border-bottom: 1px solid #eee; }

.icon {
  display: block;
  width: 25px;
  height: 20px;
  background-size: cover;
  background-position: center; }
  .icon--menu {
    background-image: url("/icon-menu-sm.41be9779.png"); }
  .icon--arrow--down {
    background-image: url("/icon-arrow-down.679ed4a2.png");
    width: 20px;
    height: 10px; }
  .icon--close {
    background-image: url("/icon-close-sm.e8215104.png"); }
  .icon--hidden {
    display: none; }
    @media (min-width: 768px) {
      .icon--hidden {
        display: block; } }

.main__content {
  display: grid;
  padding-block: 90px; }
  @media (min-width: 768px) {
    .main__content {
      padding-block: 100px; } }
  @media (min-width: 1280px) {
    .main__content {
      padding-block: 110px; } }

.menu {
  height: 100vh;
  background-color: #3f5252;
  color: #eee; }
  .menu__bottom {
    --columns: 2;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr);
    height: 100vh; }
    @media (min-width: 768px) {
      .menu__bottom {
        --columns: 6;
        column-gap: 30px; } }
    @media (min-width: 1280px) {
      .menu__bottom {
        --columns: 12; } }
  .menu__order {
    grid-column: 1  / -1; }
    @media (min-width: 768px) {
      .menu__order {
        grid-column: 1 / 5; } }
    @media (min-width: 1280px) {
      .menu__order {
        grid-column: 1 / 7; } }
  .menu__info-wrapper {
    display: grid;
    grid-template-rows: 2;
    margin-top: 10px; }
    @media (min-width: 768px) {
      .menu__info-wrapper {
        grid-template-rows: 1;
        margin-top: 40px; } }
  .menu__schedule {
    margin: 0;
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
    @media (min-width: 768px) {
      .menu__schedule {
        grid-column: 1 / 3;
        grid-row: 1 / 2; } }
  .menu__adress {
    margin: 0;
    grid-row: 2 / 3; }
    @media (min-width: 768px) {
      .menu__adress {
        grid-column: 3 / 6;
        grid-row: 1 / 2; } }
  .menu__info {
    margin: 0; }
    .menu__info--weigth {
      font-weight: 600; }
  .menu__events {
    padding: 40px 0;
    border-bottom: 1px solid #eee; }
    @media (min-width: 768px) {
      .menu__events {
        padding-top: 70px;
        padding-bottom: 60px; } }
  .menu__event {
    margin: 0; }
    .menu__event:not(:last-child) {
      margin-bottom: 20px; }
    @media (min-width: 768px) {
      .menu__event:not(:last-child) {
        margin-bottom: 60px; } }
  .menu__link {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: #eee; }
    @media (min-width: 768px) {
      .menu__link {
        font-size: 48px;
        line-height: 58px; } }
  .menu__btn-wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px; }
  .menu__btn {
    grid-column: 1 / -1; }
    @media (min-width: 768px) {
      .menu__btn {
        grid-column: 1 / 4; } }
  .menu__img-wrapper {
    grid-column: 1 / -1;
    display: none; }
    @media (min-width: 768px) {
      .menu__img-wrapper {
        grid-column: 2 / 6;
        display: flex;
        align-items: flex-end; } }
    @media (min-width: 1280px) {
      .menu__img-wrapper {
        grid-column: 7 / 13;
        grid-row: 1 / 3; } }
  .menu__img {
    width: 100%; }

.page {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  scroll-behavior: smooth; }
  .page__body {
    height: 100%;
    min-width: 325px;
    padding: 0;
    margin: 0; }
  .page__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
    transition: 0.5s; }
    .page__menu:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all; }
  .page:has(.page__menu:target) {
    overflow: hidden; }

.section-title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #1c1b29;
  margin: 0; }
  @media (min-width: 768px) {
    .section-title {
      font-size: 40px;
      line-height: 50px; } }
  @media (min-width: 1280px) {
    .section-title {
      font-size: 48px;
      line-height: 58px; } }

.top-bar {
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .top-bar__logo {
    height: 40px; }
  .top-bar__icons {
    display: flex;
    gap: 40px; }
  .top-bar__lang {
    display: flex;
    align-items: center; }
    .top-bar__lang--hidden {
      display: none; }
      @media (min-width: 768px) {
        .top-bar__lang--hidden {
          display: inline; } }

.card {
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin: 0;
  margin-bottom: 60px; }
  @media (min-width: 768px) {
    .card {
      --columns: 6;
      column-gap: 30px; } }
  @media (min-width: 1280px) {
    .card {
      --columns: 12; } }
  @media (min-width: 768px) {
    .card {
      margin-bottom: 75px; } }
  @media (min-width: 1280px) {
    .card {
      margin-bottom: 70px; } }
  .card__title {
    grid-column: 1 / -1; }
    @media (min-width: 768px) {
      .card__title {
        grid-column: 1 / 5; } }
    @media (min-width: 1280px) {
      .card__title {
        grid-column: 1 / 6; } }
  .card__btn {
    grid-column: 1 / -1; }
    @media (min-width: 768px) {
      .card__btn {
        grid-column: 5 / 7; } }
    @media (min-width: 1280px) {
      .card__btn {
        grid-column: 10 / 13; } }
  .card__img {
    width: 100%;
    height: 356px;
    object-fit: cover; }
    @media (min-width: 768px) {
      .card__img {
        height: 420px; } }
    @media (min-width: 1280px) {
      .card__img {
        height: 484px; } }
  .card__date {
    color: #CD4D31;
    margin: 0;
    margin-top: 20px; }
  .card__name {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    margin-top: 10px; }
  .card__description {
    margin: 0;
    margin-top: 20px; }
  .card-btn-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    @media (min-width: 768px) {
      .card-btn-wrapper {
        grid-template-columns: repeat(3, 1fr); } }
    @media (min-width: 1280px) {
      .card-btn-wrapper {
        grid-template-columns: repeat(6, 1fr); } }
  .card-btn {
    grid-column: 1 / -1;
    margin-top: 30px; }
    @media (min-width: 768px) {
      .card-btn {
        grid-column: 1 / 3; } }

.events {
  margin-bottom: 90px; }
  @media (min-width: 768px) {
    .events {
      margin-bottom: 120px; } }
  .events__wrapper {
    display: grid;
    row-gap: 60px; }
  .events__excursion {
    --columns: 2;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr); }
    @media (min-width: 768px) {
      .events__excursion {
        --columns: 6;
        column-gap: 30px; } }
    @media (min-width: 1280px) {
      .events__excursion {
        --columns: 12; } }
  .events__master-class {
    --columns: 2;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr); }
    @media (min-width: 768px) {
      .events__master-class {
        --columns: 6;
        column-gap: 30px; } }
    @media (min-width: 1280px) {
      .events__master-class {
        --columns: 12; } }
  .events__img {
    grid-column: 1 / -1; }
    @media (min-width: 768px) {
      .events__img {
        grid-column: 1 / 4; } }
    @media (min-width: 1280px) {
      .events__img {
        grid-column: 1 / 5; } }
  .events__content {
    grid-column: 1 / -1; }
    @media (min-width: 768px) {
      .events__content {
        grid-column: 4 / 7; } }
    @media (min-width: 1280px) {
      .events__content {
        grid-column: 5 / 10; } }

.planing-visit {
  background-color: #3f5252;
  color: #eee;
  margin-bottom: 90px; }
  @media (min-width: 768px) {
    .planing-visit {
      margin-bottom: 120px; } }
  @media (min-width: 1280px) {
    .planing-visit {
      background-image: url("/bg.e79a717b.png");
      background-repeat: no-repeat;
      background-size: contain; } }
  .planing-visit__content {
    --columns: 2;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr);
    padding: 50px 0; }
    @media (min-width: 768px) {
      .planing-visit__content {
        --columns: 6;
        column-gap: 30px; } }
    @media (min-width: 1280px) {
      .planing-visit__content {
        --columns: 12; } }
    @media (min-width: 768px) {
      .planing-visit__content {
        padding: 80px 0; } }
    @media (min-width: 1280px) {
      .planing-visit__content {
        padding: 200px 0; } }
  .planing-visit__title {
    grid-column: 1 / -1;
    color: #eee;
    font-size: 38px;
    line-height: 38px;
    margin: 0;
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .planing-visit__title {
        grid-column: 1 / 5;
        font-size: 62px;
        line-height: 62px; } }
    @media (min-width: 1280px) {
      .planing-visit__title {
        grid-column: 6 / 11; } }
  .planing-visit__text {
    grid-column: 1 / -1;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 40px; }
    @media (min-width: 768px) {
      .planing-visit__text {
        grid-column: 1 / 5;
        margin-bottom: 60px; } }
    @media (min-width: 1280px) {
      .planing-visit__text {
        grid-column: 6 / 11; } }
  .planing-visit__btn {
    grid-column: 1 / -1; }
    @media (min-width: 768px) {
      .planing-visit__btn {
        grid-column: 1 / 4; } }
    @media (min-width: 1280px) {
      .planing-visit__btn {
        grid-column: 6 / 9; } }

.news {
  margin-bottom: 120px; }
  @media (min-width: 768px) {
    .news {
      margin-bottom: 160px; } }
  @media (min-width: 1280px) {
    .news {
      margin-bottom: 200px; } }
  .news__wrapper {
    --columns: 2;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr);
    row-gap: 60px; }
    @media (min-width: 768px) {
      .news__wrapper {
        --columns: 6;
        column-gap: 30px; } }
    @media (min-width: 1280px) {
      .news__wrapper {
        --columns: 12; } }
  .news__winner {
    grid-column: 1 / -1; }
    @media (min-width: 768px) {
      .news__winner {
        grid-column: 1 / 4; } }
    @media (min-width: 1280px) {
      .news__winner {
        grid-column: 1 / 7; } }
  .news__cats-day {
    grid-column: 1 / -1; }
    @media (min-width: 768px) {
      .news__cats-day {
        grid-column: 4 / 7; } }
    @media (min-width: 1280px) {
      .news__cats-day {
        grid-column: 7 / 13; } }

.form {
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr); }
  @media (min-width: 768px) {
    .form {
      --columns: 6;
      column-gap: 30px; } }
  @media (min-width: 1280px) {
    .form {
      --columns: 12; } }
  .form__title {
    grid-column: 1 / -1; }
    @media (min-width: 768px) {
      .form__title {
        grid-column: 1 / 6; } }
  .form__content {
    grid-column: 1 / -1; }
    @media (min-width: 768px) {
      .form__content {
        grid-column: 1 / 5; } }
    @media (min-width: 1280px) {
      .form__content {
        grid-column: 7 / 13; } }
  .form__form {
    margin-top: 30px;
    grid-column: 1 / -1; }
    @media (min-width: 768px) {
      .form__form {
        grid-column: 1 / 4; } }
  .form__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #1c1b29;
    margin-bottom: 30px; }
  .form__btn {
    grid-column: 1 /-1; }
    @media (min-width: 768px) {
      .form__btn {
        grid-column: 1 / 3; } }

.footer {
  background-color: #3f5252;
  color: #eee; }
  .footer__content {
    --columns: 2;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr);
    row-gap: 50px;
    padding: 0;
    padding-top: 34px; }
    @media (min-width: 768px) {
      .footer__content {
        --columns: 6;
        column-gap: 30px; } }
    @media (min-width: 1280px) {
      .footer__content {
        --columns: 12; } }
  .footer__title {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    margin: 0; }
  .footer__contacts {
    grid-column: 1 / -1; }
    @media (min-width: 768px) {
      .footer__contacts {
        grid-column: 1 / 3; } }
    @media (min-width: 1280px) {
      .footer__contacts {
        grid-column: 1 / 5; } }
  .footer__schedule {
    grid-column: 1 / -1; }
    @media (min-width: 768px) {
      .footer__schedule {
        grid-column: 3 / 5; } }
    @media (min-width: 1280px) {
      .footer__schedule {
        grid-column: 5 / 9; } }
  .footer__nav {
    grid-column: 1 / -1; }
    @media (min-width: 768px) {
      .footer__nav {
        grid-column: 5 / 9; } }
    @media (min-width: 1280px) {
      .footer__nav {
        grid-column: 9 / 13; } }
  .footer__social-media {
    display: flex;
    margin: 0;
    margin-top: 30px; }
  .footer__icon {
    padding: 0;
    padding-right: 20px; }
  .footer__working-time {
    list-style: none;
    padding: 0;
    margin-bottom: 0; }
  .footer__nav-list {
    list-style: none;
    padding: 0;
    margin-bottom: 0; }
  .footer__nav-link {
    text-decoration: none;
    color: #eee; }
  .footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 30px; }
  .footer__copyrigth {
    display: flex;
    justify-content: space-between; }
  .footer__copyrigth-item {
    margin: 0; }
    .footer__copyrigth-item:first-child {
      padding-right: 22px; }


/*# sourceMappingURL=/main.39afc03c.css.map */