.tools {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;

  &--menu {
    gap: 30px;

    @include on-tablet {
      flex-direction: row-reverse;
    }
  }

  @include on-tablet {
    justify-content: space-between;
    gap: 40px;
  }

  &__menu {
    display: block;
    margin: 0;
    padding: 0;
    background-image: url(../images/logo-icons/menu.svg);
    width: 25px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;

    @include hover(transform, scale(1.2));
  }

  &__close {
    display: block;
    margin: 0;
    padding: 0;
    background-image: url(../images/logo-icons/close.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;

    @include hover(transform, scale(1.2));
  }
}

.language {
  display: none;

  &--menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin: 0;
    padding: 0;
  }

  @include on-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin: 0;
    padding: 0;
  }

  &__ua {
    display: block;
    margin: 0;
    padding: 0;
    background-image: url(../images/logo-icons/UA.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 23px;
    height: 24px;

    @include hover(transform, scale(1.2));
  }

  &__arrow {
    display: block;
    margin: 0;
    padding: 0;
    background-image: url(../images/logo-icons/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 24px;

    @include hover(transform, scale(1.2));
  }
}
