.top-bar {
  display: flex;
  margin: 0;
  justify-content: space-between;
  padding-block: 20px;
  align-items: center;

  @include on-large-desktop {
    padding-block: 26px;
  }

  &__logo-link {
    display: flex;
    margin: 0;
    padding: 0;

    @include hover(transform, scale(1.2));
  }

  &__logo {
    display: block;
    margin: 0;
    padding: 0;
    width: 124px;
    height: 36px;
  }
}
