// COLORS
$color-main: #cd4d31;
$color-white: #f1f5f4;
$color-black: #1c1b29;
$color-gray: #504f5e;

// BACKGROUND-COLOR
$bgc-gray: #3f5252;
$bgc-button-default: #cd4d31;
$bgc-button-hover: #af3419;
$bgc-button-pressed: #ea340d;
$bgc-button-disabled: #dd836f;
$bgc-secondary-button: #fff;

// SECENDORY BUTTON BORDER AND TEXT COLOR
$color-secondary-button: #cd4d31;
$color-secondary-button-hover: #af3419;
$color-secondary-button-pressed: #ea340d;
$color-secondary-button-disabled: #dd836f;

// IPUT  BORDER AND TEXT COLOR
$color-secondary-input: #1c1b29;
$color-secondary-input-hover: #cd4d31;
$color-secondary-input-focus: #ea340d;
$color-secondary-input-filled: #1c1b29;

// INDETS
$margin-desctop: 5.5rem;
$margin-tablet: 3.9rem;
$margin-mobile: 3.9rem;

// --gluter--
$glutter-desctop: 3rem;
$glutter-tablet: 3rem;
$glutter-mobile: 2rem;

// --padding-inline--
$section-pi: 2rem;

// --margin-bottom--
$section-mb-xs: 8rem;
$section-mb-x: 9rem;
$section-mb-m: 10rem;
$section-mb-l: 11rem;
$section-mb-xl: 12rem;
$section-mb-xxl: 20rem;
$section-mb-l-uniq: 12.8rem;

// TRANSITION
$transition-time: 0.5s;
