@mixin font($size, $height, $weight: 400, $letter: normal, $style: normal) {
  font-size: $size;
  line-height: $height;
  letter-spacing: $letter;
  font-weight: $weight;
  font-style: $style;
}

@mixin border($size, $color, $raduis: none) {
  border: $size solid $color;
  border-radius: $raduis;
}

@mixin flex-justify-items(
  $alignItems: stretch,
  $justify: normal,
  $direction: row
) {
  display: flex;
  justify-content: $justify;
  align-items: $alignItems;
  flex-direction: $direction;
}

@mixin link-line($height, $bgc) {
  content: '';
  display: block;
  position: absolute;
  height: $height;
  background-color: $bgc;
  margin-top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  animation: line-view $transition-time ease-in-out;
}

@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin page-grid($columns, $gap: 0) {
  column-gap: $gap;
  grid-template-columns: repeat($columns, 1fr);
}

@keyframes line-view {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
