.address {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include on-tablet {
    flex-direction: row;
    gap: 123px;
  }

  @include on-large-desktop {
    gap: 83px;
    width: 570px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  &__info {
    display: block;
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #f1f5f4;
  }

  &__time {
    display: block;
    margin: 0;
    padding: 0;

    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #f1f5f4;
  }

  &__street {
    display: block;
    margin: 0;
    padding: 0;

    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #f1f5f4;
    text-decoration: none;
    transform-origin: left;

    @include hover(transform, scale(1.2));
  }
}
