.news-block {
  display: flex;
  flex-direction: column;

  @include onTablet {
    display: contents;
  }

  &__picture {
    @include image(100%, 280px);

    margin-bottom: 20px;

    @include onTablet {
      height: 330px;

      margin-bottom: 30px;
    }

    @include onDesktop {
      height: 370px;

      margin-bottom: 20px;
    }
  }

  &__date {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    color: $blackColor;
  }

  &__title {
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 18px;
    }
  }

  &__news {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: $grayColor;
  }
}
