.nav {
  display: flex;
  margin-bottom: 40px;

  &-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    list-style: none;

    @include on-tablet {
      gap: 30px;
    }

    @include on-desktop {
      gap: 60px;
    }

    &-item {
      display: flex;
      flex-direction: column;

      &-link {
        @include hover-under-line;
        @include phone-h5;

        display: flex;
        flex-direction: column;
        width: fit-content;
        position: relative;

        color: white;
        text-decoration: none;

        @include on-tablet {
          @include tablet-h3;
        }
      }
    }
  }
}
