.button {
  width: 270px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  background-color: #cd4d31;

  &:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color: #af3419;

    &:active {
      background-color: #ed340d;

    }
  }

  @include tablet {
    margin-bottom: 20px;
  }

  &__under {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #f1f5f4;
    text-decoration: none;
    
    &:hover {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
