.hide {
  background-color: $mainColor;

  height: 870px;

  @include tablet {
    padding: 26px 0;
    height: 1210px;
  }

  @include desktop {
    padding: 32px 0;
    height: 902px;
  }

  &__logo {
    height: 40px;
    width: 123px;

    @include tablet {
      width: 116px;
      height: 25px;
    }

    @include desktop {
      width: 116px;
      height: 25px;
    }

    &:hover {
      transform: scale(1.1);
      transition: 0.3s;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;

    padding: 20px 0;
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 30px;
    }

    @include desktop {
      margin-bottom: 45px;
    }
  }

  &__icons {
    display: flex;
  }

  &__menu {
    display: block;
    height: 2px;
    width: 15px;
    padding-top: 18px;

    background-image: url(../images/arrow-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &:hover {
      transform: scale(1.3);
      transition: 0.3s;
    }
  }

  &__ua {
    display: block;
    width: 23px;
    height: 23px;

    background-image: url(../images/UA.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;

    margin-left: 30px;

    @include tablet {
      display: block;
      width: 23px;
      height: 23px;

      background-image: url(../images/UA.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      color: #fff;

      margin-left: 44px;
    }
  }

  &__arrow {
    display: block;
    width: 8px;
    height: 5px;

    background-image: url(../images/Union.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 15px;
    margin-left: 4px;
  
    @include tablet {
      display: block;
      width: 8px;
      height: 5px;

      background-image: url(../images/Union.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      color: #fff;
      padding-top: 15px;
      margin-left: 4px;
    }

    &:hover {
      transform: scale(1.6);
      transition: 0.3s;
      cursor: pointer;
    }
  }

  &__desctiprion {
    margin-bottom: 40px;
    
    @include tablet {
      display: flex;
      margin-bottom: 50px;
    }
    
    @include desktop {
      margin-bottom: 70px;
    }
  }

  &__desctiprion-1 {
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #f1f5f4;

    @include tablet {
      margin-right: 123px;
    }

    @include desktop {
      margin-right: 83px;

    }
  }

  &__desctiprion-2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #f1f5f4;
  }

  &__titles {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: $white;

    margin-bottom: 40px;

    @include tablet {
      font-size: 48px;
      line-height: 120%;

      margin-bottom: 50px;
    }

    @include desktop {
      font-size: 48px;
      line-height: 120%;

      margin-bottom: 60px;
    }
  }

  &__tit {
    margin-bottom: 20px;

    &:nth-last-child() {
      margin-bottom: 0;
    }

    @include tablet {
      margin-bottom: 30px;

      &:nth-last-child() {
        margin-bottom: 0;
      }
    }

    @include desktop {
      margin-bottom: 60px;

      &:nth-last-child() {
        margin-bottom: 0;
      }
    }
  }

  &__liner {
    width: 280px;
    height: 1px;
    background-color: $white;

    margin-bottom: 60px;

    @include tablet {
      width: 690px;
    }

    @include desktop {
      width: 570px;
    }
  }

  &__imagess {
    display: none;
    
    @include tablet {
      display: block;
      background-image: url(../images/back-2.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      margin: auto;
      width: 443px;
      height: 497px;
    }

    @include desktop {
      display: block;
      background-image: url(../images/back-2.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      width: 663px;
      height: 900px;

      position: absolute;
      right: 0;
      top: 20px;
    }
  }
}
