.ivent {

  margin-bottom: 142px;

  &__razom {
    margin-bottom: 60px;

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 75px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: #1c1b29;

    @include tablet {
      font-weight: 700;
      font-size: 40px;
      line-height: 125%;
      color: #1c1b29;
    }
  }

  &__arxiv {
    display: none;

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      color: $red;
      border: 1px dashed $red;
      width: 180px;
      height: 50px;
    }
  }

  &__arrow {
    @include tablet {
      display: block;
      height: 10px;
      width: 10px;
      padding-left: 18px;
      
      background-image: url(../images/btn/icon/Vector.png);
      background-repeat: no-repeat;
      background-position: center;

      &:hover {
        transform: scale(1.5);
        transition: 0.3s;
      }
    }
  }

  &__block-for2 {

    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__content-1 {
    max-width: 280px;
    margin-bottom: 60px;
    

    @include tablet {
      margin-right: 70px;
      max-width: 768px;
    }
  }

  &__img {
    width: 100%;
    height: 356px;

    background-image: url(../images/back-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;

    margin-bottom: 20px;

    @include tablet {
      height: 420px;
    }

    @include desktop {
      height: 600px;
    }
    
    &:hover {
      transform: scale(1.1);
      transition: 0.3s;
    }
  }

  &__data {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $red;
  }

  &__titles {
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    
    @include tablet {
      font-size: 24px;
    }
  }

  &__descriptoin {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #504f5e;
  }

  &__content-2 {
    width: 280px;
  }

  &__imgo {
    display: block;
    width: 280px;
    height: 356px;

    background-image: url(../images/back-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    margin-bottom: 20px;

    @include tablet {
      width: 330px;
      height: 420px;
    }
    
    &:hover {
      transform: scale(1.1);
      transition: 0.3s;
    }
  }

  &__dia {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $red;
  }

  &__titless {
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;

    @include tablet {
      margin-bottom: 46px;
      font-size: 24px;
    }
  }

  &__descriptoins {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #504f5e;
  }

  &__arxiv-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: $red;
    border: 1px dashed $red;
    width: 265px;
    height: 50px;

    @include tablet {
      display: none;
    }
  }

  &__arrow-2 {
    display: block;
    height: 10px;
    width: 10px;
    padding-left: 18px;
      
    background-image: url(../images/btn/icon/Vector.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
