.ivent {

  &__razom {
    margin-bottom: 60px;

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 75px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: #1c1b29;

    @include tablet {
      font-weight: 700;
      font-size: 40px;
      line-height: 125%;
      color: #1c1b29;
    }
  }

  &__arxiv {
    display: none;

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      color: $red;
      border: 1px dashed $red;
      width: 180px;
      height: 50px;
    }
  }

  &__arrow {
    @include tablet {
      display: block;
      height: 10px;
      width: 10px;
      padding-left: 18px;
      
      background-image: url(../images/btn/icon/Vector.png);
      background-repeat: no-repeat;
      background-position: center;

      &:hover {
        transform: scale(1.5);
        transition: 0.3s;
      }
    }
  }

  &__for-2block {
    margin-bottom: 142px;
    
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__block-1 {
    max-width: 297px;
    margin-bottom: 60px;
  }

  &__block-2 {
    max-width: 280px;
  }

  &__photo {
    padding-bottom: 20px;
    &:hover {
      transform: scale(1.1);
      transition: 0.4s;
    }
  }

  &__number {
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $red;

    margin: 0;
  }

  &__tit {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #1c1b29;

    margin: 0;
  }

  &__desk {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #504f5e;
    padding-bottom: 30px;

    margin: 0;
  }

  &__arxiv-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: $red;
    border: 1px dashed $red;
    width: 180px;
    height: 50px;

    margin-top: 20px;

    @include tablet {
      display: none;
    }
  }

  &__arrow-2 {
    display: block;
    height: 10px;
    width: 10px;
    padding-left: 18px;
    
    background-image: url(../images/btn/icon/Vector.png);
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      transform: scale(1.5);
      transition: 0.3s;
    }

    @include tablet {
      display: none;
    }
  }
}
