.near {
  &__title {
    margin-bottom: 60px;

    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: $black;
  }

  &__ttttt {
    display: block;
  }

  &__block {
    width: 280px;
    height: 358px;
  }

  &__block-1 {
    padding-right: 30px;
  }

  &__img {
    width: 280px;
    height: 358px;

    @include tablet {
      width: 330px;
      height: 422px;
    }
  }

  &__time {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $red;

    padding-bottom: 10px;
  }

  &__h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: $black;

    padding-bottom: 20px;

    @include tablet {
      font-weight: 700;
      font-size: 24px;
      line-height: 125%;
    }

    @include desktop {
      width: 570px;
    }
  }

  &__deskk {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #504f5e;

    padding-bottom: 30px;

    @include desktop {
      width: 570px;
    }
  }

  &__button {

    @include tablet {
      width: 330px;
      height: 60px;
    }
  }

  &__blocks {
    width: 280px;
    height: 358px;
    margin-top: 60px;

    @include tablet {
      display: flex;
    }
  }

  &__block-3 {
    padding-right: 30px;
  }

  &__imgi {
    width: 280px;
    height: 358px;

    @include tablet {
      width: 330px;
      height: 422px;
    }
  }
}
