.news {
  margin-bottom: 150px;

  &__wrap {
    padding-bottom: 50px;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 75px;
    }

    @include desktop {
      padding-bottom: 55px;
    }
  }

  &__arxiv {
    display: none;

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      color: $red;
      border: 1px dashed $red;
      width: 180px;
      height: 50px;
    }
  }

  &__arrow {
    @include tablet {
      display: block;
      height: 10px;
      width: 10px;
      padding-left: 18px;
      
      background-image: url(../images/btn/icon/Vector.png);
      background-repeat: no-repeat;
      background-position: center;

      &:hover {
        transform: scale(1.5);
        transition: 0.3s;
      }
    }
  }

  &__tea {
    margin: 0;
  }

  &__titles {
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #1c1b29;

    padding-bottom: 30px;
    margin: 0;
  }

  &__block-for2 {
    max-width: 280px;

    @include tablet {
      display: flex;
      gap: 30px;
    }
  }

  &__block-1 {
    margin-bottom: 50px;
  }

  &__img {
    padding-bottom: 30px;

    @include tablet {
      width: 330px;
      height: 330px;
    }

    @include desktop {
      width: 570px;
      height: 370px;
    }

    &:hover {
      transform: scale(1.1);
      transition: 0.4s;
    }
  }

  &__date {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    padding-bottom: 5px;
    margin: 0;
    color: #1c1b29;
  }

  &__desk {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    margin: 0;
    color: #504f5e;

    @include tablet {
      width: 330px;
    }

    @include desktop {
      width: 570px;
    }
  }

  &__arxiv-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: $red;
    border: 1px dashed $red;
    width: 265px;
    height: 50px;

    margin-top: 20px;

    @include tablet {
      display: none;
    }
  }

  &__arrow-2 {
    display: block;
    height: 10px;
    width: 10px;
    padding-left: 18px;
    
    background-image: url(../images/btn/icon/Vector.png);
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      transform: scale(1.5);
      transition: 0.3s;
    }

    @include tablet {
      display: none;
    }
  }
}
