.subs {
  margin-bottom: 80px;

  &__block {
    width: 280px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: #1c1b29;

    padding-bottom: 20px;
    margin: 0;

    @include tablet {
      font-size: 40px;
      width: 690px;
    }
  }

  &__disk {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    padding-bottom: 50px;
    margin: 0;

    @include tablet {
      width: 540px;
    }
  }

  &__input {
    border: none;

    background-color: $c-gray;
    border-bottom: 1px solid black;
    width: 280px;
    margin-bottom: 30px;

    @include tablet {
      width: 450px;
    }

    &:hover {
      border-bottom: 1px solid #cd4d31;
    }
  }

  &__button {
    width: 280px;
    margin: 0;

    @include tablet {
      width: 330px;
    }
  }

  &__wrap {
    @include desktop {
      display: flex;
      gap: 30px;
    }
  }
}
