.visit {
  background-color: #3f5252;
  width: 320px;
  height: 416px;

  border-radius: 15px;
  margin-bottom: 110px;

  &:hover {
    background-color: black;
  }

  @include tablet {
    width: 768px;
    height: 515px;
  }

  @include desktop {
    width: 1280px;
    height: 800px;
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__photo {
    display: none;

    @include desktop {
      display: flex;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    padding: 0 20px;

    @include tablet {
      padding: 0 33px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    color: #f1f5f4;
  
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;

    @include tablet {
      font-size: 62px;
      width: 450px;

      padding-top: 80px;
    }

    @include desktop {
      font-size: 80px;
    }

  }

  &__desk {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #f1f5f4;

    padding-bottom: 40px;
    margin: 0;

    @include tablet {
      width: 450px;

      padding-bottom: 60px;
    }

    @include desktop {
      width: 470px;
    }
  }

  &__button {
    margin-bottom: 50px;

    @include tablet {
      width: 330px;
      height: 60px;
    }

    @include desktop {
      width: 270px;
    }
  }
}
