.ticket-link, .registration-link, .plan-link, .subscribe-btn {
  cursor: pointer;
  position: relative;
  display: block;
  overflow: hidden;
  font-weight: 600;
  height: 60px;
  text-align: center;
  padding-block: 22px;
  box-sizing: border-box;
  background-color: $red;

  &:hover {
    transition-duration: $effect-duration;
    background: none;
    border: 1px solid $red;
    color: $red;
  }
}

.archive-link, .calendar-link, .all-news {
  @include arrow-link;

  cursor: pointer;
  font-weight: 600;
  height: 60px;
  text-align: center;
  padding-block: 22px;
  box-sizing: border-box;
  background: none;
  border: 1px solid $red;
  color: $red;

  &:hover {
    transition-duration: $effect-duration;
    background: $red;
    color: $light-white;
  }
}

