.footer {
  background: $dark-green;

  padding-block: 30px;

  &__container {
    @include page-grid;
  }

  &__contact {
    grid-column: span 2;

    margin-bottom: 50px;

    @include on-desktop {
      grid-area: 1 / 1 / 1 / 4;
    }
  }

  &__contact-title {
    margin-bottom: 10px;


    @include on-tablet {
      margin-bottom: 30px;
    }
  }

  &__address {
    margin-bottom: 12px;
  }

  &__tel {
    margin-bottom: 12px;
  }

  &__email {
    margin-bottom: 30px;

    @include on-tablet {
      margin-bottom: 50px;
    }
  }

  &__social {
    display: flex;
    gap: 20px;
  }

  // ----------------

  &__schedule {
    grid-column: span 2;

    margin-bottom: 50px;

    @include on-desktop {
       grid-area: 1 / 5 / 1 / 8;
    }
  }

  &__schedule-title {
    margin-bottom: 10px;

    @include on-tablet {
      margin-bottom: 30px;
    }
  }

  &__schedule-list {
    display: flex;
    flex-direction: column;
  }

  // ----------------

  &__main {
    grid-column: span 2;

    margin-bottom: 50px;

    @include on-desktop {
      grid-area: 1 / 9 / 1 / 11;
    }
  }

  &__main-title {
    margin-bottom: 10px;

    @include on-tablet {
      margin-bottom: 30px;
    }
  }

  &__main-link {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // ------

  &__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;

    grid-column: span 2;

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-desktop {
      grid-column: span 12;
    }
  }

  &__copyright-text-year {
    margin-right: 22px;

    @include on-desktop {
      margin-right: 100px;
    }
  }
}
