.icon {
  width: 25px;
  height: 20px;

  &-menu {
    background: url('../images/icons/menu.svg') center no-repeat;
    background-size: cover;
  }

  &-close {
    background: url('../images/icons/close.svg') center no-repeat;
    background-size: cover;
  }

  &-scroll-up {
    position: relative;
    padding: 10px;

    &::after {
      position: absolute;
      content: '';
      background: url('../images/icons/scroll-up.svg') center no-repeat;
      background-size: cover;
      width: 30px;
      height: 30px;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }

    &:hover::after {
      top: -10px;
      transition-duration: $effect-duration;
    }
  }

  &-facebook {
    background: url('../images/icons/facebook.svg') center no-repeat;
    background-size: cover;

    width: 20px;
    height: 20px;

    &:hover {
      background: url('../images/icons/facebook-hover.svg') center no-repeat;
    }
  }

  &-twitter {
    background: url('../images/icons/twitter.svg') center no-repeat;
    background-size: cover;

    width: 20px;
    height: 20px;

    &:hover {
      background: url('../images/icons/twitter-hover.svg') center no-repeat;
    }
  }

  &-telegram {
    background: url('../images/icons/telegram.svg') center no-repeat;
    background-size: cover;

    width: 20px;
    height: 20px;

    &:hover {
      background: url('../images/icons/telegram-hover.svg') center no-repeat;
    }
  }

  &-instagram {
    background: url('../images/icons/instagram.svg') center no-repeat;
    background-size: cover;

    width: 20px;
    height: 20px;

    &:hover {
      background: url('../images/icons/instagram-hover.svg') center no-repeat;
    }
  }
}
