.nav {
  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 20px;

    @include on-tablet {
      margin-bottom: 30px;
    }

    @include on-desktop {
      margin-bottom: 60px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    @include link-line-style;
  }
}
