.block-event {
  display: flex;
  flex-direction: column;

  @include on-tablet {
    flex-direction: row;
  }

  &__backg-img {
    width: 280px;
    height: 358px;

    @include set-pos-backg;

    @include on-tablet {
      width: 330px;
      height: 422px;
    }

    @include on-desktop {
      width: 370px;
      height: 475px;
    }

    &--1 {
      background-image: url(../images/ticket/ticket-3.png);
    }

    &--2 {
      background-image: url(../images/ticket/ticket-4.png);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @include on-tablet {
      margin-left: 30px;
      width: 330px;
    }

    @include on-desktop {
      width: 570px;
    }
  }

  &__time {
    margin-top: 20px;

    font-family: $font-raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #CD4D31;

    @include on-tablet {
      margin-top: 0;
    }
  }

  &__name {
    margin: 0;
    margin-top: 10px;

    font-family: $font-playfair;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: $black-main;

    @include on-tablet {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__description {
    margin: 0;
    margin-top: 20px;

    font-family: $font-raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #504F5E;
  }

  &__button {
    margin-top: 30px;

    @include on-tablet {
      margin-top: 50px;
    }
  }
}
