.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 280px;
  height: 60px;

  text-decoration: none;
  cursor: pointer;

  background-color: #CD4D31;

  font-family: $font-raleway;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: $white-main;


  @include hover-scale(1.03);

  &:hover {
    background-color: #AF3419;
  }

  &:active {
    transition: 0s;
    background-color: #EA340D;
  }

  &:disabled {
    background-color: #DD836F;
    color: #DD836F;
  }

  @include on-tablet {
    width: 330px;
  }

  @include on-desktop {
    width: 270px;
  }


}
