.events {
  @include container;

  display: block;
  margin-top: 120px;

  &__card {
    &-1 {
      background-size: 280px 358px;
      background-image: url(/src/images/main/events/event-img-1.png);
    }

    &-2 {
      background-size: 280px 358px;
      background-image: url(/src/images/main/events/event-img-2.png);
    }
  }
}
