.exhibition {
  @include container;

  display: block;
  margin-top: 90px;

  &__card {
    &-1 {
      background-image: url(/src/images/main/exhibition/exhibition-img-1.png);
    }

    &-2 {
      background-image: url(/src/images/main/exhibition/exhibition-img-2.png);
    }
  }
}
