.exhibition {

  @include onTablet {
    grid-column: span 3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @include onDesktop {
    grid-column: span 6;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    object-position: center;

    margin-bottom: 20px;

    @include onTablet {
      height: 420px;
      min-width: px;
      margin-bottom: 30px;
    }

    @include onDesktop {
      margin-bottom: 20px;
    }
  }

  &__date {
    color: $main-color;

    margin-bottom: 10px;
  }

  &__title {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    color: $black-color;

    margin-bottom: 20px;

    @include onTablet {
      font-size: 24px;
    }
  }

  &__description {
    color: $gray-color;

    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }
  }

  &__button {
    @include onTablet {
      width: 100%;
    }

    @include onDesktop {
      width: 270px;
    }
  }
}
