.main {
  &__box1-for-grid {
    display: grid;
    padding-block: 90px;
    row-gap: 120px;

    @include onTablet {
      padding-block: 100px;
      row-gap: 160px;
    }

    @include onDesktop {
      padding-block: 110px;
      row-gap: 200px;
    }
  }

  &__box2-for-grid {
    display: grid;
    padding-top: 90px;
    padding-bottom: 80px;
    gap: 120px;

    @include onTablet {
      padding-top: 120px;
      padding-bottom: 128px;
      row-gap: 160px;
    }

    @include onDesktop {
      padding-top: 110px;
      padding-bottom: 200px;
      row-gap: 200px;
    }
  }
}
