.new-card {
  @include onTablet {
    grid-column: span 3;
  }

  @include onDesktop {
    grid-column: span 6;
  }

  &__img {
    width: 100%;
    margin-bottom: 20px;

    @include onTablet {
      object-position: center;
      min-height: 330px;
    }

    @include onDesktop {
      height: 370px;
    }
  }

  &__date {
    color: $main-color;
  }

  &__title {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    color: $black-color;

    margin-bottom: 20px;

    @include onTablet {
      font-size: 24px;
    }
  }

  &__description {
    color: $gray-color;
  }
}
