.news {
  @include container;

  display: block;
  margin-top: 120px;

  h3 {
    text-align: left;
  }

  h4 {
    margin: 0;
  }

  p {
    margin: 20px 0 0;
  }

  &__card {
    &-1 {
      height: 280px;
      background-image: url(/src/images/main/news/news-img-1.png);
    }

    &-2 {
      height: 280px;
      background-image: url(/src/images/main/news/news-img-2.png);
    }
  }

  @include on-tablet {
    @include template {
      grid-template-columns: repeat(6, 1fr);
    }

    .news__card {
      &-1 {
        height: 330px;
        min-width: 280px;
      }

      &-2 {
        height: 330px;
        min-width: 280px;
      }
    }
    .section {
      &__title {
        text-align: left;
        margin: 0;
        grid-area: 1 / 1 / auto / span 4;
      }

      &__button {
        grid-area: 1 / 5 / auto / span 2;
      }

      &-first {
        grid-area: 2 / 1 / auto / span 3;
      }

      &-second {
        grid-area: 2 / 4 / auto / span 3;
      }
    }
  }

  @include on-desktop {
    @include template {
      grid-template-columns: repeat(12, 1fr);
    }

    .section {
      &__button {
        grid-column: 10 / span 3;
      }

      &-first {
        grid-column: 1 / span 6;
      }

      &-second {
        grid-column: 7 / span 6;
      }
    }
  }
}
