.plan {
  background-color: $background-color;

  @include onDesktop {
    background-image: url(../images/img_07.png);
    background-repeat: no-repeat;
  }

  &__wrapp {
    padding-block: 50px;

    @include onTablet {
      padding-block: 80px;
    }

    @include onDesktop {
      padding-block: 205px;
    }
  }

  &__content {
    color: $white-color;

    @include onTablet {
      @include pageGrid;
    }
  }

  &__title {
    font-family: "Playfair Display", serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 20px;

    @include onTablet {
      font-size: 62px;
      grid-column: span 4;
    }

    @include onDesktop {
      font-size: 80px;
      margin-bottom: 25px;
      grid-column: 6 / 12;
    }
  }

  &__description {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 50px;
      grid-column: 1 / 5;
    }

    @include onDesktop {
      grid-column: 6 / 11;
    }
  }

  &__button {

    @include onTablet {
      grid-column: 1 / 3;
    }

    @include onDesktop {
      grid-column: 6 / 9;
    }
  }
}
