.section-title {
  @include h3;
  grid-column: 1 / -1;
  color: $black;

  &__current-exhibitions,
  &__upcoming-events,
  &__news {
    margin: 0 0 60px;

    @include onTablet {
      margin: 0 0 75px;
      grid-column: 1 / 5;
    }

    @include onDesktop {
      grid-column: 1 / 7;
    }
  }

  &__plan-visit {
    padding: 0 0 20px;

    @include h2;
    color: $white;

    @include onTablet {
      margin: 0;
      font-size: 62px;
      grid-column: span 5;
    }

    @include onDesktop {
      font-size: 80px;
      padding: 0 0 10px;
      grid-column: 6 / -1;
    }
  }

  &__subscribe {
    margin: 0 0 20px;

    @include onTablet {
      font-size: 40px;
    }

    @include onDesktop {
      font-size: 48px;
      margin: 0 0 50px;
      grid-column: span 6;
    }
  }

  &__current-exhibitions {
    @include onDesktop {
      margin: 0 0 71px;
    }
  }

  &__upcoming-events {
    @include onDesktop {
      margin: 0 0 70px;
    }
  }

  &__news {
    @include onDesktop {
      margin: 0 0 55px;
    }
  }
}
