.section-title {
  margin-bottom: 60px;

  font-family: "Playfair Display", serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;

  @include onTablet {
    margin-bottom: 75px;
    font-size: 40px;
  }

  @include onDesktop {
    margin-bottom: 71px;
    font-size: 48px;
  }
}
