.subscribe {
  @include grid-template;

  &__title {
    grid-column: 1 / -1;

    margin: 0;

    font-family: $font-playfair;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    color: $black-main;

    @include on-tablet {
      font-size: 40px;
      line-height: 50px;
    }

    @include on-desktop {
      grid-column: 1 / 7;

      font-size: 48px;
      line-height: 57.6px;
    }
  }

  &__info {
    margin-top: 20px;

    grid-column: 1 / -1;

    font-family: $font-raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $black-main;

    @include on-tablet {
      grid-column: 1 / 6;
    }

    @include on-desktop {
      grid-column: -7 / -1;
    }
  }

  &__form {
    grid-column: 1 / -1;

    @include grid-template;

    margin-top: 50px;
  }

  &__input {
    grid-column: 1 / -1;

    height: 28px;

    outline: none;
    border: none;
    border-bottom: 1px solid $black-main;

    font-family: $font-raleway;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    @include on-tablet {
      grid-column: 1 / 5;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }

    &:hover {
      color: #CD4D31;
      border-color: #CD4D31;

      &::placeholder {
        color: #CD4D31;
      }
    }

    &:focus {
      border-color: #CD4D31;
    }


  }

  &__button {
    margin-top: 30px;

    grid-column: 1 / -1;

    border: none;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      margin-top: 40px;
    }
  }
}
