.subscribe {
  @include container;

  margin-top: 120px;

  h3 {
    margin: 0;
  }

  p {
    margin: 20px 0 50px;
  }

  &__email {
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $c-black;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 16px;
    padding: 3px 0;
    outline: none;

    &::placeholder {
      font-weight: 400;
      color: $c-black;
    }

    &:hover {
      font-weight: 400;
      border-color: $c-main;
      color: $c-main;

      &::placeholder {
        color: $c-main;
      }
    }

    &:focus {
      font-weight: 400;
      border-color: $c-main;
      color: $c-main;
      caret-color: $c-main;
    }
  }
}
