.transparrent-button {
  width: 280px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  border: 1px solid #CD4D31;

  @include hover-scale(1.03);

  @include on-tablet {
    width: 210px;
  }

  @include on-desktop {
    width: 270px;
  }

  &:hover {
    border-color: #AF3419;
    color: #AF3419;
  }

  &:active {
    border-color: #EA340D;
    color: #EA340D;
    transition: 0s;
  }

  &:disabled {
    border-color: #DD836F;
    color: #DD836F;
  }

  &__name {
    font-family: $font-raleway;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #CD4D31;
  }

  &__arrow {
    margin-left: 8px;

    width: 20px;
    height: 20px;

    background-image: url(../images/arrow-transp.png);

    @include set-pos-backg;
  }
}
