.visit {
  @include container;

  background-color: $c-background;
  color: $c-white;
  padding-top: 50px;
  padding-bottom: 50px;

  margin-top: 90px;

  &__bg {
    display: none;
    background-image: url(/src/images/main/visit/visit-img.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 800px;
  }

  h2 {
    margin: 0;
  }

  p {
    margin: 20px 0 40px;
  }

  @include on-tablet {
    padding-top: 80px;
    padding-bottom: 80px;

    button {
      max-width: 330px;
    }

    &__block {
      width: 470px;
    }
  }

  @include on-desktop {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 0;

    &__block {
      width: 600px;
    }

    &__bg {
      display: block;
    }
  }
}
