.visit {
  @include container;

  background-color: $c-background;
  color: $c-white;
  padding-top: 50px;
  padding-bottom: 50px;

  margin-top: 90px;

  h2 {
    margin: 0;
  }

  p {
    margin: 20px 0 40px;
  }

  @include on-tablet {
    padding-top: 80px;
    padding-bottom: 80px;

    button {
      max-width: 330px;
    }

    &__block {
      width: 470px;
    }
  }
}
