@mixin hover($property, $toValue) {
  transition: #{$property} 0.6s;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin on-design {
  @media (min-width: $design-max-width) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 39px;
  }

  @include on-desktop {
    margin-inline: auto;
    padding-inline: 55px;
    max-width: 1170px;
  }
}

@mixin page-grid {
  --columns: 1;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;

  @include on-tablet {
    --columns: 6;

    column-gap: 30px;
  }

  @include on-desktop {
    --columns: 12;
  }
}

@mixin button-prime {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  color: $white;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  background-color: $coral;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: $effect-duration;

  &:focus {
    background-color: $disabled;
  }

  &:hover {
    background-color: $hover;
  }

  &:active {
    background-color: $active;
  }
}

@mixin button-second {
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: $coral;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  line-height: 100%;
  background-color: $white;
  text-decoration: none;
  border: 1px solid $coral;
  box-sizing: border-box;
  cursor: pointer;
  transition: $effect-duration;

  &:focus {
    border: 1px solid $disabled;
    color: $disabled;
  }

  &:hover {
    border: 1px solid $hover;
    color: $hover;
  }

  &:active {
    border: 1px solid $active;
    color: $active;
  }
}
