@mixin hover($property, $toValue) {
  transition: #{$property} 0.6s;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin on-design {
  @media (min-width: $design-min-width) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 30px;

  @include on-tablet {
    padding-inline: 40px;
  }

  @include on-desktop {
    padding-inline: 50px;
  }

  @include on-design {
    margin-inline: auto;
    padding-inline: 60px;
    max-width: 1440px;
  }
}

@mixin page-grid {
  --columns: 1;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;

  @include on-tablet {
    --columns: 6;
  }

  @include on-desktop {
    --columns: 12;

    column-gap: 30px;
  }
}

@mixin button-prime {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  color: $white;
  font-family: 'Days One', sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 100%;
  background-color: $background;
  border-radius: 50px;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: $effect-duration;

  &:focus {
    background-color: $disabled;
  }

  &:hover {
    background-color: $active;
  }

  &:active {
    background-color: $disabled;
  }
}

@mixin button-second {
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: $background;
  font-family: 'Days One', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  line-height: 100%;
  background-color: $white;
  text-decoration: none;
  border-radius: 50px;
  border: 3px solid $background;
  box-sizing: border-box;
  cursor: pointer;
  transition: $effect-duration;

  &:focus {
    border: 3px solid $disabled;
    color: $disabled;
  }

  &:hover {
    border: 3px solid $hover;
    color: $hover;
  }

  &:active {
    border: 1px solid $active;
    color: $light-steel;
  }
}
