$color-main: #cd4d31;
$color-white: #f1f5f4;
$color-background: #3f5252;
$color-black: #1c1b29;
$color-gray: #504f5e;

$tablet-min-width: 640px;
$desktop-min-width: 1280px;

$font-family-main: "Playfair Display", "Helvetic", serif;
$font-family-text: "Raleway", "Time New Romans", sans-serif;
