$tablet-min-width: 720px;
$desktop-min-width: 1230px;
$design-max-width: 1440px;
$effect-duration: all 0.6s;
$white: #e1d9d9;
$coral: #393635;
$background: #3f5252;
$black: #1c1b29;
$gray: #504f5e;
$disabled: #cd4d31;
$hover: #af3419;
$active: #ea340d;
$fb: #1309a3;
$tw: #000;
$tg: #4086d2;
$steell: #605d5d;
