.address {
  grid-column: 1 / -1;

  font-family: Raleway, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $c-text-white;

  // padding-bottom: 20px;

  @include on-tablet {
    grid-column: 3 / 6;
    padding-bottom: 0;
  }

  &__text {
    margin: 0;
    font-weight: 200;
  }

  &__maps {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: $c-text-white;

    &--name {
      margin: 0;
      font-size: 16px;
      line-height: 24px;

      @include hover(transform, scale(1.05));

      transform-origin: left;
    }
  }
}
