.images-aside {
  grid-column: 1 / -1;
  display: none;

  @include on-tablet {
    grid-column: 2 / -2;

    display: flex;

    // justify-content: center;
    padding-top: 30px;
  }

  @include on-desktop {
    grid-column: 7 / -1;

    // align-items: self-end;
    padding-top: 0;
  }

  &__content {
    width: 100%;
  }
}
