.subscribe {
  &__content {
    @include page-grid;
  }

  &__title {
    color: $c-black;
    margin-bottom: 20px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / -2;
    }

    @include on-desktop {
      grid-column: 1/6;
    }
  }

  &__text {
    color: $c-black;
    margin-bottom: 50px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 6;
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }
  }

  &__form {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 5;
    }

    @include on-desktop {
      grid-column: 1/6;
    }
  }

  &__input {
    &--email {
      height: 28px;
      display: block;
      box-sizing: border-box;
      color: $c-black;
      width: 100%;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid $c-black;

      &:hover {
        border-color: $c-main;
      }

      &:focus {
        border-color: $c-button-focus;
        outline: none;
      }

      &:valid {
        font-weight: 700;
      }
    }
  }
}
