.event {
  position: relative;
  display: grid;
  grid-template-columns: 2fr;
  padding-inline: $padding-inline-mobile;
  margin-block-end: 120px;

  @include on-tablet {
    //grid-template-columns: 6fr;
    padding-inline: $padding-inline-tablet;
  }

  @include on-desktop {
    //grid-template-columns: 1fr;
    padding-inline: $padding-inline-desktop;
  }

  .section-title {
    margin: 0;
    margin-block-end: 60px;

    font-family: $font-family-Playfair-Display;
    font-size: clamp(28px, 5.2vw, 48px);
    font-weight: $font-weight-bold;
    line-height: 35px;

    @include on-tablet {
      margin-block-end: 75px;

      line-height: 50px;
    }

    @include on-desktop {
      margin-block-end: 71px;

      line-height: 58px;
    }
  }

  .article__img {
    width: 100%;
    margin-block-end: 20px;

    @include on-tablet {
      width: 48.3%;
    }
  }

  .article__time {
    margin: 0;
    margin-block-end: 10px;
    color: $color-text-main;

    font-family: $font-family-Raleway;
    font-size: $font-size-md;
    font-weight: $font-weight-regular;
    line-height: 24px;
  }

  .article__title {
    margin: 0;
    margin-block-end: 20px;
    color: $color-text-black;

    font-family: $font-family-Playfair-Display;
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    line-height: 25px;
  }

  .article__description {
    margin: 0;
    margin-block-end: 30px;
    color: $color-text-gray;

    font-family: $font-family-Raleway;
    font-size: $font-size-md;
    font-weight: $font-weight-regular;
    line-height: 24px;
  }

  .btn--outline {
    .btn__icon {
      margin-inline-start: 8px;
    }
  }

  .article__box {
    display: grid;

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }
}
