.news {
  margin-block-end: 122px;

  @include on-tablet {
    margin-block-end: 100px;
  }

  @include on-desktop {
    grid-template-columns: 1fr;
    margin-block-end: 138px;
  }

  .news-img--box {
    @include on-desktop {
      width: 100%;
      aspect-ratio: 570 / 370;
      overflow: hidden;
    }
  }

  .news-img--box-2 {
    @include on-desktop {
      margin-block-end: 26px;
    }
  }

  .news-img--box-1 {
    display: flex;
    margin-block-end: -3px;

    .news-img--1 {
      @include on-desktop {
        height: 100%;
      }
    }
  }

  .news-img {
    margin-block-end: 16px;
    width: 100%;

    @include on-tablet {
      margin-block-end: 27px;
    }
  }

  .news-time {
    color: $color-text-black;
    margin-block-end: 0;

    font-size: $font-size-sm;
    line-height: 140%;
  }

  .news__section-title {
    margin-block-end: 50px;
  }

  .news-title {
    margin-block-end: 20px;

    @include on-tablet {
      margin-block-end: 23px;
    }
  }

  .article__description-news {
    margin-block-end: 50px;
  }

  .article-news--2 {
    margin-block-end: 11px;
  }

  .btn--outline-news {
    margin-block-start: -30px;
  }
}
