.next-events {
  margin-block-end: 90px;

  @include on-tablet {
    margin-block-end: 35px;
  }

  @include on-desktop {
    grid-template-columns: 1fr;
    margin-block-end: 45px;
  }

  .next-events-img {
    margin-block-end: 14px;

    @include on-tablet {
      margin-block-end: 64px;
    }

    @include on-desktop {
      //width:32%;
    }
  }

  .next-events-title {
    margin-block-end: 17px;
    line-height: 125%;

    @include on-tablet {
      font-size: $font-size-2xl;
    }
  }

  .article--next-events {
    gap: 27px;
    @include on-tablet {
      display: flex;
      justify-content: space-between;
      column-gap: 30px;
    }

    @include on-desktop {
      justify-content: initial;
    }
  }

  .next-events-content {
    padding-block-start: 1px;

    @include on-tablet {
      width: 49%;
    }
  }

  .next-events-description {
    margin-block-end: 33px;

    @include on-tablet {
      margin-block-end: 52px;
    }

    @include on-desktop {
      width: 82%;
      margin-block-end: 40px;
    }
  }
}

.article--next-events-1 {
  @include on-desktop {
    margin-block-end: -4px;
  }
}
