.visit-museum {
  color: #f1f5f4;
  background-color: $background-dark;
  padding-inline: $padding-inline-mobile;
  padding-block: 50px;
  margin-block-end: 90px;

  @include on-tablet {
    padding-inline: 38px;
    padding-block: 91px 80px;
    margin-block-end: 126px;
  }

  @include on-desktop {
    display: flex;
    padding-inline: 0;
    padding-block: 0;
    margin-block-end: 110px;
  }

  .visit-museum--content {
    @include on-desktop {
      margin-inline-start: -22px;
      margin-block-start: 225px;
    }
  }

  .visit-museum--img {
    display: none;

    @include on-desktop {
      display: block;
    }
  }

  .visit-museum-title {
    margin: 0;
    margin-block-end: 20px;

    font-family: $font-family-Playfair-Display;
    font-size: clamp(38px, 8.06vw, 80px);
    font-weight: $font-weight-bold;
    line-height: 1;

    @include on-tablet {
      width: 65%;
      margin-block-end: 31px;
    }

    @include on-desktop {
      width: 85%;
    }
  }

  .visit-museum-description {
    margin: 0;
    margin-block-end: 40px;

    font-family: $font-family-Raleway;
    font-size: $font-size-md;
    font-weight: $font-weight-regular;
    line-height: 150%;

    @include on-tablet {
      width: 65%;
      margin-block-end: 57px;
    }

    @include on-desktop {
      margin-block-end: 35px;
    }
  }
}
