.actual {
  display: flex;
  flex-direction: column;

  margin-top: 60px;

  grid-column: 1 / -1;

  @include onTablet {
    grid-column: span 3;
  }

  @include onDesktop {
    grid-column: span 6;
    margin-top: 70px;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--girl {
      object-position: left;

      @include onTablet {
        object-position: 15%;
      }
    }

    &-link {
      position: relative;
      padding-bottom: 130%;
      height: 0;
    }
  }

  &__date {
    @include fonts--main;
    margin-top: 20px;

    color: $c-main-orange;

    @include onTablet {
      margin-top: 30px;
    }

    @include onDesktop {
      margin-top: 20px;
    }
  }

  &__title {
    margin-top: 10px;
  }

  &__text {
    @include fonts--main;
    margin-top: 20px;

    color: $c-grey;

    &--artist {
      @include onTablet {
        margin-top: 50px;
      }

      @include onDesktop {
        margin-top: 20px;
      }
    }

    @include onDesktop {
      margin-top: 20px;
    }
  }
}
