.main {
  &__content {
    display: grid;
    row-gap: 90px;
    padding: 90px 0 80px;

    &--bigger-gap {
      padding-bottom: 30px;
    }

    @include on-tablet {
      padding: 100px 0 128px;
    }

    @include on-desktop {
      padding: 110px 0 200px;
    }
  }
}
