.plan-a-visit {
  margin-top: 90px;
  padding-block: 50px;

  background-color: $c-background;

  @include onTablet {
    margin-top: 100px;
    padding-block: 80px;
  }

  @include onDesktop {
    margin-top: 110px;
    padding-block: 205px;
    
    background-image: url(../images/background/bg_main.png);
    background-repeat: no-repeat;
  }
}
