.section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;

  &__text {
    margin: 0;
    color: $c-black;
    text-align: left;
  }

  @include on-tablet {
    margin-bottom: 70px;
  }

  &--plan-a-visit,
  &--subscribe {
    margin-bottom: 20px;
  }

  @include on-desktop {
    &--exibitions {
      margin-bottom: 69px;
    }

    &--events {
      margin-bottom: 68px;
    }

    &--plan-a-visit {
      margin-bottom: 10px;
    }

    &--news {
      margin-bottom: 53px;
    }

    &--subscribe {
      margin-bottom: 50px;
    }
  }
}
