.header {
  &__hero {
    display: flex;
    flex-direction: column;

    @include onDesktop {
      @include pageGrid;
    }
  }

  &__hero-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    @include onDesktop {
      grid-column: 2 / 7;
      grid-row: 1;
      text-align: left;
      align-items: flex-start;
    }
  }

  &__hero-images {
    width: 100vw;
    height: 267px;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    max-width: none;
    object-fit: cover;
    margin-bottom: 25px;

    @include onTablet {
      width: 100%;
      position: static;
      margin: 0 0 50px;
      height: 500px;
    }

    @include onDesktop {
      grid-column: 7 / -1;
      height: 451px;

      @include imgHover;
    }
  }

  &__hero-title {
    @extend %h1;
    width: 280px;
    margin-bottom: 10px;

    @include onTablet {
      width: 466px;
    }

    @include onDesktop {
      width: 438px;
      margin-bottom: 30px;
    }
  }

  &__hero-sales {
    @extend %text;
    font-weight: 400;
    margin-bottom: 30px;

    @include onDesktop {
      margin-bottom: 50px;
    }
  }

  &__hero-button {
    @include onTablet {
      width: 280px;
    }
  }
}
