.main {
  display: grid;
  padding-block: 100px;
  row-gap: 100px;

  @include onTablet {
    padding-block: 130px;
    row-gap: 130px;

  }

  @include  onDesktop {
    padding-block: 200px 130px;
    row-gap: 200px;

  }
}
