.nav {
  &__list {
    display: flex;
    gap: 40px;
  }

  &__item {
    @include hover(transform, scale(1.1));
  }

  &__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    text-transform: capitalize;
  }
}
