input[type="text"],
input[type="email"],
input[type="tel"] {
  background-clip: padding-box;
  color: $text;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: #{$sans-serif};
  word-break: normal;
}

label {
  display: inline-block;
  line-height: 2;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: $primary;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
