body {
  margin: 0;
  color: $text;
  font-family: #{$font-family};
  font-size: $font-size-base;
  line-height: $line-height-base;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: inherit;
  font-family: inherit;
  line-height: 1.2;
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

a {
  color: $link-color;
  text-decoration: none;
  background-color: transparent;
}

ul,
ol {
  margin: $zero;
  vertical-align: baseline;
}

nav ul,
ol {
  list-style-type: none;
  padding: 0;
}
