.contact {
  display: flex;
  flex-direction: column;
  font-family: $mainFontFamily;

  &__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    color: $whiteColor;
  }

  &__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;

    color: $whiteColor;
  }

  &__link {
    @include linkHoverEffect($whiteColor);
    @include linkActiveEffect;
  }
}
