.footer-section {
  background-color: $green_background;
  padding: 34px 20px 60px;

  @include onTablet {
    padding: 50px 40px 60px;
  }

  @include onDeskTop {
    padding: 50px 55px 70px;
  }

  &_conteiner {
    display: flex;
    flex-direction: column;

    @include onTablet {
      display: grid;
    }
  }

  &_contact {
    margin-bottom: 57px;

    &_title {
      margin-bottom: 10px;

      font-family: "Playfair Display", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      color: $white;

      @include onTablet {
        margin-bottom: 30px;
      }
    }

    &_text {
      margin-bottom: 30px;

      &_link {
        display: block;
        text-decoration: none;
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $white;
        transition: color 0.5s;

        &:hover {
          color: #ea340d;
        }
      }
    }

    &_social {
      display: flex;
      gap: 21px;

      &_link {
        display: block;
        width: 17px;
        height: 17px;

        &_img {
          width: 100%;
          height: 100%;

          background-position: center;
          background-size: contain;
          transition: background-image 0.5s;
        }

        &_fb {
          background-image: url(../images/fb.svg);
       
          &:hover {
            background-image: url(../images/fb_hover.svg);
          }
        }

        &_twitt {
          background-image: url(../images/twitter.svg);
       
          &:hover {
            background-image: url(../images/twitter_hover.svg);
          }
        }

        &_telegr {
          background-image: url(../images/telegramm.svg);
       
          &:hover {
            background-image: url(../images/telegram_hover.svg);
          }
        }

        &_insta {
          background-image: url(../images/insta.svg);
        
          &:hover {
            background-image: url(../images/insta_hover.svg);
          }
        }
      }
    }
  }

  &_work-day {
    margin-bottom: 50px;

    &_title {
      margin-bottom: 10px;

      font-family: "Playfair Display", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      color: $white;

      @include onTablet {
        margin-bottom: 30px;
      }
    }

    &_text {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $white;
    }
  }

  &_navigation {

    &_title {
      display: block;
      margin-bottom: 10px;

      font-family: "Playfair Display", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: $white;
      text-decoration: none;
      transition: color 0.5s;

      @include onTablet {
        margin-bottom: 30px;
      }

      &:hover {
        color: #ea340d;
      }
    }

    &_link {
      margin: 0 0 5px;
      display: block;
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $white;
      text-decoration: none;
      transition: color 0.5s;

      &:hover {
        color: #ea340d;
      }
    }
  }
}
