.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $green_background;

  padding: 0 20px 30px;

  @include onTablet {
    padding: 0 40px 30px;
  }

  @include onDeskTop {
    padding: 0 55px 30px;
  }

  &_text {
    display: flex;
    gap: 22px;

    &_data {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: $white;
    }
  }

  &_go-up {
    display: block;
    width: 30px;
    height: 30px;

    &_img {
      width: 100%;
      height: 100%;
      object-fit: fill;

    }
  }
}
