.header {
  margin-bottom: 90px;

  display: grid;
  grid-template-rows: 1;
  padding: 20px 20px 0;

  @include onTablet {
    padding: 30px 40px 0;
    margin-bottom: 100px;
  }

  @include onDeskTop {
    padding: 30px 60px 0;
  }

  background-color: $green_background;

  &_content {
    &_text {
      margin-bottom: 40px;
      max-width: 570px;

      &_when {
        margin-bottom: 10px;

        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: $white;
      }

      &_title {
        margin-bottom: 30px;

        font-family: "Playfair Display", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        color: $white;

        @include onTablet {
          margin-bottom: 20px;
          font-size: 72px;
        }
      }

      &_about {
        width: 267px;
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $white;

        @include onTablet {
          width: 330px;
        }

        @include onDeskTop {
          margin-bottom: 80px;
        }
      }

      &_bottom {
        margin-top: 230px;
        display: none;
        gap: 20px;
        align-items: center;

        @include onDeskTop {
          display: flex;
        }

        &_text {
          display: block;
          width: max-content;
          font-family: "Playfair Display", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 125%;
          color: $white;
          opacity: 0.7;
        }

        &_line {
          width: 400px;
          height: 1px;
          opacity: 0.3;
          background-color: $white;
        }
      }
    }

    &_button {
      margin-bottom: 40px;

      @include onTablet {
        margin-bottom: 70px;
      }

      @include onDeskTop {
        margin-bottom: 160px;
      }

      &_link {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: 60px;
        background-color: $main;

        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        color: $white;
        text-decoration: none;
        transition-duration: 1s;

        &:hover {
          background-color: #af3419;
        }

        &:active {
          background-color: #ea340d;
        }

        @include onTablet {
          max-width: 270px;
        }
      }
    }

    &_image {
      display: grid;
      grid-template-rows: 1 / 1;

      justify-content: center;

      &_img {
        width: 245px;
        height: 273px;

        @include onTablet {
          width: 443px;
          height: 494px;
        }

        @include onDeskTop {
          width: 625px;
          height: 663px;
        }
      }
    }
  }
}
