.news {
  padding: 0 20px;

  @include onTablet {
    padding: 0 40px;
    margin-bottom: 160px;
  }

  @include onDeskTop {
    padding: 0 55px;
    margin-bottom: 200px;
  }

  &_title {
    margin-bottom: 60px;

    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: $black;

    @include onTablet {
      font-size: 40px;
      margin-bottom: 75px;
    }

    @include onDeskTop {
      font-size: 48px;
      line-height: 120%;
    }
  }

  &_link {
    display: none;

    @include onTablet {
      display: flex;
    }

    gap: 10px;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    height: 60px;
    border: 2px solid $main;
    transition-duration: 1s;

    &:hover {
      color: #af3419;
      border-color: #af3419;
    }

    &:active {
      color: #ea340d;
      border-color: #ea340d;
    }

    &_text {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      color: $main;
    }

    &_img {
      width: 13px;
      height: 12px;
      background-position: center;
      background-size: cover;
      background-image: url(../images/go_right.svg);
    }
  }

  &_conteiner {
    display: flex;
    flex-direction: column;

    @include onTablet {
      display: grid;
    }
  }

  &_card {

    &_image {
      margin-bottom: 20px;

      width: 100%;
      height: 280px;

      &_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        cursor: pointer;

        &:hover {
          transform: scale(0.9);
        }
      }
    }

    &_data {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: $black;
    }

    &_title {
      margin-bottom: 20px;

      font-family: "Playfair Display", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 125%;
      color: $black;
    }

    &_text {
      margin-bottom: 20px;

      @include onTablet {
        margin: 0;
      }

      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $gray;
    }
  }

  &_bottom_link {
    margin-bottom: 120px;

    display: flex;

    @include onTablet {
      display: none;
    }

    gap: 10px;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    // width: 280px;
    height: 60px;
    border: 2px solid $main;

    &_text {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      color: $main;

      transition-duration: 1s;

      &:hover {
        color: #af3419;
        border-color: #af3419;
      }

      &:active {
        color: #ea340d;
        border-color: #ea340d;
      }
    }

    &_img {
      width: 13px;
      height: 12px;
      background-position: center;
      background-size: cover;
      background-image: url(../images/go_right.svg);
    }
  }
}
