* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 1s;
  scroll-behavior: smooth;
}

.page {

  &_body {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;

    &_menu {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      
      transform: translateY(-100%);
      transition: transform 1s;
  
      &:target {
        transform: translateY(0);
      }
    }
  }

  &_body-with-menu {
    overflow: hidden;
  }
}
