.subscribe {
  margin-bottom: 80px;
  padding: 0 20px;

  @include onTablet {
    padding: 0 40px;
    margin-bottom: 120px;
  }

  @include onDeskTop {
    padding: 0 55px;
    margin-bottom: 200px;
  }

  &_card {
    &_title {
      margin-bottom: 20px;

      font-family: "Playfair Display", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 125%;
      color: $black;

      @include onTablet {
        font-size: 40px;
      }

      @include onDeskTop {
        font-size: 48px;
        width: 570px;
      }
    }

    &_text {
      margin-bottom: 50px;

      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $black;
      max-width: 570px;

      @include onDeskTop {
        display: none;
      }
    }

    &_form {
      display: flex;
      flex-direction: column;
  
      &_input {
        max-width: 690px;
        margin-bottom: 34px;
        border: none;
        border-bottom: 1px solid $black;
        outline: none;

        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $black;
  
        ::placeholder {
          font-family: "Raleway", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: $black;
        }
      }
  
      &_button {
        width: 280px;
        height: 60px;
        background-color: $main;
        border: none;
        cursor: pointer;

        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        color: $white;
        transition-duration: 1s;

        &:hover {
          background-color: #af3419;
        }
      }
    }
  }

  &_text {
    display: none;

    @include onDeskTop {
      display: block;

      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $black;
    }
  }
}
