.visit {
  margin-bottom: 90px;
  padding: 50px 20px;
  background-color: $green_background;

  @include onTablet {
    margin-bottom: 125px;
    padding: 80px 40px;
  }

  @include onDeskTop {
    margin-bottom: 110px;
    padding: 0;
  }

  &_conteiner {
    display: block;

    @include onTablet {
      display: grid;
    }
  }

  &_image {
    display: none;

    @include onDeskTop {
      display: block;
    }

    width: 100%;

    &_img {
      width: 100%;
      height: 100%;
    }
  }

  &_title {
    margin-bottom: 20px;

    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    color: $white;

    @include onTablet {
      font-size: 62px;
    }

    @include onDeskTop {
      font-size: 80px;
      margin-top: 205px;
    }
  }

  &_text {
    margin-bottom: 40px;

    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $white;
  }

  &_link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 60px;
    background-color: $main;

    color: $white;

    transition-duration: 1s;

    &:hover {
      background-color: #af3419;
    }

    &:active {
      background-color: #ea340d;
    }
  }
}
