.exibitions {
  &__items {
    @include page-grid;

    row-gap: rem(60);
    grid-auto-rows: 1fr;
  }

  &__item {
    grid-column: span 2;

    @media (min-width: $mobile) {
      grid-column: span 3;
    }

    @media (min-width: $tablet) {
      grid-column: span 6;
    }
  }
}
