.news {
  padding-top: 90px;

  @include on-tablet {
    padding-top: 120px;
  }

  @include on-desktop {
    padding-top: 110px;
  }

  &__top {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;

    @include on-tablet {
      justify-content: space-between;
      height: 60px;
      padding-bottom: 70px;
    }
  }

  &__slider {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  &__blocks {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 50px;
    padding-bottom: 40px;

    @include on-tablet {
      display: flex;
      flex-direction: row;
      margin-bottom: 50px;
    }
  }

  &__block {
    flex: 0 0 50%;

    @include on-tablet {
      max-width: 50%;
      padding-right: 30px;
    }
  }
}

.slider__buttons {
  display: none;

  @include on-tablet {
    display: flex;
    column-gap: 30px;
    justify-content: right;
  }
}

.slider__btn {
  display: flex;
  width: 50%;
  transform: translateY(-50%);
  border: none;
  justify-content: center;
  align-items: center;

  @include on-tablet {
    width: 270px;
  }
}
