.news {
  &__top {
    margin-bottom: rem(60);

    @media (min-width: $mobile) {
      margin-bottom: rem(75);
    }
  }

  &__items {
    display: flex;

    @media (max-width: $mobile) {
      flex-direction: column;
      row-gap: rem(50);
    }

    margin: 0 rem(-15);
  }

  &__item {
    padding: 0 rem(15);
    flex: 0 1 50%;
  }

  &__link {
    @media (min-width: $mobile) {
      display: none;
    }
  }
}
