.page {
  background-color: $whiteColor;
  scroll-behavior: smooth;

  &__body {
    max-width: 1440px;
    font-family: $mainFontFamily;

    margin: 0 auto;

    &--with-menu {
      overflow-y: hidden;
    }
  }

  &__header {
    margin-bottom: 90px;

    @include onTablet {
      margin-bottom: 105px;
    }

    @include onDesktop {
      margin-bottom: 110px;
    }
  }

  &__actual-exhibitions {
    margin-bottom: 100px;

    @include onTablet {
      margin-bottom: 160px;
    }

    @include onDesktop {
      margin-bottom: 200px;
    }
  }

  &__nearest-events {
    margin-bottom: 100px;

    @include onDesktop {
      margin-bottom: 110px;
    }
  }

  &__plan-a-visit {
    margin-bottom: 90px;

    @include onTablet {
      margin-bottom: 120px;
    }

    @include onDesktop {
      margin-bottom: 110px;
    }
  }

  &__news {
    margin-bottom: 130px;

    @include onTablet {
      margin-bottom: 160px;
    }

    @include onDesktop {
      margin-bottom: 200px;
    }
  }

  &__digest {
    margin-bottom: 80px;

    @include onTablet {
      margin-bottom: 128px;
    }

    @include onDesktop {
      margin-bottom: 200px;
    }
  }
}
