.subscribe {
  &__container {
    @media (min-width: $mobile) {
      @include page-grid;
    }
  }

  &__title {
    margin-bottom: rem(20);

    @media (min-width: $mobile) {
      grid-column: span 5;
    }

    @media (min-width: $tablet) {
      margin-bottom: rem(50);
      grid-column: 1 / 6;
    }
  }

  &__text {
    font-size: rem(16);
    line-height: 150%;

    @media (max-width: $tablet) {
      margin-bottom: rem(50);
    }

    @media (min-width: $mobile) {
      grid-column: span 5;
    }

    @media (min-width: $tablet) {
      grid-column: 7 / -1;
    }
  }

  &__form {
    grid-column: span 4;

    @media (min-width: $tablet) {
      grid-column: span 5;
    }
  }
}
