.footer {
  background-color: $background-green-color;
  padding-block: 30px 34px;
  color: $white-text-color;

  @include desktop {
    padding-block: 50px 30px;
  }

  &__content {
    @include tablet {
      @include page-grid;
    }
  }

  &__links {
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 50px;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    line-height: 24px;
    display: block;
  }

  &__socials {
    display: flex;
    gap: 20px;
  }

  &__contacts {
    margin-bottom: 50px;

    @include tablet {
      grid-column: span 2;
    }
  }

  &__schedule {
    margin-bottom: 50px;

    @include tablet {
      grid-column: span 2;
      margin-bottom: 60px;
    }

    @include desktop {
      grid-column: 5/7;
      margin-bottom: 70px;
    }
  }

  &__day {
    line-height: 24px;
  }

  &__nav {
    margin-bottom: 60px;

    @include desktop {
      grid-column: 9/11;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include tablet {
      grid-column: span 6;
    }

    @include desktop {
      grid-column: 1/-1;
    }
  }

  &__years {
    font-size: 14px;
    line-height: 19.6px;
  }

  &__privacy {
    font-size: 14px;
    line-height: 19.6px;
  }

  &__info {
    display: flex;
    gap: 22px;

    @include desktop {
      gap: 102px;
    }
  }
}
