.footer-nav {
  &__title {
    @include linkHoverEffect($whiteColor);
    @include linkActiveEffect;

    width: min-content;
    margin-bottom: 10px;
  
    @include onTablet {
      margin-bottom: 30px;
    }
  }

  &__home-link {
    color: $whiteColor;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @include onTablet {
      gap: 10px;
    }
  }

  &__list-item {
    width: min-content;

    @include linkHoverEffect($whiteColor);
    @include linkActiveEffect;
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: $whiteColor;
  }
}
