.schedule {
  &__title {
    font-size: 18px;
    line-height: 150%;
    
    color: $whiteColor;

    margin-bottom: 10px;

    @include onTablet {
      font-size: 20px;

      margin-bottom: 30px;
    }

    @include onDesktop {
      font-size: 20px;
    }
  }

  &__schedule-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: $whiteColor;
  }
}
