$big-font: "Playfair Display", serif;
$small-font: "Raleway", sans-serif;
$main-color: #CD4D31;
$white-color: #F1F5F4;
$bc-color: #3F5252;
$black-color: #1C1B29;
$grey-color: #504F5E;

$tablet-min-width: 640px;
$desktop-min-width: 1280px;
