.block {
  &--current {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__photo-container {
    position: relative;
    width: 100%;
    padding-bottom: 127%;
    margin-bottom: 20px;

    @include onDesktop {
      padding-bottom: 80%;
    }

    &--ratio {
      @include onDesktop {
        padding-bottom: 128%;
      }
    }

    &--news {
      padding-bottom: 100%;
      @include onDesktop {
        padding-bottom: 65%;
      }
    }
  }

  &__photo {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;

    transition: transform, box-shadow, 0.3s;

    &--position-left {
      object-position: -20px;

      @include onDesktop {
        object-position: 0;
      }
    }

    &--position-top {
      @include onDesktop {
        object-position: top;
      }
    }

    &:hover {
      transform: scale(1.02);
      box-shadow: rgba(100, 100, 111, 0.4) 0 7px 29px 0;
    }
  }

  &__date {
    @extend %main-text;
    color: $c-main;
    margin-bottom: 10px;

    &--news {
      margin-bottom: 0;
      color: $c-black;
    }
  }

  &__subtitle {
    @include font-FSWL($f-serif, 20px, 700, 25px);
    color: $c-black;
    text-decoration: none;
    margin-bottom: 20px;

    &--link {
      @include link-animation($c-black);
    }

    @include onTablet {
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
    }
  }

  &__main-text {
    @extend %main-text;
    color: $c-gray;
    margin-bottom: 30px;
    max-width: 570px;

    @include onDesktop {
      margin-bottom: 50px;
    }
  }
}
