.footer {
  background-color: $c-bg;
  color: $c-white;

  &__block {
    &:not(:last-child) {
      margin-bottom: 50px;
      @include onTablet {
        margin-bottom: 62px;
      }
    }
  }

  &__contant {
    padding: 50px  0 30px ;
  }

  &__subtitle {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 30px;
    }
  }

  &__main-text {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  &__social {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 32px;

    @include onTablet {
      margin-top: 52px;
    }
  }

  &__nav-item {
    &:not(:last-child) {
      margin-bottom: 5px;

      @include onTablet {
        margin-bottom: 10px;
      }
    }
  }

  &__nav-link {
    color: $c-white;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    &-text {
      font-family: Raleway, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}
