.footer {
  background-color: $c-bg;
  color: $c-white;

  &__block {
    &:not(:last-child) {
      margin-bottom: 50px;
      @include onTablet {
        margin-bottom: 62px;
      }
    }
  }

  &__contant {
    padding: 50px 0 30px ;
  }

  &__subtitle {
    @include font-FSWL($f-serif, 20px, 700, 30px);
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 30px;
    }
  }

  &__link {
    @extend %main-text;
    @include link-animation;
    color: $c-white;
    text-decoration: none;
  }

  &__social {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 32px;

    @include onTablet {
      margin-top: 52px;
    }
  }

  &__nav-item {
    &:not(:last-child) {
      margin-bottom: 5px;

      @include onTablet {
        margin-bottom: 10px;
      }
    }
  }

  &__nav-link {
    @extend %main-text;
    @include link-animation;

    color: $c-white;
    text-decoration: none;
    letter-spacing: 0;
    text-align: left;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    &-text {
      @include font-FSWL($f-sans-serif, 14px, 400, 20px);
    }
  }
}
