.header {
  position: relative;
  min-height: 670px ;
  @extend %start-page;

  &__contant {
    margin-top: 70px;

    @include onTablet {
      margin-top: 120px;
    }
  }

  &__bg-imge {
    @extend %bg-img;

    @include onTablet {
      height: 67%;
    }

    @include onDesktop {
      height: 90%;
      right: 0;
      transform: translateX(0);
    }
  }

  &__additional-text {
    @extend %additional-text;
    margin-bottom: 10px;
  }

  &__title {
    @include font-FSWL($f-serif, 48px, 700, 48px);
    margin-bottom: 30px;

    @include onTablet {
      font-size: 72px;
      line-height: 72px;
      margin-bottom: 20px;
    }

    @include onDesktop {
      font-size: 96px;
      line-height: 96px;
      margin-bottom: 30px;
      max-width: 569px;
    }
  }

  &__date {
    @include font-FSWL($f-serif, 14px, 700, 17px );
    color: $c-white;
    position: absolute;
    bottom: 50px;

    opacity: 0.7;
    display: none;

    @include onDesktop {
      display: block;
    }

    &::after {
      content: "";
      position: relative;
      margin-left: 20px;
      top: -3px;
      display: inline-block;
      width: 469px;
      border-bottom: 1px solid white ;
    }
  }

  &__main-text {
    @extend %main-text;

    margin-bottom: 40px;
    max-width: 267px;

    @include onTablet {
      max-width: 330px;
      margin-bottom: 50px;
    }

    @include onDesktop {
      max-width: 569px;
      margin-bottom: 80px;
    }
  }
}
