.icon {
  display: block;
  @include sizeHW(20px, 25px);
  @extend %icon-property;

  &__menu-opener {
    height: 20px;
    background-image: url(/images/museum_icons/menu-opener.svg);
  }

  &__menu-closer {
    height: 25px;
    background-image: url(/images/museum_icons/Group5.svg);
  }

  &__facebook {
    background-image: url(/images/museum_icons/Vector2.svg);
  }

  &__tetter {
    background-image: url(/images/museum_icons/Vector3.svg);
  }

  &__telegram {
    background-image: url(/images/museum_icons/telegram.svg);
  }

  &__instagram {
    background-image: url(/images/museum_icons/instagram.svg);
  }

  &__up {
    background-image: url(/images/museum_icons/vector.svg);
  }
}
