.subscribe {
  &__main-text {
    @extend %main-text;
    color: $c-black;
    margin-bottom: 50px;
  }

  &__form {
    background-color: transparent;
    border: none;
    width: 100%;
    border-bottom: 1px solid  $c-black;
    height: 24px;
    margin-bottom: 30px ;
    padding: 3px 0;

    &::placeholder {
      @extend %main-text;
      color: $c-black ;
    }

    &:hover {
      border-color: $c-main;

      &::placeholder {
        color: $c-main;
      }
    }

    &:focus {
      outline: none;
      border-color: $c-main;
      color: $c-main;
    }
  }
}
