.description-header {
  padding: 50px 0 0;

  @include on-tablet {
    padding: 99px 0 0;
  }

  @include on-desktop {
    padding: 90px 0 0;
  }

  &__date {
    margin: 0;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    border: none;
    color: $c-text-white;
  }

  &__h1 {
    margin: 0;
    padding: 10px 0 30px;
    font-family: 'Playfair Display', sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    border: none;
    color: $c-text-white;

    @include on-tablet {
      padding-bottom: 20px;
      font-size: 72px;
      line-height: 72px;
    }

    @include on-desktop {
      padding-bottom: 30px;
      font-size: 96px;
      line-height: 96px;
    }
  }
}
