.icon-header {
  @include page-grid;

  background-color: $c-bgc-green;

  &__content {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;

    @include on-desktop {
      height: 90px;
    }

    &--logo {
      background-image: url(../images/logo/NAMU.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 123px;
      height: 40px;

      @include hover(transform, scale(1.05));
    }

    &--burger-menu {
      background-image: url(../images/icons/burger-menu.svg);
      background-position: center;
      background-size: cover;
      width: 25px;
      height: 20px;

      @include hover(transform, scale(1.05));
    }

    &--close {
      background-image: url(../images/icons/close.svg);
      background-position: center;
      background-size: cover;
      width: 22px;
      height: 22px;

      @include hover(transform, scale(1.05));
    }
  }
}

.language-and-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 44px;
}

.languages {
  display: none;

  @include on-tablet {
    display: flex;
  }

  &__styles {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border: none;
    color: #fff;
    background-color: $c-bgc-green;

    &::placeholder {
      outline: none;
    }

    &:focus {
      outline: none;
    }
  }
}

.language-aside-and-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.languages-aside {
  display: flex;

  &__styles {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border: none;
    color: #fff;
    background-color: $c-bgc-green;

    &::placeholder {
      outline: none;
    }

    &:focus {
      outline: none;
    }
  }
}
