.text-header {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 1 / 4;

    padding-bottom: 50px;
  }

  @include on-desktop {
    grid-column: 1 / 7;
  }

  &__p {
    margin: 0;
    padding-bottom: 40px;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    border: none;
    color: $c-text-white;
  }
}
