.contacts {
  &__links {
    margin-bottom: 30px;

    @include on-tablet {
      margin-bottom: 50px;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 27px;

    @include on-tablet {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__icons {
    &__list {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 20px;
    }

    &__logo {
      display: block;
      width: 20px;
      height: 20px;
      background-color: $c-white;
      background-repeat: no-repeat;
      background-position: center;

      @include hover(transform, scale(1.2));

      &--fb {
        mask: url(../images/icons/footer/facebook.svg);

        &:hover {
          background: #1877f2;
        }
      }

      &--x {
        mask: url(../images/icons/footer/twitter.svg);

        &:hover {
          background: $c-black;
        }
      }

      &--tg {
        mask: url(../images/icons/footer/telegram.svg);

        &:hover {
          background: #229ed9;
        }
      }

      &--inst {
        mask: url(../images/icons/footer/instagram.svg);

        &:hover {
          background: #d62976;
        }
      }
    }
  }
}
