.contacts {
  &__links {
    margin-bottom: 30px;

    @include on-tablet {
      margin-bottom: 50px;
    }
  }

  &__header {
    margin-bottom: 10px;
  }

  &__link {
    text-decoration: none;
  }

  &__icons {
    &__list {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 20px;
    }

    &__logo {
      display: block;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center;

      &--fb {
        background-image: url(../images/icons/footer/facebook.svg);
      }

      &--x {
        background-image: url(../images/icons/footer/twitter.svg);
      }

      &--tg {
        background-image: url(../images/icons/footer/telegram.svg);
      }

      &--inst {
        background-image: url(../images/icons/footer/instagram.svg);
      }
    }
  }
}
