.footer {
  background-color: #3F5252;
}

.footer__container {
  @include content-padding;
}


.footer__content {
  @include page-grid;

  padding: 34px 0 20px;

  @include on-tablet {
    padding: 50px 0 30px;
  }
}
