.footer {
  background-color: $c-background;

  &__content {
    @include page-grid;
    
    padding-block: 34px 30px;
  }

  &__contacts {
    grid-column: 1 / -1;
    margin-bottom: 50px;

    @include on-tablet {
      grid-column: span 2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }

  &__shedule {
    grid-column: 1 / -1;
    margin-bottom: 50px;

    @include on-tablet {
      grid-column: span 2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }

  &__nav {
    grid-column: 1 / -1;
    margin-bottom: 60px;

    @include on-tablet {
      grid-column: span 2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }

  &__terms {
    grid-column: 1 / -1;
  }
}
