.shedule {
  &__title {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;

    @include on-tablet {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }

  &__list {
    list-style: none;
  }
}
