.actual-exibition {
  background-color: #f1f5f4;
  padding: 0 55px;

  &__title {
    padding: 160px 0 100px;
    text-align: center;
    @include second-title;
  }

  &__catalog {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    gap: 90px 30px;
    align-items: center;
  }

  &__text {
    font-family: Playfair Display, sans-serif;
    font-weight: 700;
    font-size: 144px;
    line-height: 100%;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #3f5252;
    opacity: 0.3;
  }

  &__picture {
    position: relative;
  }

  &__image {
    display: block;
    position: absolute;
    top: 7%;

    &--1 {
      top: -450px;
      left: -55px;
    }

    &--2 {
      top: 15%;
      right: -25px;
    }
  }
}
