.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 60px;
  background-color: #cd4d31;
  font-size: 16px;
  color: #f1f5f4;
  transition: background-color 0.5s, border 0.5s;

  @media (max-width: 759px) {
    width: 280px;
  }

  &:hover {
    animation: pulse 2s infinite;
    background-color: #3f5252;
    border: 1px solid $main-color;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(11, 14, 14, 0.4);
    }
    70% {
      box-shadow: 0 0 0 15px rgba(11, 14, 14, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(11, 14, 14, 0);
    }
  }

}

.event__button--none {
  @media (max-width: 759px) {
    display: none;
  }
}
