.dots {
  display: none;

  @media (max-width: 759px) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    height: 60px;
  }
}

.dot {
  min-width: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #eee;
}

.dot--1,
.dot--2,
.dot--3 {
  animation: dot 1.4s infinite both;
}

.dot--2 {
  animation-delay: 0.2s;
}

.dot--3 {
  animation-delay: 0.4s;
}

@keyframes dot {
  0% {
    background: #f7fafc;
  }
  50% {
    background: #cbd5e0;
  }
  100% {
    background: #f7fafc;
  }
}
