.event {
  max-width: 380px;

  &--470 {
    max-width: 470px;
  }

  &--right {
    justify-self: end;
  }

  &__date {
    color: $color-orange;
    font-size: 14px;
    font-weight: 200;

    &--normal {
      color: $second-color;
    }

    &--big {
      font-family: "Playfair Display", serif;
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      margin-left: -25%;
    }
  }

  &__title {
    margin-top: 10px;
    font-size: 24px;
    color: $second-color;
    font-family: "Playfair Display", serif;
    line-height: 125%;
  }

  &__description {
    margin-top: 20px;
    color: #504f5e;
    line-height: 150%;

    &--8 {
      margin-top: 8px;
    }
  }

  &__button {
    margin-top: 50px;

    &--60 {
      margin-top: 60px;
    }
  }
}
