.event {
  max-width: 380px;

  &--470 {
    max-width: 470px;
  }

  &--end {
    justify-self: end;
  }

  &--left {
    @media (max-width: 1199px) {
      transform: translate(-100px, 0);
    }
  }

  &__date {
    color: $color-orange;
    font-size: 14px;
    font-weight: 200;

    &--hide {
      color: $color-orange;
      margin-right: 20px;
      display: none;

      @media (max-width: 759px) {
        display: inline-block;
      }
    }

    &--normal {
      color: $second-color;
    }

    &--big {
      font-family: "Playfair Display", serif;
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      margin-left: -25%;
      padding-bottom: 10px;

      @media (max-width: 759px) {
        font-size: 24px;
        margin-left: 0;
        padding-bottom: 0;
      }
    }
  }

  &__title {
    margin-top: 10px;
    font-size: 24px;
    color: $second-color;
    font-family: "Playfair Display", serif;
    line-height: 125%;

    @media (max-width: 759px) {
      margin-top: 5px;
    }
  }

  &__description {
    flex-basis: 50%;
    margin-top: 20px;
    color: #504f5e;
    line-height: 150%;

    &--8 {
      margin-top: 8px;
    }

    @media (max-width: 759px) {
      margin: 30px 30px 60px 0;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    margin: 50px 0;

    &--60 {
      margin-top: 60px;

      @media (max-width: 759px) {
        margin-top: 40px;
      }
    }
  }

  &__image {
    display: block;

    &--1 {
      position: absolute;
      right: 0;
      transform: translate(15%, -20%);
    }

    &--2 {
      transform: translate(-17%, 30%);
      margin-bottom: 80px;
    }

    &--3 {
      position: absolute;
      right: 0;
      transform: translate(15%, 20%);
      margin-bottom: 80px;
    }
  }
}
