.events {
  margin-top: 500px;
  margin-bottom: 110px;
}

.events__card {
  display: flex;
  gap: 30px;

  padding-top: 60px;
}

.title-btn-events {
  margin-bottom: 70px;
}

.events__card-desc {
  max-width: 570px;
  line-height: 1.5;
}

.events__card-date {
  color: $color-main;
  margin-bottom: 10px;
}

.events__card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.events__card-text {
  margin-bottom: 50px;
}

@media (min-width: 1279px) {
  .events {
    margin-top: 0;
  }
}

@media (max-width: 800px) {
  .events__card-img {
    width: 330px;
    height: 422px;
  }
}

@media (max-width: 700px) {
  .events__card {
    padding-top: 0px;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    max-width: 280px;
  }

  .events__card-bottom {
    margin-top: 60px;
  }

  .events__card-title {
    font-size: 20px;
  }

  .events {
    margin-bottom: 90px;
  }

  .events__card-desc {
    width: 280px;
  }
}

@media (max-width: 660px) {
  .button-transparent-mobile {
    display: block;
    margin-top: 30px;
    width: 330px;
  }
}
