.events {
  padding: 0 55px;
  max-width: 1280px;
  margin: auto;

  &__text {
    display: flex;
    gap: 30px;
  }

  &__day {
    font-family: Playfair Display, sans-serif;
    font-weight: bold;
    font-size: 55px;
    line-height: 100%;
    color: transparent;
    -webkit-text-stroke: 1px $color-orange;
  }

  &__time {
    font-family: Playfair Display, sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    color: $color-orange;
    margin: 10px 0 0 82px;
  }

  &__title {
    margin: 75px 0 63px;
    @include second-title;
    text-align: center;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}
