.title-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 71px;
}

.button-transparent span {
  display: flex;
  font-weight: 600;
}

.title__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
}

.button-transparent {
  padding: 22px 62px;
  color: $color-main;
  border: 1px solid $color-main;
}

.button-transparent img {
  margin-left: 10px;
}

.card__btn {
  margin: 0;
}

.card {
  max-width: 570px;
}

.card__img {
  margin-bottom: 20px;
}

.card__date {
  color: $color-main;
  margin-bottom: 10px;
}

.card__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  font-family: $font-playfair;
}

.card__text {
  line-height: 1.5;
  margin-bottom: 50px;
  margin-top: auto;
  min-height: 70px;
}

.exhibitions {
  margin-bottom: 200px;
}

.exhibitions__cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.button-transparent-mobile {
  display: none;
}

.button-transparent-text {
  text-wrap: nowrap;
}

@media (max-width: 1279px) {
  .card {
    width: 330px;
    height: 420px;
  }

  .card__img {
    content: url(/images/exhibitions/image-1-mob.jpg);
  }

  .card__img-right {
    content: url(/images/exhibitions/image-2-mob.jpg);
  }

  .card__title {
    min-height: 60px;
  }
}

@media (max-width: 760px) {
  .card {
    width: 280px;
    height: 356px;
  }

  .card__text {
    min-height: 96px;
  }

  .header__content-btn {
    width: 280px;
  }
}

@media (max-width: 660px) {
  .exhibitions {
    margin-bottom: -350px;
  }

  .card {
    margin-bottom: 380px;
  }

  .card__text {
    margin-bottom: 30px;
  }

  .title__title {
    font-size: 28px;
  }

  .button-transparent {
    display: none;
  }

  .title-btn {
    display: flex;
    justify-content: center;
  }

  .exhibitions__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-transparent-mobile {
    display: block;
    width: 280px;
    height: 60px;
    margin-top: 30px;
  }
}
