%button-blink {
  position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: '';
      width: 50%;
      height: 100%;
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
}