h1,
p,
ul,
li,
h3,
h2,
h4,
select {
  margin: 0;
}

%h1 {
  font-family: $fonts-2;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: $color-2;

  @include Tablet {
    font-size: 72px;
    line-height: 100%;
  }

  @include Desktop {
    font-size: 96px;
    line-height: 100%;
  }
}

%h2 {
  font-family: $fonts-2;
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
  color: $color-2;

  @include Tablet {
    font-size: 62px;
    line-height: 100%;
  }

  @include Desktop {
    font-size: 80px;
    line-height: 100%;
  }
}

%h3 {
  font-family: $fonts-2;
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  color: $colorBlack;

  @include Tablet {
    font-size: 40px;
    line-height: 125%;
  }

  @include Desktop {
    font-size: 48px;
    line-height: 120%;
  }
}

%h4 {
  font-family: $fonts-2;
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  color: $colorBlack;

  @include Tablet {
    font-size: 24px;
    line-height: 125%;
  }
}

%date {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $colorRed;
}

%text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

%center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
