@font-face {
  font-family: PlayfairDisplay;
  src: url(/src/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: PlayfairDisplay;
  src: url(/src/fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: PlayfairDisplay;
  src: url(/src/fonts/PlayfairDisplay/PlayfairDisplay-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: PlayfairDisplay;
  src: url(/src/fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Raleway;
  src: url(/src/fonts/Raleway/Raleway-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Raleway;
  src: url(/src/fonts/Raleway/Raleway-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Raleway;
  src: url(/src/fonts/Raleway/Raleway-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Raleway;
  src: url(/src/fonts/Raleway/Raleway-Bold.ttf);
  font-weight: 700;
}
