@font-face {
  font-family: Raleway, sans-serif;
  src: url(../fonts/Raleway/Raleway-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Raleway, sans-serif;
  src: url(../fonts/Raleway/Raleway-SemiBold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display', serif;
  src: url(../fonts/Playfair_Display/PlayfairDisplay-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: 'Playfair Display', serif;
  src: url(../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf) format("truetype");
}
