@font-face {
  font-family: "Namu" , sans-serif;
  src: url(../fonts/NAMU-Pro.ttf);
}

@font-face {
  font-family: "Raleway" , serif;
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Playfair", serif;
  src: url(../fonts/PlayfairDisplay-Regular.ttf);
}
