.footer {
  background-color: $background-color;
  &__wrapper {
    padding-block: 34px 30px;

    @include pageGrid;

    @include onTablet {
      padding-block: 50px 30px;
    }

  }

  &__contacts {
    grid-column: 1/-1;
    margin-bottom: 50px;

    @include onTablet {
      grid-column: 1/span 2;
    }

    @include onDesktop {
      grid-column: 1/span 4;
    }
  }

  &__schedule {
    grid-column: 1/-1;
    margin-bottom: 50px;

    @include onTablet {
      grid-column: 3/span 2;
    }

    @include onDesktop {
      grid-column: 5/span 4;
    }
  }

  &__nav {
    grid-column: 1/-1;
    margin-bottom: 60px;

    @include onTablet {
      grid-column: 5/span 2;
    }

    @include onDesktop {
      grid-column: 9/span 4;
    }
  }

  &__bottom {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: end;
    &--text {
      color: $white-color;
      font-size: 14px;
      font-family: "Raleway", sans-serif;
      line-height: 140%;
      white-space: nowrap;
      text-decoration: none;
    }
  }

  &__container {
    display: flex;
    gap: 22px;

    @include onDesktop {
      gap: 102px;
    }
  }

}
