.footer {
  background-color: #3f5252;
  height: 548px;

  &__wrapper {
    margin: auto;
    max-width: 1280px;
  }

  &__menu {
    padding: 160px 0 0 55px;
    display: grid;
    grid-template-columns: repeat(3, 240px) 220px 1fr;
    grid-template-rows: 1fr;
    gap: 0 60px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
  }

  &__text {
    margin-right: 40px;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    opacity: 0.6;
  }
}

.contacts {
  &__title {
    font-family: Playfair Display, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;
  }

  &__text {
    margin-top: 40px;
    line-height: 150%;
  }

  &__right {
    padding-left: 35px;
  }

  &__list {
    margin-top: 40px;
  }

  &__item {
    line-height: 150%;
    margin-top: 5px;
  }

  &__span {
    margin-right: 16px;
  }

  &__link {
    color: $main-color;
  }

  &__media {
    display: flex;
    justify-content: space-around;
    max-width: 150px;

    margin-top: 36px;
  }

}
