.form {

  &__input {
    all: unset;
    width: 100%;
    font-size: 16px;
    line-height: 150%;
    border-bottom: 1px solid $black-color;
    padding-bottom: 3px;
    margin-bottom: 30px;

    @include onDesktop {
      margin-bottom: 40px;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    background-color: $main-color;
    color: $white-color;
    border-style: none;
    font-family: "Raleway", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    max-width: 280px;

    @include onTablet {
      max-width: 330px;
      margin: 0;
    }

    @include onDesktop {
      max-width: 270px;
    }
  }
}
