body {
  font-family: var(--font-family-main);
  font-size: 16px;
  font-weight: 400;
  background-color: var(--color-white);
}

.container {
  max-width: var(--container-width);
  padding-inline: var(--container-padding-x);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-second);
  font-weight: 700;
  letter-spacing: 0%;
}

h1 {

  @include tablet-above {
    font-size: 72px;
    line-height: 1;
  }

  @include desktop-above {
    font-size: 96px;
    line-height: 1;

  }
}

h2 {
  font-size: 80px;
  line-height: 1;

  @include tablet-above {
    font-size: 62px;
    line-height: 1;
  }

  @include desktop-above {
    font-size: 80px;
    line-height: 1;

  }
}

h3 {
  font-size: 58px;
  line-height: 1.2;

  @include tablet-above {
    font-size: 40px;
    line-height: 1.25;
  }

  @include desktop-above {
    font-size: 58px;
    line-height: 1.2;

  }
}

h4 {
  font-size: 24px;
  line-height: 1.25;

}

h5 {
  font-size: 20px;
  line-height: 1.5;

}

h6 {
  font-size: 14px;
  line-height: 1.25;

}

.button {
  font-family: var(--font-family-second);
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0%;
  transition: all var(--transition-duration);


  --color-main-hover: #AF3419;
  --color-main-pressed: #EA340D;
  --color-main-disabled: #DD836F;

  &--primary {
    background-color: var(--color-main);

    @include hover {
      background-color: var(--color-main-hover);
    }

    &:active {
      background-color: var(--color-main-pressed);
    }

    &:disabled {
      background-color: var(--color-main-disabled);
    }
  }

  &--secondary {
    border: var(--border);
    color: var(--color-main);

    @include hover {
      border: 1px solid var(--color-main-hover);
      color: var(--color-main-hover);
    }

    &:active {
      border: var(--color-main-pressed);
      color: var(--color-main-pressed);

    }

    &:disabled {
      border: var(--color-main-disabled);
      color: var(--color-main-disabled);
    }
  }
}

.main-text {
  font-family: var(--font-family-second);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0%;
}

.additional-text {
  font-family: var(--font-family-second);
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0%;
}
