* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;

}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
{
  border: 1px solid $c-black;
  -webkit-text-fill-color: $c-gray;
  -webkit-box-shadow: 0 0 0 1000px #000 inset;
  transition: background-color 3000s ease-in-out 0s;
}
