.header {
  background-color: $background-color;

  &__content {
    height: fit-content;

    @include pageGrid;
  }

  &__center {
    height: fit-content;
    grid-column: 1/-1;

    @include onTablet {
      grid-column: span 5;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__date {
    font-family: "Raleway", serif;
    color: $white-color;
    font-size: 14px;
    line-height: 140%;
    margin: 0;
    margin-block: 70px 10px;

    @include onTablet {
      margin-top: 119px;
    }
  }

  &__title {
    margin-bottom: 30px;
    color: $white-color;

    @include onTablet {
      margin-bottom: 20px;
    }
  }

  &__main-text {
    margin: 0;
    margin-bottom: 40px;
    font-family: "Raleway", serif;
    font-size: 16px;
    line-height: 150%;
    color: $white-color;
    max-width: 267px;

    @include onTablet {
      margin-bottom: 50px;
      max-width: 330px;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 280px;
    height: 60px;
    background-color: $main-color;
    color: $white-color;
    border-style: none;
    font-family: "Raleway", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;

    @include onTablet {
      max-width: 330px;
      margin: 0;
    }

    @include onDesktop {
      margin-bottom: 135px;

    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: end;
    grid-column: 1/-1;

    @include onTablet {
      margin-top: 70px;
    }

    @include onDesktop {
      grid-column: 7/-1;
      grid-row: 2/4;
    }
  }

  &__photo {
    width: 100%;
    max-width: 245px;
    @include onTablet {
      max-width: 443px;
    }

    @include onDesktop {
      max-width: 625px;
      padding-top: 0;
    }
  }

  &__divider {
    display: none;
    position: relative;
    grid-column: 1/span 6;
    height: fit-content;
    margin-bottom: 50px;

    &::after {
      position: absolute;
      bottom: 50%;
      margin-left: 20px;
      content: "";
      width: 469px;
      height: 1px;
      background-color: $white-color;
    }

    @include onDesktop {
      display: block;
    }
  }
}
