.wrapper {
  margin: auto;
  max-width: 1280px;
  padding: 0 55px;
  position: relative;
  height: 800px;
}

.header {
  background-color: #3f5252;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  &__logo {
    padding: 20px 10px;
  }

  &__date {
    margin-top: 100px;
  }

  &__title {
    margin-top: 10px;
    @include title;
  }

  &__block {
    margin-left: 100px;
  }

  &__description {
    margin: 40px 0 60px;
  }

  &__date-bottom {
    position: relative;
    margin-top: 110px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 125%;
    opacity: 0.7;

    &::after {
      content: "";
      display: block;
      background-color: $main-color;
      width: 492px;
      height: 1px;
      position: absolute;
      top: 50%;
      left: 10%;
      opacity: 0.3;
    }
  }

  &__image {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__picture-description {
    position: absolute;
    top: 54%;
    right: 55px;
  }
}

.nav {
  display: flex;
  align-items: center;

  &__burger {
    display: flex;
    flex-direction: column;

    margin-right: 40px;
    padding: 20px 10px;
    cursor: pointer;
  }

  &__line {
    width: 25px;
    height: 2px;
    background-color: #f1f5f4;
    margin: 3px 0;
  }

  &__lang {
    display: flex;
    align-items: center;

    padding: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: $main-color;
    cursor: pointer;
  }

  &__down {
    margin-left: 5px;
  }

}
