.header {
  background-color: $background-color;

  &__content {
    height: fit-content;

    display: flex;
    flex-direction: column;
  }

  &__date {
    font-family: "Raleway", serif;
    font-size: 14px;
    line-height: 140%;
    margin: 0;
    margin-block: 70px 10px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__main-text {
    margin: 0;
    margin-bottom: 40px;
    font-family: "Raleway", serif;
    font-size: 16px;
    line-height: 150%;
  }

  &__button {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    background-color: $main-color;
    color: $white-color;
    border-style: none;
    font-family: "Raleway", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 40px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__photo {
    max-width: 245px;
  }
}
