.navbar {
  height: 900px;
  position: relative;

  &__description {
    display: flex;

    @media (max-width: 1199px) {
      flex-direction: column;
    }
  }

  &__description-text {
    font-size: 14px;
    width: 220px;

    @media (max-width: 759px) {
      display: none;
    }
  }

  &__description-title {
    font-weight: 200;
  }

  &__list {
    margin: 60px 0 80px;

    @media (max-width: 759px) {
      margin: 80px 0 0;
    }

    &::after {
      content: "";
      display: block;
      background-color: #f1f5f4;
      width: 570px;
      height: 1px;
      opacity: 0.3;

      @media (max-width: 759px) {
        display: none;
      }
    }
  }

  &__link {
    display: block;
    font-family: "Playfair Display", serif;
    color: $main-color;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    transition: color 0.3s ease;
    padding: 0 0 60px;

    @media (max-width: 759px) {
      font-size: 24px;
    }

    &:hover {
      color: $color-orange;
    }

  }

  &__button-block {
    display: flex;

    @media (max-width: 759px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__button {
    margin-right: 30px;
  }

  &__image {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;

    @media (max-width: 1199px) {
      display: none;
    }
  }
}
