.icon {
  display: block;
  height: 22px;
  width: 22px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  &--burger {
    background-image: url(../images/icons/burger.svg);
  }

  &--close {
    background-image: url(../images/icons/close.svg);
  }

  &--facebook {
    background-image: url(../images/icons/facebook.svg);
  }

  &--twitter {
    background-image: url(../images/icons/twitter.svg);
  }

  &--telegram {
    background-image: url(../images/icons/telegram.svg);
  }

  &--instagram {
    background-image: url(../images/icons/instagram.svg);
  }

  &--arrow-up {
    background-image: url(../images/icons/arrow-up.svg);
    height: 30px;
    width: 30px;
  }
}

.dropdown--hidden {
  display: none;

  @include on-tablet {
    display: block;
  }
}
