.icon {
  display: block;
  background-size: cover;
  background-position: center;
  margin-left: 30px;
  align-self: center;

  &--language {
    background-image: url(../images/icons/language.svg);
    height: 24px;
    width: 34px;
  }

  &--menu {
    background-image: url(../images/icons/menu.svg);
    height: 30px;
    width: 30px;
  }

  &--close {
    background-image: url(../images/icons/cross.svg);
    height: 30px;
    width: 30px;
  }
}
