.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: $background-color;
  color: $white-color;
  z-index: 1;

  &__top {
    margin-bottom: 30px;
  }

  &__schedule {
    margin-bottom: 20px;

    &--title {
      font-family: "Raleway";
      font-size: 14px;
      line-height: 140%;
    }

    &--content {
      font-family: "Raleway";
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
    }
  }

  &__address {
    margin-bottom: 40px;

    &--title {
      font-family: "Raleway";
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
    }

    &--content {
      font-family: "Raleway";
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__line {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: $white-color;
    margin-bottom: 40px;
  }
}
