.menu-info {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include on-tablet {
    flex-direction: row;
    gap: 123px;
  }

  @include on-desktop {
    gap: 83px;
  }

  &__adress {
    text-decoration: none;
    color: $white-txt-col;

    @include hover(transform, scale(1.2));
  }

  &__head {
    font-size: 14px;
  }

  &__info {
    font-size: 16px;
    font-weight: 600;
  }
}
