@mixin title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
}

@mixin second-title {
  font-weight: 700;
  color: $second-color;
  font-family: "Playfair Display", serif;
  font-size: 48px;
  line-height: 120%;
}
