@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin  onDesktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin gridTablet {
  grid-template-columns: repeat(6, 330px);
  column-gap: 30px;

}

@mixin gridDesktop {
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
}
