.wrapper {
  @media (max-width: 575px) {
    position: relative;
    max-width: 575px;
  }
}

.wrapper-slide {
  @media (max-width: 575px) {
    max-width: 575px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;

    &__item {
      @media (max-width: 575px) {
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: cover;
      }
    }
  }
}

// .slide-nav {
//   display: none;

//   @media (max-width: 575px) {
//     position: absolute;
//     display: flex;
//     gap: 20px;
//     left: 45%;
//     transform: translateY(-90px);
//     z-index: 1;

//     &__item {
//       height: 10px;
//       width: 10px;
//       border: 1px solid $orange-accent;
//       border-radius: 50%;
//       transition: all $animDuration;

//       &:hover {
//         background-color: #f78;
//       }

//       &:active {
//         background-color: $orange-accent;
//       }
//     }
//   }
// }
