.plan-visit {
  position: relative;
  padding-block: 50px;
  background-color: $background-color;

  @include onTablet {
    @include pageGrid;
    padding-block: 80px;
  }

  @include onDesktop {
    padding-block: 205px;
  }

  &__image {
    display: none;
    position: absolute;
    height: 100%;
    max-width: 578px;
    left: 0;

    @include onDesktop {
      display: block;
    }
  }

  &__title {
    color: $white-color;
    margin-bottom: 20px;

    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;

    @include onTablet {
      grid-column: 1/span 5;
      font-size: 62px;
    }

    @include onDesktop {
      grid-column: 6/-1;
      font-size: 80px;
    }
  }

  &__text {
    color: $white-color;
    margin-bottom: 40px;

    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 150%;

    @include onTablet {
      grid-column: 1/span 4;
      margin-bottom: 60px;
    }

    @include onDesktop {
      grid-column: 6/span 5;
      margin-bottom: 50px;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    background-color: $main-color;
    color: $white-color;
    border-style: none;
    font-family: "Raleway", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    max-width: 280px;
    transition: all 300ms;

    @include onTablet {
      max-width: 330px;
      grid-column: 1/span 3;
      margin: 0;
    }

    @include onDesktop {
      max-width: 270px;
      grid-column: 6/span 3;

      &:hover {
        background-color: $hover-orange-color;
      }

      &:active {
        background-color: $active-orange-color;
      }

      &:disabled {
        background-color: $disabled-orange-color;
      }
    }
  }
}
