.subscription__text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.subscription__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 50px;
}

.subscription__desc {
  line-height: 1.5;
  margin-bottom: 50px;
}

.subscription__input {
  margin-bottom: 30px;
  width: 450px;
  position: relative;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.subscription__input:hover::placeholder,
.subscription__input:hover {
  color: $color-main;
  border-color: $color-main;
}

.subscription__input:valid {
  border-color: green;
}

.subscription__input:focus {
  color: black;
  border-color: $color-main;
}

.input-btn {
  display: flex;
  flex-direction: column;
}

// .subscription__input::after {
//   content: '';
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 2px;
//   background-color: black;
//   z-index: 1;
// }

// .subscription__input::after {
//   content: '';
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 2px;
//   background-color: black;
//   z-index: 1;
// }

@media (max-width: 800px) {
  .subscription__text {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 160px;
  }

  .subscription__title {
    margin-bottom: 20px;
    font-size: 40px;
  }

  .subscription__desc {
    width: 570px;
  }
}
