.subscribe {
  &__wrapper {
    padding-bottom: 80px;
    @include pageGrid;

    @include onTablet {
      padding-bottom: 128px;
    }

    @include onDesktop {
      padding-bottom: 200px;
    }
  }

  &__title {
    grid-column: 1/-1;
    margin-bottom: 20px;

    @include onDesktop {
      grid-column: 1/span 6;
      font-size: 48px;
      margin-bottom: 50px;
    }
  }
  &__text {
    grid-column: 1/-1;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 150%;

    @include onTablet {
      grid-column: 1/-2;
    }

    @include onDesktop {
      grid-column: 7/span 6;
    }
  }
  &__form {
    grid-column: 1/-1;

    @include onTablet {
      grid-column: 1/span 4;
    }

    @include onDesktop {
      grid-column: 1/span 5;
    }
  }
}
