.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 180px 0 55px;
  background-color: #cd4d31;
  height: 459px;
  margin-top: 184px;

  @media (max-width: 1199px) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 100px;
    margin-top: 120px;
  }

  @media (max-width: 759px) {
    margin-top: 80px;
    padding: 0 20px;
  }

  &__title {
    @include second-title;
    color: $main-color;

    @media (max-width: 679px) {
      font-size: 36px;
    }
  }

  &__text {
    margin-top: 41px;
    max-width: 570px;
    line-height: 150%;
  }

  &__input {
    margin-top: 100px;
    width: 300px;
    height: 28px;
    border: none;
    border-bottom: 1px solid $main-color;
    cursor: pointer;
    line-height: 150%;
    font-family: "Raleway", sans-serif;
    color: $main-color;
    font-size: 16px;
    background-color: #cd4d31;
    outline: none;

    @media (max-width: 679px) {
      width: 228px;
    }

    &::placeholder {
      color: $main-color;
    }
  }

  &__button {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid $main-color;
    background-color: #cd4d31;
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    cursor: pointer;
    transition: transform 1s;

    &:hover {
      transform: scale(1.1);
    }

  }

}
