.text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__date {
    color: $orange-accent;
    font-size: 16px;
    margin: 20px 0 10px;

    &--actual {
      @include on-tablet {
        margin: 20px 0 -30px;
      }

      @include on-desktop {
        margin: 20px 0 10px;
      }
    }

    &--news {
      color: $main-txt-col;
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 25px;
    color: $main-txt-col;
    margin-bottom: 20px;
    &--actual {
      @include on-tablet {
        margin: 0;
      }

      @include on-desktop {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 16px;
    color: $gray-txt-col;
    margin-bottom: 30px;

    @include on-tablet {
      margin-bottom: 50px;
    }

    &--actual {
      @include on-tablet {
        margin: 0;
      }

      @include on-desktop {
        margin-bottom: 50px;
      }
    }

    &--end {
      margin-bottom: 0;
    }
  }

  &--actual {
    @include on-tablet {
      height: 300px;
      justify-content: space-between;
    }

    @include on-desktop {
      height: auto;
    }
  }
}
