.top-bar {
  padding-top: 20px;
  height: fit-content;
  @include onDesktop {
    padding-top: 26px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/-1;

  &__icons {
    display: flex;
  }

  &__logo {
    display: flex;
    width: 124px;
  }
}
