.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  height: fit-content;

  @include on-desktop {
    padding-block: 25px;
  }

  &__logo-link {
    height: 37px;

    @include hover(transform, scale(1.2));
  }

  &__logo {
    height: inherit;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @include on-tablet {
      gap: 40px;
    }
  }

  &__close {
    order: 2;

    @include on-tablet {
      order: 0;
    }
  }
}
