.raleway {
  font-family: Raleway, sans-serif;
  color: rgb(51, 58, 74);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;

  &__bold {
    font-weight: 600;
    color: $white-color;
    line-height: 150%;
  }

  &__main {
    color: $black-color;
    font-weight: 400;

    &--white {
      color: $white-color;
    }

    &--orange {
      color: $main-color;
      font-weight: 400;
    }
  }

  &__additional {
    color: $white-color;
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;

    &--black {
      color: $black-color;
      font-weight: 400;
    }
  }

  &__secondary {
    color: $white-color;
    font-weight: 500;
    line-height: 150%;
  }
}

.playfair {
  font-family: 'Playfair Display', serif;
  color: $black-color;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0%;
  text-align: left;

  &__h1 {
    color: $white-color;
    font-size: 48px;

    @include on-tablet {
      font-size: 72px;
    }

    @include on-desktop {
      font-size: 96px;
    }
  }

  &__h2 {
    color: $white-color;
    font-size: 38px;

    @include on-tablet {
      font-size: 62px;
    }

    @include on-desktop {
      font-size: 80px;
    }
  }

  &__h3 {
    font-size: 28px;
    line-height: 125%;

    @include on-tablet {
      font-size: 40px;
    }

    @include on-desktop {
      font-size: 58px;
      line-height: 120%;
    }
  }

  &__h4 {
    font-size: 20px;
    line-height: 125%;

    @include on-tablet {
      font-size: 24px;
    }
  }

  &__h5 {
    font-size: 20px;
    line-height: 150%;
    color: $white-color;

    @include on-tablet {
      font-size: 48px;
      line-height: 120%;
    }

    &--black {
      color: $black-color;

      @include on-tablet {
        font-size: 48px;
        line-height: 120%;
      }
    }
  }

  &__h6 {
    font-size: 14px;
    line-height: 125%;
    color: $white-color;
  }
}
