.upcoming {

  &__title {
    margin-top: 164px;

    @include onTablet {
      grid-column: 1/span 4;
    }
  }

  &__wrapper {

    @include onTablet {
      @include pageGrid;
    }
  }

  &__card {

    @include onTablet {
      @include pageGrid;
      max-width: fit-content;
      grid-column: span 6;
    }

    @include onDesktop {
      grid-column: span 12;
    }
  }

  &__button {
    display: block;
    margin: 30px auto 0;
    width: 100%;
    max-width: 280px;
    height: 60px;
    background-color: $white-color;
    color: $main-color;
    border: 1px solid $main-color;
    font-family: "Raleway", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;

    @include onTablet {
      grid-column: 5/-1;
      grid-row: 1/2;
      margin-top: 160px;
    }

    @include onDesktop {
      grid-column: 10/span 3;
    }
  }
}
