@import 'utils/reset';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/extends';

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:focus-visible {
  outline: 2px solid $focusAccent;
  outline-offset: 2px;
}
