$text-color-white: #f1f5f4;
$text-color-black: #1c1b29;
$text-color-gray: #504f5e;
$title-font: "Playfair Display", serif;
$paragraph-font: "Raleway", sans-serif;

$background-color: #3f5252;
$main-red-color: #cd4d31;
