.visited__musem {
  display: flex;
  max-height: 800px;
  width: 100%;
  background-color: $bg-color;
  color: white;
  margin-bottom: 110px;
}

.visited__musem {
}

.visited__musem-text {
  margin-top: 205px;
}

.visited__musem-title {
  font-size: 80px;
  font-weight: 700;
  max-width: 670px;
  font-family: $font-playfair;
  line-height: 1;
  margin-bottom: 20px;
}

.visited__musem-desc {
  line-height: 1.5;
  max-width: 470px;
  margin-bottom: 50px;
}

@media (max-width: 1180px) {
  .visited__musem {
    padding: 38px;
  }

  .visited__musem-text {
    margin-top: 80px;
  }

  .visited__musem-title {
    font-size: 62px;
    max-width: 570px;
  }

  .bg__img {
    display: none;
  }

  .visited__musem-desc {
    width: 450px;
  }

  .visited__musem {
    max-height: 515px;
  }

  .visited__musem {
    margin-bottom: 120px;
  }
}

@media (max-width: 510px) {
  .visited__musem {
    margin-bottom: 90px;
    height: 416px;
  }

  .visited__musem-title {
    font-size: 38px;
  }

  .visited__musem-text {
    margin-top: -10px;
  }

  .visited__musem {
    padding: 50px 20px;
  }

  .visited__musem-desc {
    max-width: 280px;
  }
}
