.actual {
  box-sizing: border-box;
  padding: 0 20px;
  display: block;

  @include onDesktop {
    padding: 0 55px !important;
  }
  @include onTablet {
    padding: 0 30px;
  }

  &__top {
    display: flex;
    justify-content: space-between;

  }
  &__image-angel {
    height: 356px;
    min-width: 280px;
    background-image: url(../images/actual1-mob.png);
    background-size: cover;

    &:hover {
      transform: scale(107%);
      filter: contrast(100%);
    }

   @include onTablet {
      min-width: 250px !important;
      height: 420px !important;
   }

    @include onDesktop {
      background-image: url(../images/actual-angel-desk.png);
      min-width: 570px !important;
      min-height: 484px !important;
      background-position: center;
    }
  }

  &__image-port {
    height: 356px;
    min-width: 280px;
    background-size: cover;
    background-image: url(../images/actual2-mob.png);

    &:hover {
      transform: scale(107%);
      filter: contrast(100%);
    }

    @include onTablet {
      min-width: 250px !important;
     height: 420px !important;
   }

    @include onDesktop {
      background-image: url(../images/actual.desk.png);
      min-width: 570px !important;
      min-height: 484px !important;
      transition: 1s;
    }
    
  }
  &__title {
    font-size: 28px;
    color: black;
    text-align: center;
    font-weight: 700;
    font-family: Playfair Display, Helvetica, sans-serif;
    margin: 90px 0 50px;

    @include onTablet {
      margin: 105px 0;
      font-size: 34px;
      white-space:nowrap;
    }
    @include onDesktop {
      font-size: 48px !important;
    }
}
&__date {
  color: #CD4D31;
  font-size: 16px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  margin: 20px 0 10px;
}
&__show {
  
  @include onTablet {
    display: flex;
    gap: 20px;
    justify-content: space-between;

  }
  @include onDesktop {
    display: flex;
    justify-content: space-between;
    
  }
}
&__show-title {
  font-size: 20px;
  font-weight: 700;
  font-family: Playfair Display, Helvetica, sans-serif;
  line-height: 25px;
  color: black;
  padding-bottom: 20px;

  @include onTablet {
    font-size: 16px;
  }
}

&__show-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Raleway", sans-serif;

  @include onTablet {
    max-width: 480px;
    
  }
}
&__show-text-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Raleway", sans-serif;


@include onTablet {
  
}

@include onDesktop {
  padding-bottom: 0;
}
}


&__btn {
  margin: 30px 0 !important;
  position: right bottom;
  @include onDesktop {
    width: 270px !important;
  }
  @include onTablet {
width: 280px !important;
}
}

&__about {
  @include onDesktop {

width: 570px;
  }
}
}
.actual__btn-start {
  display: none;

  @include onDesktop {
    display: block;
    max-width: 270px !important;
  }

  @include onTablet {
    display: block;
    max-width: 210px;
    margin-top: 100px;
  }
}

.actual__btn-end {
  @include onDesktop {
    display: none;
  }

  @include onTablet {
    display: none;
  }
}

