.actual__container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 160px auto 0;

  @include Mobile {
    margin-top: 60px;
    width: 280px;
  }
  @include SmallPhone {
    margin-top: 115px;
  }
  @include Tablet {
    margin-top: 115px;
  }
}

.actual__cards {
  height: 1800px;
  display: flex;
  width: 100%;
  flex-direction: column;
  @include Mobile {
    height: 100%;
  }
  @include SmallPhone {
    height: 100%;
  }
  @include Tablet {
    height: 100%;
  }
  @include Notebook {
    height: 100%;
  }
}

.actual__card {
  display: flex;
  flex-direction: row;
  @include Mobile {
    margin: 0;
  }

  @include Mobile {
    flex-direction: column;
  }
}

.actual__card2 {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;

  @include Mobile {
    margin-left: 0;
    max-width: 100%;
    max-height: 100%;
    margin-top: 90px;
  }
  @include SmallPhone {
    margin-left: 0;
    margin-top: 130px;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
  }
  @include Tablet {
    margin-top: 130px;
    margin-left: 60px;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
  }
  @include Laptop {
    margin-left: 60px;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
  }
  @include Notebook {
    margin-left: 0;
    padding: 0 0 0 255px;
  }
}

.actual__card3 {
  @include Mobile {
    margin-left: 0;
    margin-top: 90px;
  }
  @include SmallPhone {
    margin-top: 130px;
  }
  @include Tablet {
    margin-left: 60px;
    margin-top: 160px;
  }
  @include Laptop {
    margin-left: 60px;
    margin-top: 160px;
  }
  @include t1440 {
    margin-left: 160px;
    margin-top: 160px;
  }
  @include TheDesign {
    margin-left: 200px;
    margin-top: 160px;
  }
  @include LargeScreens {
    margin-top: 160px;
  }
}

.actual__card_container {
  @include Mobile {
    padding: 0 20px;
  }

  @include SmallPhone {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  @include Notebook {
    margin-right: 80px;
  }
}

.card__container2 {
  margin-top: 131px;
  padding: 10px 0 10px 10px;
  @include Mobile {
    margin-top: 20px;
  }
  @include t1440 {
    margin-left: 300px;
  }
  @include TheDesign {
    margin-left: 400px;
  }
  @include FullHD {
    margin-left: 200px;
  }
  @include LargeScreens {
    margin-left: 300px;
  }
}

.actual__title {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;

  /* identical to box height, or 58px */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  /* т */
  color: #1c1b29;
  @include SmallPhone {
    position: absolute;
    left: 170px;
    width: 374px;
  }
  @include Tablet {
    margin-left: 284px;
    width: 424px;
    height: 116px;
    text-align: start;
  }
  @include Notebook {
    justify-content: flex-start;
    margin-left: 570px;
  }
}

.actual__date {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;

  /* identical to box height, or 58px */

  /* a */
  color: #cd4d31;
  margin-top: 100px;
  position: relative;
  left: -100px;
  width: 268px;
  @include Mobile {
    left: 0;
    font-family: Playfair Display, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;

    /* identical to box height, or 30px */

    /* a */
    color: #cd4d31;
    margin-top: 20px;
  }
  @include SmallPhone {
    left: 0;
    top: 0;
    width: 374px;
    margin-top: 150px;
  }
  @include Tablet {
    margin-top: 45px;
    left: 0;
  }
}

.actual__card_title {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;

  /* identical to box height, or 30px */

  /* т */
  color: #1c1b29;
  margin-top: 20px;
  width: 370px;
  @include Mobile {
    width: 278px;
  }
  @include SmallPhone {
    width: 270px;
    margin-left: 52px;
  }
  @include Tablet {
    width: 312px;
    margin-left: 136px;
  }
}

.actual__card_title2 {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;

  /* identical to box height, or 30px */

  /* т */
  color: #1c1b29;
  margin-top: 20px;
  width: 370px;
  @include Mobile {
    width: 278px;
  }
  @include SmallPhone {
    width: 270px;
    margin-left: 52px;
  }
  @include Tablet {
    width: 312px;
    margin-left: 0;
  }
}

.actual__card_title3 {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;

  /* identical to box height, or 30px */

  /* т */
  color: #1c1b29;
  margin-top: 20px;
  width: 370px;
  @include Mobile {
    width: 278px;
  }
  @include SmallPhone {
    width: 91%;
  }
  @include Tablet {
    width: 312px;
    margin-left: 24px;
  }
}

.actual__card_info {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  /* or 24px */

  color: #504f5e;
  margin-top: 20px;
  width: 370px;
  @include Mobile {
    width: 278px;
  }
  @include SmallPhone {
    width: 270px;
    margin-left: 52px;
  }
  @include Tablet {
    width: 312px;
    margin-left: 136px;
  }
}

.actual__card_info2 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  /* or 24px */

  color: #504f5e;
  margin-top: 20px;
  width: 370px;
  @include Mobile {
    width: 278px;
  }
  @include SmallPhone {
    width: 270px;
    margin-left: 52px;
  }
  @include Tablet {
    width: 312px;
    margin-left: 0;
  }
}

.actual__card_info3 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  /* or 24px */

  color: #504f5e;
  margin-top: 20px;
  width: 370px;
  @include Mobile {
    width: 278px;
  }
  @include SmallPhone {
    width: 270px;
  }
  @include Tablet {
    width: 312px;
    margin-left: 24px;
  }
}

.actual__card_button,
.button {
  background: #cd4d31;

  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;

  /* identical to box height, or 16px */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  /* б */
  color: #f1f5f4;
  width: 270px;
  height: 60px;
  margin-top: 50px;
  @include Mobile {
    margin-top: 30px;
    width: 280px;
  }
  @include SmallPhone {
    margin-top: 30px;
  }
  @include Tablet {
    margin-top: 80px;
    margin-left: 136px;
  }
}

.actual__button2,
.actual__button1 {
  margin-left: 52px;
  @include Mobile {
    margin-left: 0;
  }
  @include Tablet {
    margin-left: 0;
  }
  @include Notebook {
    margin-left: 0;
  }
  @include t1440 {
    margin-left: 0;
  }
  @include TheDesign {
    margin-left: 0;
  }
  @include FullHD {
    margin-left: 0;
  }
  @include LargeScreens {
    margin-left: 0;
  }
}

.actual__button1 {
  @include Tablet {
    margin-left: 136px;
  }
}

.button3 {
  @include Tablet {
    margin-left: 24px;
  }
}

.image__text {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 124px;
  line-height: 100%;

  /* or 144px */
  display: flex;
  align-items: center;
  text-transform: uppercase;

  opacity: 0.1;

  /* b */
  border: 1px solid #3f5252;
  @include Mobile {
    font-size: 46px;
  }
}

.actual__card_image1 {
  background-image: url(/images/actual/wings.svg);
  width: 544px;
  height: 756px;
  object-fit: contain;
  background-size: contain;
  background-repeat: no-repeat;

  @include Mobile {
    width: 150px;
    height: 224px;
    object-fit: contain;
    background-size: contain;
  }
  @include SmallPhone {
    background-size: 100%;
    width: 220px;
    height: 340px;
  }
  @include Tablet {
    width: 282px;
    height: 423px;
    margin-top: -116px;
    object-fit: contain;
    background-size: contain;
  }
  @include Laptop {
    object-fit: contain;
    background-size: contain;
  }
  @include Notebook {
    margin-top: -116px;
    margin-right: 131px;
    object-fit: contain;
    background-size: contain;
  }
  @include t1440 {
    margin-top: -116px;
    margin-right: 231px;
    object-fit: contain;
    background-size: contain;
  }
  @include TheDesign {
    margin-right: 360px;
    margin-top: -120px;
    object-fit: contain;
    background-size: contain;
  }
  @include FullHD {
    margin-right: 500px;
    margin-top: -120px;
  }
  @include LargeScreens {
    margin-right: 550px;
    margin-top: -120px;
  }
}

.actual__image_container {
  order: 1;
  overflow: hidden;
  @include Mobile {
    order: 0;
  }
  @include SmallPhone {
    overflow: hidden;
    max-height: 500px;
    max-width: 390px;
  }

  @include Tablet {
    max-height: 488px;
    max-width: 390px;
    overflow: hidden;
  }
  @include Laptop {
    overflow: hidden;
  }
  @include Notebook {
    overflow: hidden;
  }
}

.actual__card_image2 {
  width: 544px;
  height: 480px;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: contain;
  overflow: hidden;

  order: 1;

  @include Mobile {
    width: 282px;
    height: 189px;
    order: 0;
    margin-top: 70px;
    margin-left: 50px;
    transform: rotate(12deg);
    overflow: hidden;
  }
  @include SmallPhone {
    width: 500px;
    object-fit: contain;
    height: 100%;
    overflow: hidden;
    transform: rotate(12deg);
  }

  @include Tablet {
    width: 488px;
    height: 250px;
    object-fit: contain;

    overflow: hidden;
    transform: rotate(12deg);
    margin-left: 20px;
    margin-top: 160px;
  }
  @include Laptop {
    width: 640px;
    transform: rotate(12deg);
    margin-left: 100px;
    overflow: hidden;
  }
  @include Notebook {
    width: 720px;
    transform: rotate(12deg);
    overflow: hidden;
    margin-left: 0;
  }
  @include t1440 {
    width: 920px;
    transform: rotate(12deg);
    overflow: hidden;
    margin-left: 60px;
    margin-top: 20px;
  }
  @include TheDesign {
    width: 720px;
    transform: rotate(12deg);
    overflow: hidden;
    margin-left: 60px;
  }
  @include FullHD {
    width: 920px;
    transform: rotate(12deg);
    overflow: hidden;
    margin-left: 260px;
  }
  @include LargeScreens {
    width: 920px;
    transform: rotate(12deg);
    overflow: hidden;
    margin-left: 260px;
  }
}

.actual__card_image3 {
  width: 544px;
  height: 816px;
  background-repeat: no-repeat;
  order: 0;
  @include Mobile {
    order: 0;
    width: 280px;
    height: 240px;
  }
  @include SmallPhone {
    width: 270px;
    object-fit: contain;
    height: 100%;
    overflow: hidden;
    margin-right: 24px;
  }
  @include Tablet {
    width: 312px;
    object-fit: contain;
    height: 100%;
    overflow: hidden;
  }
  @include Laptop {
    width: 544px;
    object-fit: contain;
    height: 100%;
    overflow: hidden;
  }
  @include Notebook {
    margin-right: 30px;
    width: 584px;
    object-fit: contain;
    height: 100%;
    overflow: hidden;
  }
  @include t1440 {
    margin-right: 30px;
    width: 584px;
    object-fit: contain;
    height: 100%;
    overflow: hidden;
  }
  @include TheDesign {
    margin-right: 30px;
    width: 584px;
    object-fit: contain;
    height: 100%;
    overflow: hidden;
    margin-left: 80px;
  }
  @include FullHD {
    margin-right: 230px;
    width: 584px;
    object-fit: contain;
    height: 100%;
    overflow: hidden;
    margin-left: 240px;
  }
  @include LargeScreens {
    margin-right: 230px;
    width: 584px;
    object-fit: contain;
    height: 100%;
    overflow: hidden;
    margin-left: 240px;
  }
}

.actual__date2 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  /* identical to box height, or 24px */

  /* a */
  color: #cd4d31;
  @include SmallPhone {
    margin-left: 52px;
  }
}

.actual__date3 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  color: #cd4d31;
  @include Mobile {
    margin-top: 20px;
  }
  @include Tablet {
    margin-left: 24px;
  }
}

.actual__archive_link {
  justify-content: flex-end;

  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;

  /* identical to box height, or 16px */
  display: flex;
  align-items: center;
  text-align: center;

  /* т */
  color: #1c1b29;
  @include Mobile {
    display: none;
  }
  @include SmallPhone {
    margin-top: 84px;
    margin-right: 60px;
  }
  @include Tablet {
    margin-top: 84px;
    justify-content: flex-start;
    margin-left: 503px;
  }

  @include Laptop {
    margin-top: 43px;
    margin-left: 755px;
    justify-content: flex-start;
  }
  @include Notebook {
    margin-top: 43px;
    margin-left: 955px;
    justify-content: flex-start;
  }

  &::after {
    content: "";
    background: #1c1b29;
    width: 70px;
    height: 1px;
    margin-left: 20px;
  }
}
