.hidden {
  opacity: 0;
  filter: blur(10px);
  transition: all 1.5s;

  &--left {
    transform: translateX(-55%);
  }

  &--right {
    transform: translateX(55%);
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translate3D(0, 0, 0);
}
