.hidden {
  opacity: 0;
  filter: blur(10px);
  transition: all 1.5s;

  &--left {
    transform: translateX(-100%);
  }

  &--right {
    transform: translateX(100%);
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
