.article {
  width: 370px;

  &__date {
    display: block;
    margin: 30px 0 5px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 200;
    color: #1c1b29;
  }

  &__heading {
    display: block;
    margin-bottom: 15px;
    font-family: "Playfair display", serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    color: #1c1b29;
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    color: #504f5e;
  }
}
