.btn {
  height: 60px;
  background-color: $accent;
  border-radius: 4px;
  border: 2px solid transparent;
  color: $c-gray;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  transition: $effectDuration;

  &:hover {
    background-color: $hover;
  }

  &--secondary {
    display: none;
    align-items: center;
    background-color: white;
    border: 2px solid $accent;
    color: $accent;
    background-image: url("./images/icons/arrow.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 24px center;

    @include onTablet {
      display: grid;
    }

    &:hover {
      background-color: $c-gray;
      background-image: url("./images/icons/arrow-hover.png");
      color: $hover;
      border: 2px solid $hover;
    }

    &--sm {
      display: block;
      width: 100%;
      margin-top: 30px;

      @include onTablet {
        display: none;
      }
    }
  }
}
