.button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $c-white;
  font-weight: 600;
  height: 60px;
  background-color: $c-orange;
  font-size: 16px;

  &:visited {
    background-color: #dd836f;
  }

  &:hover {
    background-color: #af3419;
  }

  &:active {
    background-color: #ea340d;
  }

  &--link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 60px;
    gap: 8px;
    border: 1px solid $c-orange;
    font-size: 16px;
    font-weight: 600;
    color: $c-orange;

    &:visited {
      border: 1px solid #dd836f;
      color: #dd836f;
    }

    &:hover {
      border: 1px solid #af3419;
      color: #af3419;
    }

    &:active {
      border: 1px solid #ea340d;
      color: #ea340d;
    }
  }
}
