.button-red {
  transition: 0.3s;

  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;

  color: $c-white;

  &:hover {
    background-color: #af3419;
  }

  &:active {
    background-color: #ea340d;
  }

  &:disabled {
    background-color: #dd836f;
  }
}

.button-white {
  transition: 0.3s;
  background-color: transparent;

  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  border: 1px solid $c-main;
  cursor: pointer;

  color: $c-main;

  &:hover {
    border: 1px solid #af3419;
    color: #af3419;
  }

  &:active {
    border: 1px solid #ea340d;
    color: #ea340d;
  }

  &:disabled {
    border: 1px solid #dd836f;
    color: #dd836f;
  }
}

.icon-link {
  position: relative;
  right: 41;
  top: 24;

  @include on-desktop {
    right: 61;
    top: 24;
  }

  .svg-path {
    transition: stroke 0.3s;

    &:hover {
      stroke: #af3419;
    }

    &:active {
      stroke: #ea340d;
    }

    &:disabled {
      stroke: #dd836f;
    }
  }

  &:hover .svg-path {
    stroke: #af3419;
  }

  &:active .svg-path {
    stroke: #ea340d;
  }

  &:disabled .svg-path {
    stroke: #dd836f;
  }
}
