.buttonBuy {
  &-link {
    height: 60px;
    background-color: $colorCD4D31;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $color-white;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;

    &:hover {
      background-color: $colorAF3419;
    }

    &:active {
      background-color: $colorEA340D;
    }

    &:disabled {
      background-color: $colorDD836F;
    }
  }
}

.buttonBuy-W {
  min-width: max-content;
 
  .buttonBuy-link {
    height: 60px;
    background-color: $color-white;
    color: $colorCD4D31;
    border: 1px solid $colorCD4D31;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    background-image: url(../images/Group.png);
    background-repeat: no-repeat;
    background-position: 90%;
    &:hover {
      border: 1px solid $colorAF3419;
      color: $colorAF3419;
    }

    &:active {
      border: 1px solid $colorEA340D;
      color: $colorEA340D;
    }

    &:disabled {
      border: 1px solid $colorDD836F;
      color: $colorDD836F;
    }
  }
}

.onMobil {
  margin: 0 0 60px;
}

.button-bot-page {
  grid-column: 1/4;
}

.button-subscribe {
  width: 280px;
  height: 60px;
  background-color: $colorCD4D31;
  border: none;
  cursor: pointer;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;

  color: $color-white;
  transition-duration: 1s;

  &:hover {
    background-color: $colorAF3419;
  }

  &:active {
    background-color: $colorEA340D;
  }

  &:disabled {
    background-color: $colorDD836F;
  }
}
