.button {
  all: unset;
  width: 279px;
  height: 60px;
  background-color: $main-red;
  margin-inline: auto;
  display: flex;
  margin-bottom: 40px;
  grid-column: 1/-1;

  @include hover(transform, scale(1.05));

  &:hover {
    background-color: $hovered-button;
  }

  &:active {
    background-color: $active-button;
  }

  &:disabled {
    background-color: $disabled-button;
  }

  @include on-tablet {
    width: 330px;
    height: 60px;
    margin-bottom: 70px;
    display: flex;
    margin-inline: 0;
  }

  @include on-desktop {
    width: 270px;
    height: 60px;
    margin-bottom: 135px;
    grid-column: 1/2;
  }

  &__link {
    text-decoration: none;
    color: $main-white;
    font-weight: 600;
    line-height: 16px;
    width: 100%;
    padding-block: 22px;
    text-align: center;
  }

  &--plan-visit {
    margin-bottom: 0;
    margin-top: 40px;

    @include on-tablet {
      margin-top: 60px;
    }

    @include on-desktop {
      margin-top: 50px;
      grid-column: 6/9;
    }
  }

  &--menu {
    margin-top: 81px;
    margin-bottom: 0;

    @include on-tablet {
      margin-top: 101px;
      margin-bottom: 30px;
    }

    @include on-desktop {
      margin-top: 121px;
      margin-bottom: 108px;
    }
  }

  &--email {
    color: $main-white;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;

    @include on-desktop {
      margin-top: 40px;
      width: 330px;
    }
  }
}
