.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;

  @include onTablet {
    width: 50%;
  }

  @include onDesktop {
    width: 50%;
  }

  &__image {
    display: block;
    height: 356px;
    margin-bottom: 20px;

    object-fit: cover;
    object-position: left;

    &--man {
      object-position: center;
    }

    @include onTablet {
      height: 420px;
    }

    @include onDesktop {
      height: 484px;
    }
  }

  &__title {
    margin-bottom: 20px;

    font-family: "Playfair Display", serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    color: $c-black;

    @include onTablet {
      font-size: 24px;
      line-height: 30px;
    }

    &--show {
      @include onTablet {
        flex-basis: 72px;
      }

      @include onDesktop {
        flex-basis: 0;
      }
    }
  }

  &__period {
    margin-bottom: 10px;

    color: $c-button;
  }

  &__description {
    margin-bottom: 30px;

    color: $c-gray;

    &--show {
      flex-basis: 96px;

      @media (min-width: 675px) {
        flex-basis: 0;
      }
    }

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }

    &--event {
      @include onTablet {
        margin-bottom: 50px;
      }
    }
  }

  &__button {
    &--event {
      width: 100%;
      
      @include onDesktop {
        width: 50%;
      }
    }
  }
  @include hover(transform, scale(105%));
  transition: all $d-transition;
}
