.close__container {
  margin-top: 260px;
  @include Mobile {
    margin-top: 90px;
    padding: 0 20px;
  }
  @include SmallPhone {
    margin-top: 142px;
  }
  @include Tablet {
    margin-top: 142px;
  }
  @include Laptop {
    margin-top: 240px;
  }
}

.close__title {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;

  /* identical to box height, or 58px */
  display: flex;
  align-items: center;

  /* т */
  color: #1c1b29;
  justify-content: center;
}

.close__cards {
  margin: 0 auto;
  width: 100%;
  @include Mobile {
    display: flex;
    flex-direction: column;
  }
}

.close__card {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  margin: 0 auto;

  @include Mobile {
    display: flex;
  }
  @include SmallPhone {
    display: flex;
  }
  @include Tablet {
    display: flex;
  }
  @include Laptop {
    padding: 0 55px;
  }
}

.close__date {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 100%;
  position: relative;
  left: -180px;
  top: 100px;
  @include Mobile {
    position: inherit;
    width: fit-content;
  }
  @include SmallPhone {
    left: -100px;
    top: 70px;
    width: 90px;
  }
  @include Tablet {
    left: -120px;
    top: 0;
  }
  @include Laptop {
    top: 0;
  }
}

.close__card_title {
  width: 470px;
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;

  /* or 30px */

  /* т */
  color: #1c1b29;

  @include Mobile {
    margin-top: 17px;
    width: 280px;
  }
  @include SmallPhone {
    margin-left: 24px;
    margin-top: 10px;
  }
  @include Tablet {
    margin-top: 10px;
  }
  @include Laptop {
    width: 370px;
    margin-top: 10px;
  }
}

.close__card_info {
  width: 470px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  /* or 24px */

  color: #504f5e;

  @include Mobile {
    margin-top: 20px;
    width: 280px;
  }
  @include SmallPhone {
    margin-left: 24px;
    margin-top: 20px;
  }
  @include Tablet {
    margin-top: 20px;
  }
  @include Laptop {
    margin-right: 20px;
    width: 370px;
    margin-top: 20px;
  }
}

.close__date_alt {
  display: block;
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 100%;

  color: #cd4d31;
  @include Mobile {
    display: none;
  }
  @include SmallPhone {
    font-size: 36px;
  }
  @include Tablet {
    font-size: 36px;
  }
}

.close__date_common {
  display: block;
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 100%;

  /* identical to box height, or 36px */

  /* a */
  color: #cd4d31;
  @include Mobile {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    /* or 24px */

    /* a */
    color: #cd4d31;
    display: none;
  }
  @include Tablet {
    font-size: 24px;
  }
}

.close__card_image1 {
  background-image: url(/images/close/man.svg);
  width: 370px;
  height: 475px;
  order: 1;
  margin-top: 63px;
  margin-left: 150px;
  @include Mobile {
    display: none;
  }
  @include SmallPhone {
    display: none;
  }
  @include Tablet {
    display: none;
  }
  @include Laptop {
    width: 340px;
  }
  @include LargeScreens {
    margin-left: 0;
  }
}

.close__card_image2 {
  background-image: url(/images/close/woman.svg);
  width: 370px;
  height: 475px;
  order: 0;
  margin-top: 63px;
  margin-left: -160px;
  @include Mobile {
    display: none;
  }
  @include SmallPhone {
    display: none;
  }
  @include Tablet {
    display: none;
  }
  @include Laptop {
    width: 340px;
    background-repeat: no-repeat;
    margin-left: -114px;
  }
  @include FullHD {
    margin-left: -80px;
  }
  @include LargeScreens {
    margin-left: 400px;
  }
}

.close__card_container {
  margin-top: 80px;
  margin-left: 400px;
  @include Mobile {
    display: grid;
    margin-left: 0;
    width: 280px;
    margin-top: 60px;
  }
  @include SmallPhone {
    margin-top: 55px;
    margin-left: 130px;
  }
  @include Tablet {
    margin-left: 172px;
  }
  @include Laptop {
    width: 380px;
    margin-left: 300px;
    margin-top: 200px;
  }
  @include FullHD {
    margin-left: 400px;
  }
  @include LargeScreens {
    width: 380px;
    margin-left: 800px;
  }
}

.close__card_container2 {
  margin-top: 80px;
  margin-left: -50px;
  display: flex;
  flex-direction: column;
  @include Mobile {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    width: 280px;
  }
  @include SmallPhone {
    margin-left: 130px;
  }
  @include Tablet {
    margin-left: 172px;
  }
  @include Laptop {
    margin-left: 160px;
    margin-top: 160px;
  }
}

.close__card_dateAndType {
  height: 24px;
  display: flex;
  @include Mobile {
    display: flex;
  }
  @include SmallPhone {
    height: 20px;
    display: flex;
  }
  @include Tablet {
    height: 24px;
  }
}

.date__alt {
  @include Laptop {
    margin-left: 0;
    margin-top: 0;
  }
}

.date__common {
  @include Laptop {
    margin-left: 0;
  }
}

.close__date-mobile {
  display: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  /* a */

  color: #cd4d31;
  @include Mobile {
    display: block;
  }
}

.close__card_event {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 20px;

  /* identical to box height, or 143% */

  /* т */
  color: #1c1b29;
  @include Mobile {
    width: fit-content;
    margin-left: 20px;
  }
  @include SmallPhone {
    margin-left: -66px;
  }
  @include Tablet {
    margin-left: -86px;
    height: 100%;
  }
  @include Laptop {
    margin-left: -130px;
    height: 20px;
  }
  @include Notebook {
    margin-left: -130px;
    height: 20px;
  }
  @include t1440 {
    margin-left: -130px;
    height: 20px;
  }
  @include TheDesign {
    margin-left: -130px;
    height: 20px;
  }
  @include FullHD {
    margin-left: -130px;
    height: 20px;
  }
  @include LargeScreens {
    margin-left: -130px;
    height: 20px;
  }
}

.close__card_button {
  @include Mobile {
    margin-top: 40px;
  }
  @include SmallPhone {
    margin-left: 24px;
  }
  @include Tablet {
    margin-top: 30px;
    margin-left: 0;
  }
}

.close__calendar_link {
  text-align: right;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;

  color: #1c1b29;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;

  &::after {
    content: "";
    background: #1c1b29;
    width: 70px;
    height: 1px;
    margin-left: 20px;
    flex-direction: row;
  }
  @include Mobile {
    margin-top: 60px;
    flex-direction: column;
    &::after {
      content: "";
      background: #1c1b29;
      width: 70px;
      height: 1px;
      margin-left: 0;
      margin-top: 10px;
    }
  }
  @include SmallPhone {
    margin-top: 60px;
    flex-direction: row;
    align-items: inherit;
    &::after {
      content: "";
      background: #1c1b29;
      width: 70px;
      height: 1px;
      margin-left: 19px;
      margin-top: 10px;
      margin-right: 60px;
    }
  }
  @include Tablet {
    margin-top: 49px;
    flex-direction: row;
    align-items: inherit;
    &::after {
      content: "";
      background: #1c1b29;
      width: 70px;
      height: 1px;
      margin-left: 19px;
      margin-top: 10px;
      margin-right: 60px;
    }
  }

  @include Laptop {
    margin-top: 49px;
    flex-direction: row;
    align-items: inherit;
    &::after {
      content: "";
      background: #1c1b29;
      width: 70px;
      height: 1px;
      margin-left: 19px;
      margin-top: 10px;
      margin-right: 60px;
    }
  }
  @include Notebook {
    margin-top: 49px;
    flex-direction: row;
    align-items: inherit;
    &::after {
      content: "";
      background: #1c1b29;
      width: 70px;
      height: 1px;
      margin-left: 19px;
      margin-top: 10px;
      margin-right: 60px;
    }
  }
}
