.button {
  display: flex;

  width: 280px;
  height: 60px;

  @include tablet {
    width: 330px;
  }

  @include desktop {
    width: 270px;
  }

  text-decoration: none;

  background: $orange;

  transition: 0.2s;

  &--hover:hover {
    background: #af3419;
  }

  &--active:active {
    background: #ea340d;
  }

  &--disabled:disabled {
    background: #dd836f;
  }
}

.button-archive {
  display: flex;

  box-sizing: border-box;

  width: 280px;
  height: 60px;

  text-decoration: none;

  border: 2px $orange solid;

  transition: 0.2s;

  background-color: $c-gray;

  &--hover:hover {
    border-color: #af3419;
  }

  &--active:active {
    border-color: #ea340d;
  }

  &--disabled:disabled {
    border-color: #dd836f;
  }

  &-title {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;

    margin: auto;

    color: $orange;

    &--hover:hover {
      color: #af3419;
    }
    &--active:active {
      color: #ea340d;
    }
    &--disabled:disabled {
      color: #dd836f;
    }
  }
}

.pharagraph {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 150%;

  color: #504f5e;
}

.foto-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
}

.photo {
  object-fit: cover;
  object-position: center;

  width: 280px;

  @include tablet {
    width: 330px;
  }
}

.duration {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 150%;

  color: $orange;
}
