.container {
  position: relative;
  padding-inline: 20px;
  margin-inline: auto;
  max-width: 320px;

  @include on768px {
    padding-inline: 39px;
    max-width: 768px;
  }

  @include on1280px {
    padding-inline: 55px;
    max-width: 1280px;
  }
}
