.container {
  &__nav {
    margin: $margin-phone;

    @include tablet {
      display: flex;
      flex-direction: column;
      margin: $margin-tablet;
    }

    @include desktop {
      @include flex-row-btwn;

      margin: $margin-desktop;
    }

    &--header {
      margin: $margin-phone;

      @include tablet {
        margin: $margin-tablet;
      }

      @include desktop {
        margin: $margin-desktop;
      }
    }
  }

  &__header {
    margin: $margin-phone;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      margin: $margin-tablet;
    }

    @include desktop {
      margin: $margin-desktop;
    }
  }

  &__main {
    margin: $margin-phone;

    @include tablet {
      margin: $margin-tablet;
    }

    @include desktop {
      margin: $margin-desktop;
    }
  }

  &__actual-events {
    margin: $margin-phone;

    @include tablet {
      margin: $margin-tablet;
    }

    @include desktop {
      margin: $margin-desktop;
    }
  }

  &__nearest-events {
    margin: $margin-phone;

    @include tablet {
      margin: $margin-tablet;
    }

    @include desktop {
      margin: $margin-desktop;
    }
  }

  &__plan-visit {
    margin: $margin-phone;

    @include tablet {
      margin: $margin-tablet;
    }

    @include desktop {
      margin-left: 0;
      margin-right: 55px;
    }
  }

  &__plan-visit-img {
    display: none;

    @include desktop {
      display: block;
      height: 100%;
      max-width: 578px;
    }
  }

  &__news {
    margin: $margin-phone;

    @include tablet {
      margin: $margin-tablet;
    }

    @include desktop {
      margin: $margin-desktop;
    }
  }

  &__subscribe {
    margin: $margin-phone;

    @include mobile {
      width: 280px;
    }

    @include tablet {
      margin: $margin-tablet;
    }

    @include desktop {
      margin: $margin-desktop;
    }
  }

  &__footer {
    margin: $margin-phone;

    @include tablet {
      margin: $margin-tablet;
    }

    @include desktop {
      margin: $margin-desktop;
    }
  }
}
