.cross {
  position: relative;
  width: 25px;
  height: 25px;

  &__item {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 2px;
    background-color: $text-color-light;
    transform: translate(-50%);

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }
}
