.decor-line {
  display: none;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;

  @include onDesktop {
    display: flex;
  }

  @media (max-width:640px) {
    width: 125%;
  }
}

.decor-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 125%;
  opacity: 0.7;
  color: $color-white;
}

.decor-lines {
  width: 80%;
  border-bottom: 1px solid $color-white;
  opacity: 0.3;
}
