.digest{
  @include page-grid;

  &__title{
    grid-column: 1/-1;

    @include on-desktop{
      grid-column: 1/6;
    }
  }

  &__description{
    grid-column: 1/-1;
    margin-top: 20px;

    @include on-tablet {
      grid-column: 1/5;
    }

    @include on-desktop {
      grid-column: 7/-1;
      margin-top: 0;
    }
  }

  &__form {
    margin-top: 50px;
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1/5;
    }

    @include on-desktop {
      grid-column: 1/6;
    }
  }

  &__email {
    all: unset;
    width: 100%;
    padding-bottom: 3px;
    border-bottom: 1px solid $main-black;
    font-weight: 700;

    &::placeholder {
      color: $main-black;
      font-weight: 400;

      &:hover {
        color: $main-red;
      }
    }

    &:hover,
    &:focus {
      border-bottom: 1px solid $main-red;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus{
    -webkit-text-fill-color: $main-black;
    -webkit-box-shadow: 1000px $main-black;
    transition: background-color 5000s ease-in-out 0s;
    }
  }
}