.digest {

  @include Desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__email {
    margin: 0 0 3px;
    background-color: #eee;
    font-weight: 400;
    font-size: 16px;
    border: none;
    line-height: 150%;
    width: 100%;
    color: #1c1b29;
    outline: none;
  }
}
