.dropdown {
  &__select {
    font-size: 16px;
    background-color: $background-color;
    color: white;
    border: none;
    outline: none;
  }

  &-wrapper {
    display: flex;
    color: $main-white-color;
    margin-left: 40px;
  }

  &:hover .dropdown-content {
    display: block;
  }
}
