.event {
  .event__item {
    margin-bottom: 60px;

    @include Tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 0;
      gap: 30px;
    }
    @include Desktop {
      display: grid;
      grid-template-columns: 1fr 2fr;
      margin-bottom: 0;
      gap: 30px;
    }
  }

  .events__sign-up {
    @include Desktop {
      max-width: 270px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
