.events {
  margin-top: 120px;

  @include onTablet {
    margin-top: 164px;
  }

  @include onDesktop {
    margin-top: 200px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
