.event {

  @include onTablet {
    @include pageGrid;
  }

  &__wrapper {
    display: grid;
    row-gap: 60px;
  }

  &__photo {
    margin: 0;

    @include onTablet {
      grid-column: 1/4;
    }

    @include onDesktop {
      grid-column: 1/5;
    }
  }

  &__bottom {
    margin: 0;
  }

  &__grid {
    @include onTablet {
      grid-column: 4/-1;
    }

    @include onDesktop {
      grid-column: 5/-1;
    }
  }
}
