.events {
  display: flex;
  flex-direction: column;

  &__card {
    @include onTablet {
      display: grid;
      grid-template-columns: 330px 1fr;
      gap: 20px;
    }

    @include onDesktop {
      display: grid;
      grid-template-columns: 400px 570px 1fr;
      gap: 20px;
    }
  }
}
