.event {
  display: flex;
  justify-content: space-between;

  &__photo {
    position: relative;
  }

  &__photo-bacground {
    position: absolute;
    top: -134px;
    right: 0;
    width: 568px;

    font-family: "Playfair Display", serif;
    font-size: 144px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: #3f5252;
    opacity: 0.3;
  }

  &__img {

    &--1 {
      position: absolute;
      left: 0;
      top: -18vh;
    }

    &--2 {
      margin-bottom: 90px;
    }
  }

  &__info {
    width: 50%;
  }

  &__date {
    display: block;
    color: #cd4d31;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 1.5;

    &--1 {
      position: relative;
      right: 100px;
      margin-top: 100px;
      font-family: "Playfair Display", serif;
      font-size: 48px;
      line-height: 1.2;
    }
  }

  &__heading {
    margin: 20px 0;

    font-family: "Playfair display", serif;
    font-size: 24px;
    line-height: 1.2;
  }

  &__description {
    width: 370px;

    font-size: 16px;
    line-height: 1.5;
    margin-bottom: calc(50px + 18px);
  }

}
