.exhibition {

  @include onTablet {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 160px;
  }

  @include onDesktop {
    margin-bottom: 200px;
  }

  &__pageone {
    @include onTablet {
      margin-right: 30px;
    }

  }

  &__title {
    margin-bottom: 20px;

    @include onTablet {
      width: 329px;
    }

    @include onDesktop {
      width: 569px;
    }

    &-pagetwo {
      @include onTablet {
        margin-bottom: 50px;
      }

      @include onDesktop {
        margin-bottom: 20px;
      }
    }
  }
}
