.exhibitions {

  &-container {
    margin-left: 20px;
    margin-right: 20px;
  }

  &__title {
    margin: 0;
    margin-bottom: 60px;

    @include onPhone {
      margin-top: 90px;
      width: max-content;
    }

    @include onTablet {
      margin-top: 105px;
      margin-bottom: 75px;
    }

    @include onDesktop {
      width: max-content;
      margin-top: 110px;
      margin-bottom: 71px;
    }
  }

  &__paragraph {

    // &-container {
    //   // &-second {

    //   // }
    // }

    &-date {
      @extend %Raleway400;
      margin: 0;
      font-size: 16px;
      line-height: 150%;
      color: $button-color;
      margin-top: 20px;

      @include onTablet {
        margin-top: 30px;
      }
    }

    &-title {
      margin: 0;
      font-size: 20px;
      line-height: 125%;
      color: $title-color;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    &-description {
      margin: 0;
      @extend %Raleway400;
      font-size: 16px;
      line-height: 150%;
      color: $description-color;
      margin-bottom: 30px;

      @include onTablet {
        margin-bottom: 40px;
      }

      @include onDesktop {
        margin-bottom: 50px;
      }
    }
  }
}
