.exhibition {

  @include onTablet {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    @include pageGrid;
    margin-bottom: 160px;
  }

  @include onDesktop {
    margin-bottom: 200px;
  }

  &__pageone {
    @include onTablet {
      margin-right: 30px;
      grid-column: 1/4;
    }

    @include onDesktop {
      grid-column: 1/7;
    }
  }

  &__pagetwo {
    @include onTablet {
      grid-column: 4/-1;
    }

    @include onDesktop {
      grid-column: 7/-1;
    }
  }

  &__title {
    margin-bottom: 20px;

    @include onTablet {
      width: 329px;
    }

    @include onDesktop {
      width: 569px;
    }

    &-pagetwo {
      @include onTablet {
        margin-bottom: 50px;
      }

      @include onDesktop {
        margin-bottom: 20px;
      }
    }
  }
}
