.exhibitions {
  padding-top: 90px;

  @include onTablet {
    padding-top: 105px;
  }

  @include onDesktop {
    padding-top: 110px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
