.exhibitions {
  @include paddingInline;
  // width: 280px;

  // @include onTablet{
  //   display: grid;
  //   grid-template-areas: "title button";
  //   grid-template-columns: 50%;

  //   // margin: 0;
  // }

  &__wrapper {
    margin: 0 auto;
  }

  &__title {
    margin-top: 120px;
    padding-bottom: 60px;

    @include forTitle;
    // font-family: "Playfair Display", serif;
    // font-weight: 700;
    // font-size: 28px;
    // line-height: 35px;

    // @include onTablet {
    //   font-size: 40px;
    //   line-height: 50px;
    // }

    // grid-area: title;
  }

  &__conteiner {
    display: flex;
    flex-direction: column;
    gap: 60px;

    margin-bottom: 30px;

    @include onTablet {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 29px;
    }
  }

  &__btn {
    // box-sizing: border-box;
    // display: block;
    // width: 280px;
    // margin: 0 auto;
    // text-decoration: none;
    @include forBtnLight;

    padding: 22px 67px;

    // background-color: transparent;
    // border: 1px solid $c-orange;
    // color: $c-orange;

    // grid-area: button;
  }
}
