@mixin font-additional($color: $c-white) {
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: $color;
  letter-spacing: 0%;
}

@mixin font-main($color: $c-white) {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: $color;
  letter-spacing: 0%;
  vertical-align: middle;
}

@mixin font-main-medium($color: $c-white) {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: $color;
  letter-spacing: 0%;
  vertical-align: middle;
}

@mixin font-main-bold($color: $c-white) {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: $color;
  letter-spacing: 0%;
  vertical-align: middle;
}

@mixin font-h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  color: $c-white;
  letter-spacing: 0%;

  @include on-tablet {
    font-size: 72px;
  }

  @include on-desktop {
    font-size: 96px;
  }
}

@mixin font-h2 {
  font-family: 'Playfair Display', serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 100%;
  color: $c-white;
  letter-spacing: 0%;
  vertical-align: middle;

  @include on-tablet {
    font-size: 62px;
  }

  @include on-desktop {
    font-size: 80px;
  }
}

@mixin font-h3 {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 125%;
  color: $c-black;
  letter-spacing: 0%;
  vertical-align: middle;

  @include on-tablet {
    font-size: 40px;
  }

  @include on-desktop {
    font-size: 48px;
  }
}

@mixin font-h3-static($color: $c-white) {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  color: $color;
  letter-spacing: 0%;
  vertical-align: middle;
}

@mixin font-h4 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 125%;
  color: $c-black;
  letter-spacing: 0%;
  vertical-align: middle;

  @include on-tablet {
    font-size: 24px;
  }
}

@mixin font-h5($color: $c-white) {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  color: $color;
  letter-spacing: 0%;
  vertical-align: middle;

  @include on-tablet {
    font-size: 20px;
  }
}

@mixin font-h6($color: $c-white) {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 125%;
  color: $color;
  letter-spacing: 0%;
}

@mixin font-button($color: $c-white) {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  color: $color;
  text-align: center;
  letter-spacing: 0%;
  vertical-align: middle;
}
