@mixin h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;

  @include on-tablet {
    font-size: 72px;
    line-height: 72px;
  }

  @include on-desktop {
    font-size: 96px;
    line-height: 96px;
  }
}

@mixin h2 {
  @include h1;

  font-size: 38px;
  line-height: 38px;

  @include on-tablet {
    font-size: 62px;
    line-height: 62px;
  }

  @include on-desktop {
    font-size: 80px;
    line-height: 80px;
  }
}

@mixin h3 {
  @include h1;

  font-size: 28px;
  line-height: 35px;

  @include on-tablet {
    font-size: 40px;
    line-height: 50px;
  }

  @include on-desktop {
    font-size: 48px;
    line-height: 57.6px;
  }
}

@mixin h4 {
  @include h1;

  font-size: 20px;
  line-height: 25px;

  @include on-tablet {
    font-size: 24px;
    line-height: 30px;
  }

  @include on-desktop {
    font-size: 24px;
    line-height: 30px;
  }
}

@mixin h5 {
  @include h1;

  font-size: 20px;
  line-height: 30px;
}

@mixin h6 {
  @include h1;

  font-size: 14px;
  line-height: 17.5px;
}

@mixin button {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

@mixin main {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@mixin additional {
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}
