@font-face {
  font-family: 'Days One';
  src: url('fonts/Days One.woff2') format('woff2')
}

@font-face {
  font-family: evolver-variable,sans-serif;
  font-variation-settings: 'wght' 700, 'slnt' 0;
  src: url(../fonts/Evolver.ttf);
}

/* @font-face {
  font-family: nasa, sans-serif;
  font-variation-settings: 'wght' 400, 'slnt' 0;
  src: url(../fonts/Nasa.ttf);
}

@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");

}

 @import 'https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Raleway:wght@400;600;700&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Reddit+Mono:wght@900&family=Rubik+Glitch&display=swap');
@import url(../fonts/DaysOne-Regular.ttf);
@import url(../fonts/Reddit_Mono/RedditMono-VariableFont_wght.ttf);
@import url(../fonts/RubikGlitch-Regular.ttf);
@import url(../fonts/Evolver.ttf);
@import url(../fonts/Nasa.ttf); */

