.footer {
  padding: 34px 20px 30px;
  background-color: rgba(63, 82, 82, 1);

  @include on-tablet {
    padding: 50px 39px 30px;
  }

  @include on-desktop {
    padding: 50px 55px 30px;
  }

  &__top {
    @include on-tablet {
      display: flex;
      gap: 80px;
      padding-bottom: 60px;
    }

    @include on-desktop {
      padding-bottom: 70px;
      gap: 200px;
    }
  }

  &__contact {
    padding-bottom: 50px;

    @include on-tablet {
      padding: 0;
    }
  }

  &__contact-title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(241, 245, 244, 1);
    padding-bottom: 10px;

    @include on-tablet {
      font-size: 20px;
      padding-bottom: 30px;
    }
  }

  &__contanct-text {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgb(208, 208, 208);
    padding-bottom: 30px;

    @include on-tablet {
      padding-bottom: 50px;
    }
  }

  &__contact-link {
    text-decoration: none;
    color: rgb(208, 208, 208);
    transition: all $timeAnimation;

    &:hover {
      font-weight: 500;
      color: antiquewhite;
    }
  }

  &__icons {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__ico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    transition: all $timeAnimation;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__time {
    padding-bottom: 50px;

    @include on-tablet {
      padding: 0;
    }
  }

  &__time-title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(241, 245, 244, 1);
    padding-bottom: 10px;

    @include on-tablet {
      font-size: 20px;
      padding-bottom: 30px;
    }
  }

  &__time-text {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgb(208, 208, 208);
  }

  &__nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;

    @include on-tablet {
      padding: 0;
    }
  }

  &__nav-title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(241, 245, 244, 1);
    padding-bottom: 10px;

    @include on-tablet {
      font-size: 20px;
      padding-bottom: 30px;
    }
  }

  &__nav-link {
    position: relative;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: none;
    color: rgb(208, 208, 208);
    padding-bottom: 5px;

    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 2px;
      bottom: 5px;
      width: 100%;
      background-color: rgb(240, 240, 240);
      border-radius: 4px;

      transition: all $timeAnimation;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }

    @include on-tablet {
      padding-bottom: 10px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__bottom-texts {
    display: flex;
    align-items: center;
    gap: 102px;
  }

  &__bottom-text {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(208, 208, 208);
  }

  &__home {
    transition: all $timeAnimation;

    &:hover {
      transform: scale(1.1);
    }
  }
}
