.footer {
  max-width: 100%;
  background-color: #3f5252;
  display: flex;
  justify-content: center;

  &__container {
    width: $contentWidth;
    height: 548px;
    display: flex;
    justify-content: space-between;
  }
}
