.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $background;

  &__container {
    @include tablet {
      display: grid;
      padding-top: 50px;
    }
  }
}
