.bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;

  @include tablet {
    grid-column: 1 / 7;
  }

  @include desktop {
    grid-column: 1 / 13;
  }

  &__text-container {
    display: flex;
    justify-content: space-between;

    @include desktop {
      width: 310px;
    }
  }

  &__scroll-up {
    width: 30px;
    height: 30px;

    margin-bottom: -5px;
  }

  &__text {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 140%;

    margin-right: 25px;

    color: $white;
  }
}
