.form {
  @include pageGrid;

  &__title {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 6;
    }

  }

  &__content {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 5;
    }

    @include onDesktop {
      grid-column: 7 / 13;
    }
  }

  &__form {
    margin-top: 30px;
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;

    @include onTablet {
      grid-column: 1 / 4;
    }
  }

  &__input {
    border: none;
    border-bottom: 1px solid $color-text;
    margin-bottom: 30px;
    outline: none;

    &:-webkit-autofill {
      background-color: white;
    }

    &::placeholder {
      color: $color-text;
    }

    &:hover::placeholder {
      color: $links-hover;
    }

    &:hover {
      color: $links-hover;
    }

    &:focus {
      color: $color-text;
      border-color: $links-hover;
    }

    &:valid {
      color: $color-text;
    }

    &:invalid {
      border-color: $accent;
    }

    grid-column: 1 /-1;

    @include onTablet {
      grid-column: 1 / 5;
    }
  }

  &__btn {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }
  }
}
