.form {

  &-field {
    border: none;
    outline: none;

    &:hover {
      border-bottom: 1px solid $button-color;

      &::placeholder {
        color: $button-color;
      }
    }

    &:focus {
      color: $title-color;
      border-bottom: 1px solid $button-color;

      &::placeholder {
        color: $title-color;

      }
    }

    &:disabled {
      border-color: $disabled-color;
    }

    &-email {
      border: none;
      outline: none;
      @extend %Raleway700;
      border-bottom: 1px solid $title-color;
      font-size: 16px;
      line-height: 150%;
      display: flex;
      align-items: center;
      color: $title-color;
      margin-bottom: 30px;
      width: 100%;
      background: transparent;

      @include onDesktop {
        margin: 0;
        margin-top: 50px;
        margin-bottom: 40px;
      }

      &::placeholder {
        font-weight: 400;
        color: $title-color;
      }
    }

    &__button {

      @include onTablet {
        width: 330px;
      }
    }
  }
}
