.future {
  padding: 0 20px 90px;
}

.future__wrapper {
  margin: 0 auto;
  max-width: 740px;

  @media (min-width: 768px) {
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(var(--columns), 1fr);

    --columns: 6;

    max-width: 1200px;

    justify-content: flex-start;
    align-self: flex-start;
  }

  @media (min-width: 1280) {
    max-width: 1400px;
  }
}

.future__main-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 50px;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 40px;
    padding-bottom: 60px;
    grid-column: 1 / 4;
    grid-row: 1;
    text-align: start;

    //     @media (min-width: 768px) {
    //   grid-column: 1 / 5;
    // }
  }

  @media (min-width: 1280px) {
    font-size: 48px;
    padding-bottom: 71px;
  }
}

.future__cards {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 60px;

  @media (min-width: 768px) {
    // flex-direction: row;
    grid-column: 1 / -1;
    grid-row: 2;
    gap: 30px;
  }

  @media (min-width: 1280px) {
    gap: 60px;
  }
}

.future-card {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(var(--columns), 1fr);

    --columns: 2;

    // height: 422px;
    justify-content: flex-start;
    align-self: flex-start;
  }

  @media (min-width: 1280px) {
    // height: 470px;
  }
}

.card__wrapper {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
}

.future__date {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #cd4d31;
  padding: 20px 0 10px;
  margin: 0;

  @media (min-width: 768px) {
    grid-column: 2/3;
    grid-row: 1;
    padding-top: 0;
  }
}

.future__title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    font-size: 24px;
    grid-column: 2/3;
    grid-row: 1;
  }
}

.future__text {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #504f5e;
  line-height: 150%;
  margin: 0;
  padding-bottom: 30px;

  @media (min-width: 768px) {
    padding-bottom: 50px;
    grid-column: 2/3;
    grid-row: 1;
  }
}

.future__img {
  object-fit: contain;
  display: block;
  transition: transform 0.3s ease;
  align-self: center;
  max-width: 100%;
  height: auto;

  &:hover {
    transform: scale(1.05);
  }

  @media (min-width: 768px) {
    grid-column: 1/2;
  }
}

.future__button {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-self: flex-end;

  @media (min-width: 768px) {
    align-self: flex-start;
    margin: 0;
    grid-column: 2/3;
    width: 330px;
    grid-row: 1;
  }
}

.button__calendar {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-top: 30px;
  height: 60px;

  @media (min-width: 768px) {
    grid-column: 5/7;
    grid-row: 1;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    max-width: 100%;
  }
}

.button__calendar-block {
  border: 1px solid #cd4d31;
  display: flex;
  gap: 8px;
  height: 60px;
  width: 280px;
  align-items: center;
  justify-content: center;

  &:hover {
    border: 1px solid #af3419;
  }

  &:active {
    border: 1px solid #ea340d;
  }

  @media (min-width: 768px) {
    width: 210px;
  }
}

.button__reg {
  width: 280px;
  height: 60px;
  background-color: #cd4d31;
  border: none;

  &:hover {
    background-color: #af3419;
  }

  &:active {
    background-color: #ea340d;
  }

  @media (min-width: 768px) {
    width: 330px;
  }
}

.button__link__block {
  text-decoration: none;
  color: #cd4d31;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    color: #af3419;
  }

  &:active {
    color: #ea340d;
  }
}

.reg__link {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #f1f5f4;
  text-decoration: none;
}
