.button__primary {
  background-color: #cd4d3131;
  color: #f1f5f4;
  transition: background-color 0.3s;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  outline: none;
  padding: 20px 80px;
  border: none;

  &:hover {
    background-color: #af3419;
  }

  &:active {
    background-color: #ea340d;
  }

  &:disabled {
    background-color: #dd836f;
  }
}

.button__secondary {
  border: 1px solid #cd4d31;
  transition: background-color 0.3s;
  font-size: 16px;
  outline: none;
  padding: 20px 80px;
  color: #cd4d31 ;

  &:hover {
    border-color: #cd4d31;
    color: #cd4d31;
  }

  &:active {
    border-color: #ea340d;
    color: #ea340d;
  }

  &:disabled {
    border-color: #dd836f;
    color: #dd836f;
  }
}
