*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  line-height: 30px;
  color: #1c1b29;

  margin: 0;
}

p {
  margin: 0;
}
