@import "utils";
@import "fonts";
@import "typography";

html {
  scroll-behavior: smooth;

  // &:has(.asside:target) {
  //   overflow: hidden;
  // }
}

body {
  background: #fff;
  overflow-x: hidden;
  margin: 0;
}

@import "./header/header";
@import "./header/top-bar";
@import "./asside/asside";
@import "./asside/nav";
@import "./main/main";
@import "./main/actual";
@import "./main/ticket";
@import "./main/termin";
@import "./main/button";
@import "./main/transparrent-button";
@import "./main/events";
@import "./main/block-event";
@import "./main/visit";
@import "./main/news";
@import "./main/novyna";
@import "./main/subscribe";
@import "./footer/footer";
@import "./footer/footer-title";
@import "./footer/contacts";
@import "./footer/schedule";
@import "./footer/foot-nav";
