.page {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: 150%;
  scroll-behavior: smooth;
  color: $light-black;
}

* {
  margin: 0;
}

a {
  cursor: pointer !important;
  display: block;
  text-decoration: none;
  line-height: 100%;
  color: $light-white;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 100%;
}
