.header {
  height: 100vh;

  background: $c-green
    url(..//images/pictures/1.png) center bottom / 245px auto no-repeat;

  &__top {
    padding: 50px 20px 40px;
  }

  &__date {
    font-family: inherit;
    @include forDescriptions;
    // font-weight: 400;
    // font-size: 14px;
    line-height: 19px;
    color: $c-white;

    padding-bottom: 10px;
  }

  &__title {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: $c-white;

    padding-bottom: 30px;
  }

  &__subtitle {
    font-family: inherit;
    @include forDescriptions;
    // font-weight: 400;
    // font-size: 16px;
    // line-height: 24px;
    color: $c-white;

    padding-bottom: 40px;
  }

  &__btn {
    @include forBtn;
  }
}
