.header__container {
  padding: 20px 39px 0;
  background-color: #3f5252;
  position: relative;
}

@media (min-width: 1280px) {
  .header__wrapper {
    display: grid;
    position: relative;

    --columns: 12;

    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 30px;

    max-width: 1200px;
    margin: 0 auto;
  }
}

.header__top-bar {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.header__logo {
  height: 30px;
  width: 123px;

  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.header__burger {
  height: 30px;
  width: 30px;

  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.header__ua {
  display: none;

  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }

  @media (min-width: 768px) {
    display: block;
    height: 25px;
    width: 35px;
  }
}

.header__burger-menu {
  display: flex;
  gap: 40px;
  align-items: center;
}

.title {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #f1f5f4;
}

.main__title {
  margin: 0;
  padding: 10px 0 30px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #f1f5f4;

  @media (min-width: 768px) {
    font-size: 72px;
  }

  @media (min-width: 1280px) {
    font-size: 96px;
  }
}

.second__title {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #f1f5f4;
}

.header__text {
  padding-top: 50px;

  @media (min-width: 768px) {
    padding-top: 90px;
  }

  @media (min-width: 1280px) {
    grid-column: 1 /7;
  }
}

.button {
  padding-top: 50px;

  @media (min-width: 1280px) {
    padding-top: 81px;
    grid-column: 1 / 4;
  }
}

.button__ticket {
  width: 260px;
  height: 60px;
  background-color: #cd4d31;
  border: none;

  &:hover {
    background-color: #af3419;
  }

  &:active {
    background-color: #ea340d;
  }
}

.button__link {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #f1f5f4;
  text-decoration: none;
}

.header__wall {
  display: block;
  position: absolute;
  top: 35px;
  right: -110px;
  height: 663px;
  width: 625px;
  object-fit: contain;
  z-index: 1;

  @media (max-width: 1279px) {
    position: static;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

.header__date {
  display: none;

  @media (min-width: 1280px) {
    width: 570px;
    height: 18px;
    display: flex;
    padding: 60px 0;
  }
}

.img__date {
  display: none;

  @media (min-width: 1280px) {
    display: inline;
    width: 570px;
    height: 18px;
  }
}
