.icon {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  height: 24px;
  width: 24px;

  @include on-tablet {
    height: 30px;
    width: 30px;
  }

  @include hover(transform, scale(1.2));

  &__text {
    font-weight: 500;
    text-transform: uppercase;
  }

  &--burger-menu {
    background-image: url(../icons/icon-menu.png);
  }

  &--close {
    background-image: url(../icons/icon-close.png);
  }

  &--dropdown {
    background-image: url(../icons/icon-dropdown.png);
    width: 10px;
    height: 10px;
  }

  &--arrow {
    background-image: url(../icons/icon-arrow.png);
    height: 20px;
    width: 20px;
  }

  &--facebook {
    background-image: url(../icons/facebook.png);
  }

  &--twitter {
    background-image: url(../icons/twitter.png);
  }

  &--telegram {
    background-image: url(../icons/telegram.png);
  }

  &--instagram {
    background-image: url(../icons/instagram.png);
  }

  &--scroll-up {
    background-image:  url(../icons/icon-scroll-up.png);
  }
}

.language {
  display: flex;
  align-items: center;

  width: 34px;
  height: 24px;
  gap: 3px;

  @include on-mobile {
    display: none;
  }

  @include on-tablet {
    order: 2;
  }

  @include hover(transform, scale(1.2));
}
