.icon {
  display: block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &--logo {
    width: 123px;
    height: 40px;
    background-image: url(..//images/NAMU-logo.svg);
  }

  &--menu {
    width: 25px;
    height: 20px;
    background-image: url(..//images/icons/menu.svg);
  }

  &--close {
    background-image: url(..//images/icons/cross.svg);
  }

  &--facebook {
    background-image: url(..//images/socials/facebook.svg);
  }

  &--twitter {
    background-image: url(..//images/socials/twitter.svg);
  }

  &--telegram {
    background-image: url(..//images/socials/telegram.svg);
  }

  &--instagram {
    background-image: url(..//images/socials/instagram.svg);
  }
}
