.icon {
  display: block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &--logo {
    width: 123px;
    height: 40px;
    background-image: url(..//images/NAMU-logo.svg);
    @include hover(background-image, url(..//images/NAMU-hover.svg));
  }

  &--menu {
    background-image: url(..//images/icons/menu.svg);
    @include hover(background-image, url(..//images/icons/menu-hover.svg));
  }

  &--close {
    background-image: url(..//images/icons/cross.svg);
    @include hover(background-image, url(..//images/icons/cross-hover.svg));
  }

  &--facebook {
    background-image: url(..//images/socials/facebook.svg);
    @include hover(background-image, url(..//images/socials/facebook-hover.svg));
  }

  &--twitter {
    background-image: url(..//images/socials/twitter.svg);
    @include hover(background-image, url(..//images/socials/twitter-hover.svg));
  }

  &--telegram {
    background-image: url(..//images/socials/telegram.svg);
    @include hover(background-image, url(..//images/socials/telegram-hover.svg));
  }

  &--instagram {
    background-image: url(..//images/socials/instagram.svg);
    @include hover(background-image, url(..//images/socials/instagram-hover.svg));
  }

  &--top {
    width: 30px;
    height: 30px;
    background-image: url(..//images/icons/scroll-up.svg);
    @include hover(background-image, url(..//images/icons/scroll-up-hover.svg));
    @include hover(transform, scale(120%));
  }
}
