/* #region page */
@import 'utils';
@import 'fonts';

.page {
  scroll-behavior: smooth;

  &__body {
    margin: 0;
    min-width: 310px;
    background: $c-gray;

    scroll-behavior: smooth;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    transition: all $animDuration;
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.container {
  @include content-padding-inline;
}

/* #endregion */

@import 'big-blocks/_header';
@import 'big-blocks/_menu';
@import 'big-blocks/section-actual';
@import 'big-blocks/section-events';
@import 'big-blocks/section-plan-visit';
@import 'big-blocks/section-news';
@import 'big-blocks/section-subscribe';
@import 'big-blocks/footer';
@import '_top-bar';
@import '_dropdown';
@import '_icon&dropdown';
@import '_button';
@import '_menu-info';
@import '_nav';
@import '_article';
@import '_section';
@import '_text-wrapper';
@import '_news-slider-mobile';
