.language {
  display: flex;
  align-items: center;

  &__type {
    margin-right: 3px;

    font-family: "Raleway", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $text-color-light;
  }

  &__selection {
    display: flex;
    align-items: center;
  }
}
