.link {
  display: inline-block;
  border: 2px solid transparent;
  padding: 18px 77px;
  margin-bottom: 92px;

  line-height: 1;
  background-color: $buttonColor;
  transition: all 0.3s;

  &:hover {
    background-color: #f1f5f4;
    color: $buttonColor;
    border-color: $buttonColor;
  }
}
