.mail {

  &__title {
    grid-column: 1 / 3;
    margin-bottom: 20px;
    color: #1c1b29;

    @include onTablet {
      grid-column: 1 / 7;
    }
  }

  &__content {
    margin-bottom: 30px;
    grid-column: 1 / 3;
    font-size: 16px;
    line-height: 150%;
    color: #504f5e;

    @include onTablet {
      grid-column: 1 / 6;
    }
  }

  &__form {
    width: 100%;
    grid-column: 1 / 3;
    border-right: none;
    border-left: none;
    border-top: none;
    background-color: rgba(241, 245, 244, 1);
    margin-bottom: 30px;
    border-color: #1c1b29;
    border-width: 1px;

    &::placeholder {
      color: black;
    }

    &:hover::placeholder {
      color: #cd4d31;
    }

    // &:focus {
    //   border-top: none;
    //   border-color: #cd4d31;
    // }

    @include onTablet {
      grid-column: 1 / 5;
    }
  }

  &__full {
    margin-bottom: 80px;
  }

  &__lable {
    grid-column: 1 / 3;

    // &:focus {
    //   border: none;
    // }

    @include onTablet {
      grid-column: 1 / 5;
    }
  }
}
