.main {
  &__content {
    display: grid;
    padding-block: 90px;
    row-gap: 120px;

    @include onTablet {
      padding-block: 105px;
      row-gap: 125px;
    }

    @include onDesktop {
      row-gap: 200px;
    }
  }
}
