/* @import 'utils';
@import 'fonts';
@import 'typography'; */

html {
  font-family: Raleway, 'Playfair Display', sans-serif, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
}

.header {
  box-sizing: border-box;
  padding: 20px 20px 0;
  background-color: #3f5252;
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.header__logo-img {
  height: 40px;
}

.header__icons {
  display: flex;
  gap: 30px;
}

.icon {
  display: block;
  height: 30px;
  width: 30px;
}

.icon--menu {
  background-image: url(../images/icons/menu.svg);
  background-size: cover;
  background-position: center;
}

.icon--dropdown {
  display: none;
}

.header__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  color: #f1f5f4;
  margin-bottom: 10px;
}

.header__title {
  font-family: 'playfair display', serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #f1f5f4;
  margin-bottom: 30px;
}

.header__main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f1f5f4;
  margin-bottom: 40px;
}

.header__button {
  display: block;
  box-sizing: border-box;
  height: 60px;
  margin-bottom: 40px;
}

.header__bottom {
  height: 100%;
  background-image: url(../images/img_main_01.png);
  background-size: cover;
  background-position: center;
  margin-inline: 18px 17px;
}
