.main {
  &__section-photoItem {
    background-color: $color-bg;
    padding: 0 20px;

    @include onTablet {
      padding: 0 38px;
    }

    @include onDesktop {
      background-image: url(../images/foto-main-girl.png);
      background-repeat: no-repeat;
    }
  }

  &__logo-section {
    color: $color-white;
    margin: 50px 0 0 ;

    @include onTablet {
      margin: 80px 0 0 ;
    }

    @include onDesktop {
      margin: 205px 0 0 ;
    }
  }

  &__logo-title {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    margin: 0 0 20px;

    @include onTablet {
      font-size: 62px;
    }

    @include onDesktop {
      font-size: 80px;
      margin: 0 0 10px;
    }
  }

  &__logo-item {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 0 0 40px;

    @include onTablet {
      margin: 0 30px 60px 0;
    }

    @include onDesktop {
      margin: 0 0 50px;
    }
  }

  &__button-buy {
    margin: 0 0 50px;

    @include onTablet {
      margin: 0 0 80px;
    }

    @include onDesktop {
      margin: 0 0 205px;
    }
  }
}

.bloc-content-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  color: $color1C1B29;

  @include onTablet {
    margin: 105px 0 75px;
    grid-column: 1/5;
    font-size: 40px;
  }
  
  @include onDesktop {
    margin: 110px 0 71px;
    grid-column: 1/7;
    font-size: 48px;
    line-height: 120%;
  }

  @media (max-width: 640px) {
    margin: 120px 0 60px;
  }
}

.buttonBuy-W {
  display: none;

  @include onTablet {
    display: block;
    grid-column: 5/7;
    transform: translateY(25%);
  }
  
  @include onDesktop {
    display: block;
    grid-column: 10/13;
    transform: translateY(25%);
  }
}

.photo-main1 {
  width: 100%;
  align-items: center;
  transition: $time-of-transformation;

  @include onDesktop {
    display: none;
  }
}

.main__bloc-content1 {
  grid-column: 1/4;

  @include onDesktop {
    grid-column: 1/7;
  }

  &:hover {
    .photo-main1 {
      box-shadow: 1px 10px 40px $colorDD836F;
      
      @include onTablet {
        transform: scale(0.95);
        box-shadow: 1px 1px 90px $colorDD836F;
      }
    }
  }
}

.main__bloc-content2 {
  grid-column: 4/7;

  @include onDesktop {
    grid-column: 7/13;
  }

  &:hover {
    .photo-main1 {
      box-shadow: 1px 10px 40px $colorDD836F;

      @include onTablet {
        transform: scale(0.95);
        box-shadow: 1px 1px 90px $colorDD836F;
      }
    }
  }
}

.photo-main2 {
  width: 100%;
  display: none;

  @include onDesktop {
    width: 100%;
    display: block;
  }
}

.bloc-text-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $colorCD4D31;
  margin: 30px 0 10px;

  @include onDesktop {
    margin: 20px 0 10px;
  }

  &-upcoming {
    margin: 0;
  }
}

.bloc-content-titles4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  color: $color1C1B29;
  margin-bottom: 20px;
  &-upcoming {
    margin: 10px 0 20px;
  }
}

.main__wrapper-cont {
  height: 190px;

  @include onTablet {
    height: 226px;
  }

  @include onDesktop {
    height: 180px;
  }

  @media (max-width:434px) {
    height: auto;
  }
}

.bloc-text-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $color504F5E;
  word-wrap: break-word;

  &-upcoming {
    margin-bottom: 50px;
  }
}

.onMobil-bt {
  display: block;

  @include onTablet {
    display: none;
  }

  @include onDesktop {
    display: none;
  }
}

.upcoming-events {
  margin-bottom: 60px;

  @include onTablet {
    grid-column: 1/7;
    display: flex;
    gap: 30px;
    margin-bottom: 70px;

    &:last-child {
      margin-bottom: 100px;
    }
  }

  @include onDesktop {
    grid-column: 1/13;
    display: flex;
    gap: 30px;

    &:last-child {
      margin-bottom: 110px;
    }
  }
}

.upcoming-events-photo {
  @media (max-width: 640px) {
    width: 100%;
  }
}

.upcoming-button {
  @include onDesktop {
    max-width: 270px;
  }
}

.news-item-boxFlex {
  @include onTablet {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  @include onDesktop {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
}

.news-container {
  @include onDesktop {
    max-width: 568px;
  }

  &-photo {
    width: 100%;
  }
}

.news-text {
  color: $color504F5E;
}

.subscribe-container {
  color: $color1C1B29;

  @include onTablet {
    grid-column: 1/6;
  }

  @include onDesktop {
    grid-column: 1/13;
  }
}

.subscribe-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;

  @include onTablet {
    grid-column: 1/6;
    margin: 160px 0 20px;
  }

  @include onDesktop {
    grid-column: 1/6;
    margin: 200px 0 50px;
  }
}

.subscribe-text {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  @include onTablet {
    grid-column: 1/6;
    margin: 0 0 50px;
  }

  @include onDesktop {
    grid-column: 7/13;
    margin: 200px 0 0;
  }
}

.subscribe-input {
  text-decoration: none;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $color1C1B29;
  margin: 0 0 50px;

  &:hover {
    color: $colorAF3419;
  }

  &:active {
    color: $colorEA340D;
  }

  &:disabled {
    color: $colorDD836F;
  }

  @include onDesktop {
    margin: 0 0 50px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  @include onTablet {
    grid-column: 1/5;
  }
}

.subscribe-form {
  &::before {
    position: relative;
    top: 3vh;
    content: "";
    display: block;
    height: 1px;
    background-color: $color1C1B29;

    @include onTablet {
      min-width: 450px;
    }

    @include onDesktop {
      min-width: 450px;
    }
  }
}

.button-subscribe {
  margin-bottom: 128px;
}
