h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 55px;
  background: #3f5252;
  margin-bottom: 110px;
}

@media (max-width: 2560px) and (min-width: 2000px) {
  .container {
    padding-left: 30%;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 39px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 55px;
}

@media (max-width: 768px) {
  .container__nav {
    padding-right: 39px;
    padding-bottom: 26px;
    padding-top: 26px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container__nav {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.container__logo {
  -webkit-filter: brightness(0) saturate(100%) invert(94%) sepia(2%) saturate(3459%) hue-rotate(185deg) brightness(109%) contrast(92%);
          filter: brightness(0) saturate(100%) invert(94%) sepia(2%) saturate(3459%) hue-rotate(185deg) brightness(109%) contrast(92%);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.container__logo:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(22%) sepia(93%) saturate(3801%) hue-rotate(211deg) brightness(96%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(22%) sepia(93%) saturate(3801%) hue-rotate(211deg) brightness(96%) contrast(101%);
}

.container__bar {
  -webkit-filter: brightness(0) saturate(100%) invert(94%) sepia(2%) saturate(3459%) hue-rotate(185deg) brightness(109%) contrast(92%);
          filter: brightness(0) saturate(100%) invert(94%) sepia(2%) saturate(3459%) hue-rotate(185deg) brightness(109%) contrast(92%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

@media (max-width: 455px) and (min-width: 320px) {
  .container__bar {
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

.container__menu {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.container__menu:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container__ua {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3px;
          column-gap: 3px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #f1f5f4;
  text-transform: uppercase;
}

.container__ua::after {
  content: url("../images/header/arrow_down.jpg");
}

@media (max-width: 455px) and (min-width: 320px) {
  .container__ua {
    display: none;
  }
}

.container__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 47px;
  width: 100%;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .container__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container__b1 {
  display: block;
}

.container__text, .container__text2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #f1f5f4;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container__text {
  padding-bottom: 10px;
}

.container__text2 {
  padding-bottom: 81px;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .container__text2 {
    width: 330px;
  }
}

@media (max-width: 768px) {
  .container__text2 {
    width: 330px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container__text2 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.container__header {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 96px;
  color: #f1f5f4;
}

@media (max-width: 768px) {
  .container__header {
    font-size: 72px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container__header {
    padding-bottom: 30px;
    font-size: 48px;
  }
}

.container__bttn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 270px;
  height: 60px;
  border: none;
  color: #f1f5f4;
  background: #cd4d31;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  margin-bottom: 135px;
}

.container__bttn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #af3419;
}

.container__bttn:active {
  background: #ea340d;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .container__bttn {
    width: 330px;
  }
}

@media (max-width: 768px) {
  .container__bttn {
    width: 330px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container__bttn {
    width: 279px;
  }
}

.container__duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding-bottom: 50px;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .container__duration {
    display: none;
  }
}

@media (max-width: 768px) {
  .container__duration {
    display: none;
  }
}

.container__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #f1f5f4;
  font-size: 14px;
  width: 20%;
}

.container__b2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container__pic {
  display: block;
}

@media (max-width: 768px) {
  .container__pic {
    width: 100%;
    margin-right: 39px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container__pic {
    width: 100%;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.slider {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  background: #3f5252;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  box-sizing: border-box;
  padding-left: 55px;
  background: #3f5252;
}

@media (max-width: 768px) {
  .slider {
    padding-left: 39px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .slider {
    padding-left: 20px;
  }
}

.slider:target {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.slider__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 55px;
}

@media (max-width: 768px) {
  .slider__nav {
    padding-right: 39px;
    padding-bottom: 26px;
    padding-top: 26px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .slider__nav {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.slider__logo {
  -webkit-filter: brightness(0) saturate(100%) invert(94%) sepia(2%) saturate(3459%) hue-rotate(185deg) brightness(109%) contrast(92%);
          filter: brightness(0) saturate(100%) invert(94%) sepia(2%) saturate(3459%) hue-rotate(185deg) brightness(109%) contrast(92%);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.slider__logo:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(22%) sepia(93%) saturate(3801%) hue-rotate(211deg) brightness(96%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(22%) sepia(93%) saturate(3801%) hue-rotate(211deg) brightness(96%) contrast(101%);
}

.slider__bar {
  -webkit-filter: brightness(0) saturate(100%) invert(94%) sepia(2%) saturate(3459%) hue-rotate(185deg) brightness(109%) contrast(92%);
          filter: brightness(0) saturate(100%) invert(94%) sepia(2%) saturate(3459%) hue-rotate(185deg) brightness(109%) contrast(92%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

@media (max-width: 455px) and (min-width: 320px) {
  .slider__bar {
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

.slider__cross {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

@media (max-width: 455px) and (min-width: 320px) {
  .slider__cross {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.slider__cross:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 455px) and (min-width: 320px) {
  .slider__sw {
    margin-right: 20px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.slider__menu {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.slider__menu:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slider__ua {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3px;
          column-gap: 3px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #f1f5f4;
  text-transform: uppercase;
}

.slider__ua::after {
  content: url("../images/header/arrow_down.jpg");
}

@media (max-width: 455px) and (min-width: 320px) {
  .slider__ua {
    display: block;
  }
}

.slider__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .slider__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .slider__box {
    margin-right: 39px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .slider__box {
    margin-right: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .slider__content {
    margin-right: 39px;
  }
}

.slider__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 424px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

@media (max-width: 484px) {
  .slider__table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}

.slider__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider__about {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #f1f5f4;
}

.slider__info {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #f1f5f4;
}

.slider__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
}

.slider__links {
  font-size: 48px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #f1f5f4;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 527px) {
  .slider__links {
    font-size: 30px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .slider__links {
    font-size: 20px;
  }
}

.slider__links:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #2060f6;
}

.slider__divider {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .slider__divider {
    width: 100%;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .slider__divider {
    width: 80%;
  }
}

.slider__bttn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 270px;
  height: 60px;
  border: none;
  color: #f1f5f4;
  background: #cd4d31;
  margin-top: 50px;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.slider__bttn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #af3419;
}

.slider__bttn:active {
  background: #ea340d;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .slider__bttn {
    width: 330px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .slider__bttn {
    width: 330px;
    margin-bottom: 30px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .slider__bttn {
    width: 279px;
  }
}

.slider__content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider__pic {
  display: block;
}

@media (max-width: 768px) {
  .slider__pic {
    width: 100%;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .slider__pic {
    display: none;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 55px;
  padding-right: 55px;
  margin-bottom: 200px;
}

@media (max-width: 2560px) and (min-width: 2000px) {
  .container2 {
    padding-left: 30%;
  }
}

@media (max-width: 768px) {
  .container2 {
    padding-left: 39px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container2__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container2__header {
  font-size: 48px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #1c1b29;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .container2__header {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .container2__header {
    font-size: 30px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container2__header {
    font-size: 25px;
  }
}

.container2__bttn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 60px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  background: transparent;
  color: #cd4d31;
  cursor: pointer;
  border: 1px solid #cd4d31;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.container2__bttn::after {
  display: block;
  margin-left: 10px;
  margin-top: 5px;
  -webkit-filter: brightness(0) saturate(100%) invert(38%) sepia(43%) saturate(1582%) hue-rotate(337deg) brightness(93%) contrast(87%);
          filter: brightness(0) saturate(100%) invert(38%) sepia(43%) saturate(1582%) hue-rotate(337deg) brightness(93%) contrast(87%);
  content: url("../images/exibition/arrow.jpg");
}

.container2__bttn::after:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(23%) sepia(33%) saturate(4417%) hue-rotate(352deg) brightness(95%) contrast(91%);
          filter: brightness(0) saturate(100%) invert(23%) sepia(33%) saturate(4417%) hue-rotate(352deg) brightness(95%) contrast(91%);
}

.container2__bttn::after:active {
  -webkit-filter: brightness(0) saturate(100%) invert(34%) sepia(91%) saturate(5134%) hue-rotate(357deg) brightness(94%) contrast(96%);
          filter: brightness(0) saturate(100%) invert(34%) sepia(91%) saturate(5134%) hue-rotate(357deg) brightness(94%) contrast(96%);
}

.container2__bttn:hover {
  color: #af3419;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 1px solid #af3419;
}

.container2__bttn:active {
  color: #ea340d;
  border: 1px solid #ea340d;
}

@media (max-width: 768px) {
  .container2__bttn {
    width: 210px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container2__bttn {
    display: none;
  }
}

.container2__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .container2__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container2__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container2__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container2__con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container2__photo {
  display: block;
  width: 570px;
  margin-bottom: 20px;
}

@media (max-width: 618px) {
  .container2__photo {
    width: 100%;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container2__photo {
    width: 100%;
  }
}

.container2__about {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #cd4d31;
  margin-bottom: 10px;
}

.container2__title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 24px;
  color: #1c1b29;
  margin-bottom: 20px;
}

@media (max-width: 618px) {
  .container2__title {
    width: 100%;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container2__title {
    width: 100%;
  }
}

.container2__info {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #504f5e;
  width: 570px;
  margin-bottom: 50px;
}

@media (max-width: 618px) {
  .container2__info {
    width: 100%;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container2__info {
    width: 100%;
  }
}

.container2__buy {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 270px;
  height: 60px;
  border: none;
  color: #f1f5f4;
  background: #cd4d31;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  margin-bottom: 135px;
}

.container2__buy:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #af3419;
}

.container2__buy:active {
  background: #ea340d;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .container2__buy {
    width: 330px;
  }
}

@media (max-width: 768px) {
  .container2__buy {
    width: 330px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container2__buy {
    width: 100%;
  }
}

.container2__bttn2 {
  display: none;
}

@media (max-width: 455px) and (min-width: 320px) {
  .container2__bttn2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 55px;
  padding-right: 55px;
  margin-bottom: 110px;
}

@media (max-width: 2560px) and (min-width: 2000px) {
  .container3 {
    padding-left: 30%;
  }
}

@media (max-width: 768px) {
  .container3 {
    padding-left: 39px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container3__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container3__header {
  font-size: 48px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #1c1b29;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .container3__header {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .container3__header {
    font-size: 30px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container3__header {
    font-size: 25px;
  }
}

.container3__bttn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 60px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  background: transparent;
  color: #cd4d31;
  cursor: pointer;
  border: 1px solid #cd4d31;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.container3__bttn::after {
  display: block;
  margin-left: 10px;
  margin-top: 5px;
  -webkit-filter: brightness(0) saturate(100%) invert(38%) sepia(43%) saturate(1582%) hue-rotate(337deg) brightness(93%) contrast(87%);
          filter: brightness(0) saturate(100%) invert(38%) sepia(43%) saturate(1582%) hue-rotate(337deg) brightness(93%) contrast(87%);
  content: url("../images/exibition/arrow.jpg");
}

.container3__bttn::after:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(23%) sepia(33%) saturate(4417%) hue-rotate(352deg) brightness(95%) contrast(91%);
          filter: brightness(0) saturate(100%) invert(23%) sepia(33%) saturate(4417%) hue-rotate(352deg) brightness(95%) contrast(91%);
}

.container3__bttn::after:active {
  -webkit-filter: brightness(0) saturate(100%) invert(34%) sepia(91%) saturate(5134%) hue-rotate(357deg) brightness(94%) contrast(96%);
          filter: brightness(0) saturate(100%) invert(34%) sepia(91%) saturate(5134%) hue-rotate(357deg) brightness(94%) contrast(96%);
}

.container3__bttn:hover {
  color: #af3419;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 1px solid #af3419;
}

.container3__bttn:active {
  color: #ea340d;
  border: 1px solid #ea340d;
}

@media (max-width: 768px) {
  .container3__bttn {
    width: 210px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container3__bttn {
    display: none;
  }
}

.container3__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .container3__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container3__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container3__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container3__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container3__photo {
  display: block;
}

@media (max-width: 455px) and (min-width: 320px) {
  .container3__photo {
    width: 100%;
  }
}

.container3__about {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #cd4d31;
  margin-bottom: 10px;
}

.container3__title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 24px;
  color: #1c1b29;
  margin-bottom: 20px;
}

@media (max-width: 618px) {
  .container3__title {
    width: 100%;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container3__title {
    width: 100%;
  }
}

.container3__info {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #504f5e;
  width: 570px;
  margin-bottom: 50px;
}

@media (max-width: 618px) {
  .container3__info {
    width: 100%;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container3__info {
    width: 100%;
  }
}

.container3__buy {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 270px;
  height: 60px;
  border: none;
  color: #f1f5f4;
  background: #cd4d31;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  margin-bottom: 135px;
}

.container3__buy:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #af3419;
}

.container3__buy:active {
  background: #ea340d;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .container3__buy {
    width: 330px;
  }
}

@media (max-width: 768px) {
  .container3__buy {
    width: 330px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container3__buy {
    width: 100%;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #3f5252;
  margin-bottom: 110px;
}

@media (max-width: 768px) {
  .container4 {
    padding-left: 39px;
  }
}

@media (max-width: 2560px) and (min-width: 2000px) {
  .container4 {
    padding-left: 30%;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container4 {
    padding-left: 0;
  }
}

.container4__picture {
  display: block;
  width: 578px;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .container4__picture {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .container4__picture {
    display: none;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container4__picture {
    display: none;
  }
}

.container4__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .container4__text {
    width: 100%;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container4__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container4__header {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 96px;
  color: #f1f5f4;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .container4__header {
    font-size: 62px;
  }
}

@media (max-width: 768px) {
  .container4__header {
    font-size: 72px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container4__header {
    padding-bottom: 30px;
    font-size: 48px;
    width: 280px;
  }
}

.container4__info {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #f1f5f4;
  width: 470px;
  margin-top: 50px;
  line-height: 20px;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .container4__info {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container4__info {
    width: 400px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container4__info {
    width: 280px;
  }
}

.container4__bttn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 270px;
  height: 60px;
  border: none;
  color: #f1f5f4;
  background: #cd4d31;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  margin-top: 72px;
  margin-bottom: 72px;
}

.container4__bttn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #af3419;
}

.container4__bttn:active {
  background: #ea340d;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .container4__bttn {
    width: 330px;
  }
}

@media (max-width: 768px) {
  .container4__bttn {
    width: 330px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container4__bttn {
    width: 279px;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 55px;
  padding-right: 55px;
  margin-bottom: 200px;
}

@media (max-width: 2560px) and (min-width: 2000px) {
  .container5 {
    padding-left: 30%;
  }
}

@media (max-width: 768px) {
  .container5 {
    padding-left: 39px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container5__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container5__header {
  font-size: 48px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #1c1b29;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .container5__header {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .container5__header {
    font-size: 30px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container5__header {
    font-size: 25px;
  }
}

.container5__bttn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 60px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  background: transparent;
  color: #cd4d31;
  cursor: pointer;
  border: 1px solid #cd4d31;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.container5__bttn::after {
  display: block;
  margin-left: 10px;
  margin-top: 5px;
  -webkit-filter: brightness(0) saturate(100%) invert(38%) sepia(43%) saturate(1582%) hue-rotate(337deg) brightness(93%) contrast(87%);
          filter: brightness(0) saturate(100%) invert(38%) sepia(43%) saturate(1582%) hue-rotate(337deg) brightness(93%) contrast(87%);
  content: url("../images/exibition/arrow.jpg");
}

.container5__bttn::after:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(23%) sepia(33%) saturate(4417%) hue-rotate(352deg) brightness(95%) contrast(91%);
          filter: brightness(0) saturate(100%) invert(23%) sepia(33%) saturate(4417%) hue-rotate(352deg) brightness(95%) contrast(91%);
}

.container5__bttn::after:active {
  -webkit-filter: brightness(0) saturate(100%) invert(34%) sepia(91%) saturate(5134%) hue-rotate(357deg) brightness(94%) contrast(96%);
          filter: brightness(0) saturate(100%) invert(34%) sepia(91%) saturate(5134%) hue-rotate(357deg) brightness(94%) contrast(96%);
}

.container5__bttn:hover {
  color: #af3419;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 1px solid #af3419;
}

.container5__bttn:active {
  color: #ea340d;
  border: 1px solid #ea340d;
}

@media (max-width: 768px) {
  .container5__bttn {
    width: 210px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container5__bttn {
    display: none;
  }
}

.container5__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .container5__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container5__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container5__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container5__con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container5__photo {
  display: block;
  width: 570px;
  margin-bottom: 20px;
}

@media (max-width: 618px) {
  .container5__photo {
    width: 100%;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container5__photo {
    width: 100%;
  }
}

.container5__about {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #cd4d31;
  margin-bottom: 10px;
}

.container5__title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 24px;
  color: #1c1b29;
  margin-bottom: 20px;
}

@media (max-width: 618px) {
  .container5__title {
    width: 100%;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container5__title {
    width: 100%;
  }
}

.container5__info {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #504f5e;
  width: 570px;
  margin-bottom: 50px;
}

@media (max-width: 618px) {
  .container5__info {
    width: 100%;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container5__info {
    width: 100%;
  }
}

.container5__bttn2 {
  display: none;
}

@media (max-width: 455px) and (min-width: 320px) {
  .container5__bttn2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 55px;
  padding-right: 55px;
  margin-top: 200px;
  margin-bottom: 200px;
}

@media (max-width: 2560px) and (min-width: 2000px) {
  .container6 {
    padding-left: 30%;
  }
}

@media (max-width: 768px) {
  .container6 {
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container6 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container6__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .container6__head {
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
}

@media (max-width: 768px) {
  .container6__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container6__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
}

.container6__title {
  width: 570px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 48px;
  color: #1c1b29;
  margin-bottom: 77px;
}

@media (max-width: 768px) {
  .container6__title {
    width: 100%;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container6__title {
    width: 100%;
    font-size: 28px;
  }
}

.container6__about {
  width: 570px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1c1b29;
}

@media (max-width: 768px) {
  .container6__about {
    width: 100%;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container6__about {
    width: 100%;
  }
}

.container6__form {
  width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .container6__form {
    width: 100%;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container6__form {
    width: 100%;
  }
}

.container6__input {
  background: transparent;
  color: #1c1b29;
  border: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #1c1b29;
  outline: none;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.container6__input:hover {
  border-bottom: 1px solid #cd4d31;
  background: transparent;
}

.container6__input:hover::-webkit-input-placeholder {
  color: #cd4d31;
}

.container6__input:hover:-ms-input-placeholder {
  color: #cd4d31;
}

.container6__input:hover::-ms-input-placeholder {
  color: #cd4d31;
}

.container6__input:hover::placeholder {
  color: #cd4d31;
}

.container6__input:focus {
  border-bottom: 1px solid #cd4d31;
  background: transparent;
  color: #cd4d31;
}

.container6__input:focus::-webkit-input-placeholder {
  color: #cd4d31;
}

.container6__input:focus:-ms-input-placeholder {
  color: #cd4d31;
}

.container6__input:focus::-ms-input-placeholder {
  color: #cd4d31;
}

.container6__input:focus::placeholder {
  color: #cd4d31;
}

@media (max-width: 455px) and (min-width: 320px) {
  .container6__input {
    width: 100%;
  }
}

.container6__bttn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 270px;
  height: 60px;
  border: none;
  color: #f1f5f4;
  background: #cd4d31;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  margin-top: 70px;
}

.container6__bttn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #af3419;
}

.container6__bttn:active {
  background: #ea340d;
}

@media (max-width: 1230px) and (min-width: 768px) {
  .container6__bttn {
    width: 330px;
  }
}

@media (max-width: 768px) {
  .container6__bttn {
    width: 330px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container6__bttn {
    width: 279px;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 55px;
  padding-right: 55px;
  background: #3f5252;
  padding-top: 50px;
  padding-bottom: 30px;
}

@media (max-width: 2560px) and (min-width: 2000px) {
  .container7 {
    padding-left: 30%;
  }
}

@media (max-width: 768px) {
  .container7 {
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container7 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container7__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .container7__box {
    padding-left: 20px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .container7__box:nth-child(2), .container7__box:nth-child(3) {
    margin-top: 50px;
  }
}

.container7__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 20px;
  color: #f1f5f4;
  margin-bottom: 30px;
}

.container7__contact {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #f1f5f4;
  line-height: 24px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.container7__contact:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(22%) sepia(93%) saturate(3801%) hue-rotate(211deg) brightness(96%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(22%) sepia(93%) saturate(3801%) hue-rotate(211deg) brightness(96%) contrast(101%);
}

.container7__time {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #f1f5f4;
  line-height: 24px;
}

.container7__navigation {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #f1f5f4;
  row-gap: 50x;
  height: 100%;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.container7__navigation:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(22%) sepia(93%) saturate(3801%) hue-rotate(211deg) brightness(96%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(22%) sepia(93%) saturate(3801%) hue-rotate(211deg) brightness(96%) contrast(101%);
}

@media (max-width: 455px) and (min-width: 320px) {
  .container7__navigation {
    margin-top: 20px;
  }
}

.container7__socail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0;
  margin-top: 50px;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container7__logo {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.container7__logo:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(22%) sepia(93%) saturate(3801%) hue-rotate(211deg) brightness(96%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(22%) sepia(93%) saturate(3801%) hue-rotate(211deg) brightness(96%) contrast(101%);
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 55px;
  padding-right: 55px;
  background: #3f5252;
  padding-top: 50px;
  padding-bottom: 30px;
}

@media (max-width: 2560px) and (min-width: 2000px) {
  .footer {
    padding-left: 30%;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-left: 39px;
    border-top: none;
    padding-right: 39px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .footer {
    border-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.footer__copyright {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #f1f5f4;
  line-height: 24px;
}

.footer__home {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.footer__home:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(22%) sepia(93%) saturate(3801%) hue-rotate(211deg) brightness(96%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(22%) sepia(93%) saturate(3801%) hue-rotate(211deg) brightness(96%) contrast(101%);
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f1f5f4;
}

a {
  text-decoration: none;
  width: none;
  cursor: pointer;
}

hr {
  display: block;
  width: 100%;
  size: "1";
  -ms-flex-item-align: "left";
      -ms-grid-row-align: "left";
      align-self: "left";
  border: 1px solid #f1f5f4;
  opacity: 0.3;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #1c1b29;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
/*# sourceMappingURL=main.css.map */