.item {
  &__photo {
    width: 100%;
    object-fit: cover;

    @include onTablet {
      height: 420px;
      object-fit: cover;
    }

    @include onDesktop {
      height: 484px;
      object-fit: cover;
    }
  }

  &__date {
    margin-top: 20px;
    color: $color-main;
    @include onTablet {
      margin-top: 0;
    }
  }

  &__title {
    margin-top: 10px;
  }

  &__about {
    margin-top: 20px;
    color: $color-gray;
  }
  &__button {
    margin-top: 30px;
  }
}
