.main__grid {
  @include tablet {
    display: grid;
    grid-template-columns: repeat(6, 90px);
    gap: 30px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(12, 70px);
    gap: 30px;
  }
}
