.menu {
  // width: 100%;
  // background-color: #3f5252;

  &__content {
    height: 100vh;
    background-color: #3f5252;
    padding: 20px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  // &__item {

  // }

  &__link {
    display: inline-block;
    padding-bottom: 20px;

    font-family: "Playfair Display", sans-serif;
    color: #f1f5f4;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
  }
}
