.menu {
  background-color: $color-bg;
  @media (max-width: 640px) {
    height: 100vh;
  }

  &__header {
    margin: 0 0 30px;

    @include onDesktop {
      margin: 0 0 45px;
    }
  }

  &__container-flex {
    flex: 1 1 auto;
    
    @include onDesktop {
      padding-bottom: 103px;
    }
  }

  &__decor {
    display: block;
    margin: 0 0 40px;

    @include onTablet {
      margin: 0 0 50px;
    }
  }

  &__button-top {
    flex-direction: row-reverse;

    @include onTablet {
      flex-direction: row;
    }

    @include onDesktop {
      flex-direction: row;
    }
  }

  &__item {
    color: $color-white;
    margin: 0 0 40px;

    @include onTablet {
      display: flex;
      justify-content: space-between;
      margin: 0 0 50px;
    }

    @include onDesktop {
      display: flex;
      justify-content: space-between;
      margin: 0 0 70px;
    }
  }
}

.link-items {
  margin: 0 0 20px;

  @include onTablet {
    margin: 0 0 30px;
  }

  @include onDesktop {
    margin: 0 0 60px;
  }

  &-lt {
    margin: 0 0 50px;

    @include onTablet {
      margin: 0 0 50px;
    }

    @include onDesktop {
      margin: 0 0 60px;
    }
  }
}

.time {
  margin: 0 0 20px;
}

.time-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.time-s {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.locations {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.location-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: $color-white;
}

.link-navs {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: $color-white;
  text-decoration: none;

  @include onTablet {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
  }
}

.menu__photo {
  display: none;

  @include onTablet {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  @include onDesktop {
    display: none;
  }
}

.menu__big-boy-photo {
  @include onDesktop {
    position: absolute;
    top: 111px;
    right: 0;
  }
}

.big-boy-photo {
  @include onDesktop {
    width: 624px;
    height: 697px;
    background-image: url(../images/big-boy.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.go-out {
  display: block;
  width: 30px;
  height: 30px;

  background-image: url(../images/cross-white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transition: transform 0.3s linear;

  &:hover {
    transform: scale(1.05) rotate(180deg);
  }
}
