.nav {
  @include paddingInline;
  padding-block: 20px;

  @include onDesctop {
    padding-block: 32px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
