.navigation {
  display: flex;

  justify-content: space-between;

  padding: 20px;

  margin-bottom: 50px;

  @include tablet {
    padding: 26px 42px;
  }

  @include desktop {
    padding: 32px 0;
    margin-bottom: 47px;

    // max-width: 1280px;
  }

  background: #3f5252;

  &__image-namu {
    @include desktop {
      padding-left: 58px;
    }
    width: 115px;
    height: 25px;
  }

  &__menu-and-ua-box {
    display: flex;
    @include desktop {
      padding-right: 67px;
    }
  }

  &__image-menu-image {
    width: 30px;
    height: 30px;

    @include tablet {
      width: 24px;
      height: 24px;
      margin-right: 40px;
    }
  }

  &__ua {
    display: none;

    text-align: center;
    align-self: center;
    font-family: "Raleway", sans-serif;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;

    color: #f1f5f4;

    @include tablet {
      display: block;
    }
  }
}
