.navigation-menu {
  display: flex;

  justify-content: space-between;

  padding: 20px;

  margin-bottom: 50px;

  @include tablet {
    padding: 26px 42px;
    margin-bottom: 99px;
  }

  @include desktop {
    padding: 32px 0;
    margin-bottom: 47px;
  }

  background: $background;

  &__image-namu {
    width: 115px;
    height: 25px;

    @include desktop {
      padding-left: 58px;
    }
  }

  &__menu-and-ua-box {
    display: flex;
    @include desktop {
      padding-right: 67px;
    }
  }

  &__menu-image {
    width: 30px;
    height: 30px;

    @include tablet {
      width: 24px;
      height: 24px;
      margin-right: 40px;
    }
  }

  &__ua {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__ua-img {
    width: 35px;
    height: 24px;
  }
}
