.nearest-events {
  width: 100%;
  height: auto;

  margin-bottom: 90px;

  @include tablet {
    margin-bottom: 100px;
  }

  @include desktop {
    margin-bottom: 110px;
  }

  &__title-wrapper {
    margin-bottom: 60px;

    @include tablet {
      @include flex-between;

      margin-bottom: 76px;
    }

    @include desktop {
      @include flex-between;

      margin-bottom: 70px;
    }
  }

  &__title {
    @include title(28px, 35px, $black);

    @include tablet {
      @include title(40px, 50px, $black);
    }

    @include desktop {
      @include title(48px, 57.6px, $black);
    }
  }

  &__img-container {
    max-height: 356px;
    margin-right: 30px;

    @include mobile {
      margin-bottom: 20px;
    }

    @include tablet {
      max-height: 422px;
    }

    @include desktop {
      max-height: 476px;
    }
  }

  &__text-container {
    max-width: $width-mob;

    @include tablet {
      display: flex;
      flex-direction: column;

      max-width: $width-tab;
    }

    @include desktop {
      display: flex;
      flex-direction: column;

      max-width: $width-desk;
    }
  }

  &__event {
    &--1 {
      margin-bottom: 60px;

      @include tablet {
        display: flex;
        justify-content: flex-start;

        margin-bottom: 70px;
      }

      @include desktop {
        display: flex;
        justify-content: flex-start;

        margin-bottom: 60px;
      }
    }

    &--2 {
      margin-bottom: 30px;

      @include tablet {
        display: flex;
        justify-content: flex-start;

        margin-bottom: 0;
      }

      @include desktop {
        display: flex;
        justify-content: flex-start;

        margin-bottom: 0;
      }
    }
  }

  &__button {
    display: none;

    @include mobile {
      display: flex;
    }
  }
}
