.new {
  @include onTablet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 160px;
  }

  @include onDesktop {
    margin-bottom: 200px;
  }

  &__pageone {
    @include onTablet {
      margin-right: 30px;
    }

  }

  &__photo {
    @include onTablet {
      height: 330px;
    }

    @include onDesktop {
      height: 370px;
    }

  }
  &__info {
    font-size: 14px;
    line-height: 140%; /* 19.6px */
  }

  &__title {
    @include onTablet {
      margin-bottom: 18px;
    }
  }

  &__text {
    @include onTablet {
      margin-bottom: 0;
    }
  }

  &-text {
    margin-bottom: 50px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

}
