.news__card {
  @include onTablet {
    width: 330px;
  }

  @include onDesctop {
    width: 570px;
  }

  &__image {
    width: 100%;
    margin-bottom: 20px;

    @include onDesctop {
      height: 370px;
      object-fit: contain;
    }
  }

  &__date {
    @include forDescriptions;
    margin-bottom: 10px;
  }

  &__name {
    @include forNames;
    margin-bottom: 20px;
  }

  &__description {
    @include forDescriptions;
    margin-bottom: 30px;
  }
}
