.news {
  margin-top: 90px;

  @include onTablet {
    margin-top: 120px;
  }

  @include onDesktop {
    margin-top: 110px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
