.news__card {

  @include onTablet {
    width: 330px;
  }

  @include onDesctop {
    width: 570px;
  }

  &__image {
    width: 100%;
    margin-bottom: 20px;

    @include onDesctop {
      height: 370px;
      object-fit: contain;
    }
  }

  &__date {
    @include forDescriptions;
    // font-weight: 400;
    // font-size: 16px;
    // line-height: 24px;
    margin-bottom: 10px;
  }

  &__name {
    @include forNames;
    // font-family: "Playfair Display", serif;
    // font-weight: 700;
    // font-size: 20px;
    // line-height: 25px;
    margin-bottom: 20px;
  }

  &__description {
    @include forDescriptions;
    // font-weight: 400;
    // font-size: 16px;
    // line-height: 24px;
    margin-bottom: 30px;
  }
}
