.news {
  margin-top: 90px;
  margin-bottom: 120px;

  @include tablet {
    margin-top: 120px;
    margin-bottom: 160px;
  }

  @include desktop {
    margin-top: 110px;
    margin-bottom: 200px;
  }

  &__title-wrapper {
    margin-bottom: 60px;

    @include tablet {
      @include flex-between;
      margin-bottom: 70px;
    }

    @include desktop {
      @include flex-between;
      margin-bottom: 56px;
    }
  }

  &__events-wrapper {
    @include tablet {
      @include flex-between;
    }

    @include desktop {
      @include flex-between;
    }
  }

  &__event--1 {
    margin-bottom: 0;

    @include mobile {
      margin-bottom: 50px;
    }
  }

  &__event--2 {
    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__title {
    @include title(28px, 35px, $black);

    @include tablet {
      @include title(40px, 50px, $black);
    }

    @include desktop {
      @include title(48px, 57.6px, $black);
    }
  }

  &__event-img-container {
    margin-bottom: 20px;
  }

  &__button {
    display: none;

    @include mobile {
      display: flex;
    }
  }
}
