* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  margin: 0;
}

h2 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 100%;
  margin: 0;
}

h3 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  margin: 0;
}

h4 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  margin: 0;
}

h5 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin: 0;
}

p {
  font-family: "Raleway", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $gray;
  margin: 0;
}
