* {
  box-sizing: border-box;
}

p {
  font-family: "Raleway", sans-serif;
}

.page {
  font-family: "Playfair Display", serif;
  scroll-behavior: smooth;
  &__body {
    margin: 0;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
ul,
li {
  margin: 0;
}

ul {
  padding: 0;
}
