body {
  background: $c-gray;
  margin: 0;
  font-family: "Playfair Display", serif;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
