body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
button {
	margin: 0;
	padding: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: #{$fontSize + px};
	scroll-behavior: smooth;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	font-family: $fontFamily;
}
input,
button,
textarea {
	font-family: $fontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
	background-color: inherit;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
