.page {
  background: $c-gray;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
    background-color: #eee;
    font-family: Raleway, sans-serif;
    max-width: 1400px;
  }

  &__main {
    background-color: #eee;
  }
}
