* {
  margin: 0;
  padding: 0;
}

.page {
  box-sizing: border-box;
  scroll-behavior: smooth;

  &-padding-inline {
    padding-inline: 20px;

    @include on-tablet {
      padding-inline: 40px;
    }
  }

  &:has(.menu:target) {
    overflow: hidden;
  }
}
