.planning {
  display: block;
  padding: 50px 20px;

  color: $header-trxt-color;
  margin-bottom: 90px;

  @include tablet {
    padding: 80px 40px;
    margin-bottom: 120px;
  }

  @include desktop {
    max-width: 1280px;
    margin: 0 auto 110px;
    height: 800px;
    padding: 205px 55px 0 555px;
  }

  &__background {
    @include desktop {
      background-color: $page-primay-color;
      background-image: url(../images/main-image/beauty.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    color: $header-trxt-color;

    @include tablet {
      font-size: 62px;
      max-width: 570px;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    max-width: 280px;
    margin-bottom: 40px;

    @include tablet {
      max-width: 450px;
      margin-bottom: 60px;
    }
  }
}
