.plan-your-visit {
  padding: 50px 0;
  background-color: $blocks-background;

  @include onTablet {
    padding: 80px 0;
  }

  &__title {
    grid-column: 1 / -1;
    font-size: 38px;
    line-height: 100%;
    color: $header-text-color;

    @include onTablet {
      font-size: 62px;
    }
  }

  &__text {
    grid-column: 1 / -1;
    margin-top: 20px;
    line-height: 150%;
    color: $header-text-color;
  }
}
