.plan__container {
  background: #3f5252;
  height: 800px;
  display: flex;
  flex-direction: row;

  margin-top: 184px;
  @include Mobile {
    height: 584px;
    margin-top: 80px;
  }
  @include SmallPhone {
    margin-top: 142px;
    height: 100%;
  }
  @include Tablet {
    margin-top: 142px;
    height: 655px;
  }
  @include Laptop {
    height: 655px;
  }
}

.plan__image {
  background-image: url(/images/plan/pictureOfWoman.svg);
  width: 795px;
  height: 800px;
  background-repeat: no-repeat;
  @include Mobile {
    display: none;
  }
  @include SmallPhone {
    display: none;
  }
  @include Tablet {
    width: 301px;
    height: 412px;
    background-size: contain;
    margin-top: 243px;
  }
  @include Laptop {
    width: 320px;
    height: 512px;
    background-size: cover;
    margin-top: 143px;
  }
}

.plan__info_title {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 100%;

  /* or 96px */
  display: flex;
  align-items: center;

  /* б */
  color: #f1f5f4;
  margin-top: 190px;
  // margin-left: 60px;
  @include Mobile {
    font-family: Playfair Display, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 100%;

    /* or 48px */
    display: flex;
    align-items: center;

    /* б */
    color: #f1f5f4;
    margin-top: 80px;
  }
  @include SmallPhone {
    font-size: 72px;
    margin-top: 120px;
  }
  @include Tablet {
    font-size: 72px;
    margin-top: 120px;
    margin-left: -180px;
    width: 523px;
    height: 145px;
  }
  @include Laptop {
    font-size: 72px;
  }
}

.plan__info_container {
  padding-left: 50px;
  @include Mobile {
    width: 280px;
    padding: 0 20px;
    // padding-left: 0;
  }
  @include SmallPhone {
    padding-left: 20px;
  }
  @include Tablet {
    padding: 0;
  }
  @include Laptop {
    width: 690px;
  }
}

.plan__info {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  /* or 24px */

  /* б */
  color: #f1f5f4;
  margin-top: 60px;
  width: 470px;
  @include Mobile {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    /* or 24px */

    /* б */
    color: #f1f5f4;
    width: 280px;
  }
  @include Tablet {
    width: 370px;
  }
  @include Notebook {
    margin-left: 80px;
  }
}

.plan__button {
  @include Mobile {
    margin-top: 60px;
  }
  @include SmallPhone {
    margin-bottom: 120px;
  }
  @include Tablet {
    margin-left: 0;
  }
  @include Notebook {
    margin-left: 80px;
  }
}
