@import "variables";

.section {
  max-width: $contentWidth;
  margin: 0 auto;
}

.title-section {
  position: relative;
  max-width: 100%;
  min-height: 800px;
  background-color: $headerColor;
  height: calc(100vh - 80px);
}
