@import "variables";

.section {
  max-width: $contentWidth;
  margin: 0 auto;

  &__heading {
    color: #1c1b29;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    margin: 160px 0 0 calc(100px * 3);
  }
}

.title-section {
  position: relative;
  max-width: 100%;
  min-height: 800px;
  background-color: $headerColor;
  height: calc(100vh - 80px);
}
