.section-title {
  font-family: $big-font;
  font-size: 28px;
  line-height: 35px;
  color: $black-color;

  @include on-tablet {
    font-size: 40px;
    line-height: 50px;
  }

  @include on-desktop {
    font-size: 48px;
    line-height: 57.6px;
  }

  &--actual-exhibitions--margin {
    margin-bottom: 60px;

    @include on-tablet {
      margin-bottom: 75px;
    }

    @include on-desktop {
      margin-bottom: 71px;
    }
  }
  &--upcoming--margin {
    margin-bottom: 60px;

    @include on-tablet {
      margin-bottom: 76px;
    }

    @include on-desktop {
      margin-bottom: 70px;
    }
  }

  &--news--margin {
    margin-bottom: 60px;

    @include on-tablet {
      margin-bottom: 75px;
    }

    @include on-desktop {
      margin-bottom: 55px;
    }
  }
  &--subscribe--margin {
    margin-bottom: 20px;

    @include on-desktop {
      margin-bottom: 50px;
    }
  }
}
