.section-title {
  margin-top: 0;
  margin-bottom: 60px;

  color: $main-black-color;
  font-family: Playfair Display;
  font-size: 28px;
  line-height: 125%;

  @include onTablet {
    font-size: 40px;
  }

  @include onDesktop {
    font-size: 48px;
  }

  &--margin-bottom {
    margin-bottom: 60px;
  }

  &--margins {
    margin-block: 30px 20px;
  }
}

.title__wraper {
  display: flex;
  justify-content: space-between;
}
