.section-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: $color-text;
  margin: 0;

  @include onTablet {
    font-size: 40px;
    line-height: 50px;
  }

  @include onDesktop {
    font-size: 48px;
    line-height: 58px;
  }
}
