.separator {
  position: relative;

  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-align: center;

  & > hr {
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 100%;
    background-color: $title-color-dark;

    @include onDesktop {
      width: 70px;

      bottom: 50%;
      right: -19px;
    }
  }
}
