.show {
  &__content {
    display: flex;
    flex-direction: column;

    @include onTablet {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  }

  &__card {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 0;
    }

    &--last {
      margin-bottom: 30px;

      @include onTablet {
        margin-bottom: 0;
      }
    }
  }
}
