.show-card {

  &__image {
    display: block;
    width: 100%;
    height: 356px;
    margin-bottom: 20px;
    object-fit: cover;
    transition: all 0.3s;

    @include onTablet {
      height: 420px;
    }

    @include onDesktop {
      height: auto;
    }

    @include img-hover;
  }

  &__data {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 10px;
    
    color: #cd4d31;
  }

  &__title {
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    margin-bottom: 20px;
    
    color: #1c1b29;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #504f5e;

    margin-bottom: 30px;

    @include onTablet {
      height: 70px;
      margin-bottom: 40px;
    }

    @include onDesktop {
      height: auto;
      margin-bottom: 50px;
    }
  }
}

.scroll-up--show {
  width: 17px;
  height: 17px;
  background-color: #cd4d31;
  border-radius: 10px;
  margin-left: 10px;

  transform: rotate(270deg);
}
