@font-face {
  font-family: Playfar;
  src: url(../public/fonts/PlayfairDisplay-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Playfar;
  src: url(../public/fonts/PlayfairDisplay-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  src: url(../public/fonts/Raleway-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  src: url(../public/fonts/PlayfairDisplay-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  src: url(../public/fonts/PlayfairDisplay-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.nav__link, h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Playfar, Verdana, Geneva, Tahoma, sans-serif;
}

.input::placeholder, .input, .button,
.secondary__button, body,
.typography--additional {
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

@keyframes line-view {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  font-size: 10px;
  scroll-behavior: smooth;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

body {
  position: relative;
}

main {
  background-color: #fff;
}

a,
input,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

picture {
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease-in-out;
}

input,
textarea {
  display: block;
  width: 100%;
}

textarea {
  resize: none;
}

body {
  color: #504f5e;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: normal;
  font-weight: 400;
  font-style: normal;
}

.typography--additional {
  font-size: 1.4rem;
  line-height: 1.96rem;
  letter-spacing: normal;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 4.8rem;
  line-height: 4.8rem;
  letter-spacing: normal;
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 768px) {
  h1 {
    font-size: 7.2rem;
    line-height: 7.2rem;
    letter-spacing: normal;
    font-weight: 700;
    font-style: normal;
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 9.6rem;
    line-height: 9.6rem;
    letter-spacing: normal;
    font-weight: 700;
    font-style: normal;
  }
}

h2 {
  font-size: 3.8rem;
  line-height: 3.8rem;
  letter-spacing: normal;
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 768px) {
  h2 {
    font-size: 6.2rem;
    line-height: 6.2rem;
    letter-spacing: normal;
    font-weight: 700;
    font-style: normal;
  }
}
@media (min-width: 1280px) {
  h2 {
    font-size: 8rem;
    line-height: 8rem;
    letter-spacing: normal;
    font-weight: 700;
    font-style: normal;
  }
}

h3 {
  font-size: 2.8rem;
  line-height: 3.5rem;
  letter-spacing: normal;
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 768px) {
  h3 {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: normal;
    font-weight: 700;
    font-style: normal;
  }
}
@media (min-width: 1280px) {
  h3 {
    font-size: 4.8rem;
    line-height: 5.76rem;
    letter-spacing: normal;
    font-weight: 700;
    font-style: normal;
  }
}

h4 {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: normal;
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 768px) {
  h4 {
    font-size: 2.4rem;
    line-height: 3rem;
    letter-spacing: normal;
    font-weight: 700;
    font-style: normal;
  }
}

h5 {
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: normal;
  font-weight: 700;
  font-style: normal;
}

h6 {
  font-size: 1.4rem;
  line-height: 1.75rem;
  letter-spacing: normal;
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1c1b29;
}

.section {
  max-width: 1280px;
  margin: 0 auto;
}

.section__wrapper {
  height: 100%;
  padding-inline: 2rem;
}
@media (min-width: 600px) {
  .section__wrapper {
    padding-inline: 3.9rem;
  }
}
@media (min-width: 1280px) {
  .section__wrapper {
    padding-inline: 5.5rem;
  }
}

.button,
.secondary__button {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: none;
  text-align: center;
  transition: 0.5s ease-in-out;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: normal;
  font-weight: 600;
  font-style: normal;
}

.button {
  padding-block: 2.2rem;
  color: #f1f5f4;
  background-color: #cd4d31;
}
.button:hover {
  background-color: #af3419;
}
.button:focus, .button:active {
  background-color: #ea340d;
}
.button:disabled {
  background-color: #dd836f;
}

.secondary__button {
  color: #cd4d31;
  background-color: #fff;
  column-gap: 0.8rem;
  padding-block: 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 0.1rem solid #cd4d31;
  border-radius: none;
}
.secondary__button > .icon {
  width: 2rem;
  height: 2rem;
  background-color: #cd4d31;
}
.secondary__button:hover {
  color: #af3419;
  border-color: #af3419;
}
.secondary__button:hover > .icon {
  background-color: #af3419;
}
.secondary__button:focus, .secondary__button:active {
  color: #ea340d;
  border-color: #ea340d;
}
.secondary__button:focus > .icon, .secondary__button:active > .icon {
  background-color: #ea340d;
}
.secondary__button:disabled {
  color: #dd836f;
  border-color: #dd836f;
}
.secondary__button:disabled > .icon {
  background-color: #dd836f;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  box-sizing: content-box;
  outline: none;
  border: none;
  border-bottom: 1px solid #1c1b29;
  color: #1c1b29;
  padding-block: 0.3rem;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: normal;
  font-weight: 400;
  font-style: normal;
}
.input::placeholder {
  color: #1c1b29;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: normal;
  font-weight: 400;
  font-style: normal;
}
.input:hover {
  color: #cd4d31;
  border-color: #cd4d31;
}
.input:hover::placeholder {
  color: #cd4d31;
}
.input:focus {
  color: #ea340d;
  border-color: #ea340d;
  font-weight: 600;
}
.input:focus::placeholder {
  color: #ea340d;
  font-weight: 600;
}
.input:valid {
  color: #1c1b29;
  border-color: #1c1b29;
  font-weight: 700;
}
.input:valid::placeholder {
  color: #1c1b29;
  font-weight: 700;
}

.icon {
  display: block;
  mask-position: center;
  background-color: #f1f5f4;
  transition: 0.5s ease-in-out;
}
.icon-social {
  width: 2rem;
  height: 2rem;
}
.icon:hover {
  background-color: #cd4d31;
}

.icon-logo {
  mask-image: url("../public/icons/logo.svg");
}

.icon-arrow {
  mask-image: url("../public/icons/arrow.svg");
}

.icon-cross {
  mask-image: url("../public/icons/cross.svg");
}

.icon-dropdown {
  width: 0.8rem;
  height: 0.46rem;
  mask-image: url("../public/icons/dropdown.svg");
}

.icon-facebook {
  mask-image: url("../public/icons/facebook.svg");
}

.icon-instagram {
  mask-image: url("../public/icons/instagram.svg");
}

.icon-scroll--up {
  height: 3rem;
  width: 3rem;
  mask-image: url("../public/icons/scroll-up.svg");
}

.icon-telegram {
  mask-image: url("../public/icons/telegram.svg");
}

.icon-twitter {
  mask-image: url("../public/icons/twitter.svg");
}

.icon-menu {
  width: 2.5rem;
  height: 2rem;
  mask-image: url("../public/icons/menu.svg");
}

.article {
  height: 100%;
}
.article__picture {
  cursor: pointer;
  margin-bottom: 2rem;
  transition: 0.5s ease-in-out;
}
@media (min-width: 600px) {
  .article__picture {
    margin-bottom: 3rem;
  }
}
@media (min-width: 1280px) {
  .article__picture {
    margin-bottom: 2rem;
  }
}
.article__picture:hover {
  transform: scale(1.1);
}
.article__date {
  margin-bottom: 1rem;
  color: #cd4d31;
}
.article__title {
  margin-bottom: 2rem;
  flex-grow: 1;
}
.article__description {
  margin-bottom: 3rem;
}
@media (min-width: 600px) {
  .article__description {
    margin-bottom: 4rem;
  }
}
@media (min-width: 1280px) {
  .article__description {
    margin-bottom: 5rem;
  }
}
@media (min-width: 1280px) {
  .article__button {
    margin-bottom: 5rem;
  }
}

.header {
  background-color: #3f5252;
  color: #f1f5f4;
  margin-bottom: 9rem;
  position: relative;
  min-height: 747px;
  background-image: url("../public/images/header/mobile.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
@media (min-width: 768px) {
  .header {
    margin-bottom: 10rem;
    min-height: 1092px;
    background-image: url("../public/images/header/tablet.png");
  }
}
@media (min-width: 1280px) {
  .header {
    min-height: 800px;
    background-position: right bottom;
    background-image: url("../public/images/header/decstop.png");
    margin-bottom: 11rem;
  }
}
.header__top {
  padding-block: 2rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (min-width: 768px) {
  .header__top {
    margin-bottom: 10rem;
  }
}
@media (min-width: 1280px) {
  .header__top {
    padding-block: 3rem;
    margin-bottom: 9rem;
  }
}
.header__logo {
  display: block;
  width: 12.4rem;
  height: 4rem;
}
.header__icons, .header__switch-language {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: row;
}
.header__icons {
  column-gap: 3rem;
}
@media (min-width: 600px) {
  .header__icons {
    column-gap: 4.2rem;
  }
}
.header__switch-language {
  column-gap: 0.5rem;
  display: none;
}
@media (min-width: 600px) {
  .header__switch-language {
    display: flex;
  }
}
.header__icon, .header__switch-language {
  color: #f1f5f4;
}
.header__icon:hover, .header__switch-language:hover {
  color: #cd4d31;
}
.header__icon:hover > .icon, .header__switch-language:hover > .icon {
  background-color: #cd4d31;
}
.header__content-container, .header__bottom {
  display: grid;
  column-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 600px) {
  .header__content-container, .header__bottom {
    column-gap: 3rem;
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1280px) {
  .header__bottom {
    column-gap: 3rem;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 5rem;
  }
}
.header__button {
  max-width: 27rem;
}
.header__content-container {
  grid-column: span 2;
}
@media (min-width: 600px) {
  .header__content-container {
    grid-column: span 6;
  }
}
@media (min-width: 1280px) {
  .header__content-container {
    grid-column: span 6;
    padding-bottom: 0;
  }
}
.header__date {
  margin-bottom: 1rem;
}
@media (min-width: 600px) {
  .header__date {
    grid-column: span 4;
  }
}
.header__date, .header__title, .header__description--container, .header__button {
  grid-column: span 2;
  color: #f1f5f4;
}
.header__title {
  margin-bottom: 3rem;
}
@media (min-width: 600px) {
  .header__title {
    grid-column: span 5;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1280px) {
  .header__title {
    grid-column: span 6;
    margin-bottom: 3rem;
  }
}
.header__description--container {
  margin-bottom: 5rem;
}
@media (min-width: 600px) {
  .header__description--container {
    grid-column: 1/4;
    margin-bottom: 7rem;
  }
}
@media (min-width: 1280px) {
  .header__description--container {
    grid-column: span 6;
    margin-bottom: 13.5rem;
  }
}
.header__description {
  margin-bottom: 4rem;
}
@media (min-width: 600px) {
  .header__description {
    margin-bottom: 5rem;
  }
  .header__description > br {
    display: none;
  }
}
@media (min-width: 1280px) {
  .header__description {
    margin-bottom: 8rem;
  }
}
.header__date-desctop {
  color: #f1f5f4;
  opacity: 0.7;
  text-wrap: nowrap;
}
.header__date-desctop--wrapper {
  display: none;
  grid-column: span 6;
}
@media (min-width: 1280px) {
  .header__date-desctop--wrapper {
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-direction: row;
    column-gap: 2rem;
  }
}
.header__date-desctop--line {
  width: calc(100vw - 710px);
  height: 0.1rem;
  background-color: #f1f5f4;
  opacity: 0.3;
}

.section__exhibitions {
  margin-bottom: 12rem;
}
@media (min-width: 768px) {
  .section__exhibitions {
    margin-bottom: 16rem;
  }
}
@media (min-width: 1280px) {
  .section__exhibitions {
    margin-bottom: 20rem;
  }
}
.section__exhibitions--wrapper {
  display: grid;
  column-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 600px) {
  .section__exhibitions--wrapper {
    column-gap: 3rem;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: row dense;
  }
}
@media (min-width: 1280px) {
  .section__exhibitions--wrapper {
    column-gap: 3rem;
    grid-template-columns: repeat(12, 1fr);
  }
}
.section__exhibitions-title {
  margin-bottom: 6rem;
  grid-column: span 2;
}
@media (min-width: 600px) {
  .section__exhibitions-title {
    grid-column: span 4;
    margin-bottom: 8rem;
  }
}
@media (min-width: 768px) {
  .section__exhibitions-title {
    margin-bottom: 8rem;
  }
}
@media (min-width: 1280px) {
  .section__exhibitions-title {
    grid-column: span 6;
    margin-bottom: 7rem;
  }
}

.exhibition {
  display: flex;
  flex-direction: column;
}

.exhibitions__list {
  grid-column: span 2;
  display: grid;
  margin-bottom: 3rem;
  column-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 600px) {
  .exhibitions__list {
    grid-column: span 6;
    column-gap: 3rem;
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 768px) {
  .exhibitions__list {
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .exhibitions__list {
    grid-column: span 12;
  }
}
.exhibitions__item {
  grid-column: span 2;
}
.exhibitions__item:not(:last-child) {
  margin-bottom: 6rem;
}
@media (min-width: 600px) {
  .exhibitions__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 600px) {
  .exhibitions__item {
    grid-column: span 3;
  }
}
.exhibitions__link {
  grid-column: span 2;
  align-self: flex-start;
}
@media (min-width: 1280px) {
  .exhibitions__link {
    grid-column: 10/-1;
  }
}

.section__events {
  margin-bottom: 9rem;
}
@media (min-width: 768px) {
  .section__events {
    margin-bottom: 10rem;
  }
}
@media (min-width: 1280px) {
  .section__events {
    margin-bottom: 11rem;
  }
}
.section__events-title {
  margin-bottom: 6rem;
  grid-column: span 2;
}
@media (min-width: 600px) {
  .section__events-title {
    grid-column: span 4;
  }
}
@media (min-width: 768px) {
  .section__events-title {
    margin-bottom: 8rem;
  }
}
@media (min-width: 1280px) {
  .section__events-title {
    grid-column: 1/7;
  }
}
@media (min-width: 1280px) {
  .section__events-title {
    margin-bottom: 7rem;
  }
}
.section__events--wrapper {
  display: grid;
  column-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 600px) {
  .section__events--wrapper {
    column-gap: 3rem;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: row dense;
  }
}
@media (min-width: 1280px) {
  .section__events--wrapper {
    column-gap: 3rem;
    grid-template-columns: repeat(12, 1fr);
  }
}

.events__list {
  margin-bottom: 3rem;
  grid-column: span 2;
}
@media (min-width: 600px) {
  .events__list {
    grid-column: span 6;
  }
}
@media (min-width: 768px) {
  .events__list {
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .events__list {
    grid-column: span 12;
  }
}
.events__item:not(:last-child) {
  margin-bottom: 6rem;
}
@media (min-width: 768px) {
  .events__item:not(:last-child) {
    margin-bottom: 7rem;
  }
}
@media (min-width: 1280px) {
  .events__item:not(:last-child) {
    margin-bottom: 6rem;
  }
}
.events__link {
  grid-column: span 2;
  align-self: flex-start;
}
@media (min-width: 1280px) {
  .events__link {
    grid-column: 10/-1;
  }
}

.event {
  display: grid;
  column-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 600px) {
  .event {
    grid-column: span 6;
    column-gap: 3rem;
    grid-template-columns: repeat(6, 1fr);
  }
}
.event__picture {
  grid-column: span 2;
}
@media (min-width: 600px) {
  .event__picture {
    grid-column: 1/4;
  }
}
@media (min-width: 768px) {
  .event__picture {
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .event__picture {
    grid-column: span 2;
  }
}
.event__content {
  grid-column: span 2;
}
@media (min-width: 600px) {
  .event__content {
    grid-column: 4/-1;
  }
}
@media (min-width: 1280px) {
  .event__content {
    grid-column: 3/6;
  }
}

.section__visit {
  background-color: #3f5252;
  margin-bottom: 9rem;
  padding-block: 5rem;
  color: #f1f5f4;
  position: relative;
}
@media (min-width: 768px) {
  .section__visit {
    padding-block: 8rem;
    margin-bottom: 12rem;
  }
}
@media (min-width: 1280px) {
  .section__visit {
    padding-block: 22.5rem 20.5rem;
    margin-bottom: 11rem;
  }
}
@media (min-width: 1280px) {
  .section__visit--wrapper {
    display: grid;
    column-gap: 3rem;
    grid-template-columns: repeat(12, 1fr);
  }
}

@media (min-width: 600px) {
  .visit__content {
    display: grid;
    column-gap: 3rem;
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1280px) {
  .visit__content {
    grid-column: 6/-1;
    column-gap: 3rem;
    grid-template-columns: repeat(12, 1fr);
  }
}
.visit__title {
  margin-bottom: 2rem;
  color: #f1f5f4;
}
@media (min-width: 600px) {
  .visit__title {
    grid-column: span 6;
  }
}
@media (min-width: 768px) {
  .visit__title {
    grid-column: span 4;
    margin-bottom: 4rem;
  }
}
@media (min-width: 1280px) {
  .visit__title {
    grid-column: span 11;
    margin-bottom: 3rem;
  }
}
.visit__description {
  margin-bottom: 4rem;
}
@media (min-width: 600px) {
  .visit__description {
    grid-column: span 6;
  }
}
@media (min-width: 768px) {
  .visit__description {
    grid-column: span 4;
    margin-bottom: 4rem;
  }
}
@media (min-width: 1280px) {
  .visit__description {
    grid-column: span 9;
    margin-bottom: 5rem;
  }
}
@media (min-width: 600px) {
  .visit__button {
    grid-column: span 3;
  }
}
@media (min-width: 1280px) {
  .visit__button {
    grid-column: span 10;
    max-width: 27rem;
  }
}
.visit__image {
  display: none;
}
@media (min-width: 1280px) {
  .visit__image {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 578px;
  }
}

.section__news {
  margin-bottom: 12rem;
}
@media (min-width: 768px) {
  .section__news {
    margin-bottom: 16rem;
  }
}
@media (min-width: 1280px) {
  .section__news {
    margin-bottom: 20rem;
  }
}
.section__news-title {
  margin-bottom: 6rem;
}
@media (min-width: 600px) {
  .section__news-title {
    grid-column: span 4;
  }
}
@media (min-width: 768px) {
  .section__news-title {
    margin-bottom: 7rem;
  }
}
@media (min-width: 1280px) {
  .section__news-title {
    margin-bottom: 6rem;
  }
}
.section__news--wrapper {
  display: grid;
  column-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 600px) {
  .section__news--wrapper {
    column-gap: 3rem;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: row dense;
  }
}
@media (min-width: 1280px) {
  .section__news--wrapper {
    column-gap: 3rem;
    grid-template-columns: repeat(12, 1fr);
  }
}

.news__list {
  margin-bottom: 3rem;
  grid-column: span 2;
}
@media (min-width: 600px) {
  .news__list {
    grid-column: span 6;
    display: grid;
    column-gap: 3rem;
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 768px) {
  .news__list {
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .news__list {
    grid-column: span 12;
  }
}
.news__title {
  margin-bottom: 2rem;
}
@media (min-width: 600px) {
  .news__item {
    grid-column: span 3;
  }
}
.news__item:not(:last-child) {
  margin-bottom: 5rem;
}
@media (min-width: 768px) {
  .news__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.news__picture {
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 2rem;
  transition: 0.5s ease-in-out;
}
.news__picture:hover {
  transform: scale(1.1);
}
@media (min-width: 768px) {
  .news__picture {
    margin-bottom: 4rem;
  }
}
@media (min-width: 1280px) {
  .news__picture {
    margin-bottom: 2rem;
  }
}
.news__image {
  aspect-ratio: 1/1;
}
.news__image--scale {
  object-fit: fill;
  transform: scale(1.2);
}
@media (min-width: 1280px) {
  .news__image {
    aspect-ratio: 100/64.9;
  }
}
.news__link {
  grid-column: 6/-1;
  align-self: start;
}
@media (min-width: 600px) {
  .news__link {
    grid-column: 5/-1;
  }
}
@media (min-width: 1280px) {
  .news__link {
    grid-column: 10/-1;
  }
}

.section__digest {
  margin-bottom: 8rem;
}
@media (min-width: 768px) {
  .section__digest {
    margin-bottom: 12rem;
  }
}
@media (min-width: 1280px) {
  .section__digest {
    margin-bottom: 20rem;
  }
}
@media (min-width: 600px) {
  .section__digest--wrapper {
    display: grid;
    column-gap: 3rem;
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1280px) {
  .section__digest--wrapper {
    column-gap: 3rem;
    grid-template-columns: repeat(12, 1fr);
  }
}

.digest__title {
  margin-bottom: 2rem;
}
@media (min-width: 600px) {
  .digest__title {
    grid-column: span 6;
  }
}
@media (min-width: 1280px) {
  .digest__title {
    margin-bottom: 5rem;
  }
}
.digest__description {
  margin-bottom: 5rem;
}
@media (min-width: 600px) {
  .digest__description {
    grid-column: span 5;
  }
}
@media (min-width: 1280px) {
  .digest__description {
    grid-column: span 6;
  }
}
.digest__input {
  margin-bottom: 3rem;
}
@media (min-width: 1280px) {
  .digest__input {
    margin-bottom: 4rem;
  }
}
.digest__form {
  grid-column: span 6;
}
@media (min-width: 1280px) {
  .digest__form {
    grid-column: span 5;
  }
}
@media (min-width: 600px) {
  .digest__button {
    max-width: 27rem;
    margin-right: auto;
  }
}

.section__footer--wrapper {
  row-gap: 5rem;
}
@media (min-width: 768px) {
  .section__footer--wrapper {
    row-gap: 6rem;
  }
}
@media (min-width: 600px) {
  .section__footer--wrapper {
    display: grid;
    column-gap: 3rem;
    grid-template-columns: repeat(6, 1fr);
  }
}

.footer {
  background-color: #3f5252;
  color: #f1f5f4;
  padding-block: 3.4rem 3rem;
}
@media (min-width: 768px) {
  .footer {
    padding-block: 5rem 3rem;
  }
}
.footer__social {
  display: flex;
  column-gap: 2rem;
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .footer__social {
    margin-top: 5rem;
  }
}
.footer__content {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .footer__content {
    grid-column: span 2;
  }
}
.footer__content-text {
  display: flex;
  justify-content: normal;
  align-items: stretch;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__content {
    margin-bottom: 0;
  }
}
.footer__title, .footer__link {
  color: #f1f5f4;
}
.footer__link:hover {
  color: #cd4d31;
}
.footer__content-title {
  color: #f1f5f4;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__content-title {
    margin-bottom: 3rem;
  }
}
.footer__links {
  column-gap: 0.5rem;
  display: flex;
  justify-content: normal;
  align-items: stretch;
  flex-direction: column;
}
.footer__terms {
  margin-right: 2.4rem;
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: row;
}
.footer__terms-content :first-child {
  margin-right: 2.2rem;
}
@media (min-width: 1280px) {
  .footer__terms-content :first-child {
    margin-right: 10rem;
  }
}
@media (min-width: 600px) {
  .footer__terms {
    grid-column: span 6;
    justify-content: space-between;
  }
}
.footer__nav-list :not(:last-child) {
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .footer__nav-list :not(:last-child) {
    margin-bottom: 1rem;
  }
}

.menu {
  overflow: auto;
  position: fixed;
  left: -100%;
  width: 100%;
  z-index: 999;
  top: 0;
  height: 100vh;
  background-color: #3f5252;
  color: #f1f5f4;
  pointer-events: none;
  transition: ease-in-out 0.5s;
}
@media (min-width: 600px) {
  .menu {
    background-image: url("../public/images/menu/tablet.png");
    background-repeat: no-repeat;
    min-height: 1092px;
    background-position: bottom;
  }
}
@media (min-width: 1280px) {
  .menu {
    background-image: url("../public/images/menu/decstop.png");
    min-height: 800px;
    background-position: right 103px;
  }
}
.menu__top {
  padding-block: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (min-width: 600px) {
  .menu__top {
    margin-bottom: 2rem;
  }
}
@media (min-width: 1280px) {
  .menu__top {
    margin-bottom: 1rem;
  }
}
.menu__logo {
  display: block;
  width: 12.7rem;
  height: 4rem;
}
.menu__icons, .menu__switch-language {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: row;
}
.menu__icons {
  column-gap: 3rem;
}
@media (min-width: 600px) {
  .menu__icons {
    column-gap: 4.4rem;
  }
}
.menu__icon, .menu__switch-language, .menu__link {
  color: #f1f5f4;
}
.menu__switch-language {
  column-gap: 0.5rem;
}
.menu__switch-language:hover {
  color: #cd4d31;
}
.menu__switch-language:hover > .icon {
  background-color: #cd4d31;
}
.menu__icon-cross {
  width: 2.2rem;
  height: 2.2rem;
}
@media (min-width: 600px) {
  .menu__icon-cross {
    order: -1;
  }
}
.menu:target {
  left: 0;
  pointer-events: all;
}
.menu__link:hover {
  color: #cd4d31;
}
.menu__info {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
@media (min-width: 600px) {
  .menu__info {
    flex-direction: row;
    column-gap: 12.3rem;
    margin-bottom: 5rem;
  }
}
@media (min-width: 600px) and (min-width: 1280px) {
  .menu__info {
    column-gap: 8.3rem;
    margin-bottom: 7rem;
  }
}
.menu__info-content {
  font-weight: 600;
}
.menu__hr {
  height: 0.1rem;
  background-color: #f1f5f4;
  width: 100%;
}
@media (min-width: 1280px) {
  .menu__hr {
    width: calc(100vw - 710px);
  }
}
@media (min-width: 600px) {
  .menu__button {
    max-width: 33rem;
  }
}
@media (min-width: 1280px) {
  .menu__button {
    max-width: 27rem;
  }
}

.nav {
  margin-bottom: 4rem;
}
@media (min-width: 600px) {
  .nav {
    margin-bottom: 5rem;
  }
}
@media (min-width: 600px) {
  .nav {
    margin-bottom: 6rem;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-bottom: 4rem;
}
@media (min-width: 600px) {
  .nav__list {
    row-gap: 3rem;
    margin-bottom: 5rem;
  }
}
@media (min-width: 1280px) {
  .nav__list {
    row-gap: 6rem;
    margin-bottom: 6rem;
  }
}
.nav__link {
  position: relative;
  color: #f1f5f4;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: normal;
  font-weight: 700;
  font-style: normal;
}
.nav__link:hover::after {
  content: "";
  display: block;
  position: absolute;
  height: 0.1rem;
  background-color: #f1f5f4;
  margin-top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  animation: line-view 0.5s ease-in-out;
}
@media (min-width: 600px) {
  .nav__link {
    font-size: 4.8rem;
    line-height: 5.76rem;
    letter-spacing: normal;
    font-weight: 700;
    font-style: normal;
  }
}
.nav__item {
  transition: all 0.5s ease-in-out;
  font-size: 2.2rem;
  line-height: 2.2rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
