// Utils
@import './utils/variables';
@import './utils/mixins';
@import './utils/container';

// Modules
@import './modules/top-bar';
@import './modules/text';
@import './modules/title';
@import './modules/btn';
@import './modules/card';

// Blocks
@import './blocks/header';
@import './blocks/menu';
@import './blocks/main';
@import './blocks/exhibitions';
@import './blocks/events';
@import './blocks/visit';
@import './blocks/news';
@import './blocks/subscribe';
@import './blocks/footer';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-main;
  font-weight: 400;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;

  &:has(.menu:target) {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.text-orange {
  color: #CD4D31;
}
