/* stylelint-disable */

@font-face {
  font-family: Playfar;
  src: url(../public/fonts/PlayfairDisplay-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Playfar;
  src: url(../public/fonts/PlayfairDisplay-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  src: url(../public/fonts/Raleway-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  src: url(../public/fonts/PlayfairDisplay-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  src: url(../public/fonts/PlayfairDisplay-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.nav__link,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Playfar;
}

.input::placeholder,
.input,
.button,
.secondary__button,
body,
.typography--additional {
  font-family: Raleway;
}

@keyframes line-view {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  font-size: 10px;
  scroll-behavior: smooth;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

body {
  position: relative;
}

main {
  background-color: #fff;
}

a,
input,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

picture {
  display: block;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}

input,
textarea {
  display: block;
  width: 100%;
}

textarea {
  resize: none;
}

body {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: normal;
  font-weight: 400;
  font-style: normal;
  color: #504f5e;
}

.typography--additional {
  font-size: 1.4rem;
  line-height: 1.96rem;
  letter-spacing: normal;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 4.8rem;
  line-height: 4.8rem;
  letter-spacing: normal;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: 3.8rem;
  line-height: 3.8rem;
  letter-spacing: normal;
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-size: 2.8rem;
  line-height: 3.5rem;
  letter-spacing: normal;
  font-weight: 700;
  font-style: normal;
}

h4 {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: normal;
  font-weight: 700;
  font-style: normal;
}

h5 {
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: normal;
  font-weight: 700;
  font-style: normal;
}

h6 {
  font-size: 1.4rem;
  line-height: 1.75rem;
  letter-spacing: normal;
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1c1b29;
  font-weight: 700;
}

.section {
  max-width: 1260px;
  margin: 0 auto;
}

.section__wrapper {
  padding-inline: 2rem;
}

.button,
.secondary__button {
  display: block;
  width: 100%;
  border: none;
  font-weight: 600;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: normal;
  font-weight: 600;
  font-style: normal;
}

.button {
  padding-block: 2.2rem;
  color: #f1f5f4;
  background-color: #cd4d31;
}
.button:hover {
  background-color: #af3419;
}
.button:focus,
.button:active {
  background-color: #ea340d;
}
.button:disabled {
  background-color: #dd836f;
}

.secondary__button {
  color: #cd4d31;
  background-color: #ffffff;
  column-gap: 0.8rem;
  padding-block: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 0.1rem solid #cd4d31;
  border-radius: none;
}
.secondary__button > .icon {
  width: 2rem;
  height: 2rem;
  background-color: #cd4d31;
}
.secondary__button:hover {
  color: #af3419;
  border-color: #af3419;
}
.secondary__button:hover > .icon {
  background-color: #af3419;
}
.secondary__button:focus,
.secondary__button:active {
  color: #ea340d;
  border-color: #ea340d;
}
.secondary__button:focus > .icon,
.secondary__button:active > .icon {
  background-color: #ea340d;
}
.secondary__button:disabled {
  color: #dd836f;
  border-color: #dd836f;
}
.secondary__button:disabled > .icon {
  background-color: #dd836f;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  box-sizing: content-box;
  outline: none;
  border: none;
  border-bottom: 1px solid #1c1b29;
  color: #1c1b29;
  padding-block: 0.3rem;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: normal;
  font-weight: 400;
  font-style: normal;
}
.input::placeholder {
  color: #1c1b29;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: normal;
  font-weight: 400;
  font-style: normal;
}
.input:hover {
  color: #cd4d31;
  border-color: #cd4d31;
}
.input:hover::placeholder {
  color: #cd4d31;
}
.input:focus {
  color: #ea340d;
  border-color: #ea340d;
  font-weight: 600;
}
.input:focus::placeholder {
  color: #ea340d;
  font-weight: 600;
}
.input:valid {
  color: #1c1b29;
  border-color: #1c1b29;
  font-weight: 700;
}
.input:valid::placeholder {
  color: #1c1b29;
  font-weight: 700;
}

.icon {
  display: block;
  mask-size: cover;
  mask-position: center;
  background-color: #f1f5f4;
}
.icon-social {
  width: 2rem;
  height: 2rem;
}

.icon-logo {
  mask-image: url('../public/icons/logo.svg');
}

.icon-arrow {
  mask-image: url('../public/icons/arrow.svg');
}

.icon-cross {
  mask-image: url('../public/icons/cross.svg');
}

.icon-dropdown {
  width: 0.8rem;
  height: 0.461rem;
  mask-image: url('../public/icons/dropdown.svg');
}

.icon-facebook {
  mask-image: url('../public/icons/facebook.svg');
}

.icon-instagram {
  mask-image: url('../public/icons/instagram.svg');
}

.icon-scroll--up {
  height: 3rem;
  width: 3rem;
  mask-image: url('../public/icons/scroll-up.svg');
}

.icon-telegram {
  mask-image: url('../public/icons/telegram.svg');
}

.icon-twitter {
  mask-image: url('../public/icons/twitter.svg');
}

.icon-menu {
  width: 2.5rem;
  height: 2rem;
  mask-image: url('../public/icons/menu.svg');
}

.article:first-of-type {
  margin-bottom: 6rem;
}
.article__picture {
  height: 35.6rem;
  margin-bottom: 2rem;
}
.article__image {
  object-fit: cover;
}
.article__image--scale {
  object-position: 10% 0%;
  transform: scale(1.1);
}
.article__date {
  margin-bottom: 1rem;
  color: #cd4d31;
}
.article__title {
  margin-bottom: 2rem;
}
.article__content {
  margin-bottom: 3rem;
}
.article__link {
  margin-top: 3rem;
}

.header {
  height: 100vh;
  background-color: #3f5252;
  color: #f1f5f4;
  position: relative;
  margin-bottom: 9rem;
}
.header__date,
.header__title {
  color: #f1f5f4;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-block: 2rem;
  margin-bottom: 5rem;
}
.header__logo {
  display: block;
  width: 12.3rem;
  height: 4rem;
}
.header__icons,
.header__switch-language {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: row;
}
.header__icons {
  column-gap: 3rem;
}
.header__switch-language {
  column-gap: 0.5rem;
  opacity: 0;
}
.header__icon,
.header__switch-language {
  color: #f1f5f4;
}
.header__time {
  margin-bottom: 1rem;
}
.header__title {
  margin-bottom: 3rem;
}
.header__description,
.header__button {
  margin-bottom: 4rem;
}
.header__image {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 0;
  width: 24.5rem;
  height: 27.3rem;
}

.section__exhibitions {
  margin-bottom: 12rem;
}
.section__exhibitions-title {
  margin-bottom: 6rem;
}

.exhibition__image--scale {
  object-position: 10% 0%;
  transform: scale(1.1);
}

.section__events {
  margin-bottom: 12rem;
}
.section__events-title {
  margin-bottom: 6rem;
}

.section__visit {
  background-color: #3f5252;
  margin-bottom: 9rem;
  padding-block: 5rem;
  color: #f1f5f4;
}

.visit__title {
  margin-bottom: 2rem;
  color: #f1f5f4;
}
.visit__description {
  margin-bottom: 4rem;
}

.section__news {
  margin-bottom: 12rem;
}
.section__news-title {
  margin-bottom: 6rem;
}

.news__list {
  margin-bottom: 3rem;
}
.news__item:not(:last-child) {
  margin-bottom: 5rem;
}
.news__picture {
  height: 280px;
}
.news__imag {
  object-fit: cover;
}
.news__picture,
.news__title {
  margin-bottom: 2rem;
}

.section__digest {
  margin-bottom: 8rem;
}

.digest__title {
  margin-bottom: 2rem;
}
.digest__discription {
  margin-bottom: 5rem;
}
.digest__input {
  margin-bottom: 3rem;
}

.footer {
  background-color: #3f5252;
  color: #f1f5f4;
  padding-block: 3.4rem 3rem;
}
.footer .section__wrapper {
  display: grid;
  column-gap: 0;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 5rem;
}
.footer__content-text {
  display: flex;
  justify-content: normal;
  align-items: stretch;
  flex-direction: column;
}
.footer__title,
.footer__link {
  color: #f1f5f4;
}
.footer__content-title {
  color: #f1f5f4;
  margin-bottom: 10px;
}
.footer__links {
  display: flex;
  justify-content: normal;
  align-items: stretch;
  flex-direction: column;
  column-gap: 0.5rem;
}
.footer__terms {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: row;
}
.footer__terms .footer__term:first-child {
  margin-right: 2.2rem;
}
.footer__terms :nth-child(2) {
  margin-right: 2.4rem;
}

.menu {
  overflow: auto;
  position: fixed;
  left: -100%;
  width: 100%;
  z-index: 999;
  top: 0;
  height: 100vh;
  background-color: #3f5252;
  color: #f1f5f4;
  pointer-events: none;
  transition: ease-in-out 0.5s;
}
.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-block: 2rem 3rem;
}
.menu__logo {
  display: block;
  width: 12.7rem;
  height: 4rem;
}
.menu__icons,
.menu__switch-language {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: row;
}
.menu__icons {
  column-gap: 3rem;
}
.menu__switch-language {
  column-gap: 0.5rem;
}
.menu__icon-cross {
  width: 3rem;
  height: 3rem;
}
.menu__icon,
.menu__switch-language {
  color: #f1f5f4;
}
.menu:target {
  left: 0;
  pointer-events: all;
}
.menu__info {
  margin-bottom: 4rem;
}
.menu__info :first-child {
  margin-bottom: 2rem;
}
.menu__info-content {
  font-weight: 600;
}
.menu__hr {
  height: 0.1rem;
  background-color: #f1f5f4;
}

.nav {
  margin-bottom: 4rem;
}
.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-bottom: 4rem;
}
.nav__link {
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: normal;
  font-weight: 700;
  font-style: normal;
  color: #f1f5f4;
}
.nav__item {
  transition: all 0.5s ease-in-out;
  font-size: 2.2rem;
  line-height: 2.2rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
