.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 80px;

  @include tablet {
    margin-bottom: 128px;
  }

  @include desktop {
    margin-bottom: 200px;
  }

  &__container {
    width: 280px;

    @include tablet {
      width: 700px;
    }

    @include desktop {
      width: 1170px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;

    margin-bottom: 20px;

    color: $black;

    @include tablet {
      font-family: "Playfair Display", serif;
      font-weight: 700;
      font-size: 40px;
      line-height: 125%;

      margin: 0;

      grid-column: 1 / 7;
    }

    @include desktop {
      grid-column: 1 / 6;

      font-size: 48px;
      line-height: 120%;

      margin-bottom: 20px;
    }
  }

  &__discription {
    margin-bottom: 50px;

    @include tablet {
      grid-column: 1 / 6;
      margin-bottom: 20px;
    }

    @include desktop {
      grid-column: 7 / 13;
    }
  }

  &__email {
    border: none;
    border-bottom: 1px solid $black;

    outline: none;
    width: 280px;

    background-color: $c-gray;

    margin-bottom: 30px;

    @include tablet {
      width: 450px;
      margin-bottom: 0;
    }

    @include desktop {
      margin-bottom: 10px;
    }

    &:hover {
      border-bottom-color: $orange;
    }
  }

  &__email-form {
    @include tablet {
      grid-column: 1 / 5;
    }

    @include desktop {
      grid-column: 1 / 6;
    }
  }

  &__button {
    @include tablet {
      grid-column: 1 / 4;
    }

    @include desktop {
      grid-column: 1 / 4;
    }
  }

  &__button-title {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;

    margin: auto;

    color: $white;
  }
}
