.subscribe {
  box-sizing: border-box;
  display: block;
  padding: 0 20px;

  @include Desktop {
    padding: 0 55px !important;
  }
  @include Tablet {
    padding: 0 39px;
  }
  &__section {
    @include Desktop {
      display: flex;
    }
  }

  &__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-family: "Raleway", sans-serif;
    margin-bottom: 50px;
    @include Tablet {
      width: 570px;
    }
  }

  &__email {
    outline: none;
    cursor: pointer;
    font-size: 16px;

    border: none;
    border-bottom: 1px solid $black;

    width: 100%;
    padding: 4px 0;

    background-color: $c-gray;

    margin-bottom: 30px;

    &:hover {
      border-bottom: 1px solid $orange;
    }

    &::placeholder {
      color: $black;
      font-size: 16px;
      line-height: 150%;

      transition: color 0.3s;
    }

    &:hover::placeholder {
      color: $orange;
    }

    &:focus {
      color: $orange;
      border-bottom: 1px solid $orange;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }
  &__form {
    width: 100%;
    @include Tablet {
      width: 450px;
    }
    @include Desktop {
      width: 470px;
    }
  }
  &__btn {
    margin: 50px 0 80px;
    @include Tablet {
      width: 330px !important;
    }
    @include Desktop {
      width: 270px !important;
    }
  }

  &__title {
    font-family: Playfair Display, Helvetica, sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: $black;
    padding: 70px 0 20px;
    text-align: center;
    margin-bottom: 10px;

    @include Tablet {
      padding: 0;
      margin-bottom: 20px;
      font-size: 40px;
      text-align: start;
    }
    @include Desktop {
      padding: 0;
      width: 570px;
      margin-bottom: 50px;
      font-size: 48px;
      text-align: start;
    }
  }
}

#EmailInput {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  @include Tablet {
    width: 470px;
  }
  @include Desktop {
    width: 470px;
  }
}

input[type="email"] {
  border: none;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid $black;
  cursor: pointer;
}

input[type="email"]:hover {
  color: $orange;
  border-bottom: 1px solid $orange;
  transition: all 0.4s ease-in-out;

}

input[type="email"]:focus {
  color: $orange;
  border-bottom: 1px solid $orange;
  outline: none;
}
