.subscription {
  margin-bottom: 80px;

  @include onTablet {
    margin-bottom: 128px;
  }

  @include onDesktop {
    margin-bottom: 200px;
  }

  &__description {
    margin-top: 20px;
    color: $c-black;

    @include onDesktop {
      margin-top: 0;
    }
  }
}
