@import "variables";

.subscription {
  width: $contentWidth;
  height: 459px;
  display: flex;
  justify-content: space-between;

  &__text {
    margin-top: 160px;
    color: #f1f5f4;

  }

  &__heading {
    display: block;
    margin-bottom: 41px;
    font-family: "Playfair display", serif;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
  }

  &__info {
    width: 570px;

    font-size: 16px;
    line-height: 1.5;
  }

  &__input {
    margin-top: 266px;
    width: 300px;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 10px;
    background-color: transparent;
    color: #f1f5f4;
    border: none;
    border-bottom: 1px solid #f1f5f4;

    &::placeholder {
      color: #f1f5f4;
    }
  }
}
