.subscribe {
  padding: 0 20px 80px;
}

.sub__wrapper {
  @media (min-width: 1280px) {
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(var(--columns), 1fr);

    --columns: 6;

    max-width: 1200px;
    margin: 0 auto;
  }
}

.sub__title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    font-size: 40px;
  }

  @media (min-width: 1280px) {
    font-size: 48px;
    padding-bottom: 50px;
    grid-column: 1 / 5;
  }
}

.sub__text {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 50px;

  @media (min-width: 1280px) {
    grid-column: 7 / 13;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 570px;
    padding-top: 10px;
  }
}

.sub__button {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-self: flex-end;

  @media (min-width: 768px) {
    align-self: flex-start;
    justify-content: left;
    margin: 0;
  }
}

.button__sub {
  width: 280px;
  height: 60px;
  background-color: #cd4d31;
  border: none;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #f1f5f4;
  text-decoration: none;

  &:hover {
    background-color: #af3419;
  }

  &:active {
    background-color: #ea340d;
  }

  @media (min-width: 768px) {
    width: 210px;
  }
}

.sub__email {
  border: none;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-self: flex-end;
  padding-bottom: 40px;

  @media (min-width: 768px) {
    justify-content: left;
    margin: 0;
  }
}

.input__email {
  border: none;
  width: 280px;
  height: 60px;
  background-color: $c-gray;
  border-bottom: 1px solid #1c1b29;

  &:hover {
    border-bottom: 1px solid #cd4d31;
  }

  &:focus {
    border: none;
    border-bottom: 1px solid #cd4d31;
    outline: none;
    background-color: $c-gray;
  }

  &:valid {
    border-bottom: 1px solid #1c1b29;
    color: #1c1b29;
  }

  @media (min-width: 768px) {
    width: 450px;
  }
}

.sub__form {
  @media (min-width: 1280px) {
    grid-column: 1 /6;
  }
}
