.title{
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  text-align: left;

  &--section{
    font-size: 28px;
    line-height: 35px;

    @include on-tablet {
      font-size: 40px;
      line-height: 50px;
    }

    @include on-desktop {
      font-size: 48px;
      line-height: 58px;
    }
  }

  &--plan-visit{
    color: $main-white;
    font-size: 38px;
    line-height: 100%;

    @include on-tablet{
      font-size: 62px;
    }

    @include on-desktop{
      font-size: 80px;
    }
  }
}