.title {
  font-size: 28px;
  line-height: 125%;
  text-align: left;
  grid-column: 1 / -1;
  color: $title-color;

  @include onTablet {
    font-size: 40px;
  }

  @include onTablet {
    grid-column: 1 / 4;
    align-self: center;
  }

  @include onDesktop {
    grid-column: 1 / 9;
  }

  &--tablet-grid-all {
    grid-column: 1 / -1;

    @include onDesktop {
      grid-column: 1 / 6;
      align-self: start;
    }
  }
}
