.title {
  display: flex;
  justify-content: space-between;
  width: $contentWidth;
  margin: 0 auto;
  background-color: $headerColor;

  color: #f1f5f4;

  &__text {
    margin-top: 100px;
    min-height: calc(100vh - 180px);
    position: relative;
  }

  &__date {
    line-height: 1.5;
  }

  &__heading {
    font-family: "Playfair Display", serif;
    font-size: 96px;
    line-height: 96px;
    margin: 10px 0;

    &--date {
      position: relative;
      left: 100px;
    }
  }

  &__info {
    width: 370px;
    margin: 40px 0 82px 100px;

    line-height: 1.5;
  }

  &__link {
    border: 2px solid transparent;
    padding: 18px 77px;
    margin: 0 0 110px 100px;

    line-height: 1;
    background-color: $buttonColor;
    transition: all 0.3s;

    &:hover {
      background-color: #f1f5f4;
      color: $buttonColor;
      border-color: $buttonColor;
    }
  }

  &__date--bottom {
    position: absolute;
    bottom: 52px;
    left: 0;

    font-family: "Playfair Display", serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
  }

  &__line {
    position: absolute;
    bottom: 59px;
    left: 101px;
    display: inline-block;
    height: 1px;
    background-color: #f1f5f4;
    opacity: 0.3;
    width: 492px;
  }

  &__img {
    width: 673px;
  }

  &__photo {
    position: absolute;
    bottom: 0;
    right: calc((100% - 1170px) / 2);

    &--description {
      position: absolute;
      right: 54px;
      bottom: 319px;

      font-size: 16px;
      line-height: 24px;
    }
  }
}
