.toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 20px;

  &__item {
    width: 25px;
    height: 2px;
    background: $text-color-light;

    &:not(:first-child) {
      margin-top: 7px;
    }
  }
}
