.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  grid-column: 1 / -1;

  @include on-tablet {
    height: 77px;
  }

  @include on-desktop {
    height: 90px;
  }

  &__logo {
    width: 124px;
    height: 27px;
    color: $c-white;
  }

  &__menu-link {
    width: 25px;
    height: 20px;

    @include on-tablet {
      width: 30px;
      height: 30px;
    }
  }

  &__logo-menu {
    width: 25px;
    height: 20px;

    @include on-desktop {
      width: 30px;
      height: 30px;
    }
  }
}

.menu-logo-block {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;

  @include on-tablet {
    column-gap: 40px;
  }
}

.menu-language-block-left {
  display: flex;
  column-gap: 5px;

  @include on-tablet {
    display: none;
  }
}

.menu-language-block-right {
  display: none;

  @include on-tablet {
    display: flex;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
  }
}

.top-bar__language-name {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $c-white;
}

.menu-language-block--header {
  display: none;

  @include on-tablet {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 35px;
    height: 24px;
  }
}

.top-bar__language-name--header {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.top-bar__union--header {
  width: 10px;
  height: 7px;
}

.top-bar__close-cross {
  width: 22px;
  height: 22px;

  @include on-desktop {
    width: 30px;
    height: 30px;
  }
}
