.heading-1 {
  font-family: $font-playfair-display;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;

  @include tablet {
    font-size: 72px;
    line-height: 100%;
  }

  @include desktop {
    font-size: 96px;
    line-height: 100%;
  }
}

.heading-2 {
  font-family: $font-playfair-display;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;

  @include tablet {
    font-size: 62px;
    line-height: 100%;
  }

  @include desktop {
    font-size: 80px;
    line-height: 100%;
  }
}

.heading-3 {
  font-family: $font-playfair-display;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;

  @include tablet {
    font-size: 40px;
    line-height: 125%;
  }

  @include desktop {
    font-size: 58px;
    line-height: 120%;
  }
}

.heading-4 {
  font-family: $font-playfair-display;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;

  @include tablet {
    font-size: 24px;
    line-height: 125%;
  }
}

.heading-5 {
  font-family: $font-playfair-display;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

.heading-6 {
  font-family: $font-playfair-display;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 125%;
}

.text-button {
  font-family: $font-raleway-bold;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
}

.text-main {
  font-family: $font-raleway;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.text-additional {
  font-family: $font-raleway;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.text-button-language {
  font-family: $font-raleway-medium;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $c-white;
}
