h1 {
  margin: 0;
  padding: 0;

  color: $color-gray-headings;

  /* mobile / h1 */
  font-family: "Playfair Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 48px */

  @include on-tablet {
    /* tablet / h1 */
    font-family: "Playfair Display", sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 72px */
  }

  @include on-desktop {
    /* destop / h1 */
    font-family: "Playfair Display", sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 96px */
  }
}

h2 {
  margin: 0;
  padding: 0;

  color: $color-gray-headings;

  /* mobile / h2 */
  font-family: "Playfair Display", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 38px */

  @include on-tablet {
    /* tablet / h2 */
    font-family: "Playfair Display", sans-serif;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 62px */
  }

  @include on-desktop {
    /* desktop / h2 */
    font-family: "Playfair Display", sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 80px */
  }
}

h3 {
  margin: 0;
  padding: 0;

  color: $color-gray-headings;

  /* mobile / h3 */
  font-family: "Playfair Display", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 35px */

  @include on-tablet {
    /* tablet / h3 */
    font-family: "Playfair Display", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 50px */
  }

  @include on-desktop {
    /* desktop / h3 */
    font-family: "Playfair Display", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
  }
}

h4 {
  margin: 0;
  padding: 0;

  color: $color-gray-headings;

  /* mobile / h4 */
  font-family: "Playfair Display", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 25px */

  @include on-tablet {
    /* tablet / desktop / h4 */
    font-family: "Playfair Display", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 30px */
  }
}

h5 {
  margin: 0;
  padding: 0;

  color: $color-gray-headings;

  /* mobile / h5 */
  font-family: "Playfair Display", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
}

p {
  margin: 0;
  padding: 0;

  color: $color-gray-secondary;

  /* main text */
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.additional-text {
  color: $color-gray-secondary;

  /* additional text */
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 24px */
}
