.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;

	min-height: 60px;
	padding: 5px 15px;
	min-width: 270px;

	color: $mainColor;
	background-color: $orangeColor;
	border: 1px solid transparent;

	transition-property: box-shadow, background-color;
	transition: 0.3s ease 0s;

	&:hover {
		box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
		background-color: #d14b2d;
	}

	&--transparent {
		background-color: transparent;
		border-color: $mainColor;

		&:hover {
			background-color: transparent;
		}
	}
}

.title {
	font-family: $PlayfairFont;
	font-weight: 700;
	font-size: 48px;
	color: $blackColor;
}

.big-text {
	font-family: $PlayfairFont;
	font-weight: 700;
	font-size: 132px;
	line-height: 100%;
	text-transform: uppercase;

	opacity: 0.3;
	-webkit-text-stroke: 1px $backgorundColor;

	width: 576px;

	position: absolute;

	&-right {
		bottom: 35%;
		right: -3%;

		@media (max-width: $md2+px) {
			bottom: 44%;
			right: 1%;
		}

		@media (max-width: $md3+px) {
			bottom: 55%;
			right: 7%;
		}

		@media (max-width: $md4+px) {
			bottom: 51%;
			right: -3%;
		}
	}

	&-left {
		left: 3%;
		bottom: 7%;

		@media (max-width: $md2+px) {
			bottom: 18%;
			left: 1%;
		}

		@media (max-width: $md3+px) {
			bottom: 22%;
		}

		@media (max-width: $md4+px) {
			bottom: 20%;
		}
	}

	@media (max-width: $md2+px) {
		width: 312px;
		font-size: 76px;
	}
}

.bottom__block {
	color: $blackColor;

	position: relative;

	&:after {
		content: "";

		position: relative;
		top: -3px;

		display: inline-block;
		width: 70px;
		height: 1px;
		margin-left: 20px;

		background-color: $blackColor;
		opacity: 0.5;
	}
}

._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.input {
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0px 10px;
	width: 100%;
	color: $mainColor;

	&::placeholder {
		color: $mainColor;
	}
}

