.events {
  &__photo {
    width: 100%;
    cursor: pointer;

    @include hover (transform, scale(1.05));
  }

  &__dates {
    color: $main-red-color;
    margin-block: 16px 10px;

    @include onTablet {
      margin-top: 0;
    }
  }

  &__info {
    color: $main-gray-color;
    margin-bottom: 0;
  }

  &__exhibitions-name {
    margin-top: 0;
    color: $main-black-color;

    font-family: Playfair Display, sans-serif;
    font-size: 20px;
    line-height: 125%;

    @include onTablet {
      font-size: 24px;
    }
  }

  &__content {
    @include pageGrid;
    padding-block: 20px;
  }

  &__content--wrapper {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / -1;
    }

    @include onDesktop {
      grid-column: 5 / 11;
    }
  }

  &__content--photo--wrapper {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }
}
