.upcoming {
  margin-top: 63px;
  display: flex;
  justify-content: space-between;

  &__date {
    display: flex;
    flex-direction: column;
    padding-right: 40px;

    line-height: 1;
    font-family: "Playfair Display", serif;
    font-weight: 700;

    @supports (-webkit-text-stroke: 1px #cd4d31) {
      &--date {
        color: transparent;
        -webkit-text-stroke: 1px #cd4d31;
      }
    }

    &--date {
      display: block;
      font-size: 55px;
      margin-bottom: 10px;
    }

    &--time {
      text-align: right;
      font-size: 36px;
      color: #cd4d31;
    }
  }

  &__info {
    width: 470px;

    .text__type,
    .event__description {
      color: #1c1b29;
    }
  }

  .event__description {
    width: inherit;
  }

  .event__heading {
    margin: 10px 0 8px;
  }

  .visit__info {
    margin-right: 0;
  }
}
