$icomoon-font-family: "puriicons" !default;
$icomoon-font-path: "../fonts" !default;

$arrow-right: "\e900";
$arrow-up: "\e901";
$facebook: "\e902";
$instagram: "\e903";
$telegram: "\e904";
$twitter: "\e905";
