.visit {
  display: flex;
  height: 800px;
  width: $contentWidth;
  justify-content: space-between;

  &__text {
    color: #f1f5f4;
  }

  &__heading {
    margin: 190px 0 60px;
    width: 700px;
    position: relative;
    right: 100px;

    font-family: "Playfair display", serif;
    font-size: 96px;
    line-height: 1;
  }

  &__info {
    position: relative;
    width: 470px;

    font-size: 16px;
    line-height: 1.5;
  }

  &__img {
    position: relative;
    right: calc((100vw - 1170px) / 2);
    height: 800px;
  }

  &__link {
    box-sizing: border-box;
    width: 258px;
    margin-top: 60px;
    text-align: center;
  }
}
