.visit {
  background-color: $bgcolor;

  color: $white;
  height: 416px;

  @include onTablet {
    height: 515px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  @include onDesktop {
    height: 800px;
    background-image: url(../images/mainBG.svg);
    background-position: left;
    background-repeat: no-repeat;
    justify-content: flex-end;
    padding-right: 70px;
  }

  &__title {
    font-family: $playfair;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;

    @include onTablet {
      font-size: 62px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 20px 0 40px;

    @include onTablet {
      margin: 20px 0 60px;
      width: 450px;
    }
  }
}
