.visit {
  color: $white;
  margin-top: 110px;

  @include onDesktop {
    background-image: url(../images/visit.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__title {
    font-size: 38px;
    line-height: 38px;

    @include onTablet {
      font-size: 62px;
      line-height: 62px;
    }
  }

  &__text {
    margin-top: 20px;
  }

  &__button {
    margin-top: 60px;
    width: 100%;

    @include onTablet {
      width: 75%;
    }

    @include onDesktop {
      width: 45%;
    }
  }
}
