.visit-plan {
  background-color: $background-color;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    color: $main-white-color;
    font-family: Playfair Display, sans-serif;
    font-size: 38px;
    font-style: normal;
    line-height: 100%;
    margin-top: 50px;

    @include onTablet {
      margin: 0;
      font-size: 62px;
      margin-top: 80px;
    }
  }

  &__info {
    color: $main-white-color;
    opacity: 0.9;
    margin: 0;

    @include onTablet {
      width: 450px;
      margin-top: 30px;
    }
  }

  &__photo {
    display: none;

    @include onDesktop {
      display: block;
      width: 578px;
      height: 800px;
    }
  }
}
