.section3-visit-us {
  margin-top: 90px;
  background-color: $c-background;
  height: 416px;

  @include on-tablet {
    height: 515px;
  }

  @include on-desktop {
    background-image: url(/src/images/visit-us-photo.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 45% auto;
    margin-top: 100px;
    height: 800px;
  }
}

.section-title-visit-us {
  font-family: 'Playfair Display', sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  grid-column: 1 / -1;
  padding-top: 50px;
  height: 76px;

  @include on-tablet {
    grid-column: 1 / 5;
    font-size: 62px;
    line-height: 62px;
    padding-top: 80px;
    height: 145px;
  }

  @include on-desktop {
    grid-column: 6 / 13;
    padding-top: 205px;
    font-size: 80px;
    line-height: 80px;
    height: 200px;
  }
}

.section3-visit-us-text {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 1 / 5;
  }

  @include on-desktop {
    grid-column: 6 / 11;
  }
}

.visit-us-button-type1 {
  grid-column: 1 / -1;
  margin-top: 40px;
  margin-bottom: 50px;

  @include on-tablet {
    grid-column: 1 / 4;
    margin-top: 60px;
    margin-bottom: 80px;
  }

  @include on-desktop {
    grid-column: 6 / 9;
    margin-top: 50px;
    margin-bottom: 145px;
  }
}
