.vizit {
  position: relative;
  background-color: $c-background;
  margin-bottom: 90px;

  @include on768px {
    margin-bottom: 125px;
  }

  &__grid {
    @include on768px {
      @include pageGrid;
    }
  }

  &__image {
    @include on1280px {
      background-image: url(../images/vizit/background_image.png);
      background-size: cover;

      position: absolute;
      height: 100%;
      width: 578px;
      bottom: 0;
      left: 0;
    }
  }

  &__title {
    color: $c-white;
    padding-top: 50px;
    margin-bottom: 20px;

    @include on768px {
      padding-top: 80px;

      grid-column: 1 / 6;
    }

    @include on1280px {
      padding-top: 205px;

      grid-column: 6 / -1;
    }
  }

  &__text {
    color: $c-white;
    line-height: 150%;
    margin-bottom: 40px;

    @include on768px {
      margin-bottom: 60px;

      grid-column: 1 / 5;
    }

    @include on1280px {
      margin-bottom: 50px;

      grid-column: 6 / 11;
    }
  }

  &__button {
    padding-bottom: 50px;

    @include on768px {
      padding-bottom: 80px;

      grid-column: 1 / 4;
    }

    @include on1280px {
      padding-bottom: 205px;

      grid-column: 6 / 9;
    }
  }
}
