@font-face {
  font-family: Playfar;
  src: url(../public/fonts/PlayfairDisplay-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Playfar;
  src: url(../public/fonts/PlayfairDisplay-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
