.cards__title {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  text-align: left;
  color: $label-color;

  @include on-tablet {
    font-size: 40px;
    line-height: 50px;
  }

  @include on-desktop {
    font-size: 48px;
    line-height: 58px;
  }
}

.card__img {
  height: auto;
  width: 100%;
}

.card__date {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: $special-color;
}

.card__title{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  color: $label-color;

  @include on-tablet {
    font-size: 24px;
    line-height: 30px;
  }
}

.card__text {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: $description-color;
}

.card__btn {
  display: inline-block;

  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  color: $text-color;
  background-color: $special-color;

  width: 100%;
  padding-block: 22px;
}

.cards__btn {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  color: $special-color;
  border: 1px solid $special-color;

  padding-block: 22px;
}
