.exhibitions {
  margin-bottom: 120px;

  @include on-tablet {
    margin-bottom: 160px
  }

  @include on-tablet {
    margin-bottom: 200px
  }

  &__container {
    @include content-padding;
  }
}

.exhibitions__content {
  @include page-grid;

  &__tittle {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1/5;
    }

    @include on-desktop {
      grid-column: 1/7;
    }
  }

  &__cards {
    grid-column: 1/-1;

    @include page-grid;

    row-gap: 60px;
    margin-top: 60px;

    @include on-tablet {
      margin-top: 75px;
    }

    @include on-desktop {
      margin-top: 71px;
    }
  }

  &__btn {
    margin-top: 30px;

    grid-column: 1/-1;

    @include on-tablet {
      margin-top: 0;

      grid-column: 5/-1;
      grid-row: 1/2
    }

    @include on-desktop {
      grid-column: 10/-1;
    }
  }
}

.exhibitions__card {
  grid-column: 1/-1;

  @include on-tablet {
    grid-column: span 3;
  }

  @include on-desktop {
    grid-column: span 6;
  }

  &__date {
    margin-top: 20px;

    @include on-tablet {
      margin-top: 30px;
    }

    @include on-tablet {
      margin-top: 20px;
    }
  }

  &__title {
    margin-top: 10px;
  }


  &__text {
    margin-top: 20px;
  }


  &__btn {
    margin-top: 30px;

    @include on-tablet {
      margin-top: 40px;
    }

    @include on-desktop {
      margin-top: 50px;

      grid-column: 1/4;
    }
  }
}
