.main {
  background-color: #F1F5F4;
}

.main__container {
  @include content-padding;
}

.main__content {
  padding-block: 90px 80px;

  @include on-tablet {
    padding-block: 100px 128px;
  }

  @include on-desktop {
    padding-block: 110px 200px;
  }
}
