.aside-img-box {
  width: 80%;
  display: none;

  @include on-tablet {
    display: block;
    max-width: 422px;
  }

  @include on-desktop {
    width: 624px;
  }

  .aside-img {
    max-width: 100%;
    margin-inline: auto;

    @include on-desktop {
      min-width: 624px;
    }
  }
}
