/* Error: Undefined mixin.
 *   ,
 * 4 | /  @include on-tablet {
 * 5 | |    display: block;
 * 6 | |    max-width: 422px;
 * 7 | \   }
 *   '
 *   aside-image.scss 4:2  root stylesheet */

body::before {
  font-family: 'Source Code Pro', 'SF Mono', Monaco, Inconsolata, 'Fira Mono',
    'Droid Sans Mono', monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a   \2577 \a 4 \2502  \250c   @include on-tablet {\a 5 \2502  \2502     display: block;\a 6 \2502  \2502     max-width: 422px;\a 7 \2502  \2514    }\a   \2575 \a   aside-image.scss 4:2  root stylesheet';
}
