.menu__content-block {
  display: flex;
  flex-direction: column;

  @include on-desktop {
    flex-direction: row;
  }

  .header__content-box {
    width: 100%;

    @include on-tablet {
      margin-block-end: 27px;
    }

    @include on-desktop {
      width: 49%;
    }
  }
}

.menu__content {
  margin-block-end: 45px;

  @include on-tablet {
    display: flex;
    gap: 123px;
    margin-block-end: 32px;

    @include on-desktop {
      gap: 83px;
    }
  }

  .menu__hours-box,
  .menu__address-box {
    margin-block-end: 18px;

    .menu__hours-span,
    .menu__address-span {
      font-family: $font-family-Raleway;
      font-size: $font-size-sm;
      font-weight: $font-weight-regular;
      line-height: 20px;
    }

    .menu__hours-item,
    .menu__address-item {
      margin: 0;

      font-family: $font-family-Raleway;
      font-size: $font-size-md;
      font-weight: $font-weight-semiBold;
      line-height: 25px;
    }
  }
}

.menu__content-line {
  margin-block-end: 41px;

  @include on-tablet {
    margin-block-end: 51px;
  }

  @include on-desktop {
    margin-block-end: 60px;
  }
}
