.menu__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 20px;

  &__logo {
    width: 123px;
    height: 40px;
  }

  &__close {
    display: block;
    width: 35px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url(/src/images/icons/icon-close.svg);

    @include on-tablet {
      width: 30px;
      height: 30px;
    }
  }
}

.menu__top__lang {
  display: flex;
  align-items: center;

  @include on-tablet {
    flex-direction: row-reverse;
  }
}

.menu__top__lng {
  border: none;
  outline: none;
  background-color: #3F5252;

  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #fff;

  margin-right: 30px;

  @include on-tablet {
    margin-right: 0;
    margin-left: 40px;
  }
}
