.menu {
  height: 100vh;
  width: 100%;
  background-color: #3F5252;
}

.menu__container {
  @include content-padding;
}

.menu__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 20px;

  &__logo {
    width: 123px;
    height: 40px;
  }

  &__close {
    display: block;
    width: 35px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url(/src/images/icons/icon-close.svg);

    @include on-tablet {
      width: 30px;
      height: 30px;
    }
  }
}
