@font-face {
  font-family: 'Raleway';
  src: url('fonts_files/Raleway/Raleway-Regular/Raleway-Regular.eot');
  src:
    url('fonts_files/Raleway/Raleway-Regular/Raleway-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('fonts_files/Raleway/Raleway-Regular/Raleway-Regular.woff2')
      format('woff2'),
    url('fonts_files/Raleway/Raleway-Regular/Raleway-Regular.woff')
      format('woff'),
    url('fonts_files/Raleway/Raleway-Regular/Raleway-Regular.ttf')
      format('truetype'),
    url('fonts_files/Raleway/Raleway-Regular/Raleway-Regular.svg#Raleway-Regular')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts_files/Raleway/Raleway-SemiBold/Raleway-SemiBold.eot');
  src:
    url('fonts_files/Raleway/Raleway-SemiBold/Raleway-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('fonts_files/Raleway/Raleway-SemiBold/Raleway-SemiBold.woff2')
      format('woff2'),
    url('fonts_files/Raleway/Raleway-SemiBold/Raleway-SemiBold.woff')
      format('woff'),
    url('fonts_files/Raleway/Raleway-SemiBold/Raleway-SemiBold.ttf')
      format('truetype'),
    url('fonts_files/Raleway/Raleway-SemiBold/Raleway-SemiBold.svg#Raleway-SemiBold')
      format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('fonts_files/PlayfairDisplay/PlayfairDisplay-Bold/PlayfairDisplay-Bold.eot');
  src:
    url('fonts_files/PlayfairDisplay/PlayfairDisplay-Bold/PlayfairDisplay-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('fonts_files/PlayfairDisplay/PlayfairDisplay-Bold/PlayfairDisplay-Bold.woff2')
      format('woff2'),
    url('fonts_files/PlayfairDisplay/PlayfairDisplay-Bold/PlayfairDisplay-Bold.woff')
      format('woff'),
    url('fonts_files/PlayfairDisplay/PlayfairDisplay-Bold/PlayfairDisplay-Bold.ttf')
      format('truetype'),
    url('fonts_files/PlayfairDisplay/PlayfairDisplay-Bold/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold')
      format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
