.nav {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onMobile {
    padding-top: 20px;
  }

  @include onTablet {
    padding: 26px 0;
  }

  @include onDesktop {
    padding: 32px 0;
  }

  &__elements {
    display: flex;
  }

  &__switch {
    outline: 0;
    background-color: transparent;
    border: 0 transparent;

    cursor: pointer;

    @include main-font(16px, 150%, 500);
    text-decoration: none;
    color: $main-color;
  }

  &__switch option {
    outline: 0;
    background-color: $main-background-color;
    border: 0 transparent;

    @include main-font(16px, 150%, 500);
    color: $main-color;
  }
}
