.main {
  padding-block: 90px 80px;

  @include tablet {
    padding-block: 100px 128px;
  }

  @include desktop {
    padding-block: 110px 200px;
  }

  &__exhibitions {
    margin-bottom: 120px;

    @include tablet {
      margin-bottom: 160px;
    }

    @include desktop {
      margin-bottom: 200px;
    }
  }

  &__events {
    margin-bottom: 90px;

    @include desktop {
      margin-bottom: 110px;
    }
  }
}
