html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: $c-gray;
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  padding: $pad-initial;
}

.button-buy {
  @extend %button;
}
