.top-bar {
  @include media-breakpoint ($tablet) {

    &__block {
      gap: 40px;
    }

    &__box:first-child {
      display: flex;
      order: 2;
    }
  }
}

.menu {
  @include media-breakpoint ($tablet) {
    gap: 50px;

    &__container {
      padding: $pad-tablet;
    }

    &__top {
      flex-direction: row;
      gap: 123px;
    }

    &__link {
      font-size: 48px;
      line-height: 58px;
    }

    &__btn {
      width: 330px;
    }

    &__bottom {
      display: block;
      transform: translateY(24px);
    }
  }

  @include media-breakpoint ($desktop) {

    &__container {
      padding: $pad-desktop;
    }

    &__wrapper {
      @include grid(12);
    }

    &__content {
      grid-column: 1 / 7;
      gap: 60px;
    }

    &__bottom {
     grid-column: 7 / -1;
    transform: translate(50px, -10px);
    }

    &__list {
      gap: 60px;
    }
  }
}

.header {
  @include media-breakpoint ($tablet) {
    gap: 120px;

    &__container {
      padding: $pad-tablet;
    }

    &__title {
      font-size: 72px;
      line-height: 72px;
    }

    &__content {
      gap: 40px;
    }

    &__btn {
      width: 330px;
    }
  }

  @include media-breakpoint ($desktop) {
    gap: 0;

    &__container {
      padding: $pad-desktop;
    }

    &__title {
      font-size: 96px;
      line-height: 96px;
    }

    &__content {
      grid-column: 1 / 7;
      gap: 80px;
    }

    &__inner {
      gap: 30px;
    }

    &__wrapper {
      @include grid (12);

      align-items: end;
    }

    &__bottom {
      grid-column: 7 / -1;
      transform: translate(55px, 54px);
    }

    &__row {
      display: flex;
    }
  }
}

.main {
@include media-breakpoint ($tablet) {
  padding: $pad-tablet;
}

@include media-breakpoint ($desktop) {
  padding: $pad-desktop;
}
}

.exhibitions {
  @include media-breakpoint ($tablet) {
    row-gap: 60px;

    &__top {
      flex-direction: row;
      justify-content: space-between;
    }

    &__content {
      flex-direction: row;
    }

    &__title {
      font-size: 40px;
      line-height: 50px;
    }

    &__link {
      position: static;
      width: 210px;
    }
  }

  @include media-breakpoint ($desktop) {

    &__btn {
      width: 270px;
    }
  }
}

.events {
  @include media-breakpoint ($tablet) {

    &__top {
      flex-direction: row;
      justify-content: space-between;
    }

    &__content {
      gap: 70px;
    }

    &__block {
      flex-direction: row;
      gap: 30px;
    }

    &__link {
      position: static;
      width: 210px;
    }
  }

  @include media-breakpoint ($desktop) {

    &__title {
      font-size: 48px;
      line-height: 57px;
    }

    &__btn {
      width: 270px;
    }
  }
}

.payment {
  @include media-breakpoint ($tablet) {

    &__container {
      margin: 80px -38px;
      padding: 80px 210px 80px 38px;
    }

    &__wrapper {
      gap: 60px;
    }

    &__title {
      font-size: 62px;
      line-height: 62px;
    }

    &__btn {
      width: 330px;
    }
  }

  @include media-breakpoint ($desktop) {
    flex-direction: row;
    align-items: center;
    gap: 0;

    &__container {
      margin: 80px -55px;
      padding: 0;
    }

    &__picture {
      display: block;
      flex-basis: 90%;
    }

    &__title {
      font-size: 80px;
      line-height: 80px;
    }
  }
}

.news {
  @include media-breakpoint ($tablet) {
    gap: 50px;

    &__top {
      flex-direction: row;
      justify-content: space-between;
    }

    &__content {
      flex-direction: row;
      gap: 20px;
    }

    &__link {
      visibility: visible;
      width: 210px;
    }
  }

  @include media-breakpoint ($desktop) {

    &__content {
      gap: 50px;
    }
  }
}

.subscription {
  @include media-breakpoint ($tablet) {

    &__top {
      padding-right: 10%;
    }

    &__form {
      gap: 30px;
    }

    &__title {
      font-size: 40px;
      line-height: 50px;
    }

    &__input {
      width: 450px;
    }

    &__btn {
      width: 330px;
    }
  }

  @include media-breakpoint ($desktop) {

    &__top {
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
    }

    &__title {
      flex-basis: 80%;

      font-size: 48px;
      line-height: 58px;
    }
  }
}

.footer {
  @include media-breakpoint ($tablet) {

    &__container {
      padding: 50px 39px;
    }

    &__content {
      flex-direction: row;
      gap: 80px;
    }

    &__block {
      gap: 30px;
    }

    &__box {
      gap: 20px;
    }
  }

  @include media-breakpoint ($desktop) {

    &__container {
      padding: 50px 55px;
    }

    &__content {
      gap: 220px;
    }

    &__box {
      gap: 100px;
    }
  }
}
