@keyframes arrow-movement {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(6px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(6px);
  }

  100% {
    transform: translateX(0);
  }
}
