@keyframes move {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(70%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes bg-move {
  0% {
    background-position: center 1400px;
  }

  100% {
    background-position: center bottom;
  }
}

@keyframes bg-move-desktop {
  0% {
    background-position: right 1400px;
  }

  100% {
    background-position: right bottom;
  }
}
