.button {
  height: 60px;
  width: 100%;
  color: $c-white;
  background-color: $c-main;
  cursor: pointer;
  
  @include hover(background-color, #af3419);
  @include pressed(background-color, #ea340d);
}
