$colorMain: #cd4d31;
$colorPrimaryHover: #af3419;
$colorPrimaryPressed: #ea340d;
$colorPrimaryDisabled: #dd836f;
$colorWhite: #f1f5f4;
$backgroundColor: #3f5252;
$colorGray: #504f5e;
$c-gray: #e5e5e5;
$colorBlack: #1c1b29;
