.section__title {
  margin-bottom: 60px;

  @include on-tablet {
    margin-bottom: 75px;
  }

  @include on-desktop {
    margin-bottom: 70px;
  }
}

.main__content {
  display: flex;
  flex-direction: column;

  padding-block: 90px;
  gap: 120px;

  @include on-tablet {
    padding-block: 100px;
    gap: 160px;
  }

  @include on-desktop {
    padding-block: 110px;
    gap: 200px;
  }
}
