.container {
  @include on-mobile {
    margin-inline: auto;
    padding-inline: 20px;
    min-width: $size-mobile;
    max-width: $size-desktop;
  };

  @include on-tablet {
    padding-inline: 39px;
  };

  @include on-desktop {
    position: relative;
    padding-inline: 55px;
  };
};
