%button {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
}

%main-text {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

%additional-text {
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
