%bold-text {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-weight: 700;
}

%regular-text {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  line-height: 150%;
}

%semi-bold-text {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 100%;
}
