%p-small {
  font-size: 14px;
  line-height: 140%;
}

%p-large {
  font-size: 16px;
  line-height: 150%;
}

%transform-underline {
  transition: transform 0.5s;
  transform: scale(0);
  transform-origin: left;
}

%after-underline {
  content: "";
  position: absolute;
  bottom: -4px;
  display: block;
  height: 1px;
  width: 100%;
  background-color: $color-text-header;
}

%after-underline-footer {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  height: 1px;
  background-color: $color-text-header;
}
