@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
  font-weight: 400;
}
