
@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Raleway" ;
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
  font-weight: 400;
}
