.icon {
  display: block;
  background-size: contain;
  width: 20px;
  height: 20px;
  @include hover(transform, scale(1.2));

  &--logo {
    width: 124px;
    height: 40px;
    background-image: url(/images/icons/logo.svg);
  }

  &--menu {
    width: 25px;
    height: 20px;
    background-image: url(/images/icons/menu.svg);
  }

  &--close {
    width: 22px;
    height: 22px;
    background-image: url(/images/icons/close.svg);
  }

  &--facebook {
    background-image: url(/images/icons/facebook.svg);
  }

  &--twitter {
    background-image: url(/images/icons/twitter.svg);
  }

  &--telegram {
    background-image: url(/images/icons/telegram.svg);
  }

  &--instagram {
    background-image: url(/images/icons/instagram.svg);
  }

  &--scroll-up {
    width: 30px;
    height: 30px;
    background-image: url(/images/icons/scroll-up.svg);
  }
}
