@font-face {
  font-family: "icons";
  src: url("../../fonts/icons.eot?2oex0u");
  src: url("../../fonts/icons.eot?2oex0u#iefix") format("embedded-opentype"),
    url("../../fonts/icons.ttf?2oex0u") format("truetype"),
    url("../../fonts/icons.woff?2oex0u") format("woff"),
    url("../../fonts/icons.svg?2oex0u#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::after,
[class*=" _icon-"]::after {
  font-family: "icons", sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow-right::after {
  content: "\e900";
}
