.icon {
  align-items: center;
  display: flex;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--menu {
    &-header {
      height: 20px;
      width: 25px;
      background-image: url(../images/menu.svg);
    }

    @include onTablet {
      height: 30px;
      width: 30px;
    }
  }

  &--lang {
    background-image: url(../images/language.svg);
    height: 24px;
    width: 35px;

    &-header {
      @include onTablet {
        height: 24px;
        width: 35px;
        background-image: url(../images/language.svg);
        margin-left: 40px;
      }
    }
  }

  &--cross {
    height: 22px;
    width: 22px;
    background-image: url(../images/cross.svg);

    margin: 0 40px 0 0;

    @include onMobile {
      margin: 0 0 0 30px;
    }
  }
}
