.menu {
  background-color: $color-background;
  height: 100vh;

  &__top {
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    padding-top: 20px;

    //   @include onTablet {
    //     padding: 0;
    //     height: 77px;
    //   }

    //   @include onTablet {
    //     padding: 0;
    //     height: 90px;
    //   }
  }

  &__container {
    display: flex;
    align-content: center;

    @include onMobile {
      flex-direction: row-reverse;
    }
  }
}
