.message__block {
  display: none;
  box-sizing: border-box;
  position: fixed;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: $c-background;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  
  border: 1px solid $c-white;
  border-radius: 10px;
  z-index: 99;
  padding: 20px 0;

  &--text {
    color: $c-white;
  }

  &--button {
    border-radius: 10px;
    width: 200px;
  }
}
