@mixin tablet {
  @media (min-width:768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin title-properties($size) {
  line-height: $size;
  font-size: $size;
  font-weight: 700;
  color: $primary-color;
}

@mixin weight-size-height ($weight, $size, $height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}
