@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin onBigDesktop {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin top-actions {
  --icon-width: 30px;
  
  display: grid;
  grid-template-columns: 1fr var(--icon-width);
  justify-items: start;
  //align-items: center;
  column-gap: 40px;
  padding: 20px 0;

  @include onTablet {
    grid-template-columns: 1fr var(--icon-width) var(--icon-width);
    padding: 20px 0;
  }

  @include onDesktop {
    padding: 32px 0;
  }
}
