.nav {
  box-sizing: border-box;
  height: 100vh;
  &__title {
    &--text1 {
      margin: 10px 0 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;

      color: $color-white;
    }

    &--text2 {
      margin: 20px 0 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;

      color: $color-white;
    }

    &--main {
      margin: 0;

      font-weight: 600;
      font-size: 16px;
      line-height: 150%;

      color: $color-white;
    }
  }

  &__link {
    box-sizing: border-box;
    margin: 0 0 20px;

    display: flex;
    text-decoration: none;
    color: $color-white;

    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    // letter-spacing: -1;

    &:first-child {
      margin: 40px 0 20px;
    }

    &:last-child {
      box-sizing: border-box;
      margin-bottom: 20px;
      padding-bottom: 40px;
      border-bottom: 1px solid $color-white;

      @include onTablet {
        margin-bottom: 50px;
        padding-bottom: 50px;
      }
    }

    @include onTablet {
      font-size: 48px;
    }

    // @include onDesktop {

    // }
  }

  &__address {
    text-decoration: none;
  }
}
