.news__block {
  margin-bottom: 50px;
  
  &--2 {
    margin-bottom: 20px;
  }
  
  &--img {
    width: 100%;
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 30px;
    }

    @include onDesktop {
      margin-bottom: 20px;
    }
  }

  &--date {
    color: $c-black;
  }

  &--title {
    color: $c-black;
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 18px;
    }
  }

  &--description {
    color: $c-black;
  }
}
