h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;

  @include onTablet {
    font-size: 72px;
  }

  @include onDesktop {
    font-size: 96px;
  }
}

h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 100%;

  @include onTablet {
    font-size: 62px;
  }

  @include onDesktop {
    font-size: 80px;
  }
}

h3 {
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 125%;

  @include onTablet {
    font-size: 40px;
  }

  @include onDesktop {
    font-size: 48px;
    line-height: 120%;
  }
}

h4 {
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 125%;

  @include onTablet {
    font-size: 24px;
  }

  @include onDesktop {
    font-size: 24px;
  }
}

h5 {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  @include onTablet {
    font-size: 16px;
  }

  @include onDesktop {
    font-size: 16px;
  }
}

h6 {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;

  @include onTablet {
    font-size: 14px;
  }

  @include onDesktop {
    font-size: 14px;
  }
}
