html {
  font-family: "Playfair Display",
    serif,
    "Raleway",
    sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid transparent;
  border-bottom: 1px solid $defaultBlack;
  -webkit-text-fill-color: #1c1b29;
  -webkit-box-shadow: 0 0 0 1000px $defaultWhite inset;
  box-shadow: inset;
  transition: background-color 5000s ease-in-out 0s;

  &:focus {
    border-bottom: 1px solid #cd4d31;
  }
}
