.container {
  padding: 0 20px;

  @include tablet {
    padding: 0 40px;
  }

  @include desktop {
    padding: 0 55px;
    margin: auto;
  }
}

header + main {
  margin-top: -2px;
}

.title2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;

  @include tablet {
    font-size: 40px;
  }

  @include desktop {
    font-size: 48px;
    line-height: 120%;
  }
}

html {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
  color: $primary-text-color;
}

body {
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 0;
}
