.page {
  
  &__section {
    margin: 0 auto 92px;

    @include onTablet {
      margin: 0 auto 120px;
    }

    @include onDesktop {
      margin: 0 auto 164px;
    }
  }

  &__body {
    padding: 0 auto;
    margin: 0;
  }
}
