%text-button {
  @extend p;
  font-weight: 600;
  line-height: 100%;
}

%text-add {
  @extend p;
  font-size: 14px;
  line-height: 140%;
}

%button-colors {
  &:hover {
    background-color: $colorHover;
  }

  &:active {
    background-color: $colorPressed;
  }

  &:disabled {
    background-color: $colorUnable;
  }
}

%button-white-colors {
  &:hover {
    background-color: $colorWhite;
    border-color: $colorHover;
    color: $colorHover;
  }

  &:active {
    background-color: $colorWhite;
    border-color: $colorPressed;
    color: $colorPressed;
  }

  &:disabled {
    background-color: $colorWhite;
    border-color: $colorUnable;
    color: $colorUnable;
  }
}

%form-colors {
  &:hover {
    color: $colorMain;
    border-color: $colorMain;
  }

  &:focus {
    color: $colorMain;
    border-bottom: 1px solid $colorMain;
  }
}
