* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  color: $primary-color;
  text-decoration: none;
}

button {
  padding: 5px;

  font-family: "Raleway", sans-serif;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
