button {
  background-color: transparent;
  border: 0;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
