* {
  margin: 0;
  box-sizing: border-box;
}

select {
  font-weight: 500;
  font-size: 16px;
  color: $color-text-header;
  text-transform: uppercase;
  background-color: $color-header;
  border: none;
}

a {
  color: $color-text-header;
  text-decoration: none;
}
