.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-sizing: border-box;
  color: $c-main;
  width: 100%;
  height: 60px;
  background-color: $c-white;
  border: 1px solid $c-main;
  cursor: pointer;

  @include hover(color, #af3419);
  @include hover(border-color, #af3419);

  @include pressed(color, #ea340d);
  @include pressed(border-color, #ea340d);
}
