.show__block {
  &--img {
    width: 100%;
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 30px;
    }

    @include onDesktop {
      margin-bottom: 20px;
    }
  }

  &--date {
    color: $c-main;
    margin-bottom: 10px;
  }

  &--title {
    color: $c-black;
    margin-bottom: 20px;

    &-2 {
      margin-bottom: 20px;

      @include onTablet {
        margin-bottom: 50px;
      }

      @media (min-width: 863px) {
        margin-bottom: 20px;
      }
    }
  }

  &--description {
    color: $c-gray;
    margin-bottom: 30px;
    
    @include onTablet {
      height: 70px;
    }
  }

  &--button {
    margin-bottom: 60px;
  }
}
