h1 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  color: $colorBlack;

  @include onTablet {
    font-size: 72px;
  }
}

h2 {
  @extend h1;
  font-size: 38px;

  @include onTablet {
    font-size: 62px;
  }
}

h3 {
  @extend h1;
  font-size: 28px;
  line-height: 125%;

  @include onTablet {
    font-size: 40px;
  }
}

h4 {
  @extend h3;
  font-size: 20px;

  @include onTablet {
    font-size: 24px;
  }
}

h5 {
  @extend h4;
  line-height: 150%;
  color: $colorWhite;

}

h6 {
  @extend h1;
  font-size: 14px;
  line-height: 125%;
}

p {
  font-family: "Raleway", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $colorGray;
}

section {
  @extend p;
  color: $colorWhite;
}
