h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}

.button-text {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.main-text {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.additional-text {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
}
