.block-title,
.subtitles,
.footer-title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
}

.block-title {
  font-size: 28px;
  line-height: 125%;

  @include onTablet {
    font-size: 40px;
  }

  @include onDesktop {
    font-size: 48px;
  }
}

.subtitles {
  font-size: 20px;
  line-height: 125%;

  @include onTablet {
    font-size: 24px;
  }
}

.footer-title {
  font-size: 18px;
  line-height: 150%;

  @include onTablet {
    font-size: 20px;
  }
}

.events-date,
.news-date,
.description,
.footer-item,
.select {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.events-date,
.select,
.description,
.footer-item {
  font-size: 16px;
  line-height: 150%;
}

.news-date {
  font-size: 14px;
  line-height: 140%;
}
