$backgroundColor: #3f5252;

$text-color-light: #f1f5f4;
$text-color-hover: #f1f5f48a;
$title-color-dark: #1c1b29;
$description-color-dark: #504f5e;
$decorative-color: #cd4d31;
$buttonHoverCollor_1: #d8411fc7;
$buttonHoverCollor_2: rgba(255, 255, 255, 0.51);
$lineColor: #c4c4c4;
$whiteColor: #fff;

$transitionDuration: 0.3s;
