$viewportHeight: 100vh;
$viewportWidth: 100vw;
$headerHeight: 80px;
$navbarSectionWidth: 100px;
$mobilePadding: 20px;
$miniTabletPadding: 40px;
$some: calc(-#{$viewportWidth} + 100px + #{$miniTabletPadding});
$some2: calc(-#{$viewportWidth} + (#{$viewportWidth} - 1190px) / 2 + 100px);
$mainColorDarkBG: #3f5252;
$mainColorOrange: #cd4d31;
$mainColorGreyFont: #504f5e;
$mainColorBlackFont: #1c1b29;
$mainColorWhite: #f1f5f4;
$textShadowForBigLightText: 0 6px 10px $mainColorBlackFont;
$textShadowForMidText: 0 3px 6px $mainColorGreyFont;
