$green: #3f5252;
$hover-green: #516565;
$white: #f1f5f4;
$hover-white: #e9e9e9;
$black: #1c1b29;
$orange: #cd4d31;
$hover-orange: #ce5f46;
$gray: #504f5e;
$main: 16px;
$big: 48px;
$medium: 24px;
$small: 20px;
$additional: 14px;
$font: 'Playfair Display', sans-serif;
$button-weight: 600;
$title-weight: 700;
$gap: 30px;
$transition: 0.3s;
