$tablet-min-width: 768px;
$desktop-min-width: 1280px;

$background-color: #3F5252;
$grey-text-color: #504f5e;
$main-text-color: #1B2129;
$button-text-color: #F1F5F4;
$card-dates-color: #CD4D31;
$events-titles-color: #1C1B29;
$sections-background-color: #F1F5F4;
$second-button-color: #CD4D31;
$planning-visit-text-color: #F1F5F4;
$form-text-color: #F1F5F4;
$footer-text-color: #F1F5F4;
$button-main-color: #CD4D31;
$button-hover-color: #AF3419;
$button-active-color: #EA340D;
