$main: #CD4D31;
$white: #F1F5F4;
$background: #3F5252;
$black: #1C1B29;
$gray: #504F5E;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$desktop-max-width: 1170px;
$phone-min-width: 320px;
$padding-content: 20px;
$padding-content-tablet: 39px;
$padding-content-desktop: 55px;
$during: 0.3s;
