$white-color: #f1f5f4;
$black-color: #1c1b29;
$grey-color: #504f5e;
$background-grey-color: #3f5252;
$main-color: #cd4d31;
$button-hover-color: #af3419;
$button-active-color: #ea340d;
$button-disable-color: #dd836f;
$transition-duration: 0.3s;
