$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$white: #f1f5f4;
$black: #1c1b29;
$gray: #504f5e;
$accent-color: #cd4d31;
$accent-color-hover: #af3419;
$accent-color-pressed: #ea340d;
$background-color: #3f5252;
