[class*="__container"] {
  @include contentPaddingInline;
  box-sizing: border-box;
  max-width: 1180px;
  margin-inline: auto;
}

.wrapper {
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}
