.badge {
  display: block;
  width: 25px;
  height: 20px;
  background-size: cover;
  transition: transform $time-transition;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  @include onTablet {
    margin-top: 23px;
    margin-bottom: 27px;
    width: 30px;
    height: 30px;
  }

  &--menu {
    background-image: url(../images/header-menu.png);
  }
}
