@import "_mixins.scss";

.button__active {
  width: 270px;
  height: 60px;
  background-color: #cd4d31;
  line-height: 60px;
  cursor: pointer;
  text-align: center;
  transition-duration: 500ms;
  &:hover {
    border-radius: 20px;
    transition-duration: 500ms;
  }
  &--gray {
    background-color: #3f5252;
    border: 1px solid #f1f5f4;
    transition-duration: 500ms;
    &:hover {
      border-radius: 20px;
      transition-duration: 500ms;
    }
  }
  @include onIpad {
    display: none;
    margin: 0;
  }
  @include onPhone {
    display: none;
  }
}

.button {
  width: 270px;
  height: 60px;
  background-color: #cd4d31;
  line-height: 60px;
  cursor: pointer;
  text-align: center;
  display: block;
  color: #f1f5f4;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  transition-duration: 500ms;
  &:hover {
    border-radius: 20px;
    transition-duration: 500ms;
  }
  &--gray {
    background-color: #3f5252;
    border: 1px solid #f1f5f4;
    &:hover {
      border-radius: 20px;
      transition-duration: 500ms;
    }
  }
}
