@import "_mixins.scss";

.events {
  background-color: #f1f5f4;
  padding-bottom: 190px;
  @include onIpad {
    padding-bottom: 120px;
  }
  @include onPhone {
    padding-bottom: 90px;
    margin: 0 auto;
  }
  &__wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1500px;
    @include onIpad {
      max-width: 695px;
    }
    @include onPhone {
      margin: 0 auto;
    }
  }
  &__container {
    @include onPhone {
      margin: 0 auto;
      margin-bottom: 60px;
    }
  }
  &__title {
    margin: 0;
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    display: flex;
    margin-left: 27%;
    margin-top: 280px;
    margin-bottom: 60px;
    @include onIpad {
      margin-top: 115px;
      margin-bottom: 55px;
      margin-left: 100px;
    }
    @include onPhone {
      margin-left: 7%;
      margin-top: 100px;
      margin-bottom: 0;
      font-size: 36px;
      line-height: 125%;

    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include onIpad {
      margin-bottom: 60px;
    }
    @include onPhone {

    }
  }
  &__content-paragraph {
    margin-left: 30px;
  }
  &__type {
    font-family: "Playfair Display", sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    color: #1c1b29;
    margin-top: 0;
    margin-bottom: 10px;
    @include onPhone {
      height: 20px;
      margin: 0;
    }
  }

  &__info {
    font-family: "Playfair Display", sans-serif;
    font-size: 24px;
    line-height: 125%;
    font-weight: bold;
    color: #1c1b29;
    margin-top: 0;
    margin-bottom: 10px;
  }
  &__about {
    font-family: "Playfair Display", sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #504f5e;
    margin-top: 0;
    margin-bottom: 60px;
    @include onPhone {
      margin-bottom: 40px;
    }
  }
  &__calendar {
    display: flex;
    flex-direction: column;
    margin-left: 55px;
    @include onPhone {
      display: none;
    }
  }

  &__date {
    width: 170px;
    height: 55px;
    font-size: 55px;
    font-family: "Playfair Display", sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    color: #cd4d31;
    margin: 0;
    @include onPhone {
      display: none;
    }
  }
  &__date-mobile {
    display: none;
    @include onPhone {
      height: 20px;
      display: inline;
      margin: 0;
      font-family: "Playfair Display", sans-serif;
      font-size: 16px;
      line-height: 150%;
      color: #cd4d31;
    }
  }

  &__calendar-mobile {
    @include onPhone {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-right: 32px;
      margin-top: 60px;
    }
  }
  &__time {
    font-family: "Playfair Display", sans-serif;
    font-size: 36px;
    color: #cd4d31;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 80px;
  }
  &__photo {
    width: 370px;
    height: 475px;
    transition-duration: 1000ms;
    &-first {
      margin-left: 310px;
      margin-bottom: 80px;
    }
    &-second {
      margin-left: 90px;
    }
    @include onIpad {
      display: none;
    }
    @include onPhone {
      display: none;
    }
  }
}
