@import "_mixins.scss";

.exhibitions {
  background-color: #f1f5f4;
  width: 100%;
  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1500px;
    @include onIpad {
      max-width: 695px;
    }
  }

  &__wrapper-1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 360px;
    margin-bottom: 70px;
    @include onIpad {
      width: auto;
      margin: 0;
      height: 170px;
      padding-bottom: 130px;
      justify-content: none;
    }
    @include onPhone {
      display: block;
      height: 170px;
      margin-bottom: 70px;
      margin-left: 20px;
      width: 280px;
      align-self: center;
    }
  }
  &__part-1 {
    margin-right: 50px;
    @include onIpad {
      padding-left: 250px;
      height: 200px;
    }
    @include onPhone {
      margin: 0 auto;
      margin-right: 0;
      margin-left: 10px;
      width: 280px;
    }
  }
  &__wrapper-2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    background-color: #f1f5f4;
    margin-bottom: 70px;
    @include onIpad {
      margin: 0;
      width: auto;
      justify-content: none;
    }
  }
  &__part-2 {
    margin-left: 90px;
    z-index: 1;
    @include onIpad {
      padding-right: 100px;
      padding-bottom: 150px;
    }
    @include onPhone {
      margin-left: 20px;
    }
  }
  &__wrapper-3 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 70px;
    @include onIpad {
      margin-bottom: 150px;
      width: auto;
      justify-content: none;
    }
    @include onPhone {
      width: 280px;
      align-self: center;
    }
  }

  &__part-3 {
    margin-right: 200px;

    @include onIpad {
      margin-left: 250px;
      margin-right: 0;
    }
    @include onPhone {
      margin-right: 0;
      margin-left: 20px;
    }
  }
  &__angel {
    position: relative;
    width: 544.6px;
    height: 816.12px;
    top: -300px;
    @include onIpad {
      display: none;
    }
    @include onPhone {
      display: none;
    }

  }
  &__title {
    margin: 0;
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    display: flex;
    justify-content: center;
    padding-top: 160px;
    margin-bottom: 100px;
    @include onIpad {
      justify-content: flex-start;
    }
    @include onPhone {
      padding-top: 60px;
      font-size: 36px;
      line-height: 125%;
      margin: 0 auto 60px;
      width: 200px;

    }
  }
  &__date {
    margin: 0;
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    color: #cd4d31;
    margin-bottom: 20px;
    margin-left: 820px;
    @include onIpad {
      margin-left: 26%;
    }
    @include onPhone {
      font-size: 24px;
      line-height: 125%;
      margin: 0 auto;
      margin-bottom: 20px;
      padding-right: 30%;
    }
    &-always {
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      line-height: 150%;
      color: #cd4d31;
    }
  }
  &__name {
    margin: 0;
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 125%;
    color: #1c1b29;
    margin-bottom: 20px;
    @include onIpad {
      width: 450px;
    }
    @include onPhone {
      width: 240px;
      font-size: 24px;
      line-height: 30px;
    }
  }
  &__name-third {
    @include onPhone {
      width: 275px;
    }
  }
  &__paragraph {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #504f5e;
    margin-bottom: 50px;
    width: 370px;
    height: 70px;
    word-wrap: break-word;
    @include onPhone {
      width: 170px;
      height: 120px;
    }
  }
  &__paragraph-second {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #504f5e;
    margin-bottom: 50px;
    width: 370px;
    height: 70px;
    word-wrap: break-word;
    @include onPhone {
      width: 170px;
      height: 120px;
      margin-left: 120px;
    }
  }
  &__paragraph-third {
    @include onPhone {
      margin-right: 0;
      width: 170px;
      height: 120px;
    }
  }
  &__name-first {
    @include onPhone {
      width: 270px;
      line-break: none;
      padding-left: 10px;
    }
  }
  &__paragraph-first {
    padding-left: 10px;
  }
  &__modern-art {
    width: 568px;
    height: 576px;
    margin: 0;
    margin-left: 170px;
    position: relative;
    font-size: 9rem;
    text-transform: uppercase;
    font-family: Playfair Display, serif;
    color: rgba(63, 82, 82, 0.3);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    font-weight: 700;
    line-height: 100%;
    @include onIpad {
      display: none;
    }
    @include onPhone {
      display: none;
    }
  }
  &__old-art {
    width: 568px;
    height: 576px;
    margin: 0;
    position: relative;
    font-size: 9rem;
    text-transform: uppercase;
    font-family: Playfair Display, serif;
    color: rgba(63, 82, 82, 0.3);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    font-weight: 700;
    line-height: 100%;
    padding-left: 40px;
    @include onIpad {
      display: none;
    }
    @include onPhone {
      display: none;
    }
  }
  &__image-2 {
    position: absolute;
    width: 560px;
    height: 600px;
    top: 0;
    left: 0;
    object-fit: contain;
    opacity: 1;
  }
  &__image-3 {
    position: absolute;
    width: 584px;
    height: 499px;
    top: 0;
    left: 40px;
    object-fit: contain;
    opacity: 1;
  }
  &__continer {
    @include onPhone {
      margin: 0 auto;
    }
  }
}
