%h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
}

%h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 100%;
}

%h3 {
  font-family: "Playfair Display", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 125%;
}

%h4 {
  font-family: "Playfair Display", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 125%;
}

%h5 {
  font-family: "Playfair Display", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}
%h6 {
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 125%;
}

%button,
%p {
  font-family: Raleway, sans-serif;
}
