%h1 {
  font-family: $main-font;
  font-size: 3rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
  @include onTablet {
    font-size: 4.5rem;
  }
  @include onDesktop {
    font-size: 6rem;
  }
}

%h2 {
  font-family: $main-font;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
}

%h3 {
  font-family: $main-font;
  font-size: 20px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0;
  @include onTablet {
    font-size: 3rem;
  }
  @include onDesktop {
    font-size: 3rem;
  }
}

%h4 {
  font-family: $main-font;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0;
}

%h5 {
  font-family: $main-font;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0;
  @include onTablet {
    font-size: 20px;
  }
}

%h6 {
  font-family: $main-font;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0;
}

%button {
  font-family: $second-font;
  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0;
}

%main-text {
  font-family: $second-font;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0;
}

%additional-text {
  font-family: $second-font;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 140%;
  letter-spacing: 0;
}
