@font-face {
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Raleway;
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
}
