.footer {

  background-color: #3f5252;
  padding: 10px 0 30px;

  @include onTablet {
    padding: 0 0 30px;
  }

  &-content {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;

    &-terms {
      display: flex;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #f1f5f4;

      &-1 {
        margin-right: 22px;

        @include onDesktop {
          margin-right: 102px;
        }
      }
    }

    &--to-top {
       
      cursor: pointer;
      
      transform: translateY(-5px);
        
      &__up {
        width: 13px;
        height: 17px;

        &::after {
          content: "";
          display: block;
          width: 20px;
          height: 2px;
          transform: rotate(90deg) translateX(-4px);
          background-color: #f1f5f4;
          border-radius: 5px;
        }
        
      }
      
    }
  }

}
