.page {
  scroll-behavior: smooth;
  &__body {
    margin: 0;
  }
}

.image:hover {
  transform: scale(1.15);
  transition-duration: 1000ms;
}

@font-face {
  font-family: "Playfair Display";
  src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway&display=swap");;
  font-weight: 700;
}

@font-face {
  font-family: "Raleway" ;
  src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway&display=swap");
  font-weight: 400;
}
