.icon {
  display: block;
  width: 20px;
  height: 20px;
  background-size: cover;
  cursor: pointer;
  transition: transform $time-transition;

  &:hover {
    transform: scale(1.2);
  }

  &--facebook {
    background-image: url(../images/facebook.png);
  }

  &--twitter {
    background-image: url(../images/twitter.png);
  }

  &--telegram {
    background-image: url(../images/telegram.png);
  }

  &--instagram {
    background-image: url(../images/instagram.png);
  }
}
