.main {
  background-color: #f1f5f4;

  &__content {
    display: grid;
    row-gap: 120px;
    padding-block: 90px;

    @include onTablet {
      row-gap: 120px;
      padding-block: 125px 128px;
    }

    @include onDesktop {
      padding-block: 110px 200px;
    }
  }
}
