@mixin font-properties ($font-family, 
$font-size, 
$line-height,
$font-weight: normal) {
  font-family: $font-family, sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1280px) {
    @content;
  }
}
