a,
p,
body,
div,
header,
html,
img,
li,
nav,
ul,
h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: $headingColor;
  margin: 0;
  padding: 0;

  @include onDesktop {
    font-size: 96px;
  }

  @include onTablet {
    font-size: 72px;
  }

  @include onPhone {
    font-size: 48px;
  }
}

h2 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: $headingColor;
  margin: 0;
  padding: 0;

  @include onDesktop {
    font-size: 80px;
  }

  @include onTablet {
    font-size: 62px;
  }

  @include onPhone {
    font-size: 38px;
  }
}

h3 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: $headingColor;
  margin: 0;
  padding: 0;

  @include onDesktop {
    font-size: 48px;
    line-height: 125%;
  }

  @include onTablet {
    font-size: 40px;
    line-height: 125%;
  }

  @include onPhone {
    font-size: 28px;
    line-height: 125%;
  }
}

h4 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: $headingColor;
  margin: 0;
  padding: 0;

  @include onDesktop {
    font-size: 24px;
    line-height: 125%;
  }

  @include onTablet {
    font-size: 24px;
    line-height: 125%;
  }

  @include onPhone {
    font-size: 20px;
    line-height: 125%;
  }
}

h5 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: $headingColor;
  margin: 0;
  padding: 0;

  @include onDesktop {
    font-size: 20px;
    line-height: 150%;
  }

  @include onTablet {
    font-size: 20px;
    line-height: 150%;
  }

  @include onPhone {
    font-size: 20px;
    line-height: 150%;
  }
}

h6 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: $headingColor;
  margin: 0;
  padding: 0;

  @include onDesktop {
    font-size: 14px;
    line-height: 125%;
  }

  @include onTablet {
    font-size: 14px;
    line-height: 125%;
  }

  @include onPhone {
    font-size: 15px;
    line-height: 125%;
  }
}
