html {
  scroll-behavior: smooth;
}

.page {

  &__body {
    margin: 0;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;

    &:target {
      transform: translateX(0);
    }
  }

  &__section-1 {

    padding: 90px 0 0;

    &__nav {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      font-family: "Playfair Display", sans-serif;
      font-weight: bold;
      font-size: 28px;
      line-height: 125%;
      color: #1c1b29;

      @include onTablet {
        font-size: 40px;
      }

      @include onDesktop {
        font-size: 48px;
      }
    }

    &__photo {
      
      margin-top: 60px;

      &--photo {
        object-fit: cover;
        object-position: center;
        width: 280px;
        height: 356px;

        @include onTablet {
          width: 100%;
          height: 420px;
        }

        @include onDesktop {
          width: 100%;
          height: 484px;
        }
      }
    }

    &__date {
      margin-top: 20px;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      
      color: #cd4d31;

      @include onTablet {
        margin-top: 30px;
      }

      @include onDesktop {
        margin-top: 20px;
      }

    }

    &__subtitle {
      margin-top: 10px;
      width: 279px;
      font-family: "Playfair Display", sans-serif;
      font-weight: bold;
      font-size: 20px;
      line-height: 125%;
      color: #1c1b29;

      @include onTablet {
        width: 100%;
        font-size: 24px;
        height: 60px;
      }

      @include onDesktop {
        height: 30px;
      }
      
    }

    &__par {
      margin-top: 20px;
      width: 279px;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      
      color: #504f5e;

      @include onTablet {
        width: 100%;
      }

    }

    &--actions {
      margin: 30px 0 70px;

      @include onTablet {
        display: none;
      }
      
    }

    &--action {
      
      display: none;

      @include onTablet {
        display: flex;
      }

    }

  }

  &__section-2 {
    
    padding: 35px 0;
    
    @include onTablet {
      padding: 130px 0;
    }

    @include onDesktop {
      padding: 160px 0;
    }

    &__title {
      font-family: "Playfair Display", sans-serif;
      font-weight: bold;
      font-size: 28px;
      line-height: 125%;
      color: #1c1b29;

      @include onTablet {
        font-size: 40px;
      }
    }

    &__nav {
      display: flex;
      justify-content: space-between;
    }

    &--photo {
      margin-top: 60px;
      width: 280px;
      height: 358px;

      @include onTablet {
        margin-top: 76px;
        width: 330px;
        height: 422px;
      }

      @include onDesktop {
        margin-top: 70px;
        width: 370px;
        height: 475px;
      }
    }

    &__date {
      margin-top: 20px;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      
      color: #cd4d31;

      @include onTablet {
        margin-top: 76px;
      }
 
    }

    &__subtitle {
      margin-top: 10px;
      width: 279px;
      font-family: "Playfair Display", sans-serif;
      font-weight: bold;
      font-size: 20px;
      line-height: 125%;
      color: #1c1b29;

      @include onTablet {
        width: 100%;
        font-size: 24px;
        margin: 10px 0 0;
      }
    }

    &__par {
      margin-top: 20px;
      width: 279px;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      
      color: #504f5e;

      @include onTablet {
        width: 100%;
      }

      @include onDesktop {
        width: 570px;
      }
      
    }

    &--actions {
      margin: 30px 0 70px;

      @include onTablet {
        display: none;
      }
      
    }

    &--action {
      
      display: none;

      @include onTablet {
        display: flex;
      }

    }

  }

  &__section-3 {
    position: relative;

    padding: 50px 0;
    background-color: #3f5252;

    @include onTablet {
      padding: 80px 0;
    }

    @include onDesktop {
      padding: 205px 0;
    }

    
    &__title {
      width: 100%;
      font-family: "Playfair Display", sans-serif;
      font-weight: bold;
      font-size: 38px;
      line-height: 100%;
      color: #f1f5f4;

      @include onTablet {
        width: 100%;
        font-size: 62px;
      }

      @include onDesktop {
        font-size: 82px;
      }
    }

    &__par {
      margin-top: 20px;
      width: 280px;

      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #f1f5f4;

      @include onTablet {
        width: 450px;
      }

      @include onDesktop {
        width: 470px;
      }
      
    }

    &--background {

      display: none;

      @include onDesktop {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  &__section-4 {

    padding: 90px 0 30px;

    @include onTablet {
      padding: 100px 0;
    }

    @include onDesktop {
      padding: 110px 0;
    }
   
    &__nav {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      font-family: "Playfair Display", sans-serif;
      font-weight: bold;
      font-size: 28px;
      line-height: 125%;
      color: #1c1b29;

      @include onTablet {
        font-size: 40px;
      }

      @include onDesktop {
        font-size: 48px;
      }
    }

    &__photo {
      
      margin-top: 60px;

      &--photo {
        object-fit: cover;
        object-position: center;
        width: 280px;
        height: 281px;

        @include onTablet {
          width: 100%;
          height: 330px;
        }

        @include onDesktop {
          width: 100%;
          height: 370px;
        }
      }
    }

    &__date {
      margin-top: 20px;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      
      color: #000;

      @include onTablet {
        margin-top: 30px;
      }

      @include onDesktop {
        margin-top: 20px;
      }
    }

    &__subtitle {
      margin-top: 10px;
      width: 279px;
      font-family: "Playfair Display", sans-serif;
      font-weight: bold;
      font-size: 20px;
      line-height: 125%;
      color: #1c1b29;

      @include onTablet {
        width: 100%;
        font-size: 24px;
        height: 60px;
      }

      @include onDesktop {
        height: 30px;
      }
      
    }

    &__par {
      margin-top: 20px;
      width: 279px;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      
      color: #504f5e;

      @include onTablet {
        width: 100%;
        margin-top: 18px;
      }

    }

    &--actions {
      margin: 30px 0 70px;

      @include onTablet {
        display: none;
      }
      
    }

    &--action {
      
      display: none;

      @include onTablet {
        display: flex;
      }

    }

  }

  &__section-5 {

    padding: 10px 0 80px;

    @include onTablet {
      padding: 50px 0 118px;
    }

    @include onDesktop {
      padding: 60px 0 150px;
    }

    &__title {
      font-family: "Playfair Display", sans-serif;
      font-weight: bold;
      font-size: 28px;
      line-height: 125%;
      color: #1c1b29;

      @include onTablet {
        font-size: 40px;
      }

      @include onDesktop {
        font-size: 48px;
        width: 570px;
        display: inline-block;
      }
    }

    &__par {
      margin-top: 20px;
      width: 279px;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      
      color: #1c1b29;

      @include onTablet {
        width: 570px;
      }

      @include onDesktop {
        transform: translateX(100%) translateY(-250%);
      }

    }
  }

  &__section-6 {

    padding: 34px 0;
    background-color: #3f5252;

    @include onTablet {
      padding: 50px 0 0;
    }

    &__subtitle {
      font-family: "Playfair Display", sans-serif;
      font-weight: bold;
      font-size: 20px;
      line-height: 150%;
      color: #f1f5f4;
      margin: 0;
    }

    &__schedule {

      margin-top: 10px;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;

      
      color: #f1f5f4;

      @include onTablet {
        margin-top: 30px;
      }
    }

    &__nav {
      box-sizing: border-box;

      padding: 32px 0 52px;
      display: flex;
      align-items: center;
      text-align: center;

      @include onTablet {
        padding: 50px 0 30px;
      }

      @include onDesktop {
        padding: 50px 0 40px;
      }

      &--facebook {
        background-image: url(../images/section6/facebook.svg);
        background-repeat: no-repeat;
        height: 20px;
        width: 10px;
        display: inline-block;
        margin-right: 25px;
      }

      &--twitter {
        background-image: url(../images/section6/twitter.svg);
        background-repeat: no-repeat;
        height: 16px;
        width: 20px;
        display: inline-block;
        margin-right: 25px;
      }

      &--telegram {
        background-image: url(../images/section6/telegram.svg);
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        display: inline-block;
        margin-right: 25px;
        color: #f1f5f4;
      }

      &--instagram {
      
        background-image: url(../images/section6/instagram.svg);
        background-repeat: no-repeat;
        height: 17px;
        width: 17px;
        display: inline-block;
      }
    }

    &__list {
      margin: 10px 0;
      padding: 0;
      list-style: none;

      @include onTablet {
        margin-top: 30px;
      }

    }

    &__item {
      margin-bottom: 5px;
    }

    &__link {
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-decoration: none;
      
      color: #f1f5f4;
    }
  }
}
