.product {

  &__photo {
    width: 100%;
    margin-bottom: 20px;
  }

  &__title {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: $color-orange;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 10px;
    margin-top: 0;
  }

  &__info {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    color: $color-black;
    font-weight: 700;
    line-height: 125%;
    margin-top: 0;
    margin-bottom: 20px;

    &--mysticism {
      font-family: "Playfair Display", serif;
      font-size: 20px;
      color: $color-black;
      font-weight: 700;
      line-height: 125%;
      margin-top: 0;
      margin-bottom: 20px;

      @include onTablet {
        margin-bottom: 50px;
      }

      @include onDesktop {
        margin-bottom: 20px;
      }
    }

    @include onTablet {
      font-size: 24px;
    }
  }

  &__information {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: $color-gray;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 30px;

    &--events {

      @include onTablet {
        margin-bottom: 50px;
      }
    }
  }
}
