.sign-up {
  @include content-padding-inline;

  margin-top: 140px;

  @include on-tablet {
    margin-top: 160px
  }

  @include on-desktop {
    margin-top: 200px
  }

  &__text {
    @include page-grid;

    margin-bottom: 50px;
    color: $color-for-main-text-black;
    gap: 20px;

    &--title {
      grid-column: 1 / -1;
      font-family: "Playfair Display";
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 125%;

      @include on-tablet {
        font-size: 40px;
      }

      @include on-desktop {
        grid-column: span 6;
        font-size: 48px;
      }
    }

    &--subtitle {
      grid-column: 1 / -1;
      font-family: Raleway;
      font-size: 16px;
      line-height: 150%;

      @include on-desktop {
        grid-column: span 6;
      }
    }
  }

  &__form {

    &--form {
      @include page-grid;

      &-email {
        grid-column: 1 / -1;
        height: 40px;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid $color-for-main-text-black;
        font-family: Raleway;
        font-size: 16px;


        @include on-tablet {
          grid-column: span 4;
        }

        @include on-desktop {
          grid-column: span 5;
        }
      }

      &-button {
        grid-column: 1 / -1;
        margin-top: 40px;
        border: none;
        background-color: transparent;
        padding: 22px 0 22px 0;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 600;
        line-height: 100%;
        color: $color-for-main-text;
        background-color: $color-for-back-button;

        @include on-tablet {
          grid-column: 1 / 4;
        }
      }
    }
  }
}
