.top-bar {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo {

  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 42px;

    &-lang {
      display: flex;
      flex-direction: row;
      gap: 1px;
      align-items: center;

      &--text {
        color: $color-for-main-text;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
      }
    }
  }
}
