.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 124px;
    height: 37px;
    padding-block: 20px;

    @include onDesktop {
      padding-block: 26px 27px;
    }
  }

  &__badges {
    display: flex;
    gap: 40px;
  }

  &__dropdown {
    color: $color-white;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    display: flex;
    align-items: center;
  }

  &__images {
    width: 10px;
    height: 7px;
  }

  &__magic {
    display: none;

    @include onTablet {
      display: flex;
      align-items: center;
    }
  }

}

.badge {
  display: block;
  width: 25px;
  height: 20px;
  background-size: cover;

  @include onTablet {
    margin-top: 23px;
    margin-bottom: 27px;
    width: 30px;
    height: 30px;
  }

  &--menu {
    background-image: url(../images/header-menu.png);
  }
}
