// everywhere-to-use colors
$main-color: #f1f5f6;

//background colors
$main-background-color: #3f5252;

// button colors
$button-color: #cd4d31;
$button-on-hover: #af3419;
$button-pressed: #ea340d;
$button-disabled: #dd836f;

$secondary-button-color: #f1f5f4;

//animations
$transition-time: 0.1s;

//font-colors
$headline-color: #1c1b29;
