$main-color: #CD4D31;
$white-color: #F1F5F4;
$background-color: #3F5252;
$black-color: #1C1B29;
$grey-color: #504F5E;
$button-hover-color: #AF3419;
$button-pressed-color: #EA340D;
$button-disabled-color: #DD836F;
$mobile-min-width: 320px;
$tablet-min-width: 640px;
$desktop-min-width: 1280px;
