$tablet-min-width: 768px;
$color-white: #f1f5f4;
$main-font-family: "Raleway", sans-serif;
$second-font-family: "Playfair Display", serif;
$color-green: #3f5252;
$color-orange: #cd4d31;
$color-hover: #af3419;
$color-pressed: #ea340d;
$color-disabled: #dd836f;
$color-black: #1c1b29;
$color-grey: #504f5e;
