$color-white: #fff;
$color-dark-white: #f1f5f4;

$color-black: #1c1b29;

$color-orange: #cd4d31;
$color-dark-orange: #b3432b;

$color-light-gray: #ccc;
$color-light-gray-1: #c4c4c4;
$color-gray: #504f5e;
$color-dark-gray: #3f5252;
