$c-gray: #eee;
$main: rgba(205, 77, 49, 1);
$white: rgba(241, 245, 244, 1);
$background: rgba(63, 82, 82, 1);
$black: rgba(28, 27, 41, 1);
$gray: rgba(80, 79, 94, 1);
$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$effect-duration: 0.3s;
$grid-mobile: 2;
$grid-tablet: 6;
$grid-desktop: 12;
$grid-small-gap: 20px;
$grid-large-gap: 30px;

// Desktop 1024px Tablet 640px 576px



