$color-bg: #3f5252;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$color-white: #f1f5f4;
$color-orange: #cd4d31;
$color-dark-orange: #af3419;
$color-light-orange: #ea340d;
$color-gray: #504f5e;
$color-black: #1c1b29;
