$on-tablet-min-width: 640px;
$on-desktop-min-width: 1280;
$on-design-min-width: 1440px;

// main-colors
$text-color: #F1F5F4;
$label-color: #1C1B29;
$special-color: #CD4D31;
$description-color: #504F5E;
$default-color: #1C1B29;
$active-color: #EA340D;
$hover-color: #AF3419;

// time

$effect-duration: 0.3s;

