@import "_mixins.scss";

.visit {
  background-color: #3f5252;
  @include onPhone {
    padding-bottom: 80px;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #3f5252;
    @include onIpad {
      max-width: 695px;
      height: 800px;
    }
    @include onPhone {
    }
  }
  &__image {
    width: 810px;
    height: 800px;
    @include onIpad {
      width: 431px;
      height: 462px;
      position: relative;
      left: 160px;
      bottom: -338px;
    }
    @include onPhone {
      display: none;
    }
  }
  &__title {
    font-style: normal;
    font-size: 90px;
    color: #f1f5f4;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    margin-right: 55px;
    margin-top: 190px;
    margin-bottom: 60px;
    z-index: 3;
    @include onIpad {
      font-size: 72px;
      margin-bottom: 80px;
      margin-top: 120px;
      margin-right: 0;
      margin-left: 100px;
      width: 530px;
    }
    @include onPhone {
      font-size: 48px;
      line-height: 100%;
      height: 144px;
      width: 280px;
      margin: 0 auto;
      margin-bottom: 40px;
      margin-top: 80px;
    }
  }
  &__info {
    @include onIpad {
      margin-right: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__text {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #f1f5f4;
    width: 470px;
    height: 70px;
    margin-bottom: 60px;
    @include onIpad {
      margin-left: 100px;
    }
    @include onPhone {
      width: 280px;
      height: 120px;
      font-size: 16px;
      line-height: 150%;
      margin: 0 auto;
      margin-bottom: 60px;
    }
  }
}
