.visit {
  background-color: $b-color;
  max-height: 100%;

  @include onDesktop {
    background-image: url(../images/girl2.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center right 702px;
    background-size: contain;
    transition: transform $time-transition;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      overflow-x: scroll;
    }
  }

  @include onDesktop1200 {
    background-position: center left;
    transition: transform $time-transition;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      overflow-x: scroll;
    }
  }

  &__main {
    @include pageGrid;
  }

  &__info {
    font-family: "Playfair Display", serif;
    font-size: 38px;
    color: $color-white;
    font-weight: 700;
    line-height: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    grid-column: span 2;

    @include onTablet {
      font-size: 62px;
      grid-column: 1/5;
    }

    @include onDesktop {
      grid-column: 6/-1;
      margin-top: 205px;
      font-size: 80px;
    }
  }

  &__information {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: $color-white;
    font-weight: 400;
    line-height: 150%;
    margin: 0 0 40px;
    grid-column: span 2;

    @include onTablet {
      grid-column: span 4;
    }

    @include onDesktop {
      grid-column: 6/11;
      margin-bottom: 50px;
    }
  }
}
