.menu__top__bar {
  @include top-bar-common-opt;
  grid-column: 1/-1;

  &-logo {
    background-image: url(../images/header/logo.svg);
  }

  &-language {
    @include onMobile {
      position: absolute;
      right: 60px;

      &::after {
        width: 8px;
        height: 4px;
      }
    }
  }
}

.close-icon {
  @include header-menu-icons-common-opt;
  background-image: url(../images/menu/ex.svg);
}
