.subscription {
  padding-block: 0 80px;

  @include on-tablet {
    padding-block: 0 128px;
  }

  @include on-desktop {
    padding-block: 0 200px;
  }

  &__container {
    @include page-grid;
  }

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 20px;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      margin-bottom: 50px;
      grid-column: span 6;
    }
  }

  &__description {
    @include main-text;

    grid-column: 1 / -1;
    margin: 0;
    padding-bottom: 50px;

    @include on-tablet {
      grid-column: 1 / -2;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__form {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / -3;
    }

    @include on-desktop {
      grid-column: span 5;
    }

    &__input {
      @include main-text;

      outline: none;
      border: none;
      border-bottom: 1px solid #1c1b29;
      background: transparent;
      padding-bottom: 3px;
      width: 100%;
      margin-bottom: 30px;

      &:hover {
        border-bottom: 1px solid $main-text-color;
      }

      &:focus {
        color: $main-text-color;
        font-weight: 600;
        border-bottom: 1px solid $main-text-color;
      }

      &:-webkit-autofill {
        transition: all 5000s ease-in-out;
      }
    }
  }

  &__button {
    @include primary-button;
    
    cursor: pointer;
    border: none;
    width: 100%;
    grid-column: 1/-1;

    @include on-tablet {
      width: 330px;
      grid-column: 1 / 4;
    }

    @include on-desktop {
      width: 270px;
    }
  }
}
