.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;

  &__logo {
    height: 40px;
    transition: transform $effect-duration;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__icons {
    display: flex;
    gap: 30px;

    @include on-tablet {
      gap: 40px;
    }

    &__language__selector {
      display: none;
      font-family: Raleway, sans-serif;
      background-color: transparent;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      border: none;
      outline: none;
      color: $primary-text-color;
      transition: $effect-duration;

      &:hover {
        color: $main-text-color;
      }

      @include on-tablet {
        display: block;
      }
    }
  }
}
