.top-bar {
  padding-block: 20px;

  @include content-padding-inline;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;

    @include hover(transform, scale(1.2));
  }

  &__icons {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;

    @include on-tablet {
      flex-direction: row-reverse;
      gap: 40px;
    }
  }
}
