.header {
  position: relative;
  background-color: $bgc;

  @include onDesktop {
    height: 100vh;
  }

  &__block {
    padding-top: 20px;

    @include onTablet {
      padding-top: 20px;
    }

    @include onDesktop {
      padding-top: 28px;
    }
  }

  &__top-nav {
    margin: 20px 20px 0;

    @include onTablet {
      margin: 20px 30px 0;
    }

    @include onDesktop {
      margin: 25px 55px 0;
    }

    &__museum {
      position: relative;
      margin: auto;
      background-image: url(../images/photos/main.svg);
      width: 245px;
      height: 243px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: 0;

      @include onTablet {
        height: 350px;
        width: 443px;
      }

      @include onDesktop {
        grid-row: 1 / 5;
        width: 100%;
        height: 100%;
      }
    }

    &__box {
      margin-bottom: 40px;

      @include onTablet {
        margin-bottom: 60px;
      }

      @include onDesktop {
        margin-bottom: 20px;
        padding-top: 60px;
      }
    }

    &__name {
      margin-bottom: 15px;

      @include onTablet {
        margin-bottom: 15px;
      }

      @include onDesktop {
        margin-bottom: 15px;
      }

      &__item {
        @include paragraph;
        font-weight: 400;
        line-height: 19px;
        transition: color 0.3s;

        &:hover {
          color: $button;
        }
      }
    }

    &__title {
      margin-bottom: 15px;

      @include onTablet {
        margin-bottom: 15px;
      }

      @include onDesktop {
        margin-bottom: 20px;
      }

      &__head {
        @include burger;
        max-width: 300px;
        line-height: 48px;
        transition: color 0.3s;

        @include onTablet {
          @include head;
          font-size: 72px;
          line-height: 72px;
          max-width: 550px;
        }

        @include onDesktop {
          font-size: 96px;
          font-weight: 700;
          line-height: 96px;
        }

        &:hover {
          color: $button;
        }
      }
    }

    &__name-last {
      margin-bottom: 47px;

      @include onTablet {
        margin-bottom: 17px;
      }

      @include onDesktop {
        margin-bottom: 65px;
      }

      &__item {
        @include paragraph;
        font-weight: 400;
        line-height: 19px;
        transition: color 0.3s;

        &:hover {
          color: $button;
        }
      }
    }

    &__act {
      text-decoration: none;
      cursor: none;
      height: min-content;

      @include onDesktop {
        position: relative;
        margin-bottom: 32px;
        padding: 3px;
        cursor: pointer;
      }

      &__actions {
        color: transparent;

        @include onDesktop {
          @include paragraph;
          font-weight: 400;
          line-height: 17px;
          transition: color 0.3s;

          &::after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 9px;
            left: 105px;
            background-repeat: no-repeat;
            background-color: $white;
            width: 100%;
            height: 1px;
            z-index: 1;
          }

          &:hover {
            color: $button;
          }
        }
      }
    }
  }
}
