.section-subscribe {
  &__content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    @include on-large-desktop {
      @include page-grid;
    }
  }

  &__title {
    margin-bottom: 20px;

    @include on-large-desktop {
      grid-column: span 6;
      margin-bottom: 50px;
      padding-right: 60px;
    }
  }

  &__description {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;

    @include main-text;

    color: #1c1b29;

    @include on-large-desktop {
      grid-column: span 6;
      padding-right: 50px;
    }
  }
}
