.visit {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #3f5252;
  position: relative;

  @include on-large-desktop {
    height: 800px;
    align-items: center;
  }

  &__content {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    width: 100%;
    margin-block: 50px;

    @include content-space-inline;

    @include on-tablet {
      margin-block: 80px;
    }

    @include on-large-desktop {
      margin-block: 205px;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;

    @include on-large-desktop {
      width: 60%;
      align-self: flex-end;
    }
  }

  &__title {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #f1f5f4;

    @include on-tablet {
      font-size: 62px;
    }

    @include on-large-desktop {
      font-size: 80px;
      margin-bottom: 10px;
    }
  }

  &__info {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    width: 70%;

    @include main-text;

    color: #f1f5f4;

    @include on-tablet {
      margin-bottom: 60px;
      width: 50%;
    }

    @include on-large-desktop {
      margin-bottom: 50px;
      width: 57%;
    }
  }

  &__images {
    display: none;

    @include on-large-desktop {
      display: flex;
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
