@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin consten-pudding-in-line {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 39px;
  }

  @include on-desktop {
    max-width: 1440px;
    padding-inline: 55px;
    margin-inline: auto;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;
  &:hover {
    #{$property}: $toValue;
  }
}
