$colorWhite: #f1f5f4;
$colorRed: #cd4d31;
$colorBlack: #1c1b29;
$colorBackground: #3f5252;

$fontPlayfairDisplay: 'Playfair Display', serif;
$fontWeightBold: 700;
$fontWeightSemiBol: 600;

$transitionDuration: 0.3s;
