.footer {
  background-color: $bg-color;

  &__wrapper {
    display: flex;
    padding-top: 50px;
    padding-bottom: 70px;
  }

  &__one {
    margin-right: 210px;
  }

  &__text {
    color: $color-while;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;

    &--link {
      position: relative;
      padding-bottom: 10px;

      &::before {
        content: '';
        bottom: 0;
        left: 0;
        position: absolute;
        width: 0%;
        height: 1px;
        background-color: $color-while;
        transition: 0.3s;
      }

      &:hover::before {
        width: 100%;
      }
    }

    &--val {
      &:hover {
        color: $val;
      }
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
  }

  &__social {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  &__img {
    @include hover (transform, scale(1.08));
  }

  &__two {
    margin-right: 240px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    color: $color-while;
    padding-bottom: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    gap: 102px;
    padding-bottom: 30px;
  }

  &__value {
    color: $color-while;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }
}

@media (max-width: 1030px) {
  .footer {
    &__one {
      margin-right: 110px;
    }

    &__two {
      margin-right: 120px;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    &__one {
      margin-right: 90px;
    }

    &__two {
      margin-right: 90px;
    }
  }
}

@media (max-width: 687px) {
  .footer {
    &__one {
      margin-right: 30px;
    }

    &__two {
      margin-right: 30px;
    }
  }
}

@media (max-width: 466px) {
  .footer {
    
    &__wrapper {
      display: flex;
      flex-direction: column;
      padding-bottom: 50px;
    }

    &__one {
      margin-right: 0;
      padding-bottom: 40px;
    }

    &__title {
      padding-bottom: 10px;
    }

    &__social {
      padding-top: 30px;
      display: flex;
      justify-content: start;
      gap: 20px;
    }

    &__two {
      margin-right: 0;
      padding-bottom: 50px;
    }

    &__wrap {
      align-items: baseline;
    }

    &__info {
      gap: 20px;
    }
  }
}


