* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

input {
  outline:none;
  border:none;
}

textarea {
  border:none;
  outline:none;
}

button {
  border: none;
}
