.actual {
  margin-top: 160px;
  color: #1c1b29;

  &__title,
  &__date {
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
  }

  &__date {
    margin-top: 100px;
    padding-left: 170px;
    color: #cd4d31;
  }

  &__angel {
    position: absolute;
    width: 544px;
    height: 816px;
    background-image: url(../images/main/statue.png);
    background-repeat: no-repeat;
    background-position: center;
    top: 890px;
    left: -5px;
  }

  .event {
    margin: 0;
    display: flex;
  }

  &__event1 {
    padding: 20px 150px 0 0;
    flex-direction: column;
    align-items: flex-end;
  }

  &__art1 {
    position: absolute;
    right: 57px;
    top: 1518px;
    width: 568px;
    height: 576px;
    background-image: url(../images/main/art-XX.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  &__ukraine {
    position: absolute;
    right: 0;
    top: 1615px;
    width: 509px;
    height: 432px;
    background-image: url(../images/main/ukraine.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  &__event2 {
    padding: 270px 0 0 255px;
    flex-direction: column;
    align-items: flex-start;
  }

  &__art2 {
    position: absolute;
    left: 41px;
    top: 2094px;
    width: 570px;
    height: 576px;
    background-image: url(../images/main/kozak-art.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  &__kozak {
    position: absolute;
    left: 55px;
    top: 2115px;
    width: 584px;
    height: 499px;
    background-image: url(../images/main/kozak.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  &__event3 {
    padding: 308px 150px 0 0;
    flex-direction: column;
    align-items: flex-end;
  }

  &__how {
    color: #cd4d31;
  }

  &__name {
    margin-top: 10px;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;
  }

  &__paragraph,
  &__foot-text,
  &__button,
  &__how {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
  }

  &__paragraph {
    margin: 20px 0 50px;
    width: 370px;
    color: #504f5e;
  }

  &__wrapper-button {
    padding: 22px 0;
  }

  &__button {
    padding: 22px 81px;
    text-align: center;
    text-decoration: none;
    background-color: #cd4d31;
    color: #f1f5f4;
    line-height: 100%;
  }

  &__foot {
    margin-top: 205px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
  }

  &__foot-text {
    line-height: 100%;
  }

  &__rectan {
    margin-right: 122px;
    width: 70px;
    height: 1px;
    background-color: #1c1b29;
  }

  @media (max-width: 1200px) {
    &__angel,
    &__art1,
    &__ukraine,
    &__art2,
    &__kozak {
      display: none;
    }

    & {
      margin-top: 115px;
    }

    &__date {
      margin-top: 55px;
      padding: 0;
    }

    &__event1 {
      padding: 20px 0 0;
    }

    &__event2 {
      padding: 150px 0 0 100px;
    }

    &__event3 {
      padding: 150px 100px 0 0;
    }

    &__name {
      max-width: 370px;
    }

    &__paragraph {
      max-width: 270px;
      margin-bottom: 0;
    }

    &__wrapper-button {
      display: none;
    }

    &__foot {
      margin-top: 142px;
      flex-direction: column;
      justify-content: center;
      row-gap: 10px;
    }

    &__rectan {
      margin: 0;
      width: 170px;
    }
  }

  @media (max-width: 675px) {
    & {
      margin: 60px 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      text-align: left;
      width: 280px;
      font-size: 36px;
      line-height: 125%;
    }

    &__date {
      text-align: left;
      width: 280px;
      font-size: 24px;
      line-height: 125%;
    }

    &__event1 {
      padding: 10px 0 0;
    }

    &__event2 {
      padding: 90px 0 0;
    }

    &__event3 {
      padding: 112px 0 0;
    }

    &__name {
      width: 280px;
    }

    .string {
      display: block;
    }

    &__paragraph {
      width: 130px;
    }

    .par2 {
      margin-left: 150px;
    }

    &__foot {
      margin-top: 100px;
    }
  }
}
