.actual {
  margin-top: 90px;
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;

    @include onTablet {
      justify-content: space-between;
    }

    &-name {
      text-align: center;
      font-family: "Playfair Display", sans-serif ;
      font-weight: 700;
      font-size: 28px;
      line-height: 125%;
      display: flex;
      align-items: center;
      color: $colorBlack;

      @include onTablet {
        font-size: 40px;
      }

      @include onDesktop {
        font-size: 48px;
      }
    }

    &--button {
      display: none;

      @include onTablet {
        display: flex;
        justify-content: center;
        font-family: "Raleway", sans-serif ;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        border: 1px solid #8e4535;
        padding: 20px;
        color: $colorOrange;
        width: 160px;
        gap: 10px;
        transition: 0.5s;

        &:hover {
          background-color: $colorOrange;
          color: $colorWhite;
        }
      }

      &-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
      }

      &-bottom {
        font-family: "Raleway", sans-serif ;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        border: 1px solid $colorOrange;
        padding: 20px;
        color: $colorOrange;
        margin-top: 30px;
        text-align: center;
        transition: 0.5s;

        &:hover {
          background-color: $colorTransparent;
          color: $colorWhite;
        }

        @include onTablet {
          display: none;
        }
      }
    }
  }

  &__block {
    @include onTablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @include onTablet {
      gap: 30px;
    }
  }

  &__angel {
    @include onTablet {
      width: 330px;
    }

    @include onDesktop {
      width: 570px;
    }

    &-img {
      margin-top: 60px;
      transition: 0.5s;
      width: 100%;

      &:hover {
        transform: scale(1.06);
        filter: drop-shadow(3px 3px 12px #000);
      }

      @include onTablet {
        display: flex;
        width: 330px;
        height: 420px;
      }

      @include onDesktop {
        width: 570px;
        height: 484px;
        object-fit: cover;
      }
    }

    &-date {
      font-family: "Raleway", sans-serif ;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $colorOrange;
      margin-top: 20px;
    }

    &-title {
      font-family: "Playfair Display", sans-serif ;
      font-weight: 700;
      font-size: 20px;
      line-height: 125%;
      color: $colorBlack;
      margin-top: 10px;
    }

    &-text {
      font-family: "Raleway", sans-serif ;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #504f5e;
      margin-top: 20px;

      @include onTablet {
        margin-top: 50px;
      }

      @include onDesktop {
        margin-top: 10px;
      }
    }

    &-button {
      font-family: "Raleway", sans-serif ;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      display: flex;
      justify-content: center;
      color: $colorWhite;
      background-color: $colorOrange;
      padding: 22px;
      margin-top: 52px;
      transition: 0.5s;
      width: 100%;
      border-color: $colorOrange;
      border: 0;

      @include onDesktop {
        width: 270px;
      }
    }
  }
}
