.bottom {
  margin-top: 60px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    display: flex;
    gap: 22px;

    @extend %p;
    font-size: 14px;
    line-height: 140%;
    color: $white-color;

    @include onDesktop {
      gap: 102px;
    }
  }

  &__button {
    @include hover(transform, scale(1.3));
  }
}
