.bottom-text {
  font-family: "Raleway", sans-serif;
  @include weight-size-height (200, 16px ,16px);
  position: relative;
  padding-bottom: 11px;
  color: #1c1b29;
  text-align: center;

  @include desktop {
    text-align: right;
    padding-right: 200px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -20%;
    left: 25%;
    right: 25%;
    border-bottom: 1px solid #1c1b29;

    @include tablet {
      right: 20%;
      left: 20%;
    }

    @include desktop {
      bottom: 60%;
      left: 70%;
      right: 0;
      width: 70px;
    }
  }
}
