.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 60px;
  background-color: $c-orange;
  border: none;
  cursor: pointer;

  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #f1f5f4;
  text-decoration: none;

  @include hover(background-color, $c-orangeRed);

  @include desktop {
    margin: 0;
    width: 270px;
  }

  &:active {
    background-color: $c-active;
  }

  &__alternate {
    display: none;
    background-color: transparent;
    border: 1px solid $c-orange;
    color: $c-orange;

    &:hover {
      background-color: #e5e5e5;
      color: $c-orangeRed;
      border: 1px solid $c-orangeRed;
    }

    &:active {
      color: $c-active;
      border: 1px solid $c-active;
    }
  
    @include tablet {
      display: flex;
    }

    // &--gap {
    //   display: flex;
    //   gap: 12px;
    // }
  
    &--hidden {
      display: flex;
      gap: 12px;

      @include tablet {
        display: none;
      }
    }
  }
}
