.button {
  display: block;
  height: 60px;
  width: 100%;
  position: relative;
  background-color: $Main;
  @extend %fontStyleFor-Button;
  color: $White;
  text-align: center;
  text-decoration: none;
  border: 0;
  padding: 0;
  @include transition-duration(background-color);
  &:hover {
    background-color: $ButtonHover;
  }
  &:active {
    background-color: $ButtonActive;
  }
  &:disabled {
    background-color: $ButtonDisabled;
  }
  &--secondary {
    display: block;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    background-color: $White;
    @extend %fontStyleFor-Button;
    color: $Main;
    text-align: center;
    border: 1px solid $Main;
    text-decoration: none;
    position: relative;
    @include transition-duration(border-color);
    @include transition-duration(color);
    &::after {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      background-image: url(../images/icons/arrow.svg);
      background-size: cover;
      background-position: center;
      top: 50%;
      right: 15%;
      transform: translateY(-50%);
      @include transition-duration(transform);
    }
    &:hover {
      background-color: $White;
      color: $ButtonHover;
      border-color: $ButtonHover;
      &::after {
        transform: translate(50%, -50%)
      }
    }
    &:active {
      color: $ButtonActive;
      border-color: $ButtonActive;
    }
    &:disabled {
      color: $ButtonDisabled;
      border-color: $ButtonDisabled;
    }
  }

  @include tablet {
    width: 330px;
    &--secondary {
      width: 210px;
      &::after {
        top: 50%;
        right: 8%;
        transform: translateY(-50%);
      }
    }
  }

  @include desktop {
    width: 270px;
    &--secondary {
      width: 270px;
      &::after {
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
      }
    }
  }
}
