.button {
  display: block;
  height: 60px;
  width: 100%;
  background-color: $Main;
  @extend %fontStyleFor-Button;
  color: $White;
  text-align: center;
  text-decoration: none;
  &:hover {
    background-color: $ButtonHover;
  }
  &:active {
    background-color: $ButtonActive;
  }
  &:disabled {
    background-color: $ButtonDisabled;
  }
  &--secondary {
    display: block;
    box-sizing: border-box;
    height: 60px;
    width: 279px;
    background-color: $White;
    @extend %fontStyleFor-Button;
    color: $Main;
    text-align: center;
    border: 2px solid $Main;
    text-decoration: none;
    &:hover {
      color: $ButtonHover;
      border-color: $ButtonHover;
    }
    &:active {
      color: $ButtonActive;
      border-color: $ButtonActive;
    }
    &:disabled {
      color: $ButtonDisabled;
      border-color: $ButtonDisabled;
    }
  }

  @include tablet {
    width: 330px;
    &--secondary {
      width: 210px;
      position: relative;
      &::after {
        content: "";
        width: 14px;
        height: 12px;
        background-image: url(../images/icons/arrow.svg);
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 30px;
        left: 152px;
        transform: translate(-50% -50%);
      }
    }
  }

  @include desktop {
    width: 270px;
    &--secondary {
      width: 270px;
      position: relative;
      &::after {
        content: "";
        width: 14px;
        height: 12px;
        background-image: url(../images/icons/arrow.svg);
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 30px;
        left: 190px;
        transform: translate(-50% -50%);
      }
    }
  }
}
