.button-primary {
  line-height: $button-height;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: $c-main;
  color: $c-white;

  @include hover(background-color, $c-button-hover);
  @include pressed(background-color, $c-button-pressed);
  @include disabled(background-color, $c-button-disabled);
}
