.buy-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
  width: 100%;

  background-color: #cd4d31;
  border: none;

  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: $main-text-color;
  text-decoration: none;
}
