.card {
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
  
  @include tablet {
    padding-left: calc(100% - 360px);
    padding-bottom: 150px;
  }

  @include desktop {
    padding-left: calc(100% - 620px);
    padding-top: 130px;
  }

  &--tablet {
    @include tablet {
      padding-left: 0;
    }
    @include desktop {
      padding-left: calc(100% - 1140px);
      padding-top: 150px;
    }
  }

  &--desktop {
    @include desktop {
      padding-top: 20px;
    }
  }

  &__add {
    font-family: "Raleway", sans-serif;
    color: $red-color;
    @include weight-size-height(200, 16px, 24px);
  }

  &__title {
    color: $black-color;
    padding: 10px 0 30px;
    @include weight-size-height(700, 24px, 30px);

    @include desktop {
      padding-bottom: 20px;
    }
  }

  &__description {
    @extend %secondary-text;
    color: $background-color;
    width: 130px;

    &--second {
      align-self: flex-end;
      @include tablet {
        align-self: flex-start;
      }
    }

    @include tablet {
      min-width: 250px;
    }
    @include desktop {
      width: 400px;
    }

    &--events {
      min-width: 250px;
      padding-bottom: 40px;
    }
  }
}
