.container {
  min-width: 320px;
  padding: 20px 20px 60px;
  box-sizing: border-box;
  margin: 0 auto;

  @include tablet {
    min-width: 700px;
    padding: 20px 20px 160px;
  }

  @include desktop {
    max-width: 1480px;
  }

  &__content {
    margin: 0 auto;

    @include tablet {
      margin: 0 60px;
    }

    @include desktop {
      margin: 0;
    }

    &-buttons {
      display: block;
      @include tablet {
        display: flex;
        gap: 30px;
      }
    }
  }
}
