.contact {
  display: flex;
  flex-direction: column;

  &__item {
    color: #f1f5f4;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    box-sizing: border-box;
    border-bottom: 1px solid #3f5252;

    &:hover {
      width: fit-content;
      border-bottom: 1px solid #f1f5f4;
    }
  }

  &__networks {
    display: flex;
    gap: 20px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &--instagram {
      background-image: url(../images/instagram.svg);

      &:hover {
        background-image: url(../images/instagram-hover.svg);
      }
    }

    &--facebook {
      background-image: url(../images/facebook.svg);

      &:hover {
        background-image: url(../images/facebook-hover.svg);
      }
    }

    &--twitter {
      background-image: url(../images/twitter.svg);

      &:hover {
        background-image: url(../images/twitter-hover.svg);
      }
    }

    &--telegram {
      background-image: url(../images/telegram.svg);

      &:hover {
        background-image: url(../images/telegram-hover.svg);
      }
    }
  }

  &__address {
    &:hover .contact__address-place {
      width: fit-content;
      border-bottom: 1px solid #f1f5f4;
    }
  }
}
