.container {
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @include tablet {
    min-width: 768px;
    padding: 0 40px;
  }

  @include desktop {
    max-width: 1480px;
    padding: 0 55px;
  }

  &__content {
    margin: 0 auto;

    @include tablet {
      margin: 0 60px;
    }

    @include desktop {
      margin: 0;
    }

    &-buttons {
      display: block;
      @include tablet {
        display: flex;
        gap: 30px;
      }
    }
  }
}
