.contact-us {
  padding-block: 34px 30px;
  padding-inline: 20px;
  background: #3f5252;

  @include on-tablet {
    padding-inline: 39px;
    padding-block: 50px 30px;
  }

  @include on-desktop {
    padding-inline: 55px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 60px;

    @include on-tablet {
      flex-direction: row;
      gap: 50px;
    }

    @include on-desktop {
      gap: 250px;
      margin-bottom: 70px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &-title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #f1f5f4;
    margin: 0 0 10px;

    @include on-tablet {
      margin-bottom: 30px;
      font-size: 20px;
    }
  }

  &--links {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @include on-tablet {
      margin-bottom: 50px;
    }
  }

  &-link {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: none;
    color: #f1f5f4;

    &:hover {
      color: #1c1b29;
    }
  }

  &__icons {
    display: flex;
    gap: 20px;
  }

  &-schedule {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #f1f5f4;
    margin: 0;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--container {
      display: flex;
      gap: 22px;

      @include on-desktop {
        gap: 102px;
      }
    }

    &-text {
      margin: 0;
      font-family: Raleway, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0%;
      text-align: center;
      color: #f1f5f4;
    }
  }
}
