.copyright {
  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    display: flex;
    align-items: center;
    gap: 22px;

    @include onDesktop {
      gap: 102px;
    }
  }

  &__item {
    @extend %edditional-text;
  }
}
