.event {
  margin: 260px 55px 0;
  position: relative;

  &__title {
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
  }

  &__section1,
  &__section2 {
    display: flex;
    flex-direction: row;
    column-gap: 70px;
  }

  &__section1 {
    margin-top: 150px;
  }

  &__section2 {
    margin: 287px 100px 0 0;
    justify-content: flex-end;
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 10px;
  }

  &__month,
  &__time {
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 100%;
  }

  &__month {
    color: #f1f5f4;
    -webkit-text-stroke: 1px #cd4d31;
  }

  &__time {
    margin-right: -40px;
    color: #cd4d31;
    font-size: 36px;
  }

  &__hidd1,
  &__hidd2 {
    display: none;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__what,
  &__story,
  &__hidd1,
  &__hidd2 {
    color: #1c1b29;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
  }

  &__wher {
    margin: 10px 0 8px;

    color: #1c1b29;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;
    max-width: 470px;
  }

  .gudimov {
    display: block;
  }

  .austr {
    margin-bottom: 20px;
  }

  &__story,
  &__hidd1 {
    color: #504f5e;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    max-width: 470px;
  }

  &__hidd1 {
    color: #cd4d31;
  }

  &__wrapper-button {
    margin: 60px 0 0;
    padding: 22px 0;
  }

  &__button {
    padding: 22px 70px;
    background-color: #cd4d31;

    color: #f1f5f4;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;

    transition-property: box-shadow;
    transition-duration: 1s;
  }

  &__button:hover {
    box-shadow: 0 0 10px #cd4d31;
  }

  &__man {
    position: absolute;
    width: 370px;
    height: 475px;
    background-image: url(../images/event/man.png);
    background-position: center;
    background-repeat: no-repeat;

    top: 120px;
    right: 0;
  }

  &__woman {
    position: absolute;
    width: 370px;
    height: 475px;
    background-image: url(../images/event/woman.png);
    background-position: center;
    background-repeat: no-repeat;

    top: 672px;
    left: 0;
  }

  &__foot {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
  }

  &__foot-text {
    color: #1c1b29;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
  }

  &__rectan {
    margin-right: 62px;
    width: 70px;
    height: 1px;
    background-color: #1c1b29;
  }

  @media (max-width: 1250px) {
    &__man,
    &__woman {
      display: none;
    }
  }

  @media (max-width: 1200px) {
    & {
      margin: 115px 83px 0;
    }

    &__title {
      padding-right: 170px;
    }

    &__section1,
    &__section2 {
      column-gap: 30px;
      justify-content: center;
    }

    &__section1 {
      margin-top: 55px;
    }

    &__section2 {
      margin: 60px 0 0;
    }

    &__month {
      font-size: 36px;
    }

    &__time {
      margin: 0;
      font-size: 24px;
    }

    &__wher {
      margin-bottom: 20px;
    }

    &__wrapper-button {
      margin-top: 30px;
    }

    &__foot {
      margin-top: 60px;
      flex-direction: column;
      justify-content: center;
      row-gap: 10px;
    }

    &__rectan {
      margin: 0;
      width: 170px;
    }
  }

  @media (max-width: 600px) {
    &__what {
      display: none;
    }

    & {
      margin: 100px 20px 0;
    }

    &__title {
      padding: 0;
      text-align: left;
      font-size: 36px;
      line-height: 125%;
    }

    &__section1,
    &__section2 {
      flex-direction: column;
    }

    &__section1 {
      margin-top: 60px;
    }

    &__month,
    &__time {
      display: none;
    }

    &__date {
      margin-bottom: 20px;
      flex-direction: row;
      align-items: center;
      column-gap: 20px;
    }

    &__hidd1,
    &__hidd2 {
      display: block;
    }

    &__wher {
      margin-top: 0;
    }

    .gudimov {
      display: inline;
    }
  }
}
