.event {
  margin-top: 90px;

  @include onTablet {
    margin-top: 164px;
  }
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-name {
      font-family: "Playfair Display", sans-serif ;
      font-weight: 700;
      font-size: 28px;
      line-height: 125%;
      display: flex;
      align-items: center;
      color: $colorBlack;

      @include onTablet {
        font-size: 40px;
      }

      @include onDesktop {
        font-size: 48px;
      }
    }

    &--button {
      display: none;

      @include onTablet {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 10px;
        font-family: "Raleway", sans-serif ;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        color: $colorOrange;
        border: 1px solid $colorOrange;
        padding: 20px;
        width: 170px;
        transition: 0.5s;

        &:hover {
          color: $colorWhite;
          background-color: $colorTransparent;
        }
      }

      @include onDesktop {
        width: 200px;
      }

      &-bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        font-family: "Raleway", sans-serif ;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        border: 1px solid $colorOrange;
        padding: 20px;
        margin-top: 30px;
        color: $colorOrange;
        text-align: center;
        transition: 0.5s;

        &:hover {
          background-color: $colorTransparent;
          color: $colorWhite;
        }

        @include onTablet {
          display: none;
        }
      }
    }
  }

  &__angel {
    @include onTablet {
      display: flex;
      flex-direction: row;
      gap: 30px;
    }

    &-block {
      @include onTablet {
        display: flex;
        flex-direction: column;
      }
    }

    &-img {
      margin-top: 60px;
      width: 100%;
      transition: 0.5s;

      &:hover {
        transform: scale(1.1);
        filter: drop-shadow(3px 3px 12px #000);
      }

      @include onTablet {
        width: 330px;
        height: 442px;
      }

      @include onDesktop {
        width: 370px;
        height: 470px;
      }
    }

    &-date {
      font-family: "Raleway", sans-serif ;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $colorOrange;
      margin-top: 20px;

      @include onTablet {
        margin-top: 70px;
      }
    }

    &-title {
      font-family: "Playfair Display", sans-serif ;
      font-weight: 700;
      font-size: 20px;
      line-height: 125%;
      color: $colorBlack;
      margin-top: 10px;

      @include onTablet {
        font-size: 24px;
      }
    }

    &-text {
      font-family: "Raleway", sans-serif ;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #504f5e;
      margin-top: 20px;
    }

    &-button {
      font-family: "Raleway", sans-serif ;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      display: flex;
      justify-content: center;
      color: $colorWhite;
      background-color: $colorOrange;
      padding: 22px;
      margin-top: 52px;
      transition: 0.5s;
      width: 100%;
      border: 0;

      @include onDesktop {
        width: 270px;
      }
    }
  }
}
