.events {
  grid-column: 1 / -1;

  @include page-grit;

  @include on-tablet {
    gap: 30px;
  }

  @include on-desctop {
    width: 1170px;
  }

  &__icon {
    grid-column: 1/-1;
    width: 100%;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desctop {
      grid-column: span 4;
    }
  }

  &__description {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 4/-1;
    }

    @include on-desctop {
      grid-column: 5/-1;
    }
  }
}
