.exhibition-item {
  @include items-styles;

  @include tablet {
    grid-column: span 3;
  }

  &__photo-wrapper {
    @include tablet {
      margin-bottom: 30px;
    }

    @include desktop {
      margin-bottom: 20px;
    }
  }

  &__photo {
    object-position: left;
  }

  &__name {
    @include tablet {
      min-height: 60px;
    }

    @include desktop {
      min-height: 0;
    }
  }

  &__description {
    @include tablet {
      margin-bottom: 10px;
      min-height: 96px;
    }

    @include desktop {
      min-height: 50px;
      margin-bottom: 50px;
    }
  }

  &__button {
    @include desktop {
      grid-column: span 3;
    }
  }
}
