.exibitions {
  @include on-tablet {
    max-width: 330px;
    grid-column: span 3;
  }

  @include on-desctop {
    max-width: 1170px;
    grid-column: span 6;
  }

  &__imeg {
    width: 100%;
  }
}
