.footer {
  background-color: $background-color;
  box-sizing: border-box;

  &__container {
    padding-top: 20px;

    @include tablet {
      padding-top: 60px;
    }
  }

  &__info {
    padding: 60px 0 0;
  }

  &__title {
    @include weight-size-height (700, 24px, 30px);
    color: $primary-color;
    padding-bottom: 30px;
  }

  &__description {
    width: 200px;
    color: $primary-color;
    @extend %secondary-text;
  }

  &__terms {
    margin: 0 auto;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $primary-color;
    padding-bottom: 5px;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
