.footer {
  background-color: $main-background-color;

  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $main-text-color;

  &__contacts {
    padding-top: 34px;

    @include onTab {
      padding-top: 50px;
    }
  }

  &__title {
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
  }

  &__location {
    padding-top: 10px;

    @include onTab {
      padding-top: 30px;
    }
  }

  &__socials {
    padding-top: 30px;

    @include onTab {
      padding-top: 50px;
    }

    display: flex;
    align-items: center;
    gap: 20px;

    &-link {
      display: flex;
      align-items: center;
    }
  }

  &__schedule {
    padding-top: 50px;

    &-list {
      padding-top: 10px;

      @include onTab {
        padding-top: 30px;
      }
    }
  }

  &__navigation {
    padding-top: 50px;

    &-main {
      font-family: "Playfair Display", sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
    }

    &-exhibitions {
      padding-top: 10px;

      @include onTab {
        padding-top: 30px;
      }
    }

    &-events {
      padding-top: 5px;

      @include onTab {
        padding-top: 10px;
      }
    }

    &-news {
      padding-top: 5px;

      @include onTab {
        padding-top: 10px;
      }
    }
  }

  &__terms {
    padding: 50px 0 30px;
    display: flex;
    gap: 22px;

    font-size: 14px;
    line-height: 140%;

    @include onTab {
      padding: 60px 0 30px;
    }

    @include onDesktop {
      padding: 70px 0 30px;
      gap: 110px;
    }
  }
}
