.header {
  position: relative;
  color: #f1f5f4;
  background-color: #3f5252;

  &__toggler {
    display: none;
  }

  &__head {
    margin: 120px 55px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__paragraph {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    max-width: 370px;
  }

  &__title {
    margin: 20px 0 30px;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 100%;
  }

  .textright {
    padding-left: 100px;
  }

  &__wrapper-button {
    margin: 50px 0 120px 100px;
    padding: 22px 0;
  }

  &__button {
    padding: 22px 81px;
    background-color: #cd4d31;
    color: #f1f5f4;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
  }

  &__wrapper-foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 58px;
  }

  &__paragraph-foot {
    margin-right: 20px;
    color: #f1f5f4;
    opacity: 0.7;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 125%;
  }

  &__rectangle-foot {
    width: 492px;
    height: 1px;
    background: #f1f5f4;
    opacity: 0.3;
  }

  &__img {
    position: absolute;
    width: 673px;
    height: 753px;
    background-image: url(../images/1200px-Girl_from_Podolye_by_V.Tropinin_max.png);
    background-repeat: no-repeat;
    background-position: right;
    bottom: 0;
    right: 0;
    z-index: 0;
  }

  .last {
    position: absolute;
    right: 54px;
    bottom: 319px;
  }

  &__toggler:checked ~ &__head {
    visibility: hidden;
  }

  @media (max-width: 1150px) {
    &__head {
      margin-left: 99px;
    }

    &__title {
      font-size: 72px;
    }

    .textright {
      padding-left: 50px;
    }

    &__paragraph.textright {
      padding-left: 0;
      max-width: 267px;
    }

    &__wrapper-button {
      margin: 90px 0 180px;
    }

    &__wrapper-foot {
      display: none;
    }

    &__img {
      width: 399px;
      height: 445px;
      background-image: url(../images/1200px-Girl_from_Podolye_by_V.Tropinin_iPad.png);
    }

    .last {
      display: none;
    }
  }

  @media (max-width: 675px) {
    &__head {
      margin: 120px 20px 0;
    }

    &__title {
      font-size: 48px;
    }

    .textright {
      padding: 0;
    }

    &__wrapper-button {
      margin: 50px 0 100px;
    }

    &__button {
      padding: 22px 104px 22px 64px;
    }

    &__img {
      width: 245px;
      height: 273px;
      background-image: url(../images/1200px-Girl_from_Podolye_by_V.Tropinin_mob.png);
    }
  }
}
