.icon {
  display: block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;

  @include hover(transform, scale(1.1));

  @include on-desctop {
    width: 30px;
    height: 30px;
  }

  &--menu {
    background-image: url(/images/icons/burger-menu.svg);
  }

  &--close {
    background-image: url(/images/icons/icon-close.svg);
  }

  &--facebook {
    background-image: url(/images/icons/facebook-icon.svg);
  }

  &--twitter {
    background-image: url(/images/icons/twitter-icon.svg);
  }

  &--telegram {
    background-image: url(/images/icons/telegram-icon.svg);
  }

  &--instagram {
    background-image: url(/images/icons/instagram-icon.svg);
  }

  &--up {
    background-image: url(/images/icons/icon--arrow-up.svg);
    width: 30px;
    height: 30px;
  }
}
