.icon {
  cursor: pointer;

  &--menu {
    background-image: url(../images/icons/menu.png);
    width: 25px;
    height: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
      background-image: url(../images/icons/hover/menu\ \(1\).png);
    }

    @include on-desktop {
      width: 30px;
      height: 30px;
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.png);
    width: 22px;
    height: 22px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.3s;

    @include on-tablet {
      order: 1;
    }

    @include on-desktop {
      width: 30px;
      height: 30px;
    }

    &:hover {
      transform: scale(1.1);
      background-image: url(../images/icons/hover/cross.png);
    }
  }

  &--facebook {
    background-image: url(../images/icons/facebook.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
      background-image: url(../images/icons/hover/facebook\ \(1\).png);
    }
  }

  &--twitter {
    background-image: url(../images/icons/twitter.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
      background-image: url(../images/icons/hover/twitter\ \(1\).png);
    }
  }

  &--telegram {
    background-image: url(../images/icons/telegram.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
      background-image: url(../images/icons/hover/telegram\ \(1\).png);
    }
  }

  &--instagram {
    background-image: url(../images/icons/instagram.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
      background-image: url(../images/icons/hover/instagram\ \(1\).png);
    }
  }

  &--scroll {
    background-image: url(../images/icons/scroll\ up.png);
    width: 30px;
    height: 30px;
    background-size: cover;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
      background-image: url(../images/icons/hover/scroll\ up.png);
    }
  }
}
