.icon {
  &--menu {
    @extend %icon-position-and-size;
    background-image: url(/images/menu.svg);

    &:hover {
      background-image: url(/images/menu_hover.svg);
    }
  }

  &--cross {
    @extend %icon-position-and-size;

    background-image: url(/images/cross.svg);
    margin-left: 10px;
  }
  
  &--arrow {
    @extend %icon-position-and-size;
    background-image: url(/images/arrow.svg);

  }
}
