.language {
  @extend %secondary-text;
  color: $primary-color;
  background-color: $background-color;
  border-color: $background-color;
  
  display: none;
  padding-left: 40px;
  outline: none;

  @include tablet {
    display: block;
  }

  &--menu {
    display: block;
    order: -1;
    padding-left: 0;

    @include tablet {
      order: 0;
      padding-left: 40px;
    }
  }
}
