.main {
  display: flex;
  flex-direction: column;
  margin-block: 90px 80px;
  row-gap: 120px;

  &__title {
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;

    @include on-tablet {
      font-size: 24px;
      line-height: 30px;
    }

    @include on-desctop {
      margin-block: 10px 20px;
    }

    &--exibition {
      @include on-tablet {
        height: 60px;
      }
    }
    &--events {
      margin-block: 10px 20px;
    }

    &--news {
      margin-block: 0 20px;
    }
  }

  &__text {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    max-width: 370px;
    margin-bottom: 30px;

    @include on-tablet {
      margin: 0;
      padding-bottom: 40px;
    }

    @include on-desctop {
      max-width: 570px;
    }

    &--plan {
      color: #f1f5f4;
    }

    &--events {
      margin: 0;
      padding-bottom: 30px;

      @include on-tablet {
        padding-bottom: 40px;
      }
    }

    &--news {
      margin: 0;
    }

    &--subscription {
      grid-column: 1 / -1;

      @include on-desctop {
        max-width: 570px;
        grid-column: 6 / -2;
      }
    }
  }

  &__date {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #cd4d31;

    @include on-desctop {
      margin: 0;
    }

    &--events {
      margin-block: 10px 0;

      @include on-tablet {
        margin: 0;
      }
    }

    &--news {
      margin-block: 10px 0;
    }
  }
}
