.main {
  padding-inline: 20px;
  margin-block: 90px 80px;

  @include on-tablet {
    padding-inline: 39px;
    margin-block: 100px 128px;
  }

  @include on-desktop {
    padding-inline: 55px;
    margin-block: 110px 200px;
  }
}
