.menu {
  background-color: $header-color;
  height: 100vh;
  overflow: hidden;

  &__content {
    display: grid;

    @include page-grid;

    padding-top: 10px;

    @include on-tablet {
      padding-top: 30px;
    }

    @include on-desctop {
      padding-top: 14px;
    }
  }

  &__schedule {
    font-family: Raleway, sans-serif;
    color: $white-color;
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1/3;
    }
  }

  &__subtitle {
    font-size: 14px;
    line-height: 19.6px;
    font-weight: 400;
    grid-column: 1/-1;

    &--link {
      color: $white-color;
      text-decoration: none;
      font-size: 16px;
      line-height: 150%;
    }
  }

  &__adress {
    font-family: Raleway, sans-serif;
    color: $white-color;
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 3/6;
    }
  }

  &__description {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    &--time {
      margin-bottom: 20px;

      @include on-desctop {
        margin-bottom: 0;
      }
    }
  }

  &__decor {
    background-color: $white-color;
    width: 100%;
    height: 1px;
    margin-bottom: 40px;
    grid-column: 1/-1;

    @include on-tablet {
      margin-bottom: 50px;
    }

    @include on-desctop {
      grid-column: 1/7;
      margin-bottom: 60px;
    }
  }

  &__button {
    grid-column: 1/-1;

    @include on-desctop {
      margin-bottom: 108px;
    }
  }

  &__img {
    display: none;

    @include on-tablet {
      grid-column: -6/-2;
      display: flex;
      margin-top: 30px;
    }

    @include on-desctop {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 90%;
    }
  }

  &__foto {
    width: 100%;
    height: 100%;
  }
}
