.news {
  margin: 90px auto 120px;

  @include onTablet {
    margin: 125px auto 160px;
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-name {
      font-family: "Playfair Display", sans-serif ;
      font-weight: 700;
      font-size: 28px;
      line-height: 125%;
      display: flex;
      align-items: center;
      color: $colorBlack;

      @include onTablet {
        font-size: 40px;
      }
    }

    &--button {
      display: none;

      @include onTablet {
        display: flex;
        justify-content: center;
        font-family: "Raleway", sans-serif ;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        border: 1px solid $colorOrange;
        padding: 20px;
        margin-top: 30px;
        color: $colorOrange;
        text-align: center;
        width: 150px;
        gap: 10px;
        transition: 0.5s;

        &:hover {
          background-color: $colorTransparent;
          color: $colorWhite;
        }
      }

      &-bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        font-family: "Raleway", sans-serif ;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        border: 1px solid $colorOrange;
        padding: 20px;
        margin-top: 30px;
        color: $colorOrange;
        text-align: center;
        transition: 0.5s;

        &:hover {
          background-color: $colorTransparent;
          color: $colorWhite;
        }

        @include onTablet {
          display: none;
        }
      }
    }
  }

  &__block {
    @include onTablet {
      display: flex;
      flex-direction: row;
      gap: 30px;
    }
  }

  &__angel {
    &-img {
      margin-top: 60px;
      width: 100%;
      transition: 0.5s;

      &:hover {
        transform: scale(1.06);
        filter: drop-shadow(3px 3px 12px #000);
      }

      @include onDesktop {
        width: 570px;
        height: 370px;
        object-fit: cover;
      }
    }

    &-date {
      font-family: "Raleway", sans-serif ;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: $colorBlack;
      margin-top: 20px;

      @include onTablet {
        margin-top: 30px;
      }
    }

    &-title {
      font-family: "Playfair Display", sans-serif ;
      font-weight: 700;
      font-size: 20px;
      line-height: 125%;
      color: $colorBlack;
    }

    &-text {
      font-family: "Raleway", sans-serif ;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #504f5e;
      margin-top: 20px;
    }
  }
}
