.news {
  @include onTab {
    padding-top: 120px;
  }

  &__image {
    width: 280px;
    height: 280px;

    @include onTab {
      padding-top: 70px;

      width: 330px;
      height: 330px;
    }
  }
  &__duration {
    color: #1c1b29;
  }
}
