.news-digest {
  background-color: $red-color;
  padding: 80px 0;

  &__title {
    @include weight-size-height(700,36px,36px);
    color: $primary-color;
    padding-bottom: 40px;

    @include tablet {
      padding-bottom: 30px;
      @include weight-size-height(700,48px,58px)
    }

    @include desktop {
      padding-bottom: 40px;
    }
  }

  &__description{
    @extend %secondary-text;
    color: $primary-color;
    padding-bottom: 60px;

    @include tablet {
      padding-bottom: 80px;
    }
    @include desktop {
      padding: 0;
    }
  }

  &__input {
    @extend %secondary-text;
    background-color: transparent;
    border: 0px solid;
    border-bottom: $border;
    width: 230px;
    outline: none;
    color: $primary-color;

    &::placeholder {
      color: $primary-color;
      opacity: 0.8;
    }

    @include tablet{
    }
  }

  &__input-button {
    cursor: pointer;;
    background-color: transparent;
    border: 1px solid $primary-color;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: $primary-color;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__input-arrow {
    @extend %secondary-text;
  }
}