.html {
  scroll-behavior: smooth;
}

.page {
  font-family: 'Playfair Display', Raleway, sans-serif;

  &__body {
    margin: 0;
    min-width: 320px;
  }

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__menu {
    z-index: 1;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    transition: all 0.3s;
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}
