.page {
  scroll-behavior: smooth;
  position: relative;
  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    @include transition-duration(transform);
    &:target {
      transform: translateX(0%);
    }
  }
}
