.relevant-card {

  

  &__images {
    display: block;
    width: 100%;
    height: auto;
    
    @include hover(scale, 1.1);
  }

  &__date {
    color: $c-orange;
    margin: 20px 0 10px;

    @include tablet {
      margin-top: 30px;
    }

    @include desktop {
      margin-top: 20px;
    }
  }

  &__title {
    @extend %section-title;

    @include tablet {
      height: 60px;
    }

    @include desktop {
      height: auto;
    }
  }

  &__text {
    margin: 20px 0 30px;
    color: $c-text;

    @include tablet {
      height: 70px;
      margin-bottom: 40px;
    }

    @include desktop {
      height: auto;
      margin-bottom: 50px;
    }
  }
}
