.relevant {
  &__top {
    margin-bottom: 60px;
    
    @include tablet {
      margin-bottom: 75px;
    }
    
    @include desktop {
      margin-bottom: 70px;
    }
  }

  &__content {
    margin-bottom: 30px;
    
    @include tablet {
      margin-bottom: 0;
    }
  }
}
