.schedule {
  &__title {
    @extend %h6;
    font-size: 18px;
    color: $white-color;

    @include onTablet {
      font-size: 20px;
    }
  }

  &__list {
    margin-top: 10px;
    @extend %p;
    color: $white-color;

    @include onTablet {
      margin-top: 30px;
    }
  }
}
