.schedule {
  &__list {
    padding: 0;
    margin: 0;
  }

  &__item {
    list-style: none;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    color: #f1f5f4;
  }
}
