.select {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: $c-title;
  @include hover(color, $c-blue );

  @include tablet {
    display: block;
    margin-top: 0;
  }

  &--menu {
    display: block;

    @include tablet {
      display: none;
    }
  }

  & option {
    background-color: $c-background-footer;
  }
}
