.subscription {
  margin-bottom: 80px;

  @include tablet {
    margin-bottom: 128px;
  }

  @include desktop {
    margin-bottom: 200px;
  }

  &__text {
    margin-top: 20px;
    color: $c-blue;

    @include desktop {
      margin-top: 0;
    }
  }
}
