.subscription {
  @include on-desctop {
    grid-column: 1/-1;
  }

  &__input {
    all: unset;
    box-sizing: border-box;
    width: 280px;
    border-bottom: 1px solid #1c1b29;
    margin-block: 20px 30px;

    &:hover {
      color: #cd4d31;
      border-color: #cd4d31;
    }

    @include on-desctop {
      width: 470px;
      margin-block: 50px 40px;
    }

    &::placeholder {
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #1c1b29;
    }
    &:hover::placeholder {
      color: #cd4d31;
    }
  }
}
