.subs {
  margin-top: 184px;
  position: relative;
  background-color: #cd4d31;
  color: #f1f5f4;

  &__title {
    padding: 160px 0 0 55px;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
  }

  &__wrapper {
    padding: 41px 0 160px 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 160px;
  }

  &__paragraph {
    max-width: 540px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
  }

  &__form:focus {
    border: 0;
    outline: 0;
  }

  &__email {
    padding-left: 10px;
    border: 0;
    outline: 0;
    background-color: #cd4d31;
    color: #f1f5f4;
  }

  &__email::placeholder {
    color: #f1f5f4;
  }

  &__rectan {
    margin-top: 3px;
    width: 300px;
    height: 1px;
    background-color: #f1f5f4;
  }

  &__button {
    padding: 0;
    border: 0;
    background-color: transparent;

    position: absolute;
    bottom: 98px;
    right: 185px;
    cursor: pointer;
  }

  &__button:focus {
    outline: 0;
    border: 0;
  }

  &__circle {
    visibility: hidden;
    position: relative;
    width: 42px;
    height: 42px;
    background-image: url(../images/circle.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  &__button:hover &__circle {
    visibility: visible;
  }

  &__row {
    position: absolute;
    width: 20px;
    height: 16px;
    background-image: url(../images/row.png);
    background-position: center;
    background-repeat: no-repeat;
    top: 13px;
    left: 11px;
  }

  @media (max-width: 900px) {
    & {
      margin-top: 120px;
    }

    &__title {
      padding: 110px 99px 0;
      max-width: 570px;
    }

    &__wrapper {
      padding: 30px 99px 0;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 80px;
    }

    &__button {
      bottom: 120px;
      right: 317px;
    }

    &__circle {
      visibility: visible;
    }

    &__rectan {
      margin-bottom: 120px;
    }
  }

  @media (max-width: 760px) {
    &__rectan {
      width: 228px;
    }
  }

  @media (max-width: 700px) {
    & {
      margin-top: 80px;
    }

    &__title {
      padding: 80px 20px 0;
      font-size: 36px;
      line-height: 100%;
    }

    &__wrapper {
      padding: 40px 20px 0;
      row-gap: 62px;
    }

    &__rectan {
      margin-bottom: 80px;
      width: 228px;
    }

    &__button {
      bottom: 80px;
      right: 20px;
    }
  }
}
