.terms {
  @extend %secondary-text;
  color: $primary-color;
  font-weight: 200;
  opacity: 0.5;
  width: 124px;
  padding: 40px 0;

  @include tablet {
    display: flex;
    justify-content: space-around;
    width: 340px;
    padding: 120px 0 60px 20;
  }

  @include desktop {
    padding-top: 78px;
  }
}
