.timeframe {
  color: $primary-color;
  @include weight-size-height(700, 14px, 17px);

  opacity: 70%;
  visibility: hidden;

  @include desktop {
    & {
      visibility: visible;
    }

    &::after {
      content: "";
      position: absolute;
      top: 60%;
      margin-left: 20px;

      display: inline-block;
      opacity: 30%;
      width: 850px;
      border-bottom: $border;
    }
  }
}
