.upcoming-events {
  @include page-grid;

  padding-bottom: 90px;

  @include on-tablet {
    padding-bottom: 100px;
  }

  @include on-desktop {
    padding-bottom: 110px;
  }

  &__img {
    grid-column: 1 / -1;
    padding-top: 60px;

    @include hover(transform, scale(1.05));

    @include on-tablet {
      grid-column: 1 / 4;
      padding-top: 70px;
    }

    @include on-desktop {
      grid-column: 1 / 5;
    }

    &--dimensions {
      width: 100%;
      height: auto;
    }
  }

  &__contain {
    grid-column: 1 / -1;
    padding-top: 20px;

    @include on-tablet {
      grid-column: 4 / -1;
      padding-top: 70px;
    }

    @include on-desktop {
      grid-column: 5 / -1;
    }
  }

  &__date {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    color: $c-text-orange;
    padding-bottom: 10px;
  }

  &--padding {
    @include on-desktop {
      padding-top: 60px;
    }
  }

  &__h4 {
    margin: 0;
  }

  &__description {
    font-family: 'Playfair Display', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    color: $c-text-grey;
    padding: 20px 0 30px;

    @include on-tablet {
      padding-bottom: 50px;
    }
  }
}
