.upcoming-events {
  @include page-grid;

  grid-column: 1 / -1;
  padding-bottom: 90px;

  @include on-tablet {
    padding-bottom: 100px;
  }

  @include on-desctop {
    padding-bottom: 110px;
  }

  &__images {
    display: none;

    @include on-desctop {
      display: flex;
      background-image: url(../images/main/main_visit.svg);
      background-repeat: no-repeat;
      position: absolute;
      height: 762px;
      width: 100%;
      left: 0;
    }
  }

  &__top {
    grid-column: 1 / -1;
    padding-top: 120px;

    @include on-tablet {
      padding-top: 160px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @include on-desctop {
      padding-top: 200px;
    }
  }

  &__section {
    grid-column: 1 / -1;
    padding-top: 60px;

    @include on-tablet {
      grid-column: 1 / 4;
      padding-top: 76px;
    }

    @include on-desctop {
      grid-column: 1 / 5;
      padding-top: 70px;
    }
  }

  &__img {
    @include hover(transform, scale(1.05));
  }

  &__block {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desctop {
      grid-column: 5 / 11;
    }
  }

  &__date {
    @include on-tablet {
      padding-top: 76px;
    }

    @include on-desctop {
      padding-top: 70px;
    }
  }
}
