.visit {
  margin-top: 184px;
  position: relative;
  background: #3f5252;
  color: #f1f5f4;

  &__img {
    position: absolute;
    width: 540px;
    height: 795px;
    background-image: url(../images/event/visit.png);
    background-position: left;
    background-repeat: no-repeat;
    left: 0;
  }

  &__wrapper {
    padding: 190px 25px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__title {
    max-width: 700px;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 100%;
  }

  &__content {
    padding: 60px 155px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 60px;
  }

  &__paragraph,
  &__button {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
  }

  &__paragraph {
    max-width: 470px;
  }

  &__wrapper-button {
    margin-bottom: 160px;
    padding: 22px 0;
  }

  &__button {
    padding: 22px 100px;
    background-color: #cd4d31;
    text-decoration: none;
    color: #f1f5f4;
    line-height: 100%;

    transition-property: box-shadow;
    transition-duration: 1s;
  }

  &__button:hover {
    box-shadow: 0 0 10px #cd4d31;
  }

  @media (max-width: 1200px) {
    & {
      margin-top: 120px;
    }

    &__img {
      width: 250px;
      height: 462px;
      background-image: url(../images/event/visit_iPad.png);
      bottom: 0;
    }

    &__wrapper {
      padding: 120px 0 0;
    }

    &__title {
      padding-right: 146px;
      width: 523px;
      font-size: 72px;
    }

    &__content {
      padding: 80px 99px 0 0;
    }

    &__paragraph {
      max-width: 370px;
    }
  }

  @media (max-width: 750px) {
    &__img {
      display: none;
    }

    & {
      margin-top: 80px;
    }

    &__wrapper {
      padding: 80px 20px 0;
      align-items: center;
    }

    &__title {
      padding: 0;
      font-size: 48px;
      max-width: 280px;
    }

    &__content {
      padding: 40px 0 0;
    }

    &__paragraph {
      max-width: 280px;
    }

    &__wrapper-bottom {
      margin-bottom: 80px;
    }
  }
}
