.vizit {
  background-color: $background-header-color;

  @include onDesktop {
    background-repeat: no-repeat;
    background-image: url(../images/visit/visit_background.png);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 416px;

    @include onTablet {
      height: 516px;
    }

    @include onDesktop {
      margin-left: auto;

      height: 800px;
      width: 670px;
    }
  }

  &__title {
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;

    color: $text-color;

    margin-bottom: 20px;

    @include onTablet {
      font-size: 62px;
    }

    @include onDesktop {
      font-size: 80px;

      margin-top: 10px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $text-color;

    margin-bottom: 40px;

    @include onTablet {
      width: 450px;
      margin-bottom: 60px;
    }

    @include onDesktop {
      width: 470px;
      margin-bottom: 50px;
    }
  }

  &__button {
    @include onTablet {
      align-self: flex-start;
      width: 330px;
    }

    @include onDesktop {
      width: 270px;
    }
  }
}
