.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 60px;
  background-color: #cd4d31;
  font-family: "Raleway" , serif;
  border-color: transparent;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #f1f5f4;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  box-sizing: border-box;

  &:hover {
    background-color: #af3419;
  }

  &:active {
    background-color: #ea340d;
  }

  @include onTablet {
    width: 330px;
  }

  &__top {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../images/Group.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
      transform: scale(110%);
    }
  }

  &--archive {
    background-color: #fff;
    border: 1px solid #cd4d31;
    color: #cd4d31;

    &:hover {
      color: #af3419;
      border-color: #af3419;
      background-color: #fff;
    }

  }

  &-box-desktop {
    display: block;
  }

  &--desktop {
    width: 210px;

    &::after {
      display: block;
      content: url(../images/photo/intoDefault.svg);
      padding-left: 5px;
    }

    &:hover {
      border-color: #af3419;
      color: #af3419;
      background-color: #fff;
    }

    &:active {
      border-color: #ea340d;
      color: #ea340d;
      background-color: #fff;
    }
  }
}
