.container {
  padding: 0 20px;
  max-width: 1170px;
  margin: 0 auto;

  @include onTablet {
    padding: 0 38px;
  }

  @include onDesktop {
    padding: 0 54px;
  }

  &__catalog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    &--column {
      flex-direction: column !important;
    }

    @include onTablet {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__button-box {
    display: flex;
    justify-content: center;

    @include onTablet {
      display: none;
    }
  }

  &__desktop-button-box {
    display: none;

    @include onTablet {
      display: flex;
      justify-content: center;
    }
  }

  &--top {
    margin-top: 34px;
  }
}
