.content {
  padding: 39px 20px 0;

  @include onTablet {
    padding: 42px 26px 0;
  }

  @include onDesktop {
    padding: 58px 32px 0;
  }

  &__box-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 30px;

    @include onTablet {
      margin-top: 50px;
      margin-bottom: 124px;
    }
  }

  &__title {
    font-family: "Namu" , sans-serif;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    color: #F1F5F4;
    text-transform: uppercase;
  }

  &__menu-opener {
    display: block;
    width: 18px;
    height: 18px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/menu.svg);
  }


  &__date {
    font-family: "Raleway" , serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #F1F5F4;
    margin-bottom: 10px;
  }

  &__denomination {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    color: #F1F5F4;
    margin-bottom: 30px;
    width: 100%;

    @include onTablet {
      font-size: 72px;
    }

    @include onDesktop {
      font-size: 96px;
    }
  }

  &__info {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #F1F5F4;
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 50px;
    }

    @include onDesktop {
      margin-bottom: 80px;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    transform: rotateX(-50% , -50%);

    @include onTablet {
      right: 0;
    }
  }

  &__photo {

    @include onTablet {
      width: 443px;
      height: 494px;
    }

    @include onDesktop {
      width: 625px;
      height: 663px;
    }
  }
}
