.events {
  margin-bottom: 60px;
  width: 280px;

  @include onTablet {
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    height: 750px;
  }

  @include onDesktop {
    width: 470px;
  }

  &__photo {
    margin-bottom: 20px;

    @include onTablet {
      width: 330px;
      height: 420px;
      margin-bottom: 30px;
    }

    @include onDesktop {
      width: 470px;
      height: 484px;
      margin-bottom: 20px;
    }
  }

  &__date {
    font-family: 'Raleway' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CD4D31;
  }

  &__name {
    font-family: "Playfair", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #1C1B29;
    margin-bottom: 20px;

    @include onTablet {
      font-size: 24px;
    }
  }

  &__description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #504F5E;

    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }
}
