.footer {
  background-color: #3f5252;
  color: #f1f5f4;
  box-sizing: border-box;
  height: 750px;

  @include onTablet {
    height: 388px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include onTablet {
      flex-direction: row;
      justify-content: flex-start;
      margin-top: 50px;
    }

  }

  &__contacts {
    margin-bottom: 50px;

    @include onTablet {
      margin-right: 30px;
    }

    @include onDesktop {
      margin-right: 250px;
    }

  }

  &__schedule {
    @include onTablet {
      margin-right: 30px;
    }

    @include onDesktop {
      margin-right: 250px;
    }
  }

  &__contacts-name {
    font-family: "Playfair", serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;

    margin-bottom: 10px;

    @include onTablet {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  &__contacts-info {
    font-family: "Raleway" , serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 50px;
    text-decoration: none;
    color: #f1f5f4;
    transition: color 0.3s;

    &:hover {
      color: #cd4d31;
    }
  }

  &__networks {
    margin-top: 32px;

    @include onTablet {
      margin-top: 50px;
    }
  }

  &__networks-logo {
    margin-right: 25px;
    cursor: pointer;
    text-decoration: none;
  }

  &__main {
    margin-bottom: 60px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }

  &__nav-link {
    text-decoration: none;
    color: #f1f5f4;

    transition: color 0.5s;

    &:hover {
      color: #cd4d31;
    }
  }

  &__date {
    font-family: "Raleway" , serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date-info {
    display: flex;
    gap: 10px;
  }
}
