.image {
  object-position: center;
  object-fit: cover;
  min-height: 356px;
  width: 100%;

  @include tablet {
    height: 420px;
  }

  @include desctop {
    height: 484px;
  }

  &--news {
    height: 281px;

    @include tablet {
      height: 330px;
    }

    @include desctop {
      height: 370px;
    }
  }
}
