.main-content {
  &--disabled {
    display: none;
  }

  &__currentExhibitions {
    margin-top: 110px;

    @include tablet {
      margin-top: 105px;
    }

    @include mobile {
      margin-top: 100px;
    }

    @include small {
      margin-top: 90px;
    }
  }

  &__upcomingEvents {
    margin-top: 200px;

    @include tablet {
      margin-top: 164px;
    }

    @include mobile {
      margin-top: 120px;
    }

    @include small {
      margin-top: 120px;
    }
  }

  &__planVisit {
    margin-top: 110px;

    @include tablet {
      margin-top: 100px;
    }

    @media (max-width: 768px) {
      margin-top: 90px;
    }
  }

  &__news {
    margin-top: 110px;

    @include tablet {
      margin-top: 125px;
    }

    @media (max-width: 768px) {
      margin-top: 90px;
    }
  }

  &__subscribe {
    margin: 200px 0;

    @include tablet {
      margin: 160px 0 130px;
    }

    @media (max-width: 768px) {
      margin: 120px 0 80px;
    }
  }
}
