.news {
  background-color: $color_white;
  width: 100%;

  &__title {
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 125%;
    display: flex;
    align-items: center;
    color: $color_black;
    margin-top: 90px;
    height: 60px;

    @include tablet {
      font-size: 40px;
      grid-column: 1 / 5;
      margin-top: 120px;
    }

    @include desctop {
      grid-column: 1 / 3;
      margin-top: 110px;
      font-size: 48px;
    }
  }

  &__button {
    grid-column: 1 / 3;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: $color_red;
    order: 3;
    border: 1px solid $color_red;
    background-color: $color_white;
    margin-top: 30px;
    text-decoration: none;

    &::after {
      content: "";
      background-image: url(../images/strelka.svg);
      display: inline-block;
      width: 14px;
      height: 12px;
      margin-left: 8px;
      background-size: contain;
    }

    @include tablet {
      grid-column: 5 / 7;
      order: 0;
      margin-top: 120px;
    }

    @include desctop {
      grid-column: 10 / 13;
      order: 0;
      margin-top: 110px;
    }
  }

  &__event {
    margin-top: 60px;

    @include tablet {
      margin-top: 70px;
    }

    &--1 {

      @include tablet {
        grid-column: 1 / 4;
      }

      @include desctop {
        grid-column: 1 / 7;
      }
    }

    &--2 {
      @include tablet {
        grid-column: 4 / 7;
      }

      @include desctop {
        grid-column: 7 / 13;
      }
    }

    &--data {
      font-size: 14px;
      line-height: 140%;
      color: $color_black;
      margin-top: 20px;
    }

    &--title {
      font-family: "Playfair Display", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 125%;
      display: flex;
      align-items: center;
      color: $color_black;
      text-decoration: none;

      @include tablet {
        line-height: 150%;
      }
    }

    &--text {
      font-size: 16px;
      line-height: 150%;
      display: flex;
      align-items: center;
      color: $color_grey;
      margin: 20px 0 50px;
    }
  }

  &__content {

    @include tablet {
      grid-column: 1 / 7;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
    }

    @include desctop {
      grid-column: 1 / 13;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 30px;
    }
  }
}
