.page {
  scroll-behavior: smooth;

  &__body {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
  }
}
