h1,
p,
input {
  margin: 0;
}

input {
  padding: 0;
  border: 0;
}

.page {
  scroll-behavior: smooth;

  &__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 320px;
    background-color: #f1f5f4;
    color: #f1f5f4;
  }

  &__header {
    background-color: #3f5252;
    width: 100%;
    height: 100vh;
  }

  &__nav {
    background-color: #3f5252;
    width: 100%;
    height: 100vh;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;

    &:target {
      transform: translate(0%);
    }
  }

  &__section {
    margin-bottom: 60px;
  }

  &__section-title-box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__section-title {
    font-family: "Playfair", serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: #1c1b29;
    margin-bottom: 60px;

    &--margin-bottom {
      margin-bottom: 20px !important;
    }

    @include onTablet {
      font-size: 40px;
    }

    @include onDesktop {
      font-size: 48px;
    }
  }
}
