ul {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
}

.page {
  scroll-behavior: smooth;

  &__body {
    font-family: "Playfair Display", serif;
    width: 100%;
  }

  &__wrapper {
    @include flex-column;
    min-height: 100vh;
    overflow: hidden;
    flex: 1 1 auto;
  }

  &__conteiner {
    padding: 0 55px;
    display: flex;

    @include tablet {
      padding: 0 40px;
    }

    @media (max-width: 768px) {
      padding: 0 20px;
    }
  }
}
