.subscribe {
  background-color: $color_white;
  width: 100%;

  &__title {
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 125%;
    display: flex;
    align-items: center;
    color: $color_black;
    margin-top: 120px;

    @include tablet {
      font-size: 40px;
      margin-top: 160px;
      grid-column: 1 / 7;
    }

    @include desctop {
      font-size: 48px;
      line-height: 120%;
      margin-top: 200px;
      grid-column: 1 / 7;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: flex-start;
    color: $color_black;
    margin-top: 20px;

    @include tablet {
      grid-column: 1 / 6;
    }

    @include desctop {
      margin-top: 200px;
      grid-column: 7 / 13;
    }
  }

  &__form {
    margin-top: 50px;
    grid-column: 1 / 3;
    margin-bottom: 80px;

    @include tablet {
      grid-column: 1 / 5;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 30px;
      margin-bottom: 126px;
    }

    @include desctop {
      grid-column: 1 / 7;
      margin-bottom: 200px;
    }
  }

  &__input {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    outline: none;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: $color_black;
    border: none;
    background-color: $color_white;
    border-bottom: 1px solid #1c1b29;
    width: 100%;

    &::placeholder {
      font-size: 16px;
      line-height: 150%;
      display: flex;
      align-items: center;
      color: $color_black;
      background-color: $color_white;

      &:hover {
        color: $color_red;
      }
    }

    @include tablet {
      grid-column: 1 / 5;
    }

    @include desctop {
      grid-column: 1 / 4;
    }
  }

  &__button {
    font-family: "Raleway", sans-serif;
    margin-top: 30px;
    width: 100%;
    border-color: $color_red;
    border: none;
    cursor: pointer;
    transition-duration: 0.3s;
    
    &:hover {
      background-color: #af3419;
      transform: scale(1.02);
    }

    &:focus {
      background-color: #ea340d;
    }

    &:disabled {
      background-color: #dd836f;
    }

    @include tablet {
      grid-column: 1 / 4;
      margin-top: 30px;
    }

    @include desctop {
      margin-top: 40px;
      grid-column: 1 / 4;
    }
  }
}
