.upcomingEvents {
  &__conteiner {
    @include flex-column;
    position: relative;

    @media (max-width: 670px) {
      padding-bottom: 90px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @include h3;
    color: $black;

    @include tablet {
      font-size: 40px;
    }

    @include mobile {
      font-size: 40px;
    }

    @include small {
      font-size: 28px;
    }
  }

  &__events {
    @include flex-column;
    padding-top: 70px;
    gap: 60px;

    @include tablet {
      padding-top: 76px;
    }

    @include small {
      padding-top: 60px;
    }
  }

  &__button {
    @media (max-width: 670px) {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__event-block {
    display: flex;
    gap: 30px;

    @media (max-width: 650px) {
      flex-direction: column;
    }
  }

  &__event-label {
    width: 370px;
    height: 475px;

    @include tablet {
      width: 330px;
      height: 422px;
    }

    @media (max-width: 768px) {
      width: 280px;
      height: 358px;
    }

    @media (max-width: 650px) {
      align-self: center;
    }
  }

  &__event-info {
    @include flex-column;
    width: 570px;

    @include tablet {
      width: 330px;
    }

    @media (max-width: 650px) {
      width: 100%;
    }
  }

  &__event-date {
    @include text;
    color: $main;
  }

  &__event-title {
    padding-top: 10px;
    @include h4;
    color: $black;

    @include small {
      font-size: 20px;
    }
  }

  &__event-previou {
    padding-top: 20px;
    @include text;
    color: $gray;
  }

  &__event-button {
    margin-top: 50px;

    @media (max-width: 650px) {
      margin-top: 30px;
    }

    @media (max-width: 650px) {
      align-self: center;
    }
  }
}
