.visit {
  background-color: #3f5252;
  padding: 50px 0;
  position: relative;

  &__box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    @include onTablet {
      align-items: flex-start;
    }

    @include onDesktop {
      flex-direction: row;
      margin-left: 120px;
      padding: 228px 0 192px 300px;
    }
  }

  &__photo {
    display: none;

    @include onDesktop {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    color: #F1F5F4;
  }

  &__info {
    @include stylesForP;
    font-size: 16px;
    color: #F1F5F4;
    margin-bottom: 40px;
  }
}
