.digest {
  @extend .grid;
  @extend %container;

  &__title {
    @extend .grid__item--tablet-1-5;
    @extend .grid__item--desktop-1-6;

    color: $blackColor;

    margin-bottom: 20px;

    @include onDesktop {
      margin-bottom: 50px;
    }
  }

  &__advertisement {
    @extend .grid__item--tablet-1-5;
    @extend .grid__item--desktop-7-12;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: $blackColor;

    margin-bottom: 50px;

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}
