.header-aside__img-box,
.header-img {
  width: 88%;
  margin-block-end: -2px;

  @include on-tablet {
    transform: scale(1.02) translateX(3px) translateY(-5px);
    justify-items: center;
  }

  @include on-desktop {
    min-width: 596px;
    transform: scale(1.02) translateX(-6px) translateY(-13px);
    justify-items: center;
  }
}
