.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 20px;

  &__logo {
    width: 123px;
    height: 40px;
  }

  &__menu {
    width: 25px;
    height: 25px;
    background-image: url(/src/images/icons/icon-menu.png);

    @include on-tablet {
      width: 30px;
      height: 30px;
    }
  }
}


