@import 'header__top-bar';
@import 'header__content';
@import 'header-img';

.header {
  position: relative;
  padding-block-start: 3px;
  margin-block-end: 88px;

  box-sizing: border-box;
  min-width: 320px;
  color: $color-text-white;
  background-color: $background-dark;
  padding-inline: 20px;
  margin-inline: auto;

  @include on-tablet {
    padding-inline: $padding-inline-tablet;
    padding-block-start: 1px;
    margin-block-end: 103px;
  }

  @include on-desktop {
    margin-block-end: 114px;
    padding-inline: 55px;
    padding-block: 5px 34px;
  }
}
