.header {
  background-color: $c-background;

  &__content {
    @include content-padding-inline;

    display: flex;
    height: 100vh;
    height: 100svh;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    margin-bottom: 50px;

    @include on-tablet {
      margin-bottom: 99px;
    }
  }

  &__middle {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 70px;
    }
  }

  &__date {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 30px;

    @include on-tablet {
      margin: 0 0 20px 1px;
    }
  }

  &__main-text {
    margin-bottom: 40px;

    @include on-tablet {
      margin-bottom: 50px;
    }
  }

  &__bottom {
    height: 100%;
    width: 100%;
    background-image: url(../images/img_main_01.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    margin: 0 auto;
  }
}
