.header__top-bar {
  margin-block-end: 47px;

  @include on-tablet {
    margin-inline-end: 3px;
    margin-block-end: 95px;
  }

  @include on-desktop {
    margin-block-end: 90px;
  }

  .icon-menu {
    background-color: transparent;
    border-style: none;
  }

  .header-language {
    @include on-tablet {
      gap: 40px;
    }
  }

  .header__lang-button {
    display: none;

    @include on-tablet {
      display: flex;
    }
  }

  .lang-text {
    @include on-tablet {
      margin-inline-start: -3px;
    }
  }
}
