.header__content-block {
  display: grid;
  grid-template-columns: 2fr;

  @include on-desktop {
    display: flex;
  }
}

.header__content {
  width: 100%;
  align-items: end;

  @include on-desktop {
    width: 50%;
  }

  .header__date {
    margin: 0;
    margin-block-end: 10px;

    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .header__title {
    margin: 0;
    margin-block-end: 27px;

    font-family:
      "Playfair Display",
      sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0;

    @include on-tablet {
      max-width: 68%;
      margin-block-end: 17px;

      font-size: 72px;
      line-height: 72px;
    }

    @include on-desktop {
      max-width: 96%;
      margin-block-end: 28px;

      font-size: 96px;
      line-height: 96px;
    }
  }

  .header__description {
    width: 265px;
    margin: 0;
    margin-block-end: 43px;

    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;

    @include on-tablet {
      width: 45%;
      margin-block-end: 53px;
    }

    @include on-desktop {
      width: 95%;
      margin-block-end: 73px;
    }
  }

  .header__btn {
    margin-block-end: 55px;

    @include on-tablet {
      margin-block-end: 118px;
    }

    @include on-desktop {
      margin-block-end: 135px;
    }
  }

  .header__date-bottom {
    display: none;

    font-family: 'Palatino Linotype', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;

    @include on-desktop {
      width: 97%;
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: space-between;
      font-size: 15px;
      padding-inline-end: 15px;
    }

    .header__date-line {
      width: 82%;
      height: 1px;
      background-color: $color-text-white;
      opacity: 0.3;
    }
  }
}
