.header__top {
  align-items: center;
  justify-content: space-between;
  display: flex;

  padding-top: 20px;

  @include onTablet {
    padding-block: 20px;
  }

  @include onDesktop {
    padding-block: 26px 27px;
  }

  &-menu-wrapper {
    align-items: center;
    display: flex;

    @include onTablet {
      margin-right: 10px;
      gap: 40px;
    }
  }
}
