.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;

  @include on-tablet {
    margin-bottom: 70px;
    padding: 20px 39px;
  }

  @include on-desktop {
    padding: 20px 55px;
    margin-bottom: 90px;
  }

  &-logo {
    @include hover(scale, 1.1);

    font-size: 36px;
    line-height: 43px;
    text-align: left;
    text-decoration: none;
    color: white;
  }

  &-select {
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;

    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;

    @include on-tablet {
      display: block;
    }
  }
}
