.contacts {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  &__title {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #f1f5f4;

    @include on-tablet {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  &__link {
    display: block;
    margin: 0;
    padding: 0;

    @include main-text;

    color: #f1f5f4;
    text-decoration: none;
    transform-origin: left;

    @include hover(transform, scale(1.2));
  }
}

.socials {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;

  &__link {
    display: flex;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;

    @include hover(transform, scale(1.2));

    &--facebook {
      background-image: url(../images/logo-icons/facebook.svg);
    }
    &--twitter {
      background-image: url(../images/logo-icons/twitter.svg);
    }
    &--telegram {
      background-image: url(../images/logo-icons/telegram.svg);
    }
    &--instagram {
      background-image: url(../images/logo-icons/instagram.svg);
    }
  }
}
