.footer {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #3f5252;

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block: 34px 30px;
    gap: 60px;

    @include content-space-inline;

    @include on-tablet {
      margin-top: 50px;
    }

    @include on-large-desktop {
      gap: 70px;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 50px;

    @include on-tablet {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__contacts-socials {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 30px;
    width: 100%;

    @include on-tablet {
      width: 210px;
      gap: 50px;
    }

    @include on-large-desktop {
      width: 370px;
    }
  }
}
