.schedule {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;

  @include on-tablet {
    width: 210px;
  }

  @include on-large-desktop {
    width: 370px;
  }

  &__title {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #f1f5f4;

    @include on-tablet {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  &__item {
    display: block;
    margin: 0;
    padding: 0;

    @include main-text;

    color: #f1f5f4;
  }
}
