.contacts {
  a {
    color: $c-white;
    text-decoration: none;
  }
  &__list-media {
    display: flex;
    justify-content: space-between;
    width: 140px;
    margin: 30px 0 0;
  }
  &__item {
    width: 20px;
    height: 20px;
    margin: 0;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  &__list-info {
    margin-bottom: 30px;
  }
}

.indent {
  margin-bottom: 50px;
}

.card__media {
  &--1 {
    background-image: url(/src/icons/socialmedia/facebook.png);
  }
  &--2 {
    background-image: url(/src/icons/socialmedia/twitter.png);
  }
  &--3 {
    background-image: url(/src/icons/socialmedia/telegram.png);
  }
  &--4 {
    background-image: url(/src/icons/socialmedia/instagram.png);
  }
}
