.foot-nav {
  display: flex;
  flex-direction: column;

  &__link {
    display: block;
    margin-top: 5px;
    text-decoration: none;

    font-family: $font-raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $white-main;

    @include hover-scale(1.02);

    @include on-tablet {
      margin-top: 10px;
    }

    &--vystavka {
      margin-top: 10px;

      @include on-tablet {
        margin-top: 30px;
      }
    }
  }
}
