.footer-title {
  width: 280px;

  font-family: $font-playfair;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $white-main;

  @include on-tablet {
    width: 210px;
    font-size: 20px;
    line-height: 30px;
  }

  @include on-desktop {
    width: 370px;
  }
}
