.footer {
  @include container;

  padding-top: 34px;
  padding-bottom: 30px;
  background-color: $c-background;
  color: $c-white;

  h6 {
    font-size: 18px;
    margin: 0 0 10px;
  }

  ul {
    padding: 0;
  }

  p {
    margin: 0;
  }
}
