.schedule {
  display: flex;
  flex-direction: column;

  &__time {
    margin: 0;
    margin-top: 10px;

    font-family: $font-raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $white-main;

    @include on-tablet {
      margin-top: 30px;
    }
  }
}
