@import "../utils";
@import "../fonts";

.footer {
  display: flex;
  border-top: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding-left: 55px;
  padding-right: 55px;
  background: $primary_color;
  padding-top: 50px;
  padding-bottom: 30px;
  @include BigScreen {
    padding-left: 30%;
  }

  @include Tablet {
    padding-left: 39px;
    border-top: none;
    padding-right: 39px;
  }

  @include Mobile {
    border-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__1{
    display: flex;
    column-gap: 20px;
  }

  &__copyright{
    font-family: $railway_font;
    font-weight: 400;
    font-size: 14px;
    color: $Main-gray;
    line-height: 24px;
  }

  &__home{
    transition: ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
      filter: invert(37%) sepia(99%) saturate(1650%) hue-rotate(185deg) brightness(102%) contrast(115%);
    }
  }
}
