@import "../utils";
@import "../fonts";


.container4 {
  display: flex;
  box-sizing: border-box;
  background: $primary_color;
  margin-bottom: 110px;

  @include Tablet {
    padding-left: 39px;
  }


  @include BigScreen {
    padding-left: 30%;
  }

  @include Mobile{
    padding-left: 0;
  }

  &__picture {
    display: block;
    width: 578px;

    @include Desktop {
      width: 400px;
    }

    @include Tablet {
      display: none;
    }

    @include Mobile {
      display: none;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include Tablet {
      width: 100%;
    }


    @include Mobile {

      align-items: center;
    }
  }

  &__header {
    font-family: $playfair_font;
    font-weight: 700;
    font-size: 96px;
    color: $Main-gray;

    @include Desktop {
      font-size: 62px;
    }

    @include Tablet {
      font-size: 72px;
    }

    @include Mobile {
      padding-bottom: 30px;
      font-size: 48px;
      width: 280px;
    }
  }

  &__info {
    display: block;
    font-family: $railway_font;
    font-weight: 400;
    font-size: 14px;
    color: $Main-gray;
    width: 470px;
    margin-top: 50px;
    line-height: 20px;


    @include Desktop {
      width: 100%;
    }

    @include Tablet{
      width: 400px;
    }


    @include Mobile {
      width: 280px;
    }
  }

  &__bttn {
    font-family: $railway_font;
    font-weight: 600;
    font-size: 16px;
    width: 270px;
    height: 60px;
    border: none;
    color: $Main-gray;
    background: $bttn_color;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    margin-top: 72px;
    margin-bottom: 72px;


    &:hover {
      transform: scale(1.1);
      background: $bttn_hover_color;
    }

    &:active {
      background: $bttn_pressed_color;
    }

    @include Desktop {
      width: 330px;
    }

    @include Tablet {
      width: 330px;
    }

    @include Mobile {
      width: 279px;
    }
  }

}
