.primary__button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: $c-main;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $c-button-hover;
  }

  &:active {
    background-color: $c-button-active;
  }

  &:disabled {
    background-color: $c-button-disabled;
  }

  @include on-tablet {
    max-width: 270px;
  }

  @include on-desktop {
    max-width: 270px;
  }
}
