.primary__button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: $c-main;
  text-align: center;
  text-decoration: none;
  line-height: 60px;

  @include on-desktop {
    max-width: 270px;
  }
}
