.secondary__button {
  display: none;
  background-color: transparent;
  border: 1px solid $c-main;
  align-items: center;
  width: 210px;
  height: 60px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  cursor: pointer;

  &:hover {
    border-color: $c-button-hover;
  }

  &:focus {
    border-color: $c-button-focus;
  }

  &:disabled {
    border-color: $c-button-disabled;
  }

  &__text {
    color: $c-main;
  }

  &__icon {
    background-image: url(../images/icons/arrow.svg);
    width: 20px;
    height: 20px;
  }

  &--mobile {
    display: flex;
    width: 100%;
    margin-top: 30px;
  }

  @include on-tablet {
    display: flex;

    &--mobile {
      display: none;
    }
  }
}
