.plan-a-visit {
  background-color: $c-background;
  position: relative;

  &__background-img {
    background-image: url(../images/plan-a-visit/plan-a-visit-bg.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
    position: absolute;
    display: none;
    pointer-events: none;

    @include on-desktop {
      display: block;
    }
  }

  &__content {
    @include page-grid;
    padding-block: 50px;

    @include on-tablet {
      padding-block: 80px;
    }

    @include on-desktop {
      padding-block: 205px;
    }
  }

  &__items {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: 6 / -2;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 40px;

    @include on-tablet {
      margin-bottom: 60px;
    }
  }

  &__button {
    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: 6 / 9;
    }
  }
}
