.header {
  @include container;

  color: $c-white;
  background-color: $c-background;
  height: 747px;

  &__date {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  &__name {
    margin-top: 0;
    margin-bottom: 30px;
  }

  &__button {
    margin: 40px auto;
    color: $c-white;
  }

  &__img {
    display: block;
    margin: 0 auto;
    background-image: url(/src/images/header/header-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 245px;
    height: 293px;
  }
}
