.header {
  background-color: $bg;
  position: relative;
  overflow: hidden;

  @include on-desktop {
    height: 100vh;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
  }

  &__bottom {
    @include grid(2, 6, 12);
    margin-top: 50px;

    @include on-tablet {
      margin-top: 100px;
    }

    @include on-tablet {
      margin-top: 90px;
    }
  }

  &__description {
    grid-column: 1 / -1;
    color: $white;

    @include on-desktop {
      grid-row: 1;
    }
  }

  &__title {
    margin: 10px 0 30px;
    grid-column: 1 / -1;
    color: $white;

    @include on-tablet {
      grid-column: 1 / 6;
    }

    @include on-desktop {
      grid-column: 1 / 7;
    }
  }

  &__text {
    grid-column: 1 / -1;
    color: $white;
    font-weight: 400;

    @include on-tablet {
      grid-column: 1 / 4;
    }
  }

  &__button {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }
  }

  &__image {
    grid-column: 1 / -1;
    width: 100%;
    margin-top: 40px;

    @include on-tablet {
      grid-column: 2 / 6;
    }

    @include on-desktop {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 40vw;
    }
  }
}
