.icon {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  transition: transform .3s;

  &:hover {
    @include scale;
  }

  &--logo {
    width: 123px;
    height: 40px;
    background-image: url(../images/icon/NAMU.svg);

    @include on-tablet {
      width: 123px;
      height: 40px;
      }
  }

  &--menu {
    background-image: url(../images/icon/menu.svg);
  }

  &--close {
    background-image: url(../images/icon/close.svg);
  }

  &--footer {
    margin: 0;
  }

  &--facebook {
    background-image: url(../images/icon/facebook.svg);
    margin: auto;
  }

  &--instagram {
    background-image: url(../images/icon/instagram.svg);
    margin: auto;
  }
}
