.menu {
  height: 100vh;
  background-color: $bg;
  overflow: auto;

  @include onTablet {
    background-image: url(../images/img_menu.png);
    background-size: 422px 466px;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  @include onDesktop {
    background-size: 624px 697px;
    background-position: right bottom;
  }
  &__top {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__main {
    margin-top: 10px;

    &--information {
      display: grid;
      row-gap: 20px;

      @include pageGrid;
    }

    &--first-block {
      grid-column: 1 / -1;

      @include onTablet {
        grid-column: 1 / 3;
      }
    }

    &--second-block {
      grid-column: 1 / -1;

      @include onTablet {
        grid-column: 3 / -1;
      }
    }

    &--text {
      margin: 0;
      @include additional;
      color: $white;
    }

    &--title {
      margin: 0;
      @include button;
      color: $white;
    }
  }

  &__nav {
    position: relative;
    padding-block: 40px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      height: 1px;
      width: 100%;
      bottom: 0;
      background-color: $white;

      @include onDesktop {
        width: 50%;
      }
    }

    @include onTablet {
      padding-block: 50px;
    }

    @include onDesktop {
      padding: 70px 0 60px;
    }
  }
}
