.menu {
  box-sizing: border-box;
  background-color: $background-color;
  height: 100vh;
  overflow: auto;

  &__content {
    @include onDesktop {
      @include pageGrid;
    }
  }

  &__wrapp {
    @include onDesktop {
      grid-column: span 6;
      grid-row: 1;
    }
  }

  &__top {
    margin-top: 10px;
    margin-bottom: 80px;
    color: $white-color;
    position: relative;

    @include onTablet {
      margin-top: 30px;
      margin-bottom: 90px;
    }

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $white-color;
      position: absolute;

    }

  }

  &__text-box {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include onTablet {
      flex-direction: row;
      gap: 127px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 140%;
  }

  &__time {
    font-weight: 600;
    line-height: 150%;
  }

  &__address-link {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    line-height: 160%;

    @include hover(opacity, 0.5);
  }

  &__nav {
    margin-block: 40px;

    @include onDesktop {
      margin-block: 70px;

    }
  }

  &__button {
    margin-bottom: 30px;
  }

  &__img {
    background-image: url(../images/img_menu.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 422px;
    height: 466px;
    margin: 0 auto;

    display: none;

    @include onTablet {
      display: block;
    }

    @include onDesktop {
      margin: 0;
      grid-column: 7 / 13;
      grid-row: 1 / 2;
      width: 624px;
      height: 697px;
      transform: translateX(50px);
    }
  }
}
