.nav {
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include onTablet {
      gap: 30px;
    }
  }

  &__link {
    font-family: "Playfair Display", serif;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    font-weight: 700;

    @include hover(opacity, 0.5);

    @include onTablet {
      font-size: 48px;
      line-height: 120%;
    }
  }
}
