.top__bar {
  @include top-bar-common-opt;
  margin-bottom: 90px;

  @include onTablet {
    margin-bottom: 100px;
    padding-block: 20px;
  }

  @include onMobile {
    margin-bottom: 50px;
  }

  &-logo {
    background-image: url(../images/header/logo.svg);
  }

  &-language {
    @include onMobile {
      display: none;
    }
  }
}

.menu-icon {
  @include header-menu-icons-common-opt;
  background-image: url(../images/header/menu-icon.svg);
}
