.exibition {
  &__photo {
    @include hover(transform, scale(1.05));

    width: 100%;
    margin-bottom: 20px;
  }

  &__date {
    color: $c-main;
    margin-bottom: 10px;
  }

  &__title {
    color: $c-black;
    margin-bottom: 20px;
  }

  &__text {
    color: $c-gray;
    margin-bottom: 30px;
  }

  @include on-tablet {
    &__photo {
      margin-bottom: 30px;
    }

    &__text {
      margin-bottom: 40px;
    }
  }

  @include on-desktop {
    &__photo {
      margin-bottom: 20px;
    }

    &__text {
      margin-bottom: 50px;
    }
  }
}
