.dd-list__arrow, .icon {
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}

.header__image {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.header__announce-data, .footer--bottom-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.header__announce-description, .footer__link, .footer__description {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.footer__title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 18px;
}

.button-action__link {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.footer--link-main {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 14px;
}

.header__announce-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 48px;
}
@media (min-width: 768px) {
  .header__announce-title {
    font-size: 72px;
  }
}
@media (min-width: 1280px) {
  .header__announce-title {
    font-size: 96px;
  }
}

.arc {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
  height: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  .arc {
    padding: 0 40px;
  }
}
@media (min-width: 1280px) {
  .arc {
    padding: 0 55px;
  }
}

.footer {
  background-color: #3F5252;
  color: #F1F5F4;
}
.footer--bottom-text {
  color: #F1F5F4;
}
.footer__content {
  padding-top: 35px;
}
.footer__connect {
  margin-bottom: 50px;
}
.footer__contacts {
  margin-bottom: 30px;
}
.footer__title {
  margin: 0 0 10px;
}
.footer__description {
  line-height: 150%;
  margin: 0;
}
.footer__social-media {
  display: flex;
  align-items: center;
  margin: 0;
}
.footer__scheldue {
  margin-bottom: 50px;
}
.footer__nav-list {
  list-style: none;
  padding: 0;
  margin: 0 0 60px 0;
}
.footer__nav-item {
  margin-bottom: 5px;
}
.footer--nav-item-main {
  margin-bottom: 10px;
}
.footer__link {
  color: #F1F5F4;
  text-decoration: none;
}
.footer--link-main {
  margin-bottom: 10px;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
.footer__info-container {
  display: flex;
  align-items: center;
}
.footer__since-to {
  margin: 0 20px 0 0;
}
@media (min-width: 1280px) {
  .footer__since-to {
    margin-right: 100px;
  }
}
.footer__privacy-terms {
  margin: 0;
}
.footer__privacy-terms-link {
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
  }
}
@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }
}
.grid--screen {
  display: block;
}
@media (min-width: 768px) {
  .grid--screen {
    display: grid;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-1-1 {
    grid-column: 1/2;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-1-2 {
    grid-column: 1/3;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-1-3 {
    grid-column: 1/4;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-1-4 {
    grid-column: 1/5;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-1-5 {
    grid-column: 1/6;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-1-6 {
    grid-column: 1/7;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-2-2 {
    grid-column: 2/3;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-2-3 {
    grid-column: 2/4;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-2-4 {
    grid-column: 2/5;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-2-5 {
    grid-column: 2/6;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-2-6 {
    grid-column: 2/7;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-3-3 {
    grid-column: 3/4;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-3-4 {
    grid-column: 3/5;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-3-5 {
    grid-column: 3/6;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-3-6 {
    grid-column: 3/7;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-4-4 {
    grid-column: 4/5;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-4-5 {
    grid-column: 4/6;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-4-6 {
    grid-column: 4/7;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-5-5 {
    grid-column: 5/6;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-5-6 {
    grid-column: 5/7;
  }
}
@media (min-width: 768px) {
  .grid__item--tablet-6-6 {
    grid-column: 6/7;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-1 {
    grid-column: 1/2;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-2 {
    grid-column: 1/3;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-3 {
    grid-column: 1/4;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-4 {
    grid-column: 1/5;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-5 {
    grid-column: 1/6;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-6 {
    grid-column: 1/7;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-7 {
    grid-column: 1/8;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-8 {
    grid-column: 1/9;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-9 {
    grid-column: 1/10;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-10 {
    grid-column: 1/11;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-11 {
    grid-column: 1/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-12 {
    grid-column: 1/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-2 {
    grid-column: 2/3;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-3 {
    grid-column: 2/4;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-4 {
    grid-column: 2/5;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-5 {
    grid-column: 2/6;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-6 {
    grid-column: 2/7;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-7 {
    grid-column: 2/8;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-8 {
    grid-column: 2/9;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-9 {
    grid-column: 2/10;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-10 {
    grid-column: 2/11;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-11 {
    grid-column: 2/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-12 {
    grid-column: 2/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-3-3 {
    grid-column: 3/4;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-3-4 {
    grid-column: 3/5;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-3-5 {
    grid-column: 3/6;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-3-6 {
    grid-column: 3/7;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-3-7 {
    grid-column: 3/8;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-3-8 {
    grid-column: 3/9;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-3-9 {
    grid-column: 3/10;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-3-10 {
    grid-column: 3/11;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-3-11 {
    grid-column: 3/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-3-12 {
    grid-column: 3/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-4-4 {
    grid-column: 4/5;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-4-5 {
    grid-column: 4/6;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-4-6 {
    grid-column: 4/7;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-4-7 {
    grid-column: 4/8;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-4-8 {
    grid-column: 4/9;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-4-9 {
    grid-column: 4/10;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-4-10 {
    grid-column: 4/11;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-4-11 {
    grid-column: 4/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-4-12 {
    grid-column: 4/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-5-5 {
    grid-column: 5/6;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-5-6 {
    grid-column: 5/7;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-5-7 {
    grid-column: 5/8;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-5-8 {
    grid-column: 5/9;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-5-9 {
    grid-column: 5/10;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-5-10 {
    grid-column: 5/11;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-5-11 {
    grid-column: 5/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-5-12 {
    grid-column: 5/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-6-6 {
    grid-column: 6/7;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-6-7 {
    grid-column: 6/8;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-6-8 {
    grid-column: 6/9;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-6-9 {
    grid-column: 6/10;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-6-10 {
    grid-column: 6/11;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-6-11 {
    grid-column: 6/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-6-12 {
    grid-column: 6/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-7-7 {
    grid-column: 7/8;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-7-8 {
    grid-column: 7/9;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-7-9 {
    grid-column: 7/10;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-7-10 {
    grid-column: 7/11;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-7-11 {
    grid-column: 7/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-7-12 {
    grid-column: 7/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-8-8 {
    grid-column: 8/9;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-8-9 {
    grid-column: 8/10;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-8-10 {
    grid-column: 8/11;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-8-11 {
    grid-column: 8/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-8-12 {
    grid-column: 8/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-9-9 {
    grid-column: 9/10;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-9-10 {
    grid-column: 9/11;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-9-11 {
    grid-column: 9/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-9-12 {
    grid-column: 9/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-10-10 {
    grid-column: 10/11;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-10-11 {
    grid-column: 10/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-10-12 {
    grid-column: 10/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-11-11 {
    grid-column: 11/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-11-12 {
    grid-column: 11/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-12-12 {
    grid-column: 12/13;
  }
}

.icon {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}
.icon:last-child {
  margin-right: 0;
}
.icon--facebook {
  background-image: url(/src/images/fb.svg);
}
.icon--twitter {
  background-image: url(/src/images/twitter.svg);
}
.icon--telegram {
  background-image: url(/src/images/telegram.svg);
}
.icon--instagram {
  background-image: url(/src/images/instagram.svg);
}
.icon--scroll-up {
  background-image: url(/src/images/scroll-up.svg);
}
.icon--menu-opener {
  background-image: url(/src/images/menu.svg);
  margin: 0;
}
@media (min-width: 768px) {
  .icon--menu-opener {
    margin-right: 20px;
  }
}

.page {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.header {
  position: relative;
  background-color: #3F5252;
  height: 100%;
}
.header__image {
  background-image: url(/src/images/header-image.png);
  height: 270px;
  width: 245px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .header__image {
    height: 490px;
    width: 440px;
  }
}
@media (min-width: 1280px) {
  .header__image {
    height: 660px;
    width: 625px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
@media (min-width: 1280px) {
  .header__description {
    padding-bottom: 50px;
  }
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  color: #F1F5F4;
}
@media (min-width: 1280px) {
  .header__content {
    flex-direction: row;
  }
}
.header__announce {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .header__announce {
    margin-bottom: 50px;
  }
}
@media (min-width: 1280px) {
  .header__announce {
    margin-bottom: 80px;
  }
}
.header__announce-data {
  margin-bottom: 10px;
  width: 190px;
  line-height: 140%;
}
.header__announce-title {
  margin-bottom: 30px;
  width: 280px;
  line-height: 100%;
}
@media (min-width: 768px) {
  .header__announce-title {
    margin-bottom: 20px;
    width: 570px;
  }
}
@media (min-width: 1280px) {
  .header__announce-title {
    margin-bottom: 30px;
  }
}
.header__announce-description {
  width: 270px;
  line-height: 150%;
}
@media (min-width: 768px) {
  .header__announce-description {
    width: 330px;
  }
}
@media (min-width: 1280px) {
  .header__announce-description {
    width: 570px;
  }
}
.header__underline {
  display: none;
}
@media (min-width: 1280px) {
  .header__underline {
    display: flex;
    align-items: center;
  }
}
.header__underline-data {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 14px;
  margin-right: 20px;
  line-height: 125%;
  color: #F1F5F4;
  opacity: 0.7;
}
.header__underline-line {
  width: 470px;
  height: 1px;
  background-color: #F1F5F4;
  opacity: 0.3;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  color: #F1F5F4;
}

.top-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 77px;
  margin-bottom: 70px;
}
@media (min-width: 768px) {
  .top-actions {
    margin-bottom: 100px;
  }
}
@media (min-width: 1280px) {
  .top-actions {
    height: 90px;
    margin-bottom: 90px;
  }
}
.top-actions__right-block {
  display: flex;
}

.dd-list {
  display: none;
}
@media (min-width: 768px) {
  .dd-list {
    display: flex;
    align-items: center;
  }
}
.dd-list__text {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #F1F5F4;
  margin-right: 5px;
}
.dd-list__arrow {
  height: 4px;
  width: 8px;
  background-image: url(/src/images/dd-arrow.svg);
}

.button-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 60px;
  margin-bottom: 40px;
  background-color: #CD4D31;
}
@media (min-width: 768px) {
  .button-action {
    margin-bottom: 70px;
    width: 330px;
  }
}
@media (min-width: 1280px) {
  .button-action {
    margin-bottom: 135px;
    width: 270px;
  }
}
.button-action__link {
  text-decoration: none;
  color: #F1F5F4;
}

/*# sourceMappingURL=main.css.map */
