.icon {
  width: 24px;
  height: 24px;

  @include hover(transform, scale(1.05));

  &--open {
    background: url("../images/icons/icon-burger-menu-open.svg");

    @include onDesktop {
      display: none;
    }
  }

  &--close {
    background: url("../images/icons/icon-burger-menu-close.svg");

    @include onDesktop {
      display: none;
    }
  }

  &--logo {
    background: url("../images/icons/icon-logo-small.svg");

    @include onDesktop {
      background: url("../images/icons/icon-logo-big.svg");
      width: 50px;
      height: 50px;
    }
  }

  &--shop {
    background: url("../images/icons/icon-shop.svg");
  }
}
