.learn-more {
  width: max-content;
  color: $primary;

  @extend %decorative-text;
  font-weight: 500;

  &:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $primary;
    display: block;

    margin-top: 10px;

    transform: scale(0);
    transform-origin: left;
    @include hover(all, 0.3s);
  }

  &:hover:after {
    transform: scale(1);
  }
}
