.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 15px 20px;

  @include onTablet {
    padding-block: 22px 30px;
  }

  @include onDesktop {
    padding-block: 40px 80px;
  }

  &__logo-box {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__logo-text {
    display: none;

    @include onDesktop {
      display: block;
    }

    color: $primary;
    @extend %text2;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__nav {
    display: none;

    @include onDesktop {
      display: block;
    }
  }
}
