.buy-button {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #cd4d31;
  color: #f1f5f4;

  &__secondary {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 60px;
    border: 1px solid #CD4D31;

    text-decoration: none;
    color: #CD4D31;
  }

  &__secondary--after::after {
    position: absolute;
    transform: translate(800%, -120%);
    display: block;
    content: "";
    width: 14px;
    height: 12px;
    background-image: url(../images/Group.svg);
    background-size: cover;
    background-position: center;
  }

  &--visit {

  }

}
