.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-weight: 600;
  border: none;
  transition: 0.3s;
  width: 100%;

  color: #f1f5f4;
  font-size: 16px;
  line-height: 100%;

  cursor: pointer;

  @include onTablet {
    width: 330px;
    height: 60px;
  }

  @include onDesktop {
    height: 60px;
    width: 270px;

  }

  &:hover {
    background-color: #af3419;
  }

  &:active {
    background-color: #ea340d;
  }

  &__actual {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $mainRed;
    width: 0;
    height: 60px;

    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: $mainRed;
    text-decoration: none;

    &:hover {
      transform: scale(1.1);
    }

    opacity: 0;

    @include onTablet {
      opacity: 1;
      width: 250px;
    }

    &::after {
      content: "";
      width: 60px;
      height: 60px;
      background-repeat: no-repeat;

      background-image: url(../images/arrow.svg);
      margin-left: 10px;
      margin-top: 40px;
    }
  }

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $mainRed;
    text-decoration: none;
    color: #fff;

    width: 100%;
    height: 60px;

    font-weight: 600;
    font-size: 16px;
    line-height: 100%;

    &-subscribe {
      border: none;
    }

    &:hover {
      background-color: #af3419;
    }

    &:active {
      background-color: #ea340d;
    }

    @include onTablet {
      width: 250px;
    }

    @include onDesktop {
      width: 250px;
    }

    &-start {
      max-width: 330px;
    }
  }

  &__registration {
    margin: 0 0 20px;
    background-color: $mainRed;
    text-decoration: none;
  }
}
