.coming-soon {
  &__item {
    display: block;
    // max-width: 280px;
    margin: 0 auto;
  }

  &__events {
    margin: 0 0 60px;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;

    color: #1C1B29;
  }

  &__photo-container {
    margin: 0 auto 20px;
  }

  &__photo {
    display: block;
    margin: 0 auto;
    max-width: 280px;
    max-height: 356px;
  }

  &__date {
    display: block;
    margin: 0 0 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #CD4D31;
  }

  &__subtitle {
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    color: #1C1B29;

  }

  &__description {
    display: block;
    margin: 0 0 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #504F5E;
  }

}
