.container {
  padding: 20px 20px 0;
  max-width: 280px;
  margin: 0 auto;

  @include onTablet {
    max-width: 100%;
  }

  @include onDesktop {
    max-width: 100%;
  }

  &__soon {
    max-width: 280px;
    margin: 0 auto;

    @include onTablet {
      display: flex;
      flex-direction: column;
      min-width: 690px;
    }

    @include onDesktop {
      display: flex;
      min-width: 1170px;
      flex-direction: column;
    }
  }

  &__actual {
    width: 280px;
    margin: 0 auto;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(6,1fr);
      column-gap: 30px;
      min-width: 690px;
    }

    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(12,1fr);
      column-gap: 30px;
      min-width: 1170px;
    }


  }

  &__news {
    width: 280px;
    margin: 0 auto;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(6,1fr);
      column-gap: 30px;
      min-width: 690px;
    }

    @include onDesktop {
      grid-template-columns: repeat(12,1fr);
      min-width: 1170px;
    }
  }

  &__footer {
    width: 280px;
    margin: 0 auto;

    @include onTablet {
      display: flex;
      min-width: 690px;
    }

    @include onDesktop{
      display: grid;
      grid-template-columns: repeat(12,1fr);
      min-width: 1170px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    gap: 30px;

    @include onTablet {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__menu--form {
    opacity: 0;

    @include onTablet {
      opacity: 1;
    }
  }
}
