.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 20px;
  position: relative;

  &__special {
    max-width: 1800px;
    background-color: #3f5252;
    padding: 0 20px;

    @include onDesktop {
      background-image: url(../images/img_07.png);
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: contain;
    }
  }
}
