.events {
  margin-bottom: 90px;

  @include onTablet {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 76px;
    }

    @include onDesktop {
      margin-bottom: 70px;
    }
  }

  &__image {
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 70px;
    }

    @include onDesktop {
      margin-bottom: 60px;
    }
  }

  &__data {
    margin-bottom: 10px;
  }

  &__subtitle {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__button {
    margin-bottom: 60px;

    &--important {
      margin-bottom: 30px;
    }

    &--first {
      display: none;
      
      @include onTablet {
        display: flex;
      }
    }

    &--second {
      @include onTablet {
        display: none;
      }
    }

    @include onDesktop {
      max-width: 50%;
    }
  }
}
