.exhibition {
  margin-bottom: 120px;

  @include onTablet {
    margin-bottom: 164px;
  }

  @include onDesktop {
    margin-bottom: 200px;
  }
  
  &__title {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 75px;
    }

    @include onDesktop {
      margin-bottom: 71px;
    }
  }

  &__image {
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 30px;
    }

    @include onDesktop {
      margin-bottom: 20px;
    }

  }

  &__data {
    margin-bottom: 10px;
  }

  &__subtitle {
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__button {
    margin-bottom: 60px;

    &--archive {
      display: none;

      @include onTablet {
        display: flex;
      }

      &-last {

        @include onTablet {
          display: none;
        }

      }
    }

    &--second {
      margin-bottom: 30px;
    }
  }
}
