.footer {
  background-color: #3F5252;

  &__item {
    display: block;
    max-width: 280px;
    margin: 0 auto 50px;

    @include onTablet {
      margin-top: 50px;
    }
  }

  &__item--first {

    @include onTablet {
      width: 240px;
    }

    @include onDesktop {
      min-width: 370px;
      grid-column: 1 / 5;
    }
  }

  &__item--second {

    @include onTablet {
      width: 210px;
    }

    @include onDesktop {
      min-width: 370px;
      grid-column: 5 / 9;
    }
  }

  &__item--third {

    @include onTablet {
      width: 210px;
    }

    @include onDesktop {
      min-width: 370px;
      grid-column: 9 / 13;
    }
  }



  &__title {
    display: block;
    max-width: 280px;
    padding-top: 34px;
    margin: 0 auto 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    color: #F1F5F4;

    @include onTablet {
      padding-top: 0;
      margin: 0 auto 30px;
    }

    @include onDesktop {
      margin: 0 0 30px;
    }
  }

  &__contacts {
    margin: 0 0 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #F1F5F4;
  }

  &__contacts--link {
    text-decoration: none;
    display: block;
    color: #F1F5F4;
  }

  &__media {
    display: flex;
    gap: 30px;
  }

  &__media--img {
    display: block;
    width: 20px;
    height: 20px;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.48);
      z-index: 1;
    }
  }

  &__arrow {
    width: 20px;
    height: 17.5px;
  }

  &__work-time {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    color: #F1F5F4;

    @include onTablet {
      margin: 0 0 30px;
    }
  }

  &__days {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #F1F5F4;
  }

  &__list {
    padding: 0;
    list-style: none;
  }

  &__list-item {
    margin-bottom: 5px;

    @include onTablet {
      margin-bottom: 10px;
    }
  }

  &__list-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;

    color: #F1F5F4;
  }

  &__main-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    color: #F1F5F4;

    @include onTablet {
      margin-bottom: 30px;
    }
  }

  &__list-link--main {
    font-family: Playfair Display;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    color: #F1F5F4;
  }

  &__item--fourth {

    @include onTablet {
      display: flex;
      padding-bottom: 30px;
      margin: 0 auto;
      justify-content: space-between;
      max-width: 768px;
    }

    @include onDesktop {
      max-width: 1170px;
    }
  }

  &__privacy {
    width: 280px;
    padding-bottom: 30px;
    margin: 0 auto;

    @include onTablet {
      margin: 0;
      display: flex;
      min-width: 768px;
      padding: 0 20px;
    }

    @include onDesktop {
      min-width: 1170px;
      padding: 0;
      margin: 0;
    }
  }

  &__privacy-copyright {
    margin: 0 22px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #F1F5F4;

    @include onDesktop {
      margin: 0 102px 0 0;
    }
  }

  &__privacy-terms {
    margin: 0 24px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #F1F5F4;

    @include onTablet {
      margin: 0 440px 0 0;
    }

    @include onDesktop {
      margin: 0 840px 0 0;
    }
  }
}
