.footer {
  background-color: #3F5252;

  &__item {
    display: block;
    max-width: 280px;
    margin: 0 auto 50px;
  }

  &__title {
    display: block;
    max-width: 280px;
    margin: 0 auto 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    color: #F1F5F4;
  }

  &__contacts {
    margin: 0 0 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #F1F5F4;
  }

  &__media {
    display: flex;
    gap: 30px;
  }

  &__media--img {
    display: block;
    width: 20px;
    height: 20px;
  }

  &__work-time {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    color: #F1F5F4;
  }

  &__days {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #F1F5F4;
  }

  &__list {
    padding: 0;
    list-style: none;
  }

  &__list-item {
    margin-bottom: 10px;
  }

  &__list-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #F1F5F4;

  }

  &__list-link--main {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    color: #F1F5F4;
  }

  &__privacy {
  margin: 0 auto;
  max-width: 280px;
  }

  &__privacy-copyright {
    margin: 0 22px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #F1F5F4;
  }

  &__privacy-terms {
    margin: 0 24px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #F1F5F4;
  }
}
