.footer {
  background-color: #3f5252;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 34px 0 30px;

    @include onTablet {
      padding: 50px 19px 30px;
    }

    @include onDesktop {
      padding: 50px 35px 30px;
    }
  }

  &__contacts {

    &--title {
      @extend %H2;
      font-size: 18px;
      margin-bottom: 10px;
      color: #f1f5f4;
    }

    &--adress {
      @extend %mainText;
      color: #f1f5f4;
      margin-bottom: 30px;

      &-location {
        text-decoration: none;
        color: #f1f5f4;
        cursor: pointer;
      }

      &-phone {
        text-decoration: none;
        color: #f1f5f4;
        cursor: pointer;
      }

      &-mail {
        text-decoration: none;
        color: #f1f5f4;
        cursor: pointer;
      }
    }

    &--icons {
      margin-bottom: 50px;
    }
  }

  &__contacts-icon {
    text-decoration: none;
    margin-right: 25px;
    cursor: pointer;
  }

  &__timetable {

    &--title {
      @extend %H2;
      font-size: 18px;
      color: #f1f5f4;
      margin-bottom: 10px;
    }

    &--list {
      @extend %mainText;
      color: #f1f5f4;
      margin-bottom: 50px;
    }
  }

  &__menu {
    margin-bottom: 60px;

    &--main {
      display: block;
      @extend %H5;
      color: #f1f5f4;
      margin-bottom: 10px;
      text-decoration: none;
      cursor: pointer;
    }

    &-link {
      text-decoration: none;
      @extend %mainText;
      color: #f1f5f4;
      cursor: pointer;
    }
  }

  &__item {
    list-style: none;
    margin-bottom: 5px;

  }
}

.terms {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__container {
    display: flex;
  }

  &__point {
    @extend %additionalText;
    color: #f1f5f4;
    margin-right: 22px;
    text-decoration: none;
    cursor: pointer;
  }

  &__arrow {
    cursor: pointer;
  }
}
