.header {
  background-color: #3f5252;
  height: 100vh;
  background-size: 273px;

  position: relative;
  background-image: url(../images/img_header.png);
  background-repeat: no-repeat;
  background-position: bottom center;

  @include  onTablet {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 490px;
  }

  @include onDesktop {
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 700px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

  }

  &__title {
    @extend %H1;
    color: #f1f5f4;
    margin-bottom: 30px;

    @include onTablet {
      font-size: 72px;
      margin-bottom: 20px;
    }

    @include onDesktop {
      font-size: 96px;
      margin-bottom: 30px;
    }
  }

  &__subtitle {
    @extend %mainText;
    color: #f1f5f4;
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 50px;
    }

    @include onDesktop {
      margin-bottom: 81px;
    }
  }

  &__subtitle-additional {
    @extend %additionalText;
    color: #f1f5f4;
    margin-bottom: 10px;
  }
  &__button {
    width: 100%;
    height: 60px;
    @extend %textButton;
    margin-bottom: 40px;
  }

  &__line {
    display: none;
    align-items: center;
    margin-bottom: 50px;
    color: #f1f5f4;

    @include onDesktop {
      display: inline-flex;
    }

    &::after {
      content: "";
      margin-left: 20px;
      width: 468px;
      height: 1px;
      background-color: #f1f5f4;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 50px;

    &-icons {
      display: flex;
      gap: 30px;
    }
  }
  &__menu-opener {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(../images/icon/menu.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__menu-cross {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(../images/icon/cross.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
