.main {
  background-color: #e5e5e5;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 90px 0 80px;

    @include onTablet {
      padding: 105px 0 128px;
    }

    @include onDesktop {
      padding: 110px 0 200px;
    }
  }
}
