.mentors {
  display: flex;
  flex-direction: column;

  &__cards {
    @include onTablet {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 30px;
    }

    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }

  &__photo {
    padding: 20px;
  }
}
