.menu {
  transform: translateX(-100%);
  transition: transform 0.3s;

  &:target {
    transform: translateX(0);
  }

  background-color: $bgcolor;
  height: 100vh;

  &__content {
    display: block;
    justify-content: space-between;
    align-items: center;

    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
  }

  &__close {
    display: block;
    background-size: cover;
    background-position: center;
    background-image: url(../images/cross.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 20px;
    margin-left: 40px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__schedule {
    color: $textColor;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__schedule-adress {
    padding-bottom: 20px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__schudule-info {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__schedule-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  &__adress {
    color: $textColor;
    text-decoration: none;
  }

  &__links {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    transition: transform 0.3s;
  }

  &__link-text {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: $textColor;

    &:hover {
      border-bottom: 1px solid $textColor;
      width: 70%;
    }

    @include onTablet {
      font-size: 48px;
      line-height: 120%;
    }
  }

  &__line {
    margin: 40px 0;
    border-bottom: 1px solid $textColor;
    width: 280px;

    @include onTablet {
      width: 690px;
    }

    @include onDesktop {
      width: 570px;
    }
  }

  &__img {
    opacity: 0;

    @include onDesktop {
      position: absolute;
      bottom: 0;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;

      height: 90vh;
      left: 50%;
      opacity: 1;
    }
  }
}
