.news {
  padding: 90px 0 60px;

  @include onTablet {
    padding: 125px 0 110px;
  }

  @include onDesktop {
    padding: 110px 0 150px;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__image {
    margin-bottom: 20px;
  }

  &__data {
    color: #1c1b29;
  }

  &__subtitle {
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 18px;
    }
  }

  &__text {
    margin-bottom: 50px;

    &--important {
      margin-bottom: 30px;
    }
  }

  &__button {
    margin-bottom: 120px;

    &--first {
      display: none;

      @include onTablet {
        display: flex;
      }
    }

    &--second {
      display: flex;

      @include onTablet {
        display: none;
      }
    }
  }
}
