.news {

  &__title {
    display: block;
    max-width: 280px;
    margin: 0 auto 60px;
  }

  &__item {
    display: block;
    max-width: 280px;
    margin: 0 auto 50px;
  }

  &__item--last {
    display: block;
    max-width: 280px;
    margin: 0 auto 120px;
  }

  &__photo-container {
    margin: 0 auto 20px;
  }

  &__photo {
    height: 280px;
    width: 280px;
  }

  &__date {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #1C1B29;
  }

  &__subtitle {
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;


    color: #1C1B29;
  }

  &__description {
    display: block;
    margin: 0 0 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #504F5E;
  }

}

