.page {

  &__body {
    box-sizing: border-box;
    margin: 0;
  }

  &-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 100vh;
    width: 100%;
  }

  &-section__date {
    margin: 0 0 10px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #f1f5f4;
  }

  &-section__title {
    margin: 0 0 30px;

    font-weight: 700;
    font-size: 48px;
    line-height: 48px;

    color: #f1f5f4;
  }

  &-section__description {
    margin: 0 0 40px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #f1f5f4;
  }

  &__button {
    margin: 0 0 40px;

    display: block;
    width: 100%;
    height: 60px;
  }

}
