.page {
  font-family: "Playfair Display", serif;
  scroll-behavior: smooth;

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  &__body {
    margin: 0;
    background: $c-gray;
  }

  &__section-visit {
    background-color: $bgcolor;
  }

  &__section-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-weight: 600;
    line-height: 16px;
    color: $mainRed;
    text-decoration: none;
    padding-bottom: 20px;

    &::after {
      position: absolute;
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      text-align: center;

      background-image: url(../images/arrow.svg);
      margin-left: 10px;
    }
  }

  .page__body--with-menu {
    overflow: hidden;
  }
}
