* {
  box-sizing: border-box;
}

.page {

  &__body {
    box-sizing: border-box;
    margin: 0;
  }

  &-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 100vh;
    width: 100%;
  }

  &__section--header {
    margin-bottom: 90px;
  }


  &-section__date {
    margin: 0 0 10px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #f1f5f4;
  }

  &-section__title {
    margin: 0 0 30px;

    font-weight: 700;
    font-size: 48px;
    line-height: 48px;

    max-width: 279px;

    color: #f1f5f4;

    @include onTablet {
      font-weight: 700;
      font-size: 72px;
      line-height: 72px;

      max-width: 569px;
    }

    @include onDesktop {
      font-weight: 700;
      font-size: 96px;
      line-height: 96px;

      max-width: 569px;
    }
  }

  &-section__description {
    margin: 0 0 40px;
    max-width: 267px;

    @include onTablet {
      max-width: 330px;
    }

    @include onDesktop {
      max-width: 569px;
    }

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #f1f5f4;
  }

  &__button {
    margin: 0 0 40px;

    display: block;
    max-width: 330px;
    height: 60px;
  }

  &__menu {
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(100%);
    transition: transform 0.3s;

    &:target {
      transform: translateX(0);
    }

  }

}
