.singUp {
  
  &__title {
    margin-bottom: 20px;

    @include onDesktop {
      margin-bottom: 50px;
    }
  }

  &__text {
    margin-bottom: 50px;
  }
}

.form {

  &__field {
    @extend %mainText;
    color: #1c1b29;
    background-color: transparent;
    width: 100%;
    padding: 3px 0;
    border: 0;
    border-bottom: 1px solid #1c1b29;
    margin-bottom: 30px;
    outline: none;

    @include onDesktop {
      margin-bottom: 40px;
    }

    &:hover {
      border-bottom: 1px solid #cd4d31;

      &::placeholder {
        color: #cd4d31;
      }
    }

    &:focus::-webkit-input-placeholder {

      color: transparent;
    }
  }
  &__button {
    border: none;

    @include onTablet {
      width: 75%;
    }

    @include onDesktop {
      width: 60%;
    }
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
}
