.subscribe {

  &__title {
    display: block;
    max-width: 280px;
    margin: 0 auto 20px;

    font-weight: 700;
    font-size: 28px;
    line-height: 35px;

    color: #1C1B29;

    @include onTablet {
      margin: 0 0 20px;
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
      max-width: 768px;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 58px;
      margin: 0 0 50px;
    }
  }

  &__container {
    display: block;
    max-width: 280px;
    margin: 0 auto;

    @include onTablet {
      max-width: 690px;
    }

    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      max-width: 1170px;
      padding: 50px 0 50px;
    }
  }

  &__item {
    @include onDesktop {
      grid-column: 1 / 6;
    }
  }

  &__description {
    display: block;
    margin: 0 0 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #1C1B29;

    @include onTablet {
      max-width: 450px;
    }

    @include onDesktop {
      display: none;
    }
  }

  &__description--desktop {
    display:none;

    @include onDesktop {
      display: initial;
      grid-column: 7 / 13;
    }
  }

  &__input {
    display: block;
    margin: 0 0 30px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #1C1B29 ;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #1C1B29;

    @include onTablet {
      max-width: 450px;
    }
  }
}


