.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;

  font-weight: 700;
  font-size: 28px;
  line-height: 125%;

  &__news {
    justify-content: left;
  }

  @include onDesktop {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
  }
}
