.visit {

  background-color: #3F5252;

  &__container {
    padding: 50px 0 50px;
    display: block;
    width: 280px;
    margin: 0 auto;

    @include onTablet {
      width: 690px;
    }
  }

  &__title {
    font-family: 'Playfair Display';
    font-weight: 700;
    margin: 0 0 20px;
    font-size: 38px;
    line-height: 38px;
    width: 280px;

    color: #F1F5F4;

    @include onTablet {
      width: 768px;
      display: block;
      font-weight: 700;
      font-size: 62px;
      line-height: 62px;
    }
  }

  &__description {
    margin: 0 0 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #F1F5F4;

    @include onTablet {
      margin: 0 0 60px;
      display: block;
      max-width: 450px;
    }
  }
}
