.visit {
  background-color: $bgcolor;

  display: flex;
  flex-direction: column;

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }

  @include onDesktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &__title {
    height: 76px;
    width: 280px;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    color: #fff;

    @include onTablet {
      font-size: 62px;
    }

    @include onDesktop {
      font-weight: 700;
      font-size: 80px;
    }
  }

  &__subtitle {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  &__img {
    // @include onTablet {
    //   display: grid;
    //   grid-template-columns: repeat(12, 1fr);
    //   gap: 30px;
    // }

    // @include onDesktop {
    //   display: grid;
    //   grid-template-columns: repeat(2, 1fr);
    //   gap: 30px;
    // }
  }

  &__text {
    padding: 20px;
  }
}
