.visit {

  background-color: #3F5252;

  &__container {
    padding: 50px 20px 50px;
    display: block;
    max-width: 280px;
    margin: 0 auto;

    @include onTablet {
      max-width: 768px;
    }
  }

  &__item {
    // display: grid;
    // grid-template-columns: repeat(6, 1fr);

  }

  &__title {
    font-weight: 700;
    margin: 0 0 20px;
    font-size: 38px;
    line-height: 38px;

    color: #F1F5F4;

    @include onTablet {
      display: block;
      font-weight: 700;
      font-size: 62px;
      line-height: 62px;
    }

  }

  &__description {
    margin: 0 0 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #F1F5F4;

    @include onTablet {
      margin: 0 0 60px;
      display: block;
      max-width: 450px;
    }
  }

}
