.subs-form {

  &__header {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    @include onDesktop{
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }
  }
  &__main {

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__text {
    max-width: 570px;
    width: 100%;

    color: $colorBlack;
  }

  &__label {
    max-width: 470px;
    width: 100%;

    display: block;

    padding: 3px 0;
    border-bottom: 1px solid $colorBlack;
  }

  &__input {
    border: none;
    outline: none;

    &::placeholder {
      color: $colorBlack;
    }
  }
}
