.subs-form {
  &__header {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    gap: 50px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__text {
    max-width: 570px;
    width: 100%;

    color: $colorBlack;
  }

  &__label {
    max-width: 470px;
    width: 100%;

    display: block;

    padding: 3px 0;
    border-bottom: 1px solid $colorBlack;
  }

  &__input {
    border: none;
    outline: none;

    &::placeholder {
      color: $colorBlack;
    }
  }
}
