.plan-visit {
  // display: none !important;
  background-color: $background;
  color: $white-txt-col;
  display: flex;

  @include section-margin-top(90px, 100px, 110px);

  &__image {
    display: none;

    @include on-desktop {
      display: block;
    }
  }

  &__container {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-block: 50px;

    @include on-tablet {
      padding-block: 80px;
      width: 60%;
    }

    @include on-desktop {
      padding-block: 205px;
      width: auto;
      margin-left: -100px;
    }
  }

  &__title {
    font-size: 38px;
    line-height: 1;
    margin-bottom: 20px;

    @include on-tablet {
      font-size: 62px;
    }

    @include on-desktop {
      margin-bottom: 30px;
      font-size: 80px;
      width: 90%;
    }
  }

  &__text {
    font-size: 16px;
    margin-bottom: 40px;

    @include on-tablet {
      margin-bottom: 60px;
    }

    @include on-desktop {
      width: 80%;
    }
  }
}
