.events {
  &__title {
    @include h1;

    margin-bottom: 64px;

    color: $c-black;

    @include onTablets {
      margin-bottom: 60px;
    }
  }

  &__event {
    &--1 {
      margin-bottom: 76px;

      @include onTablets {
        margin-bottom: 90px;
      }

      @include onTablets {
        margin-bottom: 60px;
      }
    }

    &--2 {
      margin-bottom: 60px;

      @include onTablets {
        margin-bottom: 80px;
      }

      @include onTablets {
        margin-bottom: 60px;
      }
    }
  }
}
