.events {
  &__title {
    @include h1;

    margin-bottom: 152px;

    color: $c-black;
  }

  &__event {
    &--1 {
      margin-bottom: 280px;
    }

    &--2 {
      margin-bottom: 200px;
    }
  }
}
