.exhibits {
  &__title {
    @include h1;

    margin-bottom: $mb-100;

    color: $c-black;
  }

  &__exhibit {
    &--1 {
      margin-bottom: $mb-224;
    }

    &--2 {
      margin-bottom: $mb-308;
    }

    &--3 {
      margin-bottom: $mb-200;
    }
  }
}
