.feature {
  position: relative;

  padding: 190px 0 160px;

  background-color: $c-green;
  color: $c-white;

  @include onTablets {
    padding-top: 120px;
  }

  @include onMobile {
    padding: 80px 0;
  }

  &__img {
    position: absolute;
    left: 0;
    bottom: 0;

    @include onTablets {
      width: 331px;
    }

    @include onMobile {
      display: none;
    }
  }

  &__title {
    @include style-1;
  }

  &__description {
    @include main-text;
  }

  &__title,
  &__description {
    margin-bottom: 60px;
  }

  &__content {
    position: relative;
    z-index: 1;
  }
}
