.feature {
  position: relative;

  padding: 190px 0 160px;

  background-color: $c-green;
  color: $c-white;

  &__img {
    position: absolute;
    left: 0;
    bottom: 0;

    @include onTablets {
      width: 331px;
    }
  }

  &__title {
    @include style-1;
  }

  &__description {
    @include main-text;
  }

  &__title,
  &__description {
    margin-bottom: $mb-60;
  }

  &__content {
    position: relative;
    z-index: 1;
  }
}
