.header {
  position: relative;

  padding: 160px 0;

  color: $c-white;

  &__nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  &__content {
    animation: slide-in-from-left #{$animation-duration * 3} ease-out;
  }

  &__date {
    @include main-text;

    margin-bottom: 10px;
  }

  &__title {
    @include style-1;

    &--1 {
      margin-bottom: 10px;
    }

    &--2 {
      margin-bottom: 40px;
    }
  }

  &__paragraph {
    @include main-text;

    margin-bottom: 60px;
  }

  &__short-date {
    @include caption-small;

    position: absolute;
    bottom: 52px;

    display: flex;
    align-items: center;

    color: $c-white-transparent;

    transition: color $animation-duration ease-in-out;

    &:hover {
      color: $c-white;
    }

    &::after {
      content: "";

      position: absolute;
      left: 100px;

      width: 500px;
      height: 1px;

      background-color: $c-white-transparent;
    }

  }

  &__short-date-text {
    flex-shrink: 0;

    user-select: none;
  }

  &__illustration {
    position: absolute;
    right: 0;
    bottom: 0;
    
    width: 660px;

    animation: slide-in-from-right #{$animation-duration * 3} ease-out;

    @include onTablets {
      width: 380px;
    }
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__illustration-caption {
    @include main-text;

    position: absolute;
    left: 487px;
    top: 386px;

    user-select: none;
  }
}
