.page {
  background-color: $c-white;

  &__body {
    overflow-x: hidden;

    &--with-menu {
      overflow-y: hidden;
    }
  }

  &__alert {
    position: fixed;
    bottom: 50px;
    right: 100px;
    z-index: 1000;

    width: 368px;
    height: 100px;
    
    visibility: hidden;
    opacity: 0;

    transition: opacity $animation-duration ease-in-out;

    &--show {
      visibility: revert;
      opacity: 1;
    }

    @include onTablets {
      bottom: 20px;
      right: 50px;
      
      width: 328px;
      height: 130px;
    }
  }

  &__btn {
    width: 100%;
  }
  
  &__short-link {
    justify-self: end;

    @include onMobile {
      justify-self: center;
    }
  }

  &__header {
    margin-bottom: 160px;

    background-color: $c-green;

    @include onTablets {
      margin-bottom: 116px;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    transform: translateY(-100%);
    z-index: 10;
    
    width: 100%;
    height: 100vh;

    &--show {
      transform: translateY(0);
    }
  }

  &__exhibits {
    margin-bottom: 260px;

    @include onTablets {
      margin-bottom: 140px;
    }

    @include onMobile {
      margin-bottom: 80px;
    }
  }

  &__events {
    margin-bottom: 184px;

    @include onTablets {
      margin-bottom: 140px;
    }

    @include onMobile {
      margin-bottom: 80px;
    }
  }

  &__feature {
    margin-bottom: 120px;
  }

  &__news {
    margin-bottom: 184px;

    @include onTablets {
      margin-bottom: 120px;
    }

    @include onMobile {
      margin-bottom: 80px;
    }
  }
}
