[class$='container'] {
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1206px;
  padding: 0 20px;

  @include tablet {
    padding: 0 39px;
  }

  @include desktop {
    padding: 0 20px;
  }
}
