.title {
  display: flex;
  justify-content: space-between;

  &__name {
    color: $black-color;
    font-family: PlayfairDisplay, sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 125%; /* 50px */

    @include tablet {
      font-size: 40px;
    }

    @include desktop {
      font-size: 48px;
    }
  }

  &__button {
    display: none;

    @include tablet {
      display: block;
    }
  }

}
