*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  font-size: 10px;
  scroll-behavior: smooth;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

body {
  position: relative;
}

main {
  background-color: #fff;
}

a,
input,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  transition: $transition-time ease-in-out;
}

picture {
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
  transition: $transition-time ease-in-out;
}

input,
textarea {
  display: block;
  width: 100%;
}

textarea {
  resize: none;
}
