body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

select {
  appearance: none;
  overflow: hidden;

  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

input,
button {
  outline: none;
  border: none;
}
