body {
  font-family: "Playfair Display", serif;
}

@mixin fontRale($fs, $fw, $lh) {
  font-family: "Raleway", serif;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin fontFair($fs, $fw, $lh) {
  font-family: "Playfair Display", serif;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}
