.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;

  @include on-tablet {
    padding-left: 39px;
    padding-right: 39px;
  }

  @include on-desktop {
    padding-left: 55px;
    padding-right: 55px;
  }
}

.container-flex {
  align-items: center;
  display: flex;
}
