main {
  font-family: Raleway, serif;
  font-size: 16px;
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  line-height: 1;
  color: $main-text-color;
}

h1 {
  font-size: 48px;

  @include on-tablet {
    font-size: 72px;
  }

  @include on-desktop {
    font-size: 96px;
  }
}

h2 {
  font-size: 38px;

  @include on-tablet {
    font-size: 62px;
  }

  @include on-desktop {
    font-size: 80px;
  }
}

h3 {
  font-size: 28px;
  line-height: 1.25;

  @include on-tablet {
    font-size: 40px;
  }

  @include on-desktop {
    font-size: 48px;
  }
}

h4 {
  font-size: 20px;
  line-height: 1.25;

  @include on-tablet {
    font-size: 24px;
  }
}

h5 {
  font-size: 20px;
  line-height: 1.5;
}

h6 {
  font-size: 14px;
  line-height: 1.25;
}

button {
  font-family: Raleway, serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}
